[2017-06-27 21:14] bgamari commented on #308
What is the equivalent to passing `WERROR=` in the old build system?

[2017-06-27 22:36] snowleopard commented on #308
@bgamari There is none at the moment. This could be implemented through `CmdLineFlag`:

https://github.com/snowleopard/hadrian/blob/master/src/CmdLineFlag.hs

The intended behaviour is not entirely clear to me. Could you open a new issue outlining what needs to be done?

[2017-06-28 03:29] bgamari opened #332 "A means to disable WERROR is needed"
Some configurations of the current build system (e.g. the validation flavour) pass `-Werror` to various toolchain components. Hadrian seems to go farther, always enabling `-Werror`. This isn't necessarily a bad thing, but it does mean that it is essential that we have a means of disabling it. For instance, I recently attempted a series of builds with Hadrian on our Tier 2 platforms and found in se

[2017-06-28 03:29] bgamari commented on #308
See #332.

[2017-06-28 08:15] snowleopard commented on #332
You can currently remove `-Werror` in the user settings file, see some docs here:

https://github.com/snowleopard/hadrian/blob/master/doc/user-settings.md#command-line-arguments

Specifically, you can do: `userArgs = remove ["-Werror"]`.

Is this sufficient, or do we really need to do this via the command line?

[2017-06-28 15:39] izgzhen commented on #177
Tried a few times but never succeeded in building GHC `target=arm-linux-gnueabi` for `ghc-8.2` on Ubuntu 16.04.2 LTS, LLVM 4.0.

Stuck:

[code]

which is similar to https://ghc.haskell.org/trac/ghc/ticket/11058

Also tried lower versions, but failed for some other confusing reasons.

@bgamari @angerman Is there any suggestion what cross-compile setup for `HEAD` ghc would be an ideal choice for ref

[2017-06-28 19:08] Ericson2314 commented on #177
@izgzhen That looks like with GCC. You need a `-marchv7-a` or similar to get at all the registers.

[2017-06-28 19:53] bgamari commented on #332
I think doing this in the user settings file is perfectly sufficient. Thanks!

[2017-06-28 19:53] #332 closed

[2017-06-28 20:22] bgamari commented on #332
One thing that might help, however, is to add a placeholder `userArgs` value in the template `UserSettings.hs`, although with a docstring.

[2017-06-29 00:11] izgzhen commented on #177
Added a `-optc-march=armv7-a` but its doesn't really work.
[code]

Tried adding `-optc-marm` as well, not working in the same way.

If I add `-optc-march=armv7`, the error is different:

[code]

[2017-06-29 00:21] Ericson2314 commented on #177
@izgzhen so I was working with Nix, and I just modified the shell script wrapping gcc to include the flag. I think the key difference here is that made sure that the flag always got to the gcc targeting the target platform, and never to the "build cc" gcc targeting the host platform. My guess is your second error is that latter gcc being confused.

[2017-06-29 01:19] izgzhen commented on #177
Hmm...so you wrapped `<target>-gcc` with additional `-m` flag?

But this doesn't quite work for me. I think my `ghc-stage1` did invoke the right `<target>-gcc` with `-march=armv7` added, but still it said:

[code]

[2017-06-29 01:50] Ericson2314 commented on #177
Odd. Perhaps your tool chain actually was built targeting different 32-bit arm variant?

[2017-06-29 08:28] izgzhen commented on #177
Aha, I found it. Grepping give me `("target arch", "ArchARM {armISA = ARMv5, armISAExt = [], armABI = SOFT}"),` in `settings`, so I tried `-march=armv5`, `-march=armv5e`, `-march=armv5t` and `-march=armv5te` (info from `<target>-gcc --help=target`. The last one works.

[2017-06-29 08:30] izgzhen commented on #177
I have no idea why my `arm-linux-gnueabi-gcc-4.7` choose this though..

[2017-06-29 14:11] Ericson2314 commented on #177
Try putting armv7a (no dash now) in the triple.

[2017-06-29 23:50] izgzhen commented on #177
Still not working: I added several wrapper like below:

[code]

and `./configure --target=armv7a-linux-gnueabi --with-ld=arm-linux-gnueabi-gcc-ld --with-ld.gold=arm-linux-gnueabi-ld.gold --with-nm=arm-linux-gnueabi-nm --with-ar=arm-linux-gnueabi-ar --with-ranlib=arm-linux-gnueabi-ranlib`. But compiling the RTS again gives me error:

[code]

[2017-06-30 02:12] bgamari opened #333 "Hadrian appears not to respect configure options"
For instance, when you pass `--with-curses-libraries` to `configure`, the appropriate flag is not propagated to `terminfo`'s `configure` script.

[2017-06-30 02:28] bgamari commented on #333
Actually, it looks like the issue is just the `curses` logic missing. I've added it to #331.

[2017-06-30 17:21] izgzhen commented on #177
Solved the `vldmia` ... adding `-mfloat-abi=hard` can solve this since somehow my `settings` showed that

[code]

And according to [GCC ARM options](https://gcc.gnu.org/onlinedocs/gcc/ARM-Options.html):

[2017-06-30 17:34] izgzhen commented on #177
I believe the previously failed `*.s` is generated -- then since before that `ARM_ABI` is `SOFT`, why a non-supported instruction is generated?

[2017-06-30 17:45] #330 closed

[2017-06-30 18:00] snowleopard commented on #333
With #331 merged this can now be closed, I think. Please reopen if need be.

[2017-06-30 18:00] #333 closed

[2017-06-30 18:16] bgamari commented on #177
I suspect you need to instead pass `--target=armv7a-linux-gnueabihf`. Note the "hf" at the end; it stands for "hard float".

[2017-07-03 06:44] izgzhen commented on #326
Ping back: https://github.com/snowleopard/hadrian/blob/master/doc/flavours.md

[2017-07-03 06:44] izgzhen opened #337 "Implement Stage1Only"
I think we probably don't have this feature and we need it to support #177.

Except for the control switch, we also need to know what can be built at stage0 and what can't (will `latestBuildStage` cover this? @snowleopard ?)

[2017-07-03 06:46] izgzhen commented on #337
How will this feature interact with https://github.com/snowleopard/hadrian/issues/250?

[2017-07-03 08:53] izgzhen commented on #337
Some notes:

[code]

[2017-07-03 09:08] snowleopard commented on #337
@izgzhen When I was looking into this feature, I thought that we could simply build Stage1 GHC in a phony `stage1only` build rule, i.e. `"stage1only" ~> needBuilder $ Ghc CompileHs Stage1`.

Do you think this is sufficient?

I think if the user requests both to build only stage 1 GHC and to skip all stage 1 build rules, then nothing should be rebuilt.

[2017-07-03 09:16] snowleopard commented on #326
@izgzhen By the way, I think all flavours except for `quickest` now build `dynamic` ways, so we should update the above link.

[2017-07-03 09:40] izgzhen commented on #337
Maybe not. What about other binary utils built in stage0? I think I can conduct a comparative experiment to show what is needed.

[2017-07-03 09:44] snowleopard commented on #337
All utils that are required for building stage1 GHC (such as `ghc-pkg`) will be built transitively.

👍

[2017-07-03 17:14] izgzhen opened #339 "Missing binaries: count_lines, mkdirhier"
I found `count_lines`, `mkdirhier` in my latest building of GHC using the old build system.

[2017-07-03 22:09] snowleopard commented on #339
These seem to be not needed in Hadrian, where we can easily implement the functionality in Haskell. So I never bothered to build these builders. Do you think we might actually need them?

[2017-07-04 06:23] izgzhen commented on #339
I don't think we need them if so. Let's close this issue.

[2017-07-04 06:23] #339 closed

[2017-07-04 09:10] izgzhen commented on #323
You are right. https://github.com/snowleopard/hadrian/pull/324/files#diff-45a7c66674522c7b9766837ed6d63e30R29 can stop that, but it is ad-hoc. I still don't know when/why `<pkg>.haddock` gets modified.

[2017-07-04 12:57] izgzhen opened #341 "Implement DynamicGhcPrograms"
Relevant wiki:

https://ghc.haskell.org/trac/ghc/wiki/DynamicGhcPrograms
https://ghc.haskell.org/trac/ghc/wiki/DynamicLinkingDebate
https://ghc.haskell.org/trac/ghc/wiki/DynamicByDefault

Relavent Issue: #4

[2017-07-04 12:57] izgzhen commented on #4
Is now the time to close this since I opened another issue https://github.com/snowleopard/hadrian/issues/341?

[2017-07-04 13:00] izgzhen commented on #341
Opps ... I forgot we already have #248, sorry

[2017-07-04 13:00] #341 closed

[2017-07-04 17:40] snowleopard commented on #4
@izgzhen What about dynamic way on Windows? We could perhaps open a new Windows-specific issue.

[2017-07-04 17:45] izgzhen commented on #4
Oh, right. I almost forget this. I think it is a good idea, since I might not be able to track this platform closely in near term, so a fresh place for us to discuss the specifics sounds appealing.

[2017-07-04 17:52] snowleopard commented on #4
Sounds good. I'll create a new issue.

[2017-07-04 17:52] #4 closed

[2017-07-04 17:57] snowleopard opened #343 "Implement dynamic way on Windows"
Thanks to @izgzhen we now have dynamic way working on Linux and OSX (#4). But Windows is still not supported. We'll track the progress here.

Presumably this is not high priority; do let me know otherwise.

There is some ongoing work in GHC on dynamic linking for Windows: https://phabricator.haskell.org/D2592

[2017-07-05 17:08] izgzhen opened #344 "Tracking installation of built artifacts"
Current implementation of `install` phony target mimics how legacy system handles this: just make more phony targets and install things repetitively, i.e. **no dependency tracking**. So we always copy stuff to the destination, no matter whether this might a waste.

Also, as in https://github.com/snowleopard/hadrian/pull/342, we can leverage on Shake's builtin dependency tracking to install package

[2017-07-06 06:11] #337 closed

[2017-07-07 01:30] izgzhen opened #345 "Fix install rule on Windows platform"
When #312 is merged, OS X and Linux tests are good, but we are yet not sure whether it will work on Windows.

[2017-07-07 01:40] bgamari opened #346 "Use parallel build for stage0 compilation"
Currently the stage0 compilation consists of a single `ghc` process in `--make` mode churning through around 200 modules. This leads to a rather long duration of serial compilation at the outset of a build. At this point I believe we can safely assume that the stage0 ghc supports `-j` and therefore we should be able to add this to the stage0 compiler options.

[2017-07-07 01:50] bgamari opened #347 "Better organize source tree to separate policy from mechanism"
Looking through the source tree (especially at the top level) it can be rather hard to sort out at first glance what files are defining general mechanisms (e.g. `Target`, `Expression`, `Way`, `Stage`, `Builder`, etc.) and which are defining specific details of the build process. It would be nice if this were more evident from the source layout.

[2017-07-07 01:55] izgzhen opened #348 "Setup a status site"
While the per-commit CI is necessary to show that this project works, it is not sufficient to persuade people to switch over. I think we need a site that tracks the *status* of our project, aiming at

1. Showcase the capability of Hadrian
2. Help us better track of breaking changes
3. Attracting more people to use and contribute to this project

I think it should have the following features:

1. C

[2017-07-07 02:42] bgamari commented on #177
Being curious, I just tried `./configure --target=arm7-linux-gnueabihf; hadrian` on GHC HEAD. It managed to build the `ghc` library but ultimately failed with,
[code]
It sounds like `ranlib` was never run on the `libHSghc` static archive.

[2017-07-07 03:38] bgamari opened #349 "Using CC to build C sources complicates cross-compilation"
While testing cross compilation (#177) I encountered a failure wherein a stage0 C source file would fail to build,
[code]

The problem here is that we are using the host's `gcc` with a hand-crafted set of include-paths to compile this file, whereas the old `make` build system would use the stage0 ghc,
[code]

I believe what is happening here is that Hadrian gets the include path wrong, meaning tha

[2017-07-07 03:45] bgamari commented on #349
Indeed changing `Rules.Compile` to use `Ghc CompileHs` instead of `Cc CompileC` appears to resolve the issue (except for some errors during dependency generation, although this makes sense as I didn't fix the dependency generation rules).

[2017-07-07 03:57] bgamari opened #350 "Hadrian uses wrong ar to build stage0 static archives"
While cross-compiling, Hadrian uses the target's `ar` to build stage0 static archives. These archives target the host and therefore should be generated using the host's ar. This causes this failure,
[code]

[2017-07-07 04:01] bgamari commented on #350
To fix this I would suggest introduce a type,
[code]
and then adding a field of this type to the `Ar` constructor. The `ar` used by stage0 can be determined via looking at the `AR_STAGE0` configure key.

[2017-07-07 04:12] bgamari commented on #177
The above wasn't actually caused by a missing `ranlib` run; we use `ar q` to construct the archive and therefore generally don't need to run `ranlib`. Instead, this was caused by the wrong `ar` being used. See #350.

[2017-07-07 09:25] izgzhen commented on #348
I set up a t2-medium instance on AWS EC2, and the source is in https://github.com/izgzhen/hadrian-www (under development)

[2017-07-07 10:12] snowleopard commented on #348
Great idea, we definitely need this.

P.S.: I'm travelling all day today, so my responses will be slow. But I'm finally getting back home after a month-long trip, so should get some time for hacking!

[2017-07-07 21:59] Ericson2314 commented on #177
This applies to both build systems alike, but I now understand there are `<TOOL>_FOR_TARGET` semi-standard macros for autoconf, which could help disentangle things?

[2017-07-08 04:03] izgzhen opened #354 "Why "Hadrian"?"
Out of pure curiosity, I wonder why it is called "Hadrian", and what is the motivation of changing from "Shaking-Up-GHC" to this one.

[2017-07-08 10:25] snowleopard commented on #345
Thanks, I'll take care of this.

[2017-07-08 10:38] snowleopard commented on #347
Thanks! Indeed, I'd like to do this before The Merge, so that users don't need to re-learn the source tree.

Do you have any advice on the best tree structure?

I think we should have two separate directories: one for the generic build infrastructure (expressions, etc.), and one for GHC specifics (build rules, command line templates, etc.).

One possible structure:

* `Context` and `Expression` mo

[2017-07-08 10:40] snowleopard commented on #347
Some of the command line templates, e.g. 'building a C object' could also be pulled into `Hadrian.*`, because they are GHC-independent and may be reused.

[2017-07-08 10:48] snowleopard commented on #349
My hope was to get rid of the magic built into the GHC, hence I was trying to build C files directly.

However, I agree that it may be best to stick to how the Make build system works.

@bgamari Could you take care of this issue? I don't know much about subtleties of cross compilation.

[2017-07-08 10:57] snowleopard commented on #350
@bgamari Thanks for spotting this and for coming fix!

[2017-07-08 11:19] snowleopard commented on #354
Hadrian (https://en.wikipedia.org/wiki/Hadrian) participated in a lot of large-scale construction projects, such as Pantheon in Rome and Hadrian's Wall in the UK. The latter starts in Newcastle, where I live, hence the name :-)

[2017-07-08 13:06] snowleopard commented on #354
(And "Shaking-up-GHC" was a bit awkward as a project name, Hadrian is shorter and easier to use.)

[2017-07-08 14:47] izgzhen opened #355 "Warning at the end of a build `*.o`: openFile: does not exist"
I've encountered several times that after a `build` has finish, there would be (for example):

[code]

And the weird thing is that this phenomenon happens intermittently (not persistent across every build), randomly (some `.o`), and innocent (checking the `*.o` will show that it is indeed built, and if you run `build` again, that last line will be gone).

[2017-07-08 17:49] snowleopard commented on #355
I believe this is a duplicate of #291.

Seems to be a Shake bug, which I reported here: https://github.com/ndmitchell/shake/issues/496.

[2017-07-08 17:49] #355 closed

[2017-07-09 11:48] izgzhen commented on #354
Thanks for the explanation and it is fantastic :) So now it would be easier to answer when people ask me why that project is named that way. I'll close it for now.

[2017-07-09 11:48] #354 closed

[2017-07-09 16:39] izgzhen commented on #349
This is an interesting finding. I am looking into cross-compilation as well, so I'll keep track of this issue at the same time :)

[2017-07-10 14:28] izgzhen commented on #349
The changes below can pass the compilation:

[code]

I didn't delete the `Cc`'s duplicated arguments because `Cc FindCDependencies` also need them.

[2017-07-10 15:29] snowleopard commented on #349
@izgzhen In the above code, you probably want to say `builder (Ghc CompileC)` instead of `builder Ghc` and `builder (Ghc CompileHs)`? That is, we probably need to add a new mode `CompileC` into `GhcMode`.

[2017-07-10 16:10] bgamari commented on #346
It turns out that Hadrian already does this. See#351.

[2017-07-10 16:10] #346 closed

[2017-07-10 16:36] bgamari commented on #347
Andrey Mokhov <notifications@github.com> writes:

This sounds like a reasonable structure to me. Of course, as you point
out, the line between the `GHC.` and `Hadrian.` namespaces may be a bit
blurry at times, but it sounds like a nice ideal to strive towards.

Cheers,

- Ben

[2017-07-10 16:41] snowleopard commented on #347
@bgamari Thanks, I'll give it a try.

[2017-07-10 17:40] #350 closed

[2017-07-11 12:49] izgzhen opened #358 "Should "build test" need depended binaries explicitly?"
This is a failed log of running `./build.sh test` directly without `./build.sh` beforehand: http://hadrian-status-dev.zhenzhang.me:3000/logs/2017-07-10T14%3A45%3A36.503688%25test%2595.1411631107%25failure.err.log.

My guess is that `test` target doesn't `need` things like `haddock` and alike. Is it true? Should we let `test` track them as well?

[2017-07-11 16:35] snowleopard commented on #358
I'm confused by the log -- I don't see any build failure.

However, I agree that the `test` target should `need` all required executables. One shouldn't need to run `build` beforehand, so this is a bug.

[2017-07-11 16:37] izgzhen commented on #358
This last line is the indication of failure, as I find.

[2017-07-11 16:43] snowleopard commented on #358
Ah, I missed it.

This actually looks like a bug in the `programPath` function. I think if we tried to use a builder which wasn't yet built, Hadrian would do the right thing -- build it first.

[2017-07-11 17:09] snowleopard commented on #358
By the way, I fixed all compilation warnings in the above commit, so they don't confuse me again.

[2017-07-12 15:20] izgzhen commented on #349
Sure, will do later

[2017-07-12 15:24] izgzhen commented on #349
The current problem is, after stage0 completed with above patch, we need to build some stage1 packages, and Hadrian errors here:

[code]

[2017-07-12 15:25] izgzhen commented on #349
I checked the old system's way of building, in this case, `Hash.o`, it is:

[code]

However, if I run the same command in Hadrian's tree, it will output the same error.

[2017-07-12 15:41] snowleopard commented on #349
This means the difference is in the environment -- perhaps, we have a bug in one of the generated C headers? There is a lot of CPP and incorrect settings in headers may break CPP conditionals.

[2017-07-12 15:50] izgzhen opened #359 "Need ghc-stage2 directly will fail"
[code]

[2017-07-12 17:11] izgzhen commented on #358
It looks like:

1. I can `need [ compiler, ghcPkg ]`
2. If I `need [ haddock ]`, then same error: "hadrian: Haddock is never built by Hadrian.". I searched a bit and it is because I didn't pass "--haddock" argument to `build`, so haddock is not part of stage2packages, so even `need` it directly will cause error:

[code]

Now I made a small workaround: deleting the line https://github.com/snowleopa

[2017-07-12 17:11] izgzhen commented on #358
I think the upstream has updated the python driver code. I will take a look at it later

[2017-07-12 17:12] izgzhen commented on #358
(Ugh, again it is proven that we do need a comprehensive CI!)

[2017-07-12 17:24] izgzhen commented on #354
Realizing that my comprehensive nightly CI might be a nontrivial endeavor, I am thinking about renaming it to Hadrian's Wall ;)

[2017-07-12 19:04] bgamari commented on #358
Zhen Zhang <notifications@github.com> writes:

For the record, I am currently working on moving GHC's CI to Jenkins. I
could start introducing Hadrian support while I am at it if this would
be helpful.

[2017-07-12 19:23] ndmitchell commented on #358
For info, generally flags like `--haddock` should cause `want` statements to appear/disappear and nothing more - that way `need` always works.

[2017-07-12 23:02] snowleopard commented on #359
Ouch. I think this used to work -- at some point I was using this target on CI. Thanks for reporting!

[2017-07-12 23:03] snowleopard commented on #354
Sounds great :-) Let's build this wall out of shiny green bricks!

[2017-07-12 23:08] snowleopard commented on #358
I agree with @ndmitchell, and I think we're actually doing more than simply disabling the corresponding `want`. I think we also remove Haddock from the list of 'active' packages, which probably prevents it from being discovered as an existing builder.

[2017-07-13 00:47] izgzhen commented on #358
Oh right, I should probably use Jenkins instead of inventing my own wheels

[2017-07-13 12:23] izgzhen opened #360 "Support fasttest and slowtest"
https://ghc.haskell.org/trac/ghc/wiki/Building/RunningTests/Running

[2017-07-13 13:21] izgzhen opened #361 "build test failed because of python subprocess "Permission denied""
Part of a dump:

[code]

I think, basically, `test` target is broken now. I still remembered that once upon a time it was running smoothly (like 3 months ago maybe?), but it looks like upstream has changed a lot since then.

[2017-07-13 19:26] snowleopard commented on #361
I haven't tried the `test` target for some time, because I though we could rely on the `validate` target at first.

@bgamari Will Make-based `validate` be sufficient as a start?

[2017-07-14 00:26] izgzhen commented on #349
Probably. Although I failed to extract compile-time information about the exact size of `StgWord` and `W_`,  I manually modified `includes/stg/Types.h` and `includes/Cmm.h`. It looks like the warnings about size incompatibility disappeared, but now there will be seemly random core dump:

[code]

By random, I mean the `_build/stage1/rts/c/ClosureFlags.o` here can be another `*.o` in RTS.

[2017-07-15 13:20] izgzhen commented on #322
https://circleci.com/gh/izgzhen/hadrian/43 (not sure it is publicly viewable...)

I've successfully built hadrian with CircleCI OS X. I applied for their OSS seed plan two weeks ago, and it looks like their service is less likely to time out than Travis's.

@snowleopard What's your idea?

[2017-07-15 13:37] snowleopard commented on #322
@izgzhen Nice! Looks like it's pretty fast. But as far as I see it's not free (beyond the two-week trial).

[2017-07-15 14:41] izgzhen commented on #322
I applied a special program for Open Source project, we can use the Seed
Plan for free.

On Sat, 15 Jul 2017 at 9:37 PM, Andrey Mokhov <notifications@github.com>
wrote:

[2017-07-15 14:57] snowleopard commented on #322
If we can use it for free then sure, let's add another CI integration to Hadrian!

[2017-07-16 09:21] izgzhen commented on #326
Something suddenly hit my mind -- maybe we can provide a `blazing` or whatever that compiles _as least packages as possible_ in the stage1. For example, do we need to build `haskeline` to development the build system itself? etc.

[2017-07-16 12:28] izgzhen commented on #105
What is the story of `iserv-bin`? It looks relevant to RemoteGHCi, but I can't find much information regarding how to use it, and neither can I build it in a standard Make system.

[2017-07-16 12:29] izgzhen commented on #105
It looks like we need `dynamic` to use this, which we already have, so I am thinking about testing it.

[2017-07-16 13:04] izgzhen opened #366 "build validate on Linux failed in lack of `test spaces/hsc2hs`"
[code]

stderr log: http://hadrian-status-dev.zhenzhang.me:3000/logs/2017-07-16T12%3A04%3A49.765572%25validate%252139.31077409%25failure.err.log

The weird thing is that the validation works fine on my Mac.

[2017-07-16 16:56] snowleopard commented on #326
I think `quickest` already does that. Note: `ghc-bin` depends on `haskeline` (see the `ghc/ghc-bin.cabal` file).

[2017-07-16 21:16] snowleopard commented on #105
@izgzhen Yes, please go ahead. Hopefully we can now resolve this.

[2017-07-16 21:24] snowleopard commented on #366
So, presumably this has something to do with paths containing spaces. One possible test is install GHC into a directory whose name contains spaces. I'll try to do on Windows, as part of #345.

[2017-07-16 23:09] snowleopard commented on #345
I've tried installing on Windows and got the following error:
[code]

Executing the command locally works fine, but for some reason it doesn't work from Shake.

[2017-07-16 23:59] snowleopard commented on #345
This could be because the `install-dir` setting on my machine is `/usr/bin/install -c -m 755 -d` and the spaces screw up things.

@izgzhen What is this setting equal to on your machine?

[2017-07-17 00:15] izgzhen commented on #345
on my Mac:

[code]

[2017-07-17 00:16] izgzhen commented on #345
Shouldn't autoconf figure out a correct `@INSTALL` automatically?

[2017-07-17 00:29] snowleopard commented on #345
@izgzhen I fixed the issue in the above commit -- paths on Windows require special attention.

I now hit the following:

[code]

Will try to figure it out tomorrow.

[2017-07-17 00:31] izgzhen commented on #345
I guess `renameFile` is something Windows specific, similar to `mv`...

[2017-07-17 00:37] snowleopard commented on #345
Actually, the above fixes it -- we use the same trick in `moveDirectory`.

Now the install stops here:

[code]

[2017-07-17 00:49] izgzhen commented on #345
https://github.com/snowleopard/hadrian/blob/master/src/Rules/Install.hs#L76

that might be relevant. What is in `inplaceLibBinPath` in the Windows case?

[2017-07-17 00:56] snowleopard commented on #345
It's not platform-dependent:

https://github.com/snowleopard/hadrian/blob/master/src/Settings/Path.hs#L53

By the way, the file in question (`ghc-8.3.20170713.exe`) is nowhere to be found on my machine.

[2017-07-17 01:00] izgzhen commented on #345
I mean, the binaries inside that directory can be named differently. I have
the impression that windows version doesn't append a version number, so
this ghc.exe is directly copied to the lib/bin and a wrapper in bin, no
symlink needed.

On Mon, 17 Jul 2017 at 8:56 AM, Andrey Mokhov <notifications@github.com>
wrote:

[2017-07-17 01:09] snowleopard commented on #345
Ah, sorry, I misread your comment. Here is the contents of `inplace/lib/bin` on my machine after a successful build:
[code]

[2017-07-17 01:44] izgzhen commented on #345
Oh ... maybe I am asking a non-relavent question.

[code]

Also, the most possible source of `/home/nam83/test-install/usr/local/bin/ghc-8.3.20170713.exe: openFile: does not exist (No such file or directory)` should be https://github.com/snowleopard/hadrian/blob/master/src/Rules/Install.hs#L113-L114, I guess. Although I don't know that `writeFileChanged` could even fail.

[2017-07-17 11:32] snowleopard commented on #345
We are not using wrappers on Windows, but the above code seems to be unconditional -- I guess, this is the reason?

[2017-07-17 15:09] izgzhen commented on #105
These are what might be relevant in `inplace/lib/bin` in a recent Make built GHC:

[code]

Nothing like `iserv-bin` is found in `inplace/bin`.

After checking out https://github.com/ghc/ghc/blob/master/iserv/ghc.mk, it looks like they don't build a wrapper at all.

[2017-07-17 15:13] izgzhen commented on #105
Nope, the ones not ending with `.bin` are wrappers. I previously assumed that everything in `lib/bin` are binaries...

[2017-07-17 17:42] izgzhen commented on #345
Okay, the fix should be simple: just need to add another condition on `windowsHost` and copy stuff directly from `lib/bin` to `bin`

[2017-07-17 18:23] snowleopard commented on #345
Sorry, I don't think I follow. How will the code look?

[2017-07-17 18:31] izgzhen commented on #345
Like:

[code]

[2017-07-17 18:33] snowleopard commented on #345
Thanks, will give it a try tonight!

[2017-07-17 23:17] snowleopard commented on #345
@izgzhen After digging a bit more, the `install` rule now finishes successfully on my Windows machine 🎉

However, the built GHC does not work. If I run `ghc -e 1+2` from `lib/bin` I get this:
[code]

And if I run it from `bin` I get this:
[code]

Do you have any ideas on how to fix this? Does installed GHC work correctly on your machine?

[2017-07-18 00:25] snowleopard commented on #345
Oh, I think the Windows build is broken on my machine. Same errors occur if I run GHC from `inplace/lib`.

[2017-07-18 01:12] snowleopard commented on #345
False alarm: after a clean rebuild by GHC binary works. Not sure what's going on with the installed version...

[2017-07-18 01:22] izgzhen commented on #345
I don't actually know about this error...but shouldn't it be `ghc-stage2.exe`?

Normally this is caused by packages not registered properly. I sometimes will walk through the steps in  `installPackages` manually to verify this.

I will check out the code again and hopefully can provide some advice. Also, I think the best way to debug this is to compare with what the old system would produce, since

[2017-07-18 02:26] izgzhen commented on #345
One spot that might matter: https://github.com/ghc/ghc/blob/master/ghc.mk#L923-L933

[2017-07-18 11:45] izgzhen commented on #322
It looks like new CI works pretty well, may we close this issue now?

[2017-07-18 11:45] izgzhen commented on #323
It is fixed now.

[2017-07-18 11:45] #323 closed

[2017-07-18 12:37] izgzhen opened #368 "Meta-issue on using GitHub's Project feature"
As you might notice, I created two "project"s, [GHC Merge](https://github.com/snowleopard/hadrian/projects/1) and [GHC Transcendence](https://github.com/snowleopard/hadrian/projects/2), and added something into it. I think it will be useful to help us track how far we might be from different milestones, since relevant issues & PRs & notes can be put together.

This issue will be used to discuss ho

[2017-07-18 12:41] izgzhen commented on #322
Also, what do you think about switching off Travis's OS X build? It might be misleading if there is an error on the badge, although leaving it there can let us know when OS X is well supported again on Travis ASAP.

[2017-07-18 12:54] izgzhen commented on #255
@snowleopard What do you think about the urgency of this before merging with GHC?

[2017-07-18 13:04] izgzhen commented on #238
Does this still happened now? Looks like AppVeyor is always happy

[2017-07-18 14:56] snowleopard commented on #255
@izgzhen It's hard for me to judge. Personally, I think it's not that hard to rename one line in a script, but I can how this can be tedious if there are hundreds of such scripts.

Perhaps @bgamari can comment?

[2017-07-18 15:12] #105 closed

[2017-07-18 15:16] snowleopard commented on #368
Thanks, that's very useful, especially for people who'd like to contribute! It may be quite hard to keep these project pages up-to-date though.

[2017-07-18 15:17] snowleopard commented on #368
Aha, I haven't realised that one can actually assign a particular issue to a project, just like adding a label. I'll try to remember doing that.

[2017-07-18 15:30] snowleopard commented on #322
Yes, it looks like CircleCI is working well.

I'm thinking that perhaps we could repurpose the Travis OS X build for building, say, only `ghc-stage1` with a different bootstrapping compiler? Or, if GHC 8.0 is faster, perhaps we could even afford the full build?

[2017-07-18 15:32] snowleopard commented on #238
I haven't seen this happen for a while. However, let's keep this open until I at least address some of the points raised above, i.e. the `removeFile` being so far from the `ar` command. I'll try to do this soon.

[2017-07-18 15:36] snowleopard commented on #345
Hmm, on my machine I get `ghc.exe` after install, not `ghc-stage2.exe`. Do you think it matters?

[2017-07-18 17:11] izgzhen commented on #322
Good point, I'll try it later;

[2017-07-18 17:13] izgzhen commented on #368
Yes, the thing quite cool is that the issue is put into "waiting for triage" state, and we can clean things up a bit sometime later in batch.

[2017-07-18 17:17] izgzhen commented on #345
It matter only in the error msg as in the link above, but probably not relevant to the malfunctioning of installed bin,  I think.

[2017-07-18 17:54] izgzhen commented on #348
@snowleopard Can you add a CRON job in the Travis CI config page (also maybe other CIs if there is such a thing)? So I can save up my own machine's time by focusing on building other (longer) flavors.

[2017-07-18 23:29] snowleopard commented on #348
@izgzhen This has already been done as part of #306 for both Travis and AppVeyor. Couldn't find this on CircleCI though.

[2017-07-18 23:33] snowleopard commented on #368
Great, I've added a link to the projects webpage to the README:

https://github.com/snowleopard/hadrian/commit/4bdc4a4747801dba02d755ce08d356d81ede18a3

[2017-07-19 00:09] snowleopard commented on #345
So, I made an experiment:
* Build GHC
* Run `inplace/bin/ghc-stage2.exe -e 1+2` -- works fine.
* Copy the binary to `..` and run `inplace/ghc-stage2.exe -e 1+2` -- fails with "Can't decompose..." error.

Is this expected? My guess is that something similar is happening during the installation rule on Windows.

[2017-07-19 00:29] snowleopard commented on #238
OK, done. Let me close this issue for now, because I haven't seen this failure for a long time.

[2017-07-19 00:29] #238 closed

[2017-07-19 01:12] izgzhen commented on #345
I can't reproduce that on my machine (actually it is the first time I heard of "Can't decompose..."). I found this https://ghc.haskell.org/trac/ghc/ticket/11759 though.

[2017-07-19 12:50] snowleopard commented on #345
@izgzhen Thanks! I found the following in the ticket which seems important:

One of these is that ghc be in a folder named `bin` and that `../lib` exists.

So I shouldn't run GHC from `test-install\usr\local\lib\bin`, but only from `test-install\usr\local\bin`.

This leaves us with this error:
[code]

[2017-07-19 12:52] snowleopard commented on #345
If I look at `base-4.10.0.0.conf` I see:
[code]
It looks like these unresolved `$topdir` variables could be the issue.

[2017-07-19 14:44] izgzhen commented on #345
This is my [base-4.10.0.0.conf](https://gist.github.com/izgzhen/000a8a929af8ac287f54b20deae6ecbf).

$topdir should be passed in from https://github.com/snowleopard/hadrian/blob/master/src/Rules/Install.hs#L243.

[2017-07-19 14:49] ggreif opened #371 "Acknowledge Zhen Zhang's work"
in the `Readme` page.

[2017-07-19 15:17] #371 closed

[2017-07-19 15:18] snowleopard commented on #371
@ggreif Thank you, done!

[2017-07-19 19:19] snowleopard commented on #345
I found that Windows installation is always relocatable:

https://ghc.haskell.org/trac/ghc/wiki/Building/Installing#HowGHCfindsitsfiles

This probably means that `$topdir` is supposed to be there, as otherwise the installation won't be relocatable. So I think the problem is somewhere else.

[2017-07-19 23:54] snowleopard opened #373 "Test the install rule"
While working on #345 I risk accidentally breaking the install rule on Linux/Mac OS X.

Our CI instances seem to be fast enough to afford running the install rule after the test build, and then testing the installed binary.

[2017-07-20 17:14] #359 closed

[2017-07-21 00:40] bgamari commented on #361
@snowleopard I think we can make due with that for now.

[2017-07-21 07:55] izgzhen opened #374 "install with --haddock on complains that _build/stage1/rts/libCffi_thr.a doesn't exist"
First `build --haddock`, then `build install`, it will result in the following error msg:

[code]

[2017-07-21 07:58] izgzhen commented on #374
The `_build/stage1/rts` folder in Hadrian after `build --haddock`:

[code]

In Make-based system after `make HADDOCK_DOCS=YES` (part of):

[code]

[2017-07-21 09:55] snowleopard commented on #374
Yes, I've seen this failure. Thanks for documenting it!

[2017-07-23 03:13] izgzhen commented on #322
Let's close it for now?

[2017-07-23 10:46] snowleopard commented on #322
@izgzhen Yes, I think our current CI support is quite good. Thanks!

[2017-07-23 10:46] #322 closed

[2017-07-23 12:17] izgzhen opened #376 "Eliminate explicit filepaths in "need""
For example,  `need ["inplace/bin/hp2ps"]` is not maintainable.

I am willing to mentor if anyone would like to contribute.

[2017-07-23 16:37] izgzhen opened #377 "Use command line flags to control verbose commands and DESTDIR"
- https://github.com/snowleopard/hadrian/blob/master/doc/user-settings.md#verbose-command-lines
- https://github.com/snowleopard/hadrian/blob/master/src/Settings.hs#L129

We need to be able to:

[code]

and

[code]

[2017-07-23 18:12] snowleopard commented on #377
Why environment variables and not command line flags? We have a good infrastructure for adding new flags, and adding `--dest-dir` or `--verbose` shouldn't be difficult.

By the way, regarding the verbosity setting: I think could just jump on Shake's `Verbosity`:

https://hackage.haskell.org/package/shake-0.15.11/docs/Development-Shake.html#t:Verbosity

[2017-07-24 01:25] izgzhen commented on #377
I was thinking about `make` system, where they are passed in as env. But cmd line args look handy enough to use as well.

Do you mean that we can pass in this verbose level directly?

[2017-07-24 01:40] snowleopard commented on #377
I think the answer is Yes. Shake already has support for verbosity, for example, here is what `build --help` shows (among other things):
[code]
This setting, I believe, is available as `getVerbosity`.

By the way, the following two settings are also supported by Hadrian:
[code]

[2017-07-26 00:38] izgzhen opened #379 "Implement install_docs in install rule"
This is blocked on #246.

[2017-07-26 19:58] snowleopard commented on #345
If I run `install` using the Make build system and I get exactly the same error. Not sure what to do now.

By the way, the installation result is quite different. I attached what I get with Make and Hadrian.

@izgzhen I think I'm stuck here, we need someone who better understands the installation process and requirements on Windows.

[make.txt](https://github.com/snowleopard/hadrian/files/1177881/

[2017-07-27 02:08] izgzhen commented on #345
Comparing the make system's output in Window and OS X, I found several major differences:

1. Window's one has a `msys` thing, which contains all documentation files and library object files. On OS X and Linux, it is in the same tree as *others* (bin etc.)
2. Windows's bin directory has `ghc` etc., no symbolic, both versioned and non-versioned, while in `lib/bin` there is no `ghc.exe` etc, but onl

[2017-07-27 23:02] snowleopard commented on #345
Aha, Make install worked after I dropped the `DEST_DIR` parameter, so I guess I'm not supposed to mess with this settings on Windows...

I rerun Hadrian install with `defaultDestDir = ""` and got a very strange error:
[code]

Note that the folder does exist and is non-empty:
[code]

[2017-07-28 08:09] izgzhen opened #381 "Rethink hadrian/cfg"

[2017-07-28 13:10] snowleopard commented on #381
I think it was a mistake for me to commit it so prematurely, so we can drop it for now.

Here is a relevant TODO: https://github.com/snowleopard/hadrian/blob/master/src/Rules/Generators/GhcAutoconfH.hs#L9-L11

At the moment we are using the file from the Make build system `mk/config.h`, which is generated by Autoconf, but we should change this at some point and generate a file in `hadrian/cfg` ins

[2017-07-28 18:59] bgamari opened #382 "genPrimOpCode output gets blurted to stdout"
I just tried running `hadrian sdist-ghc` and found that this command and several others like it blurted a massive amount of output presumably destined for various generated files to stdout (or perhaps stderr, it's unclear):
[code]

[2017-07-28 19:40] snowleopard commented on #382
Oh, I think I screwed up in a recent refactoring. This line is most probably to blame:

https://github.com/snowleopard/hadrian/blob/master/src/Util.hs#L79

I think the `cmdEcho` shouldn't be there.

@bgamari Can you check if this helps? Thanks!

[2017-07-28 20:21] bgamari commented on #382
Indeed that seems to have helped!

[2017-07-28 20:41] bgamari opened #383 "sdist-ghc builds more than necessary"
In the `make`-based build system `make sdist` finishes in around two minutes on my machine, with most of the time being spent compressing the final source tarball. Afterall, all it does is copy the source files into `sdistprep`.

However, Hadrian seems to want to build a stage1 compiler as well.

[2017-07-28 21:23] snowleopard commented on #382
@bgamari Thanks, this should be fixed now.

[2017-07-28 21:23] #382 closed

[2017-07-28 21:27] snowleopard commented on #383
I've just tried this on Windows.

The `sdist-ghc` rule runs the `boot` and `configure` scripts and than copies the file, painfully reporting about each one on the screen. Then it does the archiving.

I don't think it builds stage1 compiler or anything else, the only problem is excessive amount of output information. This should be easy to fix.

[2017-07-28 21:35] snowleopard commented on #383
With `--progress-info=none` the rule runs slightly faster (5:08m compared to 6:41m), but it's still rather slow.

Could the reason be file-by-file copying?

https://github.com/snowleopard/hadrian/blob/master/src/Util.hs#L144-L150

[2017-07-28 22:10] bgamari commented on #383
Hmm, that isn't what I observed but perhaps I'm doing something wrong. I definitely saw it build some compiler objects.

Indeed I also had noticed that the copying itself was quite slow. At one point I eyeballed the copy rate at something like 30 files per second, which is significantly slower than I would expect. I'll try to look into why this may be.

[2017-07-28 22:47] bgamari opened #384 "sdist-ghc is a bit too indiscriminant in copying sources"
Hmm, one thing I noticed is that if you have build artifacts in your tree (e.g. from the `make` build system), `hadrian` will happily copy these into the source distribution. e.g. a test in a dirty tree that I had laying around gave me this,
[code]
Ideally we would only take precisely the files that are needed (and never binaries).

[2017-07-28 22:50] bgamari commented on #383
So one thing that I've noticed is that Hadrian is remarkably rough on the GC. Productivity with `-j4` typically hovers slightly lower than 50%. I suspect most of this time is spent trying to synchronize with threads in foreign calls.

[2017-07-29 10:34] snowleopard commented on #384
Aha, left-over object files could perhaps be the reason for you seeing something being built by `sdist-ghc`. Copying might have introduced tracking, which in turn started to bring the files up to date.

[2017-07-29 14:38] bgamari commented on #384
Sounds like it.

[2017-07-29 14:38] bgamari commented on #383
It sounds like this may be due to #384. Indeed I was unable to reproduce this with a clean tree.

[2017-07-29 14:38] #383 closed

[2017-07-31 19:41] phadej opened #387 "No dependencies found for file _build/stage0/libraries/transformers/Data/Functor/Reverse.p_o"
GHC: 2ef973e823ffb128f9f3b4b85b219e1627dceabf

[code]

[2017-07-31 19:53] snowleopard commented on #387
Thanks, I got a similar failure on my machine.

It's strange that `_build/stage0/libraries/transformers/libHStransformers-0.5.2.0_p.a` is being built. We are not supposed to build profiled libraries in Stage0.

[2017-07-31 20:29] snowleopard commented on #387
I bisected the problem to this commit: d9c97e8f96f482fe7d84e01d61682e82e1edad59

[2017-08-01 01:13] snowleopard commented on #387
I think the above commit fixes the problem: the build with `flavour=prof` completes successfully on my machine and the built GHC works in profiling mode.

@phadej Please reopen if I missed anything.

[2017-08-01 01:13] #387 closed

[2017-08-01 13:11] bgamari commented on #219
What is the status of bindist support? This would be great to have as it would allow us to move the new CI infrastructure over to Hadrian.

[2017-08-01 13:35] bgamari commented on #250
What is the status of this @ndmitchell? We would really like to merge Hadrian for GHC 8.4 but in order to do that we need to ensure that there is adequate time for developers, users, and packagers to use it and discover (and hopefully fix!) the bugs and usability issues that will inevitably come up. If the end of August arrives and we still haven't merged I fear that we may be pressed for time. Ca

[2017-08-01 13:37] snowleopard commented on #219
@izgzhen Is `bindist` rule on the to-do list of your Summer of Haskell project?

[2017-08-01 13:40] izgzhen commented on #219
It is not, but I plan to take over it after summer. But feel free to do it yourself or assign to others :)

[2017-08-01 13:44] snowleopard commented on #219
@izgzhen Thanks! I've unassigned you for now, as the installation rule is almost complete (except for #345). If noone signs up for it I'll try to take care of this in August.

[2017-08-01 21:02] ndmitchell commented on #250
Sorry it's taken so long. Let's check back in a few weeks, but that's my goal.

[2017-08-02 00:10] snowleopard commented on #250
@bgamari If the Shake `--skip` feature won't be ready in time, I think we can hack up something in Hadrian, for example using `orderOnly` dependencies on stage1 build artefacts instead of `need` when we are in the freezeStage1 mode. I mentioned this here: https://github.com/snowleopard/hadrian/issues/250#issuecomment-249750913

[2017-08-02 01:51] snowleopard commented on #384
I've been trying to figure out what the Make build system does here, and it appears that it actually cleans the tree first and then simply copies all files. So, Make will also happily copy any files left over after the cleaning.

So, I see two approaches:
* We do what the Make does: we run the clean build rule first and then run `sdist`, as it is now. We can also hardcode the exclusion of `dist` a

[2017-08-07 06:04] bgamari opened #389 "DTrace support"
`rts/ghc.mk` contains a bunch of logic for producing the glue code for the user-defined tracepoints provided by GHC. This currently isn't implemented.

[2017-08-07 16:42] snowleopard commented on #389
@bgamari Thanks! I assume this is not a blocking issue for merging Hadrian into GHC, so I've assigned it to the `GHC Transcendence` project (feel free to reassign though).

[2017-08-07 22:57] bgamari commented on #389
Andrey Mokhov <notifications@github.com> writes:

Right, this is falls squarely in the "nice to have" category.

[2017-08-10 20:36] ndmitchell commented on #291
This fix was added since the last release, so I suspect the bug is still there and will remain until after the release.

[2017-08-10 20:36] ndmitchell commented on #250
It's slowly bubbling to the top of one of my priority lists. The fact that I'm going through tickets is a good sign at least!

[2017-08-10 20:59] snowleopard commented on #291
@ndmitchell Great! When do you plan the release?

[2017-08-10 21:15] ndmitchell commented on #308
I wrote a doc at http://shakebuild.com/debugging - updates welcome.

[2017-08-12 08:04] ndmitchell commented on #291
@snowleopard 2 weeks? I have some rebuild flags stuff to sort out, but then I'll push out a release in whatever state it is. I might even take a day and just release it at the end of that day as is - it's been too long!

[2017-08-16 21:08] snowleopard commented on #291
The Shake bug has been fixed, so I'm closing this. Thanks @ndmitchell!

[2017-08-16 21:08] #291 closed

[2017-08-17 01:55] izgzhen commented on #311
Looks like this is not actually true, my `clang` understands this now.

[2017-08-17 01:55] #311 closed

[2017-08-17 13:44] izgzhen opened #391 "build error: rts/libHSrts_thr.a matches multiple rules"
[code]

[2017-08-17 13:53] snowleopard commented on #391
Oh, this is my fault. Strange this didn't show up in my testing, I'm pretty sure it's not `OSX` specific.

[2017-08-17 13:58] snowleopard commented on #391
@izgzhen Can you check if adding the following priorty fixes this on your system?

[code]
You need to add it to this build rule:

https://github.com/snowleopard/hadrian/blob/master/src/Rules/Library.hs#L56

If it works, I'll push a patch tonight, after trying to figure out something more clever.

[2017-08-17 14:17] izgzhen commented on #391
[code]

After this, I simply build and got:

[code]

[2017-08-17 15:54] snowleopard commented on #391
Wat. `Build system error - key matches multiple rules:` and `Rules matched:  1` doesn't seem to make much sense :)

@ndmitchell Do you know what this error means?

[2017-08-17 16:37] snowleopard commented on #391
Ah, I think I know what's going on. The priority will be 0 for the vanilla way, which messes up the Shake's error report :-) We need to add `+1` to all priorities to solve this.

Just another off-by-one error :-)

[2017-08-17 16:56] izgzhen commented on #391
Looks like your are right on this point :)

[2017-08-17 17:01] izgzhen commented on #391
But why does that happen? Different way appends a different suffix to the built object, so the rules should be exclusive. In what case will `libHSrts_thr.a` will be matched twice?

[2017-08-17 17:12] snowleopard commented on #391
@izgzhen The problem is that `libHSrts_thr.a` matches both `//*.a` and `//*_thr.a` patterns. This is even worse for more complicated ways, e.g. `libHSrts_thr_p_dyn.a` which I believe has 4 matches.

We can use priorities to tell Shake to prefer longer matches.

[2017-08-17 17:29] izgzhen commented on #391
Cool, thanks!

[2017-08-17 19:00] snowleopard commented on #391
@izgzhen The above should fix this. Please let me know if it works for you.

[2017-08-17 21:07] ndmitchell commented on #391
It seems like you've figured this one out. I've added a test to Shake that the number of rules reported is accurate, so in the next version you won't have a problem (I didn't find the old bug, as that code has changed totally).

[2017-08-17 21:07] ndmitchell commented on #291
The bug has been fixed in Shake HEAD, but not a released version...

[2017-08-17 21:17] snowleopard commented on #391
@ndmitchell Yes, it seems to work now. Do you think this is an appropriate use case for priorities?

By the way, will any attempt to use `priority 0.0` lead to the `key matches multiple rules` error like above? It may be worth to report a custom error in this case.

[2017-08-17 21:26] snowleopard commented on #291
Sure, we'll switch Hadrian to the new version as soon as it appears.

[2017-08-17 21:29] ndmitchell commented on #391
In shake-0.15, yes, any use of priority 0 will raise a multiple match error, as implicitly there is a rule at priority 0 that say "it's just a source file". In shake-HEAD, it doesn't work that way at all, so the problem is gone. This doesn't seem a terrible use of priorities - you have two patterns, you know one is strictly more specific than the other, so you use priorities to switch between.

[2017-08-17 21:36] snowleopard commented on #391
@ndmitchell I see, thanks!

[2017-08-18 01:43] izgzhen opened #393 "Travis Linux CI with GHC 8.0.2 timeouts frequently"
All recent commits caused the GHC 8.0.2 version of Travis Linux CI to timeout.

Since we have GHC 8.2.1 and it has been around for a while, I am considering to either drop Travis Linux GHC 8.0.2 entirely or make it only build stage1 like OS X on Travis.

[2017-08-18 01:43] izgzhen commented on #391
looks like this has been resolved?

[2017-08-18 01:47] snowleopard commented on #391
@izgzhen Yes, seems to work on my machine. If it works for you too, please close the issue.

[2017-08-18 01:50] snowleopard commented on #393
@izgzhen Yes, good idea to switch to stage1 only. I've pushed a fix -- let's see if it works.

[2017-08-18 04:15] izgzhen commented on #391
It works for me now

[2017-08-18 04:15] #391 closed

[2017-08-18 05:00] izgzhen opened #394 "Install rule failed on OS X because no dependencies found for libraries/ghc-prim/GHC/CString.o"
[code]

[2017-08-18 05:01] izgzhen commented on #374
My latest build suggests that it working fine. I will close it for now.

[2017-08-18 08:00] izgzhen commented on #393
The fix https://github.com/snowleopard/hadrian/commit/7231dd5a3d512bbafbd65aa4ad70ecdf6a924243 is not very successful, since it uses `ghc-stage1 -e`. However, at the same time the 8.2.1 version CI also started to time out ...

I believe that we might need to improve the efficiency of Hadrian first.

[2017-08-18 08:02] izgzhen commented on #393
But I also noticed more packages being added to GHC recently, so will that be relevant as well?

[2017-08-18 08:47] izgzhen commented on #366
this is fixed I think

[2017-08-18 08:47] #366 closed

[2017-08-18 10:37] snowleopard commented on #393
@izgzhen I pushed a fix removing `ghc-stage2` test on GHC 8.0.2, and removing `selftest` on GHC 8.2.1.

You mean modules? Yes, that may be the reason.

Also, the Cabal library got bigger -- it now includes Backpack, and we build it 4 (!) times, three times by the bootstrapping compiler, as mentioned in this ticket: #233. I'll see if I can quickly do anything about it.

[2017-08-18 10:43] snowleopard commented on #394
@izgzhen Looks strange and I can't reproduce this.

Can you show the contents of `_build\stage1\libraries\ghc-prim\.dependencies`?

[2017-08-18 10:46] snowleopard commented on #394
Basically, the error says that the file `_build/stage1/libraries/ghc-prim/.dependencies` exists, but there is no line referring to `/Users/zhen/Repos/ghc3/_build/stage1/libraries/ghc-prim/GHC/CString.o`.

[2017-08-18 11:13] izgzhen commented on #394
[code]

[2017-08-18 11:30] snowleopard commented on #394
Aha, I see what's going on. We are looking up an absolute path, but we record dependencies using relative paths.

[2017-08-18 11:34] izgzhen commented on #394
I think I know the problem

[2017-08-18 11:34] izgzhen commented on #394
I only saw your comment after sending out mine 😆, I will try to give a fix

[2017-08-18 11:41] snowleopard commented on #394
Great, thanks! :)

[2017-08-18 11:42] snowleopard commented on #394
By the way, I'm pretty I broke this here: https://github.com/snowleopard/hadrian/commit/9b70568615e2763ff782279be28286373b59d8ff

[2017-08-18 11:50] snowleopard commented on #394
Hmm... I don't see where exactly I broke this.

@izgzhen I'm confused by the following part of your report:

[code]
Why are we building a library with absolute path `/Users/zhen/Repos/ghc3/_build/stage1/libraries/ghc-prim/libHSghc-prim-0.5.1.0.a`?

[2017-08-18 11:56] izgzhen commented on #394
I don't think you broke this. This inconsistency is just between how I copy files in install rules (using absolute path) and what is in `.dependencies`.

This is also fixed by changing the copy file source path.

But I still have to use absolute path in `ghc-cabal copy` command based on prior test.

[2017-08-18 19:05] snowleopard commented on #393
Oh, I've just realised that indeed, there is a new package `parsec` and a couple of new packages are now built in Stage0. That will be problematic to handle using our CI infrastructure...

See this commit, in particular:

https://github.com/ghc/ghc/commit/36fe21aa3fe5abe1cef0104b20c296ac9385658d

We still haven't implemented this in Hadrian. I'll set up a new issue.

[2017-08-18 19:06] snowleopard opened #395 "Enable building Cabal with parsec"
As noticed in #393, we missed the following change in GHC build system:

https://github.com/ghc/ghc/commit/36fe21aa3fe5abe1cef0104b20c296ac9385658d

We need to migrate these changes into Hadrian.

[2017-08-18 22:49] snowleopard commented on #395
I've added new packages to Hadrian, but I haven't yet switched Cabal to use `parsec` as it seems things are still in motion, and soon `parsec` will not be behind the flag. So, I'll wait until the build is broken.

[2017-08-18 22:51] snowleopard commented on #394
@izgzhen You seem to know how to fix this, so I've assigned you :)

[2017-08-19 00:17] izgzhen commented on #394
No problem. Reporting my latest finding:

[code]

This is weird ... I am rebuilding with `--haddock` added now.

[2017-08-19 00:24] izgzhen commented on #394
somehow `ghc-stage2` was not built ...

[2017-08-19 00:24] izgzhen commented on #374
regression...

[2017-08-19 00:34] izgzhen commented on #394
Maybe it is because haddock was needed so ghc-stage2 is built as well.

[2017-08-19 00:45] snowleopard commented on #394
Yes, Haddock is built in Stage2, so ghc-stage2 is required.

[2017-08-19 00:47] izgzhen commented on #394
need of `haddock` is trigged by https://github.com/snowleopard/hadrian/blob/master/src/Rules/Install.hs#L206 as I found

[2017-08-19 00:54] izgzhen commented on #394
After using a untracked version of `copyDirectoryContents`, this is fixed but I don't know exactly how.

[code]

[2017-08-19 00:58] izgzhen commented on #374
relavant: https://github.com/snowleopard/hadrian/blob/master/src/Rules/Install.hs#L166-L168

[2017-08-19 01:39] #394 closed

[2017-08-20 11:12] snowleopard commented on #381
A link to @izgzhen's attempt to generate `hadrian/cfg/config.h.in`: https://phabricator.haskell.org/D3869.

[2017-08-21 03:01] izgzhen commented on #348
The site is stabilized. I'll close the issue for now.

[2017-08-21 03:01] #348 closed

[2017-08-21 11:04] snowleopard commented on #348
@izgzhen Could you clarify what `default` and `validate` actually mean? I remember you planned to test the `install` rule too -- is it part of `default`? Can we also test profiled GHC? I think there are a few useful combinations to be tested, and perhaps we should arrange this in a matrix form, e.g. something like this:

https://matrix.hackage.haskell.org/package/shake

Maybe this should be raised

[2017-08-21 11:19] izgzhen commented on #348
Yes, I've added `install` to `default` in the newest commit. It will be executed in the next run.

Since each run can take one hour or longer, I can't afford more than 3 to 4 times builds per day. So a large matrix like this is not very realistic for now. However, I'll open an issue about profiled GHC and add it in some way.

[2017-08-21 11:54] snowleopard commented on #348
@izgzhen I see, thank you!

[2017-08-21 13:54] ndmitchell commented on #250
I now have Hadrian building with shake-HEAD. I think the release should be imminent - just one last bug/change to go.

[2017-08-22 08:13] ndmitchell opened #399 "Depend on ansi-terminal in Shake"
I am considering adding an ansi-terminal dependency in Shake so I can have prettier console messages. Given Hadrian already has such a dependency I guess that's not going to cause you problems - but I thought I'd check.

[2017-08-22 11:03] izgzhen commented on #177
I've been hacking on this from time to time in the past month, but it turns out to be quite difficult to take care of. I'll keep working on this, but it might take longer than I initially anticipated.

The first problem is that after #380, the "size doesn't match" in #349 is not solved by that in fact. I compared and tweaked the command line arguments for a long time, but it never worked so well.

[2017-08-22 12:03] izgzhen commented on #374
Latest test shown that the bug is missing again ... I've added `--haddock` to the test target in http://hadrian-status-dev.zhenzhang.me now to track the regression ...

[2017-08-22 12:03] #374 closed

[2017-08-22 12:40] snowleopard commented on #374
@izgzhen Note that this may be non-deterministic if there is some missing dependency, i.e. it breaks only sometimes, depending on which build scheduling order.

[2017-08-22 12:46] snowleopard commented on #399
@ndmitchell Yes, we already depend on `ansi-terminal`, so I don't see any issues with this.

However, if `ansi-terminal` is problematic on a certain platform, Hadrian can easily live without it. But we can't live without Shake! :-)

[2017-08-22 13:10] ndmitchell commented on #399
If ansi-terminal ever becomes problematic I'll just remove it - not a big deal and won't be integrated tightly.

[2017-08-22 13:10] #399 closed

[2017-08-25 05:50] izgzhen commented on #377
Done now.

[2017-08-25 05:50] #377 closed

[2017-08-27 01:08] snowleopard opened #403 "Simplify package build and installation lists"
When reviewing #401, I started to think that the current approach to specifying which packages are built in which stages is overly complex. Here is a snippet from `Settings/Default.hs`:

[code]

I propose to simplify this by going from expressions `Expr [Package]` to something simpler, e.g. just a function `Stage -> Action [Package]`. For example:

[code]

This will also allow to move to package l

[2017-08-27 01:10] snowleopard commented on #403
This will also help me with #347.

[2017-08-27 01:13] izgzhen commented on #403
Looks good to me, thanks!

[2017-08-27 02:12] snowleopard commented on #403
@izgzhen Thanks, I've pushed a commit. I think this is mostly done, but I might later do a minor refactoring which shouldn't affect #401.

[2017-08-27 02:19] snowleopard commented on #403
By the way, to conditionally remove `terminfo` from the list of packages, I think this should change the definition of `stagePackages` in `Settings`:

https://github.com/snowleopard/hadrian/blob/master/src/Settings.hs#L30-L33

[2017-08-27 10:41] snowleopard commented on #403
For the sake if keeping Hadrian codebase sane, I propose to restrict user packages so that they cannot be Hadrian builders and they cannot be installed.

Hadrian will still build any user package, be it a C or Haskell library or program.

[2017-08-28 00:56] snowleopard commented on #403
Done.

I think it will also be possible to get rid of `latestBuildStage` and simplify related code by using the newly introduced `GHC.isInstallContext`.

[2017-08-28 02:57] izgzhen commented on #403
Looks cool. Do you mean getting rid of `latestBuildStage` in `Install.hs`?

[2017-08-28 11:45] izgzhen commented on #177
#401 has given us a working compiling GHC tested on one emulated ARM platform, but it is still crude and needs a lot of polishing. I'll collect the bits needed to be done in future here:

- [ ] `/rules/build-package-data.mk:98:$1_$2_CONFIGURE_OPTS += --configure-option=--host=$(TargetPlatformFull)`

[2017-08-28 23:41] snowleopard commented on #403
@izgzhen I pushed a revision. It's not a huge simplification, but I think the semantics is a bit clearer now.

There is still one confusion left in the code with regards to the GHC binary.

1. During a normal build we 'install' GHC binaries (`ghc-stage1`, `ghc-stage2`, etc) into `inplace/bin`, which is reflected in the function `installStages` above.

2. However, during the installation build, we

[2017-08-29 00:26] izgzhen commented on #403
I support the separation of "install" and "inplace", but sometimes they share very similar logics, like building script wrappers, so that might take a bit of patience to get right.

[2017-08-29 00:30] snowleopard commented on #403
Thanks! Indeed, wrappers are also related to this. I'll see if I manage to unravel this.

[2017-08-30 00:54] snowleopard opened #404 "Add gen-dll as replacement for dll-split"
Hadrian is broken due recent changes in GHC: https://phabricator.haskell.org/D3883.

[2017-08-30 11:31] snowleopard commented on #404
Looks like the above commits fixed the breakage. I think the rest should be done as part of #343.

[2017-08-30 11:31] #404 closed

[2017-08-30 11:56] snowleopard commented on #343
Note that `gen-dll` package will need to be added to make this work.

See #404 and https://phabricator.haskell.org/D3883.

[2017-08-31 14:41] izgzhen opened #405 "libffi configure needs libffi_EnableShared flag"
see `libffi/ghc.mk`

[2017-08-31 14:59] izgzhen commented on #405
`enable_static` is also missing

[2017-08-31 15:02] izgzhen commented on #405
Oops ... found that, https://github.com/snowleopard/hadrian/blob/29046aa3b29a26e69db1bf38015f9376bfad2ff0/src/Settings/Builders/Configure.hs#L18-L25

But there is also a TODO anyway

[2017-08-31 15:12] izgzhen opened #406 "Implement commented part in Rts"
See https://github.com/snowleopard/hadrian/blob/29046aa3b29a26e69db1bf38015f9376bfad2ff0/src/Settings/Packages/Rts.hs#L127-L258

[2017-08-31 15:16] snowleopard commented on #405
This code is quite well-hidden, I think it's probably not the best location for it. If we follow the convention of how we deal with package-specific settings, this should be moved to `Settings/Packages/Libffi.hs`.

[2017-08-31 15:17] snowleopard commented on #406
It's probably medium-to-high priority. I expect that these missing flags account for a lot of errors we see when we run `validate`.

[2017-08-31 15:25] izgzhen commented on #405
Agreed

[2017-08-31 16:23] izgzhen opened #407 "is PORTING_HOST still useful?"
It appeared in https://github.com/ghc/ghc/blob/c0feee90118333dac817cfad6f2dedc0a886d1bd/includes/ghc.mk#L85-L91

For the change above I made in #401, I basically don't include that header at all when cross compiling some packages:

https://github.com/izgzhen/hadrian/blob/e9a66ed59f99d4cf61326491ce8ceb1c383526d0/src/Settings/Builders/Common.hs#L31-L32

I think they are related -- and if `PORTING_HO

[2017-08-31 16:27] izgzhen commented on #373
Update: currently I test this daily in `default` mode on my http://hadrian-status-dev.zhenzhang.me. I don't think that add CI support for this is easy, considering recent timeouts, but that is certainly a goal.

[2017-08-31 16:47] snowleopard commented on #373
@izgzhen Thanks! Can we set it up, so it sends a notification if the previously successful built got broken?

[2017-08-31 16:53] izgzhen commented on #373
I think this is possible. However, currently I maintained a `staging` branch on my GitHub namespace, and this build bot will only pull from that branch. The motivation is to only pull in new changes that at least won't break simpler CIs we are currently using.

The build is run on a daily basis, since it can't afford a full build per commit now.

Despite all these, it is a good idea to let it send

[2017-08-31 17:00] snowleopard commented on #373
Yes, I currently get pretty quick feedback if my commit breaks Linux or OS X build, but it's difficult to make sure I haven't broken installation on these platforms. I could of course keep looking this up on the Hadrian Wall website, but I keep forgetting :)

[2017-08-31 17:03] izgzhen opened #408 "DYNAMIC_BY_DEFAULT on different platforms"
https://github.com/ghc/ghc/blob/c0feee90118333dac817cfad6f2dedc0a886d1bd/mk/config.mk.in#L132-L142

[2017-08-31 17:14] snowleopard commented on #408
Not sure, but this may be part of #248?

[2017-09-01 01:56] izgzhen opened #409 "Use different INSTALLED_GHC_REAL when cross compiling"
See https://github.com/ghc/ghc/blob/b2c2e3e818b8aa69af711cefa7efeadedc3f2e4e/ghc.mk#L976-L991

[2017-09-01 04:35] izgzhen commented on #349
I think this is already resolved.

[2017-09-01 04:35] #349 closed

[2017-09-01 05:39] izgzhen commented on #178
recently I am adding `-fllvm` to ghc invocation in the cross compiler case -- are they relevant?

[2017-09-01 05:41] izgzhen commented on #177
The above tidbits are all checked, and the remaining few issues are filed as described above.

I think we can close this issue now.

Cc @snowleopard

[2017-09-01 05:45] izgzhen commented on #177
maybe after https://github.com/snowleopard/hadrian/pull/410 is merged

[2017-09-01 09:02] izgzhen commented on #408
Probably ... but they've disabled it explicitly in `mk/config.mk` now anyway, so it is low-priority.

[2017-09-01 13:25] izgzhen opened #411 "Move package-specific setting to Settings.Packages"
e.g. https://github.com/snowleopard/hadrian/blob/29046aa3b29a26e69db1bf38015f9376bfad2ff0/src/Settings/Builders/Configure.hs#L18-L25

[2017-09-01 13:40] izgzhen commented on #405
The above issue is filled in https://github.com/snowleopard/hadrian/issues/411

[2017-09-01 13:43] izgzhen commented on #250
How does everything go so far? Since I've basically fixed the cross compilation issue, so I can also help on this one if plausible.

[2017-09-01 13:46] izgzhen commented on #395
Should I put this is The Merge goals?

[2017-09-01 16:00] angerman commented on #178
Not sure if this helps. Cross compiling is basically two things:
a) choice of toolchain. (usually `<target triple>-tool`)
b) passing flags to ghc. To select the code gen backend (e.g. `-fasm`, `-fllvm` and soon `-fllvmng`)

The `-fllvm` flag just instructs ghc to use a different code path for code gen. One which involves writing out a llvm IR file, and invoking opt, llc and the mangler on it befor

[2017-09-01 19:40] snowleopard commented on #177
@izgzhen Sounds good! Do close this after we merge #410.

[2017-09-01 19:42] snowleopard commented on #395
Yes, I think it would be useful to settle this before merging. It's probably not a lot of code, but it will require an investigation on what exactly needs to be done.

[2017-09-02 23:40] snowleopard commented on #403
I think we can close this now.

[2017-09-02 23:40] #403 closed

[2017-09-08 23:04] snowleopard opened #412 "Build broken: Data constructor not in scope: LLVM_TARGET"
[code]

[2017-09-08 23:04] snowleopard commented on #412
I presume the fix is easy, but I've got no time to investigate right now (conference week).

[2017-09-09 14:53] snowleopard commented on #412
Looks like the above fixed it, so I'm closing this issue. Please reopen for any other `LLVM_TARGET`-related bug.

[2017-09-09 14:53] #412 closed

[2017-09-11 13:15] bgamari commented on #250
@ndmitchell, what is the status of this?

[2017-09-11 14:48] ndmitchell commented on #250
I just need a free evening to cut the release - basically done.

[2017-09-11 17:15] izgzhen commented on #177
I'll close it since #410 is done.

[2017-09-11 17:15] #177 closed

[2017-09-16 21:01] snowleopard opened #414 "Finalise documentation build rule"
After merging #413, we can build documentation in various formats. The remaining two tasks are:
- [x] At the moment we need to provide both `--haddock` and `docs` in the command line to build docs. I think we can probably drop the `--haddock` flag and make the `haddock` package lazy: that is, it will be in the list of active packages, but we will not be demanding it at the top-level for the defaul

[2017-09-17 20:13] snowleopard commented on #393
It seems that the above commits gradually fixed the timeout, so I am closing this.

@izgzhen You mentioned recently that Hadrian was slower than Make on your machine. Could you try to benchmark again please?

[2017-09-17 20:13] #393 closed

[2017-09-18 08:18] izgzhen opened #415 "./configure on OS X dumps weird output"
[code]

[2017-09-18 08:45] izgzhen commented on #393
It is 23 min 21 s vs 22 min 48 s now, in which Hadrian is still a bit slower, but it is okay I think.

[2017-09-18 09:34] snowleopard commented on #393
@izgzhen Thanks! Does this include `boot` + `configure` in case of Make?

[2017-09-18 09:35] snowleopard commented on #415
Presumably, this is not a Hadrian issue, but a bug in the GHC's configure script?

[2017-09-18 09:45] izgzhen commented on #393
No, it includes all the time spent after Hadrian is built.

[2017-09-18 09:45] izgzhen commented on #393
....I mean, Make doesn't include that, while Hadrian does.

[2017-09-18 09:57] snowleopard commented on #393
I see, thanks. We need to do a proper benchmarking at some point, which I think should include `boot` and `configure` on both sides.

[2017-09-18 11:09] izgzhen commented on #415
Not sure, will investigate into it later

[2017-09-18 13:57] bgamari commented on #415
It sounds like the machine that you are building on doesn't have a full XCode installation but rather only the command line tools package. I believe GHC requires the full thing.

[2017-09-18 15:08] izgzhen commented on #415
You are right. But what about the "command not found" etc. below the first line?

[2017-09-19 12:43] bgamari commented on #415
Hmm, good question. I had missed the other errors. Something is definitely going quite awry here. You have run `./boot` recently, yes?

[2017-09-19 13:02] izgzhen commented on #415
I think I should the answer should be "yes" -- It is not exactly `./configure`, but `Configure` run by Hadrian indirectly, so a `boot` will be fired up first each time as I remember

[2017-09-19 13:03] snowleopard commented on #415
@bgamari Just to let you know: I also get the following messages from `configure` on Windows:
[code]
However, the rest of the build succeeds.

[2017-09-19 13:49] bgamari commented on #415
Hmm, unfortunately debugging `autoconf` scripts is quite tricky. What is on line 8179 and 8297 of `configure`?

[2017-09-19 14:44] snowleopard commented on #415
@bgamari I think these are offending lines:
[code]

[2017-09-19 14:56] bgamari commented on #415
Ahh, yes, that sounds like it.

[2017-09-19 15:13] bgamari commented on #415
I think it's fair to call this a bug. See https://phabricator.haskell.org/D3992.

[2017-09-19 18:39] bgamari opened #416 "Regenerate .cabal.in files when changed"
One of the annoyances that I have felt with the current Make-based build system is the inability for it to rebuild `ghc.cabal` when `ghc.cabal.in` is changed. Instead one must re-run `configure`, which results in all sort of spurious changes, generally requiring a full rebuild. Doing this every time a module is added, removed, or renamed gets quite tiresome. For this reason I generally just resort

[2017-09-19 21:51] bgamari commented on #326
Somehow I previously missed this; I don't think that dynamic libraries are critical for `quickest`. In general I think the set of flavours that we currently have in the tree are more a product of a gradual, largely accidental evolution than any grand plan. They all scratched an itch for someone at some point, but I think we should feel free to tweak them if there is good reason.

[2017-09-19 21:52] bgamari commented on #248
Can this be closed now?

[2017-09-19 22:27] snowleopard commented on #326
@bgamari Thanks! I think at some point after we merge, we should reengineer flavours. Preferable according to some plan :)

[2017-09-19 22:29] snowleopard commented on #326
By the way, judging from @bgamari's response, we can close this issue with the answer "No, flavours do not need to be consistent with the old system".

[2017-09-19 22:29] #326 closed

[2017-09-19 22:32] snowleopard commented on #248
@bgamari Not sure. I think @izgzhen fixed the `dynamic` way (on Linux and Mac) but we have not yet implemented full support for `dynamicGhcPrograms`. Do we need it?

[2017-09-19 22:52] snowleopard commented on #416
I looked at `ghc.cabal.in` and I can see only two variables that are substituted by `configure`:
* @ProjectVersionMunged@
* `@FFIIncludeDir@`
Both values are known to Hadrian, so we can indeed do the substitution ourselves.

[2017-09-20 03:07] bgamari commented on #248
Well, the current default build configuration of the make-based build system is `DYNAMIC_GHC_PROGRAMS=YES` where possible. We could (and perhaps should) reconsider this, but I'd be weary of changing just because the build system doesn't support it. In particular I'm a bit concerned about platforms where the RTS linker isn't terribly robust (e.g. ARM). In this case I fear that we may regress in ter

[2017-09-20 06:22] izgzhen commented on #248
then at least it should be a post-merge goal?

[2017-09-24 10:49] snowleopard opened #420 "Widows build broken (configure fails)"
AppVeyor CI and my local builds are broken with the following `configure` error:
[code]

This looks like a GHC bug, but I'll open a ticket here to investigate.

@bgamari Any ideas?

[2017-09-24 11:02] snowleopard commented on #420
Could [this commit](https://github.com/ghc/ghc/commit/c2373b7b09939027742626e4a7bbba05ea1f6850) be related?

[2017-09-24 11:03] snowleopard commented on #420
/cc @angerman

[2017-09-24 11:09] angerman commented on #420
Indeed, it looks like `mingw64` is not a valid OS according to `GHC_CONVERT_OS`. I believe it should be?

[2017-09-24 11:27] snowleopard commented on #420
@angerman Not sure what `GHC_CONVERT_OS` does, but presumably right now all 64-bit Windows machines are broken.

[2017-09-24 13:10] angerman commented on #420
https://phabricator.haskell.org/D4016

[2017-09-26 17:49] snowleopard commented on #415
@bgamari Thanks for the fix! Now I have no warnings from `configure`.

@izgzhen Has your issue been fixed too?

[2017-09-26 18:50] snowleopard commented on #420
@angerman Thanks for the fix! The Windows build is fixed now.

[2017-09-26 18:50] #420 closed

[2017-09-26 22:11] bgamari opened #421 "Missing dependency on package database"
I am seeing the following while trying to build GHC 8f468fe05cf81ca516b3a8cf66792f842dbfcf40 with hadrian 68446abeab92087492baba6c746ab94c3bb7c2bb,
[code]

[2017-09-26 22:19] snowleopard commented on #421
Looks like this is related to the `dynamic` way.

@izgzhen Any ideas?

[2017-09-26 22:19] snowleopard commented on #421
@bgamari Thanks for reporting. Was it the default command `build -j`?

[2017-09-26 23:16] bgamari commented on #421
Andrey Mokhov <notifications@github.com> writes:

Yep.

[2017-09-27 02:19] izgzhen commented on #415
Now it is:

[code]

[2017-09-27 02:20] izgzhen commented on #415
It looks like only `ld` complains about `--version` now for me

[2017-09-27 02:46] izgzhen commented on #421
I can't reproduce that with newer GHC on my Linux machine. I will try build the exact GHC version later.

[2017-09-27 03:17] bgamari commented on #421
Two differences that I noticed between the Make build system and the command line produced by Shake,

 * Shake doesn't pass `-DCOMPILING_RTS`
 * Shake doesn't pass `-this-unit-id rts `

Unfortunately neither of these seem to make a difference.

[2017-09-27 03:29] izgzhen commented on #421
I can't reproduce with GHC 8f468f either ...

[2017-09-27 03:31] bgamari commented on #421
For the record, the inplace package database also appears to be empty; I haven't confirmed but I suspect this is the issue. I berlieve you need to register the `rts` package before attempting to build it.

[2017-09-27 03:47] bgamari commented on #421
I had thought that perhaps this was just a race between the package registration and build. However, manually running `hadrian inplace/lib/package.conf.d/.stamp` and then rerunning `hadrian` doesn't appear to work either.

[2017-09-27 04:18] bgamari commented on #421
Oh dear; it seems I was just pulling from the wrong remote. Many apologies for the noise.

[2017-09-27 04:19] izgzhen commented on #406
I'll close this now

[2017-09-27 04:19] #406 closed

[2017-09-27 04:21] bgamari commented on #421
Never mind, I was pulling from the right remote; in the above comment I was just looking at the wrong GHC tree. I'll leave a fresh build running overnight as it's possible this issue was just due to stale files in my GHC tree.

Clearly it's time to go to sleep.

[2017-09-27 10:08] snowleopard commented on #421
@bgamari This is just a missing dependency, unrelated to the `dynamic` way. Here is how to reproduce:
* Do full build.
* Delete `inplace\lib\package.conf.d`
* Delete `_build\stage1\rts\cmm\Updates.o`
* Run Hadrian with target `_build\stage1\rts\cmm\Updates.o`.

I'll try to fix this tonight.

[2017-09-27 11:47] bgamari commented on #421
Well, it seems that the build finished. I suspect the problem was simply stale files from the old build system left in the tree. Sorry again for the noise!

[2017-09-27 11:50] snowleopard commented on #421
@bgamari Let me reopen this under a revised title, since I think there is a bug in Hadrian related to a missing dependency on the package database.

[2017-09-28 11:47] bgamari commented on #219
What is the status of bindist support?

[2017-09-28 22:19] snowleopard commented on #219
@bgamari I didn't have time to look into this yet.

It would be more productive is someone familiar with what `bindist` should do gives this a try, so I've been waiting for a volunteer :) But if noone shows up I'll self-assign.

[2017-09-28 23:56] snowleopard commented on #421
The above commit should fix the missing dependency, so I'm now closing this.

[2017-09-28 23:56] #421 closed

[2017-09-29 05:20] izgzhen commented on #299
A more recent result: Note that I found it is important to run `validate` after a default build, rather than `quickest` build. The later case will cause more validation failures. The Make-based system will rebuild everything using a validate flavour, which is very different from how we handle it in Hadrian.

[code]

[2017-09-29 13:00] izgzhen opened #423 "TH annotations test failed due to failure of capturing the standard output"
I was debugging the failure validation test `annotations/should_compile/th`, the `annth_make` target.

If you execute the command under your shell, using Hadrian-built artifacts, by `make -s annth_make`, you will **see** the content of `annth_make.stdout` in your **terminal**. However, I can't redirect the output to file, by either using `>` or `2>`. It should be related to stdout, since using `>`

[2017-09-29 19:56] snowleopard commented on #299
@izgzhen Thanks for the update! Reducing `705 unexpected failures` to `87 unexpected failures` simply by switching to the default build flavour is great :)

[2017-09-29 20:23] snowleopard commented on #423
I don't understand. Are you running GHC from within Hadrian? If yes, you can extract `stdout` as follows:

https://github.com/snowleopard/hadrian/blob/master/src/Builder.hs#L195-L196

@izgzhen Does this help?

[2017-09-30 00:48] izgzhen commented on #423
No exactly. Inside `build validate`, we are still running Python scripts right? And despite the driver program, I can't capture the output from the just invoking `ghc-stage2` by hand, even if I can clearly *see* it on screen

[2017-09-30 13:04] snowleopard commented on #423
No. `build validate` simply does `make fast` in the GHC testsuite. The python script is run directly only in `build test` target. See https://github.com/snowleopard/hadrian#testing.

[2017-09-30 13:05] snowleopard commented on #423
Just to clarify: the GHC testsuite will call the python script itself, so it still being called, but not by Hadrian.

[2017-09-30 15:17] snowleopard commented on #246
I'm closing this issue now. Please see #414 for what remains to be done.

[2017-09-30 15:17] #246 closed

[2017-09-30 15:25] bgamari commented on #299
I suppose many of these were due to `SplitSections` being enabled by default which appears to break the RTS linker. I'm tracking this down in [#14291](https://ghc.haskell.org/trac/ghc/ticket/14291).

[2017-09-30 15:29] bgamari opened #425 ""Rules may not be recursive" error"
While attempting to build GHC e515c7f37be97e1c2ccc497ddd0a730e63ddfa82 with Hadrian c6d7b2a33e6ff987e7112c57555425c285c380e9 I encountered the following error,
[code]

[2017-09-30 15:46] snowleopard commented on #425
@bgamari Oh. I'll try to reproduce and fix asap.

[2017-09-30 16:04] snowleopard commented on #425
@bgamari I couldn't reproduce the "Rules may not be recursive" error. Can you try if Hadrian 88a7b4e31616f06ea9c0f75d3565ae11936009e0 has the same problem?

By the way, it looks like the build is broken by recent `libffi` changes. I'll raise another issue.

[2017-09-30 16:07] snowleopard opened #426 "Build broken by libffi changes"
While reproducing #425 I noticed that the build is broken:
[code]

I suspect [this commit](https://github.com/ghc/ghc/commit/e515c7f37be97e1c2ccc497ddd0a730e63ddfa82) by @angerman.

[2017-09-30 16:43] snowleopard commented on #426
Not sure this is Hadrian's bug. Presumably, GHC is broken too?

[2017-10-01 02:22] angerman commented on #426
This is likely due to the introduction of a git snapshot of libffi, due to their lack of released versions.
I'll see if we can adapt the packaging script to *not* require the `makeinfo` stuff, which I believe is only required for the documentation, which we could probably just ignore in our case.

cc @bgamari

[2017-10-02 15:31] bgamari commented on #405
@angerman, you may also be interested in this.

[2017-10-02 15:32] bgamari commented on #407
I can say that I've never used this option.

[2017-10-02 15:35] bgamari commented on #314
As of ghc/ghc@4671009efc450479c02e3ecf847c63a7483778fa we are back to the Python `boot` script. Yay!

[2017-10-02 16:59] snowleopard commented on #314
@bgamari Your link appears to be broken.

Anyway, we'll need to adapt Hadrian to Python-based `boot`, so I think this issue should be reopened.

[2017-10-02 17:58] Mistuke commented on #343
@snowleopard I'm slowly merging in the rest of the stuff for dynamic way on Windows, if it's easier for you I would be fine with also doing the changes for Hadrian. If you have any preferences on how it should be done let me know. I know you wanted the tool as a Haskell program so presumably you don't need to call out to a separate program.

[2017-10-02 19:20] snowleopard commented on #343
@Mistuke It would be great if you could also translate your changes into Hadrian! This will definitely save us a lot of time. I'm fine if the first version calls out into a separate script if that's more convenient for you. We can always rewrite it in Haskell later.

I'll be happy to review the PR and help in any other way!

[2017-10-02 19:29] Mistuke commented on #343
Alright then :), I'll make sure to keep Hadrian in sync with the make changes.

[2017-10-02 19:33] snowleopard commented on #343
Great, thanks! 🎉

[2017-10-03 00:03] bgamari commented on #314
Fixed.

[2017-10-03 14:29] izgzhen commented on #407
Okay, then I will close it for now

[2017-10-03 14:29] #407 closed

[2017-10-04 11:41] snowleopard commented on #314
After switching to the python based script, I get the following error on Windows:

[code]

I think this environment-fixing code needs a fix:

https://github.com/snowleopard/hadrian/blob/master/src/Environment.hs#L20-L28

[2017-10-05 10:48] snowleopard commented on #426
Looks like the above commit fixed this.

[2017-10-05 10:48] #426 closed

[2017-10-05 12:36] snowleopard commented on #425
@bgamari After fixing the `libffi` issue I still can't reproduce this. Is the build still broken for you?

[2017-10-05 16:24] Ericson2314 commented on #349
The current configure script gets it's CC env vars a bit confused. I'd like to fix that at some point, in which case it would probably be easy to go back to not using GHC here, which I think would be good. I'd hope the same change wouldn't be too hard in the old build system, so it could be done sooner.

[2017-10-05 16:45] Ericson2314 commented on #349
Neat, so cross and native alike would benefit. In general, my first priority is upstreaming some nixpkgs changes for cross-building ghc I've already done, which has taken a while and could take a while longer. But I'd be happy to illustrate the changes needed / just do the configure script part more immediately.

[2017-10-05 18:21] ggreif commented on #349
Why not teach `ghc` to output `command ... args` for non-HS compilation of files. Then `hadrian` simply would execute those.

Of course this feature should be part of the bootstrap`ghc` sometime.

[2017-10-05 18:33] snowleopard commented on #349
@ggreif Interesting idea. Indeed, GHC does need to know how to compile non-HS files, because it has to do it when compiling multi-language projects, so it might as well share this information with the build system. (Or maybe there should be a different source of this information, used both by GHC and Hadrian.)

[2017-10-05 19:02] Ericson2314 commented on #349
Yeah when cross compiling I would not trust the stage0 GHC to know about how to properly invoke the stage1 CC. Perhaps I don't understand this "multi-language project" case very well, but I'd think that would be a thing for Cabal, too.

[2017-10-05 19:28] snowleopard commented on #349
I simply meant you can do things like `ghc --make Main.hs lib.c` and GHC will compile both Haskell and C files. For anything more advanced one would certainly use Cabal.

[2017-10-05 19:32] Ericson2314 commented on #349
Ah, right. I'd love to deprecate that :).

[2017-10-05 20:03] bgamari commented on #425
Indeed I still encounter this with ghc/ghc@429fafb5b2b1ac02fd04d9a98e30b5991125692c and Hadrian ca6ab27204bedc59716040da849a47ef64fcafa9.

[2017-10-05 23:20] snowleopard commented on #314
Apparently, the old `ACLOCAL_PATH` workaround we had in `Environment.hs` is no longer needed, so I dropped it. Looks like there is nothing else to be done for this issue, so I'm closing it.

[2017-10-05 23:20] #314 closed

[2017-10-05 23:27] snowleopard commented on #425
@bgamari That's puzzling.

Do you happen to have a custom `UserSettings.hs` file?

I know what can cause this: trying to compute a setting like `windowsHost` before the `configure` script had a chance to run and collect the information about the system. But as far as I can see, in such situations (when `configure` output is not yet available), we are using `System.Info.os` to determine the OS.

[2017-10-05 23:38] bgamari commented on #425
Andrey Mokhov <notifications@github.com> writes:

Unfortunately I do not.

Hmm. Is there any way to get shake to print where the rules that it's
complaining about are defined?

[2017-10-06 00:14] snowleopard commented on #425
Debugging oracles is a bit tricky.

Could you ask Hadrian to build `hadrian/cfg/system.config` with `--verbose`?

[2017-10-06 00:49] bgamari commented on #425
Sadly the error doesn't really shed any more light,
[code]

[2017-10-06 08:18] snowleopard commented on #425
@bgamari Thanks! My feeling is that [this commit](https://github.com/snowleopard/hadrian/commit/c6d7b2a33e6ff987e7112c57555425c285c380e9) is the problem, but I can't quite figure out where I managed to introduce a cyclic dependency which is so difficult to trigger.

[2017-10-06 16:08] bgamari commented on #425
Andrey Mokhov <notifications@github.com> writes:

Hmm, strangely enough reverting that commit doesn't seem to help.

[2017-10-06 16:13] snowleopard commented on #425
@bgamari Ah, that's interesting. Could you perhaps `git-bisect`?

[2017-10-06 18:11] bgamari commented on #425
Andrey Mokhov <notifications@github.com> writes:

Unfortunately it fails as early as
907cad60863a4ea2b940fa7aa6c73b0da82eab7c. I'm afraid I'm unable to build
any earlier commits due to naming shadowing of RuleResult.

[2017-10-09 00:18] snowleopard commented on #250
I've added a draft implementation for this feature -- see the above commit. To use it, pass `--freeze1` when running Hadrian. Seems to work well in my experiments, but it would be nice to hear feedback from others.

I'll also need to add docs and see if I can simplify code.

[2017-10-09 08:44] izgzhen commented on #250
I've tried it a bit and it looks working on my Linux machine, good job!

[2017-10-09 10:55] snowleopard commented on #250
Thanks @izgzhen!

And thanks to @ndmitchell for making the implementation so straightforward :)

[2017-10-10 13:03] snowleopard commented on #250
OK, I think we can close this issue. Please shout if I missed anything.

[2017-10-10 13:03] #250 closed

[2017-10-10 18:48] bgamari commented on #425
Hmm, well this is a bit unfortunate; it ended up being that I was using a stale executable. See #427.

[2017-10-10 18:48] #425 closed

[2017-10-10 19:05] snowleopard commented on #425
Uh-h, mystery solved!

[2017-10-10 20:35] duog opened #428 "Ideas to improve "Your first build""
I tried hadrian yesterday, and I found my first build to be more difficult than it needs to be.

It seems that build.sh requires that I have shake et al installed in my global/user package databases, which I hardly remember how to do :).

build.cabal.sh seems to work perfectly, as long as cabal-install is installed.

build.stack.sh requires that I have nix installed. I don't grok nix yet, so I add

[2017-10-10 21:09] ndmitchell commented on #428
For info, I have a standard list at http://neilmitchell.blogspot.co.uk/2016/03/compiling-ghc-on-windows.html (it might be a bit out of date, but it's ballpark). Thanks for sharing your initial experiences - we each only get one first view, and it's very valuable information we can't get on our own!

I agree about the boxes!

[2017-10-10 21:10] snowleopard commented on #428
@duog Many thanks, I completely agree that we need to improve "Your first build"!

Parts of this has already been discussed elsewhere, e.g. see #301.

What about the following slightly revised plan?

* Delete `build.sh`. It looks like it no longer serves any purpose, e.g. all CIs use cabal or stack scripts.

* Rename `build.cabal.sh` to `build.sh` and add a Windows alternative `build.bat`. This wi

[2017-10-10 22:40] duog commented on #428
Sounds great @snowleopard, the current build.cabal.* does seem the most robust way to use hadrian.

[2017-10-10 22:46] snowleopard commented on #428
@duog Great! Could you help with the Unix-specific scripts? I will then take care of Windows-specific scripts and documentation.

[2017-10-10 23:06] snowleopard commented on #428
I've taken care of the `--progress-info` flag in the above commit.

[2017-10-10 23:17] duog commented on #428
Sure, will do

[2017-10-11 00:13] duog commented on #428
Sorry about all that commit spam :/ didn't realise that was going to happen

[2017-10-11 01:34] snowleopard commented on #428
Thanks @duog, I'll complete this issue in a few days.

[2017-10-11 02:09] izgzhen commented on #428
README.md needs to be revised as well by the way

[2017-10-11 10:16] snowleopard commented on #428
@izgzhen Yes, sure. Other docs in `doc/*` may need to be checked as well. I'll take care of this.

[2017-10-11 18:13] bgamari opened #431 ""unknown package: rts" while cross-compiling"
I'm currently seeing the following,
[code]

[2017-10-11 18:13] bgamari commented on #421
Unfortunately I still see a variant of this while cross-compiling. See #431.

[2017-10-11 18:20] bgamari commented on #431
Whoops, never mind; I suspect this was because I had reverted c6d7b2a33e6ff987e7112c57555425c285c380e9 while debugging.

[2017-10-11 18:20] #431 closed

[2017-10-11 19:35] bgamari opened #432 "Cross compilation fails to configure gmp correctly"
GMP's `configure` failed when attempting to cross-compile on amd64 targeting `arm-linux-gnueabihf`. It appears that the current `make`-based build system passes `--host=arm-unknown-linux` to gmp's `configure` script, whereas Hadrian passes the host triple.

I believe the patch fixing this is simple enough,
[code]

However, I quickly ran into trouble while trying to test this. I'll report this in a

[2017-10-11 19:38] bgamari opened #433 "Shake fails to rebuild recover from deleted libraries/integer-gmp/gmp/config.mk"
While testing my fix for #432 I tried deleting `libraries/integer-gmp/gmp/config.mk` to force Hadrian to reconfigure `gmp`. However, instead of rerunning `configure` Shake fails with a perplexing error,
[code]

[2017-10-11 20:23] ndmitchell commented on #433
The problem is Shake doesn't like you to declare a rule that builds two targets, and after running the rule, they aren't available. My guess is the rule that builds those two doesn't actually build those two files, but depends on something that does build those two files, and which you didn't dirty/delete. The solution would then be to make the rule directly build them.

[2017-10-11 23:02] snowleopard commented on #432
@bgamari Thanks for the report and proposed fix. Hope we'll find a way to fix the linked issue!

[2017-10-11 23:12] snowleopard commented on #433
Right, it's unclear how to fix this. Here is the problematic line:

https://github.com/snowleopard/hadrian/blob/master/src/Rules/Gmp.hs#L82

The `package-data.mk` file is up-to-date, so we do not rerun `ghc-cabal configure`. And here is the rule that runs `ghc-cabal configure`:

https://github.com/snowleopard/hadrian/blob/master/src/Rules/Data.hs#L19

As you can see, it's a generic rule, handling

[2017-10-11 23:25] bgamari commented on #433
Yes, that makes sense and indeed it looks like that is what is happening here.

I'm not sure how to best reorganize the rules such that this property holds. It seems that `libraries/integer-gmp/gmp/config.mk` is generated by the `package-data.mk` rule, defined generally in `Rules.Data.buildPackageData`. Indeed the rule for `libraries/integer-gmp/gmp/config.mk` depends upon this rule; however, `pac

[2017-10-11 23:26] bgamari commented on #433
Whoops, indeed it look like we came to the same conclusion @snowleopard; your comment didn't show up until I had already submitted.

[2017-10-11 23:27] bgamari commented on #433
That would be great; I'm currently doing what I can to make sure that the various build configurations work as expected in preparation for merging.

[2017-10-11 23:31] snowleopard commented on #433
@bgamari Aha, we're on the same page :-) Here's what I propose:
* Factor out the `package-data.mk` rule into a function and export it from the `Rules.Data` module.
* In `Rules.Gmp` add a higher-priority build rule for `integer-gmp`'s `package-data` **and** `config.mk`, which simply calls the exported build function.

If you're up to implementing this, go ahead without waiting for me.

[2017-10-12 14:23] bgamari opened #434 "Treatment of absolute paths in (-/-) is questionable"
Consider the expression,
[code]
What should this evaluate to? Currently it evaluates to `/build/usr/lib/hello`, interpreting the second argument as a relative path. This seems a bit surprising. Is this intentional?

[2017-10-12 14:25] bgamari commented on #434
To be clear, by "surprising" I mean "differs from `System.FilePath.(</>)`" ([haddocks](https://hackage.haskell.org/package/filepath-1.4.1.2/docs/System-FilePath-Posix.html#v:-60--47--62-))

[2017-10-12 14:58] snowleopard commented on #434
Here is a relevant issue: https://github.com/snowleopard/hadrian/issues/218

@bgamari We don't want to call `</>` because it messes up slash direction on Windows, but we can make the behaviour less surprising.

[2017-10-12 18:17] bgamari commented on #219
I am looking at this. As far as I can tell there are two pieces to this (in the unix case at least),

 1. Building the bindist tarball
 2. Implementing the installation logic

In principle (1) is straightforward, being very similar to the source distribution case.

In the case of (2), however, there are a few possible directions to take,
 a. Continue using the current build system for its `make in

[2017-10-12 22:36] snowleopard commented on #219
@bgamari I agree. We can rely on option (1) while Make is still in the tree, and (2) will be a good long-term solution. We don't want to build Hadrian or any other executable just to make a binary installation, a script should be sufficient.

[2017-10-13 14:48] bgamari commented on #219
Ideally we would be able to reuse Hadrian's `install` logic while implementing the bindist logic. It would be a shame to have to duplicate this logic. For instance, one might write down a small DSL for installation actions which could be interpreted by Hadrian directly to implement the current `hadrian install` rule, or interpreted to produce a bindist install script.

[2017-10-14 22:00] ndmitchell opened #437 "Enable branch protections"
You have a policy of never pushing to master, other than through PR's - which makes a lot of sense. Have you considered enforcing it via https://help.github.com/articles/configuring-protected-branches/?

[2017-10-14 22:53] snowleopard commented on #437
@ndmitchell `master` is already a protected branch, however the following option is unchecked: `Require pull request reviews before merging`. Do you mean to enable it?

I'm fine as long as it doesn't force me to go via PRs myself: I do most reviews myself anyway, so it would be a bit counter-productive.

[2017-10-15 11:54] izgzhen opened #438 "build failed because of cabal new-run unrecognised arguments"
https://travis-ci.org/snowleopard/hadrian/jobs/288055338

As I found, only cabal 2.1.0.0 from the cabal HEAD can accept argument after `--` successfully. Is there a bug in cabal?

@bgamari

[2017-10-15 12:02] snowleopard commented on #438
@izgzhen Yes, thanks for registering this as an issue. This comes from merging #435. I guess we might want to revert unless there is another way to pass extra arguments to the executable when using `new-run`?

[2017-10-15 12:07] izgzhen commented on #438
@snowleopard I think reverting a bit plus checking cabal's version number > 2100 before using `new-run` would be good

[2017-10-15 13:57] snowleopard commented on #438
@izgzhen If we revert then we are back to the problem mentioned by @bgamari:

I'm not familiar enough with Cabal to offer any fixes. Any suggestions about what can be done to improve the reliability for Cabal < 2100?

[2017-10-15 18:26] ndmitchell commented on #437
Going via PR's yourself would mean that you went via the CI test suites as well, which for a project with as many people grabbing it, might be handy. You might have protected it since I last accidentally merged, which might well be enough - I'm just trying to stop me screwing up.

[2017-10-15 18:58] snowleopard commented on #437
Indeed! I've ticked this extra box. Hopefully, that's enough protection, so I'm closing this.

[2017-10-15 18:58] #437 closed

[2017-10-15 21:03] duog commented on #438
Perhaps we could forgo new-build, and always use sandboxes?

[2017-10-15 22:57] snowleopard commented on #438
Are there any downsides to using sandboxes?

[2017-10-17 04:26] duog commented on #438
I don't think so; I would refine my suggestion to use sandboxes for cabal-install < 2.1.

[2017-10-17 11:43] snowleopard commented on #438
@duog OK, let's go for it. If you can send a PR that would be great, otherwise I'll try to do this tonight.

[2017-10-17 23:16] snowleopard commented on #438
The above commit seems to have done the trick.

[2017-10-17 23:16] #438 closed

[2017-10-17 23:49] bgamari commented on #438
Indeed I think sounds like the right approach to me.

[2017-10-18 00:12] snowleopard commented on #433
While trying to fix this I got the following Shake error:
[code]

As a workaround, I modified the last pattern to start with the `//` wildcard as well (yes, that's a hack). But this then failed with the following error:
[code]
The file `libraries/integer-gmp/gmp/config.mk` **was** built, but Shake clearly expected all `//` wildcards to resolve to the same string. @ndmitchell Any suggestions? Note

[2017-10-18 02:06] izgzhen commented on #299
The latest result with `default` flavour showed a regression:

[code]

I think I shall drop the PR #422 for now, since I still haven't find any clear way to get a better validation result yet.

[2017-10-19 16:29] bgamari commented on #433
Yes, this sounds reasonable to me. In principle `autoconf` supports out-of-tree builds. That is to say, you can run `configure` in any directory, including one that isn't the source root, and it will generate a build system there. So, for instance, if I do the following starting in the `ghc` root directory,
[code]
I get a bunch of files in `tmp/`, including `gmp/config.mk`.

Unfortunately, I'm not

[2017-10-19 16:50] bgamari opened #439 "Feature request: An easy way to add compiler flags on the command line"
While working on a ticket I realized that there is something that I do fairly often that I'm not sure Hadrian supports: adding compiler flags on the command line. For instance,
[code]
I will often do this to suppress added trace output until the build gets to the file I am interested in looking at more closely. Then I will run just plain `make` to get the trace output for that file. If I need furt

[2017-10-19 17:18] snowleopard commented on #439
@bgamari Hadrian can't change flags via command line that at the moment. However, it's possible via the `UserSettings` file:

https://github.com/snowleopard/hadrian/blob/master/doc/user-settings.md#command-line-arguments

Note that with the above it's easy to add file-specific arguments, e.g. `file "//Prelude.hs" ? arg "foo"`. You can also enable verbose output on per-file basis:

https://github.c

[2017-10-19 18:12] bgamari commented on #439
Well, I think using `UserSettings` is fine but I'm concerned that it might rebuild too much. The `make` build system doesn't include compiler flags in its recompilation check whereas I believe Hadrian does. Doesn't this mean that, for instance, adding `-dno-debug-output` will cause recompilation of the entire project?

[2017-10-19 18:21] snowleopard commented on #439
@bgamari Aha, indeed. There is a notion of 'tracked arguments' in Hadrian, and most arguments are indeed tracked. However, one can declare some arguments as non-tracked, for example, `-jN` is not tracked when passed to Make:

https://github.com/snowleopard/hadrian/blob/0781e16f1184adc1b35921924326df410ded3e31/src/Target.hs#L17-L26

We can add `-dno-debug-output` as a non-tracked argument.

[2017-10-19 23:04] snowleopard opened #440 "Preparing for the merge"
So, it looks like Hadrian is finally getting merged! 🎉

The plan is to merge Hadrian as is, without yet recommending GHC developers to switch to it, but already requiring all GHC patches to be buildable both by Make and by Hadrian.

Let's use this issue to keep track of what needs to be done.

- [x] Fix all references to GitHub issues and pull requests in the source from #N to concrete GitHub link

[2017-10-20 02:17] izgzhen commented on #440
If using `git subtree`, where the main development will happen? In this repo, or in the GHC tree?

[2017-10-20 02:55] angerman commented on #440
As I've raised the same question again. I believe this should be a submodule while development continues on GitHub. And then become a subtree, once development will shift over to phabricator.

[2017-10-20 10:34] snowleopard commented on #440
@bgamari Can you comment on why you think `git subtree` is the way to go?

[2017-10-20 11:04] snowleopard commented on #440
My understanding of the difference between `subtree` and `submodule` is:
* `subtree` will keep a copy (a snapshot) of Hadrian's repo in the GHC tree. To update the copy we can `pull` from Hadrian's repo, probably squashing the commits, and push them to GHC. It is also possible to push changes made to Hadrian in GHC repo to Hadrian's repo.
* `submodule` will keep a link to a specific commit in Hadr

[2017-10-20 11:11] snowleopard commented on #440
P.S.: I just noticed there is a continued discussion on the `ghc-devs` mailing list with some detailed comments from @hvr and @angerman. I'd prefer to keep the discussion here, as email is not the best medium.

[2017-10-20 12:39] angerman commented on #440
Just for reference, the email conversation @snowleopard is referring to is the one starting here: https://mail.haskell.org/pipermail/ghc-devs/2017-October/014890.html

@snowleopard my initial impression of git subtree was likely flawed and it doesn't really embed one repo into another. However, I'll say this again. For consistency I would very much prefer git submodule over git subtree. As every o

[2017-10-20 12:55] snowleopard commented on #440
@angerman Yes, this is a very good point. Indeed, git submodules are familiar to all GHC developers.

Aha, I didn't realise this!

I have no problems with moving this repository into the `ghc` organisation if this helps. As far as I understand this should not affect commits/issues/PRs. In fact, being part of the `ghc` organisation makes a lot of sense. I should have probably started the repo there

[2017-10-20 15:32] bgamari commented on #440
Yes, but submodules and subtrees are two quite different solutions addressing rather different use-cases; they are not interchangeable. The former is essentially a pointer to a commit in an external repository. As far as the history of the containing repository is concerned the submodule has no "structure". The submodule is just a file with a commit SHA in it. We indeed use submodules for tracking

[2017-10-20 16:12] snowleopard commented on #440
@bgamari I see you point. How will this look from the point of view of a GHC developer? We'll need to provide some guidance in the `README`, so people are not lost. What about the following?

* If you need to build GHC with Hadrian, run `./build -j` from the GHC root. (This assumes we create top-level scripts `build.sh` and `build.bat` that simply redirect to appropriate scripts in Hadrian subdire

[2017-10-20 16:47] hvr commented on #440
Fwiw, I have the following in my `~/.gitconfig`:

[code]

so I can `git pullall`; how exactly would I need to change that to have the same "rebasing" pull for a subtree?

[2017-10-20 17:58] Ericson2314 commented on #440
@hvr That will continue to work!

The `git subtree pull hadrian master` people mention is analogous to changing the commit hash of a submodule:
[code]
a mouthful which is not part of your alias.

[2017-10-20 17:59] Ericson2314 commented on #440
For comparison, the Rust people are going with the subtree approach as we speak with their core language interpreter:

https://github.com/solson/miri/pull/258
https://github.com/rust-lang/rust/pull/43340

[2017-10-20 18:49] hvr commented on #440
@Ericson2314 do I understand it right that `git subtree pull hadrian master` is the equivalent of `git submodule update --remote ./hadrian` for subtrees?

[2017-10-23 01:50] angerman commented on #440
Can we maybe start with the "small" and easy things? E.g. move this to github.com/ghc? @hvr, @bgamari, who can give relevant permissions?

[2017-10-23 16:14] snowleopard commented on #440
Happy to start the move, but so far it appears there is no consensus on how to proceed. We can do easy things, but I'd still prefer to have the full picture of what is going to happen before rushing ahead.

[2017-10-23 16:37] Ericson2314 commented on #440
@hvr Yes. I didn't know about `git submodule update --remote`.

[2017-10-26 02:06] izgzhen opened #443 "Installation failed due to missing `libCffi-ghc8.3.20171017.so`"
as you might find from the logs below, `libCffi-XXX.so` was built one month ago, but not now.

[code]

[2017-10-26 13:55] bgamari commented on #440
@hvr, yes, that is correct.

@snowleopard, I agree, we should have a complete story before moving ahead.

However, @angerman said via IRC that he is alright with moving ahead with the subtree approach, so I suspect consensus isn't far off.

There will be a `hadrian` directory in the root of the `ghc` tree, just as though you had checked out hadrian today. One can update the subtree via `git subtre

[2017-10-26 16:37] snowleopard commented on #440
@bgamari Many thanks! Great that the consensus is near.

I've updated the top todo list, please have a look. The last two items are with question marks:

* Do we need `build.sh` and `build.bat` scripts in the GHC root or shall we keep them in `hadrian` folder for now? I think they may confuse people into thinking that Hadrian is already default.

* Do we move this repository to https://github.com/

[2017-10-26 16:54] snowleopard commented on #443
Hmm, sorry if this was my fault. Can you `git bisect` to the offending commit?

[2017-10-26 22:39] bgamari commented on #440
I agree. For now let's keep them in `hadrian/`.

I don't think this is necessary. Let's keep it under your account. This will hopefully be a relatively short-term solution. I hope that soon enough we will be able to move development into the `ghc` repository itself.

I believe `git subtree push` will do the right thing here.

[2017-10-26 23:19] snowleopard commented on #440
@bgamari I see, thanks! I'll take care of remaining todo's in the next couple of days.

This bit is still unclear:

To make this work I think I need to arrange for GHC commits to be accepted in the Hadrian master branch (or a new branch to be merged via a PR). How do I do that? I guess in the worst case I'll just need to give push permissions to GHC developers manually (most likely there will not

[2017-10-26 23:33] bgamari commented on #440
How about we just keep things simple: allow contributors to push to their own forks of Hadrian and open pull requests just as they do now.

[2017-10-26 23:37] snowleopard commented on #440
@bgamari Yes, I think it does.

[2017-10-27 01:24] izgzhen commented on #443
Sure, I will try.

[2017-10-28 09:30] angerman opened #444 "`setting` is an Oracle"
The `setting` from `Oracles.Setting.hs` is an Oracle (doh!).
It contains as far as I can see all kinds of autoconf generated
information, which would be good to have at Rule Building
time.

As far as I understand Oracles, they can only be used with
Actions. I however do not see why it needs to be an oracle.

Shouldn't the `cfg/system.config` be generated by the
autoconf configure script, and such

[2017-10-28 10:29] ndmitchell commented on #444
You can use action to run an oracle at rule building time - but it is slightly restricted. Can you give an example in pseudo code of the kind of thing you'd like to write?

[2017-10-28 10:40] snowleopard commented on #444
The `configure` script takes a bunch of files (such as `system.config.in`) and generates a bunch of files (such as `system.config`), so we treat it just as another `Builder`. The benefits are:
* Uniform tracking of its dependencies, e.g. if `system.config.in` is changed, we need to rerun `configure`.
* Uniform treatment of command line arguments passed to it, including their tracking.
* Tracking i

[2017-10-28 11:10] angerman commented on #444
Right now, I'm wondering how to get the proper set of stage0 packages at the time of building rules.
And this seems to be impossible right now, as stage0packages depend on e.g. the host, and other properties the configure script computes.

[2017-10-28 11:11] ndmitchell commented on #444
Why do you want that set of packages when building the rules?

[2017-10-28 11:13] angerman commented on #444
I see the attractiveness of this. I would however argue that the build system should not take over configure. If I change the autoconf part, and fail to run configure, that's kind of acceptable to me.

However I'd prefer the configure and building step to be separate and not interlinked. The files generated by the configure script should be fixed across the build.

[2017-10-28 11:14] angerman commented on #444
I want to ensure that I for example, will *never* be able to build the `rts` package in stage0. I could of course hardcode these as a filter, but that seems quite hacky.

[2017-10-28 11:17] ndmitchell commented on #444
Why not move the check - write a rule that can build any package in stage0, and then have that rule check it's valid at the start.

[2017-10-28 11:23] angerman commented on #444
Can you point me to an example? Can I have a second matching rule as a fallback?

Assume I want to *not* build rts in stage0, but would want to copy in the rts package from somewhere else for stage0?

[2017-10-28 11:30] angerman commented on #444
Ok. After writing that and giving it another though. Yes I might just use a catch all rule and dispatch in the body.

Thanks for the pointer!

[2017-10-28 12:38] snowleopard commented on #444
@angerman Note that it is possible to run Hadrian with `--skip-configure` in which case the configure step is fully managed by the user.

I think for the majority of people who would like to build GHC the current default if more convenient: no need to know what `configure` is at all.

I do agree however that sometimes not knowing settings statically makes the code more complicated, and there are a

[2017-10-29 16:16] hvr commented on #444
I strongly disagree. Hiding the well-understood `./configure`-then-`make install` paradigm everyone in the OSS world is used to is  only going to cause all sorts of trouble. Please stop trying to fight GNU Autoconf just because you don't like it, it's not something that needs to hidden from end-users, and certainly not from GHC developers. After all, Hadrian is supposed to make life easier for GHC

[2017-10-29 18:13] snowleopard commented on #444
@hvr Looks like you banished me from the OSS world :)

Yes, that's my primary optimisation point. I'm not a GHC dev myself, so what I like doesn't matter at all.

The current default was chosen after a _brief_ discussion with several active GHC devs, and I do not plan to change it right now. When we fix all outstanding issues and are ready to make Hadrian default, please raise this question with G

[2017-10-29 18:46] hvr commented on #444
I want names

[2017-10-29 19:02] snowleopard commented on #444
Well, you can start by talking to SPJ. But I don't see why you need specific names -- just talk to all GHC devs.

I'm happy to accept a PR that makes it possible for Hadrian users to pick the default in `UserSettings`.

[2017-10-29 19:32] snowleopard commented on #440
@bgamari I have one more question, following the recent incident with spamming GHC devs with every single Hadrian commit ;-)

I thought the plan is to squash all Hadrian commits in the GHC subtree to avoid adding so many commits to the GHC history. The complete commit history will be preserved in the GitHub repository anyway, so why duplicate it? However, judging by the above-mentioned incident, i

[2017-10-30 00:12] bgamari commented on #440
Ahh, so we had very different understandings of this decision it seems. I would be fine with squashing if you would like. My understanding from our discussion is that you preferred to keep the entire history, which I also understand and would be fine with. Having the entire history available within the GHC tree would be quite convenient and comes at a very small cost. We can disable the `ghc-commi

[2017-10-30 02:22] snowleopard commented on #440
Yes, I do want to keep the entire history, but not necessarily in both repositories. If you think the cost is very small then we can keep it. My only concern is that Hadrian's history is not very pretty: it's not just the history of Hadrian, it's also the history of my learning Haskell -- there's quite a lot of junk :-)

[2017-10-30 03:20] snowleopard commented on #428
I think I've done all we planned for this issue, so we can now close it. Do reopen if I forgot anything.

[2017-10-30 03:20] #428 closed

[2017-10-30 04:57] bgamari commented on #440
Andrey Mokhov <notifications@github.com> writes:

You should have a look at some of the earlier history of GHC sometime;
after doing so I suspect you won't feel quite so bad about hadrian. ;)

[2017-10-31 16:05] hvr commented on #440
Well,  to be fair, we have improved the Git history discipline since then, promoting the use of logically partitioned commits (each validating for the sake of git bisect!) and a flat history, as well as writing meaningful commit messages, up to the point of enforcing git commit formatting conventions via hook scripts... ;-)

[2017-10-31 18:54] bgamari commented on #440
Andrey Mokhov <notifications@github.com> writes:

Sure, that works. Let's do it!

[2017-10-31 23:55] snowleopard commented on #440
@bgamari Right, I'm on it. Sorry about the delay, got overrun by work :(

[2017-11-01 13:40] angerman commented on #444
@snowleopard

This puts me in the minority. And I am also not convinced that not needing to know about configure is a good thing when building GHC. So I disagree that I consider the current default convenient. My shell history is now full of hadrian invocations with `--skip-configure`.

Anyhow. The original issue was resolved, and as such I'm going to close this issue.

[2017-11-01 13:40] #444 closed

[2017-11-01 13:42] angerman commented on #415
`ld` on macOS doesn't have `--version`. Not sure why we would try to call `--version` on it.
`ld` on macOS is `ld64`, and supports `ld -v` though.

[2017-11-01 13:48] angerman commented on #395
I've tried this in #445, it ends up being rather annoying, due to the automagic logic with builder arguments.

You end up wanting to add all kinds of packages to `ghc-cabal`. And the `cbits` text, generating the Lexer with alex is less of an issue.

Now, you don't have ghc-cabal, but you start querying the `package-data.mk` for various packages (e.g. text) to figure out ccFlags, and others. Howeve

[2017-11-01 14:08] snowleopard commented on #444
@angerman Thanks! So we have at least you and @hvr against the current default. When we are close to making Hadrian the main build system, we'll need to set up a discussion in the GHC developers mailing list to see the general preference.

[2017-11-01 15:17] snowleopard commented on #395
Note: Hadrian is already built with Cabal/Cabal from the GHC tree. If I understand you correctly, we'll also need to add `../libraries/parsec` as an extra source directory?

I can see how hacking on Cabal may be problematic, because you may need to rebuild Hadrian itself in this case. That's something I've never previously thought about.

[2017-11-02 01:03] angerman commented on #395
I don't think this would be much on an issue actually when invoking hadrian via the build script, as cabal should keep proper track of the changed files anyway. If seemingly does not currently, but that might be because my bootstrap cabal is using sandboxes and there might be some subtle issue.

The way forward is definitely cabal new-build. And I believe that new-build would track this correctly.

[2017-11-02 11:06] snowleopard commented on #395
Oh, that's clever! Sounds even suspiciously too clever at first glance, but I think it should work indeed.

[2017-11-02 19:45] bgamari commented on #444
For what it's worth I also generally agree that `configure` should be left to the user. It's not an infrequent occurrence that I need to pass flags to `configure`. I worry that some day I may do so, only to have Hadrian override my flags during its run may lead to quite some confusion.

[2017-11-03 04:01] angerman commented on #395
Ok. So with cabal new-build, this seems to actually work. When ever my `libraries/Cabal/Cabal` change, cabal does the tracking right and rebuilds hadrian.

I believe I'm going to just try and roll `ghc-cabal` into `hadrian` at this point. That would also relieve the issues with trying to build `ghc-cabal` with `-DPARSEC`. However, I still believe the inability to do this trivially is a defect in t

[2017-11-03 07:21] ndmitchell commented on #395
The issue we had in the past with merging ghc-cabal is that it requires a specific current directory, which is incompatible with parallelism as the pwd is a global shared resource.

[2017-11-03 07:56] angerman commented on #395
Couldn't one use shakes resource management to ensure that no two invocations with different pwd's are running at the same time? That would of course restrict parallelism a bit. On the other hand, maybe this could be fixed in Cabal proper.

[2017-11-03 09:11] ndmitchell commented on #395
Shakes resource is more fine grained than that, you have to say which rules conflict, and this will conflict with everything. The correct thing to do is fix cabal, but if you want the grim in Shake it should be possible - let me know.

[2017-11-03 17:41] bgamari commented on #18
This idea came up again in #395.

I have confirmed with @dcoutts that `lib:Cabal` indeed assumes that the cwd is the the root of the package being built. It doesn't sound like this is going to change in the near future.

[2017-11-04 13:07] snowleopard commented on #440
@bgamari I think Hadrian is ready for the merge. The only thing left for me to do is to create a branch in GHC, say `wip/hadrian`, and add Hadrian as a `git subtree`, squashing the history. To be precise, here is what I plan to do:
[code]
And then `arc diff HEAD~` to send the diff to Phabricator.

Have I missed anything?

Do we need to disable the `ghc-commits@` hook or is it OK since I'm squashin

[2017-11-04 23:32] #414 closed

[2017-11-05 00:07] snowleopard commented on #301
With #428 fixed, I think we can close this one too.

[2017-11-05 00:07] #301 closed

[2017-11-05 00:33] snowleopard commented on #139
This has partly been resolved: we no longer have any literate Perl in GHC and the corresponding build rule has been removed from Hadrian.

As for removing Perl from GHC entirely, this seems to be more suited as a GHC ticket, not a Hadrian one. And there is, for example, https://ghc.haskell.org/trac/ghc/ticket/9832.

So, I think we can close this issue. When there is no Perl in GHC, dropping the Pe

[2017-11-05 00:33] #139 closed

[2017-11-05 00:35] snowleopard commented on #226
Note: PR #445 is relevant for this issue.

[2017-11-05 00:54] snowleopard commented on #296
@izgzhen What is the status of this? My feeling was that you've already fixed all missing warnings, so is the above todo list out-of-date?

[2017-11-05 13:23] izgzhen commented on #296
- https://github.com/snowleopard/hadrian/blob/master/src/Settings/Builders/Cc.hs#L16-L17
- https://github.com/ghc/ghc/blob/master/mk/warnings.mk#L16-L18
- https://github.com/ghc/ghc/blob/master/mk/warnings.mk#L46-L47
- https://github.com/ghc/ghc/blob/master/mk/warnings.mk#L73
- https://github.com/ghc/ghc/blob/master/mk/warnings.mk#L78

[2017-11-05 13:26] izgzhen commented on #296
please wait a bit, I am still updating the list, but

1. I believed that there must be something missing
2. But maybe some of them in `Makefile`s are not really necessary? considering the difficulty of maintaining the validity of these flags

[2017-11-05 13:46] snowleopard commented on #296
@izgzhen Thanks! Can you tick off the items in the top todo list? If not, let me know what to mark as complete and I'll do that.

It's quite possible, of course. If you don't know what a particular warning flag is for, I suggest we skip it. If it is actually needed someone knowledgeable will add it to Hadrian later.

[2017-11-05 13:50] izgzhen commented on #296
It looks like all three unmarked categories has one or more lines as in the latest list just collected by me :( so I am not sure if any of them can be really ticked off

[2017-11-05 14:45] snowleopard commented on #296
@izgzhen Let me take this over this. I have some time today, so hopefully will be able to fix the remaining warnings. Here is the todo list based on your findings:

- [ ] https://github.com/snowleopard/hadrian/blob/master/src/Settings/Builders/Cc.hs#L16-L17
- [ ] https://github.com/ghc/ghc/blob/master/mk/warnings.mk#L16-L18
- [ ] https://github.com/ghc/ghc/blob/master/mk/warnings.mk#L46-L47
- [ ]

[2017-11-06 01:28] snowleopard commented on #296
I think I've fixed the warnings in #448, so we can close this.

A couple of notes:
* There were a few Windows-specific warning suppressions, but they appear to be outdated (I don't get any warnings on my Windows machine).
* I didn't include warning suppression flags for packages that we do not build (such as `vector`).
* Apparently, `Cc` builder is unused at the moment -- all C files are compiled

[2017-11-06 01:28] #296 closed

[2017-11-06 02:26] izgzhen commented on #296
Awesome!

[2017-11-06 04:39] izgzhen commented on #443
For my most recent build, it looks like everything is getting built again and that error is gone now. I will close this issue (difficult to find enough time to `bisect` into what caused and fixed this problem, sorry)

[2017-11-06 04:39] #443 closed

[2017-11-06 19:18] bgamari commented on #440
This looks right to me. However, let's not go through Phabricator. Just push the branch to `git.haskell.org` and I'll have a look at it and merge.

This shouldn't be necessary since there will be only one commit.

[2017-11-06 23:18] joehillen commented on #376
I've been interested in hadrian for a while and I thought I'd start with some easy issues, but I just replaced the line with `needBuilder Hsc2Hs` like the TODO suggests and it seems to work fine.

Do you remember what the problem was before?

[2017-11-06 23:35] snowleopard commented on #376
@joehillen Thanks for helping!

This change was done in #378. I believe `needBuilder Hsc2Hs` worked for me and on all CI bots too, but for some reason it was failing on @izgzhen's machine.

@izgzhen Could you check if `needBuilder Hsc2Hs` still doesn't work for you?

[2017-11-07 00:56] izgzhen opened #449 "macOS build failed in parsing gcc-lt-34 configuration flag"
[code]

[2017-11-07 01:24] izgzhen commented on #376
Looks like `needBuilder Hsc2Hs` is fine with me (but filed another issue during that process #449 (O_o))

[2017-11-07 01:28] bgamari commented on #449
This is almost certainly fallout from https://phabricator.haskell.org/D4165

[2017-11-07 01:56] izgzhen commented on #449
I see. I'll give a fix today

[2017-11-07 02:09] izgzhen commented on #379
done in https://github.com/snowleopard/hadrian/commit/7a85ccf58a5fdd82fa44cc0a2703c4bc621211e1

[2017-11-07 02:09] #379 closed

[2017-11-07 08:27] snowleopard commented on #449
Poor `GccLt34`. Its life was so short (was added to Hadrian two days ago).

[2017-11-07 11:49] izgzhen opened #451 "Put cWarnings in a different file"
https://github.com/snowleopard/hadrian/blob/1ade88547a2c3256c6b6e6de8c546a04dc1ae1d3/src/Settings/Builders/Common.hs#L43-L50

Filed in case we forgot :) It should easy to pick up for anyone and not so urgent.

Tip: maybe we should put it along with other warnings args.

[2017-11-07 17:21] snowleopard commented on #449
This was fixed in #450.

[2017-11-07 17:21] #449 closed

[2017-11-07 17:27] snowleopard commented on #440
I've pushed my branch: http://git.haskell.org/ghc.git/shortlog/refs/heads/wip/hadrian

However, there is some turmoil in the GHC at the moment, so might want not to rush with merging:
* Configuration settings like `GccLT34` got removed, as addressed in #449.
* While fixing the above in #450, it was discovered that GHC's bootstrapping with GHC 8.0.2 is currently broken, most probably due to this co

[2017-11-08 11:08] snowleopard commented on #376
@izgzhen So, as I understand we should bring `needBuilder Hsc2Hs` back.

By the way, Hadrian is back to the all-green status.

@joehillen Let us know if you have any other questions.

[2017-11-08 17:30] snowleopard commented on #376
@joehillen Yes, please do open a PR!

Let me clarify the purpose of this issue:
* Find all relevant `need`'s in the code. I'm not sure that the `grep` above catches all cases, as we might have something like `need [x, "y", z]` or `need [x -/- "y"]`. Ideally, all `need`s should be looked at.
* Analyse all suspicious `need`s. Each can be either fixed or left as is: there will be pros and cons in eac

[2017-11-10 18:22] bgamari commented on #440
The merge has happened. See ghc/ghc@977305346cffad70f0977467153cce52b2d1ae0b.

[2017-11-10 19:48] snowleopard opened #453 "Fix CI"
Merging Hadrian into the GHC tree broke the CI, for example see:

https://circleci.com/gh/snowleopard/hadrian/181

I think it should be easy to fix, but I'll record it here anyway.

[2017-11-11 02:58] snowleopard commented on #453
The scripts are fixed, but it appears that Hadrian is still broken by changes in GHC. Will investigate tomorrow.

[2017-11-11 02:58] #453 closed

[2017-11-11 07:57] angerman commented on #440
@bgamari

Can someone please tell me how I point that subtree to a different repository and branch?
With a submodule, I'd simply change the remote and branch. I know how to do that. For
the subtree the best I found was:

[code]

But that just sounds wrong. I have +2k commits now on my branch.

[2017-11-11 08:38] angerman commented on #440
with `--squash` I only have a single commit left. So, now I wonder how I merge the upstream hadrian into my fork with `git subtree`

[2017-11-11 13:20] angerman commented on #440
So I need help with:

- blaming, now that everything is squashed I can't properly blame anymore :(
- how do I commit, and have those commits end up in the upstream repo/branch?
- my tooling used to automatically pick up projects based on git repositories. As such searching *in* hadrian was confined to looking up search strings *in* hadrian. Now it's always returning matches for all of GHC :-/

I'v

[2017-11-11 13:24] angerman commented on #440
Now that my GHC tree has a completely different hadrian subtree than upstream. And GHC upstream pulls hadrian periodically, does that mean I'll keep running into merge conflicts?

[2017-11-11 13:26] angerman commented on #440
Someone please just tell me what commands I need to run to keep working on my hadrian fork in GHC. Please!

[2017-11-11 13:33] snowleopard commented on #440
@angerman I don't have all the answers, but my understanding is that we continue Hadrian development in the GitHub repository, where we have the full history.

Here is what I do:

[code]
This is not ideal, but works for me.

[2017-11-11 13:45] snowleopard commented on #440
@angerman I fear my workflow might not work for you, because you also make concurrent changes to GHC itself, while I do not... Sorry, the merge caused issues for you. One other (non ideal) solution is to stick to an older pre-Hadrian GHC commit if that works for you?

[2017-11-11 14:48] snowleopard commented on #453
Should be completely fixed now.

[2017-11-11 15:33] snowleopard commented on #395
The above commit seems to have fixed this issue, at least now the build completes with `-DCABAL_PARSEC`.

I'm closing this issue, but if I missed anything, please reopen

[2017-11-11 15:33] #395 closed

[2017-11-11 20:00] bgamari opened #457 "Automatic run of configure silently overrides previous configure options"
Earlier today I started a GHC build with some flags passed to `configure`. Essentially, something like this,
[code]
Only when the build finished did I notice that Hadrian had taken the liberty to run `configure` again on its own, in the process silently overriding my flags. This is rather insidious behavior can drive you crazy if you don't expect it while debugging.

Ultimately, I think it would b

[2017-11-11 20:10] snowleopard commented on #457
@bgamari OK, I think with you, @hvr and @angerman all saying the current default is wrong, and noone supporting it (at least here on GitHub), I have no other choice but to change it :)

What about the following plan?
- [ ] Don't run `boot` or `configure` scripts by default.
- [ ] Remove the `--skip-configure` flag.
- [ ] Add  `--configure` flag (`-c` for short) which activates the current behaviou

[2017-11-11 21:33] bgamari commented on #440
@angerman, I believe the correct way to do this would be to simply work on `hadrian` within GHC and then `git subtree push` your changes to your Hadrian fork.

[2017-11-11 22:07] bgamari commented on #457
Sounds perfect.

[2017-11-11 23:04] angerman commented on #440
@bgamari, that’s what I tried. (See above) but a push that takes multiple minutes and pushes multiple megabytes for a single small commit seems wrong, no?

[2017-11-12 01:13] angerman commented on #440
Just for the record. I've given up on the subtree, and added a submodule to my GHC tree. I'm not happy about the situation, but it allows me to keep on working.

[2017-11-12 11:51] snowleopard commented on #457
Done.

[2017-11-12 11:51] #457 closed

[2017-11-12 23:09] snowleopard commented on #457
@bgamari What's the protocol regarding pushing changes to GHC? Are you going to do this periodically or shall I do this?

I'd like the above commit to reach GHC as soon as possible, as I'm planning to send an update about Hadrian to GHC devs mailing list.

[2017-11-13 03:59] bgamari commented on #457
Andrey Mokhov <notifications@github.com> writes:

I don't mind doing it periodically but if there is a change you would
like to see in ASAP feel free to push an update yourself.

[2017-11-13 11:53] snowleopard commented on #457
@bgamari Thanks, will do today, squashing the commits as usual.

[2017-11-15 13:20] angerman opened #460 ""//" rules seem to match even outside of the build root."
So I have a `ghc-pkg` (my bootstrap one) in `/path/to/ghc-bootstrap/stage1/bin/ghc-pkg`. Now hadrian calls `need` on any builder, which is totally fine. But the rule for `Program`s, which looks like
[code]
still fires, even though my build root is `/path/to/_build`.

[2017-11-15 13:26] angerman commented on #460
I believe this is to be expected behavior:
- https://hackage.haskell.org/package/shake-0.16/docs/Development-Shake.html#v:-63--61--61-
- http://shakebuild.com/manual#toplevel-variables

[2017-11-15 15:32] snowleopard commented on #460
@angerman I like your solution and I might factor it out into a separate PR soon (time permitting), becuase it might help simplify a couple of other things too. Hope you don't mind me stealing your trick :)

By the way, this may also be relevant: https://github.com/ndmitchell/shake/issues/376

[2017-11-15 18:23] bgamari opened #461 "Document how to build a stage 3 compiler"
How does one do this?

[2017-11-15 18:53] snowleopard commented on #461
I don't think I've ever tried this actually. Will give it a try!

[2017-11-15 22:22] snowleopard commented on #239
Hadrian has been merged, so I think we can close this issue.

[2017-11-15 22:22] #239 closed

[2017-11-16 02:05] duog opened #462 "Hadrian does not fail gracefully if it cannot read its state"
I accidentally tried to build ghc with a four month old version of hadrian.

Realising my mistake, I updated the source and build again, and was confronted by this error:
[code]

`hadrian/build.sh clean` did not fix it.
removing _build did fix it.

[2017-11-16 02:10] duog opened #463 "build.cabal.sh breaks badly if hadrian's dependencies do not successfully install."
running build.cabal.sh with Cabal <2.1 triggers this code path:
[code]

If dependencies do not cleanly install one must manually delete the sandbox to proceed.

[2017-11-16 02:53] nh2 opened #464 "Hadrian 7x slower than make for changing RTS files"
On Linux, ghc/ghc@07ac921f48baea84b40835b0b7c476806f7f63f6, when I change `inputReady.c` and recompile with Hadrian:

[code]

With `make` on the `quick` flavour:

[code]

Here `make` is 7x faster and makes iterating on the RTS much more pleasant.

The difference is that `make` seems to recompile only the changes while Hadrian seems to recompile all C files in the RTS.

* [make-output.txt](https://

[2017-11-16 08:39] simonmar commented on #464
With the make build system I normally use `cd rts; make fast -j8` to get really fast rebuilds, I really hope Hadrian can support that. It's a similar problem to `make 2` and the other workflows we have for building a subset of the targets.

[2017-11-16 09:58] k-bx opened #465 "encountered missing dependencies"
Getting this:

[code]

I did `cabal install ansi-terminal extra mtl shake unordered-containers`, but I assume that's not relevant since it didn't help.

[2017-11-16 10:48] hvr opened #467 "Hadrian triggers annoying bell/urgency terminal signals"
I've been running `hadrian/build.sh` in a terminal now, and the terminal where it's running keeps requesting my attention since `hadrian` annoyingly seems to emit bell/urgency hints every couple of seconds while the build runs, which cause my terminal to flash & make sounds in order to get my attention; this is very distracting and seems rather useless. I'm not sure what causes this signals to be

[2017-11-16 11:28] ndmitchell commented on #467
It will be a mistake in the progress reporting piece almost certainly. Does his happen for everyone or does @hvr have special terminal settings.

For info, I once caused a floor of 40 machines in an open plan office to beep every 1s for 40 minutes. That was a screw up in shake progress reporting that didn’t go down well...

[2017-11-16 13:09] nh2 commented on #464
Fixed issue description; `inputReady.c` isn't actually in `rts/`, it's a C file in `libraries/base`.

I should also add, recompiling the same change this way is another 2x faster on make:

[code]

[2017-11-16 13:20] snowleopard commented on #463
Thanks @duog! I suppose the right solution is to detect the failure and delete the sandbox?

I'm not familiar with Cabal sandboxes so it will take me some time to dig out the right commands to run. Presumably this is an easy fix, so a PR is very welcome.

[2017-11-16 13:24] snowleopard commented on #462
@duog Thanks for the report.

Do you mean Hadrian failed with the same error when run with the `clean` target? If yes, this looks like a general Shake issue. Shake should be able to deal with an outdated database more gracefully.

@ndmitchell Do you agree this is a Shake issue or is there a simple workaround we can add to Hadrian?

[2017-11-16 13:31] snowleopard commented on #465
Thanks @k-bx!

Not sure what caused Cabal to fail to resolve dependencies.

If you've already installed dependencies in the global package database, can you try `build.global-db.sh` instead of `build.sh`? It assumes that dependencies are available globally.

Also, since you have Stack, you can also try `build.stack.sh` instead of `build.sh`.

Hopefully at least one of these methods will work for y

[2017-11-16 13:41] snowleopard commented on #467
@hvr That sounds annoying!

I did notice that the MSYS terminal window occasionally flashes to require my attention. I was wondering why this happens too.

:hot_pepper:

[2017-11-16 13:45] ndmitchell commented on #462
Shake should deal with a corrupted database more gracefully... it might need a seq somewhere to force database reading errors to occur correctly.

[2017-11-16 14:06] angerman opened #468 "Drop support for cabal < 2"
My experience with cabal sandboxes and hadrian has been that they've been buggy and did not rebuild as needed. As hadrian is a tech preview in 8.4 I would like to put `cabal >= 2.0` as a requirement for hadrian up for discussion.

It also kills one script to be maintained. Instead of falling back to sandboxes, tell the user to grab a binary distribution of cabal2 from https://www.haskell.org/cabal

[2017-11-16 14:28] snowleopard commented on #468
Yes, I'm in favour of this too.

A few of the recent issues seem to be related to the old Cabal, e.g. #463 and #465.

[2017-11-16 14:47] snowleopard commented on #464
@nh2 Thanks for reporting!

As far as I understand, Hadrian rebuilds the right set of files (they all depend on the changes you made), but Make skips some of the rebuilds because of additional modes for building only subsets of files. Can you confirm that?

@simonmar Yes, we can support something like that. Would you like Hadrian to detect the current directory and make decisions based on it, just

[2017-11-16 17:01] bgamari commented on #468
Actually, wait a moment. Unless I'm mistaken we don't support building in anything *but* sandbox mode with cabal 2. Don't we require `cabal-install >= 2.1` to use new-build mode?

[2017-11-16 17:07] snowleopard commented on #468
@bgamari Yes, the current constraint is actually `cabal-install >= 2.1`, since otherwise we could not pass additional parameters to the executable, see #438. Maybe we can relax this to `cabal-install >= 2.0` by finding a workaround for #438.

[2017-11-16 17:23] duog commented on #468
Perhaps we could pass parameters to the executable through a environment variable rather than the command line?

[2017-11-16 17:44] bgamari commented on #468
So apparently the plan is to release cabal-install 2.1 well before the GHC 8.4 release, so it's possible we could do mandate 2.1 and keep the global database codepath around for users who really can't upgrade for some reason.

[2017-11-16 18:02] bgamari commented on #464
I'm not sure that this is true. Why should we need to recompile `transformers` after changing `base/cbits/inputReady.c`? I would have thought that at most we would need to re-link.

[2017-11-16 18:34] simonmar commented on #464
I don't mind what the flag is, provided we have a way to do this.  Things that I commonly want to rebuild using `make FAST=YES stage=0` or `make fast`:

* rts
* ghc (stage 2)
* libraries/base (any library in fact)
* docs/users_guilde (just rebuilding the html takes a few seconds, really useful when you're iterating on the docs)

[2017-11-16 22:25] ndmitchell commented on #462
I added a seq and a bunch of tests. In particular 397539066a0acd6d4d6558028559147eed5a0e53 fixes the bug, while 7c9b7623eca4a1680b32715d849c13b5b59da102 tests all the places binary serialisation could go wrong, and critically checks that a top-level `phony` will still run in all cases (so `clean` works). Will be in the next Shake release, although doesn't seem critical at the moment.

[2017-11-16 22:25] #462 closed

[2017-11-16 23:25] snowleopard commented on #462
Awesome, thanks @ndmitchell!

[2017-11-17 00:23] bgamari opened #470 "Bootstrap package database isn't properly seeded before building ghc-cabal"
Strangely on one of my machines with ghc/ghc@47ad6578ea460999b53eb4293c3a3b3017a56d65 `hadrian` appears to only initialize the bootstrap package database before trying to compile `ghc-cabal`.
[code]

[2017-11-17 00:35] bgamari commented on #470
Hmm, looking at `Settings.Packages.GhcCabal` I see that we are supposed to remove `mtl` and `parsec` from `cabalDeps`. I wonder why this is not happening.

[2017-11-17 00:37] bgamari commented on #470
Ahh, it looks like this was fixed already. See #455.

[2017-11-17 00:37] #470 closed

[2017-11-17 01:41] bgamari opened #471 "Reduce cost of rebuilding hadrian on change to UserSettings"
I suspect that we should do one of the following to reduce the cost of rebuilding Hadrian when `UserSettings` is changed,

 * Compile all of `hadrian` with `-O0` by default
 * Add a `OPTIONS_GHC -O0` pragma to `src/UserSettings.hs`
 * Add `NOINLINE` pragmas to the bindings in `src/UserSettings.hs`

In all cases the goal is to prevent GHC from giving unfoldings to the bindings in `UserSettings`, me

[2017-11-17 01:45] snowleopard opened #472 "Add support for fast rebuild of a single package (ignoring all other dependencies)"
As discussed in #464, we need a way to tell Hadrian to rebuild a single GHC package ignoring any external dependencies, just like we did when implementing the `--freeze1` feature #250.

See this comment: https://github.com/snowleopard/hadrian/issues/464#issuecomment-345016179.

[2017-11-17 01:45] snowleopard commented on #464
@bgamari Hmm, this may indeed be a bug then. I'll take care of this.

@simonmar Thanks! I've created a separate issue for this: #472.

[2017-11-17 01:50] bgamari commented on #461
Do note that GHC's `make` build system is actually broken in this regard (see [#14469](https://ghc.haskell.org/trac/ghc/ticket/14469#ticket)). Hopefully Hadrian will be able to do better here.

[2017-11-17 02:25] angerman commented on #471
I think th usersettings should be a file read in by ghc.

I’ve suggested YAML to @hvr ;-)

[2017-11-17 02:43] angerman commented on #471
I should have thought of dhall, not sure why I keep forgetting it’s name.

[2017-11-17 02:50] angerman commented on #471
Maybe @Gabriel439 has something to say in support or against using dhall for this?

[2017-11-17 04:13] bgamari commented on #471
On November 16, 2017 9:50:37 PM EST, Moritz Angermann <notifications@github.com> wrote:

I think there would need to be a very good reason for us to accept a dependency for this.

[2017-11-17 04:27] Gabriel439 commented on #471
I have no context here, but since I was cc:ed I'll derail the discussion by recommending Nix instead =P

See: https://github.com/Gabriel439/slides/blob/master/nix-derivation/slides.md

[2017-11-17 13:48] hvr commented on #471
:angry: :rage: :anger: :boom: :skull_and_crossbones:  ;-)

[2017-11-17 17:19] bgamari commented on #461
After explicitly building,
[code]
`hadrian inplace/bin/ghc-stage3` finishes. However, it only builds the `ghc-bin` executable linked against the `ghc` package built by Stage1.

It seems to me like we should have three distinct package databases:
 * a stage0 database containing only things built by the stage0 GHC
 * a stage1 database containing only things built by the stage1 GHC
 * if we build a s

[2017-11-17 21:02] hvr opened #474 "Hadrian currently slower than GNU Make"
I was asked to file an issue so the experiment I described at https://mail.haskell.org/pipermail/ghc-devs/2017-November/015076.html wouldn't be lost.

[2017-11-17 23:32] snowleopard commented on #468
@duog I don't think we want to rework Hadrian just to support pre-2.1 Cabal...

@bgamari Sounds good!

[2017-11-17 23:33] snowleopard commented on #461
@bgamari This looks like something that should be easier to implement once @angerman completes #445.

[2017-11-17 23:35] snowleopard commented on #474
Thanks @hvr! I hope we'll beat Make in the end.

[2017-11-18 13:12] snowleopard opened #475 "Move custom build scripts to a separate directory"
As discussed in #473, with the increasing number of various custom build scripts, it becomes confusing for users to understand which one they should pick.

So, here is a tentative plan:
- [ ] Move custom build scripts to subdirectory `script`.
- [ ] Add `script/README.md` with a short description of each build script.

[2017-11-18 20:18] k-bx commented on #465
Tried the `build-stack.sh -j` first, ended up with:

[code]

[2017-11-18 20:35] k-bx commented on #465
I then ran the  `./hadrian/build.stack.sh --configure` and it did quite a lot but failed with

[code]

[2017-11-18 22:41] k-bx commented on #465
Trying the build-global. For 8.2.1:

[code]

For 8.0.1 something even more weird:

[code]

No luck. Maybe I'm missing something.

[2017-11-19 00:00] snowleopard commented on #465
@k-bx Oh, sorry you had so many issues.

[code]

I've never seen this before. Happy terminated with an internal error, so I suspect that its installation went wrong. I can't reproduce this.

However, I do understand the issue with `build.global-db.sh`. This script is not used regularly and is not tested on CI, so it got out of date. In particular, in addition to `` we not need to enable the follow

[2017-11-19 16:59] snowleopard opened #476 "Fix global-db build scripts and add them to CI"
As discovered in #465 by @k-bx the build scripts `build.global-db.*` got out of date and are broken. We do not test them regularly in CI which makes it difficult to keep them up-to-date.

I wanted to do a quick fix but it turned out that it's not straightforward. After #395, Hadrian's built is a bit complicated so I've set up this issue to figure out the right command line.

- [ ] Fix `build.globa

[2017-11-19 17:06] snowleopard commented on #465
@k-bx Sorry, fixing the `build.global-db.*` scripts turned out to be more complicated than I thought, so I set up a separate issue for this: #476.

Anyway, we should make sure that the default `build.sh` script works for you. I don't understand why it failed for you. Judging by the error message, the problem was with `unordered-containers`. Could this be a version mismatch?

[2017-11-19 21:47] k-bx commented on #465
I think I might have a mess in a way of a mix of stack/non-stack stuff, but can't really figure out what's wrong. I've brought `~/.cabal/bin` to be in front of my PATH, and removed (well, renamed) the whole `~/.local/bin`, but it is still picked up for some reason.

[code]

Why is there this `Command: /home/kb/.local/bin/alex` piece if I removed alex from there, alex should be taken from `~/.cabal

[2017-11-20 00:01] snowleopard commented on #465
@k-bx I guess you need to re-run the `configure` script for it to pick up the new path to Alex. Hadrian uses the paths found by the `configure` script.

[2017-11-20 03:29] snowleopard commented on #464
@nh2 I've pushed a fix. Now if I edit `inputReady.c` then only the `base` library and executables are reuilt.

Could you please try again?

[2017-11-20 05:01] snowleopard commented on #465
I've also pushed #478 which might help with the Alex issue.

[2017-11-20 10:31] k-bx commented on #465
@snowleopard all right, it didn't finish yet but definitely goes through further than before. To recap on what I did:

- used 8.0.2 from stack, running `export PATH=/home/kb/.stack/programs/x86_64-linux/ghc-8.0.2/bin:$PATH`
- added `~/.cabal/bin` to `PATH`
- did `cabal install cabal-install alex happy`
- ran `./hadrian/build.sh --configure -j`

[2017-11-20 10:31] k-bx commented on #465
Thanks for the help! Closing.

[2017-11-20 10:31] #465 closed

[2017-11-20 10:43] snowleopard commented on #465
@k-bx Great, glad this helped!

[2017-11-22 00:51] snowleopard opened #480 "Hadrian commits mess up GHC Trac"
Just spotted: https://ghc.haskell.org/trac/ghc/ticket/454#comment:7

@bgamari Can we do anything about this?

[2017-11-22 00:53] angerman commented on #480
May I propose a submodule until we fully merge Hadrian as subtree into ghc and at that point delete the upstream repository?

[2017-11-22 02:05] bgamari commented on #480
Of course. There are at least three options,

a. Be careful to delete the commit messages in the squashed commit
b. Do as @angerman suggests and move hadrian to a submodule until we are closer to merging
c. Ignore the problem in hopes that we can merge soon

[2017-11-22 02:13] snowleopard commented on #480
@bgamari @angerman Thanks! I think option (a) is my current preference.

[2017-11-22 02:13] #480 closed

[2017-11-22 13:52] bgamari opened #481 "Remove text from local package list?"
Why is `text` in the local packages list in `cabal.project`? This means that Cabal will be unable to share the `text` build with the user's store which increases CI build times.

[2017-11-22 16:00] snowleopard commented on #481
Hmm, I'm puzzled. I thought the `cabal` library required the in-tree version of `text`, but it doesn't look like it's the case now. If we can drop `text` from `cabal.project` and `stack.yaml` let's do this, of course!

[2017-11-25 04:28] Mistuke commented on #440
So here's what I know of subtrees.

As you know, subtrees can share a history with a parent repository. The intention is that if you have an existing repository, you can just do a `git subtree split` to get the repository into another repository, and then do a `git subtree push` to push the changes to a new repository. But this pushes the entire history. Why? because subtrees aren't a special feat

[2017-11-25 06:42] angerman commented on #440
I'll give this a try later on. There are in the commit history git-subtree-dir and git-subtree-split markers in the hadrian squash commits though. Ahh well, I guess we all learn. Any anything that would lessen my pain with switching between branches, I appreciate.

[2017-11-25 09:05] angerman commented on #440
Great :(
[code]

[2017-11-25 10:51] Mistuke commented on #440
Yes, but they're missing one crucial information, namely, how the new squashed commits relate to the mainline ones. For example, one of the squash commits from @bgamari says:

[code]

Notice the crucial difference with the one above?
It's telling git how it was split from the remote repo, but not how it related to the current one!
We have squashed the commits, so `4499b294e4a53f71f8808d6eb55a7dd0b

[2017-11-25 18:49] nh2 commented on #464
@snowleopard When upgrading and trying again, I got this:

[code]

This remains even after a `hadrian/build.stack.sh clean`, and also when I run it without specific output target (`time hadrian/build.stack.sh -j --flavour=quickest`).

That is on top of commit ghc/ghc@a1950e6dc03b560105903ad44050b1570f3bc24f.

[2017-11-25 18:59] nh2 commented on #464
Oops, forgot to pull submodules, will try again.

[2017-11-25 20:00] nh2 commented on #464
OK, I also did some `git clean` and noticed that I should have called hadrian with `--configure` (I suspect that already the latter would have sufficed). It works now so sorry for the noise.

My output:

[code]

@snowleopard Thanks a lot, it's much better now. After changing `inputReady.c`, rebuilding now takes only 5.5 seconds, that is almost as fast as the 3.3 seconds of a fast `make`.

[2017-11-25 20:02] nh2 commented on #464
From my perspective, this can be closed, unless we want to tackle the remaining distance to `make` or the topics @simonmar mentioned as part of this ticket.

[2017-11-25 20:16] snowleopard commented on #474
@hvr I've fixed a performance bug in #464. Could you please repeat your test?

If possible I'd like to have four data points: `hadrian`, `hadrian -j8`, `make`, `make -j8`.

[2017-11-25 23:00] nh2 opened #482 "package.cache: you don't have permission to modify this file"
Just now I got this interesting error on Windows (on top of ghc/ghc@a1950e6dc03b560105903ad44050b1570f3bc24f):

[code]

`ls` suggests I have permissions:

[code]

Maybe it's something about some `ghc-pkg` invocations running in parallel on Windows, and that's not OK?

[2017-11-25 23:02] nh2 commented on #482
My workaround is to just re-run it.

I'm using ghc-8.0.2 installed via stack.

[2017-11-26 00:44] hvr commented on #474
@snowleopard sure; I'll try to get this done after the weekend

[2017-11-26 01:08] snowleopard commented on #472
@hvr [comments](https://github.com/snowleopard/hadrian/issues/464#issuecomment-346975881):

I'd like to respond here, because this is a more relevant issue:

By fragile I mean the following: you run the build system but it sometimes produces incorrect results, i.e. when run in a package directory (possibly accidentally) it will not rebuild some files.

You give an example of `git`, but if I run `g

[2017-11-26 01:09] snowleopard commented on #464
@hvr I responded here: https://github.com/snowleopard/hadrian/issues/472#issuecomment-346976802.

[2017-11-26 01:12] snowleopard commented on #472
@ndmitchell Could you comment on the above from your experience of working with build systems?

[2017-11-26 01:21] snowleopard commented on #482
@nh2 Thanks for reporting. I think I've seen this occasionally hitting CI, but I could never figure out why this happens. We use Shake resources to limit the number of parallel accesses to the package database, but presumably the error says that two processes collided when accessing `package.conf.d/package.cache`.

By the way, googling for `package.conf.d\package.cache: you don't have permission t

[2017-11-26 05:10] Mistuke commented on #440
Right, so I didn't notice but `--rejoin` will include the history of the branch. It seems that fundamentally, the way we set up subtrees means you can't develop in the GHC tree checkout on Hadrian. This is because we don't include full history.

Subtrees rely on having the complete history in the merges branch. By doing any `--rejoin` operation which you need to do to sync the trees, branch etc, a

[2017-11-26 15:41] snowleopard commented on #440
@Mistuke Thank you for the in-depth investigation.

@bgamari What do you think about this? It looks like squashing the history wasn't a good idea after all...

[2017-11-26 17:39] hvr commented on #472
@snowleopard I see, I misunderstood your comment to be more general. I agree that CWD-sensitivity shouldn't sacrifice correctness. To take an example from `cabal new-build`, if you're in a multi-package project, the folder from which you invoke `cabal new-build` determines the implicit build-target/goal.

So e.g. the cabal project is set up as a multi-package project, with 4 folders via its `cabal

[2017-11-26 21:26] ndmitchell commented on #472
I've used some build system where it did a magic cd to the root before processing your commands. I've used other build systems where if you were in a specific project directory, it adjusted the implicit want's to be specific to that directory. I would suggest that only the `want`'s change at most, not the rules or anything else, then you remain consistent.

[2017-11-26 21:26] ndmitchell commented on #482
GHC 8.0 was plagued by this problem - GHC 8.2  is vastly better, but it still happens occasionally. There's definitely GHC-level races on this file. I thought we were using Shake to avoid them, but I guess not entirely.

[2017-11-26 21:45] snowleopard commented on #482
@ndmitchell Thanks! Do you think there is a GHC ticket for this problem? I tried to find an existing ticket, but only found a closed one.

[2017-11-26 21:48] ndmitchell commented on #482
It's been closed since it got fixed in 8.2 :) Or at least  it got mostly fixed, I still see it from time to time but it's a lot better at least.

[2017-11-26 21:53] snowleopard commented on #482
I see :) Well, I'm tempted to close this issue then.

All: if you think we can somehow workaround this GHC bug in Hadrian, please reopen this issue.

[2017-11-27 06:44] ndmitchell commented on #482
Does every GHC compile take the ghc-pkg reader lock? I think it should.

[2017-11-27 11:35] snowleopard commented on #482
@ndmitchell Yes. GHC takes a `readPackageDb` resource, whereas `ghc-pkg` takes `writePackageDb`:

https://github.com/snowleopard/hadrian/blob/master/src/Rules.hs#L78-L81

This is not type-checked though, so we might have missed this somewhere. We could in principle make this more type-safe, but I'm not sure if this is worth it.

[2017-11-27 11:38] ndmitchell commented on #482
Given it still fails we probably did miss something somewhere.

[2017-11-27 11:49] snowleopard commented on #482
Hmm, I'll double check, but didn't you say above that it's a GHC bug? That is it got better in 8.2 but is still a bug that you've come across?

[2017-11-27 18:10] bgamari commented on #440
Andrey Mokhov <notifications@github.com> writes:

Yes, it would seem that way. I suspect the easiest way forward is to
fall back to a submodule until we are ready to retire the GitHub
repository for good. I can try to do this today if there are no
objections. My apologies for @angerman for all of the pain that this has
caused.

[2017-11-27 18:37] snowleopard commented on #440
Thanks @bgamari! No objections from me. Please go ahead.

[2017-11-28 06:58] ndmitchell commented on #482
It's long known issue in ghc-pkg that if you read/write concurrently to the package db it fails with the above error. See https://github.com/commercialhaskell/stack/issues/2617. GHC 8.2 made it a lot better, but I still don't think it's perfect. Hadrian works around it with reader/writer resources, but clearly the workaround isn't perfect either.

[2017-11-28 07:14] angerman commented on #482
Can’t we fix this in ghc-pkg?

[2017-11-28 07:45] ndmitchell commented on #482
It was fixed in ghc-pkg in 8.2. However, it still occurs occasionally for me so I suspect the fix is incomplete.

[2017-11-28 08:15] snowleopard commented on #482
OK, I've reopened this issue. Let's check that our workaround this `ghc-pkg` issue covers all cases.

[2017-11-28 15:48] bgamari commented on #482
I would actually far prefer to *not* workaround bugs in `ghc-pkg` and rather just fix them. Working around them just means they will remain hidden until users use the compiler. @ndmitchell, can you open a ticket describing precisely what you have observed? `ghc-pkg` now (#13194) locks the database prior to modification so either the our locking logic is wrong or there is an unrelated bug.

[2017-11-28 16:24] ndmitchell commented on #482
When detected it was reported, and fixed. The Hadrian workaround is required until 8.2 is the GHC boot version.

Since then I’ve had it some times, but never reproducibly or reliably, most often on a machine with aggressive anti virus. If I ever have it happen reliably I’ll ticket it.

[2017-12-03 11:44] michalt opened #483 "Build fails on `sm/Sanity.c`"
Error:
[code]

Output of configure:
[code]

Hadrian invocation:
[code]

The build with `make` works with the quick flavor, `./validate` also finishes successfully. This it at https://github.com/ghc/ghc/commit/bc761ad9c6

[2017-12-03 12:25] snowleopard commented on #483
@michalt Thanks! Looks like a missing warning suppression flag to me.

Let me try to reproduce on my machine and CI bots.

[2017-12-03 13:07] snowleopard commented on #483
@michalt Sorry, can't reproduce locally or on CI. Could be `gcc` version specific?

[2017-12-04 08:24] angerman opened #485 "Rethink the `-Werror` decision."
Currently Hadrian fails in spectacular ways to build ghc for anything but the CI targets. This is mostly due to `-Werror`, yes I can go in and add the `-Wno-xxx` flags to `Warnings.hs`, but that puts the burden on **me**, and doesn't guarantee that a bump of a library won't break a specific build again.

While I do see the value in no-warnings, it means builds that run over night to produce a mult

[2017-12-04 08:29] Mistuke commented on #485
I agree, the few times I tried to use Hadrian it always failed due to a `-Werror`. But the make based one worked fine, I didn't expect `-Werror` to even be on for `--flavour=devel2` unless I'm doing something wrong.

In general I think it should just do what the make based system did to ease transition and then we can talk later about changing the defaults.

[2017-12-04 12:10] snowleopard commented on #485
@angerman @Mistuke Sure, I'm fine with removing `-Werror` from defaults. It's something that can be easily added back later. Also, it may be the reason behind this recent issue #483.

I've already forgotten what the Make's default is. When does it add `-Werror`? If you can create a PR to do The Right Thing I'd be happy to review and merge!

[2017-12-04 21:49] Mistuke commented on #485
@snowleopard Unless I'm mistaken, the make version only enables `-Werror` for validate builds. https://github.com/ghc/ghc/blob/master/mk/flavours/validate.mk#L29

Anything else doesn't have it.

[2017-12-04 22:16] snowleopard commented on #485
@Mistuke Aha, I see. I think we can simply drop `-Werror` for now, and bring it back when resolving the issue with validation #299. I can take care of this.

[2017-12-04 22:19] ggreif commented on #485
IIRC I've seen errors coming from warnings in plain `make` for stage2. I
almost never use `validate`.

On Mon, Dec 4, 2017 at 11:16 PM, Andrey Mokhov <notifications@github.com>
wrote:

[2017-12-04 22:26] Mistuke commented on #485
@snowleopard Yeah, I think that's the right thing to do. I think #483 should be "solved" too then. I suspect #483 is an issue with GHC, as the buildbots have been broken for ages so people have committed code that don't pass validation. Also a normal development build often has warnings as you haven't cleaned up the code yet :)

@ggreif well, ideally you should be running validate before you push

[2017-12-05 23:40] snowleopard commented on #483
@michalt Should be fixed by #487. Please reopen if not.

[2017-12-05 23:40] #483 closed

[2017-12-05 23:41] snowleopard commented on #485
Done in #487.

[2017-12-05 23:41] #485 closed

[2017-12-06 08:17] Mistuke commented on #485
Thanks @snowleopard !

[2017-12-06 10:54] snowleopard commented on #485
@Mistuke Thanks for your help :)

[2017-12-08 22:20] #440 closed

[2017-12-08 22:21] snowleopard commented on #440
We've switched to a submodule now: https://github.com/ghc/ghc/commit/4335c07ca7e64624819b22644d7591853826bd75.

[2017-12-11 19:03] bergey opened #488 "Haskell Symposium paper is not publically available"
I get a 403 when I try to view the paper hosted at [Newcastle](https://www.staff.ncl.ac.uk/andrey.mokhov/Hadrian.pdf).  I can get it through [the ACM](https://dl.acm.org/citation.cfm?id=2976011&CFID=798369340&CFTOKEN=81568958), but I don't think that is public either.  (Rather, the ACM citation page is public, but I need to be logged in to get the full-text PDF.)

[2017-12-11 19:43] #488 closed

[2017-12-11 19:45] snowleopard commented on #488
@bergey Thanks for spotting the broken link! I've now replaced that link by the ACM Author-izer link, so one can download the published version for free from ACM.

[2017-12-11 19:46] snowleopard commented on #488
The link at Newcastle got slightly changed to https://www.staff.ncl.ac.uk/andrey.mokhov/hadrian.pdf -- note the lower-case `h`.

[2017-12-13 23:32] nh2 opened #490 "hadrian does not notice submodule update somehow"
Today I had a problem where after switching from commit https://github.com/ghc/ghc/commit/6f0df84a1a  (on top of GHC 8.2.2) to commit https://github.com/ghc/ghc/commit/0fa8aeccce (on top of current 8.4 HEAD), I got the error:

[code]

which really looks like some old (submodule?) code is being used instead of the latest contents (I checked all submodules are up to date).

Running `clean` with Hadr

[2017-12-14 00:02] snowleopard commented on #490
Hmm, I don't understand how this can possibly happen. Hadrian does not interact with `git` files in any way. It only looks at GHC files and at build artefacts in `_build`, so it's not different from Make in this respect.

You shouldn't need to run `clean` after manipulating the source tree with `git` -- Hadrian is designed to reuse as much of the previous build as possible.

@nh2 Could you give me

[2017-12-14 00:44] nh2 commented on #490
I don't know if this problem would occur with make, maybe it would happen there too?

Unfortunately the best I can provide is to run `hadrian/build.stack.sh -j --configure --flavour=quickest inplace/bin/ghc-stage2.exe +RTS -qg` on https://github.com/ghc/ghc/commit/6f0df84a1a, then to checkout https://github.com/ghc/ghc/commit/0fa8aeccce, `git submodule update --init`, and run the build command aga

[2017-12-14 01:08] snowleopard commented on #490
I have a feeling this is somehow related to changing Hadrian from `git subtree` to `git submodule`, which happened a few days ago.

[2017-12-14 01:10] nh2 commented on #490
@snowleopard I think my commits are slightly too old for that, might not contain that change yet in their history.

[2017-12-14 01:27] snowleopard commented on #490
@nh2 Trying to checkout the commit in question but getting strange errors:
[code]
I feel very dumb asking this but: what am I doing wrong? Maybe it's time to get some sleep :)

[2017-12-14 01:30] nh2 commented on #490
@snowleopard They are in my git remote.

[code]

[2017-12-14 01:36] snowleopard commented on #490
@nh2 Aha, I see, thanks! Running out of time today -- will try to look into this soon.

[2017-12-14 02:33] snowleopard commented on #481
Done in #491

[2017-12-14 02:33] #481 closed

[2017-12-16 23:22] patrickdoc opened #492 "Documentation broken by upstream Haddock change"
Haddock commit https://github.com/haskell/haddock/commit/e99aefb broke Hadrian's ability to generate the documentation. In particular, the file `haddock-util.js` was removed from the repository. That file is currently being used as the target of `need`, which causes documentation to break.

https://github.com/snowleopard/hadrian/blob/7d2368d714c7ed3fb8c096882564575aacf2b396/src/Rules/Documentation

[2017-12-16 23:31] snowleopard commented on #492
@patrickdoc Thank you for reporting this!

If `haddock-util.js` was removed, does it mean it is no longer needed to build docs? If it is still needed, how does Make build docs without it?

[2017-12-16 23:42] patrickdoc commented on #492
Make copies the entire `utils/haddock/haddock-api/resources` folder to `inplace/lib`. It doesn't check for anything inside that folder.

`haddock-util.js` was removed because they changed the code to be compiled from TypeScript and combined some files. So the contents of the folder are still needed, but that particular file doesn't exist.

[2017-12-17 02:24] snowleopard commented on #492
@patrickdoc I see, thank you.

I am travelling at the moment, so not sure when I'll have time to look at this, but happy to review a PR.

[2018-01-08 02:08] nh2 opened #493 "OSX: gmp.h file not found"
On OSX, running `bash hadrian/build.stack.sh --configure -j --flavour=quickest inplace/bin/ghc-stage2`:

[code]

There exists a `_build/stage1/gmp/include/gmp.h`.

And it seems `--with-intree-gmp` gets passed to `integer-gmp`'s `./configure`: `libraries/integer-gmp//config.status` has `CFLAGS=-I_build/stage1/gmp/include`.

But maybe it doesn't find the dir and it should do that with some `../` in

[2018-01-08 02:18] nh2 commented on #493
If I pass `-I/Users/user/ghc/_build/stage1/gmp/include` to that long `ghc` invocation, then it compiles fine.

[2018-01-08 02:25] nh2 commented on #493
Maybe the more likely reason is that in

[code]

the `CFLAGS=` appears twice and only the first one applies? Because the `-I/Users/user/ghc/_build/generated -I_build/generated` appears in the `ghc` invocation.

[2018-01-08 03:15] nh2 commented on #493
I have temporarily put in this hack, which allowed me to build `ghc-stage2` with Hadrian on OSX:

[code]

[2018-01-08 03:35] nh2 commented on #493
Apart from this issue, the experience building GHC was great with Hadrian by the way. I installed

* brew
* `brew install autoconf automake`
* Stack from its website
* Python 3 from the [python.org](https://www.python.org/) bindist

then did a `git clone --recursive https://git.haskell.org/ghc.git` and built GHC with `bash hadrian/build.stack.sh --configure -j --flavour=quickest inplace/bin/ghc-st

[2018-01-08 04:04] angerman commented on #493
I think I have some libgmp patch on my reloc PR. Not absolutely sure that it fixes what you saw though. However if it did and you have the time to extract it into a separate PR against master please do so.

[2018-01-08 11:28] snowleopard commented on #493
@nh2 Thank you for the report!

Hmm, this looks suspicious. Perhaps, we need to collapse both `CFLAGS` into one to fix this. I can't reproduce this locally, so hard to guess.

We could temporarily merge your fix, but we should get rid of the hard-coded path -- I believe we should use `gmpBuildPath` and `gmpLibraryH`, see:

https://github.com/snowleopard/hadrian/blob/master/src/Rules/Gmp.hs#L25-L31

[2018-01-09 01:43] angerman commented on #493
@nh2 here's what I've been talking about (it's all in #445) commits: https://github.com/snowleopard/hadrian/pull/445/commits/7b37f157fa6eda081fccfcf63f1fcb844d0dd3b5, https://github.com/snowleopard/hadrian/pull/445/commits/d732756c4535e2d908fb21a9f42cbd505697d2e7
There's also some accompanying discussion from https://github.com/snowleopard/hadrian/pull/445#issuecomment-343347743 onwards.

[2018-01-15 06:33] sighingnow opened #494 "Run ghc's test can't work"
When I run `build.stack.sh test`, I get the following error:

[code]

The ghc's `--configfile` flag has already been renamed to `--config-file` [six months ago](https://github.com/ghc/ghc/commit/5e940bd3d554729ce650008a72b4f82a78578a7b).

[2018-01-15 06:35] sighingnow commented on #494
I would like to push a patch to improve the test support of hadrian. Should I submit the patch to [GHC phabricator](https://phabricator.haskell.org/) or open a pull request here ?

[2018-01-15 10:22] snowleopard commented on #494
@sighingnow Many thanks for the report and for offering your help! Please open a PR here.

Note that there is also the `validate` build rule, which runs GHC's validation script, which you might want to try as well. However, in any case we should try to fix the `test` rule as well.

[2018-02-03 01:56] #492 closed

[2018-02-03 01:58] snowleopard commented on #492
@patrickdoc I've fixed this by switching to stamp file `inplace/lib/html/README.md`. I agree with you that this is fragile, so I've added a couple of TODOs to hopefully improve this in future.

[2018-02-09 01:38] snowleopard opened #501 "Hadrian's wall is broken"
@izgzhen It looks like your Hadrian's wall project is abandoned. Could you confirm? Any chance to revive it?

Opening the issue here, since the https://github.com/izgzhen/hadrians-wall is archived.

[2018-02-09 04:20] izgzhen commented on #501
Hi, I stopped maintaining it a few months ago since the AWS billing was a bit formidable for me. Regrading the infra code, the ease of using it is no comparison to more mature solutions like builtbot, teamcity, etc (once tried jenkins for Hadrian's Wall as well).

However, an ad-hoc CI system has two benefits:

- we can post-process of the build log with relative ease (no need to understand the lo

[2018-02-09 04:22] izgzhen commented on #501
I wonder if GHC HQ has any plan about Hadrian nightly builders? @bgamari

[2018-02-09 12:55] snowleopard commented on #501
@izgzhen Thank you! I didn't realise you had to pay for Hadrian's wall to AWS. Of course, we should find an alternative solution.

[2018-02-09 18:01] bgamari commented on #501
Zhen Zhang <notifications@github.com> writes:

So currently we have a [compile-only CircleCI
build](https://circleci.com/gh/ghc/ghc/1651) run on every GHC
commit. As described on the
[Wiki](https://ghc.haskell.org/trac/ghc/wiki/ContinuousIntegration)
GHC's CI will ultimately be moving to a combination of Appveyor and
CircleCI. However, there are still a variety of questions that need to
be answere

[2018-02-19 17:49] bgamari commented on #494
@angerman, @alpmestan, I believe this is relevant to your work.

[2018-02-19 20:17] alpmestan commented on #494
@bgamari It is, but as you can see in https://github.com/snowleopard/hadrian/pull/495, @sighingnow and I discussed all the problems that we respectively had identified, both there and by email a little bit. @sighingnow seemed well on the way to getting a good chunk of the tests working. We'll mostly be able to reuse his work directly (even though it might require a tweak or two) with the relocatab

[2018-02-22 16:05] chitrak7 opened #508 "Incomplete extensions of files encountered during build"
On running build on windows 10, Errors were produced as these files were not found:
hadrian/cfg/system.config
settings
mk/config.h

There are files named the following in the directory.
*settings.in
* hadrian/cfg/system.config.in
* hadrian/cfg/system.config settings mk/config.mk.in

I believe the extensions of the files are not properly written in the build system @snowleopard

[2018-02-22 16:12] snowleopard commented on #508
@chitrak7 Can you copy the error that was reported, including the exact command line you run?

[2018-02-22 16:23] chitrak7 opened #509 "Discrepancy in syntax in lookupValue and system.config"
The function lookupValue in Hadrian.Oracles.TextFile expects file in this syntax:
-- | Lookup a value in a text file, tracking the result. Each line of the file
-- is expected to have @key = value@ format.

This function is called with file system.config as an argument, but the lines in this files are of the format:
key = @value@ e.g.
cross-compiling       = @CrossCompiling@
Thus creating a discre

[2018-02-22 16:25] chitrak7 commented on #508
shakeArgsWith   0.001s    0%
Function shake  0.278s   61%  =========================
Database read   0.001s    0%
With database   0.000s    0%
Running rules   0.169s   37%  ===============
Total           0.449s  100%
Error when running Shake build system:
* OracleQ (KeyValue ("hadrian/cfg/system.config","host-os"))
* hadrian/cfg/system.config
* hadrian/cfg/system.config settings mk/config.h
Confi

[2018-02-22 16:30] alpmestan commented on #508
You need to pass the `-c` or `--configure` option the first time you run hadrian, if I remember correctly.

[2018-02-22 16:31] snowleopard commented on #508
@chitrak7 Aha, I see. If you read the error message carefully, it tells you exactly what to do:

[code]

The `hadrian/cfg/system.config` file is generated by running the `boot` and `configure` scripts, as explained in the [preparation guide](https://ghc.haskell.org/trac/ghc/wiki/Building/QuickStart).

As @alpmestan points out, Hadrian can run these scripts for you if you pass the `--configure` fla

[2018-02-22 16:31] #508 closed

[2018-02-22 16:33] snowleopard commented on #508
@chitrak7 I closed this issue, but if you think the README can be improved to help beginners, please feel free to send a pull request.

[2018-02-22 17:06] ndmitchell commented on #508
I think the user experience could be improved by automatically doing the right thing rather than spitting out an error message saying what to do...

[2018-02-22 17:14] snowleopard commented on #508
@ndmitchell I agree and the automated `configure` used to be the default, but @bgamari, @angerman and @hvr rebelled against it. With no one backing me up I had to concede in #457 :(

[2018-02-22 17:19] ndmitchell commented on #508
😞

[2018-02-22 18:39] chitrak7 commented on #508
@snowleopard  I think this should be mentioned in the file doc\windows.md . This could help a lot of beginners as me.

[2018-02-22 18:56] snowleopard commented on #508
@chitrak7 Good point!

I've added `--configure` to the Windows build script and a note that it's only needed during the first build.

[2018-02-22 20:58] snowleopard commented on #509
@chitrak7 I think this is just a misunderstanding:

* The comment uses Haddock markup syntax where `@text@` renders `text` using a fixed-width font.
* The settings in `system.config.in` use the Autoconf syntax `@value@` as a placeholder -- it is replaced by the `configure` script with concrete values -- see `system.config`.

I can see how it can be a bit confusing. I suggest you build Haddock docu

[2018-02-22 20:58] #509 closed

[2018-02-24 06:00] chitrak7 opened #512 "Using Depreciated Module Distribution.PackageDescription.Parse"
The code is using module ‘Distribution.PackageDescription.Parse’ which is apparently depreciated in Cabal 2.1.0. Hence it is returning this error

src/Hadrian/Haskell/Cabal/Parse.hs:18:1: error:
    Failed to load interface for ‘Distribution.PackageDescription.Parse’
    It is a member of the hidden package ‘Cabal-2.0.1.1’.
    Perhaps you need to add ‘Cabal’ to the build-depends in your .cabal fi

[2018-02-24 15:14] snowleopard commented on #512
@chitrak7 It looks like Hadrian submodule in GHC has fallen quite behind Hadrian HEAD, so I've just updated the submodule: https://github.com/ghc/ghc/commit/bf3f0a6808b89504a993dc9f2839daff9eaf6f2a.

This issue you refer to here has been fixed in #498.

Thanks for reporting! In future you can just do `git pull https://github.com/snowleopard/hadrian.git` in the Hadrian subdirectory of GHC to bring

[2018-02-24 15:14] #512 closed

[2018-02-25 20:20] chitrak7 opened #513 "Possible improvement in documentation of cross-compile"
In the documentation for building cross-compiling GHC, the steps mentioned are :
git clone https://github.com/ghc/ghc
cd ghc
git clone https://github.com/snowleopard/hadrian

this step will result in an error at multiple sub-repositories with the error similar this :
fatal: repository 'https://github.com/ghc/packages/deepseq.git/' not found.

It is because of GitHub's  policy to not include '/' in

[2018-02-25 20:36] snowleopard commented on #513
@chitrak7 Yes, sure, go ahead! Documentation improvements are very welcome. Please coordinate with @angerman and @izgzhen who are taking care of cross compilation. I myself will not be able to properly review the suggested changes.

Also note that @angerman is working on a huge PR that improves cross compilation: #445. We hope to merge this PR soon, so some things may be changing soon.

[2018-02-26 03:16] sighingnow opened #514 "Hadrian failed to build stage1 ghc-prim"
When building ghc using hadrain with the following command

[code]

I got the error:

[code]

Seems due to the change of ghc-prim in https://phabricator.haskell.org/D4378

[2018-02-26 04:40] angerman commented on #514
Which GHC are you trying to build? HEAD?

[2018-02-26 05:52] sighingnow commented on #514
Yes, I'm trying to build the ghc HEAD.

+ GHC version: [commit f57c3059d7c8b8e00bd3a9f9153c3520f6db14d4](https://github.com/ghc/ghc/tree/f57c3059d7c8b8e00bd3a9f9153c3520f6db14d4) (testsuite: Bump allocations for T9630)
+ Hadrian version: commit da397291a9052387862c27c87ec29b6fce2c7d77 (Make shell.nix less broken)

[2018-02-26 06:30] angerman commented on #514
Strange. `libraries/ghc-prim/configure` should exists. It does for me.

[2018-02-26 06:56] sighingnow commented on #514
I finally manage to make it work after deleting the `_build`, `inplace` and `hadrian/cfg/system.config` manually (and restart the shell).

Maybe something went wrong with my local msys2 environment. Many thanks for your attention to this! @angerman

[2018-02-26 06:56] #514 closed

[2018-02-27 05:17] izgzhen commented on #513
fatal: repository 'https://github.com/ghc/packages/deepseq.git/' not found.

BTW, I tried the newest source today, and met some problems finding submodule like Cabal. I fixed it by cloning from haskell.org instead of github.

[2018-02-27 05:24] angerman commented on #513
I would strongly suggest removing any mention of cloning GHC from github.

[2018-02-27 05:43] izgzhen commented on #513
Agreed

[2018-02-27 06:02] izgzhen commented on #308
I'll close this, since we already started doing that

[2018-02-27 06:02] #308 closed

[2018-02-27 06:03] izgzhen commented on #347
what is the status of this issue now?

[2018-02-27 12:05] snowleopard commented on #347
@izgzhen I've factored out quite a lot of code to a generic library that lives in the `Hadrian` subdirectory, but further work is currently on hold until we merge #445. Once #445 is merged, I'll continue working on this.

[2018-02-27 12:45] snowleopard commented on #308
@izgzhen Thanks! I've also added a section on troubleshooting, linking to the wiki.

[2018-02-28 12:58] ndmitchell opened #515 "Failure to build with ACLOCAL_PATH"
On Windows, using approximately the instructions from http://neilmitchell.blogspot.co.uk/2016/03/compiling-ghc-on-windows.html, I just got:

[code]

I am not sure what Hadrian version I am using (I just did a git clone from the root of GHC), so instructions to refresh Hadrian are welcome.

[2018-02-28 13:38] snowleopard commented on #515
I'm not sure this is related, but some time ago I dropped a hack for `ACLOCAL_PATH`, see this commit: https://github.com/snowleopard/hadrian/commit/830567e388a89b90a80c0140379c983de3cec8aa.

@ndmitchell Can you retry with this hack returned? If it works, we can just revert the above commit.

[2018-02-28 13:40] snowleopard commented on #515
It looks like this may actually require some extra work, see https://github.com/snowleopard/hadrian/issues/314#issuecomment-334129053.

[2018-02-28 13:49] ndmitchell commented on #515
`set ACLOCAL_PATH=.` beforehand seems to have fixed it. Should `boot` on line 154 perhaps be conditionally getting aclocal if the environment variable is set, and not blowing up otherwise?

[2018-02-28 13:56] snowleopard commented on #515
@ndmitchell Yep, sounds like the right approach!

@bgamari What do you think about this? We need to make this line in `boot` more robust:

https://github.com/ghc/ghc/blob/master/boot#L154

[2018-02-28 15:52] ndmitchell opened #516 "Consider moving ghc_boot_platform.h"
I see a `ghc_boot_platform.h` in `_build/stage0/compiler`, and another in `_build/stage0/compiler`. I wonder if this should really live in `_build/generated` (where other generated headers go), which might let you simplify the header directory story?

Just a thought, please close if it doesn't seem useful.

[2018-02-28 18:20] snowleopard commented on #516
Yes, we could keep all generated headers in `generated`, but there are two issues here:

* These files are different in different stages, so this will force us to introduce subdirectories in `generated`.

* These files are used only by `compiler` as far as I can tell. Perhaps, `compiler/generated` would be best?

[2018-02-28 18:22] ndmitchell commented on #516
Is `ghc_boot_platform.h` really different per stage? Looking at it, it seemed invariant on the stage.

[2018-02-28 18:29] snowleopard commented on #516
Here is where these files are generated:

https://github.com/snowleopard/hadrian/blob/master/src/Rules/Generate.hs#L385-L438

Perhaps the difference occurs only when cross compiling.

[2018-02-28 19:59] bgamari commented on #516
Indeed, these will only differ while cross-compiling.

[2018-02-28 20:01] ndmitchell commented on #516
Ok, then my idea seems a bad one.

[2018-02-28 20:01] #516 closed

[2018-03-01 03:30] izgzhen opened #517 "build.cabal.sh permission bits changed by running build"
[code]

[2018-03-01 15:31] izgzhen commented on #501
@snowleopard though I've got some ideas of improving it, but for now, I simply reignited the site: http://hadrians-wall.monad.systems

[2018-03-01 18:55] snowleopard commented on #517
I'm confused. Are you saying Hadrian changed permissions of this file? I don't see how it could do that!

[2018-03-01 18:56] snowleopard commented on #517
Oops, it does do that actually:
[code]

I remember now: without this it was failing on CI. Perhaps, we can move this to CI scripts?

[2018-03-01 18:59] snowleopard commented on #501
@izgzhen Thank you! If you spot that things got worse from one build to another, please shout.

[2018-03-01 19:01] snowleopard commented on #501
Since the Hadrian's Wall repo and website are now live, I'm closing this issue.

[2018-03-01 19:01] #501 closed

[2018-03-02 02:02] izgzhen commented on #517
It sounds reasonable to me. Or we could change the permission bit once and for all.

[2018-03-02 06:32] chitrak7 opened #518 "Error in validation"
On running "./build.sh validation", this is the error message I get.

make[1]: *** [test] Error 1
make: *** [fast] Error 2
shakeArgsWith     0.000s    0%
Function shake    0.245s    0%
Database read     0.840s    0%
With database     0.046s    0%
Running rules  1167.656s   99%  =========================
Total          1168.787s  100%
Error when running Shake build system:
* validate
user error (De

[2018-03-02 06:47] chitrak7 commented on #518
This is the result when I run Makefile directly from /testsuite/tests.

[test1.txt](https://github.com/snowleopard/hadrian/files/1773975/test1.txt)
Clearly, the error codes are the same, but the rest of validation result is not.

[2018-03-02 08:43] izgzhen commented on #518
Do you mean `./build.sh validate`?

The complete results in test1.txt is in verbose output. You can run it with `-VV`.

[2018-03-02 10:26] chitrak7 commented on #518
Yeah, that does it. Thanks @izgzhen.

[2018-03-02 10:26] #518 closed

[2018-03-02 15:28] chitrak7 opened #519 "Consider adding additional flag to make command while running validate"
Currently, when we run ./build.sh validate, the make command takes two arguments which are: "fast" and "THREADS=t". We can add a third argument "VERBOSE=1" in make command of Settings.Builders.Make.  Here is the list of values supported by verbose:
     n=0: No per-test output
     n=1: Only failing test results
     n=2: As above, plus progress information (names of all tests)
     n=3: As above,

[2018-03-02 15:48] chitrak7 commented on #299
Results generated in ubuntu 17.10 on 2nd March 2017:
steps:
1) ./build.sh clean
2) ./build.sh --rebuilding hadrian
3) ./build.sh validate -VV {I added a third argument to make command in Settings.Builders.Make "VERBOSE=1"}
Here is the result summary:
SUMMARY for test run started at Fri Mar  2 20:16:57 2018 IST
 0:19:23 spent to go through
    6262 total tests, which gave rise to
   24521 test case

[2018-03-02 16:04] snowleopard commented on #299
Thanks @chitrak7! Hope you'll be able to figure out the cause of some validation failures.

[2018-03-02 16:06] chitrak7 commented on #299
@snowleopard 55 of 118 unexpected failures have come from printer/. But I seriously doubt it has something to do with my system configuration and not the build. Can you review their error log once to check this.

[2018-03-02 16:09] snowleopard commented on #299
@chitrak7 I don't think I can provide any useful comments: I haven't looked into validation errors yet, so it's a completely new territory for me.

[2018-03-02 16:14] snowleopard commented on #519
@chitrak7 It's easy for you to add this flag locally by editing this line:

https://github.com/snowleopard/hadrian/blob/master/src/Settings/Builders/Make.hs#L16

Even better, you can add it to your `hadrian/UserSettings.hs` file, as describe here:

https://github.com/snowleopard/hadrian/blob/master/doc/user-settings.md

This will then be ignored by `git`.

[2018-03-02 16:14] snowleopard commented on #519
But I don't mind to also provide this as a general functionality.

[2018-03-02 16:19] snowleopard commented on #517
@izgzhen Ah, so git can actually store permission bits? In this case yes, that would be a better solution. Could you send a PR?

[2018-03-02 16:31] chitrak7 commented on #519
@snowleopard I have implemented it in my system. I just believe it will be a good addition as in my view, there is no use of the complete log

[2018-03-02 16:54] snowleopard commented on #519
@chitrak7 It's fine if you implement the ability to pass a different verbosity setting to the `validate` rule, but I don't think we should make Hadrian defaults different from the defaults used in the GHC build system. This may unnecessarily confuse GHC developers trying out Hadrian.

[2018-03-03 19:12] chitrak7 commented on #299
@snowleopard for a lot of failures, the reason is that some executable is not present in inplace. For example,
inplace/bin/check-api-annotations
inplace/bin/check-ppr
inplace/test   spaces/runghc

I think solving this might reduce a lot of errors

[2018-03-03 19:41] snowleopard commented on #299
@chitrak7 Aha, interesting! Presumably, these are only needed for the testsuite, so we didn't bother to build them before.

We need to add missing packages here:

https://github.com/snowleopard/hadrian/blob/master/src/GHC.hs#L45-L100

And also `need` them in the `validate` rule before running the testsuite. Would you like to give this a try?

[2018-03-03 20:01] chitrak7 commented on #299
Yeah, would be a nice start. Would need some time and a lot of help though 😅

[2018-03-03 20:15] snowleopard commented on #299
@chitrak7 Awesome, thanks. Happy to help!

[2018-03-05 02:09] snowleopard commented on #517
I've reopen the issue to also fix `build.sh` -- see the PR above.

[2018-03-05 02:59] angerman opened #522 "Create ghc-8.4 release branch from da39729"
Now that ghc-8.4 is nearing release. We should to create a branch (or at least tag) that has hadrian corresponding to ghc-8.4.

hadrian in ghc-8.4 is at da39729.

Why do we need this? Any further changes to ghc (e.g. the iserv-split) will require changes to hadrian. When the build system was part of GHC this was trivial, as it was frozen in time in the release branch. It is arguably the same right

[2018-03-05 02:59] angerman commented on #522
/cc @bgamari

[2018-03-05 03:16] snowleopard commented on #522
@angerman I'm confused: why is the submodule commit not enough?

If anyone needs the right version of Hadrian for `ghc-8.4` branch, they have it exactly there:

https://github.com/ghc/ghc/tree/ghc-8.4

[2018-03-05 03:18] #517 closed

[2018-03-05 03:24] angerman commented on #522
Assuming someone wants to make changes to hadrian for a subsequent 8.4 release? Where would those go. The issue with the `iserv-split` was that it was only in master and not in 8.4; thus after landing it in master, hadrian was updated, but that meant you couldn't use hardrian head for 8.4 anymore, and subsequently we reverted the `iserv-split` in HEAD so hadrian could be reverted in HEAD only so t

[2018-03-05 03:33] snowleopard commented on #522
Right, I see, thanks for clarifying! Looks like a branch is the only solution -- feel free to create one, following the GHC naming scheme, i.e. `ghc-8.4`.

[2018-03-05 07:03] angerman commented on #522
I don't think I can. I think someone with write rights needs to.

[2018-03-05 12:38] izgzhen opened #523 "Error: at least ftruncate or _chsize functions are required to build"
[code]

- OS: ubuntu 16.04
- gcc version: 5.4.0
- host ghc version: 8.2.2
- compile with: `./build.sh -j --verbose --no-progress --progress-colour=never --progress-info=brief --profile=-`
- hadrian version: 7894c96e4776e4bfb84d499a7d32999cf4e27e65
- target ghc: a9f680f631e20104661e357393f9704e2f8ba234

[2018-03-05 13:06] izgzhen opened #524 "build.cabal.sh's condition on sandbox init is too brittle"
https://github.com/snowleopard/hadrian/blob/9eef6a7c7cce150f39740beb8570f4cbc38b947e/build.cabal.sh#L61-L68

If I CTRL-C during `install` phase, then continue, some packages will be left uninstalled.

[2018-03-05 13:26] izgzhen commented on #524
After rebuilding the dependencies and cleaned up, still buggy:

[code]

[2018-03-05 14:50] snowleopard commented on #523
This looks similar to https://mail.haskell.org/pipermail/ghc-devs/2018-March/015425.html.

Are you sure you've updated submodules?

[2018-03-05 16:03] snowleopard commented on #522
@angerman Done: https://github.com/snowleopard/hadrian/tree/ghc-8.4

Happy to keep creating new branches for upcoming GHC releases -- just ping me.

[2018-03-05 16:03] #522 closed

[2018-03-05 16:33] chitrak7 commented on #519
@snowleopard I think then we can add this to the documentation.

[2018-03-05 16:37] snowleopard commented on #519
@chitrak7 Sure! Try to document everything that helps you be more productive when hacking on Hadrian.

Perhaps, the wiki started by @izgzhen could be a good place for this:

https://github.com/snowleopard/hadrian/wiki.

[2018-03-05 17:37] chitrak7 commented on #299
Results after adding missing executables:
SUMMARY for test run started at Mon Mar  5 22:30:39 2018 IST
 0:20:47 spent to go through
    6262 total tests, which gave rise to
   24521 test cases, of which
   18315 were skipped

      41 had missing libraries
    6020 expected passes
      97 expected failures

       3 caused framework failures
       0 caused framework warnings
       0 unexpected

[2018-03-06 11:00] izgzhen commented on #523
I supposed "yes", but I tried again from scratch anyway:

[code]

again error.

[2018-03-06 11:09] izgzhen commented on #523
I guess the above error is related to https://github.com/snowleopard/hadrian/blob/9eef6a7c7cce150f39740beb8570f4cbc38b947e/src/Rules/Gmp.hs#L80-L82

[2018-03-06 11:22] snowleopard commented on #523
@izgzhen Note: this is a different error! Now it is consistent with what we have in CI.

Thanks for recording this: I'm unlikely to have time to look into this during this week, but if anyone would like to fix Hadrian (presumably after some changes in GHC), I'm happy to review a PR.

[2018-03-06 12:28] izgzhen commented on #523
this problem seems to be resolved by:

[code]

[2018-03-06 12:32] izgzhen commented on #523
But there is more problem coming:

[code]

this internal error msg can be reproduced by running `./configure` under `ghc/libraries/base`.

[2018-03-06 15:00] snowleopard commented on #299
@chitrak7 That's a very promising result! Can you prepare a PR?

Furthermore, it looks like the remaining `45 unexpected failures` are mostly due to `41 had missing libraries`, which probably means Hadrian doesn't build some libraries needed for the testsuite.

[2018-03-06 15:04] snowleopard commented on #524
Not sure what would be the right fix. I guess one could create a temporary file `install-in-progress.txt` before the `install` and remove it afterwards. This would indicate that the previous install was terminated and thus needs to be resumed.

[2018-03-06 15:32] izgzhen commented on #524
I think a better solution is to make these three lints of `cabal` commands idempotent.

[2018-03-06 15:37] snowleopard commented on #524
I guess, we can always do `install` (it will be fast when repeated), but the two `sandbox` commands should still be conditional.

[2018-03-06 15:46] izgzhen commented on #524
sounds good

[2018-03-06 15:50] chitrak7 commented on #299
@snowleopard Currently I am trying to single out more libraries that are causing error. I have identified a couple more. I will try to bring the errors down to 20s and then send the PR. Need a couple more days.

[2018-03-06 15:55] snowleopard commented on #299
@chitrak7 No need to send just one perfect PR. In fact, sending a PR to only adds missing executables would be better, because it's easier to review and understand in isolation.

[2018-03-10 11:32] chitrak7 commented on #523
@izgzhen @snowleopard the error was coming because "struct MD5Context" was not found.
I tried to resolve this by removing and recloning the base repository. This resolved the immediate problem but gave rise to multiple new ones.