[2016-01-14 21:10] kgardas commented on #173
@snowleopard Solaris is probably hurt by this issue too, not sure, don't see enough of your failure. My failure looks:
[code]
and is cause by simple fact that build system completely omits -optl-lgmp from the linking arguments. This is when using system supplied GMP and when using appropriate --with-gmp-* flags for configuration. When I added -optl-lgmp to the problematic line the binary was linke

[2016-01-14 21:20] ndmitchell commented on #170
Looking at the `ghc-cabal` branch, I see a definition of `Oracles.PackageData.Internals.withCurrentDirectory` which precisely matches the one in `System.Directory.Extra`, although in newer GHC's it's even in `System.Directory` directly (in which case `extra` reexports it). Looking for uses of that I see:

    liftIO $ withCurrentDirectory (pkgPath pkg)
        (withArgs (["configure", "--distdir",

[2016-01-14 23:00] snowleopard commented on #170
@ndmitchell Thanks! Note that `Oracles.PackageData.Internals` is currently just a crude copy of `ghc-cabal`'s `Main.hs` and everything is badly broken. @angerman and I are slowly making our way through the mess hoping to adapt `ghc-cabal` internals to our purposes.

[2016-01-14 23:02] snowleopard commented on #170
The current goal is to figure out how to configure a package without changing directories and put the resulting artefacts in `.build`.

[2016-01-14 23:02] snowleopard commented on #164
@kgardas No problem and many thanks for the clarification!

I'll close both #164 and #165 and will prepare a fix for the `patch/gpatch` issue.

[2016-01-14 23:02] #164 closed

[2016-01-14 23:04] snowleopard commented on #165
This is not an issue any more, see https://github.com/snowleopard/shaking-up-ghc/issues/164#issuecomment-171779674.

[2016-01-14 23:04] #165 closed

[2016-01-14 23:09] ndmitchell commented on #170
Good luck! While you are there, I wonder if the repeatedly keep running configure approach is necessary, or if a single global configure could be done which was just copied for every package which needed it. Might give a nice speed benefit, and (if changing directory is important for the configure) might also fix that.

Taking a brief look at the code, it seems to be running things that are in the

[2016-01-14 23:42] snowleopard commented on #158
Now fixed, see the above commit.

@kgardas Could you please test it?

[2016-01-15 00:52] snowleopard commented on #170
Agreed, that would be preferable.

But isn't this exactly what we are trying to escape from -- calling `ghc-cabal` for each package and then parsing the results?

[2016-01-15 01:12] snowleopard commented on #173
Thanks @kgardas.

I attempted a fix based on your comment. Let's see if it works.

[2016-01-15 01:13] snowleopard commented on #170
@angerman No progress from me again. Was fighting various linker & GMP issues all day :(

[2016-01-15 02:49] angerman commented on #170
@ndmitchell yes the `withCurrentDirectory` is in there as a crude hack, the cabal library seems to expect to be run (`runDefaultMain`) from within the directory that contains the `.cabal` file. I couldn't be bothered yesterday to actually dive into the cabal library and try to figure out how to actually `runDefaultMain` without being *in* that directory. And I found `withCurrentDirectory` through

[2016-01-15 02:52] angerman commented on #134
I'll try to get this done today. This has become somewhat of an abomination that it was never intended to be.

[2016-01-15 04:44] snoyberg commented on #170
We try to avoid using cabal the library a lot actually, and instead just
call out to Setup.hs as a separate process. It's inefficient, but avoids
these kinds of process global things cabal seems to do.

On Fri, Jan 15, 2016, 4:49 AM Moritz Angermann <notifications@github.com>
wrote:

[2016-01-15 05:46] angerman commented on #170
Thanks @snoyberg; that sounds a bit depressing.
@snowleopard how do we want to proceed with this?

[2016-01-15 06:50] ndmitchell commented on #170
What's the motivation for avoiding calling out and parsing the result? What's the payoff? Parsing the result shouldn't be too hard, but it seems that avoiding the call out is.

[2016-01-15 07:00] angerman commented on #170
@ndmitchell for me--though I'm not sure about @snowleopard--it's the fundamental question, why do I need to shell out to invoke something, which I should in principle be able to call directly. E.g. why do I need that extra glue that effectively does nothing.

Shelling out is the pragmatic solution, while directly using cabal is the more idealistic approach, I guess. Then this started as issue #18

[2016-01-15 10:49] snowleopard commented on #170
@ndmitchell @angerman @snoyberg Thanks all for your thoughts and suggestions.

I have now clarified the rationale behind getting rid of `ghc-cabal` in #18. Shall we continue this discussion there? In principle we can of course give up on this and come back to using `ghc-cabal` and `package-data.mk` files. An alternative solution seems to call `Setup.hs`; I never considered it, so it is worth discu

[2016-01-15 10:49] bgamari commented on #170
Why not simply try to attack the problem at its root? Arguably Cabal shouldn't be relying on the global current directory and it sounds like others will benefit.

[2016-01-15 10:52] snowleopard commented on #170
@bgamari That would be my current preference. If this diverts us too much from the `first-shake` milestone we can postpone this until a later one.

[2016-01-15 10:53] ndmitchell commented on #18
In response @snowleopard's thoughts at the top, I will observe (without really applying it to this instance) than _all_ build systems are full of gunk that should be removed. To quote from http://neilmitchell.blogspot.co.uk/2014/07/converting-make-to-shake.html:

Not saying it should apply here, but be careful, convert and then refactor is sometimes easier than both at once.

[2016-01-15 10:54] kgardas commented on #173
Now, my build passes all the way long up to the point of:
[code]
I'm not sure if this is a failure or what...

[2016-01-15 10:57] ndmitchell commented on #173
This says that something depended on integer-gmp.buildinfo, and then later it changed. Perhaps some unrelated rule touched it? Perhaps the dependency was insufficient? It's a warning from the build system error, so everything built properly, but if you were to rebuild again right now, more stuff would rebuild, which isn't great.

[2016-01-15 10:58] snowleopard commented on #18
@ndmitchell I agree. At the same time I think we can say that we already did the conversion step successfully: we copied the exact process with `ghc-cabal` and `package-data.mk` files from the old build system and it works. But now users are demanding the next step, refactoring, as several other issues are converging onto this one.

[2016-01-15 11:02] angerman commented on #170
@bgamari :+1: That would be the preferable approach! I'm willing to dive into cabal, and try to figure things out. But I'm afraid it would postpone this PR quite a bit.

And maybe we should try to address those issues in an orchestrated approach?  I would rather want to address the cabal (potential) cabal issues in a way that would help everyone and not just one project, but make it better for eve

[2016-01-15 11:07] snowleopard commented on #173
@kgardas Thanks, I see what's going on:
* When building GMP, we run the configure script inside `libraries/integer-gmp` to determine whether there is a system GMP library installed, and which one, by looking into produced files `config.mk` and `integer-gmp.buildinfo`.
* Later on the build process, the `integer-gmp` library is built, which also involves running the configure script (`ghc-cabal` per

[2016-01-15 11:07] bgamari commented on #170
@angerman that sounds reasonable to me. Indeed I'd want to hear from the Cabal folks to see whether ripping out this state is even feasible before beginning an attempt.

[2016-01-15 11:11] snowleopard commented on #170
@angerman @bgamari  :+1: to an orchestrated approach.

[2016-01-15 12:21] snowleopard commented on #158
OK, I'll close this. Looks like the fix was successful: https://github.com/snowleopard/shaking-up-ghc/issues/173#issuecomment-171932593.

[2016-01-15 12:21] #158 closed

[2016-01-15 12:43] snowleopard commented on #173
Note Travis now also fails with the lint error mentioned by @kgardas.

[2016-01-15 13:41] #134 closed

[2016-01-15 16:08] snowleopard commented on #173
So here's how I resolved this: I stopped tracking `integer-gmp.buildinfo` for now, switching from Shake's `readFileLines` to `liftIO . readFile`. When/if we resolve #18 we will be able to bring the tracking back.

[2016-01-15 17:22] #173 closed

[2016-01-15 22:26] kgardas opened #174 "Precompile interface file option (better paralellize build)"
I've done small experiment on 6 core xeon comparing shake -j12 and gmake -j12 build on Solaris 11.2 on the same code base.
Shake:
[code]
Gmake:
[code]
I've disabled haddock in gmake build, but I'm still not sure both gmake and shake build things in equal way, I'm afraid gmake may build more so basically performance of builds is let say the same.
In https://mail.haskell.org/pipermail/ghc-devs/2015-

[2016-01-15 23:03] snowleopard commented on #174
First of all, let me list the current limitations to help you compare things in a fair way:
* We only build vanilla way at the moment.
* Split objects are disabled by default to save build time (this can be changed in `Settings/User.hs`).
* Documentation is broken #98.
* Some compilation flags may differ leading to different compilation times.

Interesting idea, I never thought about this. I think

[2016-01-15 23:10] kgardas commented on #174
@snowleopard yes, that's exactly what I had in mind. The only problem here is that probably for interface files to stay intact or applicable for *.o compilation you need to use exactly the same compiler params like for later *.o compilation. -- my wild guess. Anyway, if there is a possibility to build just necessary hi file that easily, then I'm ready to give it a try on my heavily threaded slow s

[2016-01-15 23:21] snowleopard commented on #174
@kgardas I can enforce absolutely the same build flags for `*.hi` (apart from `-fno-code -fwrite-interface`) if that's what you mean.

One question: do I have to do `-o file.hi` instead of `-o file.o`?

[2016-01-15 23:57] #167 closed

[2016-01-16 00:28] snowleopard commented on #174
Looks like I don't need to use `-o` at all when producing `*.hi` files only.

[2016-01-16 03:11] snowleopard commented on #174
I've added initial support for this feature. To activate it set `compileInterfaceFilesSeparately = True` in `Settings/User.hs`. Let me know how it works for you.

Note, I sometimes experience the following errors that I cannot explain:
[code]
As you can see this happens in the `-fno-code -fwrite-interface` mode. I have no idea why GHC attempts to access any `*.o` files in this mode.

[2016-01-16 12:10] kgardas commented on #174
@snowleopard First of all thanks a lot for your fast reaction to this RFE. I'm testing the feature and twice I've seen this error:
[code]
perhaps we stretch GHC too much? Also what little bit worries me is sometimes messages ```compilation IS NOT required``` while doing fresh build. I'm curious if we do not confuse GHC when it sees hi file and then refuses to compile o file?
What's also interestin

[2016-01-16 12:15] thomie commented on #174
@kgardas: see https://ghc.haskell.org/trac/ghc/ticket/11331 for that panic. They are working on it.

[2016-01-16 12:17] kgardas commented on #174
@snowleopard w.r.t. gmp issue, after doing proper gmake clean; rm -rf .build inplace; configure I see gmp is detected well so this was perhaps some error caused by merge and not running cleanup/configure properly. I'll keep an eye on this anyway.

[2016-01-16 12:19] kgardas commented on #174
@thomie thanks! This really helps to know this.

[2016-01-16 12:23] snowleopard commented on #174
I also see failures of GHC sometimes, especially when parallelism is high. Next time I see it, I'll check whether it is the same error.

@kgardas Other than spurious GMP issue and GHC panicking, was the build successful?

[2016-01-16 12:27] snowleopard commented on #174
Yes, this is strange. Are you sure `.build` directory was removed before the build? At the moment we do not have a proper `clean` target: #131.

[2016-01-16 12:45] kgardas commented on #174
@snowleopard I'll double-check and will let you know. This was on -j12 build. Now I'm trying simple -j1

[2016-01-16 12:59] kgardas commented on #174
@snowleopard complete side note, I'm not sure if this is for another issue or not. I usually hit following error when rm -rf .build inplace and when starting build without -B option:
[code]
this is very reproducible. Perhaps also pointing to a need to have proper shake clean way...

[2016-01-16 13:01] snowleopard commented on #174
@kgardas There is `inplace/lib/package.conf.d` which you delete in this way. I presume you have to restart the build after that.

[2016-01-16 14:11] snowleopard opened #176 "Tracking bootstrapping.conf and package.conf.d directories"
@kgardas reports the following, https://github.com/snowleopard/shaking-up-ghc/issues/174#issuecomment-172203788:

[code]
this is very reproducible. Perhaps also pointing to a need to have proper shake clean way...

The problem is: at the moment we don't track `bootstrapping.conf` and `package.conf.d` directories in a correct way. The wrong solution, which is currently in place, is to use files `pa

[2016-01-16 14:12] snowleopard commented on #174
@kgardas I've created a separate issue for `inplace/lib/package.conf.d` problem: #176.

[2016-01-16 14:49] kgardas commented on #174
@snowleopard it looks like lookupVers2 GHC panic is a showstopper for me now. Anyway, on completely clean build which was done as
[code]
so -j1 and with compileInterfaceFilesSeparately = True -- I'm able to see 109 ```compilation IS NOT required``` messages before failing on GHC panic.
[code]
the panic hits me while compiling ```.build/stage1/utils/hpc/build/HpcParser.hs```
Thanks for #176

[2016-01-16 15:37] snowleopard commented on #174
@kgardas I'm afraid I don't have any insight into why we see `compilation IS NOT required`. Can you try to investigate why this happens? It makes sense not to use any `-j` flags at all during the investigation.

[2016-01-16 18:12] snowleopard commented on #176
I've implemented the only solution I can see: moved the indicator files into the directories they track. I'll keep this open for a while, maybe someone will come up with a better approach.

[2016-01-16 18:13] snowleopard commented on #174
The issue with `inplace/lib/package.conf.d` (#176) should now be fixed.

[2016-01-16 21:06] kgardas commented on #174
@snowleopard few cases I've investigated and the behavioural pattern is still the same:
hs is compiled into o (side effect hi is generated too)
hs is compiled into hi. (message is printed)
I'm not sure why hs-> hi compilation is run at all when it's not needed. Bug anywhere?
E.g.
[code]

[2016-01-16 22:23] snowleopard commented on #174
@kgardas Ah, I see! Now I understand what's going on.

I think this is because the `*.o` rule does not actually tell Shake that it also produces `*.hi` files.

We probably need to add the following:
* In the beginning of `*.o` rule add a `need` for the `*.hi` file, forcing the `*.hi` rule to fire first.
* Tell Shake that the `*.o` rule also produces `*.hi` files and specify which rule has higher p

[2016-01-17 00:00] snowleopard commented on #100
After experimenting with the proposed approach I decided not to proceed with it. Although it is indeed possible to merge all ways into one expression, the resulting code is much more difficult to understand and customise for user's needs. We stay with two expressions: `getLibraryWays` and `getRtsWays`.

[2016-01-17 00:00] #100 closed

[2016-01-17 00:31] snowleopard commented on #159
I believe this is now fixed. Please reopen otherwise.

[2016-01-17 01:38] snowleopard commented on #174
I confirm that I'm also hit by the `lookupVers2` GHC panic.

[2016-01-17 03:01] snowleopard commented on #174
I've committed some further work on this. The build has finished now, improving average parallelism from 2.61 to 3.00 with `-j4`. However, I got a lot of lint errors.

[2016-01-17 03:23] angerman opened #177 "Support building cross compilers"
We basically need to build the `stage1` compiler and then build
all the libs using the `stage1` compiler, but we do not need to
build the `stage2` compiler, as the `stage2` compiler would run
on the `target`, which we do not intend to do.

[2016-01-17 03:28] angerman opened #178 "Add support for llvm toolchain / code gen"
This will allow us to use llvm for cross compilers that use the llvm backend. (or use llvm instead of the native code gen)

[2016-01-17 03:29] angerman opened #179 "Test integerLibrary = integerSimple setting"
So far I only see we have either `integer-gmp`, or `integer-simple`. We should still be able to allow the user to choose between both.

[2016-01-17 03:32] angerman commented on #177
The relevant wiki items are:

- https://ghc.haskell.org/trac/ghc/wiki/CrossCompilation
- https://ghc.haskell.org/trac/ghc/wiki/Building/CrossCompiling

[2016-01-17 10:25] thomie commented on #177
See also these `Notes` in `mk/config.mk.in`:
* Note [CrossCompiling vs Stage1Only](https://github.com/ghc/ghc/blob/master/mk/config.mk.in#L555-L572)
* Note [Stage1Only vs stage=1](https://github.com/ghc/ghc/blob/master/mk/config.mk.in#L574-L603)

And from the toplevel `ghc.mk` file:
*  Note [No stage2 packages when CrossCompiling or Stage1Only](https://github.com/ghc/ghc/blob/3b6a4909ff579507a7f95

[2016-01-17 11:00] thomie commented on #174
@ezyang might have something to say about this ticket.

[2016-01-17 11:11] angerman commented on #177
@thomie thanks so much for adding the links.

Makes me wonder if one might want to explicitly tell the build that one is using the exactly same version to build the cross compiler. E.g. say you build a full stage2 compiler from source and use that to build the cross compiler. In that case, I don't see why one could not use stage0's ghc library. Of course in the general case, it's too old.

[2016-01-17 11:14] angerman opened #180 "Explore novel ways to produce multi-target builds."
The iOS cross compiler[1] needs to be able to target multiple architectures. And hence needs to build at least two cross compilers (one targeting `arm` for the actual device, one `i386` for the simulator). Hence maybe we can teach the build system to produce a multi backend compiler. The first step certainly would be to produce a proper wrapper script. As we are unlikely going to add this directly

[2016-01-17 11:21] snowleopard commented on #179
This is already supported, see `Settings/User.hs`:
[code]
I never tested `integer-simple` thought -- feel free to give it a try and report on your results here.

[2016-01-17 11:26] snowleopard commented on #180
Just a note about multiple passes of `configure`: if we do that in the same folder, modifying the same files, and `need` some of these files during the build, then Shake will complain with a lint error.

[2016-01-17 12:31] kgardas commented on #159
@snowleopard I'd like to reopen this ticket but don't know how. Anyway, this ticket is not only about --with-gmp-* options but also with options related to FFI library and also to ICONV library. All those are important to get working to for example not break build on OpenBSD. Please reopen if possible yourself.
Anyway, fix for FFI library handling is on the way, I just need to do final testing...

[2016-01-17 12:33] kgardas commented on #159
@snowleopard feel free to also put me as an assignee. Don't know how to do that myself. :-(

[2016-01-17 12:35] snowleopard commented on #159
@kgardas Sure!

To assign this issue to you I had to add you as a collaborator to the project, which will give you access to the master branch. Please don't write to the master branch directly, use pull requests.

[2016-01-17 12:40] snowleopard commented on #174
Just to clarify the reason behind the lint errors in the current implementation: we first create `*.hi` files via `-fno-code -fwrite-interface`, but then we write them again when producing the corresponding `*.o` file. Is there a way to disable writing of interface files in the normal mode of operation? While searching I came across `-fno-write-interface`, but not sure it's what we need.

[2016-01-17 12:43] kgardas commented on #159
@snowleopard Thanks! And sure, as a haskell beginner I'm not in a position to commit my haskell code changes anywhere except to my own branches. :-)

[2016-01-17 12:45] snowleopard commented on #159
@kgardas Thanks! Although I'm a Haskell beginner too :-)

[2016-01-17 13:48] ggreif commented on #177
I guess that looking at the GIT commit should be enough to decide it.

Em domingo, 17 de janeiro de 2016, Moritz Angermann <
notifications@github.com> escreveu:

[2016-01-17 14:00] ggreif commented on #174
Shot in the dark: you can use -hisuf to divert them. What happens when
specifying "-hisuf /" ?

Em domingo, 17 de janeiro de 2016, Andrey Mokhov <notifications@github.com>
escreveu:

[2016-01-17 14:04] angerman commented on #180
Yes. I think running multiple configure passes should be avoided at all costs. And I'm not even certain that's a viable way. Currently though, that's what is required to get all the AC stuff right.

[2016-01-17 14:04] angerman commented on #179
Ohh. Ok. Should definetly check that out :grinning: and, improve the non-haddock documentation!

[2016-01-17 16:12] snowleopard commented on #174
@ggreif I thought about this and will give it a try. However, I'm not entirely sure I know what I am doing: are these two interface files exactly the same? Can I throw away the second one with no consequences?

[2016-01-17 16:13] snowleopard commented on #180
@angerman Can we make these two passes in different directories?

[2016-01-17 16:14] snowleopard commented on #179
:+1:

[2016-01-17 16:45] ggreif commented on #174
@snowleopard pretty sure you can, they are tiny, normally. Would be better still if GHC wouldn't make the effort of producing them for some suffix values in the first line.

[2016-01-17 17:31] ndmitchell commented on #174
This approach is certainly an interesting idea, but I am somewhat sceptical. Has anyone measured time to generate interface file vs time to do code too? My understanding is this approach will only be a speed up if interface is cheap compared to code, which I don't think is true, especially at -O2 (which is the most relevant for compiling GHC).

For parallelising the build, I'm sure there will be l

[2016-01-17 17:37] ndmitchell commented on #174
For info, with a system the size of GHC, I would expect median 20 core parallelism without excessive effort on -j24. If not, I'll break out the profiler :)

[2016-01-17 17:37] kgardas commented on #174
@ndmitchell fair point, considering NCG. On the other hand if you start to use LLVM you will notice code generation is slower and once you move to unregisterised build and compiling -fvia-C like I do on SPARC, then this will be *huge* difference since in this setup majority of time of compiling single hs is dominated by GNU C compiling generated C code. Potential of paralelization is also exact re

[2016-01-17 17:37] ezyang commented on #174
(incoming comment)

[2016-01-17 17:38] kgardas commented on #174
@ndmitchell In the past, using GNU make build, I was on average 4 and median 2 GHCs running... (IIRC!)

[2016-01-17 17:48] kgardas commented on #177
For porting GHC it's also very good to have an option to build stage2 compiler while cross-compiling. You will then be theoretically able to move ghc-stage2 to the target platform and use it as a native compiler...

[2016-01-17 17:49] ndmitchell commented on #174
@kgardas ok, willing to believe in certain situations code gen could dominate. Could you measure on one module you think makes a difference? A useful number to guide us.

This technique trades additional cost for more parallelism, but I always want parallel for free where possible. I wonder if GHC could be persuaded to generate the C plus the command to compile, then Shake could do both pieces sep

[2016-01-17 17:50] kgardas commented on #180
@angerman I'm not sure, but GHC is purely single-lib compiler. A lot was done in order to support multi-lib setup, but it's not there yet. So I would suggest to start with GHC first...

[2016-01-17 17:52] ezyang commented on #174
Obviously, typechecking can't be parallelized, unless you actually and go and modify GHC a bit. The hope here is to parallelize optimization and code generation.

Unfortunately, the results you get optimizing here are not going to be as good as doing it the normal way. When you write out an interface for `-fno-code `-fwrite-interface`, we write out the contents of the interface PRIOR to doing any

[2016-01-17 18:13] ndmitchell commented on #174
Brain wave! I think @ezyang's comments mean this isn't going to really give us what we were hoping for. But, there is an alternative which might be faster in all circumstances, never noticeably slower than a normal compile, and therefore could become the default. My scheme:

* Compile as normal, but configure the C compiler to be at a different location (either by tweaking the PATH or with flags).

[2016-01-17 18:47] kgardas commented on #174
@ezyang thanks a lot for the indepth explanation. I was afraid that we may hit the wall here by exploring paths not directly tested/supported by GHC. From your description it looks like -fwrite-interface -fno-code combination is simply GHC buggy as it write interface too early, probably on different place than usual interface write is done during normal compilation. Your reference to GHC ticket le

[2016-01-17 18:53] kgardas commented on #174
@ndmitchell interesting idea, but what about different thing? Let's test (if it does already) or change GHC to write hi files as quickly as possible (but reliably like @ezyang pointed out), it should be done kind of transactional so write hi to hi_promise and once done rename hi_promise to hi (or kind of that) and then continue with compilation to asm/llvm/C as usual. Then hack shake to not wait f

[2016-01-17 18:56] ndmitchell commented on #174
@kgardas - I think my hacking the C file is just an implementation of promises that would be simple and quite robust. Having a Shake rule that starts, produces something, but then continues and produces more without the possibility of pausing it, doesn't really fit with Shake. Polling for the .hi file or using notify techniques is a pain. I think the benefit over my promises technique would be sma

[2016-01-17 18:57] ndmitchell commented on #174
I should say, while this "doesn't really fit" with Shake, I have no doubt it is somehow possible, so if that becomes the only reason holding this back, I'll have a think.

[2016-01-17 18:59] kgardas commented on #174
@ndmitchell your hacking on C compiler is interesting by I fear the build system for unregisterised and registerised builds will be different which is something I would try to avoid. Or well, perhaps I do not understand how hard would be to put your idea into GHC's shake build machinery...

[2016-01-17 19:02] kgardas commented on #174
@ndmitchell yes, my idea is about polling for kind of intermediate result since other modules compilations depend on this intermediate result and not on the actual result of compilation. i.e. hi files versus o files. Surely final linkage depends on o files, but this is not important in situation where you E.g. see build process compiles DynFlags.hs and you wait ~30 minutes for C compiler to finish

[2016-01-17 19:05] ndmitchell commented on #174
Hmm, true, I hadn't thought of registered vs unregistered - that may be the place where GHC mangles the .o file afterwards, which is mostly fatal to my technique. That said, maybe combining our techniques gives something better - when GHC calls out to the C compiler we know the .hi file is done, so we could use that as the trigger to allow everything else to continue.

[2016-01-17 19:07] ndmitchell commented on #174
Is it really 30 mins to build DynFlags C code? That seems like a bug - as though GHC is tickling some bad complexity in the C compiler. Is that using gcc, or some ancient system compiler?

[2016-01-17 19:22] kgardas commented on #174
@ndmitchell next week I will measure DynFlags for you, but please keep in mind this is UltraSPARC T1 so basically 1GHz single-issue in-order 8 core with 4 threads per core machine. Old and tuned for highly parallel work indeed. Also if you are curious just test --enable-unregisterised on Linux and see how build times differ. NCG is really a kind of speed here... Unfortunately I still do have some

[2016-01-17 19:27] kgardas commented on #174
@ndmitchell small correction to your fake C compiler idea. The problem to solve is that at the time real C compiler is invoked original C source is long time gone since this is GHC's temporary file which is deleted on GHC process exit (more or less). So your idea involves also copying C code to some other temporary location to prevent its deletion and compiling this then.

[2016-01-17 20:58] ezyang commented on #174
Let me add, it's relatively straightforward using the GHC API to bail out before running the compiler/assembler. But I really don't think it's C's fault. For example, on DynFlags, I'm pretty sure the bottleneck is due to instance deriving on the giant data structure.

[2016-01-17 21:42] ndmitchell commented on #176
What would need on a directory do? I can't think of any semantics beyond `need =<< getDirectoryFiles dir ["**"]`. And that's not going to help you anyway.

[2016-01-17 21:46] kgardas commented on #174
@ezyang by your last note about DynFlags, do you suggest this also means that DynFlags.hi will not be generated that soon as I hope so? Well, will need to test this in real for sure...

[2016-01-17 21:49] kgardas opened #181 "Broken ghc after build (unlit and help missing)"
I've tested head master on Solaris and although the build is signaled as done the result is not working compiler:
[code]
am I the only one seeing this or is this general issue?

[2016-01-17 22:01] kgardas commented on #159
@snowleopard I've pushed a pull request for handling FFI library configure args now. Let me appologize I'm not able to test that as I'm not able to build working GHC with either my branch or with your master for now -- see #181 -- so well, please be more careful about this. Also I've not tested on windows at all, just on Solaris and this resulted in ghc-stage2 binary correctly linked against syste

[2016-01-17 22:08] snowleopard commented on #176
Here is what I would like to do: _If the directory does not exist, run the build rule that will create it._

Here is what my workaround does: _If the indicator file in the directory does not exist or is not fresh, run the build rule that will create both the directory and the indicator file._

(Note, the freshness check is redundant as the timestamp & contents of the indicator file are irrelevant.

[2016-01-17 22:17] ndmitchell commented on #176
Stamps inside the directory seems a very good way to go. You aren't really needing the directory, you need a file inside it. You could track the creation of the file with a special type of rule that does not look at timestamp, but that's way too much hassle.

[2016-01-17 22:18] ndmitchell commented on #176
In fact, an oracle which creates if necessary and returns () perfectly captures the dependency and is fully robust.

[2016-01-17 22:21] snowleopard commented on #159
@kgardas No problem, we have CI instances checking Linux/OSX/Windows, so we should be safe. I'll also make sure it works well on Windows.

[2016-01-17 22:31] snowleopard commented on #176
Aha, sounds good. Something like this?
[code]

[2016-01-17 22:37] angerman commented on #181
I assume this is a general issue. unlit though I would have thought would exist. ghc-usage.txt is likely just not being copied.

Sent from my iPhone

[2016-01-17 22:47] snowleopard commented on #181
We can easily add a rule to copy `ghc-usage.txt` and `ghci-usage.txt`.

Looks like `unlit` is missing because we never ask to build it! I'll fix this too.

[2016-01-17 22:58] ezyang commented on #174
I don't know. Here's the GHC bug tracking: https://ghc.haskell.org/trac/ghc/ticket/7258

Whether or not it generates quickly enough depends on whether or not the type checker is slow (if so, nothing will help), or if the optimizer is slow (if so, `-O0` or `-fno-code -fwrite-interface` will help), or if the code generator is slow (if so, eagerly writing the interface will help.)

[2016-01-17 23:04] ndmitchell commented on #176
Use doesDirectoryExist in IO not Action to avoid the lint failure. Probably use doesFileExist on the .cache file for more robustness if someone just deletes the file.

[2016-01-17 23:07] snowleopard commented on #174
Thanks all for your input. Very interesting discussion and I hope we'll eventually find a way forward.

In the meanwhile, shall I remove my experimental implementation from the codebase? It looks like it won't bring us to a right solution. Or will anyone still like to play with it? The `compileInterfaceFilesSeparately` is off by default, so we can keep it (at the cost of less readable code).

[2016-01-17 23:12] kgardas commented on #174
@snowleopard could you be so kind and keep it at least for benchmarking purposes? IMHO if it's done correctly then it may represent times of parallel build we can get either with shake polling for hi file as intermediate or with fixed ghc emitting correct hi file...At least good for the reference, isn't it? I think @ndmitchell idea of fake C compiler may run only a little bit slower due to a wait

[2016-01-17 23:18] snowleopard commented on #174
@kgardas OK, let's keep it for now. Let us know if you get any interesting benchmarks results.

[2016-01-17 23:26] snowleopard commented on #176
M-m, I'm a bit confused now. Since this always runs and never invalidates the build, then why use oracles? I guess the following `Action` will do:
[code]

[2016-01-17 23:37] snowleopard commented on #181
OK, should be fixed now. Please reopen otherwise.

[2016-01-17 23:37] #181 closed

[2016-01-18 01:31] #124 closed

[2016-01-18 01:31] snowleopard commented on #124
I refactored `Builder.hs`, here is a summary:
* Function `builderProvenance :: Builder -> Maybe (Stage, Package)` sets up a correspondence between the builders we build and the `Stage`/`Package` combinations.
* Internal builders can now be characterised as `isInternal = isJust . builderProvenance`.
* `needBuilder` only needs internal builders.
* Internal builders have been removed from `system.con

[2016-01-18 02:44] angerman commented on #180
@kgardas I see two approaches here: one is the soft multi-arch targeting ghc, which basically is just one ghc for each arch under the hood, but tied together through a wrapper script that dispatched according to the requested arch. On the other hand full multi-arch support in GHC, which will likely take very long to get right, but would allow to maybe reuse type checker results (I'm not certain ho

[2016-01-18 02:46] angerman commented on #180
@snowleopard I think we should be able to. We could also just put the build artifacts into say `.build-$host-$target` or something to separate them per architecture.

[2016-01-18 02:47] angerman commented on #177
@kgardas for porting certainly. But technically I don't consider a stage2 compiler a cross compiler anymore, as it targets the same platform it runs on.

[2016-01-18 06:37] ndmitchell commented on #180
The preprocessing symbols will be different per host so sharing even hi wil be tricky.

[2016-01-18 06:42] ndmitchell commented on #176
That action does one directory check every time (probably not actually expensive in practice) and might have a race - if you use a db while being created (not sure if the db rules).

[2016-01-18 12:39] snowleopard commented on #176
Aha, so the difference is: the oracle action will run every build _but only once_, while the non-oracle action will run every time it is called, in particular the file/directory check will be done each time.

For me that's a good enough reason to prefer the oracle solution.

[2016-01-19 02:38] snowleopard commented on #176
Fix delayed as I came across a nasty import cycle:
* `Action.Rules.build` requires `getArgs` from `Settings.Args` to determine the list of arguments to pass to the builder.
*  `getArgs` is computed by collecting arguments for all builders, in particular `ghcCabalBuilderArgs` living in `Settings.Builders.GhcCabal`.
* `ghcCabalBuilderArgs` needs to call the `PackageDb` oracles that in turn relies on

[2016-01-19 03:14] #176 closed

[2016-01-19 03:15] snowleopard commented on #176
OK, I managed to break the cycle. An oracle-based fix is now submitted.

[2016-01-19 12:50] angerman opened #184 "Visualize Dependencies"
I'm trying to update the `ghc-cabal` branch to the latest master, so it doesn't get forgotten about completely. See #166, and I'm continuously running into cyclic imports.
I'll try to clean them up. But I'd like to take the opportunity to gather input on inter-project dependency visualization (tools?) or a general approach, that would reduce the risk of cyclic imports with `shaking-up-ghc`, as thi

[2016-01-19 12:54] ggreif commented on #184
There are a few graphviz packages on hackage, notably
https://hackage.haskell.org/package/dotgen for simplifying this. Maybe
Neil can tell how to add it if there is a simple way.

On 1/19/16, Moritz Angermann <notifications@github.com> wrote:

[2016-01-19 12:56] ndmitchell commented on #184
Using Shake you can visualise dependencies with the profiling, but here it's talking about the Haskell files in the build system itself, not the result of the build system.

I have to say I rarely (never?) have problems with circular imports. I suspect some more robust partitioning, grouping data and functions that operate on each other separately, and more global knowledge should work.

[2016-01-19 13:11] angerman commented on #184
I found that there is `-ddump-minimal-imports`[1]. So maybe I'll be able to whip something together with with `dot`, to run minimal imports (and detect unused imports), and then check for clusters to find a better partitioning.

Sounds like it could work?

---

[1]: https://gist.github.com/dmalikov/6098556

[2016-01-19 13:16] ndmitchell commented on #184
We are already at minimal imports, since we warn if there are any unnecessary imports.

[2016-01-19 13:34] angerman commented on #184
@ndmitchell ohh, that's right. So unused imports won't be an issue. As far as I understand minimal-imports, it also produces the list of imported symbols per module. Thanks for pointing that out though!

[2016-01-19 17:46] snowleopard commented on #184
One way to get rid of cyclic dependencies may be to get rid of `src/Oracles.hs` which re-exports a lot of oracle modules and instead import them directly when need be.

Not sure visualisation helps actually. I had to break cyclic dependencies several times already and usually I had to fully understand the reason for the cycle, before I could break it in a sensible way. The most recent case: https:

[2016-01-20 00:35] snowleopard commented on #18
I've changed the milestone to `tree-tremble`. It looks like we won't make it for `first-shake`, as I'd like to release it this week.

[2016-01-20 00:38] snowleopard commented on #170
This issue and #18 are now postponed until `tree-tremble`.

[2016-01-20 01:03] snowleopard commented on #132
Thanks to @angerman's `CmdLineFlag` it is trivial to read command line flags in `User.hs`. I demonstrated this in the above commit, which adds `--split-objects` flag enabling the generation of split objects.

I therefore close this issue.

[2016-01-20 01:04] #132 closed

[2016-01-20 01:39] angerman commented on #184
@snowleopard ohh, that would precisely be the idea. To better understand the cycle, have all functions point to the used symbols they use from the current project under compilation. That way cycles should be obvious, or so I hope. `-ddump-minimal-imports` would help in showing that one potentially only import a single symbol from the `Oracles`. A whole module dependency analysis could assist in un

[2016-01-20 01:44] angerman commented on #56
For the `/doc` part, should we try to use [read the docs](https://readthedocs.org)? [stack](http://haskellstack.org) uses that as well, and I find it quite good to read.

In anywise, if anything specific should be covered, let's try to keep track of that in this ticket.

[2016-01-20 09:47] kgardas commented on #174
Hi,
first of all @ezyang was right about the fact that current -fno-code -fwrite-interface machinery is not working as it should and that it generates wrong interface file(s). I've done promised testing on sparc T1 and the results are here:
DynFlags.o compilation (of GHC 8.0.1 RC1 done by GHC 7.10.1) takes ~30 minutes.
DynFlags.hi compilation done by -fno-code -fwrite-interface takes ~20 seconds,

[2016-01-20 09:51] kgardas commented on #174
A note about correct and incorrect hi files for DynFlags:
[code]
so hi-no-foce-write-interface is generated by -fno-code -fwrite-interface which took those 20 seconds. The other one is from ordinary compilation and took ~13 minutes to get to its write.

[2016-01-20 10:50] olsner commented on #174
I've experimented some with this too, though in the makefile system (most of it messing about just to get the rules to run properly for .hi and .o files). The current state of that mess is at https://github.com/olsner/ghc/commits/separate_hi_2

That included some code to write the "full" interface with -fno-code, attempting to get the same interface generated as when running without -fno-code: htt

[2016-01-20 14:28] snowleopard commented on #184
Ah, I see now. This makes a lot of sense. Let me know if you manage to find a useful tool to assist in isolating cycles, and perhaps even suggesting possible solutions.

It's an interesting algorithmic problem actually: doing the analysis and presenting the developer with some options in the form: "Move symbol X from Y.hs to Z.hs". Hm-mm.

[2016-01-20 14:33] snowleopard commented on #56
@angerman I am not sure why, but I find the `stack` documentation confusing. It always felt complicated and daunting to me, although it's hard to point out the exact reason. Not sure if `readthedocs` contributed to this perception.

Personally, I'd prefer a simple Markdown document for the `/doc` part in the first instance. Once it starts to outgrow this simple format we may consider other options

[2016-01-20 14:57] ndmitchell commented on #56
I dislike the stack stuff too. Markdown is simple and clean on GitHub. I suggest once we outgrow a couple of pages, we simplify the build system - this stuff isn't meant to be rocket science!

[2016-01-20 20:49] snowleopard commented on #56
@ndmitchell :+1:

[2016-01-20 23:45] snowleopard commented on #159
@kgardas Have all issues been fixed now? Or is there anything else to be done?

[2016-01-21 01:12] angerman commented on #56
Ohh, readthedocs is just a presentation layer using markdown or reStructuredText, stack's documentation is in their doc folder in markdown as well see https://github.com/commercialhaskell/stack/tree/stable/doc

So it must be either the presentation or the writing :-)

Let's stick with bare `/doc` for now then.

[2016-01-21 10:03] kgardas commented on #159
@snowleopard no, there are still outstanding issues shown on OpenBSD where gmp is not in /usr/lib but in /usr/local/lib -- so we need to correctly pass -L to the linker. Issue shows as:
[code]
on Solaris everything's fine for the moment.

[2016-01-21 10:58] snowleopard commented on #159
@kgardas I see, thanks for clarifying! If you need any help with this, please let me know.

[2016-01-21 14:04] kgardas commented on #159
@snowleopard if you plan release just do it. I'll not be able to get to this issue before this or next weekend.

[2016-01-21 16:45] ndmitchell commented on #31
If you want to avoid rebuilding when changing `ghc-pkg` in non-interesting ways I suggest linking `ghc-pkg` to `ghc-pkg2`, and copying it over the top if it has changed (or changed in interesting ways, if you can automatically skip 14 irrelevant bytes).

[2016-01-22 12:04] snowleopard opened #186 "Test and fix the profiling way"
We currently disable the `profiling` way in `Settings/User.hs`, partly to speed up default builds. However, it may actually work correctly. We need to test it and consider enabling it by default.
- [x] Test and fix the `profiling` way
- [x] Consider enabling it by default or as part of the `profiling` flavour
- [x] Add a command line flag to enable/disable `profiling`

[2016-01-22 12:08] snowleopard opened #187 "Add validation support"
We need to add support for running automated GHC tests when the build system is run with `test` target.

Below are specific subtasks we identified in this thread (see discussions below):
- [x] Implement a temporary target `validate` which simply runs `make fast` in `testsuite/tests`.
- [ ] Support a flag like `--test-hc=...` to allow specifying a Haskell compiler to use for running tests. Possible

[2016-01-22 12:14] snowleopard opened #188 "Add support for build flavours"
The `make`-based build system supports a number of _build flavours_, collections of settings tailored for a particular use-case, e.g. `quick`, `validate`, etc.

Relevant issues: #132, #186, #187.

[2016-01-22 13:03] ndmitchell commented on #131
As a note, you generally only need to use `removeFilesAfter` if you are specifically removing the `.shake.database` file, which is otherwise locked open. For everything else it's better to use `liftIO $ removeFiles`.

[2016-01-22 13:05] snowleopard commented on #131
@ndmitchell Thanks, I will fix this. Do we want to remove the Shake database too when doing `clean`?

[2016-01-22 14:32] ndmitchell commented on #131
I see no reason not to remove the shake database - it gives you the best chance of reproducing issues from scratch, which is a major goal of doing clean.

[2016-01-22 14:39] snowleopard commented on #131
Done, I agree.

[2016-01-22 14:46] ndmitchell commented on #131
Thanks for this, I was waiting for a clean target before I conducted any more testing, so I'll give my Windows/Stack build a try tonight.

[2016-01-22 14:49] snowleopard commented on #131
I hope I haven't missed anything. If you spot any left-over files while testing please let me know.

[2016-01-22 16:33] ndmitchell commented on #131
@snowleopard - why not just test it properly on the CI machines? At the end of the build do `clean`, and then check something like `git diff --exit-code`, perhaps ignoring certain files, perhaps not applying the `.gitignore`. If that list is "longer than you expect", then error out. For info, I do this on all my builds, especially to check that those libraries with generators have had the generato

[2016-01-22 16:48] snowleopard commented on #131
@ndmitchell Good idea! I'm a bit concerned that this might increase CI time; we are already close to AppVeyor time limit, where we are at the very edge even when building GHC stage1 only. I don't want to lower the bar any further (below GHC stage1). Can you spot any optimisation opportunities?

Of course, we don't have to run this check on all CI instances.

Another idea: could we ingrate the prop

[2016-01-22 17:17] ndmitchell commented on #131
I wouldn't put the check into clean - users might (probably will) have locally modified files, or other stuff they have put somewhere else in the directory, and we don't want to report that as an error. Adding a cleancheck target that does it (just so the code can be properly integrated) which itself depends on clean, isn't a bad idea.

I suspect the clean and check will take ~10s at most - it sho

[2016-01-22 18:25] snowleopard commented on #131
So, let me reopen this issue as it requires further work.

[2016-01-22 18:28] snowleopard commented on #131
@ndmitchell You seem to be very familiar with the solution you are proposing, perhaps, you could take this over? Here are the tasks we have:
- [ ] Add a clean check on Travis
- [ ] Implement a `cleancheck` rule (optional)

[2016-01-22 18:31] ndmitchell commented on #131
Certainly, with the caveat that it will be about 1-2 weeks before I do it (assuming I don't get time tonight). The remaining part is unimportant though so can remilestone til later.

[2016-01-22 18:32] snowleopard commented on #131
Thanks @ndmitchell! Take your time. I don't think this is on the critical path.

[2016-01-22 21:04] ndmitchell opened #189 "configure fails"
I checked out a fresh GHC and tried to build from scratch using `--configure=--enable-tarballs-autodownload`. It failed with.

    configure: error: in `C:/Neil/ghc':
    configure: error: C compiler cannot create executables
    See `config.log' for more details

I then ran `./configure --enable-tarballs-autodownload` by hand and it said:

    configure: Checking for Windows toolchain tarballs...

[2016-01-22 21:13] snowleopard commented on #189
Hmm, can you try to reproduce the following:
* Check out a fresh GHC
* Run `./boot`
* Run `./configure --enable-tarballs-autodownload`

At this point `shake-build/cfg/system.config` is missing (if we believe the error message). If this is the case, it means the problems start before the build system had any chance to do anything.

[2016-01-22 21:54] ndmitchell commented on #189
Three scenarios:

* Fresh checkout. Run shake --config runner. Fails.
* Fresh checkout. Run shake --config runner. Fails. Then run boot, configure. Fails.
* Fresh checkout. Run boot, configure, shake --config runner. Succeeds.

So I don't know what about preconfiguring makes it works, and I don't know how a shake --config breaks future configures, but it does seem to... At first I thought this was

[2016-01-22 22:00] snowleopard commented on #189
Could you try the 'traditional' scenario?
* Fresh checkout
* `./boot`
* `./configure --enable-tarballs-autodownload`
* `shake-build/build.bat`

[2016-01-22 22:06] snowleopard commented on #189
Another useful experiment:
* Fresh checkout
* `shake-build/build.bat --configure configure`
* `./configure --enable-tarballs-autodownload`
* `shake-build/build.bat`

Note: in the second step, the build system should run boot only, allowing us to test it in isolation.

[2016-01-22 22:07] ndmitchell commented on #189
When I tried that it said:

    Configuration file shake-build/cfg/system.config is missing.
    Run the configure script either manually or via the build system by passing --configure[=ARGS] flag.`

[2016-01-22 22:08] snowleopard commented on #189
Can you check the file is indeed missing? I think this means the build system is not to blame.

[2016-01-22 22:09] ndmitchell commented on #189
Why would you expect running ./configure to generate anything in shake-build? Unfortunately I doubt I'll have time to run any more scenarios tonight (have to pack). Tomorrow I might manage to squeeze in one before I leave, but might not.

[2016-01-22 22:15] snowleopard commented on #189
Well, that's how it's supposed to work: https://github.com/ghc/ghc/blob/master/configure.ac#L1094-L1097
[code]

[2016-01-22 22:17] ndmitchell commented on #189
Ahha! I think I did a fresh checkout, configured ghc, and _next_ checked out the shake pieces. My intention was to guarantee there could be no interference with the fresh Shake bits. I guess I succeeded too well! At least that explains some of it.

[2016-01-22 22:20] snowleopard commented on #189
Aha, that sounds like a possible explanation! I was actually wondering how to make this a bit more robust w.r.t. to the order of configure vs shake checkout. I expect other people might fall into this trap too.

[2016-01-22 22:21] ndmitchell commented on #189
So we're left with shake-build --configure is broke on my system, plus there is one order where things break badly. Two separate issues, one clearly understood, one not.

[2016-01-22 22:30] snowleopard commented on #189
So, coming back to the failure of `shake-build/build.bat --configure`. This seems to be the key:
[code]
The tarball with `gcc` was downloaded (I assume it is present at `C:/Neil/ghc/inplace/mingw/bin/gcc.exe`), but the executable is somehow broken. Can you run it by hand? Could it be a network issue? Or are we back to the issue with mismatching environment variables?

[2016-01-22 22:42] ndmitchell commented on #189
Checking the new config logs, it seems the "real" configure also used gcc, which I assume means it worked, since I have a working build. Running `--version` works. I would love to get what error message configure got when it "checked gcc" and found it wanting, but I have no idea how to do that. I don't think there's a network issue. Some kind of environmental issue seems most likely.

[2016-01-22 22:43] ndmitchell commented on #189
For the `configure` not being in the right place, I suggest that _before_ shakeWithArgs you do a check. If the GHC configured one exists, but the Shake configured one doesn't, you copy across. That should patch things up without involving the build system, and the `--configure` will be obeyed properly.

[2016-01-22 23:00] snowleopard commented on #189
But `configure` is in the right place, I never copy it. I run the usual top-level `configure`.

The issue is with the error message:
[code]
I could make it more friendly: if I detect that `configure` did run, but _before shake-build was cloned_, I could give a different error, perhaps hinting that one needs to run `configure` again.

[2016-01-22 23:10] ndmitchell commented on #189
Ah, I didn't realise configure actually has meaningful differences in the presence of shake, I thought it was just copying a file.

[2016-01-23 08:59] cocreature opened #191 "stack and GHC_PACKAGE_PATH"
When I try to run `./shake-build/build.stack.sh --configure` I run into the following error:
[code]
It looks like the problem is that running inside of `stack exec` sets GHC_PACKAGE_PATH. The cabal sandbox script seems to work, but since the stack script is in the repo it’s probably supposed to work as well.

[2016-01-23 09:02] ndmitchell commented on #191
I think we should be clearing the GHC PACKAGE flags, since we're already passing a package db path. A know stack vs cabal headache :(

[2016-01-23 09:17] Ericson2314 commented on #191
Agreed. And wouldn't probably interfere when bootstrapping anyways?

[2016-01-23 12:27] snowleopard commented on #191
I also came across this problem when using Stack on AppVeyor.

Sure, we either need to fix it or drop from the repository. It was added in PR #190 by @joehillen.

@joehillen have you come across this problem too? Did you find a workaround?

I could probably reset the `GHC_PACKAGE_PATH` variable from within the build system, but this looks unsatisfactory. Hopefully there is some command-line soluti

[2016-01-23 17:07] snowleopard commented on #159
@kgardas Just FYI: I moved gmp and libffi to Stage1 (see two above commits). This should improve parallelism and make Stage0 build fit into 1 hour on AppVeyor.

[2016-01-23 20:56] Ericson2314 commented on #180
I suppose it should be mentioned that this now exists https://ghc.haskell.org/trac/ghc/ticket/11470 :)

----

I've been mucking around with ghcjs the last few days, and have definitely felt the need for this. Instead of the wrapper approach, I'd propose experimenting with the Nix Haskell Infrastructure instead---basically because there is a need to manage multiple package database separately and t

[2016-01-23 21:54] ndmitchell commented on #191
I think deleting the variable is the right thing to do even without stack. This is a variable that may get set for other reasons, and when set, breaks ghc-cabal. I personally consider this a bug in cabal, but easier to work around than fix.

[2016-01-23 22:02] snowleopard commented on #191
@ndmitchell That's a good point. OK, I will prepare a fix. Something like this in `Main.hs`?
[code]

[2016-01-23 22:26] Ericson2314 commented on #180
Here's what I've done so far: https://github.com/NixOS/nixpkgs/compare/master...Ericson2314:haskell-cross

[2016-01-24 01:35] #191 closed

[2016-01-24 01:36] snowleopard commented on #191
This should be fixed now, please reopen otherwise.

I decided to add a separate module `Environment` that will be responsible for setting up the environment.

[2016-01-24 04:30] joehillen commented on #191
I wonder why I didn't hit this issue when I tested it.

@snowleopard You should install stack. It's become a standard haskell dev tool. I haven't used cabal-install once since I started using it. http://docs.haskellstack.org/en/stable/README.html#how-to-install

[2016-01-24 11:50] snowleopard commented on #191
@joehillen I am aware of Stack's advantages. However, the old build system didn't rely on it, so the new one shouldn't either. Of course, users of the build system are free to use whatever they like, but I need to stay away from Stack while I'm working on the build system to make sure it doesn't become a dependency by accident.

[2016-01-25 13:01] mpickering opened #194 "First Attempt Log"
Writing down the steps I had to go through on my first attempt to get the build to work.

1) Clone everything, works fine.
2) Get a bit confused about which build script I am meant to run, decided that `build.cabal.sh` looks the most promising.
3) Have to manually edit `build.cabal.sh` and `cabal.config` to specify the compiler I want to use rather than the one on my patch.
4) Run `build.cabal.sh`

[2016-01-25 13:38] snowleopard commented on #194
@mpickering Thanks a lot for your detailed report! Sorry you hit so many bumps on the way.

Let me go through your issues one by one:

I think I should add a warning to `README` that only `build.sh` and `build.bat` are supported at the moment. Other scripts have been added by several contributors mostly for their own use. They should all be considered experimental.

As I understand correctly you w

[2016-01-25 13:47] mpickering commented on #194
I am currently building stage2, so I think that everything else should go as expected.

[2016-01-25 13:52] snowleopard commented on #194
Thanks! Could you please test the `--configure="--with-ghc=<path/to/ghc>"` flag on a fresh clone? I think it should work both with `build.sh` and `build.cabal.sh` scripts. If it does, then the only remaining problem will be with the `-<.> exe` bug, which I am fixing now.

[2016-01-25 13:56] snowleopard opened #195 "The --configure flag is confusing"
A couple of reports (e.g. #194) indicate a confusion about the `configure` script and the `--configure` flag. The current `README` is not clear on this.

The following use cases should be clarified:
* Passing flag `--configure` should be equivalent to running `./boot` and `./configure` before the build script.
* `--configure=--enable-tarballs-autodownload`.
* `--configure="--with-ghc=<path/to/ghc>

[2016-01-25 14:06] snowleopard commented on #194
OK, the path bug should be fixed now.

[2016-01-25 14:28] mpickering commented on #194
1. Doesn't work - `ghc` is hard coded into the `build.sh` script.
2. The problem with `build.cabal.sh` is that it tries to install the dependencies with the compiler in your path. You really have to add a `cabal.config` script with the line `with-compiler: ghc-7.10.2`.

[2016-01-25 14:32] mpickering commented on #194
Also, I can clean all artifacts with `./build.sh clean`? It might be worth putting that exact somewhere in the readme, it seems to be buried inside a paragraph.

[2016-01-25 14:43] snowleopard opened #196 "ghc is hardcoded in build scripts"
@mpickering reports https://github.com/snowleopard/shaking-up-ghc/issues/194#issuecomment-174522980:

2. The problem with build.cabal.sh is that it tries to install the dependencies with the compiler in your path. You really have to add a cabal.config script with the line with-compiler: ghc-7.10.2.

We need to provide a way to choose which GHC to use to compile the build system (and pass this info

[2016-01-25 14:44] snowleopard commented on #194
Oh, I see. That's a headache. I've created a separate issue for this: #196.

[2016-01-25 15:01] snowleopard commented on #194
@mpickering Will the following be better as a `README` section?

----

#### Clean and full rebuild

* Run `shake-build/build.sh clean` to remove all build artefacts. Note, we are working towards a complete separation of GHC sources and build artefacts: #113.

* Run `shake-build/build.sh -B` to force Shake to rerun all rules, even if results of the previous build are still in the GHC tree.

[2016-01-25 15:02] mpickering commented on #194
I think so. Thank you for your quick and useful responses.

[2016-01-25 15:09] snowleopard commented on #194
Thanks @mpickering!

I am closing this issue now. Hopefully #195 and #196 won't take too much time to resolve.

[2016-01-25 15:09] #194 closed

[2016-01-28 02:47] snowleopard opened #197 "Improve test coverage of the build system"
The `selftest` target is currently too limited to be useful. More tests need to be added.

[2016-01-28 03:01] snowleopard commented on #187
Several quick attempts to reuse the `validate` script have failed, so I decided to start implementing a proper test rule in the new build system. (Note, I still rely on the old Python scripts for testing -- rewriting them seems to be a major undertaking.) The test rule does work for me on Windows, but the functionality is very limited at the moment. You can give it a try by running:

`shake-build/

[2016-01-28 05:30] thomie commented on #187
The GHC testsuite is `make`-based, but it is completely separate from the GHC build system. So instead of reimplementing the logic from `testsuite/mk` and `testsuite/tests/Makefile`, by calling `python testsuite/driver/runtests.py` with lots of arguments, you can just run one of the following commands, and everything should just work (copy-pasted from toplevel Makefile):

[code]

That said, you ca

[2016-01-28 05:57] thomie commented on #186
Just a heads up: `mk/flavours/prof.mk` is for profiling GHC itself (and hardly anyone ever does, that's why it so slow, ha ha ha). To profile GHC, you need to build the libraries the `p` way first. Some build flavours skip this by setting `BUILD_PROF_LIBS=NO`.

GHC releases don't ship with a profiled GHC. They do include a copy of the libraries built the `p` way (excluding the `ghc` library), so u

[2016-01-28 11:20] snowleopard commented on #187
@thomie Many thanks for the details. I think I did manage to understand this overall structure while trying to reuse `validate`, but it's very helpful to have it all explained in one place.

The key obstacle for simply calling `validate` is that we are in the process of separating build results from GHC sources (see #113), so some build artefacts are not where `validate`/`make` expect them to be,

[2016-01-28 11:22] snowleopard commented on #186
@thomie Good to know, thanks! I didn't realise libraries and GHC were treated differently w.r.t `profiling`.

[2016-01-28 11:27] snowleopard commented on #188
@thomie Let me respond to your comment here.

Yes, for now I am also putting different flavours in separate files. Let's see how small/big these files will eventually become. We probably wouldn't want to multiple files each containing a single useful line and a dozen of boilerplate imports etc., but maybe this won't happen.

[2016-01-28 13:13] thomie commented on #187
Maybe just leave things where they are now? Then those GHC bugs you ran into in #131 and here can be fixed at some later time.

Even when not relying directly on any of the artifacts from the old build system, it might allow you to run both systems separately, logging all shell commands and `diff`ing the logfiles to spot inconsistencies.

`make clean` in a `libraries` or `utils` directory being th

[2016-01-28 13:34] snowleopard commented on #187
But this requires extra work. The `stageN` naming convention is cleaner and more internally consistent, which simplifies the new build system. Adding support for exact compatibility with `dist*` naming convention is certainly possible, but it doesn't feel a very productive way to spend my limited time right now. I'd rather spend it on getting rid of all makefiles, which is the main goal of this pr

[2016-01-28 14:12] thomie commented on #187
Ok, sorry, I wrote my comment thinking it would be less work. A better naming scheme than `dist*` is also nice.

I won't stop you, but as I said before, the `make` based parts of the testsuite are completely separate from the main build system. They are also fairly trivial and don't cause anyone problems at the moment, so you could easily defer this whole sub-project to a later time, especially if

[2016-01-28 15:12] thomie commented on #187
To clarify: you could delete all `.mk` and `Makefile`s not in the testsuite directory, and the testsuite still works.

This also serves a purpose: you can run the testsuite with an external compiler (with the `TEST_HC` env variable). To prevent GHC developers accidentally relying on build system settings for one of the tests, which won't be accurate when using the external compiler, it is useful t

[2016-01-28 15:54] snowleopard commented on #187
Oh, I feel very dumb! I think I never tried running `make fast` from the teststuite directory directly (I only tried the `validate` script which somehow forced rebuilds). Let me check this. If it works then we'll have a great temporary solution.

* Make test / allow / fast / slow etc. targets available, that call the python driver
* Contain implementations for most run_command tests, that are call

[2016-01-28 16:19] thomie commented on #187
Aha! I think I understand your problem.

`validate` does this on purpose though, to make sure there is nothing left behind from an earlier build:
[code]

You can call `./validate --no-clean` to avoid it.

The other reason it will do rebuilds, is that your development build will probably have used different settings than those in validate.mk. That's why you should avoid calling validate in the git

[2016-01-28 17:48] snowleopard commented on #187
@thomie `make fast` does work from the `testsuite/tests` folder. I only need to build `inplace/bin/hpc` and I should be able to use it without the `make` build system. Hurray! Hopefully I'll fix this today.

Note: `./validate --no-clean --fast` still initiates a complete rebuild of GHC. I don't know why.

[2016-01-28 18:13] thomie commented on #187
How did you make your first build? If with the new build system, then yes, it will do a complete rebuild, because `validate` calls `make` to do a build, and the new build system puts files in different places as I understand it. But you know this, so I'm confused.

Maybe you're looking for `./validate --testsuite-only`?

[2016-01-29 01:23] snowleopard commented on #187
I tried the following: run the `make` build system first, then run the new build system on top of it, then run `./validate --no-clean --fast` (with the intention to later iterate the last two). This forced rebuilds for me.

Anyway, I've added some bits to the new build system and now we can simply say:
[code]
and it will run `make fast` in `testsuite/tests`. Seems to work for me. I'll give it a co

[2016-01-29 01:31] thomie commented on #187
Why do you think it should *not* do a rebuild?

[2016-01-29 10:43] snowleopard commented on #187
* The new build system builds `inplace/bin/ghc-stage2` with a later time stamp, which could make `make` happy. But I guess `ghc-pkg`'s later time stamp invalidated all `package-data.mk` files. This wouldn't be fatal for the new build system, since their contents wouldn't change. But `make` doesn't like this and rebuild everything.
* There was also hope that `validate` is not directly linked to the

[2016-01-29 17:03] thomie commented on #187
Maybe I'm misinterpreting this comment, but `make` (`make all`) does not only depend on the timestamps of the programs in `inplace/bin`. The `all` target also depends on all the libraries. So if you touch `compiler/main/GHC.hs` for example, and then update the timestamp of `inplace/bin/ghc-stage2` (via the new build system), running `make` is not a no-op.

So if the "iterating" part here also incl

[2016-01-30 01:13] snowleopard commented on #187
[code]
What had you hoped it would do?

Well, if it was written this way then surely I wouldn't have any hopes! :) Yet I found this:
[code]
Plus quite a lot of if statements above. I guess this is the line I didn't spot:
[code]

I don't think this deserves any further investigation. Clearly it was just my oversight.

[2016-01-30 19:22] kgardas commented on #159
@snowleopard I've now been able to retest master on OpenBSD and to my surprise original issue with gmp not being able find is gone. I'm now able to build default build of GHC when it's configured with
[code]
I'm not sure if iconv options are well managed, but as both iconv and gmp reside in the same dir on OpenBSD I'm not able to test it easily, so please close this issue and thanks a lot for this

[2016-01-30 21:02] snowleopard commented on #159
@kgardas Great, thanks for testing!

Could you please do another test? I'd like to test the new built-in `--configure` feature. Do a fresh clone and run the following command **without** running `boot` or `configure`:
[code]
This should have the same effect as running `boot` and `configure` with given flags beforehand.

[2016-01-30 23:14] kgardas commented on #159
Something's not right with it:
[code]

[2016-01-30 23:42] snowleopard commented on #159
@kgardas Thank you... it's the first time I see this error, no ideas what's wrong. This seems to be the key:
[code]
Apparently call sites use `Ptr Base.CFLock` instead of `Ptr CFLock`. I don't see how this could be related to the `--configure=...` flag. Do you have any ideas?

[2016-01-31 00:27] snowleopard commented on #187
@thomie I'd like to come back to one of the points you made earlier:

Let me try to condense this into a specification on how a future `test` target should work:
* Support a flag like `--test-hc=...` to allow specifying a Haskell compiler to use for running tests. Possible options could be `stage0` (bootstrapping compiler), `stage1`, `stage2` (default), `stage3` and `path/to/compiler` to specify a

[2016-01-31 10:27] snowleopard commented on #159
@kgardas Apparently GHC HEAD is broken: https://mail.haskell.org/pipermail/ghc-devs/2016-January/011209.html. Maybe try an earlier commit?

[2016-01-31 12:14] thomie commented on #187
The simple answer is, reimplement these 3 files:
[code]

"C:/path/to/ghc.exe" and "/c/path/to/ghc.exe", and paths that contain
spaces.

Windows compatibility is in `testsuite/mk/boilerplate.mk`. Other tools to
take care of:
* runghc
* haddock (if it isn't available, pass `--config.haddock=`, so some tests
can be skipped)
* hsc2hs
* hp2ps

Having separate flags to override these isn't necessary I t

[2016-01-31 12:22] kgardas commented on #159
@snowleopard tried just now on Solaris, fresh checkout, went fine with:
[code]
will rested on OpenBSD in the evening...

[2016-01-31 12:24] kgardas opened #198 "Build shared libs (dyn way)."
I've not seen issue for this, but both my Solaris and OpenBSD builds end with missing shared libs:
[code]
probably this is general issue and we do not build shared libs yet? If it's already noted somewhere please feel free to close it. Thanks!

[2016-01-31 12:37] snowleopard commented on #159
Many thanks @kgardas! I think we can close this, hoping that the retest on OpenBSD will go smoothly.

[2016-01-31 12:37] #159 closed

[2016-01-31 12:41] snowleopard commented on #4
I am copying an issue reported by @kgardas (#198) here:

[code]
probably this is general issue and we do not build shared libs yet? If it's already noted somewhere please feel free to close it. Thanks!

[2016-01-31 12:42] snowleopard commented on #198
@kgardas Yes, this is a general and very old issue: #4. I've copied your comment there.

[2016-01-31 12:42] #198 closed

[2016-01-31 13:49] snowleopard commented on #187
so I don't think you have to do anything here.

Hmm, but what about this code in `testsuite/tests/Makefile`:
[code]
At the moment I use `getPackages` to generate all `--rootdir` flags for passing to the python script. And this seems to be the right thing to do.

Indeed. Will add it as a subtask too.

I see. It may be possible to keep it automagical in the new build system too.

[2016-01-31 14:00] thomie commented on #187
Ok, that seems fine. These --rootdir flags are used for finding out where the tests are (or more specifically, which directories should be scanned for `*.T` files).

[2016-01-31 14:31] snowleopard commented on #187
Thanks @thomie! I've added subtasks to the top of the issue.

I will switch to more urgent issues now, tagged with `tree-tremble`. Maybe somebody else will pick this up in the meanwhile.

[2016-01-31 20:42] kgardas commented on #159
@snowleopard bootstrap on OpenBSD with:
[code]
went fine this time.

[2016-01-31 21:47] ndmitchell commented on #189
I checked out two fresh repos from scratch, and did `./boot && ./configure` in one (which I called `old-configure`) and `shake-build/build.bat --configure=--enable-tarballs-autodownload -j` in the other (named `new-configure`). `old` succeeded, but `new` failed. Looking at the differences in `config.log`, I see:

* `old` invoked `./configure`, while new just called `configure`.
* `old` had `/bin`

[2016-01-31 21:54] snowleopard commented on #159
@kgardas :+1:

[2016-01-31 22:08] snowleopard commented on #189
@ndmitchell Impressive investigation :+1:

I don't understand this. Where exactly is GCC hardcoded? I believe the new build system doesn't care where GCC lives as long as `configure` provides the right path to it in `system.config` (in fact, we could even easily look it up in PATH automatically). I also don't think that the old build system relied on a hardcoded GCC. Very strange.

Just out of cur

[2016-01-31 22:23] ndmitchell commented on #189
So, what's meant to happen in configure is:

* Extract the tarballs
* Rename gcc.exe to realgcc.exe
* Change the PATH to put the new mingw tarballs on the PATH
* Compile a fresh gcc.exe using realgcc.exe

That works normally, but not when you run configure from inside the build system. I need a few more configure edits to figure out exactly what's gone wrong. Best current guess is that `pwd` is re

[2016-02-01 07:00] ndmitchell commented on #189
OK, I've tracked down a more direct cause of the bug. Configure does:

    PATH=`pwd`/inplace/mingw/bin:$PATH

When I run `./configure` on the command line, `pwd` reports as `/c/Neil/ghc/conf2/ghc/inplace/mingw/bin`. When the build system runs `configure`, then `pwd` reports as `C:/Neil/ghc/conf/ghc/inplace/mingw/bin`. The second `:` screws everything up and means the new things are not on the PAT

[2016-02-01 11:45] snowleopard commented on #189
Note, this is similar to the problem we had with `ACLOCAL` paths starting with `C:`. In that case we could work around this in Haskell land.

Could `pwd` be taking the path from the `PWD` environment variable? If yes, we could replace it a correct path in `Environment.hs`.

[2016-02-01 11:51] snowleopard commented on #189
On my machine:
[code]

However
[code]
prints `PWD = D:/msys/home/nam83/ghc/shake-build`.

@ndmitchell Can you try setting `PWD` to `/c/Neil/...` in `Environment.hs`?

[2016-02-01 21:02] ndmitchell commented on #189
If `$PWD` is set then `pwd` returns it. If `PWD` isn't set, then `pwd` computes the current working directory. MinGW sets `PWD` to be a `/c` path, then spawns our Windows binary using a `C:/` path, and then we spawn configure keeping the `/c` path. Much simpler to just unconditionally clear `PWD`, which fixes the issue, and makes it use the real current directory, which is what we actually want. I

[2016-02-01 21:02] #189 closed

[2016-02-01 21:11] ndmitchell opened #200 "Optimise the build"
Using the Shake profiling I generated the following plot when building on an 8 Core windows machine with `-j8`.

![image](https://cloud.githubusercontent.com/assets/1651197/12731218/b334a78e-c927-11e5-873b-0cc1b831a574.png)

The two single threaded bits of the build are the initial `boot`/`configure` (not sure there is much that can be done about that) and `ghc-cabal` (which is pretty awful). Anyt

[2016-02-01 21:38] snowleopard commented on #200
I confirm similar performance profile on my machine.

Some comments:
* I still have some hopes that it would be possible to get rid of the initial `configure` run, or at least make it optional/parallel. If you look into `system.config.in` you'll see that we can compute a large part of settings by ourselves, e.g. by using `Oracles.LookupInPath`. If we have paths to builders then we may be able to s

[2016-02-01 21:44] ndmitchell commented on #200
If we do start compiling each library after it's been configured, then we aren't tracing that, and it isn't showing up. I'll investigate that tomorrow.

As you say, configure isn't such an issue, since it changes a lot more rarely, so not as important.

[2016-02-01 22:01] snowleopard commented on #200
So, we have two problematic executions of `configure`. The first one should happen only once, so not really a big issue.

The second one, attributed to `ghc-cabal` in the chart, is the `configure` of the `base` library. It takes a huge time and (almost) everything needs to wait for it.

Here is the chain of `ghc-cabal` invocations at the start of `Stage``:
* `Run GhcCabal (stage = Stage1, package

[2016-02-01 22:29] snowleopard commented on #200
So, the following experiment confirms that `ghc-prim` actually does not need anything else!
* Run full build
* Remove `.build/stage1/libraries`
* Run `./build.bat .build/stage1/libraries/ghc-prim/build/libHSghc-prim-0.5.0.0.a`

This executes `ghc-cabal` for `ghc-prim`, followed by compilation without involving any other packages.

**Conjecture:** When there are many targets in the queue, Shake mig

[2016-02-01 22:35] ndmitchell commented on #200
Your conjecture would explain it - I'll triple check tomorrow, although I note that there are tests that resources release exactly like they should. Always possible you've stumbled into a corner case though.

[2016-02-01 23:00] snowleopard commented on #200
I disproved my conjecture :) I removed resources altogether yet `ghc-prim` still couldn't be compiled early.

[2016-02-01 23:20] snowleopard commented on #200
Another experiment:
[code]
This starts to compile `ghc-prim` as soon as its `ghc-cabal` is finished, without waiting for `integer-gmp`.

If I swap the order of the two targets in the command line the result is the same: correct parallelisation.

[2016-02-01 23:46] snowleopard commented on #200
**New conjecture:** This can't possibly be a fault of the build system.

The above experiments show that `ghc-prim` does not depend on any other library and its sources can be compiled as soon as we build its `package-data.mk` file. The only conclusion is that Shake fails to schedule the compilation as soon as possible and instead postpones it until most `package-data.mk` files are built.

@ndmitc

[2016-02-02 11:35] ndmitchell opened #201 "Missing dependency"
shake-build/build.bat clean
    shake-build/build.bat .build/stage1/libraries/integer-gmp/build/libHSinteger-gmp-1.0.0.0.a .build/stage1/libraries/ghc-prim/build/libHSghc-prim-0.5.0.0.a -j4 --profile

Gives:

    Error when running Shake build system:
    * .build/stage1/libraries/ghc-prim/build/libHSghc-prim-0.5.0.0.a
    * OracleQ (PackageDataKey (".build/stage1/libraries/ghc-prim/package-data.m

[2016-02-02 11:50] snowleopard commented on #200
I think I understand what's going on. My apologies to Shake, I was wrong in my suspicions.

My previous experiments were not entirely faithful: it is not that easy to `need` a target like `.build/stage1/libraries/ghc-prim/build/libHSghc-prim-0.5.0.0.a`. We must know the `0.5.0.0` bit, which can only be produced after parsing `package-data.mk`. So, we never actually bothered to explicitly `need` li

[2016-02-02 11:53] snowleopard commented on #201
I will take care of this. This did happen to me once, but I forgot to prepare a fix.

[2016-02-02 11:55] ndmitchell commented on #200
This is a top-level target? In which case, can you do:

    forM libPkgs $ \pkg -> action $ do
        ....
        need libs

Each `action` will run in parallel, so you should get full parallelism.

[2016-02-02 11:56] ndmitchell commented on #200
Note that the next version of Shake has a direct `parallel` combinator, which lets you express that inside an `Action`, but it sounds like its not essential for you.

[2016-02-02 11:59] snowleopard commented on #200
Yes, this is a top-level target, however, we can't compute `libPkgs` outside the `Action` monad.

Your suggestion might still work though. We do `forM knownPackages` instead and once we are inside the `Action` monad we can check whether a particular package (e.g., `win32`) needs to be built.

[2016-02-02 12:00] ndmitchell commented on #200
Makes a lot of sense. If that doesn't work out, let me know and I'll see what we can do about getting you a version of `parallel`, which definitely will do it.

[2016-02-02 12:01] snowleopard commented on #200
:+1:

[2016-02-02 12:28] #201 closed

[2016-02-02 12:29] snowleopard commented on #201
Should be fixed now.

[2016-02-02 14:01] snowleopard commented on #200
It worked. With `./build.bat --configure -j4` I now get the following chart (`-j8` experiment is coming). I'll push the changes once I get rid of a lint error concerning the `settings` file.

![build-j4](https://cloud.githubusercontent.com/assets/675286/12751471/5be73ad0-c9b5-11e5-8e69-51bbc63dc1ac.png)

[2016-02-02 14:03] ndmitchell commented on #200
Nice! Can you check the second profile with `-j8` into https://github.com/ndmitchell/shake-paper/tree/master/profiles, since I suspect it will want to go in the paper.

[2016-02-02 14:05] snowleopard commented on #200
@ndmitchell I can do that, but I guess it would be better if you produce one on the same machine as before? Otherwise it may be difficult to compare.

[2016-02-02 14:06] ndmitchell commented on #200
@snowleopard - True, let me know when its in.

[2016-02-02 15:22] snowleopard commented on #200
With `-j8` I got to average parallelism of `3.93`.
![build-j8](https://cloud.githubusercontent.com/assets/675286/12753394/cf5ce254-c9be-11e5-9599-7967911dbb72.png)

[2016-02-02 15:23] snowleopard commented on #200
@ndmitchell I've committed the changes, let's see how your chart will improve.

[2016-02-02 15:27] ndmitchell commented on #200
On a completely fresh setup I get:

    Error when running Shake build system:
    * .build/stage1/rts/build/libHSrts_thr.a
    * OracleQ (PackageDataKey (".build/stage1/rts/package-data.mk",".build_stage1_rts_C_SRCS"))
    * .build/stage1/rts/package-data.mk
    * includes/ghcautoconf.h
    * mk/config.h
    Error, file does not exist and no rule available:
      mk/config.h

About 10 seconds in.

[2016-02-02 15:42] snowleopard commented on #200
@ndmitchell Aha, we also need to track `mk/config.h` as a file produced by `./configure`. Fixed.

[2016-02-02 15:43] ndmitchell commented on #200
Error when running Shake build system:
    * OracleQ (ConfigKey "host-os")
    * shake-build/cfg/system.config
    * shake-build/cfg/system.config settings mk/config.h
    * mk/config.h.in
    Error, file does not exist and no rule available:
      mk/config.h.in

Also config.h.in?

[2016-02-02 15:53] snowleopard commented on #200
Wow, apparently `config.h.in` is produced at the same time as `configure`, so I added it as another output for the rule which runs `boot`. Please give it a try. (There may be other unaccounted outputs.)

[2016-02-02 16:18] ndmitchell commented on #200
It now works, but I only see a slight improvement.

![image](https://cloud.githubusercontent.com/assets/1651197/12755646/39debedc-c9c8-11e5-812c-21a1e54ac7e9.png)

My guess is that if base goes off first then we can't parallelise the things that come after because of the resource. Maybe we should orderOnly depend from base to all the other pieces, to ensure that base goes last?

[2016-02-02 16:35] snowleopard commented on #200
I'm not sure we can do do that. We run `ghc-cabal configure` in the order of package dependencies. This is what `make` build system does and I believe I had to do it too to avoid errors. See:
[code]
One idea comes to mind though: maybe if we decouple `ghc-cabal` from `ghc-pkg` then we will only need to respect the ordering of the latter? This could give us a nice boost.

Note: I execute both `ghc-

[2016-02-02 16:37] ndmitchell commented on #200
Sounds good. I'm still skeptical about all this repeated configure. I would have hoped to have one central configure that did the minimal possible stuff (guessing the code of EPIPE seems slow and pointless), and then got reused everywhere thereafter. I don't know anywhere near enough about configure though. Black scary magic.

[2016-02-02 16:40] snowleopard commented on #200
OK, I'll decouple `ghc-cabal` from `ghc-pkg` and we'll see what happens.

In future, I hope, we will be able to shove all `configure` calls into the initial `--configure` rule, so we will not have to run them when rebuilding, but this requires #18.

[2016-02-03 00:42] snowleopard commented on #200
I've decoupled `ghc-cabal` from `ghc-pkg`, however I don't believe we can run `ghc-cabal configure` on a package before we register all its dependencies, so the above idea won't work.

We need to complete both `ghc-cabal` from `ghc-pkg` for `base` library before other packages depending on it can be configured.

[2016-02-03 01:08] snowleopard commented on #200
The good news is: apparently after the decoupling we no longer need to limit `ghc-cabal` parallelism, so I dropped the resource. The `base` library bottleneck is still there though, as other packages are waiting of it to be registered.

@ndmitchell By the way, your recent chart is quite different from mine. Are you sure there is no mistake?

[2016-02-03 06:58] ndmitchell commented on #200
@snowleopard - I'll regen from scratch tonight. Agreed, they have little in common, and if it was a mistake, that would be ideal :)

Any chance base is caching the configure output? I am running mine from a fresh directory, not just after a clean, which I observe doesn't spend nearly as much time doing the initial configure (if at all).

[2016-02-03 17:45] snowleopard commented on #200
I never noticed any differences in the time it takes to run `base` configure. It always was unbearably long. My guess would be that configure scripts are smart enough to do caching. But then they are black scary magic, so who knows :)

[2016-02-04 10:18] ndmitchell opened #203 "Transient failure to build libHSrts.a"
(Note, if relevant, that I'm using GHC from 2 days ago but shakeing from right now.)

    Error when running Shake build system:
    * .build/stage1/rts/build/libHSrts.a
    user error (Development.Shake.cmd, system command failed
    Command: C:/Neil/ghc/conf3/ghc/inplace/mingw/bin/ar.exe q .build/stage1/rts/build/libHSrts.a @C:\Users\ndmit_000\AppData\Local\Programs\stack\i386-windows\msys2-2015

[2016-02-04 10:23] ndmitchell opened #204 "Configure flags are confusing"
As a Windows user, the first time I MUST run `--configure=--enable-tarballs-autodownload`. If I run with those flags in any subsequent run, then I end up reconfiguring and doing most of the rebuild from scratch. That's nasty, meaning my first run, and every run that has already got past configure, must use different flags. Can I suggest:

* If Windows really does require those configure flags, mak

[2016-02-04 10:25] ndmitchell commented on #200
I consistently get the same flat bit in the middle, which I assume is configure on base, and that it is doing caching we can't see.

[2016-02-04 10:33] snowleopard commented on #204
/cc #195

[2016-02-04 10:48] ndmitchell commented on #204
OK, so seems there are a lot of issues going on here. Is there any reason not to make `--enable-tarballs-autodownload` the default on Windows? Under what circumstances is it a bad idea?

[2016-02-04 10:51] ndmitchell commented on #204
(Selfishly, this would mean _I_ never have to deal with configure flags again :smile: )

[2016-02-04 11:20] kgardas commented on #200
@ndmitchell I would like to test this on various boxes here, but ```./shake-build/build.sh -j12 --configure="--with-gmp-includes=/usr/include/gmp --with-gmp-libraries=/usr/lib --with-ar=/usr/bin/gar" --profile``` does not produce any profile.html anywhere. Any idea what I'm doing wrong? Thanks!

[2016-02-04 11:26] snowleopard commented on #204
Yes, I did consider passing `--enable-tarballs-autodownload` by default on Windows. The only downside I see is that the semantics of `--configure` becomes even more complicated than it is now.

Let's see what `build --configure` should do on Windows:
* Run `boot` if needed (`configure` script does not exist or is not up-to-date).
* Detect whether we need to pass `--enable-tarballs-autodownload`. I

[2016-02-04 11:27] ndmitchell commented on #200
Can you try: `./shake-build/build.sh --no-build --profile`. If I do that, I see:

    $ shake-build/build.bat --no-build --profile
    Warning: No want/action statements, nothing to do
    Writing report to report.html     ******
    shakeArgsWith                     0.000s    0%
    Function shake                    0.037s    2%
    Database read                     0.206s   15%  ====
    With da

[2016-02-04 11:28] snowleopard commented on #204
@ndmitchell Looks like the semantics you propose is something like "Please run configure and do the Right Thing" :-) It is certainly appealing from the user perspective, but only if it works as advertised!

[2016-02-04 11:30] ndmitchell commented on #204
I would just always pass `--enable-tarballs-autodownload` if 1) we decide to run configure; 2) the user is on windows; and 3) there are no configure flags. Once you have that, the biggest pain point is gone.

It's a bit weird at the moment that there is a "first run" command that is different to "subsequent run" commands. I didn't figure that out...

[2016-02-04 11:31] kgardas commented on #200
@ndmitchell Interesting, from previous run where I can't find report I see:
[code]
so 5.7sec consumed on its production...

[2016-02-04 11:32] ndmitchell commented on #200
Then it's definitely gone somewhere! Search for report.html in the current directory and the GHC directory, and then just scan the disk...

[2016-02-04 11:33] kgardas commented on #200
@ndmitchell Ah, I've found the issue! In first report you write to look for ```profile.html``` but this should be ```report.html``` -- so confusion on my side. Will rerun the build as I've got rid of original report by ```./shake-build/build.sh --no-build --profile``` run now.

[2016-02-04 11:34] snowleopard commented on #204
This seems reasonably easy to explain. But are you sure passing `--enable-tarballs-autodownload` each time is harmless? Wouldn't it initiate unnecessary downloads?

As I understand, with this proposal `--configure` and `--configure=` would mean different things, which may be a surprise.

[2016-02-04 11:36] ndmitchell commented on #204
Yes, passing enable-tarballs-autodownload each time is harmless - it checks if the directory exists before doing the download.

Yes, --configure and --configure= would be different. But --profile and --profile= are already different, so I don't see it as a great shock. Adding a trailing = to a flag is rare.

[2016-02-04 11:36] snowleopard commented on #204
OK, agreed then. I'll try to implement this today.

[2016-02-04 12:03] snowleopard commented on #203
I've never seen this `libHSrts.a` failure before. Will try to reproduce on my machine.

Because you asked it to with `--configure=--enable-tarballs-autodownload`. Remember: this is currently a direct command to the build system to rerun `configure`. It is supposed to be used only on the first run. The right way to build this file only is to run `shake-build/build.bat -j .build/stage1/rts/build/lib

[2016-02-04 12:08] ndmitchell commented on #203
Yep, I figured out the configure thing, and ticketed that separate as #204. I'll do some soak test builds, clean/rebuild, and see what I get.

[2016-02-04 12:21] kgardas commented on #200
@ndmitchell Cool! Was able to get the report.html. It looks like for -j12 we get average parallelism of 3.74. Don't know how to push graph here.

[2016-02-04 12:29] thomie commented on #204
Some previous discussion about the `--enable-tarballs-autodownload` flag.

@hvr asked in https://phabricator.haskell.org/D339#7796:

@thoughtpolice [replied](https://phabricator.haskell.org/D339#7933):

@bgamari moved the download logic to a [script](https://phabricator.haskell.org/D1378), so you can also run `run mk/get-win32-tarballs.sh download ${HostArch}"`.

[2016-02-04 12:29] snowleopard commented on #200
@kgardas Simply drag and drop in the comment window!

[2016-02-04 12:32] ndmitchell commented on #204
I think distro maintainers want one thing, and poor little Windows users want another...

[2016-02-04 12:33] ndmitchell opened #205 "Transient failure with package cache"
Error when running Shake build system:
    * .build/stage1/libraries/ghc-boot/build/libHSghc-boot-8.1.a
    * .build/stage1/libraries/ghc-boot/build/GHC/LanguageExtensions.o
    * OracleQ (DependenciesKey (".build/stage1/libraries/ghc-boot/build/.dependencies",".build/stage1/libraries/ghc-boot/build/GHC/LanguageExtensions.o"))
    * .build/stage1/libraries/ghc-boot/build/.dependencies
    * .build

[2016-02-04 12:36] snowleopard commented on #204
Oh, this is more complicated than I thought. Can I ask why the difference between Windows and non-Windows at all? We are building inside `mingw` and ask that `gcc` is installed, yet it looks like we are downloading them anyway into `inplace/mingw` folder. Why not use the `gcc` that is already installed?

[2016-02-04 12:37] ndmitchell commented on #204
For Windows, GHC bundles gcc, so it makes sense for GHC to grab a known specific version of gcc, and use that when building. If not, you might get ABI incompatibilities. In addition, various versions of gcc on Windows have various bugs, so better to be consistent.

[2016-02-04 12:38] snowleopard commented on #204
I don't understand, aren't different versions of `gcc` a problem on Linux? Why we bundle on Windows but not on Linux?

[2016-02-04 12:39] ndmitchell commented on #204
You can assume a Linux machine has gcc installed. In general a Windows machine won't have gcc installed, so ghc bundles it.

[2016-02-04 12:42] snowleopard commented on #204
But we are mixing different things here: building GHC and using pre-built GHC, right?

For people who build GHC, there are specific preparation requirements: https://ghc.haskell.org/trac/ghc/wiki/Building/Preparation/Windows. In particular,
[code]
So, we **can** assume `gcc` is installed.

[2016-02-04 12:44] ndmitchell commented on #204
The GHC package that gets shipped to end users needs to bundle gcc. Assuming we want that to be a specific known version (and we do), then ghc has to obtain its own specific gcc. Given its obtaining its own specific gcc to ship to users, it then makes sense to use that internally to avoid ABI issues and compatibility issues.

[2016-02-04 12:45] snowleopard commented on #205
Looks like two parallel `ghc-pkg` invocations happened? Noone else should be touching `package.cache`.

[2016-02-04 12:46] ndmitchell commented on #205
This looks like the thing that failed was reading the ghc package cache. Do normal ghc executions read from the package cache? Is that meant to be safe multithreaded? Is there a multiple-reader single-writer pattern required?

[2016-02-04 12:46] snowleopard commented on #204
Then what is the point of doing `pacman gcc` in the preparation guide? Are you saying we are never actually using it?

[2016-02-04 12:48] ndmitchell commented on #204
Hmm. Quite possibly... Note that ghc itself on Windows ships with gcc, so even if we did need another gcc we've got one as part of the ghc install, so it does seem quite redundant. Perhaps experiment on the appveyor machine?

[2016-02-04 12:50] snowleopard commented on #204
Just for referenece, here is my `system.config` on Windows:
[code]
Looks like the installed `gcc` is never called by the build system.

Yes, I'll try to remove `gcc` from AppVeyor.

[2016-02-04 12:52] thomie commented on #205
See https://ghc.haskell.org/trac/ghc/ticket/8591 (Concurrent executions of ghc-pkg can cause inconstant package.cache files)

[2016-02-04 12:53] ndmitchell commented on #204
I see:

    system-gcc     = D:/msys/mingw64/lib/../mingw/bin/gcc.exe

Is that ever used? Or is that a link to the system-ghc one?

[2016-02-04 12:54] snowleopard commented on #204
Ah... indeed! `system-gcc` is what is called `Gcc Stage0` in the build system. Yes, it is used during `Stage0`.

[2016-02-04 12:54] ndmitchell commented on #205
@thomie - couldn't GHC just use a file lock? https://github.com/ndmitchell/shake/blob/master/src/General/FileLock.hs has been super robust in Shake across multiple platforms for preventing these kind of single-file race conditions.

[2016-02-04 12:57] ndmitchell commented on #204
So why do we use system-gcc rather than just gcc? And why aren't we picking up system-gcc from next to system-ghc on Windows? If the requirement is that the system-gcc and system-ghc must be compatible (which makes sense for stage0), then on Windows it should be the ghc one, not a separate system installed one.

[2016-02-04 13:41] kgardas commented on #200
With -j32 I get average parallelism of 3.99. The question is if this is real parallelism computed based on CPU or this is parallelism of shake invoked command. If the later, it's not that good IMHO. If the former, well, the testing is done on 6 core/12 threads xeon. Next week I'll probably fire niagara with its 32 threads usparc so I'll see how this run...

[2016-02-04 13:48] ndmitchell commented on #200
It's parallelism of the shake invoked command - e.g. Shake usually have 4 commands in flight. I just rebuilt with -j8 and got 4.01. I entirely agree that isn't great - for info, on my 20 core machine, with an entirely different build system, I get 16.25, and the loss of parallelism is all in the long tail. Given I only see 3 peaks that touch 8 threads for a fraction of a second, I don't expect muc

[2016-02-04 13:53] kgardas commented on #200
@ndmitchell 4.4 on GNU make build in the past. Read https://mail.haskell.org/pipermail/ghc-devs/2015-April/008752.html -- and scroll to the bottom for my original report.

[2016-02-04 14:04] ndmitchell commented on #200
If we get rid of configure of base being a bottleneck we end up with a parallelism of 4.4. So there still seem like a lot of choke points.

[2016-02-04 14:13] thomie commented on #200
@olsner investigated parallelism of the build before. Here are some results http://lpaste.net/909516301964148736 (critical path has 245 dependencies), but maybe he can chime in himself.

[2016-02-04 14:36] kgardas commented on #200
@ndmitchell IMHO big source of possible paralellisation is more clever generation of interface files. Just have and see C in RTS. Interface files (headers) are already written by hand and you can get maximum available parallel build from it. On -j32, you get 32 GNU C running IIRC. That's why I entered #174

[2016-02-04 14:40] kgardas commented on #200
BTW, here is the report from my -j64 experiment cited above using GNU make build in the past. One of the 64 commands spikes is RTS compilation.
![ghc-build](https://cloud.githubusercontent.com/assets/578505/12818081/939b84ee-cb55-11e5-8acc-40ad7362a3f9.jpg)
Interesting fact is that I don't see 32 threads spike on my shake based build with -j32...

[2016-02-04 14:41] snowleopard commented on #204
Here is a relevant excerpt from `config.mk.in`:
[code]
`configure` turns this into the following on my machine:
[code]

[2016-02-04 15:06] snowleopard commented on #204
And then we use `$1_$2_CC = $$(CC_STAGE$3)` in build rules, where `$3` is the current stage.

To sum up:
* In `Stage0` we use `@CC_STAGE0@` which evaluates to `D:/msys/mingw64/lib/../mingw/bin/gcc.exe` on my machine. This is what I call `system-gcc` in the new build system or, equivalently, `Gcc Stage0`.
* In all other stages we use `@WhatGccIsCalled@` instead, which evaluates to `D:/msys/home/nam

[2016-02-04 15:13] ndmitchell commented on #204
If we can't have network IO by default (which I think is not a problem on Windows), then we're going to have to tell all Windows to do something, and make the instructions more complex. If so, one option would be to have two separate flags `--configure` to run configure, and `--configure-flag=--enable-tarballs-autodownload` so that if configure has to run (either because you didn't do it already o

[2016-02-04 15:26] snowleopard commented on #204
What about a generic `--use-network` flag that, if given, would enable network IO and unlock some features, such as adding `--enable-tarballs-autodownload` to configure flags on Windows. (I can imagine other useful things one can do when network IO is allowed.)

The advantage of this is that it is immediately obvious from the command line that some network IO may happen, so it wouldn't come as a s

[2016-02-04 15:30] ndmitchell commented on #204
It still requires Windows users to pass something special, that is annoying in terms of docs, and (assuming its not there always) requires running the build differently the first time to all other times.

[2016-02-04 15:36] snowleopard commented on #204
Agree, I'm still in favour of allowing network by default, because this simplifies docs. We can have a separate section specifically for maintainers explaining how to disallow it.

I don't understand your second comment: you still need to run the build differently for the first time, because that's the only time you need to run `configure`.

[2016-02-04 15:37] ndmitchell commented on #204
Oh - won't it automatically run configure if that hasn't ever been done? I assumed it would, but I guess not. That would be nice...

[2016-02-04 15:43] snowleopard commented on #204
The problem is that we don't know which flags the user would like to use when running `configure`. We can run configure without any flags by default (perhaps, just adding `--enable-tarballs-autodownload` on Windows), but what if this screws up things? There are a lot of flags out there...

[2016-02-04 15:45] ndmitchell commented on #204
Sounds like configure all over :wink:

I don't have any great ideas though. Leaving configure separately might be better in the end... Until we're ready to properly smash it up into new pieces.

[2016-02-04 15:55] snowleopard commented on #204
What about doing the following:
* On the front page we tell everyone to use the new `build` script instead of `make`. That's it. They still have to worry about exactly the same things as before (`boot`, `configure`, etc.).
* We add a section covering certain new and experimental features of the new build system, where we describe how one can use `--configure` to simplify things up a little. Partic

[2016-02-04 16:00] ndmitchell commented on #204
:+1:

[2016-02-04 19:21] ndmitchell commented on #200
Add `name("rts/build") && command("gcc")` to the filter on the command plot page and it will show you the RTS building. I see 174 executions of gcc taking a total of 40s. They do form a spike, but it only reaches up to 4.3 parallelism, and takes only 10s start to finish. I think that's mostly a display artefact though - if I opt for 1000 buckets instead of 100 on the plot, I see:

![image](https:/

[2016-02-04 21:23] ndmitchell commented on #205
For info, I've been rerunning the build system most of the afternoon every now and then (perhaps 10-20 complete rebuilds?) and just bumped into another instance:

    Error when running Shake build system:
    * .build/stage1/libraries/base/build/libHSbase-4.9.0.0.a
    * .build/stage1/libraries/base/build/Foreign/Marshal/Utils.o
    user error (Development.Shake.cmd, system command failed
    Com

[2016-02-04 21:56] snowleopard commented on #205
@ndmitchell 5% may be the right figure. I also come across this occasionally.

[2016-02-05 01:38] snowleopard commented on #204
OK, done. Hopefully there is less confusion now.

[2016-02-05 01:40] snowleopard commented on #204
Interestingly, I had to use `System.Info.os == "mingw32"` instead of `windowsHost` to detect the platform, because otherwise we fall into a cyclic dependency. This made me wonder: to what extent we can rely on `System.Info` in the new build system?

[2016-02-05 01:41] snowleopard commented on #195
I think this has been resolved as part of #204.

[2016-02-05 01:41] #195 closed

[2016-02-05 06:39] ndmitchell commented on #204
Note https://hackage.haskell.org/package/extra-1.4.3/docs/System-Info-Extra.html#v:isWindows, which is a version of that test which is semantically clearer and avoids the possibility of typos and is evaluated at compile time.

[2016-02-05 09:24] hvr commented on #204
Fwiw, even  in those few occasions I'm on windows, I certainly wouldn't want something `--configure` to automatically download stuff...  that's simply against all conventions :-/

[2016-02-05 12:22] snowleopard commented on #204
@hvr I think many issues are mixed in your comment, let me try to better understand it:
* Do you think you will be using the `--configure` feature yourself to streamline the first build on non-Windows platforms? If yes, don't you think it is useful to have an equivalent for Windows users too?
* Are you against _any_ network IO in the build system, regardless of how well documented, flag-guarded an

[2016-02-05 13:35] snowleopard commented on #205
Let me summarise my understanding of what happens:
* `ghc-pkg` writes to `package.cache`. We do not allow more than one `ghc-pkg` to run concurrently.
* `ghc` reads from `package.cache`. Multiple parallel instances of `ghc` presumably do not cause any issues, as otherwise I'd expect to see more frequent failures.
* So what happens is that we occasionally have a collision between `ghc-pkg` and `ghc

[2016-02-05 14:00] ndmitchell commented on #205
@snowleopard Create a resource of quantity 1000. Require writers to take 1000 elements of the resource, and readers to take 1 element. That effectively gives you single-writer multiple-reader.

[2016-02-05 14:21] hvr commented on #204
...mostly this :-)

It's a pet peeve of mine, that something like `--configure` is never supposed to download stuff, but rather *configure* stuff that's already . Terms with (maybe) less connotations:

 -  `--setup`
 -  `--bootstrap`
 -  `--initialize`

Also, `--configure` as you use it seems to do more than merely "configure" anyway, it also bootstraps the `configure` script via `autoreconf`. Thi

[2016-02-05 17:02] snowleopard commented on #205
@ndmitchell Nice and simple, should work! I'll implement this. (Although the magic number bothers me slightly...)

How does it work in terms of scheduling/fairness? Can it happen that writers never have a chance to get through because there is always at least one reader using the resource? In our case there are a dozen of writers, but thousands of readers.

Of course at some point writers will go

[2016-02-05 19:29] snowleopard commented on #204
Thanks, I like this one! It makes it fairly obvious that the flag is supposed to be used only once. This is not so with `--configure`. Also, as you rightly point out we are doing more than just calling `configure`.

Yes, that sounds like the right thing to do.

So, I'm reopening the issue and doing the following:
- [ ] Rename the `--configure` flag to `--setup`, making sure error messages are cons

[2016-02-05 21:24] snowleopard commented on #30
With `--split-objs` disabled by default I am no longer bothered by this. Since we can't do anything about this on our side anyway, I think we better close this issue.

[2016-02-05 21:24] #30 closed

[2016-02-06 02:40] #205 closed

[2016-02-06 02:41] snowleopard commented on #205
Done. I've tested the result several times on my machine and couldn't trigger this failure any more. If it reappears, please reopen the issue.

[2016-02-06 16:19] ndmitchell commented on #205
The magic number is just higher than we expect someone to have threads - a little inelegant, but perfectly models what we are after. The scheduler guarantees that the first task to request a resource will run next, so when ghc-pkg tries to run, it will stop any ghc processes starting - no starvation problems.

[2016-02-06 16:27] snowleopard commented on #205
:+1:

[2016-02-06 19:18] snowleopard commented on #203
Not sure what's going on. Here is how I invoke `Ar` when `@file` is supported:
[code]
I may be running into the problem of lazy `writeFile'`, but I don't understand how this leads to the reported errors. Looking at the error message, the command was
[code]
which seems fine to me.

I've no idea why `Ar` needs to do any intermediate renaming of `.build/stage1/rts/build/libHSrts.a` that is mentioned

[2016-02-06 19:47] ndmitchell commented on #203
`writeFile` is not lazy, only `readFile`, so that's not the problem. I'll keep soak testing and if it doesn't reproduce we can close as not being that common, or perhaps being an artefact of something else.

[2016-02-06 21:37] snowleopard commented on #203
Ah, indeed.

I failed to reproduce. I suspect that `withTemp` is somehow related, but can't quite figure it out.

[2016-02-06 22:31] ndmitchell commented on #203
GHC's temp file functions are buggy. Shake's have been stress tested a lot. But it's a tricky race condition prone problem, so I should test some more.

[2016-02-07 02:34] #98 closed

[2016-02-07 02:37] snowleopard commented on #98
Now fixed. Haddock documentation is not built by default though, use `--haddock` flag to enable it.

Note: `threaded` way still needs a lot of work.

[2016-02-08 15:34] bgamari commented on #203
This is quite concerning to hear. @ndmitchell Could you open a GHC bug for this if you have a test case (or even a rough idea of where the issue may be)?

[2016-02-08 16:55] ndmitchell commented on #203
My memory is that I already did raise a bug, but I'll double check...

[2016-02-08 17:28] thomie commented on #203
https://ghc.haskell.org/trac/ghc/ticket/10731

[2016-02-08 19:51] ndmitchell commented on #203
Thanks @thomie, yes, that was what I was thinking of. Test harnesses and a fully implemented workaround, what more could you want :)

[2016-02-09 00:07] #204 closed

[2016-02-09 16:29] snowleopard commented on #203
Got hit by this today, for the first time I think.

@ndmitchell Since we only use `withTempFile` a couple of times in the whole build system, perhaps, we can just avoid them at all and keep temporary files among build artefacts? A bit inelegant, but doesn't seem to be a big issue.

[2016-02-09 16:33] ndmitchell commented on #203
We are using Shake's temporary files, which are super robust, and in this case just keyed off an IORef in process so will never fail. It's unlikely to be that, or at least obviously and simply that...

[2016-02-09 16:39] snowleopard commented on #203
Ah, I somehow assumed this issue is related to the GHC bug. Sorry for the noise. Still no idea how to properly fix this (apart from trying to get rid of temporary files).

[2016-02-09 16:46] ndmitchell commented on #203
If you rm the file then rebuild in a loop, does that trigger it? Without the ability to trigger hard to experiment with what is the culprit.

[2016-02-10 11:23] snowleopard opened #206 "Successful build error"
After a build is successful we sometimes see a mysterious error:
[code]
or
[code]

I can see that the file does actually exist.

The current conjecture is that this happens during Shake's lint checking phase.

If I run a rebuild, nothing gets rebuilt, which confirms that the build was actually successful.

[2016-02-10 12:55] ndmitchell commented on #206
It's very weird. If we had a little more call stack that would help - building with GHC 8.0 might give that to us. I've also seen this "error" some times - next time it happens can you immediately do `echo $?` and check that is really does exit with non-zero (e.g. failure).

[2016-02-10 13:58] snowleopard opened #207 "Refactor Target"
We currently have the following `Target` datatype:
[code]
It makes sense to factor out `Stage`, `Package` and `Way` into a separate datatype called `Context`:
* At the moment we mix different notions in one datatype: _target-specific_ ones (`builder`, `inputs`, `outputs`) and _context-specific ones_ (what is the current `stage`, `package` and `way`?).
* By factoring out GHC-specific bits into `Con

[2016-02-10 16:13] ndmitchell commented on #207
Seems reasonable to me. Will we be able to kill `PartialTarget` afterwards?

[2016-02-10 16:14] ndmitchell commented on #206
@snowleopard, you said something about opening this file, writing it, opening it again and modifying it? Can you point me at the code that does that? I can only assume that's at least tangentially related to the issue.

[2016-02-10 16:20] snowleopard commented on #207
@ndmitchell Yes, I think so. It will be consumed by `Context`.

[2016-02-10 16:37] snowleopard commented on #206
Sure, here is the line that does post-processing of `package-data.mk` files: https://github.com/snowleopard/shaking-up-ghc/blob/master/src/Rules/Data.hs#L54.

Note, the second example above does not involve rewriting a file, however, what they both have in common is `writeFileChanged`: https://github.com/snowleopard/shaking-up-ghc/blob/master/src/Rules/Gmp.hs#L101.

[2016-02-10 16:47] ndmitchell commented on #206
On https://github.com/snowleopard/shaking-up-ghc/blob/master/src/Rules/Data.hs#L138 I see:

Can you give a bit more background on that? As far as I am aware, I support slashes in all the normal places. If there's a difference from GNU Make at parsing the dependency patterns I'd like to fix it.

[2016-02-10 16:52] snowleopard commented on #206
Sure, here are some problematic lines:
[code]
Note the slashes in names of the variables, and some dollars here and there.

[2016-02-10 16:54] ndmitchell commented on #206
Do they both have `writeFileChanged` in common? I see `fixFile` in one instance. For `fixFile` I recommend using `readFile'` from the extra library - simply doing a `readFile` and `seq (length ...)` is not enough - it ensures the file handle has been marked "closable", but doesn't actually close it.

I've just reviewed `writeFileChanged`, and it looks safe to me...

[2016-02-10 16:55] ndmitchell commented on #206
@snowleopard, ah, those are variable definitions, which is what Shake doesn't really like - the makefile parser is designed to slurp things from `ghc -M` and `gcc -M`, not variable definitions or macros.

[2016-02-10 16:57] ndmitchell commented on #206
In fact, I think the optimal form is:

    new <- withFile ReadMode file $ \h -> do
        new <- f <$> hGetContents h
        evaluate $ rnf new
        return new
    writeFile file new

This ensures that `f` can be applied over a lazy string, but guarantees that `file` has been shut before `writeFile`. Sprinkle with `liftIO` to season.

[2016-02-10 17:03] snowleopard commented on #206
Thanks, I'll fix `fixFile` using your suggestion.

Looks like I'm mistaken. I think I can't use `writeFileChanged` here, because that would `need` the source file leading to a cyclic dependency.

[2016-02-10 17:18] ndmitchell commented on #206
Yes, not saying you should use `writeFileChanged` - having a separate `fixFile` function is perfectly reasonable. A little interesting that two similar functions have similar broken issues. I know GHC 7.6 and below had a race condition on file modification. I wonder if we could be tripping another similar issue in a similar place? Or maybe we both made some mistake? Anyway, something going on here

[2016-02-10 17:20] snowleopard commented on #206
Have a look at this line: https://github.com/snowleopard/shaking-up-ghc/blob/master/src/Settings/Builders/Ghc.hs#L31.

This is where I read the file created by that call to `writeFileChanged`. Anything wrong here? Apart from the fact that this should actually live inside an oracle.

[2016-02-10 17:21] ndmitchell commented on #206
Nothing obvious... Do you use readFileLines before writing it? That might be a potential problem.

[2016-02-10 17:26] snowleopard commented on #206
Well, `readFileLines` will need the file and it will be created by that rule with `writeFileChanged`. So should fine.

[2016-02-10 23:44] snowleopard commented on #206
I realised that file `gmp-lib-names` is not needed at all. We can easily get what we used to keep there from `getSetting GmpLibDir` instead.

With this file gone, I suggest to close this issue.

[2016-02-11 01:19] snowleopard commented on #159
@kgardas I have made a number of simplifications in `Rules/Gmp.hs` in the above commit. I hope I haven't broken anything that you fixed in this issue. Could you please run a test?

[2016-02-11 20:40] ndmitchell commented on #206
I note we've had the issue occur with a few different files, and your patch only removes one. I have a suspicion this one might recur - but we can always open another when it does.

[2016-02-11 21:31] snowleopard commented on #206
@ndmitchell There are actually two patches:
* 27317cf fixes the problem with `package-data.mk` files.
* The subsequent commits remove `gmp-lib-names`.

So, I hope we won't come across the instances reported at the top. But I agree, we might come across others in which case we can just reopen this issue.

[2016-02-16 17:40] snowleopard commented on #206
@ndmitchell Were you hit by this again? Which file this time?

[2016-02-16 17:44] ndmitchell commented on #206
I just got:

    shakeArgsWith                         0.000s    0%
    Function shake                        0.294s    0%
    Database read                         0.438s    0%
    With database                         0.020s    0%
    Running rules                       444.763s   99%  ========================
    Pool finished (10984 threads, 8 max)  0.000s    0%
    Lint checking

[2016-02-16 17:50] snowleopard commented on #206
Ouch, this seems more serious. I always thought that Shake starts to print build stats only after a successful completion, but it appears not to be the case?

By the way, as part of the work on #207 I accidentally broke the build yesterday, which I have hopefully just fixed by 5fcb480. Not sure if this could be related, but in any case your error is interesting to investigate.

[2016-02-16 17:59] ndmitchell commented on #206
No, build stats are always printed (if you request that using the flags). They are really intended for debugging (although showing them always is quite happy).

It's possible your recent fix was the root cause, but I remain deeply skeptical about what's going on...

[2016-02-16 18:07] snowleopard commented on #206
I actually meant that I thought Shake does link checking only after a build completes successfully.

However, we have `Lint checking 0.206s 0%` line here for an unsuccessful build.

It seems though that we are still hitting the same problem: lint is trying to open a file that hasn't yet been properly closed. In case of `package-data.mk` there is only one place to look: `Rules/Data.hs`.

[2016-02-16 18:11] ndmitchell commented on #206
Shake only does lint checking after a successful build. When I reran the build built more. Therefore it was not a complete build. I am just very confused...

And the file is not there. If it were merely open already that should be fine. But it is there. Again, confused...

[2016-02-17 16:44] ndmitchell commented on #206
I've modified Shake with lots more try/catch around the relevant pieces, and logging saying its starting lint/finishing. I'm now running a loop which wipes/builds repeatedly until it hits an error. Hopefully that will flush out anything transient.

[2016-02-17 16:49] ndmitchell opened #209 "Use --profile=- on the buildbots"
That should give a very rough profile breakdown on stdout (10 lines or so), which is gently curious to have, and can't hurt.

[2016-02-17 16:50] ndmitchell commented on #209
Either add it onto the main build, or add it after with a new command line containing `--no-build`.

[2016-02-17 17:00] snowleopard commented on #206
Hopefully this will help to solve the mystery :+1:

[2016-02-17 17:04] snowleopard commented on #209
Nice, I didn't know one can do that. Let's add it onto the main build -- shall I assign this to you?

[2016-02-17 17:05] ndmitchell commented on #209
Up to you - before #208 I'd have sent a speculative patch. But it seems someone needs to give our Travis a kick. If adding it is easy at that point, just go for it.

[2016-02-17 17:08] snowleopard commented on #209
Yes, I'll be looking into the Travis issue today. Will also add `--profile=-` while I'm at it.

[2016-02-17 21:18] ndmitchell commented on #206
I've been running this in a loop for 5 hours, which is probably ~20 builds, and got no failure so far. I'll leave it overnight.

[2016-02-17 22:22] snowleopard commented on #206
@ndmitchell You might want to try `--flavour=quick` to speed up builds (this passes `-O0` to GHC).

[2016-02-17 22:30] ndmitchell commented on #206
@snowleopard Cheers, running with that overnight, and heading to bed now.

[2016-02-18 00:26] #209 closed

[2016-02-18 06:50] ndmitchell commented on #206
So after ~4 hours of running:

    time while (shake-build/build.bat clean && shake-build/build.bat -j --flavour=quick); do :; done

I get:

[code]

Are you sure you have the resources active over both the GHC linker and the GHC compiler?

[2016-02-18 08:37] snowleopard commented on #206
@ndmitchell Ah, yes, you are right, I missed GHC linker. Now fixed!

[2016-02-18 09:23] ndmitchell commented on #206
Awesome. I'll rerun tonight and see if I can hit the .mk file error again.

[2016-02-18 13:56] snowleopard opened #210 "Oracles.ModuleFiles: performance, correctness and tests"
`Oracles.ModuleFiles` is an important oracle in the build system whose role is to find and cache module source files. More specifically (**also see update below**):
* It takes a list of module names `modules` and a list of directories `dirs` as arguments.
* It computes a sorted list of pairs of the form `(A.B.C, dir/A/B/C.extension)`, such that `A.B.C` belongs to `modules`, `dir` belongs to `dirs`

[2016-02-18 14:08] hvr commented on #210
Btw just to expand on the email I sent earlier: the issue about cabal traversing everything is this one: https://github.com/haskell/cabal/issues/3019

In my case it's even worse, as in some projects I have *many* files and folders  in my project folder which may be data generated by my program or tests, or other stuff which cabal is not supposed to look at, but I still keep in the cabal project. T

[2016-02-18 14:16] ndmitchell commented on #210
It looks like a moderately complex solution to a moderately complex problem - it seems about right for the difficulty of the problem it's solving. Do you have any profile measurements that show it is a bottleneck? And I can see automated tests, namely the Travis pieces. This strikes me very much as a task that is difficult to calculate, but easy to check, since if you get it wrong nothing will wor

[2016-02-18 15:50] snowleopard commented on #210
@hvr I only traverse folders of the form `dir/A/B`, where `dir` is listed in `hs-source-dirs`, and `A.B.C` is one of the modules. It would be strange to put anything not related to sources to `hs-source-dirs`, but I can see how this can lead to performance issues.

Making `cabal` files more explicit would certainly simplify some of the work the build system is doing. On the one hand it will remove

[2016-02-18 15:57] ttuegel commented on #210
I think this is a good idea; the requested build-tools can be used to limit the extensions to search for. I still think we should be caching the results of this search, though. Actually, the same applies to `.lhs`/`.hs`, too. These facts change infrequently and computing them is slow enough that caching should provide a good speed-up.

One thing that is unclear to me: how does Shake handle cache i

[2016-02-18 16:04] snowleopard commented on #210
@ndmitchell I don't have any profiles, but when this was implemented naively, zero builds took minutes for me. So the optimisation was a forced one.

That's true, but I would want to have some assurance that the current solution will keep working when/if we start building new packages in future (e.g., `dph`).

Oh. Silly me. This means most `newCache` calls are redundant. Thanks!

[2016-02-18 16:25] snowleopard commented on #210
@ttuegel The following should happen:
* Rule `buildPackageLibrary` will `need` file `Foo.hs`, because module `Foo` is listed in the `cabal` file.
* Rule `generatePackageCode` will be asked to build `Foo.hs`. It will call the `ModuleFiles` oracles that will report back the pair `(Foo, "Foo.y")`. By examining the extension we will figure out that `Happy` needs to be invoked to build `Foo.hs`. We wil

[2016-02-18 16:26] ndmitchell commented on #210
I find that idea that A.B.C can be anywhere but src/A/B/C.hs to be a little bonkers. At everywhere I've worked there was a precise isomorphism between module name and file name, which is absolutely necessary when you have 10,000+ modules. Even end user tools were not named `Main`, but used `-main-is`. As a human, I find this the only way to develop software so I can find the modules. Alas, the wor

[2016-02-18 16:35] snowleopard commented on #210
@ndmitchell Sure, I will do that.

[2016-02-18 16:36] ttuegel commented on #210
:+1:

Having to run `doesFileExist` on every module for every rebuild actually doesn't sound too bad, compared to what we're doing now in Cabal.

So, if I move `Foo.x` to `Foo.y`, the `doesFileExist` check will fail, forcing us to re-scan the source tree for `Foo.*`, is that right? That's actually not so bad; I was imagining it would require manual intervention.

[2016-02-18 16:40] snowleopard commented on #210
In this case it's not `doesFileExist` that does the trick but `getDirectoryFiles`. The idea is the same though. The result of `getDirectoryFiles` will change, which will initiate appropriate rebuilds in the build system. As far as I understand no manual intervention or complete rebuilds will be required.

[2016-02-18 16:48] ndmitchell commented on #210
@ttuegel there will never be a requirement for manual intervention. The cost of the communication associated with a manual intervention is ridiculously high, so at the absolute worst, you can just bump the internal version number of the build system and rebuild everything - but that's the absolute worst case. Things like files moving around should be easy.

[2016-02-19 08:40] ndmitchell commented on #206
I ran for 10 hours, each build taking ~12 minutes, so roughly 50 builds. No errors at all. But we do know the build does occasionally fail with the mk errors sometimes. Perhaps I'm not hitting it? Maybe a clean build never shows the issue? Maybe it got fixed - but given the patches that have gone in after the last occurrence, I'm skeptical.

[2016-02-19 09:52] ndmitchell commented on #210
@snowleopard - I notice you only commented `moduleFilesOracle`. Is that the only one of relevance to this ticket? (I think commenting the other two similarly would be quite useful anyway, but just trying to figure out what to focus on.)

[2016-02-19 10:24] snowleopard commented on #206
I am not 100% sure, but I think I only came across this issue when finishing a partially complete build. For example, I first get an error because the path to `make` is wrong in `system.config`. I go ahead and fix the path manually, rerun the build and the error occurs. I am not saying this is easily reproducible, but this is how the error usually occurs I think.

I don't think it got fixed by any

[2016-02-19 10:35] snowleopard commented on #210
@ndmitchell This is because `moduleFilesOracle` is the key. It does most of the work and has a clear well-defined functionality.

Two other functions in this module (`moduleFiles` and `haskellModuleFiles`) feel rather accidental and I'm now thinking of refactoring them to make their functionality clearer. Note, `moduleFiles` is used only twice in the build system, and `haskellModuleFiles` is used

[2016-02-19 11:04] ndmitchell commented on #210
Detailed review:

     . groupBy ((==) `on` fst) $ decodedPairs

Group doesn't do a sort first, so if the arguments are `[A.B, D, A.C]` then you'll end up with two entries for `A` in the list. Was that intentional? I suspect you are after the [groupSort](https://hackage.haskell.org/package/extra-1.4.3/docs/Data-List-Extra.html#v:groupSort) pattern.

Only other minor point is that you are storing t

[2016-02-19 11:54] snowleopard commented on #210
@ndmitchell Great, many thanks for reviewing!

* Regarding `groupBy`: there is an assumption that `modules` are sorted, I forgot to mention it. This can be checked by examining `moduleFiles` and `haskellModuleFiles`. Does this answer your comment or would you prefer to do the sort anyway, even if it may be redundant? This probably would be negligible performance wise, compared to scanning the sour

[2016-02-19 13:02] ndmitchell commented on #210
@snowleopard - leaving the sort out is fine, but I would document that invariant in that area, near to where you rely on it. I might be tempted to sort anyway, since it is a trivial operation, and makes it easier to guarantee correctness.

Agreed with your new top-level structure, that makes sense.

[2016-02-19 18:31] snowleopard commented on #210
A new description of `moduleFilesOracle`:

This is an important oracle whose role is to find and cache module source files. More specifically:
* It takes a list of directories `dirs` and a sorted list of module names `modules` as arguments.
* For each module, e.g. `A.B.C`, it returns a `FilePath` of the form `dir/A/B/C.extension`, such that `dir` belongs to `dirs`, and file `dir/A/B/C.extension` e

[2016-02-19 18:33] ndmitchell commented on #210
:+1:

[2016-02-21 02:28] snowleopard commented on #210
@ndmitchell What do you think of having oracle test like the one I added in 1136a62? It slightly interferes with the Shake database by adding a request which is not exercised during a normal build.

[2016-02-21 07:42] ndmitchell commented on #210
@snowleopard - a good idea, I don't think it will harm anythibg

[2016-02-24 07:00] ndmitchell commented on #206
An 8 hour overnight rebuild was totally successful, so I don't think just rebuilding is going to help us reproduce the issue (if it still exists).

[2016-02-26 03:45] snowleopard commented on #210
Summary of recent changes:
* Simplified functions that use `moduleFilesOracle`: we now have `findGenerator` and `haskellSources` with clear semantics and descriptions.
* `Context` is now used as the key for `moduleFilesOracle`. This reduces the size of the Shake database, and allows to reliably reuse `groupSort`, but the disadvantage is that we can no longer supply a simple test case to the oracle

[2016-02-26 09:27] ndmitchell commented on #210
I reviewed the code, a few notes:

*  `"//*hs" ?== file` boils down to `isSuffixOf "hs" file`. Wouldn't `elem (takeExtension file) [".lhs",".hs"]` be a more robust and meaningful test?
* `Context` is part of all the keys. Weren't we going to make `Context` huge by putting all the `Args` in it? Shouldn't the key be much smaller - e.g. just outputs? I'm surprised making `Context` the key makes the D

[2016-02-26 11:38] snowleopard commented on #210
@ndmitchell Many thanks!
* Good idea about `elem  (takeExtension file) [".hs", ".lhs"]` -- it is cleaner and more robust.
* I switched to `context@Context {..}` whitespacing in all codebase.
* We no longer have `let Just builder = determineBuilder src`. Instead, I do this step in `findGenerator`. I prefer to keep the signature `determineBuilder :: FilePath -> Maybe Builder` because it is more reus

[2016-02-26 11:50] ndmitchell commented on #210
@snowleopard - that all makes sense.

Is the `takeExtension src `notElem` [".hs", ".lhs"] ` test on line 108 actually necessary? I assume not, since if we had been passing actual Haskell files it would have raised a pattern match error.

[2016-02-26 11:58] snowleopard commented on #210
@ndmitchell You are right, it is not necessary, but it is a good optimisation: there are a lot of `(l)hs` files and storing them all in the Shake database and cache just to be discarded later by `determineBuilder` seems rather inefficient. With this optimisation we store just a handful of real generators per `Context`.

I think I should add a comment about this to the code.

[2016-02-26 12:02] ndmitchell commented on #210
@snowleopard That makes sense - good idea.

[2016-02-26 19:03] snowleopard commented on #210
OK, I think I can close this now.

[2016-02-26 19:03] #210 closed

[2016-02-26 23:06] #207 closed

[2016-02-26 23:08] snowleopard commented on #206
I haven't seen this error for a long while now (building about 10 times a day on average, and not always from clean state). Shall we close this issue?

[2016-02-27 07:24] ndmitchell commented on #206
I can't reproduce it either. Lets assume it got fixed and reopen if it didn't.

[2016-03-03 12:07] ndmitchell opened #211 "Failure to install without make on PATH"
I built a new VM, with very few tools on it, and tried to compile GHC using only Stack. I got the error below. I guess something that it wanted to detect was the empty string? Shouldn't that be an error? I didn't have make installed, which I assume is the issue.

![virtualbox_ie11 - win10_03_03_2016_12_01_11](https://cloud.githubusercontent.com/assets/1651197/13493737/c2011b94-e137-11e5-9df8-061fa

[2016-03-03 12:08] ndmitchell commented on #211
(And no, I have not yet figured out how to copy out of my VM...)

[2016-03-03 12:12] snowleopard commented on #211
Sounds like a bug indeed.

Can you find a line like `Executable found: make => D:/msys/usr/bin/make.exe` in the build log? This will confirm that an empty path was found for `make` for some reason.

[2016-03-03 12:15] snowleopard commented on #211
Also, could you check `system.config`? I expect it to have a line like `make = make` set by `configure`.

[2016-03-03 12:23] ndmitchell commented on #211
I see:

    make                        =

I can't find the executable found line in the log, but that may be just me missing it. I assume the system.config problem is the underlying cause, and you should just give a better error?

[2016-03-03 12:26] snowleopard commented on #211
@ndmitchell Agreed. A missing executable in `system.config` should be an error. Will fix this today.

[2016-03-03 12:27] ndmitchell commented on #211
@snowleopard - be careful, some like hscolour are optional.

[2016-03-03 12:40] snowleopard commented on #211
@ndmitchell Hmm, indeed... Looks like we have a distinction between `essential` and `optional` builders. Most builders are essential; `hscolour` is the only optional one I can remember.

[2016-03-03 20:21] ndmitchell commented on #110
For info, I figured out the steps to install using Stack on a fresh Windows build: http://neilmitchell.blogspot.co.uk/2016/03/compiling-ghc-on-windows.html

[2016-03-03 20:25] snowleopard commented on #110
@ndmitchell Cool! What about using `--setup` to get rid of the `boot` and `configure` steps?

[2016-03-03 20:28] ndmitchell commented on #110
I'm fairly certain most users will redo the final step after doing a git pull. If that line has `--setup` on it, then they'll end up redoing boot/configure every day, which is not a great experience. For the moment I thought I'd go explicit, and we can work on shaving some steps off later.

[2016-03-03 20:29] ndmitchell commented on #110
@snowleopard - having this git repo as a submodule of GHC would be nice, since then you could skip one step. It seems making it a submodule isn't really a big deal, since people who don't care can ignore it.

[2016-03-03 20:33] snowleopard commented on #110
@ndmitchell Just for info: the `--setup` flag no longer rebuilds things (it is no longer an `AlwaysRerun` rule). If someone wants to force a rebuild they now have to add `-B`, which I think is a saner behaviour.

Sure, making this repo a git submodule seems reasonable. This will also simplify CI scripts.

One question: the `stack.yaml` file seems to be a full of default settings. Is it really need

[2016-03-03 20:38] ndmitchell commented on #110
Ah, that does seem simpler. Does setup also auto-download? Perhaps we should check the script in on my blog into the repo in Markdown, and also keep a "proposed future version" around as well (so I can redo the testing procedure from scratch each time). I wonder if `shake-build/build.bat setup` might be easier though, so there are still two steps - boot/configure and build separately? (My ultimate

[2016-03-03 20:43] snowleopard commented on #110
Yes! More precisely, it runs the `mk/get-win32-tarballs.sh` script on Windows.

Good idea, do send a PR. This could go into the `doc` folder I guess.

Let's discuss the `shake-build/build.bat setup` idea next week.

:+1: That will a good day!

[2016-03-04 01:53] snowleopard commented on #211
@ndmitchell Should be fixed now.

During testing I got hit by #206! Here is exactly what I did:
* I run a successful build with `./build.bat -j4 --flavour=quick`.
* Opened `system.config` and set `make = `.
* Restarted `./build.bat -j4 --flavour=quick`.
* This led to the following error, as intended:
[code]
* Opened `system.config` and set `make = make`, as before.
* Restarted `./build.bat -j4 --f

[2016-03-04 09:42] ndmitchell commented on #206
I keep getting:

[code]

Which looks like a Shake bug to me, and unrelated to this issue - I'll fix that.

[2016-03-04 10:31] snowleopard commented on #206
@ndmitchell Can you clarify what's going on? I'm still lost.

[2016-03-04 10:36] snowleopard commented on #211
Being explicit about optional builders uncovers interesting things. OS X instance of Travis failed with:
[code]
Apparently, no `objdump` is provided by `configure` on OS X. However, the build system did work on OS X somehow, so it clearly wasn't essential. Shall we consider it optional on other platforms as well? Or shall we change the `isOptional` signature to `Builder -> Action Bool` and make th

[2016-03-04 10:46] ggreif commented on #211
Darwin (and transitively Mac OS X) has no `objdump`, but `otools`
(IIRC) instead. So the optional dependencies should be
platform-specific.

On 3/4/16, Andrey Mokhov <notifications@github.com> wrote:

[2016-03-04 10:55] ndmitchell commented on #206
@snowleopard - not really sure. Are you getting random lint failures? I suddenly am this morning. I even wonder if it's my computer reporting dodgy modtimes at various times (it sometimes happens).

[2016-03-04 11:13] snowleopard commented on #211
@ggreif Many thanks! But then the question is: do we have to use `otools` (or something like that) instead of `objdump` on Darwin? Another way of putting this: is `objdump/otools` really optional on Darwin or perhaps we just got lucky the build system worked without `objdump/otools` previously?

[2016-03-04 11:16] snowleopard commented on #206
@ndmitchell I've never seen random lint errors as far a I remember. Well, apart from the strange behaviour we are investigating in this issue, but it's not yet certain that lint is to blame here.

Are you using the same version of Shake as I (the released one)?

[2016-03-04 12:15] ndmitchell commented on #206
I'm using HEAD. But it worked fine a few weeks ago, and I don't think anything relevant has changed, so I'm still confused.

[2016-03-04 12:34] snowleopard commented on #206
Perhaps, to provide another point of reference, you could follow the steps I listed in https://github.com/snowleopard/shaking-up-ghc/issues/211#issuecomment-192054583 on your VM installation?

Let me copy the steps here for convenience:
* I run a successful build with `./build.bat -j4 --flavour=quick`.
* Opened `system.config` and set `make = `.
* Restarted `./build.bat -j4 --flavour=quick`.
* Thi

[2016-03-04 12:36] ndmitchell commented on #206
And I'm getting a lint error exactly where you are getting an openFile error. Maybe this is really a lint error that comes out wrong? Or the lint is in some way important?

[2016-03-04 12:45] ndmitchell commented on #206
OK, I'll debug this tonight, but sounds like we've caught something.

[2016-03-04 12:50] snowleopard commented on #206
Thanks! We might want to re-examine the `fixFile` implementation:
[code]
Is there a chance it could still let a rule (which called it) finish before the file is written to and closed? This is the only sane explanation of the above errors I can come up with, because it can cause both lint errors (rule finished, modtime/value locked, but the mod time is changed again when the file is closed), and `o

[2016-03-04 12:58] ndmitchell commented on #206
No, fixFile looks correct, it's pretty simple. I'll investigate it though...

[2016-03-04 14:01] ndmitchell commented on #206
I note that you are still building utils/ghctags/stage2/package-data.mk - I thought you pushed all build products into `.build`? Could this have something to do with the upsetness?

[2016-03-04 14:13] snowleopard commented on #206
Build products produced by `ghc-cabal` can't be moved unfortunately -- they are put into a fixed location in the package directory. I copy these files to `.build`, where the rest of the action happens, with hope that eventually we will be able to get rid of `ghc-cabal` and in-tree build artefacts altogether #18, #113.

The relevant lines are:
[code]

As far as I can see, this shouldn't be relevant

[2016-03-04 14:23] ndmitchell commented on #206
I'm sure it's relevant, I just don't know how :) - best theory is Shake gets confused with also files and lint checking, but still not sure just how yet.

[2016-03-04 14:30] snowleopard commented on #206
Ah, could it be because two logically different rules are mixed in one `&%>` rule? I could easily split the rule in two, which could also make it more readable.

[2016-03-04 14:38] ndmitchell commented on #206
It does seem that there are two separate processes which generate the separate files, so splitting it seems the simpler way to go. But I'd still like to track down this bug separately, since I suspect it is in Shake itself.

[2016-03-04 15:17] ndmitchell commented on #206
I found the bug :) - https://github.com/ndmitchell/shake/issues/427

My guess is that in the last release it comes up with the error we saw, and in the latest release I fixed something (absolutely no idea what!) so it now gives the error I see. Perhaps just disable lint checking until we've got this squashed?

[2016-03-04 15:20] ndmitchell commented on #206
I've added a new bug-upstream label, to indicate things that are bugs in the build system, but that are the fault of something upstream (typically Shake) - if that tagging doesn't suit you just delete it.

[2016-03-04 15:21] ndmitchell commented on #203
I've not seen this in a lot of soak testing. Shall we hopefully assume its gone?

[2016-03-04 16:35] snowleopard commented on #203
Yep, let me close this.

[2016-03-04 16:35] #203 closed

[2016-03-04 16:41] snowleopard commented on #206
Cool! Thanks for hunting the bug down :-) The new label is fine!

I'm very rarely affected by this, and CI never fails because of this. Lint checking on the other hand is very useful, so I think we better keep things as they are. The important thing is that we now know it's not a bug in the build system.

Do I understand correctly that if I split the rule in two (which seems to be a reasonable thi

[2016-03-04 16:53] ndmitchell commented on #206
Correct, splitting will fix the issue here - although it could equally happen in other also-file rules.

It sounds like splitting is also semantically the right thing to do anyway.

[2016-03-04 16:53] ggreif commented on #211
I believe objdump/otools is only needed in the cross-compilation case.
Unless it is used for the TABLE_NEXT_TO_CODE hack. Where do these
tools appear in the makefiles?

On 3/4/16, Andrey Mokhov <notifications@github.com> wrote:

[2016-03-04 16:54] snowleopard commented on #206
OK, I'll do the splitting and will close this issue.

[2016-03-04 17:12] snowleopard commented on #211
@ggreif Here is the only example from the new build system: https://github.com/snowleopard/shaking-up-ghc/blob/master/src/Settings/Builders/DeriveConstants.hs#L26-L27.
[code]
Here it is clear that `Objdump` is optional: if it is `specified` it is passed as an argument to `DeriveConstants` builder.

Another example can be found in `build-package-way.mk` in the old build system.

[2016-03-04 23:16] ggreif commented on #211
@snowleopard yep, looks like `objdump` is only needed on OpenBSD and AIX. These have a problematic `nm`.

[2016-03-05 05:53] centromere opened #213 "Build error on Ubuntu 16.04"
[code]

[2016-03-05 07:21] ndmitchell commented on #213
Can you try running from inside the ghc directory and see if that works? Should be fixable if that turns out to be the issue.

[2016-03-05 13:03] snowleopard commented on #213
It looks like the `shake-build` folder is not in the top directory of GHC source tree? At least I don't see it in the `ls` output.

@centromere I assume you cloned `shake-build` into `./ghc/shake-build` for some reason, not to `./shake-build`. This will not work: the new build system must go into `./shake-build` directory, at least for now.

[2016-03-05 13:06] snowleopard commented on #213
I just double-checked, the `README` is quite explicit about this:
[code]

[2016-03-05 13:20] snowleopard commented on #211
@ggreif Thanks! I made `objdump` optional for now, and added a `TODO` to add support for platform-specific builders. Not sure I can do it right now because I don't have access to OpenBSD/AIX machines to reliably test this feature.

[2016-03-05 14:08] #206 closed

[2016-03-05 17:47] centromere commented on #213
A ha, it was a misconception on my part:
[code]
I thought that `cd ghc` referred to the ghc directory within the ghc tree. The build is occurring now, sorry for the noise!

[2016-03-05 17:47] #213 closed

[2016-03-05 18:45] centromere opened #214 "ghctags fails to configure, Cabal not installed"
[code]

[2016-03-05 20:48] snowleopard commented on #214
[code]

@centromere Do I understand correctly that you are working on the Cabal package? (guessing from `Distribution.Verbosity changed`).

Also, the previous build must have been unsuccessful, since `Cabal` is not listed by `ghc-pkg list`.

It's very hard for me to understand what's going on. Can you do a `build clean` and try to build again?

[2016-03-05 20:50] #211 closed

[2016-03-06 02:49] centromere commented on #214
I am not working on the Cabal package. I am only testing the build system. Just now I started from a clean build:
[code]
NB: I'm using --flavour=quick

[2016-03-06 03:02] snowleopard commented on #214
This is very strange, I have no idea how the build system could reach stage2 without having built the Cabal library first. It did build `inplace/bin/ghc-stage2` somehow -- but that requires Cabal library too!

What happens if you explicitly ask it to build the Cabal library?
[code]

That should be fine.

[2016-03-06 03:06] snowleopard commented on #214
To test that `ghc-pkg` registration works as expected, you could also try the following:
[code]

[2016-03-06 03:14] centromere commented on #214
[code]

[2016-03-06 03:31] snowleopard commented on #214
@centromere Thanks! So, the conclusion seems to be: the Cabal library was deleted after stage2 GHC got built, but before ghctags. I will try to reproduce tomorrow. This looks like a missing dependency somewhere.

[2016-03-06 03:37] centromere commented on #214
This was performed in a stock `ubuntu:16.04` docker container.

[2016-03-06 08:41] hvr opened #215 "bootstrapping with GHC 8.0.1RC"
The first issue one stumbles over is easy to fix (this actually assumes a more recent snapshot than GHC 8.0RC2):

[code]

----

The next issue is that shake hasn't picked up ghc/ghc@525a304f8c010ce73f1456e507aca668eb4917ac yet; so `Settings.Packages.GhcCabal` needs updating. As a quick workaround I added something along the lines of

[code]

(btw, once we reach GHC 8.3.x development, we won't need

[2016-03-06 12:19] snowleopard commented on #215
@hvr Thanks! This has been in my wish list for a while. It's good to have it documented here.

I assume these changes are backward compatible, that is, booting with GHC 7.10 will still work?

[2016-03-06 20:35] snowleopard opened #216 "Object file not rebuild when hi file is dirty"
While trying to reproduce #214 I came across the following bug: if I delete a `hi` file and rerun the build system, it fails to rebuild it.

Here is the explanation: we currently have two separate rules, one for producing `*.o` files which does the actual work by calling GHC on an appropriate source file, and another rule producing `*.hi` files, which simply `need`s the corresponding `*.o` file. W

[2016-03-06 20:39] snowleopard commented on #214
I have difficulties reproducing this exact problem, but discovered a serious bug in the process: #216.

@centromere Can you reproduce the problem? If yes, could you provide the exact steps?

[2016-03-06 22:12] ndmitchell commented on #216
@snowleopard - indeed, multiple output rules are sometimes required. There is an encoding into files with monadic non-changing build systems (e.g. Shake) but it's pretty complex.

I think something like `provides` (https://github.com/ndmitchell/shake/issues/421) might allow you in one *.o rule to capture this dependency, but it doesn't exist yet, and is probably best viewed as a workaround rather

[2016-03-06 22:25] snowleopard commented on #216
@ndmitchell I see, thanks.

I wonder if `|%>` could perhaps be a better tool in this situation: we sometimes produce both `hi` and `o` and sometimes only `o` (for C sources). Does `|%>` allow **inclusive-OR** behaviour?

It seems a perfect use case for `&?>`, but unfortunately the test must be pure, while I need to perform an Action to find out the exact set of outputs.

[2016-03-06 22:33] snowleopard commented on #216
On a second thought, perhaps, the following predicate for `&?>` will work?
[code]

In words, if the rule is asked to build an `hi` file we will definitely produce an `o` one as well. Otherwise we can only tell about `o` for sure, although we might as well produce `hi` which will be unre

[2016-03-06 22:47] ndmitchell commented on #216
No, `|%>` will not work - it's just sugar for a map over `%>`. Looking at the filename in the test to determine which set to produce is not allowed - any member of the set must produce all members. You really want `&%>` which produces a `File, Maybe File` - which is exactly what is required for https://github.com/ndmitchell/shake/issues/388, and I'll hopefully sort out sooner or later. For the mom

[2016-03-07 02:00] snowleopard opened #217 "Tracking command lines efficiently"
Given a `Target` it is possible to compute the command line to build it as follows:
[code]
We currently track command lines using `ArgsHashOracle`:
[code]

The above solution works but is inefficient, because the whole `Target` is stored as a key in the Shake database for each target/hash pair. Ideally, we would like to use `Target`'s output file as the key, because it is unique (each output is bu

[2016-03-07 06:51] ndmitchell commented on #217
I can't see how to do this with hash files - you still get the problem of providing a rule to build the hash file.

Could you have a cache value keyed on `()` that produced `Dict FilePath Int` - namely the hash for every interesting file. This would have to have global access to the universe of possible targets - not sure if you can arrange that? If you could then you could look up from the output

[2016-03-07 10:38] centromere commented on #214
@snowleopard Try doing the following:

[code]

[code]

[2016-03-07 11:00] snowleopard commented on #217
At the moment I have a universe of all possible contexts, but not targets. The latter would be quite difficult to arrange I think and will require a rethink of the current design.

However, maybe we do not need a universe of targets, but _targets without input files_.

Why? As far as I can see we only use `Target`'s inputs for inserting them into the command line. We do not take any decisions depe

[2016-03-09 22:33] ndmitchell opened #218 "Figure out the GHC equivalent command line"
This build system doesn't do everything. To benchmark, it is useful to have an equivalent in the old GHC build system. Running:

    shake-build/build  --flavour=quick -j4

Is equivalent to:

* In `mk/build.mk` set `BuildFlavour = quick`
* Run `make -j4`

And what else? What other things does GHC build that we don't?

[2016-03-09 22:45] snowleopard commented on #218
By default we don't build documentation (it sometimes breaks and also takes a lot of time, so I decided not to enable it by default for now). To enable it we can pass `--haddock` flag.

By default we also don't build split objects (for the same reason: fragile and slow), to enable you can pass `--split-objects` flag.

We currently only build vanilla way (plus `threaded` RTS for `haddock`), so we s

[2016-03-09 22:50] snowleopard commented on #218
Let me check whether `profiling` works. It actually should, unless I broke it recently.

[2016-03-09 22:51] ndmitchell commented on #218
Looking at my directory after a complete build there are only 175 HTML files, and most are tests from the Haddock repo, so it seems GHC doesn't build documentation by default either. I think everything else is captured with:

[code]

[2016-03-09 22:51] ndmitchell commented on #218
For info, on the "nothing to do" build, we are 3.7s and Make is 12.3s. That's terrible from both!

[2016-03-09 22:54] ndmitchell commented on #218
Having a little less in the pile for doing my testing is nicer - means I can run more tests and get more robust measurements, especially if the extra stuff is just "more of the same".

For the slowness of the current system, I'll profile and see what I can do - leave it to me.

[2016-03-09 22:55] snowleopard commented on #218
Yay! :-)

I may be wrong, but I think current implementation of `ArgsHashOracle` and `dependencies` are bottlenecks. To test without the former, you can set `trackBuildSystem = False` in `Settings/User.hs`.

[2016-03-09 23:05] ndmitchell commented on #218
`unifyPath` is taking up 17% of the time according to profiling, because you call it 40 million times in a zero build. I suspect instead of normalising all paths at every step (easy to do but wasteful), you should normalise paths only as they arrive into the build system (e.g. from a user or a config file) and then `-/-` can be `x ++ '/' : y`, which is a lot cheaper.

[2016-03-09 23:17] snowleopard commented on #218
The problem is that `</>` uses the Windows separator `\` even though we are working in MSYS, which leads to chaos: different parts of the file paths use different separators. I believe we can't just apply `unifyPath` to paths from the configuration file, because that's not the only source of file paths...

However, the build system may work correctly even with `-/- = </>`, I think the reason I did

[2016-03-09 23:20] ndmitchell commented on #218
In fact, 40 million seems just crazy. I'll trace them all - we may be duplicating huge pieces of work. If not, a newtype seems like a reasonable plan. Using / everywhere does seem sensible, even if not essential.

[2016-03-09 23:28] snowleopard commented on #218
Yes, this does sound suspicious... That seems like thousands of `-/-` per output file. I think only `moduleFilesOracle` could be doing more than O(files) applications of `-/-`, but not that much.

[2016-03-09 23:51] snowleopard commented on #218
@ndmitchell We can build profiled libraries. I've enabled profiling way by default, as in the old build system, but passing `--flavour=quick` disables it (also as before). So this will not affect your benchmarking. (If it does, please shout!)

[2016-03-10 00:13] snowleopard commented on #186
Library profiling seems to work in my tests, so I am closing this issue.

Building a profiled GHC (`GhcProfiled = YES`) is another matter, which I think deserves a separate issue.

[2016-03-10 00:13] #186 closed

[2016-03-10 06:29] ndmitchell commented on #218
The GHC Profiler isn't the most accurate. Adding a real trace I see 120315 calls to unifyPath, operating on 5713 unique paths. So still a massive number of duplicates. Looking at the most common duplicates:

[code]

So Andrey, why do we append `stage1` and `compiler` 6597 times? Is this (and any other work nearby) something that could be pulled out into a CAF and shared?

[2016-03-10 09:39] snowleopard commented on #218
Function `buildPath :: Context -> FilePath` is computing that and it is called from a lot of places.

Are you suggesting to cache it somehow?

We don't actually need to use a smart `-/-` in it, because it always operates on unified file paths.

[2016-03-10 11:56] snowleopard opened #219 "Implement installation and binary/source distribution rules"
There is no support for this in the build system yet. See `install`, `sdist`, `binary-dist` rules in makefiles.

Here is the todo list:
- [x] Installation
- [x] Source distribution (done, thanks @KaiHa!)
- [x] Binary distribution

[2016-03-10 12:39] snowleopard commented on #218
@ndmitchell Have a look at the above commit. It uses `x ~/~ y = x ++ '/' : y` in all `Settings.Paths` functions, including `buildPath`. This should hopefully mitigate things to some extent.

[2016-03-11 03:21] Ericson2314 commented on #216
In the mean time, would it make sense to just `touch` the `hi` file so its generated in the C case?

[2016-03-11 03:44] snowleopard commented on #216
@Ericson2314 This should work, but is not a very satisfactory solution. Hopefully we'll come up with a better one (but right now ICFP deadline takes the priority!).

[2016-03-12 10:12] ndmitchell commented on #218
@snowleopard - I'll make some hacks for the paper which correctly and precisely capture the speedup we'll get, but are a disaster for code maintenance, to get some numbers. I suggest we revisit actual code improvements next week. The `~/~` should be a step forward, I'll benchmark later today.

[2016-03-21 21:54] ndmitchell opened #220 "Improve the zero build time"
Zero build time is currently non-zero. I should fix that. See https://github.com/snowleopard/shaking-up-ghc/issues/218 for some initial analysis.

[2016-03-21 21:55] ndmitchell commented on #218
I think we managed to find equivalents, so this can now be shut. I've created https://github.com/snowleopard/shaking-up-ghc/issues/220 to track speeding it up.

[2016-03-21 23:51] #218 closed

[2016-03-21 23:53] snowleopard commented on #220
@ndmitchell What's your opinion on the `newtype Path` proposal? Shall I proceed with the refactoring? This may be useful even if it turns out to be not on the critical path of the zero build.

[2016-03-22 20:04] ndmitchell commented on #220
Seems sensible - if you think it's going to be clearer that's a good reason to do it anyway. Once done, it will certainly be easier to leverage for performance as well, if not a performance win on its own.

[2016-04-06 06:52] hvr commented on #215
@snowleopard yes.. booting with 7.10 *should* still work

maybe @ezyang can chime in regarding the `-this-package-key` warning (if this still happens)

[2016-04-06 07:10] ezyang commented on #215
Yes, for GHC 8.0 and later please use `-this-unit-id` not `-this-package-key`. I apologize profusely for all of the faffing about >_<

[2016-04-06 08:16] hvr opened #221 "needed CFLAGS not passed to c compiler?"
Recently, GHC HEAD started requiring the c compiler being in C99 mode (and configure.ac augmented accordingly)

In fact I see that `system.config` picks up the required flag (needed for GCC 4.* -- clang & gcc 5 don't need any flags to be placed into C99 mode):

[code]

however, building GHC HEAD fails  because the CFLAGS weren't passed to the C compiler:

[code]

[2016-04-06 10:38] snowleopard commented on #215
Thanks @hvr and @ezyang. I'll be taking care of this during the coming week. Haven't had time recently to keep up with the project, but things are getting back to normal now.

[2016-04-06 10:40] snowleopard commented on #221
Thanks @hvr, this should be an easy fix. I'll take care of it.

[2016-04-12 12:01] snowleopard commented on #221
@hvr I pushed a fix, could you test please? It works for me on Windows, but Travis fails with a timeout for some reason... Not sure where the 2x+ slowdown comes from, the Windows build is not affected.

[2016-04-12 14:47] hvr opened #222 "CC executable name incorrectly mangled"
I just stumbled into this failure:

[code]

even though `system.config` knows the proper executable name:

[code]

[2016-04-12 14:49] hvr commented on #221
@snowleopard I was about to try it, when I stumbled over #222 (cause on my current system the default `gcc` points to GCC 5, wherease the issue in #222 is clealry visible for GCC 4.*)

[2016-04-12 14:55] hvr commented on #222
btw, `gcc` doesn't seem like a variable name; coincidentally I've been working on https://phabricator.haskell.org/D2078 which tries to get rid of the misnamed `--with-gcc`/`WhatGccIsCalled` et in favor of the more generic "CC" style naming

[2016-04-12 15:00] hvr commented on #222
The culprit seems to be

[code]

in `src/Builder.sh`

[2016-04-12 15:06] ndmitchell commented on #222
I guess rather than removing any arbitrary extension it should be removing only `.exe` and `.EXE` trailing strings?

[2016-04-12 15:50] snowleopard commented on #222
Oh, that's annoying. I'll fix this.

@ndmitchell Yes, I think so. I will `tolower . takeExtension` just in case.

[2016-04-12 15:54] hvr commented on #222
@snowleopard even appying 'toLower'  on the extension sounds dangerous... e.g. consider if I had an executable called 'gcc.DEBUG' ... I'm wondering why you even need to transform the filename on windows at all. what would happen if you left the extension as is?

[2016-04-12 15:54] snowleopard commented on #222
@hvr I agree about the name -- I was also thinking to rename it to `cc`. I'll create a separate issue on this.

[2016-04-12 15:56] snowleopard commented on #222
@hvr Hmm, maybe I don't need to bother with adding `exe` extensions at all? I simply followed what the old build system did with `exeext`...

[2016-04-12 15:59] hvr commented on #221
fwiw, the fix seems to have worked for the compile failure at hand; I haven't checked though if there are other places that may have not get the same flags as with the `make`-based system...

[2016-04-12 17:48] snowleopard commented on #222
OK, apparently `-<.> exe` wasn't needed at all -- the above fix worked fine without it on my machine.

@hvr Hopefully, this fixes things for you too, so I'll close this issue.

[2016-04-12 17:48] #222 closed

[2016-04-12 17:50] snowleopard commented on #221
@hvr I'll close this now, but do reopen if you encounter any other missing CFLAGS.

[2016-04-12 17:50] #221 closed

[2016-04-12 23:33] snowleopard opened #223 "C and Haskell compiler: builder and setting names"
At the moment the build system uses `gcc` and `ghc` to refer to the C and Haskell compilers used in the build process. However, in principle they don't necessarily have to be GCC and GHC. It therefore seems more logical to use generic names like `cc` (i.e. 'C compiler') and `hc`. This has been mentioned in #222.

One subtlety here is that different C or Haskell compilers will probably expect diffe

[2016-04-14 00:41] snowleopard commented on #223
As a first step I did the following renaming:
* `gcc` to `cc` in `system.config`
* `system-gcc` to `system-cc` in `system.config`
* `Gcc` to `Cc` in sources.
* `GccM` to `CcM` in sources.
There are still a few instances of `Gcc` found by `git grep Gcc` but they all follow conventions in the previous build system.

As the next step I intend to get rid of builder duplication, merging `Cc` and `CcM`

[2016-04-14 02:05] Ericson2314 commented on #223
It is indeed true that Clang tries to suffice as a drop-in replacement for GCC. That said, there are Clang-specific flags which yield a better way of expressing something than possible with the GCC-compatable flags alone. So such functionality, while certainly not necessary for building with Clang, can still come in handy.

[2016-04-14 09:52] snowleopard commented on #223
@Ericson2314 Yes, I agree. The question is: what is the best way to provide support for different C compilers? At the moment we do have the following:
* `gcc-is-clang` and `gcc-lt-46` flags in `system.config`, where the former should probably be renamed to `cc-is-clang`.
* `GccIsClang` and `GccLt46` in sources, which allow to alter command lines by using `flag GccIsClang ?` conditions. Again, it m

[2016-04-14 14:22] ggreif commented on #223
@snowleopard `gcc-is-clang` is probably named this way, because on Mac OS X `gcc` is simply a symlink to `clang`.

[2016-04-14 21:34] snowleopard commented on #223
@ggreif Aha, I see, this makes sense. Indeed on Mac OS X instance of Travis we see the following:
[code]

[2016-04-17 13:24] michalt opened #224 "Cannot build GHC ('@WhatGccIsCalled@')"
I've just tried to build GHC with `./shake-build/build.stack.sh` but I'm getting the following error. Any hints/docs on how to debug this? Thanks!

[code]

Output of `configure`:
[code]

[2016-04-17 13:37] bgamari commented on #224
Michal Terepeta <notifications@github.com> writes:

This is due to a [recent GHC
change](https://phabricator.haskell.org/rGHC865602e0beb8e30ea1e1edf7db90f24088badb9e).

Pinging @hvr.

[2016-04-17 13:52] hvr commented on #224
See #225

[2016-04-17 13:56] hvr commented on #223
@snowleopard  I'd try to keep it generic, and just follow the traditional CC/CFLAGS/LDFLAGS scheme and have Autoconf handle figuring out which flags are needed... or does Shake really need to *know* which compiler is used?

[2016-04-17 14:05] michalt commented on #224
Cool, thanks! With #225 everything works as expected :-)

[2016-04-17 14:10] hvr opened #226 "$srcdir != $builddir support?"
Consider this a request for discussion :-)

One of Autotools neat features is support for srcdir/builddir being separate, allowing one common source-tree, and multiple builds done from that, see also

  https://www.gnu.org/software/automake/manual/html_node/VPATH-Builds.html#VPATH-Builds

This is something that wouldn't have been easy with the current Makefile system because the srcdir==builddir a

[2016-04-17 15:56] snowleopard commented on #223
@hvr I think I need a three-fold answer!

Firstly, with the above commits in place, the `Cc` builder now stands for a generic C compiler, just as you want. There is a bit of additional structure though, which may be arguable: `Cc Compile` is what we use to compile sources, `Cc FindDependencies` is what we use to extract source dependencies. These are two logically separate tasks, and perhaps we sh

[2016-04-17 16:00] #224 closed

[2016-04-17 16:01] snowleopard commented on #224
Many thanks for reporting (@michalt) and fixing (@hvr) :-)

[2016-04-17 16:17] snowleopard commented on #226
Indeed, in the new build system we have `buildRootPath = ".build"` defined in `Settings/User.hs`. We can easily override it from the command line, e.g. by switching to `buildRootPath = CmdLineFlag.BuildPath`.

However, we didn't manage to migrate all build results to `buildRootPath` yet for a number of reasons, which are being tracked in this issue: #113. To be done with this, we seem to require c

[2016-04-17 16:38] hvr commented on #223
The logical partition of the C compiler into operational mode and stage, that makes sense. And in some way this was already expressed in the Autoconf/Make setup by using different variables for each context.

So I do agree there's some structure here, but that still doesn't mean that Shake needs to know which version or compiler flavour we need. It just needs to know how the executable is named, a

[2016-04-17 17:05] hvr commented on #215
Btw, the last item (`-this-unit-id`) is not only relevant for bootstrapping with 8.0, but in general when building stage2, as the stage1-ghc wants the `-this-unit-id` flag as well.

[2016-04-17 17:26] bgamari commented on #223
Herbert Valerio Riedel <notifications@github.com> writes:

For what it's worth, I agree with Herbert here. It's easy to
underestimate the value that Autoconf offers. Yes, it's antiquated and a
bit cryptic but it has the advantage of literally decades of effort to
make things "just work" across a wide range of platforms.

The unfortunate truth here is that portability (especially between unix
flavo

[2016-04-17 18:06] snowleopard commented on #223
@hvr As a hypothetical example, I can see how one would want to pass an extra flag to `clang` when dealing with a particular source file, because `clang` fails to be completely identical to `gcc` and, say, produces a suboptimal result for that particular file. This would be impossible to achieve with the "separation of concerns" you propose. I'm therefore not convinced that a build system should b

[2016-04-17 18:26] hvr commented on #223
Fair enough, but if we go down this hypothetical road, then again you'd run into the class of problems that Autoconf's golden rule *"test for features not for versions"* solves in a principled way:

How do we know which versions of `clang` require or even support this different flag? Are we sure this flag is a good idea for future versions as well? Does `gcc`  need different special flags for some

[2016-04-17 18:33] snowleopard opened #227 "Demystifying Autoconf"
I've been told a number of times that Autoconf is a sacred gift, which we should all love and live with until the end of time. I also heard people whispering heretic thoughts about getting rid of it. Not now, but maybe some day. I admit that Autoconf is a mystery for me: I don't know what exactly it does, which makes it difficult for me to take sides in this matter.

Can we try to demystify Autoco

[2016-04-17 18:34] snowleopard commented on #223
@hvr @bgamari To avoid highjacking this thread, let me invite you here: https://github.com/snowleopard/shaking-up-ghc/issues/227

[2016-04-17 18:47] ndmitchell commented on #227
My personal feeling is that Autoconf is big, single-threaded and complex. It does have a lot of domain-specific knowledge, but much of that knowledge was useful 20 years ago when you had lots of compilers and OS's. Now you have 2 compilers and 3 OS's (to a crude first approximation), and most of them are pretty similar. I'd be a fan of pushing some/most of that knowledge in Shake.

[2016-04-17 20:05] hvr commented on #227
...just a quick reply to this one:

You can of course replicate parsing of `ghc --numeric-version`, but we need this this information inside `aclocal.m4`+`configure.ac` in anyway. `./configure` is the first thing the user is supposed to invoke in a source-distribution, so it should fail early if it detects that the environment doesn't provide the necessary tools to give the user to either tell `./

[2016-04-17 21:14] Mathnerd314 commented on #227
The obvious way to understand Autoconf is to RTFM: http://www.gnu.org/software/autoconf/manual/autoconf.html

I will summarize, since it's a long document:
* "Autoconf is an extensible package of M4 macros that produce shell scripts to automatically configure software source code packages"
* Typical configuration scripts have the following structure; ghc is no exception
[code]
* The created shell

[2016-04-17 21:25] hvr commented on #227
@Mathnerd314 That seems to be a good overview :-)

Btw, there's also http://www.gnu.org/software/autoconf-archive/ which is a repository of contributed Autoconf scripts, as well as plenty of Autoconf-based projects all over the internet where man-years went into one and where one can steal scripts from...

[2016-04-17 21:33] Mathnerd314 commented on #227
Yeah, the manual's introduction is also mandatory reading: (it mentions the autoconf archive among other things)
https://www.gnu.org/software/autoconf/manual/autoconf-2.63/html_node/Introduction.html

[2016-04-17 21:45] Mathnerd314 commented on #227
And the [history section](https://www.gnu.org/savannah-checkouts/gnu/autoconf/manual/autoconf-2.69/html_node/History.html#History) is enlightening; it started as a simple shell script ('configure'), then as more projects needed configure scripts, turned into a configure-script-generator using M4. Then, as it expanded even more, and M4 started crashing due to implementation bugs, they fixed the bug

[2016-04-17 22:21] snowleopard commented on #227
@hvr @Mathnerd314 I appreciate your valuable input -- the above links will definitely be my go-to resource when I need to make sense of Autoconf scripts.

However, let me reiterate: can we make this thread a bit more specific? Do you know of a particular setting computed by Autoconf which would be difficult to compute in Shake? If yes, please share it, so we can discuss specifics.

I don't think t

[2016-04-17 22:30] Ericson2314 commented on #227
I'd hope the Cabal file for this could handle these things. More generally I'd hope that while GHC may still be complex to build, the GHC shake infra is the most mundane Haskell executable to *build* and doesn't therefore need any special support.

[2016-04-17 22:34] Ericson2314 commented on #227
I read it as the amount of blood sweat and tears that went into such a convoluted mess being eye-opening and head-scratching. Definitely +1 no more autotools from me. I guess its main use both with GHC itself and other things (like base) is back-end concerns such as integrating with binutils. But with https://ghc.haskell.org/trac/ghc/ticket/11470 I'd hope (somewhat soon) that wouldn't be such a bu

[2016-04-17 23:16] Mathnerd314 commented on #227
Maybe my summary was too long. The important line is this:

Once you have generated the configure script, autoconf is not relevant. Only the 15k-line configure script is relevant, and familiarity with autoconf does not really help you with understanding said shell script, as most of that code is actually from the aclocal.m4 file in GHC, and the rest is undocumented boilerplate. But, once that scri

[2016-04-17 23:21] hvr commented on #227
If you frame it that way: as was mentioned already, you can obviously translate everything that's done in `./configure` line-by-line from Bash into Haskell. So by definition you can do everything in Shake that you can in Autoconf. But then we'd have to leave Autoconf behind and maintain our own home-brewed Autoconf-clone, and whenever something breaks or we need to test a new property we're gonna

[2016-04-17 23:27] hvr commented on #227
Actually, just a few weeks ago I made made use of an Autoconf macro that wasn't used before in GHC's configure.ac. If this was Shake, this would have cost me definitely more than the half hour it took me for the initial proof of concept.

[2016-04-18 00:20] snowleopard commented on #215
I think I've done all the changes, see the above commit.

Could you clarify where this list of packages comes from? I thought I would be able to compute it instead of hard-coding, but I can't quite figure out how.
[code]

[2016-04-18 00:21] #215 closed

[2016-04-18 06:07] Mathnerd314 commented on #227
Right, but this is not a burden. Most of autoconf is m4 code working around the limitations of m4. Projects seem to use autoconf out of inertia, not because it has any technical advantages; for example KDE migrated from autoconf to [CMake](https://lwn.net/Articles/188693/), and Firefox still uses a autoconf / python / make hybrid but has [plans](http://gregoryszorc.com/blog/2016/01/11/investing-in

[2016-04-18 06:08] hvr commented on #215
@snowleopard that package list has been manually invented by finding out which dependencies are needed by `ghc-cabal` (which includes its transitive deps, such as `binary`). It's basically a subset of bundled GHC's boot packages. But we can't parse `.cabal` files yet, because `ghc-cabal` isn't built yet and we can't assume `cabal` to exist to help us out (in which case we'd be able to properly sol

[2016-04-18 06:20] Mathnerd314 commented on #227
I also found this image, autotools is quite amusing if you research its userbase:
<img src="http://www.cul.de/images/autotoolscg.jpg" height="100px">

[2016-04-18 06:53] hvr commented on #227
Btw, I was referring to maintaining the GHC autoconf scripting/tests, not the upstream Autoconf. You clearly don't like Autoconf, that's pefectly fine. But this dislike doesn't add much to the discussion I'm afraid.

I know my way around Autoconf, as do our GHC port-maintainers. It doesn't matter if Haskell is easier to maintain if you have to leave behind all your existing knowledge you can lever

[2016-04-18 09:11] snowleopard commented on #215
@hvr Strange that the list doesn't match `.build_stage1_utils_ghc-cabal_TRANSITIVE_DEP_NAMES`:
[code]
We actually do parse `.cabal` files in the build system, see module `Rules.Cabal`. So, we could probably extract the list from `ghc-cabal.cabal`. However, since we are planning to get rid of `ghc-cabal` anyway at some point, maybe it doesn't worth the effort. I'll leave this as is, with a note.

[2016-04-18 09:36] snowleopard commented on #227
This turns out to be quite a passionate discussion :-) Thanks everyone!

In another attempt to bring the discussion down to specifics, let me ask a couple of questions:

Shall we use `CFLAGS` a good point to start looking into specifics? When I look into `system.config` on my Windows machine I see:
[code]
How does this change across the feared multitude of compiler/platform combinations? Is the en

[2016-04-18 10:09] snowleopard commented on #227
I can also provide specific examples where Autoconf fails to deliver what it promises: it doesn't provide a good separation of concerns and the GHC build system is full of version/platform-specific special cases. Below I show several examples from the make-based build system, which I had to migrate to Shake, each time wondering why this is not in Autoconf. Maybe because people don't want to touch

[2016-04-18 10:56] hvr commented on #215
On 2016-04-18 at 11:11:21 +0200, Andrey Mokhov wrote:

I wasn't fully accurate here; we don't need *all* transitive deps, only
those that the `.hs` files compiled to generate ghc-cabal needs to
import packages from directly... so we only need a subset of that
TRANSITIVE_DEP_NAMES variable...

that probably wouldn't be enough though, since ghc-cabal.cabal doesn't
list all packages we need to pass t

[2016-04-18 11:09] hvr commented on #227
Thanks for listing those concrete issues. I'll try to turn them moot by coming up with proper solutions/fixes in our existing Makefile system... :-)

This seems unfair, as you basically say that it's Autoconf fault if people choose to take shortcuts and thus violate the recommended practice you're supposed to follow when using Autoconf. It's like claiming that seatbelts do a poor job to protect pe

[2016-04-18 11:38] snowleopard commented on #227
But wait, **if** Autoconf is painful to use then it is indeed its fault. Note the **if**: I am not qualified to make such statements myself, but this seems to be the opinion of many. And we want many people to be able to change and maintain GHC build system, not only Autoconf gurus.

Beware, that may be a big undertaking.

You are basically saying that in order to be able to hack on GHC (e.g., int

[2016-04-18 11:40] hvr commented on #227
On 2016-04-18 at 11:36:57 +0200, Andrey Mokhov wrote:

[...]

| Shall we use `CFLAGS` a good point to start looking into specifics? When I look into `system.config` on my Windows machine I see:
| ```makefile
| conf-cc-args-stage0 = -std=gnu99 -fno-stack-protector
| ```
| How does this change across the feared multitude of compiler/platform combinations? Is the end result really that different to b

[2016-04-18 11:44] snowleopard commented on #215
i.e. not being able to rely on any .cabal files for generating
shakebuild

Could you clarify? We already parse `.cabal` files from Shake for extracting package dependencies, so we can build them in the right order, and this seems to work well. Am I missing a potential pitfall here?

[2016-04-18 11:44] snowleopard commented on #215
Indeed, that's very frustrating.

[2016-04-18 11:47] hvr commented on #227
@snowleopard btw, I may tend to agree that some *few* things may make sense to have version-based conditionals inside the shake-domain. Like e.g. things depending on GHCs version. But that's only because GHC is one of the few tools we control and therefore can trust its reported version (and what `ghc --info` tells us). So your example `-this-unit-id` is one I may agree with. But this doesn't prec

[2016-04-18 11:57] hvr commented on #215
you're assuming that shakebuild was already built :-)

[2016-04-18 12:06] snowleopard commented on #215
Hmm, I do, but why wouldn't it be built? :-) We build it with the bootstrapping GHC via plain `ghc --make`.

Are you saying that the bootstrapping Cabal library will not be able to parse `.cabal` files in the GHC source tree? That may indeed be the pitfall I'm missing, but that would lead to a runtime failure after Shake has been already built.

[2016-04-18 12:14] hvr commented on #215
You may want to notice that ghc-cabal only access the global package database, and in order to be able to use `ghc --make` we just make a monolithic source-tree via `-i`:

[code]

so we basically avoid the complexity of cabal package registration altogether, and build everything via a monolithic `ghc --make` invocation. Also, the GHC buildsystem is not allowed to install into or use things from th

[2016-04-18 12:23] snowleopard commented on #215
Sorry, I'm still lost :-)

We are using the Shake library installed on the system. Surely, we can also use the Cabal library?

Or are you saying Shake also needs to use the `-ilibraries/Cabal/Cabal` trick?

[2016-04-18 13:00] hvr commented on #215
that's actually a detail that needs to be formalised; this is a departure from the previous pre-reqs which didn't require any libs not already bundled with the bootstrapping GHC!

[2016-04-18 13:53] ndmitchell commented on #215
My personal opinion is that using the Shake library installed by the system is the right approach, and building the tool that builds GHC should be handled by Cabal or Stack. We have infrastructure for describing how to compile Haskell tools that respect versions ranges, no need to reinvent the wheel. I don't see any advantage from making GHC bundle Shake or pull in its own copy.

I think that conc

[2016-04-18 13:59] snowleopard commented on #215
Ah, so that's the source of confusion! This is actually 'formalised' in the `README`:

[code]

Same with me. Using the existing Cabal library seems to be a simpler approach, but may be limiting.

[2016-04-18 14:24] bgamari commented on #215
@ezyang, as one of the principle contributors to Cabal you might have an opinion here.

[2016-04-18 14:53] hvr commented on #215
this is a bad idea as ghcs sourcetree may contain cabal files needing a bleeding edge cabal parser

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-04-18 15:15] ndmitchell commented on #215
@hvr, makes sense, I guess that means ghc-shake should be required to use the in-tree Cabal.

[2016-04-18 20:05] ezyang commented on #215
Yes, the point of compiling Cabal first is we don't want to assume the user's Cabal is sufficiently recent.

[2016-04-18 21:58] Mathnerd314 commented on #227
Actually, I was trying to create a neutral summary; the problem is that, from what I can tell, nobody on the internet actually likes autoconf. Honestly, I was surprised. The arguments for autoconf were:
* It was quick to set up (but we are already rewriting the build system)
* It's used by lots of people (but autoconf usage is declining).
* Users are familiar with configure options (but:
  * GHC's

[2016-04-18 22:03] Ericson2314 commented on #215
We already depend on the previous GHC to be sufficiently recent, so what's the problem with depending the same for Cabal? Cabal files have a min version field, right? I think there is a dangerous assumption that bundling things somehow makes life easier, when the fact of the matter is the added complexity / deviation from the way most Haskell is built crates more problems than it solves.

I think

[2016-04-18 22:13] ezyang commented on #215
@Ericson2314 In general, GHC must be bootstrappable by the previous three versions. So there's a much larger window.

As an example, Cabal recently changed where the `cabal_macros.h` file gets generated for executables. This change only shows up in 1.25+. The previous three versions of GHC ship with 1.24, 1.22, etc. So if GHC's build system must be bootstrappable against each version of Cabal that

[2016-04-18 22:15] Ericson2314 commented on #215
There is no issue with installing a Cabal / cabal-install newer than the one that comes with the booting ghc, right?

[2016-04-18 22:26] ezyang commented on #215
No, that's fine. But sometimes GHC needs to track changes in an unreleased version of Cabal.

[2016-04-18 22:32] snowleopard commented on #215
The fact that the build system should be able to handle unreleased versions of the Cabal library means we have to use the in-tree Cabal. I'll create a separate issue to track this.

[2016-04-18 22:32] Ericson2314 commented on #215
Well, if and when that occurs, sure. A cabal config / stack.yaml / whatever can force the shake build system to be built with the bundled library. But I'd do my best not to keep that hanging around --- e.g. revert it as soon as a version of Cabal supporting the requisite features is released.

[2016-04-18 22:33] snowleopard commented on #215
@Ericson2314 We could probably make this into a setting... Not yet sure how, but maybe useful.

[2016-04-18 22:44] ezyang commented on #215
@Ericson2314 Well, that's not how the GHC/Cabal release process works at the moment. For most of the year, Cabal does not do any releases, and GHC occasionally updates its in-tree copy to a newer internal version so that we can shake out any incompatibilities in ghc-pkg and ghc-cabal. When release time comes around, Cabal finally starts cutting releases. (Actually, in the GHC 8.0 cycle, Cabal STIL

[2016-04-18 22:53] thoughtpolice commented on #227
Realistically, speaking purely from experience, autoconf is not a particularly massive maintenance burden on GHC, like Make has been. It sucks, but that's difference from being an active burden. autoconf is crufty and terrible, sure, but in practice the development burden has not been so absurd as to actively frighten people. Out of all the components in GHC, I actually don't classify it as any ki

[2016-04-18 23:21] snowleopard commented on #227
@thoughtpolice Your comment summarises my thoughts very well! I didn't mean to suggest we should do anything about Autoconf right now, but I wanted more experienced people to express their views on the prospect of _eventually_ getting rid of it. Surely I must finish this project first before putting my head into another black hole :-) But if anyone would like to give this crazy idea a try I'd be h

[2016-04-18 23:31] snowleopard opened #228 "Switch to in-tree Cabal library"
We currently use the Cabal library installed on the system for parsing `.cabal` files. As has been pointed out in #215, this is not a good idea, because we sometimes need features of unreleased versions of the Cabal library. Therefore we should switch to using the in-tree implementation, e.g. by compiling the build system with a flag like `-i../libraries/Cabal/Cabal`.

This seems to be not on the

[2016-04-19 04:14] ndmitchell commented on #228
What makes you think it might be trickier than -I? In what way?

[2016-04-19 07:11] hvr commented on #227
Just to give some perspective, here's the history of things currently touching the autoconf-code:

 - http://git.haskell.org/ghc.git/history/HEAD:/aclocal.m4
 - http://git.haskell.org/ghc.git/history/HEAD:/configure.ac

You may notice I'm looking for opportunities to refactor/cleanup/simplify the current Autoconf code to get rid of some technical-debt. Ironically, the work I'm doing to improve our

[2016-04-19 09:23] snowleopard commented on #228
I'm worried that the build system will be depending on a mix of bootstrapping packages (e.g., Shake) and GHC HEAD packages (Cabal and its dependencies). Will they play together nicely?

Also we may want to make this configurable and allow using the bootstrapping Cabal if it works -- this may be faster as it is already compiled.

[2016-04-19 09:36] snowleopard commented on #227
@hvr Just clicked on a random commit and I see this: http://git.haskell.org/ghc.git/commitdiff/75036aacb492886a7c65035127ee11fec11ee7ce?hp=c5d8162d230c373b2b49ec94d3f9a027ff6e2dd6.
[code]
Poor broken abstractions. And since the commit is *yours* I presume there was no way around it.

[2016-04-19 10:39] hvr commented on #227
@snowleopard if you check again you may notice that very hack was removed again, I wasn't proud of it myself either ;)

[2016-04-19 17:36] Ericson2314 commented on #215
I get that one needs to keep those things in sync, but that should only apply to the Cabal being used with the in-development version of GHC, not the Cabal being used to build that GHC, right?

[2016-04-19 18:40] ezyang commented on #215
Remember that GHC is staged. So the order goes something like this:

1. With the bootstrapping compiler and the bundled GHC, build `ghc-cabal`
2. Use `ghc-cabal` to preemptively register all of the boot libraries that GHC is going to be built with (by the bootstrapping compiler)
3. Build the stage 1 compiler

So, I guess (and this is just a guess, because I don't know too much about this part of t

[2016-04-19 19:43] hvr commented on #215
@ezyang it gets more complicated though with shake being linked against `Cabal`. Then we'd be limited to use  only features that are not available to shakebuilds' `Cabal`-version (unless we do staged builds of shakebuild itself...). This would be a heavy limitation compared to our current system where we can use the latest yet unreleased features of Cabal within GHC's source-tree.

[2016-04-19 21:06] Ericson2314 commented on #215
You're right, When that happens, staged builds of this or depending on the bundled Cabal is in order. But last I checked, absorbing ghc-cabal was put on hold, and I see no reason for either of those things until then.

[2016-04-20 14:55] snowleopard opened #229 "Linux Travis instance times out"
Not sure what happened but the full build now takes 2+ hours on Travis and is therefore terminated. It used to take around 1 hour previously. I had a brief look at build logs but couldn't figure out what has changed.

Any ideas?

[2016-04-20 19:01] ezyang commented on #215
Right, so all I know is how  GHC's build system is currently set up, I don't have very much knowledge about Shake. If indeed Shake does not do `ghc-cabal` (I wonder; how do you do cross package parallelism?) then maybe something else should be done.

[2016-04-20 19:10] Ericson2314 commented on #215
https://github.com/snowleopard/shaking-up-ghc/issues/18 is the relevant issue.

IMO linking Cabal directly and avoiding GHC cabal would be really slick to do in conjunction with getting Cabal to also use Shake. Then Cabal can naturally expose a monadic rule-creating-rule.

[2016-04-21 20:10] ndmitchell commented on #215
@Ericson2314 - while Cabal using Shake might be nice, I think if we tie all the pieces to that at once nothing might ever move forward.

@ezyang - currently the biggest issue is that `ghc-cabal` changes directory. That works if you are the only thing in the process, but if you want to run multithreaded that's a disaster. Cross-package parallelism is nothing difficult, because `ghc-cabal` installs

[2016-04-21 20:14] ndmitchell commented on #229
I released shake-0.15.6 yesterday. Can you try requesting `shake-0.15.5`?

Which GHC are you using to bootstrap? There's a known bug in GHC 8 which leads to hangs - see https://ghc.haskell.org/trac/ghc/ticket/11830. Turning off `-I0` seems to help.

[2016-04-21 20:14] ezyang commented on #215
@ndmitchell Yes, I've run into this problem and it's quite irritating. In fact, cabal-install goes out of its way to invoke Cabal the library out of process so that it can change directory. To make matters worse, refactoring Cabal to fix this problem would probably break most Custom scripts which assume that the current directory is the package directory. But maybe it can be done...

[2016-04-21 20:38] Ericson2314 commented on #215
@ndmitchell Well if #18 doesn't block this replacing the make system, that isn't so bad.

@ezyang isn't `setup-depends` supposed to offer an method for making breaking changes to Cabal?

[2016-04-21 22:29] snowleopard commented on #215
@ndmitchell Yes, indeed. Both `new build system` and `Shake(-based) build system` are unsatisfactory. Let's come up with a short name before merging into the GHC tree... something to discuss during the upcoming meeting in Cambridge? Perhaps with the aid of a pint? :-)

[2016-04-21 22:37] snowleopard commented on #229
@ndmitchell We are bootstrapping with `ghc-7.10.3`.

Great, I'll start migrating! But why do want me to request `shake-0.15.5`?

[2016-04-22 05:06] ndmitchell commented on #229
Depending on how things are setup you might have migrated automatically as soon as the new Shake arrived. And I'm suggesting it may have been the automatic migration that broke things.

[2016-04-22 08:22] ndmitchell commented on #229
Looking at it, the new Shake came out after the releases started timing out, so that's not the cause.

[2016-04-22 11:35] snowleopard commented on #229
Yes, I don't think the problem is with Shake.

I've added diagnostic `ghc-pkg list` to CI scripts so that we know exactly which package versions we pick up. It turns out we are still using `shake-0.15.5` on CI.

Shall we switch from `shake == 0.15.*` to `shake == 0.15.6` in the `.cabal` file? We'll then be able to use some nice new features of Shake.

[2016-04-22 11:41] snowleopard commented on #229
Just spotted: even compiling the build system takes a huge time on Linux Travis instance. The Mac OS X instance is much faster for some reason...

Command `./ghc/shake-build/build.sh selftest` currently takes `815.12s` (most time spent on compilation) on Linux and only `29.00s` on Mac OS X. Where does the 28x slow-down come from?

[2016-04-22 12:04] ndmitchell commented on #229
Perhaps https://github.com/travis-ci/travis-ci/issues/5623 is relevant - you are using Docker. I find that makes builds with GHC massively slower. Did you switch to Docker around that point? Anything else changed around the difference?

[2016-04-22 12:07] snowleopard commented on #229
Hmm, interesting. I didn't switch to Docker explicitly. But looking at the build logs, previously successful builds were running on Docker too. It still makes sense to try building with `sudo: true` to see what happens; I'll give it a try.

[2016-04-22 12:14] snowleopard commented on #229
Seems to be working -- selftest now took only `22.52s`!

Thanks @ndmitchell, I think you've solved the issue.

[2016-04-22 12:16] ndmitchell commented on #229
Can you put measurements on the travis-ci/travis-ci#5623 ticket. In the blog post the Travis people claimed "equivalent performance" plus lower startup times and access to a cache. The second are true, but the first seems demonstrably false (at least for GHC, which might be doing something funky).

[2016-04-22 12:18] snowleopard commented on #229
Sure, we'll do.

[2016-04-22 12:45] snowleopard commented on #229
Wow, the whole Linux build is now complete in 34 min 48 sec (in `quick` flavour). That's definitely a record.

[2016-04-22 12:45] #229 closed

[2016-04-22 13:43] snowleopard commented on #229
Thanks to this change we can now also fit full Mac OS X build in the time limit.

[2016-04-22 13:44] ndmitchell commented on #229
Woohoo!

[2016-04-22 23:16] ggreif opened #231 "Grammar in paper"
In your "Non-recursive make considered harmful" paper at bottom of p. 5:

"should depends on" ---> depend

[2016-04-22 23:49] snowleopard commented on #231
Thank you! :-)

Fixed now: https://github.com/ndmitchell/shake-paper/commit/9c968fc8ce9717bb85e396e851c647a9bcb72187.

Here is the paper's repo: https://github.com/ndmitchell/shake-paper.

[2016-04-22 23:49] #231 closed

[2016-04-25 23:18] snowleopard commented on #174
There hasn't been much activity here and it looks like the approach we were exploring got stuck anyway, so I'm inclined to close this issue for now. I will also remove the associated experimental code, as it often makes it more difficult for me to work with the build system. We can always bring it back if need be.

[2016-04-25 23:18] #174 closed

[2016-04-26 00:05] snowleopard commented on #223
I decided not to rename `ghc` to `hc` eventually. It is unlikely at this point that we will ever build GHC using any other Haskell compiler.

[2016-04-26 00:05] #223 closed

[2016-04-26 17:54] thoughtpolice opened #232 "Prepare ourselves for the Great Merge"
The time for us to go upstream is "Real Soon Now", to get more hands and eyes on the build system from people. Here was the basic plan I outlined via email, particularly for migrating the tickets:
1. Merge the code into 'master'
2. Create corresponding Trac bugs, for the existing GitHub issues. Don't bother copy/pasting the whole discussion; just give a one-sentence description, and link to the Gi

[2016-04-26 18:01] ndmitchell commented on #232
I must say I vastly prefer the GitHub workflow to the existing GHC approach. In many ways it will get more difficult to work with post merge. I somewhat wonder if just being a GHC submodule and remaining on GitHub is workable...

[2016-04-26 18:04] Ericson2314 commented on #232
If the repos are to be merged, may I suggest `git subtree` in order to preserve all history.

[2016-04-26 18:47] thoughtpolice commented on #232
I don't know what you mean: on the long or short term? Because GitHub and submodules are not happening in the long term, you're at best buying yourself some time here. But it has to be merged 'eventually' and I'd rather have it in the hands of developers who are going to have to use it every single day (presumably, for the rest of forever) in a way they're familiar with.

I should have clipped a f

[2016-04-26 18:52] thoughtpolice commented on #232
And FWIW, I mean "given the idea this is going to go upstream soon". When I said "Real Soon Now" it was a bit facetious - @snowleopard is obviously working hard and has been for a few weeks since I messaged him about this, hence the bug. I actually want to know what the tentative plans are, if Andrey has any plans for an ETA - you're more than free to stick around here for the near short term, but

[2016-04-26 19:04] thoughtpolice commented on #232
We've done this before for `base` (although not using `git subtree` directly) so this isn't out of the question. Personally, I consider anything outside master essentially ephemeral with all the caveats attached, so I don't really care very much (this is a hot button topic though that people feel very strongly about, so I'm surely not on any sort of clear winning side.)