[2015-03-28 13:09] angerman opened #1 "How to help/contribute?"
Is there a list somewhere with details what needs to be done?
Or where one I start, if I want to help contribute here?

[2015-03-28 13:23] snowleopard commented on #1
Hey Moritz! I've been interrupted in the middle of a big refactoring, and I believe it would be better to wait until a first version is complete and pushed to the GHC tree. Once that is done we will come up with a list of things that need to be done and it will be easier to contribute for everyone.

I hope to come back to the project next week and hopefully will have some updates in mid-April.

[2015-03-28 13:36] angerman commented on #1
Hey Andrey! Very much looking forward to it!

[2015-04-21 22:35] snowleopard commented on #1
A quick update: the next Shaking up GHC project meeting is scheduled on end of April. Hopefully, we'll have some news shortly after that.

[2015-05-02 13:51] snowleopard commented on #1
...and the result of the meeting: we decided to do another major refactoring, so a stable version is further delayed. On the bright side, we have a clearer picture of the final goal.

[2015-12-06 17:35] bgamari commented on #1
What is the status of this effort?

[2015-12-07 01:14] snowleopard commented on #1
The refactoring I mentioned in the previous comment is now complete and I can build most of GHC 7.11. There are still a few bits and pieces for which I rely on the old build system, so it is premature to put this into the GHC tree.

Progress has been slow in the last two months for personal reasons, but I hope to catch up over the Xmas break.

[2015-12-07 01:16] angerman commented on #1
Let me know when you have the list of items. I'm still inclined to help.

[2015-12-07 01:45] snowleopard commented on #1
Awesome, thanks! I'll be in touch.

[2015-12-07 11:04] bgamari commented on #1
Great news!

[2015-12-16 01:46] bgamari opened #3 "Parallel compilation appears to be broken"
Running with `-jN` where N > 1 results in failures of the form,
[code]
on Linux.

[2015-12-16 02:27] bgamari commented on #3
I suppose the issue is likely to do with the rules in `Rules.Dependencies` missing dependencies.

[2015-12-16 12:22] snowleopard commented on #3
Two issues seem to be mixed here:
1) I confirm that parallel build is currently broken. The reason is that I fail to track dependencies due to `-package-id` flags passed to GHC.
2) Dynamic libraries are not built at the moment: there are no rules at all for "*.so" files. I need to disable dynamic way on Linux to silent related errors (setting `userLibWays = remove [dynamic]` in `Settings/User.hs`

[2015-12-19 16:26] bgamari commented on #3
How do you envision these will be tracked? Parsing the package name out of the package ids and then looking up its targets?

[2015-12-19 20:32] snowleopard commented on #3
@bgamari That's correct. I've just fixed this issue. Will push the updates after a test build.

[2015-12-19 23:15] bgamari commented on #3
Brilliant! Looking forward to seeing the result.

[2015-12-20 04:31] snowleopard commented on #3
Done:
* This fixes missing dependencies: 361c3c2.
* This temporarily drops `profiling` and `dynamic` ways: f4fb52d.

Note, parallel build still sometimes fails on Windows due to a segfault in ghc (also mentioned here: https://ghc.haskell.org/trac/ghc/wiki/Building/Preparation/Windows), in which case a restart helps.

[2015-12-20 11:57] snowleopard opened #4 "Fix dynamic way"
Dynamic way is currently broken (another relevant issue: #3).

Most infrastructure is already there, but one needs to identify the missing bits, find the relevant parts in the the old build system, and translate them into the new build system.

Feel free to pick this up if you'd like to contribute.

[2015-12-20 12:00] snowleopard commented on #3
@bgamari I've opened a new issue regarding `dynamic` way: #4. Feel free to pick this up if you'd like to keep hacking on the new build system. This may be easier for you to fix, because I think you have a better understanding of how `dynamic` way works. Thank you!

[2015-12-20 12:00] #3 closed

[2015-12-20 12:16] bgamari commented on #3
Thanks @snowleopard! Indeed I think I'll take a stab at #4.

[2015-12-20 12:27] snowleopard commented on #3
@bgamari Awesome! Thanks again.

[2015-12-20 13:03] bgamari opened #5 "Can't build ghc-cabal"
The Shake build system is currently unable to build `inplace/bin/ghc-cabal` and therefore can't bootstrap a fresh source tree,
[code]

[2015-12-20 13:27] snowleopard commented on #5
Here is what is going on: I believe the Shake build system can build `utils/ghc-cabal/dist*/build/tmp/ghc-cabal`, but it just doesn't copy the resulting binary to `inplace/bin/ghc-cabal`.

At the moment this is a common issue for all program packages. I'll try to fix this today. I think it makes sense to place binaries directly to `inplace/bin` instead of building them in `[...]/build/tmp` first a

[2015-12-20 13:46] bgamari opened #6 "HsColour on GHC.Prim fails"
I just encountered this while building `master`,
[code]

[2015-12-20 14:05] bgamari opened #7 "Needs support for building dynamically-linked objects"
Currently the build system has no support for producing dynamically-linked libraries.

[2015-12-20 14:06] bgamari commented on #7
Oops, this is already covered by #4.

[2015-12-20 14:06] #7 closed

[2015-12-20 14:40] bgamari commented on #4
It looks like there are a few things that we might lack,

 * `rules/build-package.mk` has an conditional on `BuildSharedLibs` which seems to provide rules for building `.c` and `.s` files for the `dyn` way. However, the existing rule in `compilePackage` might already cover this.
 * `rules/build-package-way.mk` provides a rule that looks something like this on Windows,
[code]
and like this otherwis

[2015-12-20 15:26] snowleopard commented on #6
I tried to reproduce this on my Windows machine but `ghc-cabal hscolour libraries/ghc-prim dist-install` was successful, as well as all other invocations of `GhcCabalHsColour` builder.

I've pushed a small related fix to deal with absolute paths on Windows: 30d3d63. Currently `configure` sets the following path in `system.config`: `hscolour = /c/Users/[...]` which I replaced with `C:/Users/[...]`

[2015-12-20 15:37] bgamari commented on #6
I can say that `Prim.hs` certainly does not exist where I would have expected it,
[code]

[2015-12-20 15:56] bgamari opened #9 "iserv-bin configuration fails"
[code]
Still trying to work out why.

[2015-12-20 18:26] bgamari opened #10 "Need some way to verbosely show commands executed"
Currently there is no way to convince the build system to dump the full command-lines that it is executing. This is an extremely useful thing to be able to do when things go awry.

[2015-12-20 18:38] bgamari commented on #9
The reason here appears to be that `iserv` has no `Library` component and `ghc-cabal` only produces `inplace-pkg-config` for packages with library components.

[2015-12-20 18:45] snowleopard commented on #10
Done: f48da18.

Set `verboseCommands = return True` in `Settings/User.hs` to show all commands, or `verboseCommands = package ghcPrim` or `verboseCommands = builder GhcCabal` etc. to control the setting more accurately.

[2015-12-20 18:45] #10 closed

[2015-12-20 18:48] bgamari commented on #9
I think all of this stems from the fact that `Settings.isLibrary` is fragile at best. @snowleopard, shouldn't the nature of a package be declared explicitly?

[2015-12-20 18:55] snowleopard commented on #9
@bgamari Agreed. If you look into Package.hs, you'll see that I planned to add `pkgType :: PackageType` field to differentiate packages better. However it was not clear to me at that point which package types we want and whether types are mutually exclusive. Is this just `data PackageType = Program | Library`?

Any thoughts on this?

[2015-12-20 18:58] bgamari commented on #9
@snowleopard strictly speaking it's a bit of a false-dichotomy. A Cabal package consists of one or more components. These may either be Library components (of which there is at most one) or (one or more) Executable components.

[2015-12-20 18:58] bgamari commented on #10
Brilliant.

[2015-12-20 19:01] snowleopard commented on #6
Ah, that's true. I can now reproduce this. We need to add a dependency on `autogen/GHC/Prim.hs` (this file is generated by a rule in `Rules/Generate.hs`).

If you amend you pull request #8 I'll fix this using your partial solution (otherwise we'll have merge conflicts).

[2015-12-20 19:11] snowleopard commented on #9
@bgamari I see. It looks though that in the GHC build system every package can be considered either a `Library` (in which case we generate a bunch of object/library files) or a `Program` (in which case we generate an executable or several executables in case of `iserv`). Is this correct? If yes, we can stick to the current design but, perhaps, make defaultProgramPath depend on Way in addition to S

[2015-12-20 19:30] bgamari commented on #9
Yes, but I am wondering whether it might be worth doing it the right way from the start. Ultimately it doesn't seem that much harder and it seems ill-advised to have the build system's data model not match that of Cabal. Regardless, I've implemented the explicit approach in #8.

Hmm, at one point it was broken on Windows but Simon Marlow said he fixed it before merging it. Perhaps you need to pull

[2015-12-20 19:37] snowleopard commented on #6
Not sure why this got closed automatically when merging #8...

[2015-12-20 19:41] snowleopard commented on #9
Thanks for implementing `PackageType` etc! If you don't mind I'll rename `setPkgType` to `setType` for consistency with `setPath`.

Shall we consider this issue closed now? We'll come back to proper support of cabal packages at some point.

I'll try to get `iserv` working on my machine.

[2015-12-20 20:11] bgamari opened #12 "Rework `Package` to reflect structure of Cabal packages"
The `Package` type currently doesn't really reflect the actual structure of Cabal packages. In particular `PackageType` forces a package to be either a `Library` or a `Program` whereas Cabal packages may be both. This works now but may become problematic in the future. Moreover, this requires that one explicitly define the type of each package in the build system.

One alternative would involve te

[2015-12-20 20:12] bgamari commented on #9
I've opened #12 to track this potential refactoring. This can now be closed.

[2015-12-20 20:12] #9 closed

[2015-12-20 20:16] bgamari commented on #6
What is the status of this?

My impression was that 8e8cc53 is the correct solution here. `HsColour` depends upon the source. `Settings.getPackagesSources` should already handle the addition of `autogen/GHC/Prim.hs`.

[2015-12-20 20:45] snowleopard commented on #6
Sorry, full rebuild takes a huge time on my machine (I need to find out why).

I think you are right and 8e8cc53 should be enough but I'd like to double check before closing this.

[2015-12-20 20:59] snowleopard commented on #6
OK, I've tested this and I think we can close this now.

A minor relevant fix: 0c9d7d8.

[2015-12-20 21:00] #6 closed

[2015-12-21 03:58] snowleopard commented on #5
I've pushed the following fixes:
* Build some programs directly in `inplace/bin`: 663ad01.
* Bootstrap `ghc-cabal` via a fake `package-data.mk` file: c98eebc.

Please let me know if this works for you.

[2015-12-21 11:38] bgamari opened #14 "Bootstrapping clean tree fails with message complaining about missing haddock"
Currently fails with,
[code]
Perhaps this is fallout from fixing #5?

[2015-12-21 11:55] snowleopard opened #15 "Fix stage2"
At the moment the build system doesn't handle stage2 properly. No rules for stage2 are generated, in particular, `haddock` and `ghctags` are built in stage1 instead of stage2.

This is related to #14.

[2015-12-21 12:02] snowleopard commented on #14
This is because stage2 is not handled properly at the moment. I added a separate issue about this: #15.

I temporarily fixed this issue by building `haddock` and `ghtTags` in stage1: c720083.

[2015-12-21 12:19] bgamari opened #16 "hp2ps needs to depend upon ghcautoconf.h"
`hp2ps` apparently needs `includes/ghcautoconf.h` lest the following happens while generating dependencies,
[code]

[2015-12-21 12:28] snowleopard commented on #1
@angerman I've added a note on how to contribute: https://github.com/snowleopard/shaking-up-ghc#how-to-contribute.

The codebase is very turbulent at the moment but please go ahead and try it you like!

[2015-12-21 12:32] quchen commented on #1
@snowleopard are you on IRC or something? I'm always getting third-party information about this really nice project, and it's quite hard to ask about current bugs this way. (I'm struggling with the "no rule for Haddock" issue right now and have noone to talk to, for example.)

[2015-12-21 12:33] snowleopard commented on #16
Right. I believe there no build rules for `includes` yet. My understanding is that there are just a bunch of autogenerated files there, so the rules will go to `Rules/Generate.hs`.

As a temporary workaround you might ask `make` to build `includes` -- is this possible?

[2015-12-21 12:36] snowleopard commented on #16
I will have time to implement build rules for `includes` tonight.

@bgamari Please assign yourself to this issue if you'd like to hack on it earlier so we don't duplicate our efforts.

[2015-12-21 12:50] snowleopard commented on #1
@quchen Thanks! I'm glad people are interested in the project although I'm embarrassed by current state of the codebase. I'll be happy to chat in Skype (my handle is andrey.mokhov) at some point, but I won't have time today unfortunately. Feel free to get in touch by email: andrey.mokhov@gmail.com.

By the way, I believe I fixed the `haddock` issue -- see #14.

[2015-12-21 20:07] snowleopard opened #18 "Get rid of ghc-cabal and package-data.mk"
A large part of the build system is dedicated to dancing around `package-data.mk` files containing package-related data (such as package name, version, dependencies, etc.). These files are generated by `utils/ghc-cabal` program, which also needs to be built in a non-trivial way. See `Rules/Data.hs` and `Oracles/PackageData.hs` in particular.

Our long term plan is to eliminate this and get rid of

[2015-12-21 20:17] snowleopard commented on #14
I think we can close this issue. Feel free to reopen if the problem persists.

[2015-12-21 20:17] #14 closed

[2015-12-21 20:19] #5 closed

[2015-12-21 21:11] snowleopard opened #19 "Better naming convention for build directories"
The old build system used a variety of different names for build directories: `dist`, `dist-boot`, `dist-install`, `stage1`, etc.

Proposal: always use `stageN` as the build directory when using `stageN` compiler. This will simplify the build system considerably.

One potential inconvenience: in the old build system, `ghc-stage2` executable lived in `stage2` directory. Under this proposal `ghc-sta

[2015-12-21 21:12] snowleopard commented on #19
I'll give it a try today. Please shout if you have any concerns about this proposal.

[2015-12-21 22:31] hvr commented on #19
This sounds intriguing

...and where will `ghc-stage1` then be located? :-) (and what will be found in `/stage2` then?)

/cc @thomie

[2015-12-21 22:47] snowleopard commented on #19
Well, in `/stage0` :-) The bootstrapping compiler is referred to as `Ghc Stage0` in the new build system. Does this make sense?

Indeed! That's another bonus I didn't think about.

[2015-12-22 05:33] snowleopard commented on #19
I've implemented this and it works smoothly so far: 52ecf6c.

It's possible to rollback to the old naming convention without much difficulty if need be.

[2015-12-22 05:33] snowleopard commented on #15
Fixed here: 52ecf6c.

[2015-12-22 05:34] #15 closed

[2015-12-22 05:35] #19 closed

[2015-12-22 05:38] snowleopard opened #20 "Fix performance regression"
Zero build jumped from 6 seconds to 65 on my machine after I fixed these two issues: #15 and #19. Not sure what the reason is yet, but I suspect `findModuleFiles` in `Settings.hs`.

[2015-12-22 08:15] quchen opened #21 "Bad hsc2hs call"
I've been trying to build GHC HEAD with ghc-shake, but I keep running into this error:

[code]

It seems HSC is called with bad parameter; [I've pasted the full error on lpaste.](http://lpaste.net/147628)

[2015-12-22 10:40] snowleopard commented on #21
I can't reproduce on my machine, but I'm lagging behind GHC HEAD.

Template `template-hsc.h` is not a generated file and is included into `hsc2hs` package: see https://git.haskell.org/hsc2hs.git/tree for example.

[2015-12-22 10:46] snowleopard opened #22 "Build rts"
We can't build `rts` package yet.

It is a C-only package (similarly to `utils/hp2ps`) and the best approach seems to create a new package type for handling such packages without hacks like generated `package-data.mk` file (see `Rules/Data.hs`).

I'll give it a try.

[2015-12-22 11:40] quchen commented on #21
I can fix the error by adding

[code]

to hsc2hs' `Args`, so it seems the file isn't found in my environment. I then run into another error that may or may not be related:

[code]

I'll keep looking for a solution.

[2015-12-22 11:56] snowleopard commented on #20
The issue is actually in `Rules/Generate.hs` which runs expensive `findModuleFiles` too often.

[2015-12-22 12:02] snowleopard commented on #21
Not sure what's going on. Could it be related to the changes you made in your branch, particularly in `build.sh`? Maybe worth trying `snowleopard:master`.

[2015-12-23 06:20] snowleopard commented on #20
To improve performance I implemented caching for `findModuleFiles`, see `Oracles/ModuleFiles.hs` in cf825fe. Zero build time is back to 6 sec.

Further performance improvements are possible, I'll keep working on this.

[2015-12-23 06:36] angerman opened #23 "What needs to be done to drop `make inplace/bin/ghc-cabal`?"
The README.md lists
[code]
as need to be fixed. Can I tap into any existing knowledge why this step needed?
What would need to change to be able to build `ghc-cabal` with shake again?

[2015-12-23 06:39] angerman opened #24 "Add "On OS X" section to the README.md"
Currently sections of Linux and Windows are present.
A third one for OS X (maybe completely identical to linux),
as well as one for ghc with the llvm backend on OS X would be a good addition.

I will document my findings and extend the README.md, once I know what
the steps involved are.

[2015-12-23 07:05] angerman opened #26 "Add clang support"
build.sh for some reason fails to find clang.
[code]

[2015-12-23 08:38] quchen commented on #21
I'm now able to reproduce the error mentioned in my last comment across multiple machines (all Linux, Xubuntu >= 14.04). Strange!

[2015-12-23 08:38] #21 closed

[2015-12-23 08:44] quchen commented on #23
@angerman I think #18 is already about this.

[2015-12-23 09:15] quchen opened #27 "Building ghc-pkg: can't find stage0-built libs"
When running the build system, I get the error pasted below. It seems the libraries built by the stage-0 compiler cannot be found. Any pointers would be welcome!

Reproducible on Xubuntu 14.04 and 15.04, although I doubt the OS matters. Stage-0 is GHC 7.10.3.

[code]

[2015-12-23 11:20] angerman commented on #23
@quchen you are right. Thanks.

[2015-12-23 11:44] snowleopard commented on #23
Actually I believe I have fixed this already: we can now build `ghc-cabal`, see #5. Hence I believe we can remove the `make inplace/bin/ghc-cabal` step from the instructions now.

We still rely on `make` for building some important bits though, e.g. #22, so other similar steps may be needed there.

#18 is a longer term goal where we will get rid of `ghc-cabal` executable completely.

[2015-12-23 11:46] snowleopard commented on #23
I'll reopen the issue for someone to verify that `make inplace/bin/ghc-cabal` is not needed on Linux. I verified that it's not needed on Windows.

[2015-12-23 11:48] snowleopard commented on #24
@angerman Thank you. Can you assign this issue to yourself so that people can easily find unattended issues in the list?

[2015-12-23 11:52] snowleopard commented on #26
Right. So far I only worked with `gcc` compiler. Perhaps, it is worth raising a separate issue for adding `clang` support?

As a temporary workaround, can you force the build system to use `gcc` instead of `clang`?

[2015-12-23 11:56] snowleopard commented on #27
@quchen Can you check whether the libraries have actually been built already?

I suppose this flag `-optl-L/home/david/Coding/haskell/ghc/libraries/binary/stage0/build` tells GHC where to find the `libHSbinary-0.8.0.0.a` library file. On my Windows built the library is indeed there.

[2015-12-23 12:02] quchen commented on #27
@snowleopard that folder has contents, so *something* has been built. But there's no `.a` file there.

[code]

[2015-12-23 12:10] angerman commented on #24
Now, this is going to sound stupid, but how do I asking the ticket to myself? It's all grayed out on the right.

[2015-12-23 12:10] angerman commented on #26
Ohh. So we won't be able to build with llvm anyway? Good to know. Do you have any initial pointers for where to start implementing `clang` support?

[2015-12-23 12:16] snowleopard commented on #27
If you look into `Rules/Program.hs`, you'll see this line responsible for building all dependencies (such as `lib*.a` libraries) before a program such as `ghc-pkg` is built:
[code]
You can add the following debug command to check which libraries were supposed to be built:
[code]
Maybe this will help to understand what is going on.

[2015-12-23 12:25] snowleopard commented on #26
It may be not too difficult to add a proper support for `clang`, so feel free to give it a try. It is a nice task which should not interact badly with other parts of the build system.

If you create a new issue for this we can try to go through all the necessary fixes together. For example, the first one is that the build system doesn't know where `clang` lives to verify that it exists and it does

[2015-12-23 12:34] snowleopard commented on #24
OK, apparently only collaborators can be assigned to an issue. I've added you to the list and assigned this issue to you.

Please keep using pull requests (don't push to this branch to avoid confusion).

[2015-12-23 13:46] bgamari commented on #23
Indeed this works for me.

[2015-12-23 13:46] #23 closed

[2015-12-23 13:47] bgamari commented on #27
@snowleopard this produces, ```Libraries built: []``` for me.

[2015-12-23 13:48] quchen commented on #27
Same thing for me.

[2015-12-23 14:05] snowleopard commented on #27
OK, thanks. I'll have a look at this tonight.
On 23 Dec 2015 13:48, "David Luposchainsky" <notifications@github.com>
wrote:

[2015-12-23 22:14] snowleopard opened #30 "Split objects and a lurking bug"
I came across a bug, which is difficult to trigger and which manifests itself in a very mysterious way. It costed me two hours of debugging to catch.

When `ghc` is compiling a `file.hs` it produces the object `file.o` and ~~**after that**~~ multiple smaller objects placed in directory `file_o_split` (when executed with flag `-split-objs`). If `ghc` is terminated during the creation of split objec

[2015-12-23 22:30] ndmitchell commented on #30
It is possible for the build system to kill it after encountering a problem elsewhere. However, none of this should be problematic. Shake (unlike Make) considers an operation to be complete after the files have been produced _and Shake updates its database to mark the run successful_. So if `ghc` segfaults, or aborts strangely with a non-zero exit, there will be an exception, and Shake won't recor

[2015-12-23 22:46] snowleopard commented on #30
Thanks Neil, I see. Then the only explanation I have is that it may indeed be a GHC bug.

I also noticed the following behaviour which may be relevant. Sometimes the build system terminates with the following error:
[code]
And I can see a `ghc-stage1.exe` process running in the system. Since I never run it myself it can only be started during a build, which means Shake didn't or couldn't terminate

[2015-12-23 22:51] ndmitchell commented on #30
Failing to terminate nested processes, especially on Windows, is not unexpected or surprising. My code to terminate running processes mostly consists of "whack it, whack it a bit more, give up" - and there are lots of circumstances (GHC 7.2 compiled binaries with FFI, Cygwin shell scripts) which cause it to have to give up. See https://github.com/ndmitchell/shake/blob/master/src/General/Process.hs

[2015-12-23 22:55] snowleopard commented on #30
Ah, actually, I realised why we can have a stray `ghc-stage1.exe` process: I sometimes kill the Shake process myself (sorry about that Neil!). So the above is probably unrelated to this issue.

[2015-12-23 22:58] snowleopard commented on #30
Aha, so it is not necessarily my fault.

By the way, is there a nice way to tell Shake to stop? Ctrl-C doesn't seem to work nicely as other processes keep running (this is especially annoying when a long `configure` script is running and I want to restart the build).

[2015-12-23 23:14] ndmitchell commented on #30
I think there are some Ctrl C bugs in Shake, see https://github.com/ndmitchell/shake/issues/169. At work we always spawn it through Cygwin, which itself has Ctrl C bugs (often the terminal becomes unresponsive), so tracking this down hasn't been a priority.

[2015-12-24 01:35] snowleopard commented on #27
For the record, when I run it on Windows I get the following output:
[code]
This is correct, since `terminfo` is not built on Windows.

[2015-12-24 01:45] snowleopard opened #31 "When a program is rebuilt all dependent rules are rerun, even if the program's binary is unchanged"
When a program, such as `ghc-pkg` is rebuilt, we have to rerun all rules that depend on it, even if the program's resulting binary is not changed.

We need to implement something like Shake's `writeFileChanged` in order to suppress unnecessary rebuilds. Pragmatically, we can rely on a simple heuristic to check binaries for equality, e.g. comparing file sizes. Incidentally, is this the purpose of `

[2015-12-24 01:53] #1 closed

[2015-12-24 02:35] snowleopard commented on #27
I've inspected the code and I don't see how the bug could be triggered. This must be something platform specific, beyond just the `windowsHost` condition being set to `False`.

Could one of you run the following please?

[code]

[2015-12-24 03:46] snowleopard commented on #18
Another example of accessing the information stored in `*.cabal` files directly: cf825fe

[2015-12-24 04:39] snowleopard commented on #20
Further work on this issue: 013fa90. `Oracles/ModuleFiles.hs` got a lot simpler, and average zero build time is down to 5 sec. There is further room for improvement (some parts of the source tree are scanned twice).

[2015-12-24 08:09] angerman opened #32 "How to correctly reset?"
What are the expected commands to run to end up with a completely clean state, to start from? Or should one reclone the repositories every time?

Running the following, seems like a pretty excessive way to arrive at the initial state.
[code]

[2015-12-24 08:37] quchen commented on #32
This is indeed missing a `clean` target. @snowleopard Why do we modify the GHC source tree at all, instead of building everything in a _build directory? I think it would be a great benefit to be able to `clean` the GHC source tree by simply deleting a single directory. No clutter, no accidentially left-over files, and it would be clear where to look for things if you need some `.o` file.

[2015-12-24 09:43] angerman commented on #32
@quchen :+1: for using `_build`

[2015-12-24 10:45] bgamari commented on #27
I see,
[code]
It appears that the issue is that `TRANSITIVE_DEP_NAMES` is no longer produced by `ghc-cabal`. It seems that the matter of moving away from `ghc-cabal` is becoming more pressing by the day.

[2015-12-24 11:06] bgamari opened #33 "Simplify import conventions"
Currently the codebase has many modules re-exporting other modules. Not only does this make it difficult for the developer to know the "proper" way to import a given definition, but it makes import cycles almost inevitable due to the more dense module dependency graph.

[2015-12-24 11:17] quchen commented on #33
A **very** big +1 to that.

[2015-12-24 11:51] snowleopard commented on #27
@bgamari Is there a way to bring back `TRANSITIVE_DEP_NAMES`? Getting rid of `ghc-cabal` is a big task and we probably don't want to have it on the critical path.

By the way, it may be possible to use `DepNames` instead of `TransitiveDepNames`, however, if I remember correctly this is not accurate. (Logically, `DepNames` should do fine, but I remember having problems when using it.)

[2015-12-24 11:56] snowleopard commented on #33
Sigh.

I agree. I tried to minimise the import clutter at some point, but it just made things more complicated.

So, is this proposal to get rid of re-exports completely or only partially?

[2015-12-24 12:18] bgamari commented on #33
I would say that re-exports should be limited to "children" of the re-exporting module. E.g. `Oracles` can re-export definitions from `Oracles.*`, but nothing else (without careful consideration, that is).

[2015-12-24 12:29] snowleopard commented on #32
We are currently modifying the GHC tree, because we partially depend on the results produced by the old build system. It was much easier for me to start working on the project and experiment with the overall design by taking care of some easy parts, instead of doing things completely from scratch.

I agree that putting everything in a single directory would be great. I would propose to use `.build

[2015-12-24 12:32] snowleopard commented on #33
@bgamari OK, this sounds reasonable. Would you like to give it a try?

[2015-12-24 12:38] bgamari commented on #33
Sure.

[2015-12-24 12:40] bgamari commented on #27
Done. See 3017cbcfd10fe0a364cc8b039c07a94c3b9e61cc.

[2015-12-24 12:43] bgamari opened #35 "hsc2hs broken"
I'm seeing this,
[code]

I'm not sure where the default `template-hsc.h` is supposed to be in the case of the Shake build system, but in the case of the old build system it was in `inplace/lib/template-hsc.h` IIRC, which I can confirm exists in my tree.

[2015-12-24 12:47] snowleopard commented on #27
Great!
@quchen, @bgamari Let me know if you have any other problems with stage0 libs. If not we'll close this issue.

[2015-12-24 12:56] snowleopard commented on #35
I see two identical `template-hsc.h` files in my GHC tree: `inplace/lib/template-hsc.h` and `utils/hsc2hs/template-hsc.h`.

@bgamari Can you try to copy the file to `utils/hsc2hs`? If this solves the problem I'll see how to add the corresponding rule.

[2015-12-24 13:17] bgamari commented on #35
Andrey Mokhov <notifications@github.com> writes:

As far as I understand the latter file is the source file which is
copied to the former location during installation. I have both files.

[2015-12-24 13:22] bgamari commented on #32
I agree that moving build artifacts in `.build` is ultimately the right thing to do.

However, I also agree that we have a ways to go before we can completely break free of the `make` build system. Let's keep this on the back burner until we can reliably do full builds.

[2015-12-24 14:21] snowleopard commented on #35
Can you ask `make` to build `libraries/hpc/stage0/build/libraries/hpc/Trace/Hpc/Reflect.hs`? I presume it will succeed. Then dump the corresponding command line here and we'll try to figure out the difference.

[2015-12-25 04:50] angerman commented on #32
My reasoning for being able to reset everything to the initial state is my distrust of build (esp. make) systems. Usually one expects a build system to properly rebuild everything that needs to be on changes in the source tree, if this does not properly work, one has to resort to rebuild everything, hence a way to get back to a clean state (removing all build products) to start over building again

[2015-12-25 04:51] angerman commented on #27
I've run into this issue as well. I'll give this a try on OS X as well, or has anyone else already?
Btw. who's testing on which platforms?

[2015-12-25 04:57] angerman commented on #26
A temporary work around is explicitly setting the `gcc` path with
[code]
On Mac `WhatGccIsCalled` end's up being `clang`, with no path.

[2015-12-25 05:04] angerman opened #37 "Prerequisites and cabal sandbox"
The addition of the cabal sandbox section has dropped the prerequisite sections, was this on purpose or an oversight?

@quchen should the cabal sandbox build, install `alex` and `shake` as well?

[2015-12-25 05:11] angerman commented on #27
Can confirm this works on OS X as well. Now I'm at the same point where @bgamari opened #35.

[2015-12-25 05:14] angerman commented on #35
Trying to build `Hpc` with make wasn't successful.
[code]

[2015-12-25 09:21] quchen commented on #37
The .cabal lists Shake as a dependency. I didn't even know it also came with an executable! I'm not sure what the latter would be useful for in terms of this project.

I've removed the section because I thought it was unhelpful in its current form, not because I think it's not useful in general. [See my comment here.](https://github.com/snowleopard/shaking-up-ghc/pull/28#issuecomment-167063357)

I

[2015-12-25 09:25] quchen commented on #32
@angerman, if you haven't heard of `lndir` yet: there's a really nice script in the `util`s that allows you to recursively link an entire directory tree. You `lndir ghc`, and build inside the clone; when you delete the clone, you've got a completely untouched GHC again. And the nice thing is that if you edit the clone tree, you edit the links, hence the original sources - so you can work on GHC ju

[2015-12-25 09:32] quchen commented on #31
We have to re-check all dependencies once a binary's dependencies change. Why is this a problem? I think we should very much stay away from pragmatic solutions (which just means "wrong and broken" to me) like comparing file sizes.

[2015-12-25 10:20] angerman commented on #37
I see. I completely missed that comment. I would still like to have
an exhaustive list of prerequisites, until we have a script that checks
for them. What would you consider essential?

[2015-12-25 10:21] angerman commented on #37
So given a completely blank starting point, what would one need to initiate the first build?

[2015-12-25 10:23] angerman commented on #32
@quchen indeed, I have not! Thanks for pointing out `lndir`.

Should we then include `lndir` and
[code]
as steps to reset to the README?

If we agree on this being useful (I would), I would go ahead and draft a README.md PR to discuss this further.

[2015-12-25 10:25] angerman commented on #35
After some more digging, and running `make`, I found the following:

running make yields:
[code]

and the contents of `inplace/bin/hsc2hs` is
[code]
with
[code]
on my system.

The shake build system produces the binary only, but not the wrapper script. This is what I consider to be the root case.

[2015-12-25 10:32] quchen commented on #32
`lndir` is an optional part of using the build system, but mentioning it would probably be useful. (I wonder how many other things in utils/ that I've never heard of are useful as well.)

[2015-12-25 10:34] quchen commented on #37
@angerman The GHC building guide talks about this: https://ghc.haskell.org/trac/ghc/wiki/Building/Preparation

[2015-12-25 11:43] snowleopard commented on #26
Looks good! This could eventually be added to `configure.ac`, the section responsible for the new build system.

Any other `clang`-specific issues?

[2015-12-25 11:48] snowleopard commented on #27
Thanks @angerman.

I'm testing on Windows, @bgamari & @quchen on Linux, and you on OS X. I think.

[2015-12-25 11:50] snowleopard commented on #27
I'll close this for now.

If anyone comes across this issue again, the solution is to update to the latest `ghc-cabal` version which provides the `TRANSITIVE_DEP_NAMES` fields.

[2015-12-25 11:50] #27 closed

[2015-12-25 11:58] snowleopard commented on #31
@quchen I agree that comparing file sizes is fragile.

What if we do an honest comparison of the old binary with the new one? Would you still want to re-run an identical binary? If yes, why?

I think the fewer unnecessary rebuilds we do, the better.

[2015-12-25 12:08] snowleopard commented on #32
I think it is good to add a short section on how to reset the build. Something like this?

Resetting the build
-------------------------
To reset the new build system delete the `shake-build/.db` directory which stores the Shake database. This will force Shake to rerun all rules, even if the results of the previous build are still in the GHC tree. This is a temporary solution; we are working on a

[2015-12-25 12:15] snowleopard commented on #37
So, the exhaustive list of prerequisites is something like this: *Everything listed in `shaking-up-ghc.cabal` and whatever else the GHC building guide mentions*. Is that correct?

[2015-12-25 12:22] snowleopard commented on #35
Aha! This seems be the the reason indeed. Many thanks for digging this out.

There is a wrapper file `hsc2hs.wrapper` in `utils/hsc2hs` which I didn't notice. Somehow, on Windows it appears to be not needed (the resulting `hsc2hs` binary works fine for me). We need to find out what the old build system did with the wrapper and reproduce this in the new one.

[2015-12-25 12:24] snowleopard commented on #35
I think I'm not the best person to tackle this since I can't test the result. @angerman, would you like to give it a try?

[2015-12-25 12:25] #20 closed

[2015-12-25 13:43] angerman commented on #35
I guess the key steps are:
[code]

which comes from `rules/shell-wrapper.mk`. If I remember correctly, there are multiple of these wrapper files in the tree. @bgamari probably knows more about that.

I guess we would have to translate that shell wrapper rule somehow.  Then again, that looks like it hardcodes quite some data into wrapper scripts.  Should we in a first step try to come up with a she

[2015-12-25 13:48] angerman commented on #16
Any updates on this? This is the very first thing that halts the build.

I think this is the relevant section from `includes/ghc.mk`
[code]

[2015-12-25 13:50] angerman commented on #37
That sounds like it should get someone completely new to the project get started. :+1:

[2015-12-25 13:51] angerman commented on #26
So far, nothing other than what is already reported as bug. I'll try to put that in a PR with a note tomorrow.

[2015-12-25 14:01] angerman commented on #32
@snowleopard sounds good to me :+1:

I need to get a little more acquainted with `lndir`, and would add a second paragraph regarding `lndir` and resetting the artifacts in the build tree as well. As long as we are running `make` and `shake` in parallel, that would probably be useful as well.

[2015-12-25 14:15] snowleopard commented on #32
Done: https://github.com/snowleopard/shaking-up-ghc/blob/master/README.md#resetting-the-build

@angerman Yes, please add a paragraph about `lndir` too.

[2015-12-25 14:24] snowleopard commented on #16
I think we will have to implement all `includes` rules for things to work well, not just for `includes/ghcautoconf.h`.

Is it possible to ask `make` to build everything in `includes` as a temporary solution?

[2015-12-25 14:33] snowleopard commented on #26
I have a feeling we will have more issues with `clang`, because `clang` and `gcc` might want different flags.

We should probably rename `Gcc` builder to `CCompiler` and then have a way to determine which compiler we use in order to generate appropriate flags in `Settings/Builder/Gcc.hs` (also to be renamed to `Settings/Builder/CCompiler.hs`).

[2015-12-25 14:36] angerman commented on #26
I'm certain we will. Yet `clang` tries hard to be a substitute for `gcc`.
On OS X, `/usr/bin/gcc` is the following:
[code]

[2015-12-25 14:45] angerman commented on #16
I wasn't able to only generate the `.h` files. running make in the `includes` folder or even only on `includes/ghcautoconf.h` builds a lot, and doesn't stop when `ghcautoconf.h` is generated. Maybe someone else can help us out here? And if so, that should be added to the `README.md`.

[2015-12-25 15:04] angerman opened #38 "No support for `wrapper`"
We do not handle wrapper scripts at all so far. This I presume is the reason for #35 and maybe #27 as well?

How is this wrapping handled on Windows?

[2015-12-25 15:33] snowleopard commented on #16
We will be coming across multiple similar issues due to missing bit and pieces in the new build system.

I think we should add `make` step in `README.md` -- this will create a full working build and we will then be running the new build system on top of it. That is what I do, as I already mentioned in #32.

[2015-12-25 15:34] snowleopard opened #39 "Implement build rules for `includes`"
See #16.

The following files need to be generated:
* ~~`includes/ghcautoconf.h`~~ Done: 6b7b9cc.
* ~~`includes/ghcplatform.h`~~ Done: 8c32f2c.
* `includes/ghcversion.h`: WIP @angerman.
* ~~`includes/dist-derivedconstants/header/DerivedConstants.h`~~ Done: c6cfb36.
* ~~`includes/dist-derivedconstants/header/GHCConstantsHaskellType.hs`~~ Done: c6cfb36.
* ~~`includes/dist-derivedconstants/header/pla

[2015-12-25 15:36] snowleopard commented on #16
I created a separate issue for implementing build rules for `includes`: #39.

In the meanwhile, I don't see a better way than to work on top of `make` build.

[2015-12-25 15:41] snowleopard commented on #38
It is a mystery for me why everything works on Windows without wrappers.

Can we get rid of wrappers? They seem to be just an unnecessary layer for massaging argument lists passed to a builder like `hsc2hs`. We can certainly achieve that in the new build system without any wrappers.

[2015-12-25 15:42] snowleopard commented on #35
@angerman What if you simply pass these flags to `hsc2hs`?
[code]
The right file to change is `Settings/Builders/Hsc2Hs.hs`.

[2015-12-25 15:48] #32 closed

[2015-12-25 22:23] quchen commented on #32
Doesn't the `-B` flag trigger a full rebuild as well? No need to lose the entire Shake database (which contains timing information, for example)

[2015-12-25 22:25] quchen commented on #31
How do we know the new binary will be the same as the old if we don't rebuild it? :-s

[2015-12-25 22:42] snowleopard commented on #31
We do have to rebuild it, of course! If the new binary is different we dump the old one and rebuild all dependencies.

However, if the new binary is the same, I propose not to rerun all dependent rules. This can sometimes save significant time.

Shake has a similar primitive, called `writeFileChanged`, which we use in the build system for text files. We might be able to use it for binary files too

[2015-12-25 22:44] snowleopard commented on #32
Hmm, indeed, `-B` seems to work! I never came across it for some reason.

Thanks @quchen, I'll update `README`.

[2015-12-25 22:55] quchen commented on #31
Oh, you mean we build a new executable in a temporary location, and then overwrite the old executable conditionally, so that it won't be touched if nothing needs to be done? Sounds hacky, I'm not convinced. Shake compares files by modification time by default, I think - could we switch it to `ChangeModtimeAndDigest` to check modification time, and then if necessary digest ("contents"), to trigger

[2015-12-25 23:08] snowleopard commented on #31
Yes, I agree. I'm not convinced either.

Sounds promising! I'll have a look at this approach once more critical issues are out of the way.

[2015-12-26 00:27] snowleopard commented on #39
As the first step I improved the infrastructure we have for generated files: now generators live in directory `Rules/Generators/` and we track changes in them. The relevant commit: 8c3022d.

[2015-12-26 02:42] angerman commented on #38
Maybe @bgamari or @quchen can shed some light on the old build systems need for wrappers, might know who would know?

[2015-12-26 03:03] snowleopard commented on #16
I've implemented a generator for `includes/ghcautoconf.h`: 6b7b9cc.

[2015-12-26 03:04] #16 closed

[2015-12-26 03:06] snowleopard commented on #39
We can now generate `includes/ghcautoconf.h` :6b7b9cc.

[2015-12-26 03:07] angerman commented on #39
Going to give this a try shortly.

[2015-12-26 03:19] angerman commented on #39
Now we are missing `includes/ghcplatform.h" :-)

[2015-12-26 03:26] angerman opened #40 "Use Gitter?"
Should we add a semi-realtime medium? I know that begriffs/postgrest uses Gitter. (https://gitter.im)

[2015-12-26 03:43] snowleopard commented on #39
@angerman Done :-) See 8c32f2c.

That's probably enough for today. The next one is `includes/ghcversion.h`. I'll work on it tomorrow unless anyone picks it up earlier.

[2015-12-26 03:44] angerman commented on #39
Ha, I was just going to give this a try. Well done! I’ll see if I can get `includes/ghcversion.h` then :D

[2015-12-26 03:46] snowleopard commented on #39
@angerman Thanks! All infrastructure is in place, so this should be fairly straightforward, but a bit tedious.

[2015-12-26 03:47] snowleopard commented on #40
Good idea, I'll give it a try once I have some non-interrupted coding time.

[2015-12-26 04:02] angerman commented on #40
I just gave this a try, it generated #41

[2015-12-26 04:24] angerman opened #42 "inplace/bin/hp2ps needs libraries/bootstrapping.conf"
[code]

This is generated as `ghc-pkg init libraries/bootstrapping.conf` (cf. ghc.mk:757)

[2015-12-26 04:30] angerman commented on #35
@snowleopard that does not work, as we still need to resolve $topdir. I'll try to figure out how to do that properly.

[2015-12-26 04:30] angerman commented on #35
Effectively it's `"$$(TOP)/$$(INPLACE_TOPDIR)"`.

[2015-12-26 08:48] angerman commented on #35
`TOP` is usually the ghc dir (all the `.mk` file define TOP as "..", or "../.." or "../../..")
[code]

`$topdir` is hence: `include/lib` in the ghc folder.

[2015-12-26 09:05] quchen commented on #40
What's the advantage over IRC? That's where everyone I know is, it's non-centralized and non-owned by someone. UI isn't as fancy, but other than that?

[2015-12-26 09:09] angerman commented on #40
@quchen not much. It *does* give trivial history though, and some github activity on the side. You brought up IRC in #1 already; which didn't gain any traction. As begriffs/postgrest used gitter, I just wanted to leave this here. It's up of course up for debate.

[2015-12-26 09:12] quchen opened #43 "Add CI"
Once we reach a half-decent state of stability, we should add continuous integration. This would provide us with a "standard" build that other builds can be compared to. Right now, we've got loosely coupled Windows, OSX, and Linux builds, and everyone is a little bit in his own bubble. Travis seems like the standard solution.

[2015-12-26 09:31] angerman opened #44 "inplace/lib/template-hsc.h not created"
This is just a copy of `utils/hsc2hs/template-hsc.h`. See #35

[2015-12-26 09:34] angerman opened #45 "On inplace/lib/bin vs. inplace/bin"
`make` puts utilities in `inplace/lib/bin`, while the current shake build system puts them in `inplace/bin`, which I think is the saner solution, found this while trying to fix #35.
This is also relevant to #44, in that we might place `template-hsc.h` into `inplace` as well?

[2015-12-26 09:38] bgamari commented on #40
For what it's worth I am generally always on IRC but try to avoid Gitter. The latter's notification mechanism leaves much to be desired.

[2015-12-26 09:45] angerman commented on #40
I'm fine with either. @snowleopard can we get you onto irc as well?

[2015-12-26 09:47] angerman opened #47 "Can not build Config.hs"
Currently stuck at:
[code]

[2015-12-26 09:53] bgamari commented on #38
I would guess that the wrappers are necessary as we dynamically link on platforms other than Windows, meaning that we must set `LD_LIBRARY_PATH` to ensure that the dynamic linker can find the needed dynamic libraries.

[2015-12-26 09:59] angerman opened #48 "hp2ps depends on "ghcautoconf.h" and "ghcplatform.h", but does not yet need it."
[code]

and after `./shake-build/build.sh includes/ghcautoconf.h`

[code]

[2015-12-26 10:11] angerman commented on #32
I've just played with `lndir`. Like so:
[code]
This however brought up an issue when trying to locale `inplace/lib/template-hsc.h`, which shake expected in `ghc`, even though `shake` was run from `ghc+`.

[2015-12-26 10:23] angerman commented on #38
There seem to be the following wrapper scripts only in the ghc tree:
[code]

I guess it boils down to figuring out if the build system initiates all invocations, or if other programs invoke the wrapped programs in question. If it's only the former case, shake could take care of providing the `LD_LIBRARY_PATH`, in the latter, we'll need them anyway.

[2015-12-26 11:50] #35 closed

[2015-12-26 11:59] snowleopard commented on #44
This is easy to implement, but do we really need two identical files in the build system?

[2015-12-26 12:07] snowleopard commented on #43
Completely agree! I've never used Travis, so it'll take me some time to work it out. I'll appreciate any help with this.

[2015-12-26 12:21] snowleopard commented on #38
There is `rules/shell-wrapper.mk` which does a lot of things that can be moved to the new build system.

It also manipulates `LD_LIBRARY_PATH`, with help from `rules/library-path.mk`, but it seems strange that we can't deal with this without wrappers.

[2015-12-26 12:23] snowleopard commented on #45
My first guess would be to put binaries into `bin` and header files into `include`. Isn't that a standard approach?

[2015-12-26 13:04] bgamari commented on #38
Keep in mind that you want to retain the ability to call these utilities outside of the build system. One way to accomplish this is to link executables with `-rpath` however I believe there may be portability issues here.

[2015-12-26 13:13] snowleopard commented on #38
@bgamari Yes, I see. We can at least minimise the amount of stuff that goes into wrappers. If we keep them only for passing `LD_LIBRARY_PATH` then they will be a lot easier to understand, maintain, and potentially remove.

I guess this issue is a prerequisite for #4.

[2015-12-26 14:08] angerman commented on #40
Alright. We are on irc. irc://chat.freenode.net/shaking-up-ghc :100:

[2015-12-26 14:08] #40 closed

[2015-12-26 14:23] snowleopard commented on #47
Ah. Seems to be my fault. I'll fix this.

[2015-12-26 14:45] snowleopard commented on #47
Done: 44d81b0.

[2015-12-26 14:45] #47 closed

[2015-12-26 14:50] angerman opened #53 "Parser.hs crashes due to broken #include in DynFlags.hs"
[code]

[2015-12-26 14:51] angerman opened #54 "Cleanup doc folder"
The doc folder contains a seemingly (to me only?) random collection of files, that are a bit hard to get the hang of without a README.md in that folder.

[2015-12-26 15:00] angerman opened #55 "Improve haddock coverage of the project"
I'm lost from time to time in the source, trying to figure out how the parts belong together.  I guess adding more extensive documentation to the functions would help with this in a big way.

[2015-12-26 15:03] angerman opened #56 "Add high level overview on how the system works / is supposed to work"
Similar to #55.  Getting an idea how all the parts fit together would help with new people getting into the project.  I don't yet see myself qualified to document the system but, I think we should try to produce some high quality documentation. Maybe this can be done as part of #55 and have it live in the haddocks?

[2015-12-26 15:05] snowleopard commented on #54
True. I guess I can remove them from the repository and keep them locally on my machine. Will do that.

[2015-12-26 15:18] snowleopard commented on #39
Another file to generate: `includes/dist-derivedconstants/header/GHCConstantsHaskellExports.hs` (#53).

[2015-12-26 15:19] snowleopard commented on #53
Let's just add all issues related to `includes` directly to #39. No need to micromanage with multiple issues I guess.

[2015-12-26 15:19] #53 closed

[2015-12-26 15:23] #54 closed

[2015-12-26 15:28] angerman commented on #24
I think this has been fixed already.

[2015-12-26 15:28] #24 closed

[2015-12-26 15:31] angerman commented on #39
Wouldn't that live in `compiler/includes/dist-derivedconstants/header/GHCConstantsHaskellExports.hs`?

[2015-12-26 15:55] snowleopard commented on #39
@angerman I don't see any `includes` directory in `compiler`.

I think we are talking about `includes/dist-derivedconstants/header/GHCConstantsHaskellExports.hs`.

[2015-12-26 16:50] snowleopard commented on #42
I'll give this a try.

[2015-12-26 16:57] snowleopard commented on #55
More documentation would be great. However, bear in mind that the codebase is still unstable and large refactorings, such as #18, are coming.

[2015-12-26 16:59] snowleopard commented on #56
Yes, this is certainly for me to write. I will get on to it as soon as I can.

[2015-12-26 18:31] #44 closed

[2015-12-26 18:32] snowleopard commented on #44
I've implemented the build rule: 6863e5e.

It's still unclear whether a single `template-hsc.h` file could be used instead. This might have something to do with the fact that we want to be able to run `hsc2hs` outside the build system.

[2015-12-26 19:04] snowleopard commented on #48
I have a bad feeling about this.

What happens is:
* We run `clang -MM` to compute dependencies of file `hp2ps/Utilities.c`
* It includes `hp2ps/Main.h`
* The latter includes generated file `includes/ghcconfig.h`
* But the file has not yet been generated, so `clang -MM` doesn't know what to do: what if `includes/ghcconfig.h` includes something else? We need to have it in order to determine accurat

[2015-12-26 21:58] #42 closed

[2015-12-26 22:07] snowleopard commented on #48
@ndmitchell Have you got any idea on how to handle this nicely? I don't have anything except for needing generated files explicitly.

[2015-12-27 01:55] #48 closed

[2015-12-27 01:56] snowleopard commented on #48
I've added explicit dependencies. We may come back to this issue if a better approach is discovered.

[2015-12-27 02:02] snowleopard commented on #39
OK, I think I've done all `includes` apart from `includes/ghcversion.h`.

@angerman, this is now up to you to finish :-)

[2015-12-27 02:14] snowleopard commented on #44
Another relevant commit: 43b6cc3.

[2015-12-27 05:51] angerman opened #57 "ghc-stage1: missing -B<dir> option"
The current state get's us past the stage0 compiler. Now we are stuck at
[code]
I think this is related to #38. As the `ghc.wrapper` contains an implicit `-B` flag.

----

Here are all the wrappers I found in the source tree

`./ghc/ghc.wrapper`
[code]

--

`./utils/ghc-pkg/ghc-pkg.wrapper`
[code]

--

`./utils/haddock/haddock.wrapper`
[code]

--

`./utils/hpc/hpc.wrapper`
[code]

--

`./utils/hsc

[2015-12-27 05:58] angerman commented on #39
Adding pressure. I see. Alright, I'll give it a show now.

[2015-12-27 06:46] angerman commented on #45
Me too. I guess, the wrapper we put into `bin` and the binary and includes into `lib/bin` and `lib/includes` then.
Maybe we should follow a different naming scheme with the wrapper?
Say `_cmd` being the binary, and `cmd` being the wrapper around `_cmd`?

[2015-12-27 08:13] angerman commented on #57
Note: This is also one of the cases, were the command invocation escapes the control of shake, as `ghc-stage1` is run by `ghc-cabal`. Thus this special case here, might not need the wrapper, if #18 is resolved? I guess we will need a way to build packages *with* wrapper for the time being ( #38 ).

[2015-12-27 09:35] #39 closed

[2015-12-27 09:51] snowleopard commented on #39
There may be some other files we missed, but I'm closing this for now.

[2015-12-27 10:04] snowleopard commented on #39
I've done a test build, everything works fine. However, we are not needing `includes/ghcversion.h` anywhere in the system yet.

[2015-12-27 10:09] snowleopard commented on #57
Note, #18 may be closed soon by @bgamari.

[2015-12-27 11:06] snowleopard commented on #57
As a temporary solution we may be able to call `GhcCabal` with a flag like `--ghc-options=-B`, so it is passed to `ghc-stage` eventually.

[2015-12-27 19:00] Ericson2314 commented on #48
Hi, I've been ~~lurking~~following along until I can get my computer replaced and actually contribute, but I think I have a solution for this.

Unfortunately, the non-lexical way CPP works makes things more complicated in that macros defined in headers included earlier influence the dependencies of headers included later.

I propse adding at the back of the `INCLUDE` path a directory with empty fi

[2015-12-27 19:43] snowleopard commented on #48
@Ericson2314 Hi there! Adding a directory with fake files is a nice trick. I don't see how it helps though: we still need to explicitly list these files somewhere: I list them as dependencies in `src/Rules/Dependencies.hs` and everything seems to works well. You propose to list them in a special directory, and furthermore also run `clang -MM` a number of rounds, which would be hard to implement.

[2015-12-27 20:37] ndmitchell commented on #48
One quite easy solution is to orderOnly depend on those files before running -MM. That ensures the files exists, but doesn't depend on them, and then -MM can spot them properly. The advantage of orderOnly is you can be much more free with it as it will reduce parallelism by a very tiny amount, but won't cause unnecessary rebuilds.

[2015-12-27 23:36] snowleopard commented on #48
@ndmitchell Thanks! I didn't think of order-only dependencies. Looking at the Shake documentation this is exactly the intended use case for `orderOnly`.

(In an ideal world we would have a dependency discovery mechanism that would call `orderOnly [file]` whenever it encounters an `include file` statement while traversing given source files, so we wouldn't have to list such dependencies manually.)

[2015-12-28 01:32] snowleopard commented on #30
Got hit by this bug again. By the way, a complete rebuild with `-B` doesn't help, because `ghc` doesn't want to recompile the affected file (interface files are unchanged). Very annoying.

[2015-12-28 02:05] snowleopard commented on #45
I propose not to change this convention for now, because we may accidentally break some usage patterns occurring outside of the build system. This is somewhat similar to the wrappers story (#38): the build system may not need them, yet users may still want wrappers to exist.

Let us put utilities into `inplace/lib/bin` then as `make` does.

[2015-12-28 02:58] snowleopard commented on #30
By the way, apparently I was wrong: `ghc` first produces split objects and then the complete object file.

[2015-12-28 03:34] angerman commented on #57
I could not get this to work. `--ghc-options` is not passed to `ghc-stage1`, `--with-ghc-options` doesn't work either. Had to learn that I don't really grok `ghc-cabal`.

[2015-12-28 11:45] snowleopard commented on #57
Sorry, this was just a wild guess. I also couldn't find a suitable option to pass to `ghc-cabal`. Not sure how to proceed, except for figuring out a good wrappers story.

[2015-12-28 11:48] snowleopard commented on #57
Another possible hack: can we pass `[...]/ghc-stage1 -B<dir>` into `--with-ghc` option to `ghc-cabal`?

[2015-12-28 12:44] snowleopard commented on #45
As I understand only the following utilities are placed into `inplace/lib/bin`: `ghc-split`, `touchy` and `unlit`. Since we don't build them yet (`touchy` seems unnecessary, `unlit` waits for c-only packages to be supported, `ghc-split` lives in `driver` which is not yet built), I think we can close this issue for now -- there is nothing to change in the current implementation of the build system.

[2015-12-28 12:45] #45 closed

[2015-12-28 13:12] snowleopard opened #60 "Decompose Args into into builder-specific and package-specific"
Currently `getArgs` is constructed by putting together builder-specific `Args` from the `Settings/Builders` directory. A simple example from `Settings/Builders/Alex.hs`:
[code]
We want to decompose package-specific `Args` from builder-specific ones to make it easier to understand and maintain the build system. Under this proposal the above will change as follows.

`Settings/Builders/Alex.hs` will

[2015-12-28 18:02] ndmitchell commented on #30
Sounds like a GHC bug. Even if Shake didn't record the command as completed, if it reran and the second time round GHC did nothing, then Shake would record that as completed and then everything would be broken.

[2015-12-29 02:42] angerman commented on #57
That did not work.

[2015-12-29 02:43] angerman commented on #57
I'll close this. Let's focus on a generic solution to the wrapper issue (#38).

[2015-12-29 02:43] #57 closed

[2015-12-29 02:47] angerman commented on #38
The idea I mentioned on IRC was using environment vars. Assuming we export `GHC_TOP_DIR`, and change `ghc` to look for `GHC_TOP_DIR` in the environments if `-B` is not found.
Similarly provide the default values for other default arguments the wrapper supply. This though requires to adapt all the programs that are called through wrappers. This also requires that environment variables are properly

[2015-12-29 04:51] Ericson2314 commented on #48
Well, in general CPP variables can be used in the `#include` path, so that won't work.

However, intercepting file access, as proposed in that linked issue, is the best of all worlds. Dirt simple, no up-front lists, and builds only the headers that are needed.

[2015-12-29 14:32] snowleopard commented on #31
@quchen Unfortunately `ChangeModtimeAndDigest` doesn't help. The binary of `ghc-pkg` does change slightly (14 bytes are different) even if the source files are unchanged.

The file size remains the same, however.

That may be a `ghc` bug, but even if it's fixed older bootstrapping versions of `ghc` will keep breaking things for us.

[2015-12-29 14:44] bgamari commented on #31
Note that currently GHC isn't terribly good in the determinism department; what you are observing may be a result of this. That being said, things are rapidly improving thanks to Simon Marlow's group. It's not out of the question that we could have completely deterministic output in the 8.0 release.

[2015-12-29 14:46] snowleopard commented on #30
@ndmitchell So far I could reproduce only the following abnormal behaviour of `ghc`.

[code]
I compile the above with `ghc -split-objs Test.hs` and get two split object files in `Test_o_split`. Then if I delete any of these files, or even the whole folder, and rerun `ghc -split-objs Test.hs` the compiler doesn't bother to restore split objects, pretending that everything is up-to-date. However, if

[2015-12-29 14:51] snowleopard commented on #31
@bgamari Good to hear!

What's interesting is that even the binary of `hp2ps` changes, where we use `ghc` only for linking. I'd imagine this step to be relatively straightforward determinism-wise.

[2015-12-29 15:49] bgamari commented on #31
Hmm, that is indeed curious. Could you describe how you are testing this?

[2015-12-29 16:16] snowleopard commented on #31
Assuming you can build `hp2ps` on your system, you can test this as follows:
[code]

[2015-12-29 20:42] ndmitchell commented on #30
I guess so - it sounds like the recompilation checker skips the split objects, which would be a bug (maybe one @ezyang is going near?). However, I'm still trying to figure out exactly what went wrong. How did you get to the state where you had the object file, but not all the split objects?

In my experiments, GHC creates the .hi file, then the split objects, then the .o file. If I delete any spli

[2015-12-29 21:14] ezyang commented on #30
There are several levels at which GHC's recompilation checker operates.

1. `ghc --make` does a compilation check that involves timestamps of `hi` and `o` files, and may skip the interface recompilation check entirely if it concludes that an object file is "stable".
2. `ghc -c` has a disjoint compilation check in `runPhase` on `Hsc`, which SOLELY looks at the timestamp of the `o` file to determine

[2015-12-30 00:09] snowleopard commented on #30
@ndmitchell, I have no idea how this happens. Current hypothesis: what if Shake starts to kill all spawned processes, quickly manages to kill the one responsible for creating split objects, but `ghc` is more resilient and, thinking that splitting objects is now complete, manages to write the object file and terminate successfully? That's quite a convoluted scenario, but I don't have anything bette

[2015-12-30 00:39] snowleopard commented on #30
The ticket: https://ghc.haskell.org/trac/ghc/ticket/11315.

[2015-12-30 00:40] ezyang commented on #30
So, I just double checked, and GHC does merge the split object files into a single object file. Why doesn't Shake depend on that file?

[2015-12-30 00:44] snowleopard commented on #30
It does! However, we somehow end up in a problematic state when the single object file exists, yet some split objects are missing. Then when we rerun the build, GHC doesn't want to restore missing split objects and the only way is to manually delete the complete object file to force GHC to restore things to a consistent state.

[2015-12-30 00:47] snowleopard commented on #30
Actually, maybe the single object file is also incomplete in such situations: it may be just a merge of split objects that have been created. I haven't thought about this before, but this could explain what happens. Next time the bug occurs I'll check this.

[2015-12-30 03:33] ezyang commented on #30
This all sounds very impossible. It should not be possible, even with hard-kills, for GHC to  manage to fail to write out all of the split objects BUT write an up-to-date object file; if any of the assembling fails, that should abort the entire pipeline.

The relevant code, by the way, is in `compiler/main/DriverPipeline.hs`; look for the `SplitAs` section in `runPhase`.

[2015-12-30 06:03] angerman commented on #38
I'll try to give this a go. Fingers crossed.

[2015-12-30 13:03] angerman opened #63 "platformConstants: openFile: does not"
Assuming PR #62 with the hardcoded `top` value, we get one step further, but still run into issues:

[code]

[2015-12-30 14:05] snowleopard commented on #63
Right. I already implemented build rules for `platformConstants`, but I guess we also need to copy this file, as we do with `template-hsc.h`, for example. Or we miss a path to `platformConstants` somewhere.

I can't test this as `iserv` is not built on Windows.

[2015-12-30 14:07] angerman commented on #63
I'll look into this. It dawned on me, that this might be an artifact from the wrapper generation (which does not yet follow ghc's make file layout). See #45.

[2015-12-30 14:12] snowleopard commented on #38
I'd like to document an alternative idea to implementing wrappers here.

Instead of a general solution (e.g., #62), which extends the `Program` type to something like `WrappedProgram Wrapper | UnwrappedProgram`, we could consider a custom solution similar to `includes` generated files. In this solution we simply create 5 custom build rules for wrappers and need these wrappers when building corresp

[2015-12-30 14:41] angerman commented on #45
Alright, here's a dump of `tree` for `inplace` after make.
[code]
I hope, I didn't have too many shake / make artifacts in there.

[2015-12-30 15:01] angerman commented on #38
@snowleopard for that, we would still need to conditionally place the binaries for the wrapped packages into other locations, which I can not work out so far if the package doesn't know if it's wrapped or not :-/

[2015-12-30 15:02] snowleopard commented on #63
I confirm that I have `inplace/lib/platformConstants` produced by `make`. Let me add a corresponding build rule.

[2015-12-30 15:07] snowleopard commented on #45
Do I understand correctly that `inplace/bin/ghc-stage1` is actually a wrapper around ``inplace/lib/bin/ghc-stage1`?

[2015-12-30 15:08] snowleopard commented on #38
@angerman I think we can handle this nicely in `Rules.Program`: we have special rules for wrapped programs that produce wrappers instead of binaries, and also put actual binaries into `inplace/lib` directory.

[2015-12-30 15:09] angerman commented on #45
Yes exactly. Here’s the contents of `inplace/bin/ghc-stage1` on my system.

[code]

[2015-12-30 15:12] angerman commented on #63
Fixed. This was due to the wrong path passed down to `-B`. #62 was updated to correct, this. This is not an issue anymore.

[2015-12-30 15:12] #63 closed

[2015-12-30 15:13] angerman opened #64 "inplace/lib/settings: openFile: does not"
With #62, I now end up at:
[code]

[2015-12-30 15:16] snowleopard commented on #64
Done: 0ceae64.

[2015-12-30 15:16] #64 closed

[2015-12-30 16:15] snowleopard commented on #30
Thanks @ezyang. I don't have an explanation yet. I tried to reproduce this in a controlled situation, but no luck so far.

One interesting scenario which I observed: if I kill the Shake process it fails to terminate GHC processes that keep working on split objects; they eventually succeed by creating complete object files. However, I can restart Shake and then we can have two GHC processes running

[2015-12-30 17:17] ezyang commented on #30
OK:

1. Two GHC's clobbering each other makes a good deal of sense, because the split object directory is shared,
2. This split object directory is intended to be a user visible output (Cabal must link the archive against the split objects, not the merged object), so indeed, it's jut a bug in the recompilation checker.

[2015-12-31 01:01] snowleopard commented on #38
After experimenting with @angerman's solution, I reworked it into a less disruptive one, see a1eab18.

No changes to top-level definitions of packages are now required, everything is handled locally in `Rules/Program.hs` with wrappers stored in `Rules/Wrappers` directory. I like the fact that wrappers are now well-hidden: seeing them right in `GHC.hs` or `Package.hs` could be confusing, especially

[2015-12-31 02:43] angerman opened #66 "ghc-cabal: ghc-pkg dump failed"
Making baby steps, we are not at `ghc-pkg` failing. I assume this is due to `ghc-pkg` being wrapped as well. I'll try to fix the `ghc-pkg` wrapper.
[code]

[2015-12-31 03:24] angerman commented on #38
Looks like the solution we now have for wrappers works sufficiently for now. I'm certain other issues will come up, and there may be debates on the design of the wrapper logic, we should open new issues for those.

[2015-12-31 03:24] #38 closed

[2015-12-31 03:32] angerman commented on #66
calling `ghc-pkg dump` directly, tells us that the `package.conf.d` is missing.
[code]

I think this might be related to #22.

[2015-12-31 03:36] angerman commented on #66
In the `ghc.mk` we find:
[code]

[2015-12-31 06:27] angerman commented on #43
Looking at `shake`[1], we can apparently do `windows` ci on `appvoyer`?
Anyone experience with that?

[1]: https://github.com/ndmitchell/shake

[2015-12-31 08:16] angerman commented on #66
There are two issues here. First the wrong path. It should be `inplace/lib/package.conf.d`. And the missing `init` call. Hence this can be manually solved with:
[code]

[2015-12-31 08:18] angerman opened #67 "ghc-cabal: At least the following dependencies are missing: rts ==1.0.*"
Alright, we are getting there. After fixing #66 manually, we arrive at the missing rts. Now we are at #22, blocking any further progress.
[code]

[2015-12-31 08:19] angerman commented on #66
@snowleopard I guess we need a rule, that build `package.conf.d` and have `stage2` and onward depend on the existence of the `package.conf.d`.

[2015-12-31 08:27] angerman commented on #22
Any progress on this?

[2015-12-31 11:27] snowleopard commented on #66
Right, thanks for getting to the core of this. I'll prepare a fix.

[2015-12-31 11:28] snowleopard commented on #43
@angerman Thanks for the pointer. I'll look into this once more critical issues are out of the way.

[2015-12-31 11:33] snowleopard commented on #22
I'd like to first sort out the growing complexity of arguments in `Settings/Builders` and `Settings/Packages`, see #60. It's almost finished now. After that, building `rts` shouldn't take long, although it requires some experiments with possible designs.

In the meanwhile you can try to ask `make` to build `rts` for you.

[2015-12-31 12:25] angerman commented on #43
Maybe @quchen and @bgamari can take over? @quchen has this assigned already, and @bgamari has an open PR for travis.

To my understanding Travis can do Linux (and Mac - Beta Feature I think), and [appveyor](https://ci.appveyor.com) can do Window. So we should have the three most common platforms covered.
Not sure about architectures though.

[2015-12-31 12:31] angerman commented on #22
Well. When ever I run make in `rts` after using shake already to build all the other tooling I get:
[code]

this to me looks an awful lot like it's completely rebuilding everything from the ground up. My trust in the make build system is very little, as I remarked elsewhere already. Begin as distributed (e.g. every folder basically has it's own `ghc.mk` file has it's charm, but I find it very intr

[2015-12-31 12:33] angerman commented on #22
This also means that the `rts` I built with `make`, is *not* built with the stage1 compilers I just built using `shake`. I effectively end up with a mixture of make and shake binaries all over the place and the tree being very likely a horrible mess.

[2015-12-31 12:47] angerman commented on #22
Here's where `shake` stops, after `make` completed in `rts`.
[code]

[2015-12-31 13:14] snowleopard commented on #22
This actually looks like a bug with handling generators in `unix` package. I think it is worth a separate ticket. I never built `unix` on Windows.

[2015-12-31 13:20] snowleopard commented on #22
@angerman That's true. I also forgot that we changed the naming convention for build directories (#19), so we probably can no longer rely on `make` to build things for us.

[2015-12-31 13:53] #66 closed

[2015-12-31 13:54] snowleopard commented on #66
Done! Please give it a try, as I can't test this properly on Windows.

[2015-12-31 13:58] snowleopard commented on #67
A temporary workaround here is to copy the contents of `inplace/lib/package.conf.d` produced by `make`.

Sounds hideous, but seems to work.

[2015-12-31 14:11] snowleopard opened #70 "Unix package broken"
As reported by @angerman in #22, the build system fails with the following message:
[code]
Also see PR #69.

[2015-12-31 14:32] angerman opened #71 "integer-gmp: fatal error: 'gmp.h' file not found"
Given the `rts` (#22, #67) work around and the `unix` package #70 fix #69, we end up with the following:

[code]

[2015-12-31 17:15] bgamari commented on #71
Moritz Angermann <notifications@github.com> writes:

Looking back at a log of a recent make build it looks like the usual command line is,

[code]

in contrast with Shake's command,
[code]
These match up pretty similarly. Moreover, `gmp.h` should typically be
in the system's default include path. In my Debian installation it's in
`/usr/include/x86_64-linux-gnu/gmp.h`. Do you perhaps not have gmp's

[2015-12-31 17:24] angerman commented on #71
Thanks for the hint @bgamari, looking for `gmp.h` in `/usr`, yields:
[code]
Where `/usr/local/include/gmp.h -> ../Cellar/gmp/6.1.0/include/gmp.h`. So the question boils down to why `/usr/local/include`, is not on the include path.  I do not really remember issues with the `gmp.h` with he `make` system, I think.

[2015-12-31 17:28] angerman commented on #70
I'm confident PR #69 resolves this.

[2015-12-31 18:42] #37 closed

[2015-12-31 18:46] snowleopard commented on #70
Thanks, I'll close this now. However, I still would like to tweak #69 to make it a little more robust.

[2015-12-31 18:46] #70 closed

[2016-01-01 01:23] #60 closed

[2016-01-01 03:54] angerman opened #73 "bootstrapping.conf/package.cache: GHC.PackageDb.readPackageDb: inappropriate type (Not a valid Unicode code point!)"
The changes in 84704c change the package path from `include/lib/package.conf.d` to `libraries/bootstrapping.conf` for `Stage0`. This leads to the `Stage1` compiler using `libraries/bootstrapping.conf` and failing.

The core of the issue is that the *wrapper* is generated at `Stage0`, but used at `Stage1`.

[code]

[2016-01-01 06:15] snowleopard commented on #73
I see, my bad. Shall we use `succ stage` instead of `stage` when generating the wrapper?

[2016-01-01 06:26] angerman commented on #73
That's what I'm currently doing, The question is, do we generate a wrapper at `Stage3` as well? In that case, this would break. If we are sure we do not generate a wrapper at `Stage3`, I'm fine with `succ stage` as that conveys the intent properly.

[2016-01-01 06:35] angerman commented on #22
As #60 is done now. Should we focus on this? Can this be split up somehow to speed fixing it up?

[2016-01-01 07:19] angerman commented on #22
I've logged what `make`[1] outputs for the `rts` build here: https://gist.github.com/angerman/a3c4babeeb8470d95a4f

I've truncated it to the rts section only.

[1]: `make -k --debug=b --debug=m TRACE=1 2>&1 | tee build.log`

[2016-01-01 07:21] angerman commented on #67
Let's focus on #22. I'll close this, to prevent duplicates.

[2016-01-01 07:21] #67 closed

[2016-01-01 09:55] #73 closed

[2016-01-01 09:57] snowleopard commented on #73
As far as I understand we only build compiler in `Stage3`, as a self-test of the compiler built in `Stage2`. So `succ stage` should work here.

[2016-01-01 10:04] snowleopard commented on #22
Thanks @angerman!

Yes, this is my top priority now (I won't be available today though).

It's tricky. There are several ways to approach this and we'll probably be experimenting with different designs. The simplest one is to copy the workaround we use for `hp2ps` package. Feel free to give it a try, and document your findings here.

[2016-01-01 18:43] quchen commented on #43
I'm only familiar with Travis, and @bgamari has done the required work already in his pull request. I've never used Windows CI.

[2016-01-01 20:41] snowleopard commented on #43
@quchen I believe @bgamari's pull request is still work in progress.

[2016-01-02 00:46] bgamari commented on #43
Andrey Mokhov <notifications@github.com> writes:

Indeed it is. I haven't had time to keep poking away at it this week.

[2016-01-02 02:21] snowleopard commented on #22
Summary of today's work:
* Implemented a basic approach to handling `rts` using a fake `package-data.mk` file, similarly to `utils/hp2ps`. This is subject to future refactoring.
* Added rules for generating and copying several `rts` files (`Rules/Generate.hs` and `src/Rules/Copy.hs`).
* I can now successfully build library `libHSrts.a`, however I'm pretty sure it's still missing some stuff.
* Adde

[2016-01-02 04:44] angerman commented on #22
Great, my experimentations with `package-data.mk` didn't get me anywhere.
Gave this a try. First result:
[code]

After removing the `.db` folder, I end up with the same:
[code]

[2016-01-02 04:46] angerman commented on #22
Another note:
[code]
results in:
[code]

[2016-01-02 11:08] snowleopard opened #75 "Build libffi"
We can't build `libffi` package yet.

See https://github.com/snowleopard/shaking-up-ghc/issues/22#issuecomment-168364314.

[2016-01-02 11:08] snowleopard commented on #22
@angerman Thanks for trying!

The first problem ("Cannot find path to 'genapply' in configuration files") was easy to fix: whenever we change `system.config.in` it is necessary to rerun `./configure`.

The second problem is that we don't build `libffi` yet. I created a separate issue for this: #75.

[2016-01-02 12:05] angerman commented on #22
Alright. I hope I can look into that tomorrow.

[2016-01-03 01:12] #75 closed

[2016-01-03 01:13] snowleopard commented on #75
I managed to translate most of `libffi` build rules to the new build system, see `Rules/Libffi.hs`, and now have a working build on Windows. I'm pretty sure we'll be coming back to this at some point, but I'll close this for now.

Please reopen this issue if you have any problems related to `libffi.

[2016-01-03 02:47] snowleopard commented on #67
As of 9be3f7e we no longer need the workaround for `inplace/lib/package.conf.d` mentioned in https://github.com/snowleopard/shaking-up-ghc/issues/67#issuecomment-168197929.

[2016-01-03 02:49] snowleopard commented on #22
I think we are getting close to completing this task. I don't have any issues with `rts` on Windows, but there are a few small refactorings I intend to make before closing this.

[2016-01-03 04:05] angerman opened #76 "'ghcautoconf.h' and 'ghcplatform.h' are not found."
`ghcautoconf.h` is not marked as a rts dependency:
[code]

after running:
[code]
we find that `ghcplatform.h` is also missing:
[code]

[2016-01-03 04:11] angerman commented on #75
Looks like we can successfully build `libffi` on OS X as well:
[code]

[2016-01-03 04:25] angerman commented on #18
My understanding is, that we would basically absorb `ghc-cabal` into the `shake` based build system, instead of shelling out to `ghc-cabal`?

[2016-01-03 04:27] angerman commented on #76
We are also missing `ghcversion.h` in stage1 for rts.
[code]

[2016-01-03 04:37] angerman opened #77 "rts/Updates.cmm requires DerivedConstants.h"
[code]

after

[code]

[2016-01-03 04:51] angerman commented on #71
With PR #78, I'm not stuck here again. I'll try to figure out why the `include` path's are missing.

[2016-01-03 05:33] angerman commented on #71
There seem to be happening actually quite a lot with make:
[code]

[...]

[code]

[2016-01-03 07:54] angerman commented on #71
Looking at `gmp/ghc.mk` and `IntegerGmp.hs`, makes me believe, I'm missing parts of the build system?

[2016-01-03 09:29] angerman commented on #71
Ok. I think I figured out what needs to be done. I'm trying to create a `Rules/IntegerGmp.hs` similar to the `Rules/Libffi.hs`.

[2016-01-03 12:11] #76 closed

[2016-01-03 12:11] #77 closed

[2016-01-03 12:13] #71 closed

[2016-01-03 12:15] snowleopard commented on #18
@angerman Yes, that's the intention.

[2016-01-03 12:18] snowleopard commented on #75
Excellent, thanks for testing. I was worried we might have some problems related to `wc -w` (see a missing piece of code in a bottom comment in `Rules/Libffi.hs`).

[2016-01-03 12:22] angerman commented on #75
I think there is a lot of left over stuff in the build system, spanning multiple operating system versions.  So comments might refer to previous systems. I'm testing with the latest OS X (10.11.2), so there might be issues on older versions. I would vote for, simplify and see if people complain, and once they complain figure out what the best solution is. Part of this project is to also modernize,

[2016-01-03 12:58] angerman opened #81 "ghc-stage1: could not execute: ghc-split"
After fixing the `-I` of #79 with PR #80, I'm now stuck with:
[code]

[2016-01-03 13:03] angerman commented on #81
Ahh well, we need to fix `ghc-split` then. The current source implies it's not implemented:
[code]

[2016-01-03 13:08] angerman opened #82 "build-perl not supported"
We do not yet support the `build-perl` macro, e.g. used for `driver/split`. See also: #81

[2016-01-03 13:16] angerman opened #83 "Implement support for unlit"
For #81 (`ghc-split`), we need #82 (`build-perl`), which in turn requires `unlit`. Hence we need `unlit`, the unliterizer tool (turns `lprl` literate perl files into `prl` files when used in `build-perl`).

[2016-01-03 13:21] snowleopard commented on #75
Yes, I completely agree. That's why I try not to pull everything into the new build system. Some chunks appear to be dead code. If anyone starts to complain we'll bring the missing pieces back.

[2016-01-03 14:22] snowleopard commented on #83
What is the purpose of `ghc-split`? Any chance to get rid of it and associated dependencies given that we now have the full power of Haskell in the build system?

[2016-01-03 14:28] snowleopard commented on #83
The `ghc-split.prl` file looks quite complicated, we probably don't want to do translate this in Haskell now.

I think GHC uses `ghc-split` for splitting objects when executed with `-split-objs` flag.

[2016-01-03 14:31] angerman commented on #83
Yes. translating `ghc-split.lprl` looks like a non trivial task. Eep. to get it right :)

The best I found was this SO answer[1], which links to the GHC manual[2].

[1]: http://stackoverflow.com/questions/9198112/haskell-unnecessary-binary-growth-with-module-imports/9198223#9198223
[2]: https://downloads.haskell.org/~ghc/7.4.1/docs/html/users_guide/options-phases.html#id3081262

[2016-01-03 14:40] snowleopard commented on #83
This means there is a temporary workaround: you can set `splitObjects` to `return False` locally and see how far this will get you in the build.

[2016-01-03 14:41] snowleopard commented on #81
See https://github.com/snowleopard/shaking-up-ghc/issues/83#issuecomment-168501954 for a temporary workaround.

[2016-01-03 14:43] angerman commented on #83
That's what I just did.

Now I'm stuck at `gmp` again(?).
[code]

[2016-01-03 14:44] snowleopard commented on #83
Looks like we are missing a `need [integerGmpLibrary]` before `getDirectoryFiles`.

[2016-01-03 14:45] angerman opened #84 "-split-objs not supported (yet)"
I just want to hold this here. We currently do *not* support the `-split-objs` feature of build `ghc`s.
This depends on #83, #82 and #81. See also the Linkage Optimization [1] item in the wiki.

[1]: https://wiki.haskell.org/HSFFIG/Linkage_optimization

[2016-01-03 14:47] angerman commented on #83
The strange thing is, it's actually being built right before that step. I think we just somehow do not end up putting the object files into `objs`. I'll have to look into where the original `Makefile` did that, and we missed it.

[2016-01-03 14:49] snowleopard commented on #83
I see. To get more informative error messages I think we better insert an appropriate `need` before every invocation of `getDirectoryFiles`.

[2016-01-03 14:49] angerman commented on #83
Great. It's exactly the TODO comments I left in `Rules/IntegerGmp.hs:105`+.

[2016-01-03 15:02] angerman opened #86 "ld: library not found for -lHSrts"
With PR #85. And Disabled `-split-objs`, we arrive at:

[code]

[2016-01-04 01:21] angerman commented on #86
Upon further investigation we find:
[code]

So we have to ask why we are looking for `libHSrts` in `rts/dist/build` and not `rts/stage1/build`?

[2016-01-04 01:41] angerman opened #87 "Rules may not be recursive"
With `1c3c9f34` I'm getting:
[code]

[2016-01-04 01:45] #87 closed

[2016-01-04 02:08] angerman opened #88 "integer-gmp does not depend on gmp"
When building from scratch we end up on OS X with
[code]

This can be fixed by explicitly regenerating `gmp.h`
[code]

Yet, this process should be automatic and not require manual intervention.

[2016-01-04 02:14] angerman commented on #86
We have https://github.com/snowleopard/shaking-up-ghc/blob/master/src/Rules/Data.hs#L97-L110 for generation of the package configuration.

The issue is that `rts/dist/build` is hardcoded in `package.conf.in` file.

I see two possible solutions here:
- create a symbolic link `rts/dist/build -> rts/stage1/build`.
- build into `rts/dist/build`.

[2016-01-04 02:16] angerman opened #89 "ld: library not found for -lCffi"
Assuming #86 is fixed (e.g. with `ln -s build stage1` in `rts`), I end up with
[code]
on os x.

[2016-01-04 03:07] angerman commented on #89
With make I end up with
[code]
The shake build system so far does not produce these.

[2016-01-04 03:09] angerman commented on #89
From the `make` build log:
[code]

[2016-01-04 03:48] angerman commented on #89
Weirdly enough, the code that is supposed to do this, actually exists at https://github.com/snowleopard/shaking-up-ghc/blob/master/src/Settings/Packages/Rts.hs#L73-L77.

[2016-01-04 06:23] angerman commented on #89
Upon further investigation, I fail to see where rts is built with HsCpp, to actually produce the libffi libs.

[2016-01-04 11:14] snowleopard commented on #89
`HsCpp` is not responsible for building `libCffi.a`. It is used to create `rts` package configuration file.

We simply need to replicate the following step in the new build system:
[code]

[2016-01-04 11:25] angerman commented on #89
Hmm, ok. I really need to understand the build system better.

[2016-01-04 11:25] angerman commented on #89
I'll try to copy step by hand and see how far I get.

[2016-01-04 11:28] snowleopard commented on #89
Great. Please make use of the new `copyFile` function. I guess the command will look something like this after renaming `dist` to `stage1`:
[code]

[2016-01-04 11:52] angerman commented on #86
Adjusting
[code]
in `GHC.hs` sadly causes multiple targets for `rts`.
But then I'm not sure if `rts` is simply being rebuild in `dist` every time, or if it's build only once.

[2016-01-04 11:54] angerman commented on #86
I'm tending to believe we build `rts` only once with `ghc-stage1`.

[2016-01-04 11:56] snowleopard commented on #86
You can use `replace "rts/dist/build" "rts/stage1/build"` as a temporary kludge while processing `package.conf.in`.

[2016-01-04 11:57] snowleopard commented on #86
More precisely, it will go here:
[code]

[2016-01-04 11:58] angerman opened #90 "Cannot Build: compareSizes (rts missing _TRACE_gc and _TRACE_sched)"
[code]

[2016-01-04 11:59] angerman commented on #90
This happens when we link `rts/dist` to `rts/stage1`, and copy `libffi` into place. (e.g. `cp libffi/build/inst/lib/libffi.a rts/dist/build/libCffi.a`)

[2016-01-04 12:00] angerman commented on #86
thanks. Will give it a try. (also trying to have only one target).

[2016-01-04 12:02] snowleopard commented on #86
You should only have one target once you drop `defaultTargetDirectory _     rts = "dist"`.

[2016-01-04 12:06] angerman commented on #86
That's right. You convinced me to go with the `package.conf.in` replacement.

[2016-01-04 12:11] angerman commented on #86
Still makes me wonder if we should drop `rts` from `stage2`?

[2016-01-04 12:12] angerman commented on #84
I belive, over the long run we will need to support `-split-objs` and all the dependencies that come with it: `unlit`, `perl`, ...

[2016-01-04 12:16] snowleopard commented on #86
We don't do it intentionally: `packagesStage2` doesn't list `rts`. But I see why this happens. Let me suggest the following workaround:
[code]
It doesn't look nice, but it should work for now. I'll think how to improve this.

[2016-01-04 12:18] angerman commented on #86
I might very well have gotten that wrong. For some reason, I believed stage2 was a superset of stage1. Never mind.

[2016-01-04 13:17] angerman commented on #90
Running the command by hand with `-v`erbose yields:
[code]

[2016-01-04 13:29] angerman commented on #90
Some more info
[code]

[2016-01-04 13:31] #86 closed

[2016-01-04 18:42] quchen commented on #43
#93 should do the trick for now.

[2016-01-04 19:58] snowleopard commented on #89
I guess the above fix wasn't enough. I am now hit by the same issue.

Let me reopen this. I think we are missing a `need` somewhere.

[2016-01-04 20:10] #89 closed

[2016-01-04 20:11] snowleopard commented on #89
The issue was that on Windows we have to use `libCffi-6.a` instead of `libCffi.a`. I have no idea why.

[2016-01-04 20:11] snowleopard commented on #90
I am now stuck at this point too on Windows.

[2016-01-04 20:42] snowleopard commented on #90
I'm building C files in `rts` using C compiler, however, the old build system is using GHC. I wonder whether this is relevant and I don't know why use GHC for compiling C files.

[2016-01-04 20:49] snowleopard commented on #90
Here is the current command we use to produce `Trace.o`:
[code]
Here is what the old system uses:
[code]
Quite a big difference, but I wonder which flag is crucial for this issue, and how the result is affected by the choice of builder (`gcc` vs `ghc`)

[2016-01-04 21:43] #43 closed

[2016-01-05 02:45] angerman opened #94 "includes/Cmm.h:326:10: fatal error: 'DerivedConstants.h' file not found"
Using the latest `shake-build`, `ba41ec6`, it ends with
[code]

[2016-01-05 03:23] angerman commented on #88
This just resurfaced with the latest head
[code]

[2016-01-05 03:36] angerman commented on #88
It looks like this is supposed to be included through the `extraObjects` in `Library.hs`. I'm not yet certain why this does *not* work.

[2016-01-05 03:37] angerman commented on #88
Maybe it's because this is the `GccM` call?

[2016-01-05 05:21] angerman commented on #90
Strangely enough, my `make` log, lists `-DDTRACE`. And otherwise the only difference in the built file is `-g`, which adds debug information. Without `-DDTRACE` I get a 1.4k object file that contains nothing but debug info. Without `-g` I obtain an empty 200 byte file.

For `-DDTRACE` to work, I would need `RtsProbes.h`, which doesn't exist.

[2016-01-05 05:48] angerman commented on #90
The *big* differences I see are:
[code]
`-O2` being the most important here, as it forces the inlining (or at least that's what I think).

In `Trace.h` we find:
[code]
for which `includes/Stg.h` contains the definition:
[code]

As far as I can tell, for llvm's clang, `-inline` comes with `-O2`. Then again, I'm not sure if `inline` is actually supposed to be a *hint* to the compiler, or force the c

[2016-01-05 05:51] angerman commented on #90
According to http://stackoverflow.com/questions/25602813/force-a-function-to-be-inline-in-clang-llvm/25623448#25623448, my suspicion is correct.

[2016-01-05 06:01] angerman opened #96 "ghc-stage2: missing -B<dir> option"
With #88, #90 and #94 fixed (PR #95), we arrive stage2! :tada:

And we find an old friend (#57) again:
[code]

[2016-01-05 06:09] angerman opened #98 "inplace/bin/haddock expects threaded rts (HSrts_thr)"
Or at least that's what I think `HSrts_thr` is, the threaded rts variant.
[code]

[2016-01-05 06:11] angerman opened #99 "Add more labels"
Can we have `stage`, `stage2`, `cross`(or `crosscompiler`, which is quite long), `win`, `linux`, `OS X` as labels, to better separate the issues?

[2016-01-05 09:27] #88 closed

[2016-01-05 09:27] #90 closed

[2016-01-05 09:27] #94 closed

[2016-01-05 09:28] #96 closed

[2016-01-05 09:42] snowleopard commented on #90
@angerman Awesome! Many thanks for finding the reason. I couldn't imagine `-O2` affected linking... And I don't remember seeing any comments about this while looking through makefiles for a solution.

[2016-01-05 09:43] snowleopard commented on #96
Hey, we are at stage2?! Congratulations :tada:

[2016-01-05 09:45] angerman commented on #90
@snowleopard I ended up comparing the symbols in the object files, and wondered why they were missing in one, but not the other... after looking for the symbols in the source I kept wondering what was different wrt the inlining. Then it dawned on me that it had to be an optimization pass.

[2016-01-05 09:49] snowleopard commented on #99
Good idea. Done! If any other labels are needed, just shout.

[2016-01-05 09:49] #99 closed

[2016-01-05 10:15] snowleopard commented on #99
Also adding way-specific labels: `profiling`, `dynamic`, `threaded`, `debug`.

[2016-01-05 11:08] snowleopard commented on #84
I added a proper way to control `splitObjects` in `Settings/User.hs`:
[code]

[2016-01-05 11:27] snowleopard opened #100 "Refactor ways"
Currently we have two expressions `getLibWays` and `getRtsWays` defined in `Settings/Ways.hs`. They mirror `make` variables `GhcLibWays` and `GhcRtsWays`, respectively.

I propose to merge the expressions into one named `getWays`. We will then be able to use the standard `Predicate`-based mechanism to work with `rts`-specific ways. For example, the following expression tells us that by default we

[2016-01-05 11:29] snowleopard commented on #100
This should be done before #98.

[2016-01-05 11:40] angerman commented on #98
As `haddock` requires threaded rts, this can only be fixed, once #100 is done. In the meantime setting
[code]
in `Settings/User.hs`.

[2016-01-05 12:12] angerman opened #102 "Run Ghc Stage1 (package = iserv-bin) - duplicate symbol"
Now I'm stuck at `iserv-bin` with:
[code]
I'm a bit confused what `ghc_2.o` is.

[2016-01-05 12:14] angerman commented on #102
Here's the full `iserv-bin` log
[code]

[2016-01-05 12:16] angerman commented on #102
Symbols:
[code]

[2016-01-05 12:17] snowleopard commented on #102
Could it be related to `-no-hs-main` option?

[2016-01-05 12:21] angerman commented on #102
For reference, here's the full output from the build log (using make)
[code]

[2016-01-05 12:22] snowleopard opened #103 "Travis build fails on integer-gmp"
Excerpt from https://s3.amazonaws.com/archive.travis-ci.org/jobs/100326285/log.txt:
[code]

[2016-01-05 12:24] snowleopard commented on #103
This is what `make` complains about:
[code]

[2016-01-05 12:40] olsner commented on #103
I also ran into this when building on Ubuntu. The in-tree gmp is failing because its generated libtool script is using bashisms not available in plain /bin/sh.

integer-gmp should just link against the system-installed libgmp rather than building its own in-tree version when available. In the makefiles, integer-gmp's configure script detects if libgmp is installed and sets some variables via confi

[2016-01-05 12:42] angerman opened #104 "readlink -f not available on os x"
The `realink` provided by os x, doesn't support the `-f` flat of gnu's `readline`. This causes the `build.sh` script to be broken.

[2016-01-05 12:46] angerman opened #105 "iserv-bin requires a wrapper"
See #102. This is here, so we don't forget to implement the wrapper.

[2016-01-05 12:51] snowleopard commented on #103
Thanks @olsner! So, the solution is use a system `libgmp` if available. We had to add support for this anyway. Relevant files in the old build system are `libraries/integer-gmp/gmp/ghc.mk` and `libraries/integer-gmp/gmp/config.mk`.

[2016-01-05 12:52] #102 closed

[2016-01-05 13:02] #104 closed

[2016-01-05 19:29] snowleopard commented on #103
Ok, now Travis gets stuck earlier:
[code]
Somehow we failed to produce `libraries/integer-gmp/gmp/config.mk`.

[2016-01-05 20:59] snowleopard commented on #103
Hey! The last commit did it -- we've got a green light from Travis: https://travis-ci.org/snowleopard/shaking-up-ghc.

[2016-01-05 21:07] snowleopard commented on #103
After a more careful inspection, something is wrong: although Shake terminated successfully we clearly didn't build everything we wanted (we didn't even finish stage0).

This sometimes happens with cyclic dependencies. @ndmitchell, is this a known issue?

[2016-01-05 21:30] ndmitchell commented on #103
Definitely not known or expected.

[2016-01-05 22:40] snowleopard commented on #103
Right, after another attempt we have the following:
* The travis installation doesn't have gmp framework: see `No GMP framework detected` in https://travis-ci.org/snowleopard/shaking-up-ghc/builds/100450076
* We then proceed to build gmp, and fail in the same manner as described at the top of this thread

If I understand correctly, we have two options:
* Install gmp framework on travis before runn

[2016-01-06 01:17] snowleopard commented on #103
Looks like calling `make` with `MAKEFLAGS='LIBTOOL=bash\ libtool'` (see 375d41e) helps to overcome the libtool issue.

[2016-01-06 02:05] snowleopard commented on #103
This issue appears to be solved! Fingers crossed travis build will be successful.

[2016-01-06 02:05] #103 closed

[2016-01-06 03:44] angerman opened #110 "CI: Windows"
Setup CI for Windows builds using [AppVeyor](https://www.appveyor.com), which is Travis for Window I think.

[2016-01-06 03:47] angerman opened #111 "CI: Mac"
Travis allows to run on their os x infrastructure as well. See https://docs.travis-ci.com/user/workers/os-x-infrastructure/

[2016-01-06 05:30] angerman opened #113 "Move build products out of the ghc tree"
We've discussed this in #32 already when debating how to properly reset the build. So far we have depended on the build products being built _inside_ of the ghc tree, such that we could potentially use makes build artifacts during the build. As we now can build on Windows, OS X and Linux.

[2016-01-06 05:34] angerman opened #114 "libtool: cannot execute binary file"
The travis libtool fix, broke our build on os x.

[code]

[2016-01-06 05:59] angerman commented on #103
This breaks the build on os x :( See #112 and #114.

[2016-01-06 06:50] angerman opened #116 "Switch off warnings during build by default."
When building, we get *many* times warnings like:
[code]
I think this should be a user configurable option to switch ann `-Wall` during ghc compilation.
Or even better on a per package option. As it is right now, we clutter the build log with massive
amounts of data, that is not necessarily related to the build. I don understand that one wants
all warnings, when hacking on ghc itself, but for the

[2016-01-06 07:14] angerman opened #117 "Parallel builds fail"
I've had this multiple times now. Travis runs afoul of that as well :(
[code]
@snowleopard, @ndmitchell, can anyone of you provide hints on how to go about figuring out where we broke our dependencies, and how to fix it?

[2016-01-06 07:37] angerman opened #119 "Build time doubled"
Looking at Travis, somewhere between a33ab01 and now, the build time just doubled.

[2016-01-06 09:53] snowleopard commented on #117
Interesting, I'll deal with this.

[2016-01-06 10:24] snowleopard commented on #116
I agree, we better switch warnings for now. However, the idiomatic way of doing this is as follows:
[code]
I don't think we need a separate flag to control this.

@angerman Would you like to amend you PR #118?

[2016-01-06 10:26] ndmitchell commented on #117
The second seems to be from https://github.com/snowleopard/shaking-up-ghc/blob/ae6f58daa17dd6ba6bc81cbd19cc1a4f3e082ae8/src/Rules/Library.hs#L83, it seems a better formulation would be to always do `getDirectoryFiles`, and skip the `doesDirectoryExist` test. However, it seems plausible both ways round.

@angerman, were you editing the file IntegerGmp while building? If so, the first lint error is

[2016-01-06 10:31] snowleopard commented on #117
Yes, the first one is due to editing the file during the build.

I believe the second one comes from here: https://github.com/snowleopard/shaking-up-ghc/blob/ae6f58daa17dd6ba6bc81cbd19cc1a4f3e082ae8/src/Oracles/ModuleFiles.hs#L48. I'm now thinking what to do about it.

@ndmitchell I don't think we can do this: in some situations the folder does not exist: this depends on whether we actually build

[2016-01-06 10:41] #116 closed

[2016-01-06 10:51] #114 closed

[2016-01-06 11:02] ndmitchell commented on #117
`getDirectoryFiles "" [integerGmpObjects -/- "*.o"]` will be fine whether it exists or not. In contrast, `getDirectoryFiles integerGmpObjects ["*.o"]` will require the directory to exist.

[2016-01-06 11:13] snowleopard commented on #117
@ndmitchell Ah, indeed! Thanks, I simplified this now: ce8ffdb.

[2016-01-06 11:24] snowleopard commented on #111
I'll reopen this: see https://travis-ci.org/snowleopard/shaking-up-ghc/jobs/100553205. It seems that we don't have `clang` on travis:
[code]

[2016-01-06 11:27] snowleopard commented on #113
Agreed, it's time to start moving things around. Let me take care of this.

[2016-01-06 11:32] angerman commented on #111
They do. I'll check when I'm back home.

[2016-01-06 11:40] snowleopard commented on #111
Ah, I think I know the reason. We are missing `./configure --with-gcc=$(which clang)`.

[2016-01-06 12:01] snowleopard commented on #117
I think I found the issue. Fortunately it was just a missing order-only dependency on generated `ghcPrim` files: 41ecfdc. Let's see whether this fixes the issue.

[2016-01-06 12:08] snowleopard commented on #119
But travis never finished successfully before, how can we make comparisons? The success after `a33ab01` was a Shake bug as mentioned here: https://github.com/snowleopard/shaking-up-ghc/issues/103#issuecomment-169134123.

[2016-01-06 12:09] #119 closed

[2016-01-06 12:14] snowleopard commented on #110
OK, I'll look into this. Judging by @ndmitchell's `appveyor.yml` script for Shake this is not very difficult.

[2016-01-06 12:18] snowleopard commented on #110
On a second thought, Shake is tested on Windows natively, while GHC is built in MSYS2. I'll google for possible CI solutions for Windows + MSYS2.

[2016-01-06 12:38] angerman commented on #111
You are right. That could be the reason. On second consideration, I might have an idea how to fix that `clang` issue :-)

[2016-01-06 13:02] ndmitchell commented on #110
Appveyor comes with MSYS2, and even if it doesn't, you can install it yourself - I don't think that will be a problem.

[2016-01-06 13:04] ndmitchell commented on #110
In addition, Stack sets up MSYS2 properly and installs a GHC compiler - I don't think it should be too much more work to have Stack know how to compile GHC in some way. There's a ticket at https://github.com/commercialhaskell/stack/issues/1051 which might turn out to be the easiest route, and has lots of other benefits.

For info, if you did fix the Stack integration, things like https://github.co

[2016-01-06 13:07] snowleopard commented on #117
Hurray, we have a green light from Travis! :tada:

[2016-01-06 13:07] #117 closed

[2016-01-06 13:27] snowleopard commented on #110
Cool, I'll check it out. My familiarity with CI is about zero, so it might take a while. But it's useful to learn.

Right, that's another interesting approach. But then I don't know much about Stack either (but I heard it's awesome). It will also take some time to learn :-)

[2016-01-06 13:32] ndmitchell commented on #110
I might be able to help on the Stack side, since that's probably the way I'll have a go at following your instructions.

[2016-01-06 13:46] snowleopard commented on #110
Found this on `appveyor` website (https://www.appveyor.com/pricing):
[code]
At the moment we are already over 60 minutes on Travis, and we are still not building a lot of stuff (only vanilla way, no split objects, no haddock, etc.), so I guess `appveyor` is not an option.

Thoughts?

[2016-01-06 13:47] ndmitchell commented on #110
Can you build a subset? Perhaps just stage0? That gives you some confidence that it works a bit.

[2016-01-06 13:48] angerman commented on #110
I'd say, we should still give it a shot. Maybe it's faster on their machines? And if that still doesn't work, maybe talking to them helps ;)

[2016-01-06 13:49] snowleopard commented on #110
OK, agreed. We'll try a full build first and then may start pruning what we build.

[2016-01-06 22:32] ndmitchell commented on #110
I thought I'd take a crack at it building on top of Stack - all notes are approximate. Building on top of Stack seems like an easier way to go, because I hope the eventual GHC build instructions will be in terms of Stack one day. From a Windows shell do:

    stack exec -- pacman -S --noconfirm automake autoconf gcc perl binutils p7zip git tar patch
    git clone --recursive git://git.haskell.org/

[2016-01-06 22:40] snowleopard commented on #110
@ndmitchell Hmm, I'm actually building on mingw64, not mingw32, could it be the reason?

[2016-01-06 22:41] ndmitchell commented on #110
Certainly possible. Heading to bed now but I'll have another go in the morning.

[2016-01-07 00:10] snowleopard commented on #110
I keep hitting the following cabal error during `appveyor` builds:
[code]
The same happens when I run cabal outside bash but with a different exit code (not sure whether this matters). Any hints?

[2016-01-07 01:39] snowleopard commented on #110
I think the above issue is related to https://github.com/commercialhaskell/stack/issues/457.

[2016-01-07 01:48] angerman opened #124 "Separate Builders into internal and external to the build system"
As #26 illustrates, we might have builders that are external to the build system, and the build system, which the build *can not* produce and we have to rely on them to exist. I hence propose that we allow
Builders to be annotated with `external` or `internal`, and only call `need` on those that are `internal`. If someone (autoconf) says an external builder exists, let's just assume that is true.

[2016-01-07 01:55] snowleopard commented on #124
I agree, Builders are different and we should treat them differently.

Also at the moment we don't list all builders we use, for example, `configure`, `make`, `patch` and some others are called simply via `cmd`. We probably want a more coherent story. Let's discuss possible approaches here.

[2016-01-07 09:19] ndmitchell commented on #110
I was using the MinGHC `make`. I added that to the `pacman` install and got further.

I still get an awful lot of:

    fits_sint.c:1:0: warning: -fPIC ignored for target (all code is position independent)

Seemingly for every file in libgmp.

[2016-01-07 09:19] snowleopard commented on #110
@ndmitchell Hit by the `old-time` issue (https://github.com/ndmitchell/shake/issues/398) again:
[code]

[2016-01-07 09:21] ndmitchell commented on #110
In Stack the workaround is:

    echo "" | stack --no-terminal build

Basically, its trying to read from stdin, which is not connected. Try just the `echo "" |` part with Cabal?

[2016-01-07 09:22] snowleopard commented on #110
I'm using stack. The command is `stack install alex happy shake ansi-terminal mtl`. Shall I simply add `echo "" |` in front?

[2016-01-07 09:23] ndmitchell commented on #110
echo "" | stack --no-terminal install alex happy shake ansi-terminal mtl

[2016-01-07 09:26] snowleopard commented on #110
Thanks! Testing on appveyor now.

fits_sint.c:1:0: warning: -fPIC ignored for target (all code is position independent)
Seemingly for every file in libgmp.

I also get these warnings. I tried to find how to silence them (apparently these warnings are pretty much useless), but didn't manage yet.

[2016-01-07 09:27] ndmitchell commented on #110
Great, as long as my code is no worse than yours, I'm happy with that :) - continuing with the build now.

[2016-01-07 09:40] snowleopard commented on #124
One simple first step is to change `needBuilder` by running it only on `specified` builders:
[code]
I think this makes good sense, so I pushed it.
/cc #123

[2016-01-07 09:42] ndmitchell opened #125 "Missing touchy"
Error when running Shake build system:
    * utils/compare_sizes/stage1/build/tmp/compareSizes.exe
    * libraries/time/stage1/build/HStime-1.6.o
    * libraries/time/stage1/build/Data/Time/Format/Locale.o
    * libraries/base/stage1/build/Prelude.hi
    * libraries/base/stage1/build/Prelude.o
    * libraries/base/stage1/build/System/IO.hi
    * libraries/base/stage1/build/System/IO.o
    * librar

[2016-01-07 09:42] ndmitchell commented on #125
Windows 32bit

[2016-01-07 09:51] ndmitchell opened #126 "Undefined reference to adjustorCode"
Windows 32bit.

    Error when running Shake build system:
    * utils/compare_sizes/stage1/build/tmp/compareSizes.exe
    user error (Development.Shake.cmd, system command failed
    Command: inplace/bin/ghc-stage1.exe -hisuf hi -osuf o -hcsuf hc -static -hide-all-packages -no-user-package-db -package-id base-4.9.0.0 -package-id directory-1.2.5.0 -package-id filepath-1.4.1.0 -i -iutils/compare_si

[2016-01-07 09:54] snowleopard commented on #125
Confirmed. I use the same workaround, thanks for documenting the issue here.

I'm a bit confused why we need to build a separate program for this: GHC is supposed to be built in MSYS2, which does provide a standard `touch`. Can we ask GHC to use it instead?

[2016-01-07 09:59] snowleopard commented on #126
Right, this is something new to me.

File `src/Settings/Packages/Rts.hs` takes care of all options used when building various pieces of `rts`. Some of them are still not implemented and are commented out below the code. I can see that `Adjustor` actually needs special treatment:
[code]
Maybe this is the reason.

[2016-01-07 10:00] ndmitchell commented on #126
From a quick grep I see that Adjustor is in assembly:

    rts/AdjustorAsm.S:adjustorCode:

I imagine that's part of it at least.

[2016-01-07 10:01] ndmitchell commented on #125
I suggest copying the hack to start with, and later deciding if we can get away without it. Note that GHC ships touchy in the installed version, so it may have further uses later on.

[2016-01-07 10:09] snowleopard commented on #126
Oh, we still don't deal with `*.S` files in any way. I wonder why we didn't need this on Linux (Travis) or on my Windows installation.

[2016-01-07 10:10] ndmitchell commented on #126
That does seem a bit weird - I don't see where else it could be getting adjustorCode from... Or maybe there are #ifdef's that only make it relevant on Windows 32bit.

[2016-01-07 10:12] ndmitchell commented on #126
#if defined(i386_HOST_ARCH)
    extern void adjustorCode(void);

So only a 32bit issue.

[2016-01-07 11:02] angerman opened #127 "Travis-CI: Why does the cache not work?"
Maybe I'm missing something, but it appears as if we run
[code]
each and every time. Does `cabal` ignore the cache, or does the cache somehow not work?

[2016-01-07 12:39] snowleopard commented on #125
I decided to fix this now, because this will likely also be an issue on appveyor (#110).

[2016-01-07 13:11] #125 closed

[2016-01-07 13:14] #26 closed

[2016-01-07 13:14] snowleopard commented on #125
@ndmitchell Please test if the fix works for you.

[2016-01-07 13:31] snowleopard commented on #125
Ahh, touchy is naughty:
[code]
I need to build it only on Windows. Easy to fix.

[2016-01-07 14:53] ndmitchell commented on #110
I'm currently getting weird failures to download files from Appveyor on another project, it may be that Appveyor is having a wobble today and that investigating another day might be wise.

[2016-01-07 14:59] snowleopard commented on #125
Now tested on Windows and Linux (successful Travis build: https://travis-ci.org/snowleopard/shaking-up-ghc/jobs/100820663)

[2016-01-07 15:00] ndmitchell commented on #125
Works for me too.

[2016-01-07 15:50] snowleopard commented on #127
Here is what I noticed at the end of a successful linux build: https://s3.amazonaws.com/archive.travis-ci.org/jobs/100807773/log.txt.
[code]

[2016-01-07 17:13] quchen commented on #127
I've been wondering the same. The cache *should* simply upload stuff from the build, and download it before the next one again. In that case, Cabal shouldn't run again.

[2016-01-07 18:36] ndmitchell opened #130 "Use the extra library"
A number of functions in Base.hs are very similar to ones in the extra library, for example chunksOfSize is [chunksOf](https://hackage.haskell.org/package/extra-1.4.3/docs/Data-List-Extra.html#v:chunksOf), replace is there as [replace](https://hackage.haskell.org/package/extra-1.4.3/docs/Data-List-Extra.html#v:replace), wordsWhen is [wordsBy](https://hackage.haskell.org/package/extra-1.4.3/docs/Da

[2016-01-07 19:29] snowleopard commented on #130
Actually we do use the `extra` library already, see `import Control.Monad.Extra` in `Base.hs` for functions like `whenM` etc. I think I just didn't manage to find the right functions.

So, please do create a pull request!

[2016-01-07 23:17] snowleopard commented on #111
After these two fixes we have a working Mac CI: 03b3379, b67f727.

The latter one reduces the build time beyond 50 min (hard limit for OS X) by requiring `base` library as the main target.

[2016-01-07 23:17] #111 closed

[2016-01-07 23:55] snowleopard commented on #126
@ndmitchell I've committed a first step towards a full solution. It covers only `*.S` files in `rts`. Could you please test?

[2016-01-08 01:31] angerman commented on #130
Ohh wow. Now I feel rather stupid for not finding `wordsBy`. :+1:

[2016-01-08 01:32] angerman commented on #127
ok. *maybe* we do not produce a cache until we have a successful build, and as we did not have any successful mac build, we never produced any cache?

[2016-01-08 01:33] snowleopard commented on #127
@angerman We now have a bunch of successful builds: https://travis-ci.org/snowleopard/shaking-up-ghc/builds.

[2016-01-08 01:49] angerman commented on #127
Alright, it's not available for OS X yet. See https://github.com/travis-ci/travis-ci/issues/4011#issuecomment-120001089

[2016-01-08 01:49] angerman commented on #127
So we can probably just close this.

[2016-01-08 01:49] #127 closed

[2016-01-08 02:00] #22 closed

[2016-01-08 02:01] snowleopard commented on #22
I think we can close this now. If anything is broken with `rts` please raise a separate issue.

[2016-01-08 02:03] snowleopard commented on #33
I'll close this. Imports/reexports are much more sane now thanks to #36.

[2016-01-08 02:03] #33 closed

[2016-01-08 06:51] ndmitchell opened #131 "Add a clean target"
A `phony "clean"` which removes everything would be very useful to test issues where the build system is likely reporting an old issue and needs a wipe.

[2016-01-08 07:22] angerman commented on #131
Just linking #32 here. Ha. Almost 100 issues in-between.

[2016-01-08 07:38] angerman opened #132 "Read User.hs values from external configuration file"
Assume I want to build ghc in two flavors. Now I could either copy User.hs and produce two versions that capture what I want, or we could allow to specify a configuration file, that is read. YAML maybe?
Thoughts?

[2016-01-08 07:40] angerman opened #133 "Add option to add flags onto to certain packages"
Say I'm building GHC, but I'm specifically interested in a certain package. I might want to pass arguments  / flags onto that specific package. (E.g. `-Wall`), but not to every package.

[2016-01-08 07:44] angerman opened #134 "Advanced render box styles"
Currently, when using render box, we are bound to use five lines for each invocation. I propose we abstract render box in a way such that we can either render the box as is right now, or produce a single line condensed output. E.g.
[code]
And preferably let this be controlled through a `--style=short` or `--style=box` or similar. That way we could also reduce the logs travis produces.

[2016-01-08 07:46] angerman opened #135 "Completely quiet build?"
As mentioned about `styles` in #134, can we tune the output such that there is *no* output, or maybe some progress indication (say, print a single "." for each event), and only have proper output if something breaks? So that logs are not so cluttered with success information, if one is interested only in the failures?

[2016-01-08 09:02] ndmitchell commented on #131
100 issues or 15 days - you guys are moving fast!

[2016-01-08 09:03] ndmitchell commented on #131
For info, if you delete `shake-files/.db` then Shake considers everything dirty and tries rebuilding it, which is a reasonably good way to test the build system.

[2016-01-08 09:05] ndmitchell commented on #132
I think the design is that you should be able to make your Users file conditional on command line arguments, then you can have one Users file which operates in two different modes.

[2016-01-08 09:29] angerman commented on #131
:100:

I'm running
[code]
to be on the safe side :)

[2016-01-08 09:34] angerman commented on #132
@ndmitchell care to explain a bit more?

I see two possible approaches:

- For each option in Users have a potential command line argument. This ends up being
[code]

- Allow for a configuration file (e.g. similar to the `Flavour`s in the `mk/build.mk` files are). And then allow something like the following:
[code]
  where there is a folder `flavours` that contains some plain text configuration fi

[2016-01-08 09:38] ndmitchell commented on #132
@snowleopard will know better than me, but I think the plan is to allow you to write in Users:

    when (flavour "quick") $ setFlags cc "-O0"
    when (flavour "sse") $ setFlags cc "-msse2"; setFlags hs "-fmsse2"

Not the right syntax, but it should give a hint about the intention. That way you can do full customisations in User, and select which package of optimisations you want from the command

[2016-01-08 09:42] angerman commented on #132
@ndmitchell thanks for clearing that up. The design space here seems to be quite big :-)

[2016-01-08 10:16] ndmitchell commented on #131
Can we add that to the readme, or as a target "superclean" - agreed it's probably too paranoid, but useful to know.

[2016-01-08 11:26] snowleopard commented on #133
This can already be controlled very precisely in `Settings/User.hs`, for example:
[code]
If you change `userArgs` and run the build script, _all and only affected rules will be rerun automatically_.

In future it will also be possible to control settings from command line, as discussed in #132.

Let me know if you still think this is an issue, but it looks like this can be closed.

[2016-01-08 11:27] #133 closed

[2016-01-08 11:30] snowleopard commented on #131
As soon as we handle #113 this issue should be straightforward to implement.

[2016-01-08 11:34] snowleopard commented on #135
We are currently printing all build info using Shake's `putNormal`, see `src/Base.hs`.

@ndmitchell Is there a flag to pass to a Shake script that will silence all `putNormal` commands?

[2016-01-08 11:37] angerman commented on #135
@snowleopard there is `-q`. Am I answering my own question? Ugh...

[2016-01-08 11:39] angerman commented on #133
This needs to be documented! @quchen you up for the task?

[2016-01-08 11:41] snowleopard commented on #134
Yay, the output style inventions continue! :+1:
If we combine this proposal with @bgamari's one in #92 we get three potential styles already:
* `--style=normal`: the current implementation, default.
* `--style=brief`: the single line approach proposed here.
* `--style=pony`: @bgamari's messenger pony mode.

@angerman Feel free to self-assign :-)

[2016-01-08 11:42] angerman commented on #135
One still get's a lot of output from subcommands. And there's no indication if something is still happening. But maybe one could implement this in shake, such that a `.` is printed for each rule? @ndmitchell what do you think?
@snowleopard use `-q` and close this?

[2016-01-08 11:43] angerman commented on #134
It will need some rewiring though, such that the semantics of the box are captured to be formatted according to style.

[2016-01-08 11:45] snowleopard commented on #134
I edited my comment: we actually have 4 styles if #135 is taken into account. I also think `--build-info` is probably a better name (this can be finalised later of course).

[2016-01-08 11:48] snowleopard commented on #135
OK, let me close this: indeed `-q` is what I meant.

Regarding printing `.` for each command: this may be just another style `dot` to add to #134.

[2016-01-08 11:48] angerman commented on #134
The big issue with `none` (#135) is, that you still want to capture enough output in case something goes horribly wrong,  so you have an idea where to look. For this the error messages need to be informative enough. This is going to be a fun issue. I suggest we go wit `--build-info` `normal`, `brief`, `pony` first and then try to see how to do `none`. I always wonder if `pony` would be the error c

[2016-01-08 11:51] snowleopard commented on #134
Yes, it's unclear at this point how to handle `none` properly.

By the way, I also added style `dot` in my comment to have everything in one place.

[2016-01-08 11:51] ndmitchell commented on #135
There are general plans for Shake to have more concise output modes, see https://github.com/ndmitchell/shake/issues/18

[2016-01-08 11:51] #135 closed

[2016-01-08 11:58] snowleopard commented on #132
I agree with @ndmitchell's comment: the plan is to put all logic into `Settings/User.hs` and also perhaps `Settings/Default.hs` and use command line to pass flags to this logic.

We can start tackling this issue by coming up with a clean way to pass command line flags to `Settings/User.hs`. There may be nasty import loops along the way.

[2016-01-08 18:39] snowleopard opened #137 "Linux build occasionally fails on Travis"
I noticed this several times already: https://travis-ci.org/snowleopard/shaking-up-ghc/jobs/101115360.
[code]
Not sure what happens yet, can't reproduce on Windows.

[2016-01-08 21:02] ndmitchell commented on #126
Works for me, managed a complete GHC build on 8 cores in 21 minutes.

[2016-01-08 21:02] #126 closed

[2016-01-08 22:39] snowleopard commented on #126
Great! But strange: there are still a bunch of `*.S` files that I don't handle.

[2016-01-09 07:02] ndmitchell commented on #126
I guess that's the only one required on Win 32.

[2016-01-09 08:15] angerman commented on #130
What happened to this? @ndmitchell you still on this, or should I give it a go?

[2016-01-09 08:16] ndmitchell commented on #130
Go for it. I might get some time Tuesday, but happy for you to do it before then, or leave it to you if you prefer.

[2016-01-09 08:26] angerman opened #139 "Rid ghc of (literate) perl?"
Tasks:
- [x] rewrite `driver/split/ghc-split.lprl` in haskell
  - This has already been done by @Mistuke, see https://ghc.haskell.org/trac/ghc/ticket/9832
- [ ] drop `Unlit` from the build system
- [ ] drop `Perl` from the build system
- [x] Optinally rewrite `utils/count_lines/count_lines.lprl` in haskell
- [ ] push changes upstream into `ghc` through phabricator
##

ghc has two literate perl fil

[2016-01-09 08:28] ndmitchell commented on #139
I would one day like to get rid of all the perl and much of the shell script, folding a lot into the Haskell build system. Note boot is perl, without any extension.

[2016-01-09 08:33] angerman commented on #139
@ndmitchell yes, absolutely! The amount of extra complexity (wrappers, build-perl) we added to the build system is really sad.  I guess it's there for history reasons, and because make has it's limits as well.

But getting rid of `count_lines.lprl` (which isn't even really `literal` to begin with; it only has `\begin{code}` and `\end{code}`.) and `ghc-split`, which then later could be rolled into

[2016-01-09 08:43] ndmitchell commented on #139
Yep, seems sensible to me. Although may require changes to real GHC, and thus beyond this repo?

[2016-01-09 08:52] ndmitchell commented on #139
Perhaps commit non literate versions here for now, and then upstream to GHC later? An upstream dir in this repo?

[2016-01-09 09:04] angerman commented on #130
Alright, looking into this. `wordsBy` seems identical to `wordsWhen` and `replace` also do the same. (Except `Extra` defines a corner case as undefined, in which the `replace` in `Base` produces infinite amounts of data).

I'm not certain `chunksOf` and `chunksOfSize` are the same. But I also don't think `chunksOfSize` works as expected :(

As far as I understand `chunksOfSize` is suppose to take

[2016-01-09 09:09] ndmitchell commented on #130
Yep, chunksOf looks entirely different - I was mislead by the name.

[2016-01-09 09:10] angerman commented on #139
Yep. That would be the idea, replace `ghc-split` and `count_lines` by haskell packages here, and then initiate the upstream if we know it works for us :)

[2016-01-09 09:11] angerman commented on #81
This would be fixed with #138

[2016-01-09 09:35] angerman opened #141 "Ar blows up with split objs"
Separately noting down the `ar` issue from #138.
[code]
that's simply too much for ar.

Looking through the make system. `SplitObjs` seems to be almost always set to `NO`. Except for perf, perf-llvm and perf-cross flavours. It is also disabled for all bootstrap packages.

[2016-01-09 09:43] angerman commented on #141
As @ndmitchell mentioned in #138, one can use `ar` with a file. This is also apparently what the make system uses: all objects are put into a `.contents` files (e.g. `libHStemplate-haskell-2.11.0.0.a.contents`), which is then fed into `ar` using `xargs` before being deleted. E.g.
[code]

[2016-01-09 09:46] ndmitchell commented on #141
Using xargs is not going via a file, it goes via the command line, albeit with some file redirection in the middle.

[2016-01-09 09:52] angerman commented on #141
I guess the issue is that `ar` on `osx` at least doesn't support `@`.

I also wonder why we only provide `q`ick, and not `c` (archive silently) and `s` (add object-file index)?
`l` seems to be just ignored on `osx` and `linux`.

Interesting that we just hit the code with `chunksOfSize`, which is used in `arCmd`. Maybe we can get rid of the `useSuccessiveInvocations` function and of `chunksOfSize`

[2016-01-09 09:54] ndmitchell commented on #141
Xargs does nothing to increase the limit. I suggest @ on platforms that support it and the other approach where not. Xargs is only to make make easier, not any fundamental reason.

[2016-01-09 09:54] angerman commented on #141
Looking at `rules/build-package-way.mk`, where we find:
[code]
I believe we can.

[2016-01-09 09:55] ndmitchell commented on #141
Although note that Linux and Mac may have large enough command line buffers to not worry.

[2016-01-09 09:58] angerman commented on #141
@ndmitchell hmm. I just ran into precisely this issue on mac `5402` arguments. Then, reading through the documentation for `xargs` makes me believe `useSuccessiveInvocations` is precisely what `xargs` does.

So we might find the issue lies with the computation of the chunk size?

[2016-01-09 09:59] angerman commented on #141
Hmm... Ok.
[code]

[2016-01-09 10:01] angerman commented on #141
Going through `xargs` hence just moves the computation of the command line length to `xargs`.

[2016-01-09 10:05] angerman commented on #141
Another archeological find:
[code]
in `mk/config.mk`

[2016-01-09 10:12] ndmitchell commented on #141
I didn't realise xargs did splitting, useful!

[2016-01-09 10:14] angerman commented on #141
Digging through `aclocal.m4` we also find why we use only `q`.
[code]

[2016-01-09 10:14] angerman commented on #141
Alright. I think I know enough now. To try and fix this with `xargs`.

[2016-01-09 10:28] angerman commented on #141
@ndmitchell mind me asking how to supply the `input` correctly with shake? Use `(StdIn ?)` or is there a different better approach? Using `<` is likely not what I'm looking for, I guess?

[2016-01-09 10:33] ndmitchell commented on #141
Use Stdin.

[2016-01-09 10:50] angerman commented on #141
Now, this took an interesting turn:
[code]

[2016-01-09 10:56] ndmitchell commented on #141
Now that is what I expected based on my understanding of xargs (which may indeed be wrong)

[2016-01-09 11:00] angerman commented on #141
This however is what success with the make build:
[code]

I'm going to save the contents file this time for inspection.

[2016-01-09 11:07] ndmitchell commented on #141
You also have different arguments to ar. Contents file is a good plan.

[2016-01-09 11:10] angerman commented on #141
That was also my first hunch that maybe one of the other flags to `ar` would be responsible. Sadly though, that was not the case. So either the make system builds a pruned contents file, and somehow managed to wiggle into the argument length, or there's something else going on, which I do not yet have any idea how to track down.

[2016-01-09 11:21] ndmitchell commented on #141
In our work build system we have a smart piece of code that picks the optimal directory to change to and then minimises the objects with shorter relative paths. Can save huge if all the prefixes are the same.

[2016-01-09 11:40] angerman commented on #141
`libHSghc-prim-0.5.0.0.a.contents` contains `3651` lines.
and
`libHStemplate-haskell-2.11.0.0.a.contents` contains `5402` lines.
and the entries are qualified relative to the build directory (e.g. `libraries/tempalte-haskell/...`)

Hmm maybe `xarges` running through shake fails to obtain the proper ARG_MAX? Or maybe it makes a difference running through the shell? This is very strange.

[2016-01-09 11:59] snowleopard commented on #141
So, let me summarise what happens here:
* `ar` doesn't support `@file` on OS X
* Withough `@file` we hit a command line limit on OS X

The first thing to is to change `cmdLineLengthLimit`: detect that we are running on OS X and return appropriate command line length limit. Function `useSuccessiveInvocations` should then take care of this. @angerman Have you tried this?

[2016-01-09 12:06] angerman commented on #141
@snowleopard I am right now. But the fact that `ghc`'s `make` base build system used `xargs` successfully, and I could not with the `shake` base build system, piqued my curiosity. Though I must admit, I have failed to figure out what the reason ist.

We can compute the `cmdLineLengthLimit` if `getconf` is supported using `getconf ARG_MAX`. (`xargs` apparently subtracts `4096` for good measure).

F

[2016-01-09 12:10] angerman commented on #141
Ok. this didn't work either.
[code]
yet
[code]

[2016-01-09 12:13] snowleopard commented on #141
@angerman Can you check the actual length of the command line we use? Maybe play with the limit, e.g binary search the limit that works?

[2016-01-09 12:15] #130 closed

[2016-01-09 12:34] angerman commented on #141
Well, well, well... something is *really* weird:
[code]
so the total length of the arguments is `250278`, which should fit into `262144 - 4096`.

What *does* work is `262144 - (9 * 4096)`. The correct value is probably somewhere in between, but I'm still confused about this.

[2016-01-09 12:42] snowleopard commented on #141
OK, the command line length quirks don't surprise me, I also had fun looking for a limit on Windows.

The `ranlib` problem is new to me. No idea what's going on.

[2016-01-09 12:43] angerman commented on #141
I guess we can ignore the `ranlib` note. That one's also there if it goes through.

[2016-01-09 12:44] snowleopard commented on #141
Ah, good. So does this mean you solved this issue?

[2016-01-09 12:46] angerman commented on #141
I've homed in this far:
[code]

[2016-01-09 12:47] angerman commented on #141
we are now at:
[code]

[2016-01-09 12:51] angerman commented on #141
So the questions remains: what takes up `33166` parts of the input?

[2016-01-09 12:52] snowleopard commented on #141
Impressive! Please add a note that the constant you choose comes from experiments.

Also, looking at the above snippet:
[code]
I think we shouldn't change the default `4194304`, but handle OS X in a special way, similarly to Windows. Other limits may be discovered later on different platforms. To detect OS X you can use `anyHostOs ["ios"]`. Maybe it's worth to have it as a separate function, simil

[2016-01-09 12:54] snowleopard commented on #141
I think `ar` does something bad internally. We are probably not breaking the command line length limit here, see:
[code]

[2016-01-09 12:54] angerman commented on #141
Well, the subtraction of `33166` comes from experiments, which I usually don't trust.
The `262144` comes from

[code]

which apparently has been the same for the last 5 os x iterations.

[2016-01-09 12:55] angerman commented on #141
I still don't get why `make` with `xargs` has no problem with this.

[2016-01-09 13:05] snowleopard commented on #141
Maybe `xargs` is more conservative with length limits? Is there a way to find out what length it uses in this case?

[2016-01-09 13:47] angerman commented on #141
@snowleopard the weird thing is, I tried the same command `make` uses with `xargs` through `shake`. The only difference being the `< file`  for `make` where `shake` got the `stdin` through `(Stdin contents)`.

[2016-01-09 14:08] #82 closed

[2016-01-09 14:08] #83 closed

[2016-01-09 14:08] #84 closed

[2016-01-09 14:08] #141 closed

[2016-01-09 14:19] snowleopard commented on #139
Sounds good to me! I'd be happy if we could get rid of perl bits. By the way, so far we didn't need to use `count_lines`, so maybe we won't need it at all?

[2016-01-09 14:28] snowleopard commented on #130
[...]
 chunksOfSize however blows up if one of the elements in the list exceeds the given size.

@angerman Well spotted! Shall we throw an error instead? I don't think we can produce any meaningful result in this situation. Is this blowup your only concern about the current implementation?

By the way, I think we better move `chunksOfSize` from `Base.hs` to `Settings/Builders/Ar.hs` as it is not u

[2016-01-09 14:43] bgamari commented on #141
Moritz Angermann <notifications@github.com> writes:

The typical way around Windows' pathetically small argument list limit
is to use a response file. It seems that `ar` supports this with the
usual `@` argument.

Cheers,

- Ben

[2016-01-09 15:34] snowleopard commented on #141
@bgamari We do use `@file` whenever `ar` supports it.

[2016-01-09 17:10] snowleopard commented on #81
I tested this on Windows. Also Travis Linux is happy about it.

[2016-01-09 17:10] #81 closed

[2016-01-09 21:43] ndmitchell opened #143 "Turn off variable shadowing warning"
I've always felt this warning was actively harmful. Looking at the code, I can see places where you have actively harmed your code to adhere to it :(

    digest list = case list of
        []  -> "none"
        [x] -> x
        xs  -> head xs ++ " (and " ++ show (length xs - 1) ++ " more)"

In any normal code I would expect `digest xs`, but then you get name shadowing - a harmless situation, but

[2016-01-10 00:16] snowleopard commented on #143
To be honest I never found it difficult to fix this warning if need be. I do agree that in most cases it doesn't actually highlight an error, although on rare occasions I found it useful.

In the above example, I find that `digest list` actually reads better, but only marginally, so I don't mind to accept the change you proposed in #144.

Can you elaborate? I may underestimate the harm. My current

[2016-01-10 03:20] snowleopard commented on #110
OK, we now have Windows CI testing build of stage1 compiler: https://ci.appveyor.com/project/snowleopard/shaking-up-ghc/build/1.0.133.

We're very close to the time limit of 1hr, so we may need to optimise the build further.

[2016-01-10 03:20] #110 closed

[2016-01-10 05:03] snowleopard commented on #113
I moved most build artefacts to `buildRootPath = ".build"` which can be changed in `Settings/User.hs`. An example command invocation:
[code]
This is still work in progress and there are a few temporary hacks.

The remaining bits are: `gmp`, program binaries, package configuration folders such as `libraries/bootstrapping.conf`, generated files in `includes`, and files produced by `ghc-cabal` (e.g.

[2016-01-10 07:45] ndmitchell commented on #143
I often use variable shadowing to reduce the possibility of error. For example, in digest, if you use xs as the scrutinee and the test then you can guarantee in the alternative that you don't refer to the wrong variable, since it's shadowed. It's even more useful in large monadic blocks to avoid things you have "updated".

I generally find it to be annoying and make my code less robust, so always

[2016-01-10 08:16] angerman commented on #143
The two sides of this coin we are discussing are the following, if I understand correctly:

- One the one side (and I think this is the intended warning for the warning), you want to prevent using variables you think refer to something in a more global scope but you accidentally shadowed it by a local binding you might not have noticed to have done so actually. In this case it prevents a case of h

[2016-01-10 09:10] angerman opened #145 "Build fails: compiler/prelude/primops.txt.pp:76:10: fatal error: 'ghc_boot_platform.h' file not found"
I guess this is due to the recent changes towards fixing #113. I'll just document this here, so it doesn't get lost.
[code]

[2016-01-10 09:13] angerman opened #146 "Tests for the build system?"
Alright, this is pretty broad. And I have no idea how to approach this. These days many use tests (quickcheck, hspec, ... )

- I guess we could on the one hand, verify our *internal* functions, e.g. in `Base`? What do you think @snowleopard, would that make sense? If so, I could try to cut my teeth on getting this in.

- On the other hand, can we somehow prove / verify some that he build system do

[2016-01-10 09:22] ndmitchell commented on #146
Most of the internal functions are pretty simple - a few explicit test cases is probably plenty and keeps the dependencies down (currently quickcheck won't compile with GHC head so you don't want to depend on that).

For the build system, use lint and that's about it. They are very difficult to test.

[2016-01-10 09:22] angerman opened #147 "Define a rough roadmap?"
By @ndmitchell recent tweet about the speed of shake's ghc build, and our set of issues, should we define a rough roadmap and add milestones to the project to focus on the relevant tasks to get to a certain milestone?

Say:
- [x] Milestone 0
  - [x] manage to compile `ghc` with shake.
- [ ] Milestone 1
  - [ ] Remove build products from the source tree
  - [ ] Implement Vanilla way
  - [ ] Haddock

[2016-01-10 09:26] angerman commented on #146
@ndmitchell What got me thinking was `chunksOfSize` from yesterday :-) How would you go about testing this trivially? Sorry for asking so naïvely.

[2016-01-10 10:15] ndmitchell commented on #146
Quickcheck plus a few examples at extreme values and typical values is the default answer. Since quickcheck causes dependency headaches here, if just for skip the quickcheck part.

[2016-01-10 10:32] ndmitchell commented on #147
I tend to find a ticket for each one plus milestone tags tends to work better - each item may be a considerable amount of work/discussion.

[2016-01-10 10:34] ndmitchell commented on #147
In act, I'd just have a "required" tag and let the work flow in the order that makes sense, rather than milestoning.

[2016-01-10 11:25] angerman commented on #147
Ohh, don't get me wrong @ndmitchell I actually meant using githubs Milestones. The checklist above was just supposed to be a general overview of how a rough roadmap could look. I think we have for most of the mentioned items already issues, hence only roadmap tickets would need to be assigned those existing issues (potentially missing issues created) and this issue could be closed then. I do **not

[2016-01-10 11:28] ndmitchell commented on #147
That all makes sense.

I suspect that if the abstractions underneath are solid then speed of new features keeps going up (unlike make where additional complexity keeps slowing you down), so it might not take as long as you think :)

[2016-01-10 12:07] angerman commented on #147
@ndmitchell are you advocating to shoot for week based milestones, then ;-)

[2016-01-10 12:08] angerman commented on #105
And it also requires to build `p` and `dyn` versions.

[2016-01-10 12:11] snowleopard commented on #145
I think I found the reason: wrong include path passed to some builders (`-Icompiler/stage1`).

The above commit should fix it.

[2016-01-10 12:14] snowleopard commented on #105
Just for the record: I think `profiling` might works already (it's currently disabled not to slow down test builds), and `dynamic` is handled in this unbelievably old issue: #4.

[2016-01-10 12:17] angerman commented on #145
Ok. This one is fixed.

[2016-01-10 12:17] #145 closed

[2016-01-10 12:18] angerman opened #148 "No rule / file: libraries/ghc-boot/stage0/build/GHC/PackageDb.hi"
Here's the lastest issue the build on mac chokes on:

[code]

[2016-01-10 12:20] snowleopard commented on #148
Argh. Sorry for breaking so many things, should have tested the `.build` stuff more rigorously.

[2016-01-10 12:21] angerman commented on #105
Ohh, what I meant was that the `ghc.mk` for `iserv` does some really weird stuff. It basically add's `iserv` in dynamic and profiling to the targets. The `ghc.mk` looks like this:

[code]

[2016-01-10 12:23] angerman commented on #148
I'll just keep reporting. But this got me thinking, how about you use a `branch` for something like this next time, so `master` stays stable? I'm happy to test branches and report issues :) Just let me know which branch you want tested :D (travis and appveyor) builds will happen anyway, I assume.

[2016-01-10 12:25] snowleopard commented on #148
@angerman I agree, I'll follow that route next time I'm doing a potentially breaking change.

[2016-01-10 12:27] angerman commented on #139
Updated the comment to add the subtasks.

[2016-01-10 12:40] snowleopard commented on #148
I can reproduce this now, but the reason is unclear. Somehow `ghc -M` still points to `.hi` files in old build hierarchy. Here is the command line:
[code]
I don't see where I screwed up: all paths seem to point to `.build`.
Still the produced `.hs-dependencies` file contains the following:
[code]
So, some paths are correct (`.build/stage0/utils/ghc-pkg/build/Version.hi`) but others are not (`libra

[2016-01-10 12:43] snowleopard commented on #148
Within package dependency paths appear to be correct, but those referring to other packages in the system are broken.

[2016-01-10 12:45] snowleopard commented on #148
Here is a line from `libraries/bootstrapping.conf/Cabal-1.23.0.0.conf` that may be responsible:
[code]

[2016-01-10 12:48] snowleopard commented on #148
The only workaround I see without fixing `ghc-cabal` first is to post-process `.conf` files fixing the paths.

[2016-01-10 12:51] angerman commented on #139
Ohh! @ndmitchell unearthed the following related ghc ticket on Twitter
https://ghc.haskell.org/trac/ghc/ticket/9832

cf: https://twitter.com/ndm_haskell/status/686101954301440000

Maybe we should just let this be and wait for 8.2?

[2016-01-10 13:34] snowleopard commented on #139
I think it may be reasonable to wait. That is if this indeed happens in 8.2.

[2016-01-10 14:01] snowleopard commented on #146
@angerman Tests are welcome, of course!

@ndmitchell Could you clarify the Quickcheck issue? We do depend on it already, transitively, via Shake. I think we can rely on the bootstrapping compiler here (not GHC head), can't we?

[2016-01-10 14:04] ndmitchell commented on #146
Shake only requires QuickCheck for the test suite, so a default install won't require it. I imagine building the build system with stage3 will be desirable at some point? Or maybe it doesn't matter.

[2016-01-10 14:04] snowleopard commented on #105
Interesting! I think to implement all `iserv` wrappers we still require `profiling` and `dynamic` ways to work, right?

[2016-01-10 14:13] snowleopard commented on #146
Building the build system with stage3 sounds cool, but I guess this step can just be skipped in case QuickCheck is broken on GHC head (which I presume is just a temporary issue).

I don't think we should avoid QuickCheck just for this reason. Let's use it, writing all test cases by hand feels outdated :-)

[2016-01-10 14:26] snowleopard commented on #148
Right. I pushed the fix. Let's see if this is enough to clean up the mess.

[2016-01-10 14:32] ndmitchell commented on #146
Yep, temporary.

[2016-01-10 14:44] snowleopard commented on #147
Thanks for bringing this up! I've been thinking about adding milestones for some time now.

I'd like the first milestone to cover the following:
* Move build targets into a separate folder #113.
* Add a clean target #131.
* Refactor ways #100.
* Make sure `profiling` way works.
* Refactor builders #124.
* Add a high-level overview of how the build system works #56.

Once the above is ready I will

[2016-01-10 14:59] snowleopard commented on #143
OK, let's switch the warning off. I never used shadowing purposefully, but this may indeed be useful. My Haskell coding style is not yet settled and my preferences are vague (I'm a newbie), so I can switch from one to another and see how it goes.

@ndmitchell Could you do this as part of you PR?

[2016-01-10 15:24] snowleopard commented on #148
OK, seems to pass CI.

[2016-01-10 15:24] #148 closed

[2016-01-10 21:18] ndmitchell commented on #147
That's a superset of what I'd consider essential in the first pass (all the patches marked refactor don't seem essential, neither does profiling or command line args to Settings) - but certainly no harm in doing more.

[2016-01-10 21:39] snowleopard commented on #147
@ndmitchell The refactor patches better be done before writing an overview, because they simplify things. They are not very time consuming. I agree about `profiling` and command line args: they can be skipped if they turn out to be more difficult then I think.

[2016-01-10 22:54] #143 closed

[2016-01-11 01:32] angerman commented on #147
Alright then, let's decide on Release Milestone names. Should we go with something boring like sequential numbers, or should we use some date based milestones, or some fantasy names?

@snowleopard I'm working on that *very* high level documentation, which I hope is independent on those refactor patches.

On the question whether or not this will go directly into ghc, my impression was that we'd be

[2016-01-11 01:39] angerman commented on #146
Okay, I don't get the stage3 idea. Just my recap:

- Stage 0: The external pre exiting compiler
- Stage 1: The compiler built with the bootstrap compiler targeting the target architecture.
- Stage 2: The compiler build with the stage 1 compiler built on and targeting the target architecture.
- Stage 3: ?

Does quick check have to run with the actual stage1 or stage2 compiler every time? Wouldn't q

[2016-01-11 01:40] angerman commented on #105
@snowleopard that's how I would understand this. We are forcefully building `iserv` with `profiling` and `dynamic` way.

[2016-01-11 01:48] angerman commented on #139
My understanding is that `-split-objs` is going to be replaced by `-split-sections`, which is currently blocked on `--gc-sections` support in `binutils`. It does add quite a bit of complexity and dependencies to the build system. In any case the whole idea behind `-split-objs` is to get away with a smaller resulting product. Now, maybe we can get away with completely dropping the `-split-objs` sup

[2016-01-11 02:02] snowleopard commented on #146
As I understand stage3 compiler is sometimes built just as a self test. One could also try to build the build system with it, also as a self test. Maybe @ndmitchell had anything else in mind, beyond self testing?

Correct.

[2016-01-11 02:11] snowleopard commented on #113
Coming across some limitations unfortunately. For example:
[code]
For some reason `compiler\HsVersions.h` includes a generated file directly `../includes/ghcautoconf.h`, not relying on `-I` paths. This forces me to keep a copy of generated file in `includes` folder.

Does anyone know the reason for `#include "../includes/ghcautoconf.h"`? Shall this be fixed in GHC?

[2016-01-11 02:15] angerman commented on #146
Shouldn't we then also run the test suite with he compiler that we use to actually compile the code? Otherwise we might run the test suite against with a compiler that might not exhibit a subtle bug, that the compiler with which we actually compile and run the code might exhibit.

[2016-01-11 02:16] snowleopard commented on #113
And another one :(
[code]

[2016-01-11 02:19] angerman opened #149 "ar: error: can't exec '/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/ar' (errno=Argument list too long)"
[code]

[2016-01-11 02:37] snowleopard commented on #149
I guess it makes sense to discuss this one in #141. It's the same issue.

[2016-01-11 03:11] snowleopard commented on #113
Another mystery. When invoking the following command:
[code]
I get the following error:
[code]
Even though folder `.build/includes` contains `ghcversion.h`. The command goes ahead happily when I copy `ghcversion.h` to `includes` directory. No idea why this happens despite `-I.build/includes`.

[2016-01-11 03:23] angerman commented on #113
I guess you are hitting this:
[code]

from `compiler/main/DriverPipeline.hs`

[2016-01-11 03:25] angerman commented on #113
I guess you are hitting this:

[code]

from `compiler/main/DriverPipeline.hs`

[2016-01-11 03:26] snowleopard commented on #113
@angerman Thanks! I think you are right.

[2016-01-11 03:27] snowleopard commented on #113
OK, it looks like moving generated files from `includes` to `.build/includes` is just too cumbersome due to the above issues. I don't think this this is worth it. We'll keep mutating `includes` folder just like the old build system did. I suggest we do the same with `inplace' for now, to avoid further complications.

The only remaining bit then is to move files produced by ghc-cabal (e.g. package-

[2016-01-11 03:33] snowleopard commented on #149
OK, seems #150 fixed this.

[2016-01-11 03:33] #149 closed

[2016-01-11 07:19] angerman commented on #113
@hvr, just mentioned https://ghc.haskell.org/trac/ghc/ticket/8040 on irc.

[2016-01-11 09:50] ndmitchell commented on #146
I would suggest that we only run the tests with the stage0 compiler, and even then only on the buildbot. Most likely there would be a `build.bat self-test` phony target which ran the tests, and was explicitly invoked by the buildbots before building. I don't see any need to run the self-test in normal build operation, GHC has plenty of its own tests.

[2016-01-11 09:53] angerman commented on #146
@ndmitchell :+1:

[2016-01-11 11:11] ndmitchell commented on #146
Hard to argue against QuickCheck tests after screwing up precisely in a way that would have been caught by them but not by manual tests...

[2016-01-11 11:13] ndmitchell commented on #141
Looking at the code for `chunksOfSize`, as far as I can tell, it counts the length of the filenames, but _not_ the lengths of the spaces, which are important for finding out the right size. You can either modify the spec of `chunksOfSize` (I recommend doing so after merging the tests in #151), or pass a list interspersed with spaces to `chunksOfSize` (that seems easier and cleaner to me).

[2016-01-11 11:33] angerman commented on #141
I did some digging into what `xargs` actually does (on OS X). Apple provides the source for `xargs`[1], but not for the most recent version shipped with the operating system. Looking at the `xargs` source wasn't really helpful. The systems `xargs` drops some `20 000` bytes from the reported `MAX_ARG` value, which the provided source version does not. Hence I suspect there is some additional magic

[2016-01-11 11:42] angerman commented on #56
@snowleopard If you haven't started with this, I'd take this over with the high level documentation overview I'm working on right now. If we need more documentation you could either add ontop of that or write something more detailed? I'll try to document what I learned so far.

[2016-01-11 12:11] snowleopard commented on #56
@angerman Yes, please take over. This week is going to be difficult for me in terms of spare coding time.

I will do a revision once you finish; feel free to leave some spots undocumented leaving as many TODO's for me as you like.

[2016-01-11 12:22] snowleopard commented on #113
@angerman Thanks. Maybe we need to add the above to that ticket.

[2016-01-11 14:43] snowleopard commented on #146
Thanks to #151 we now have the infrastructure for testing. Shall we close this now? Let's all keep adding new tests gradually, as we do with haddock comments.

[2016-01-11 14:47] ndmitchell commented on #146
That was what I was expecting - test things as they get added or changed, or cause regressions, or if something looks dodgy.

[2016-01-11 14:50] snowleopard commented on #146
Agreed.

[2016-01-11 14:50] #146 closed

[2016-01-11 15:21] snowleopard commented on #137
Another one:
[code]
This sometimes happens on my machine too. I suspect we can't have multiple `deriveConstants` instances running in parallel.

[2016-01-11 15:28] ggreif commented on #137
IIRC `deriveConstants` creates temporary %.a file(s). Maybe these have
hard-coded names?

On 1/11/16, Andrey Mokhov <notifications@github.com> wrote:

[2016-01-11 15:31] snowleopard commented on #137
@ggreif I think we can work around this by using `--tmpdir` option supported by `deriveConstants`.

[2016-01-11 15:50] ggreif commented on #137
Yes:

$ git grep -- --tmpdir utils/deriveConstants
utils/deriveConstants/Main.hs:          f opts ("--tmpdir" : dir : args')

Very good!

On 1/11/16, Andrey Mokhov <notifications@github.com> wrote:

[2016-01-11 16:11] snowleopard commented on #137
The above commit fixes this via `--tmpdir`.

Both failures reported here seem to be caused by parallel invocations of `deriveConstants`, hence I close this issue for now. Please reopen if need be.

[2016-01-11 16:11] #137 closed

[2016-01-11 16:26] snowleopard commented on #147
@angerman Taking the name of the project into account I was thinking along these lines:
* `first-shake`: the coming initial release,
* `tree-tremble`: we become a part of the GHC tree,
* `ghc-quake`: once we can do whatever `make` can, so everyone switches over,
* etc. :)

[2016-01-11 16:33] ndmitchell commented on #147
:+1: - nice names, and I think also the perfect milestones to have - those 3 seem perfect.

[2016-01-11 16:44] olsner commented on #141
The "command line size" also includes the environment on most/all Unixes, so the limit you get from `_SC_ARG_MAX` or similar is actually a limit on the total size of some block of extra data containing command line, environment, and possibly other stuff. That'll be why the usable maximum length is shorter than expected, and why you might get different results when running stuff directly and when r

[2016-01-12 00:47] snowleopard commented on #147
Done! I'll close this now, ticking off the first issue of the `first-shake` milestone.

@angerman Feel free to create separate issues for the tasks you listed at the top of the thread.

[2016-01-12 00:47] #147 closed

[2016-01-12 01:32] angerman commented on #134
I'll add this. To first-shake, as I have some of this already working in a branch.

[2016-01-12 01:34] angerman commented on #12
Wouldn't this relate to #18?

[2016-01-12 01:42] snowleopard commented on #12
@angerman No, this is separate. It's not clear how soon we want this. The build system can operate successfully without this, so I think we better not assign a milestone to this issue. As soon as someone presents a clean solution we'll merge this.

[2016-01-12 01:43] angerman opened #153 "Remove support for / disable by default `--split-objs`"
As far as I can tell, `--split-objs` is going to be replaced by `--split-sections` soon(ish). I propose that we drop support for `--split-objs` from `shaking-up-ghc` for being progressive in this direction.

We added support for `--split-obis` and `ghc-split` in #138. Yet we have #139 and #30. Hence I propose that we either remove split-objs completely, or at least disable it by default for shakin

[2016-01-12 01:44] angerman commented on #12
Ohh. I'm sorry!

[2016-01-12 01:50] angerman commented on #113
@snowleopard done. Just linked this issue from trac.

@snowleopard could you leave a compiled list of all the files we had to leave in the ghc tree and could not move out of it? So we can track that separately and potentially fix it upstream?

[2016-01-12 01:51] ezyang commented on #153
I'm not sure it is going to be that soon. When I looked into it, `--split-sections` requires an Apple-style linker... which is only on Mac OS X. There seems to be some benefits you get from `--split-sections` but I'm not sure how much this applies to Linux.

[2016-01-12 01:51] snowleopard commented on #153
Is there any evidence for the plan to drop support of `-split-objs` in GHC? I've seen people talk about this, but is it really on the agenda? In which GHC release will this happen?

At the moment we already have a full support for `-split-objs`. I don't see any immediate need to remove this sooner than it's dropped from `make`.

I don't mind switching this off by default though. This will help us

[2016-01-12 01:56] snowleopard commented on #113
@angerman Thanks! Here is the list of what will stay in the tree for now:
* All generated files in `includes`.
* All binaries/generated files placed into `inplace`. I'm not sure we can change any conventions here, because people may depend on them.

[2016-01-12 01:58] snowleopard commented on #134
Surely this feature is nice to have, although I don't think it is critical for any milestone. However, if you feel you'll manage to complete this by `first-shake`, let's aim for this!

[2016-01-12 01:59] angerman commented on #153
Maybe I got that wrong, but https://ghc.haskell.org/trac/ghc/ticket/8405 and https://ghc.haskell.org/trac/ghc/ticket/9832 looked to me like `-split-objs` might actually be dropped.

Let's go with disabled by default then. Just found this https://ghc.haskell.org/trac/ghc/ticket/8300 as well.

It looks to me as if `-split-objs` should only be used if you *really* need that extra bit of space savings

[2016-01-12 02:00] angerman commented on #134
Well, I got this one and the documentation issue assign to me so far. I sure hope, I'll manage :-)

[2016-01-12 02:01] snowleopard commented on #12
No problem. Maybe @bgamari will pick this up once he gets some more spare time to hack on this project.

[2016-01-12 02:01] snowleopard commented on #134
:+1:

[2016-01-12 02:01] angerman commented on #131
@ndmitchell are you up to the `phony "clean"` Pull Request challenge? :-)

[2016-01-12 02:04] angerman commented on #132
I'll add support for command line flags in #134 anyway, so maybe we can just build on that then.

[2016-01-12 02:09] #153 closed

[2016-01-12 02:09] snowleopard commented on #153
OK, done.

[2016-01-12 02:14] snowleopard commented on #18
This is now being attempted in `ghc-cabal` branch. I merged @bgamari's PR #108 and now trying to compile. Something is wrong with deriving `Generic`.

[2016-01-12 02:16] snowleopard commented on #132
@angerman Yep, sounds good. Although in case of #134 we don't necessarily need to pass command line flags through to `User.hs`, we just need to deliver them to `renderBox` somehow, which sounds easier.

[2016-01-12 02:31] snowleopard commented on #18
@ndmitchell @angerman I'd appreciate your help with `ghc-cabal`, as I won't be able to contribute much in the next 24h. The goal is to compile it and make sure it doesn't break the build. I'll then take over and use this to finalise #113.

[2016-01-12 03:07] Ericson2314 commented on #146
https://github.com/jacereda/fsatrace/issues/9 gives me the idea that it would be cool to ensure that all opened files are in fact declared dependencies (or, because of temp files and other edge cases, ensure at least that files that aren't declared dependencies aren't built by any rule).

Another route to test roughly the same thing would be to use some sort of layered filesystem or version contro

[2016-01-12 08:19] angerman commented on #134
This is mostly implemented in #154. Even @bgamari unicorn!

`dot` and `none` are going to be a bit tricky though, as we currently send `"."` and `""` down.  Yet `dot` should not send a newline, and `none` should actually be a no-op instead of an empty string.

Also there's some oracle accessibility issue, which I hope @ndmitchell will help me with.

[2016-01-12 09:20] ndmitchell commented on #146
@Ericson2314 in Shake HEAD there is full integration with fsatrace if you just pass `--lint=fsatrace`, along with exclusion patterns etc. I recommend waiting for the new Shake release, where a lot has changed in this area, and then start using it.

[2016-01-12 09:22] ndmitchell commented on #18
I'm not at a machine with MSYS/Mingw in the next 24 hours, so I'm not much use I'm afraid.

[2016-01-12 09:23] angerman commented on #18
I'll give this a try.

[2016-01-12 13:04] angerman commented on #18
Alright, I've tried to give this a go. But I think this is *not* possible, I believe we run into this: https://ghc.haskell.org/trac/ghc/ticket/10514. We simply can not derive `Generic` for GADTs as it seems.
I.e. I couldn't even get this to compile in any way
[code]
using `deriving` or standalone deriving.

- `deriving` erring out with:

[code]

- Standalone Deriving erring out with:

[code]

Whil

[2016-01-12 13:07] ndmitchell commented on #18
Can't you just write your own Hashable by hand? It shouldn't be too difficult.

[2016-01-12 13:14] angerman commented on #18
Did I ever mention I have no idea what I'm doing? ;-)

We also need `Binary`. Let me see if I manage to build `Hashable`. There is however https://hackage.haskell.org/package/instant-hashable

[2016-01-12 13:18] ndmitchell commented on #18
You can do deriving Show on a GADT, and then you can just make Hashable by doing `hashWithSalt salt x = hashWithSalt salt $ show x`. For Binary you need to undergo a bit more pain, and do it by hand.

[2016-01-12 13:28] snowleopard commented on #18
This is what we have in `Way.hs`. Does this help?
[code]

[2016-01-12 13:30] angerman commented on #18
@ndmitchell thanks!

@snowleopard if we had `Read`, that would work.

[2016-01-12 13:35] angerman commented on #18
Hmm. We could of course just go ahead and implement read for each and every single one on our own ...

[2016-01-12 13:39] ndmitchell commented on #18
@snowleopard, if you're going to do that, you might as well do: `instance NFData Way where rnf = rnf . show`, which again is entirely relying on `read`/`show`. Not sure how hard it is to do Read for a GADT, or if it's even possible with the given type signature.

[2016-01-12 13:51] ggreif commented on #18
You can (kind of) `read` a GADT, but the type index must be
existentially hidden:

[code]
So if you have
[code]
You can write a `Read` instance on `Hidden MyGadt`.

On 1/12/16, Neil Mitchell <notifications@github.com> wrote:

[2016-01-12 14:14] ndmitchell commented on #18
I wonder if the GADTs are an essential part of this patch, or could be removed? They seem to be causing a lot of problems.

[2016-01-12 14:21] angerman commented on #18
Well. I must admit, I've hit a wall trying to get `Binary` to work.

[2016-01-12 14:27] snowleopard commented on #18
I wm pretty sure GADTs can be dropped at the cost of losing some type-safety.

[2016-01-12 14:33] snowleopard commented on #18
But I hoped we'd be able to keep GADTs because they can be handy in other oracles too.

[2016-01-12 14:35] angerman commented on #18
I guess, it's all up to GADTs and Oracles compatibility. Which in turn means, you need `Binary`, `Hashable` and `NFData` instances. Which are almost free if you have Generic. Yet for GADTs we don't have generic and just opened the floodgates :-)

[2016-01-12 14:55] snowleopard commented on #18
It looks like even @ndmitchell, the Oracle Master, is not sure how to cross oracles with GADTs.

So, here is a proposal: we simplify this branch by getting rid of GADTs but plan to bring them back at some point in future to improve type-safety.

[2016-01-12 15:03] angerman commented on #18
Thus, we'll just oracle `(pkg, stage) -> pkgData`?

[2016-01-12 15:25] snowleopard commented on #18
Yes, to the first approximation. Then we'll have to oracle separate fields to avoid unnecessary rebuilds when only one field had changed.

[2016-01-12 15:28] angerman commented on #18
Ahh that was the motivation of the GADT. I didn't see that. But then, I seem to miss something about the effects of oracles. Thus the idea was to oracles each field for each package and stage separately to have a fine granular oracles and use GADTs to enforce type safety. :bulb:

[2016-01-12 15:29] angerman commented on #18
I can try to give this another shot tomorrow, and check what the `ghc-cabal` branch looks by then.

[2016-01-12 15:46] snowleopard commented on #18
Thanks! I'll do some experiments in the meanwhile.

[2016-01-12 17:10] kgardas opened #155 "doc issue, missing shake install"
Hello,

README is not clear about it, certainly it looks like you need to cabal install shake in order to give a shakized ghc a try. README mentions that what you needed with make for building GHC is enough, but this is not true probably.

[2016-01-12 17:13] kgardas commented on #155
Another try: it also looks like you also need QuickCheck installed.

[2016-01-12 17:15] kgardas commented on #155
And a last addition: you also need ansi-terminal

[2016-01-12 17:25] #155 closed

[2016-01-12 17:25] snowleopard commented on #155
Thanks, you are right, it's better to be explicit about dependencies. I've updated README.

[2016-01-12 17:28] kgardas opened #156 "ffi build failes when /tmp is different device"
Hello,
my attempt to use shake to build GHC on Solaris fails on building ffi with:
[code]
the last message probably suggest that shake does not like to have /tmp mounted from different device than on home where it tries to build GHC...

[2016-01-12 17:34] snowleopard commented on #156
Thanks for reporting! We haven't tried building GHC on Solaris yet. The build system does rely on creating temporary files and directories.

[2016-01-12 17:44] kgardas commented on #156
And does it run for you on either Linux or Mac OS X when /tmp is tmpfs or different drive? That's the point IMHO here, otherwise Solaris is not that different...

[2016-01-12 17:46] snowleopard commented on #156
@kgardas I'm using Windows myself, so can't check.

@angerman Could you check on OS X?

[2016-01-12 17:48] kgardas commented on #156
Btw, when I moved the build tree to /tmp as a whole then this runs fine -- i.e. was able to rename unpacked ffi tree to stage0 sub dir. My guess is, the issue should be also preserved on Linux too...

[2016-01-12 17:52] kgardas opened #157 "ffi build fails on non-GNU make"
Hello,
ffi build steps does not care that on some Unixes the GNU make is not ```make``` command but is ```gmake``` command. This way it ends with executing Solaris provided make which simply fails:
[code]

[2016-01-12 17:59] snowleopard commented on #157
Right, we need to find out which `make` to call. Not sure how to do that. The old build system uses `MAKE` variable, which I guess is provided by `make`, it's not part of the environment.

[2016-01-12 18:03] kgardas commented on #157
You tag this as Solaris specific issue, but IMHO the same will hit us on *BSDs too.
IMHO would be the best to have user specific setting for GNU make command -- set to ```make''' by default for Linux but user can edit this for gmake on another Unixes...

[2016-01-12 18:12] ndmitchell commented on #157
It is not OS specific, it's due to having tmp mounted in a different place from GHC. I will explain and give a patch tomorrow with luck, once I have more than a mobile.

[2016-01-12 18:12] #157 closed

[2016-01-12 18:13] snowleopard commented on #157
I think this just makes it easier for people to search for potential issues when building on Solaris. If someone on BSD reports this I'll add another tag.

Sounds reasonable. I pushed a fix. Please edit `makeCommand` in `Settings.User`.

[2016-01-12 18:13] ndmitchell commented on #157
Note the new build system doesn't really use make or gmake, other than small pieces. It is mostly Haskell :)

[2016-01-12 18:14] ndmitchell commented on #157
Please ignore my comments - my mobile browser brought me to the wrong ticket!

[2016-01-12 18:15] ndmitchell commented on #156
It is not OS specific, it's due to having tmp mounted in a different place from GHC. I will explain and give a patch tomorrow with luck, once I have more than a mobile.

[2016-01-12 18:15] snowleopard commented on #157
@ndmitchell No we just have to convince `gmp` and `libffii` people to switch to Shake ;)

[2016-01-12 18:56] kgardas opened #158 "gmp build expects GNU patch as patch"
On Solaris and *BSD GNU patch is usually ```gpatch''' command. On Solaris particularly I get this failure:
[code]
GNU patch is running fine on it.
So we either need the same hack like done for gmake or even more preferably use similar setup like GHC itself with settings.in file. This file may be generated by configure and there we can deal with platforms differences.

[2016-01-12 18:59] kgardas opened #159 "Build ignores --with-* configure params"
It looks like shake completely ignores the fact that I've configured GHC to use system supplied GMP library (with --with-gmp-includes/--with-gmp-libraries) and tries to build its own GMP library build for GHC.
This is also the case of --with-ffi-* params since even if I use it shake still insist on building its own ffi library. I guess very same is also with iconv and ncurses related parameters.

[2016-01-12 19:48] Mistuke commented on #139
I'm not really sure what the plan here is. My guess is that it is planned to drop `-split-objs` entirely in favor of `-split-sections` at some point. But I don't know when. `-split-sections` support particularly on Windows is a bit unknown at this point.

[2016-01-12 20:54] snowleopard commented on #159
We do have some functionality to detect installed `gmp`, but it hasn't been tested properly. And at the moment we always build `ffi`. Feel free to pick up this issue if you like.

Did the building of in-tree `gmp` and `ffi` work for you?

[2016-01-12 20:59] snowleopard commented on #158
Yes, there is a `TODO` item in the sources to add support for detecting the right `patch` command via `configure` and `system.config`.

Regarding `make`: what was the right mechanism to tell the old build system to use `gmake`? Was it via `configure --with-make`? I don't think it worked in the same way as with `gpatch`. It would be great to use the same convention for all builders, namely, to spec

[2016-01-12 21:04] kgardas commented on #159
FFI build seems to be fine after moving to /tmp to work around #156 the problem is gmp build which fails with
[code]

[2016-01-12 21:10] snowleopard commented on #159
It seems to me that it fails right at the stage of determining whether there is an installed `gmp`. This is done by running `configure` in `libraries/integer-gmp`, which produces file `config.mk` with `HaveFrameworkGMP = YES`.

Could you show previously executed commands?

Second question: how do you typically run `configure` to build GHC using `make` and use installed `gmp`?

[2016-01-12 21:15] snowleopard commented on #159
To whoever would like to pick this up: the right files to change are: `Rules/Gmp.hs` and `Rules/Libffi.hs`.

I won't be able to tackle this in the coming days.

[2016-01-12 21:24] kgardas commented on #159
At top level I do ./configure --with-gmp-includes=/usr/include/gmp/ --with-gmp-libraries=/usr/lib/ -- this sets GMP_INCLUDE_DIRS and GMP_LIB_DIRS in mk/config.mk -- those are then used to pass the same --with-gmp-includes=/usr/include/gmp/ --with-gmp-libraries=/usr/lib/ while invoking configure script inside the libraries/integer-gmp.
I'll see if I can do anything about this (gmp) issue.

[2016-01-12 21:46] kolmodin opened #160 "Fails when moving unpacked libffi"
Not sure I'm using shake-build correctly, I get this error immediately.

[code]

I've checked out all submodules, ran `./boot` and `./configure --prefix=<path>`.
Then executed `./shake-build/build.cabal.sh`.

Looks like it unpacks libffi to /tmp, then tries to move it to the build directory. For some reason it seems to not be able to find the directory it just created.

[2016-01-12 21:49] kolmodin commented on #160
Oh, it seems to be that the *target* directory doesn't exist.
It wants to move the directory into `.build/stage0`, but that directory does not exist.

[2016-01-12 21:49] snowleopard commented on #159
@kgardas Thank you!

What about `gmake`? Do you specify it manually or does the system picks it up automatically?

[2016-01-12 21:54] kgardas commented on #159
gmake? This is easy, GHC requires that so you use it, after configure I simply do ```gmake```. Whenever there is a need to run subsequent make from the makefile (build system), it needs to use $(MAKE) instead of real command name since $(MAKE) is substituted by make itself to the right value.

[2016-01-12 21:55] #160 closed

[2016-01-12 21:55] snowleopard commented on #160
@kolmodin Thanks, I actually think you hit a bug!

Should be fixed now.

[2016-01-12 21:55] ndmitchell commented on #156
The issue is at https://github.com/snowleopard/shaking-up-ghc/blob/24e6c28e5884d49fbd408fe81fad9ca48c1f7f94/src/Rules/Libffi.hs#L86-L89

You can't rename a file or directory from temp to elsewhere, since renames have to be within a drive, and temp might be elsewhere. You can copy the directory if you want, or better still, extract it to the right place (although I'm not sure that's possible with t

[2016-01-12 21:56] ndmitchell commented on #156
I've removed the Solaris tag because this will happen on any platform, even Windows.

[2016-01-12 21:58] snowleopard commented on #156
@ndmitchell I don't think we can extract it in the right place using `tar`. And copying it would be slow. Shall we then simply extract directly to `.build` and then move from there?

[2016-01-12 22:00] snowleopard commented on #159
@kgardas I see. So I guess we'll have to keep the `makeCommand` setting in `Settings/User.hs` for now. However, I imagine it would be possible to add `--with-make` flag to `configure` script at some point.

[2016-01-12 22:00] kgardas commented on #156
@snowleopard what about if you set the right directory as a current working directory of executed tar? Then tar will unpack on the right place I guess...

[2016-01-12 22:00] ndmitchell commented on #156
Yep, that seems reasonable. You might want to `actionFinally` to delete the directory you are initially extracting to, so if there is an error or abort you don't get left with a stale dir.

[2016-01-12 22:01] ndmitchell commented on #156
@kgardas - the tar file contains `libtar-0.3.2/file1.c`, but we want to produce `libtar/file1.c` - so extract with a current working directory _and_ trim the first directory component.

[2016-01-12 22:02] snowleopard commented on #156
@ndmitchell Exactly, we are after a subdirectory.

I'll fix this now.

[2016-01-12 22:10] ndmitchell commented on #131
I'm not totally sure what the phony should do. I guess rm `.build`, and `shake-build/.shake` and the include files that were floating around?

[2016-01-12 22:15] snowleopard commented on #131
@ndmitchell And all stuff we put into `inplace`.

It's going to be rather tedious to implement and hard to maintain. An ideal solution would be to eventually move everything into `.build`.

[2016-01-12 22:21] olsner commented on #153
Hmm, I think you're confusing it with the "subsections via symbols" feature that is used on Mac. The effect is quite similar to what `-split-sections` does, but it's activating an apple-specific linker/assembler feature instead of doing it ourselves.
The actual `-split-sections` feature instead does *not* support Mac at all, it currently (probably) only works on Linux. (It should work on other pla

[2016-01-12 22:22] #156 closed

[2016-01-12 22:23] snowleopard commented on #156
@ndmitchell Is this what you had in mind?

https://github.com/snowleopard/shaking-up-ghc/blob/86f3052c2cd738427136899bfe3a47210c4d98a5/src/Rules/Libffi.hs#L85-L87

[2016-01-12 22:26] ndmitchell commented on #131
Shouldn't it be about 4 or 5 directory names which don't change that often?

[2016-01-12 22:30] snowleopard commented on #131
With `includes` it's not that simple: there are some source files which we'd like to keep.

However, directories `inplace/bin` and `inplace/lib` seem to contain only built artefacts.

[2016-01-12 22:38] ndmitchell commented on #156
I was expecting a little more under the `actionFinally`, see #161 where I've pull requested the tweaks (and a few others while reading through).

I'm still a little worried that we might need a `removeDirectory (buildRootPath -/- libname)` just before the `actionFinally` in case there is stale stuff around and we need to clean up a `kill -9` build. Not sure though.

[2016-01-12 22:39] ndmitchell commented on #131
:( - that does seem a bit painful. But I don't think having clean is optional, sounds like it might be one for @snowleopard though.

[2016-01-12 22:40] snowleopard commented on #156
Thanks!
Regarding your last comment, maybe `Base.removeDirectoryIfExists` can be used?

[2016-01-12 22:42] snowleopard commented on #131
@ndmitchell Agreed, I'll do this after #113.

[2016-01-12 22:44] ndmitchell commented on #156
I updated my pull request with that.

[2016-01-12 22:45] snowleopard commented on #156
@ndmitchell It says `removeDirectory`, not `removeDirectoryIfExists`, is this a typo?

[2016-01-12 22:45] snowleopard commented on #156
Ah, sorry. I see now!

[2016-01-12 22:47] ndmitchell commented on #156
Yes, its slightly starting to confuse me, and I'd also ideally use removeDirectoryIfExists on the actionFinally fallback, but that doesn't work because its Action not IO. I think once things are a bit more stable a big pass over all the IO/Directory combinators and their types might be useful.

[2016-01-12 22:48] snowleopard commented on #156
Agreed. Also having some functions live in `Base.hs` and most others in `Rules/Actions.hs` is confusing.

[2016-01-12 22:49] ndmitchell commented on #156
Also agreed. But I don't think its actively harmful just now, and hopefully more experience will give us a better idea which building blocks make sense.

[2016-01-12 23:02] ndmitchell commented on #156
For info, the abstractions I used at work for these kind of things are all named rmdir/mkdir etc after their shell names rather than their Haskell names. These are short and imply build semantics rather than trying to compete with the Haskell functions for good names. Might be an idea here too.

[2016-01-13 00:57] snowleopard commented on #134
I've reopened since it's still work in progress.

[2016-01-13 01:49] angerman commented on #134
This is so going to be an easer egg :-)

We've also only covered `renderBox` and not the other *Info* we provide. My current plan of attack is:

- [ ] Figure out how to properly print nothing with `none`.
- [ ] See how we can convince shake not to produce a newline for `dot`.
- [ ] come up with a plan on how to handle other notification items we have, or if
      we can roll them up into a unified

[2016-01-13 02:03] angerman commented on #153
Ohh our beloved `-dead_strip`
[code]
(from the `ld` man page)

I remember fixing that for the `llvm` backend, as `xcode` always enables `-dead_strip` by default.

Then, wouldn't that imply that we *do not need* `-split-sections` or `-split-objs` on Mac anyway, as we can rely on the linker to garbage collect unreachable code? (Assuming, we guide `-dead_strip` correctly)

[2016-01-13 02:05] angerman commented on #156
:+1: for `rmdir/mkdir`.

[2016-01-13 02:06] angerman commented on #157
@snowleopard, @ndmitchell or can we just *read* the `Makefile` and run it through `shake`?

[2016-01-13 02:09] angerman commented on #155
Haha we come full circle. Not sure how @quchen feels about that ;-)

Anyway. The QuickCheck Dependeny irks me a little. Shouldn't that be a `Test` only dependency? I though cabal allowed for Test only dependencies? cc: @ndmitchell

[2016-01-13 02:48] snowleopard commented on #155
@angerman It's the second time this issue is raised. We already discussed adding such a line here: https://github.com/snowleopard/shaking-up-ghc/issues/37#issuecomment-167225959. This appears to have never been actioned.

[2016-01-13 06:50] quchen commented on #155
`build.cabal.sh` installs all the deps automatically, why ping me?

[2016-01-13 07:32] angerman commented on #155
Sorry @quchen, will not happen again.

[2016-01-13 08:45] ndmitchell commented on #155
@angerman you can have multiple exe's in Cabal, and have different dependencies for each. We have one single exe though (which seems to suit us best), so all dependencies are required for everything.

[2016-01-13 08:52] ndmitchell commented on #157
@angerman I thought of that, and it is possible to some extent (see http://neilmitchell.blogspot.co.uk/2014/01/running-makefiles-with-shake.html), but I don't think its that realistic - it's too huge and too scary.

[2016-01-13 08:57] ndmitchell commented on #134
I don't think putNormal can be convinced to print without the newline. You can just use putStrLn instead though.

[2016-01-13 08:59] ndmitchell opened #163 "Refactor IO/Directory style operations"
We have a number of abstractions over the System.IO/System.Directory functions. These live in both Base and Rules/Actions, have either return type Action or IO. They need cleaning up. Some thoughts:

* Should we use Shell style names, mkdir and rmdir, so they are obviously in a separate namespace to the Haskell ones?
* Should they be in IO or in Action, or in MonadIO?
* What should they trace?
* I

[2016-01-13 09:25] angerman commented on #163
Just my two cents.

:+1: for shell style names.

I'd say `Action` so we need fewer `lift`s?

No idea :(

:+1:

[2016-01-13 09:26] angerman commented on #18
Alright, so it doesn't yet compile, but I think I'm making some headway to get it to compile soon.

[2016-01-13 09:30] snowleopard commented on #163
Here are some of my preferences:
* I would like to keep non-shortened names similar to those in `Shake` and `System`. In some cases this even seems unavoidable because we'd like to distinguish between `copyFile` and `copyDirectory`, but there is only one Shell function `cp` which does both, so we'll have to invent a name anyway. Furthermore, we have functions without direct equivalents, such as `f

[2016-01-13 10:19] kgardas commented on #159
@snowleopard IMHO much comfortable would be to simply invoke ```make --version``` and grep for ```GNU Make```. If not successful try ```gmake --version``` and do the same. If not successful error with nice explanation that for 3th party libraries (gmp/ffi) shake still requires GNU make to be installed. Example outputs from both command on Solaris 11.2:
[code]
The same on OpenBSD 5.9-current looks:

[2016-01-13 11:02] snowleopard commented on #159
@kgardas This sounds like a typical task for the `configure` script. We could add the following to `system.config.in`:
[code]
And ask `configure` to set `@MakeCmd@` to `make` or `gmake` using your approach. This is similar to what happens with many other `Builder`s.

[2016-01-13 11:09] kgardas commented on #159
@snowleopard agree. In fact current ghc configure already checks for GNU make > 3.80 by following code:
[code]
so it should not be too hard to do what you suggest.

[2016-01-13 11:09] snowleopard commented on #163
@ndmitchell I'm not sure I understand exactly what you mean here. Are you referring to Shake's `traced` function used for profile reports?

Yes, this seems reasonable.

[2016-01-13 11:11] ndmitchell commented on #163
They should all go through `traced`, since that's helpful and not visible. I was more meaning what they should print to the screen - should they go through the boxy thing, or just be silent.

[2016-01-13 11:18] kgardas opened #164 "GNU-specific linker option is used even when GCC is not using GNU linker"
On Solaris compilation fails with:
[code]
this is due to internal GCC invocation which looks
[code]
```--build-id=<something>``` is GNU specific option not supported by the Solaris linker.

[2016-01-13 11:21] kgardas opened #165 "GNU specific linker script is used on non-GNU linker platforms"
Current linking stage is using GNU linker script like:
[code]
this ``` /tmp/ghc11114_0/ghc_9.ldscript``` is unsupported for example on Solaris linker which complains about
[code]
related to #164

[2016-01-13 12:25] angerman commented on #18
It compiles! But it does *not* yet *fully* work!
I'm getting as far as
[code]

See here: https://github.com/snowleopard/shaking-up-ghc/compare/ghc-cabal

@snowleopard should I turn this into a PR? So we can discuss it in the PR? (I think we can still all commit to `ghc-cabal` then :)

[2016-01-13 12:45] snowleopard commented on #18
@angerman Great, thanks a lot! Yes, please turn this into a PR for `ghc-cabal` branch.

[2016-01-13 12:50] angerman commented on #18
Alright there we go. To be quite honest, I'm not sure I have any idea what I did ;)

Anyway, when trying to fix `hp2ps` like so:

[code]

in `Internals.hs`

I ran into the issue of having no idea yet how to translate `PROGNAME`.

A few things to note:

- [ ] the build file was altered to include the Cabal library from the ghc tree (assuming ghc, is one level up of shaking-up-ghc). This is needed,

[2016-01-13 12:51] angerman commented on #18
Any comments on the PR are welcome, let me know how bad I did :)

[2016-01-13 15:07] snowleopard opened #167 "Use configure to detect the right `make` command"
The initial discussion started in #157 and #159. At the moment we have `makeCommand` in `Settings/User.hs` which has to be set manually.

We should instead add the following to `system.config.in`:
[code]
And ask `configure` to set `@MakeCmd@` to `make` or `gmake` using the approach outlined by @kgardas here: https://github.com/snowleopard/shaking-up-ghc/issues/159#issuecomment-171243085.

This is

[2016-01-13 15:08] snowleopard commented on #159
@kgardas Thanks! I've created a separate issue for detecting `make`: #167.

[2016-01-13 15:23] snowleopard commented on #163
I see. I think they should be controlled similarly to `build` actions with `--build-info` flag (#134). The only extra detail to consider is that some of these `Actions` print a single line only (e.g. `createDirectory`), so their behaviour should be identical with `--build-info=normal` and `--build-info=brief`.

[2016-01-13 15:29] snowleopard commented on #134
Let me just copy Shake's implementation of `putNormal` here:
[code]
So I guess we could just substitute the `globalOutput` bit with our own print function.

[2016-01-13 15:49] snowleopard commented on #18
@angerman Well, if it compiles you did much better than I, that I can tell already :+1: I will review the code tonight.

[2016-01-13 16:50] snowleopard commented on #164
Could you find the corresponding piece of code in the old build system, which provides different command line options for non-GNU linkers? This could speed up the resolution of both this issue and #165.

[2016-01-13 17:03] kolmodin commented on #160
Thanks!

[2016-01-13 23:15] kgardas commented on #167
configure machinery done here: https://phabricator.haskell.org/D1775

[2016-01-13 23:25] snowleopard commented on #167
@kgardas Awesome! Once this is in GHC HEAD I can take care of the rest.

[2016-01-13 23:33] snowleopard commented on #18
This feels awkward, but I see the point. Is the plan to revert to using the bootstrapping Cabal library at some point in future or will we always depend on the in-tree Cabal?

[2016-01-14 02:15] angerman commented on #18
Ideally, yes. But I couldn't be bothered trying to revert the componentId changes back to package and library id. I tried to use the most recent cabal from hackage, but even that was missing some of functions. As ghc has cabal as a submodule, ghc-cabal has to stay in sync with the external cabal library. I hope we can stop using the in tree cabal, once code like this:

[code]

works with stock cab

[2016-01-14 02:15] angerman commented on #18
I'll see if I can move over more of the missing libs today.

[2016-01-14 02:22] snowleopard commented on #18
Now hitting the following problem:
[code]
I guess we are missing the behaviour which run `configure` when executing `ghc-cabal` prebviously.

[2016-01-14 02:23] snowleopard commented on #18
Yes, sure. It's just impressive to see so many files being compiled. I never we'll hit a 3-digit number...

[2016-01-14 02:39] angerman opened #169 "[ghc-cabal branch] rts misses ghcautoconf.h"
[code]

[2016-01-14 02:39] angerman commented on #169
This is fallout from #18

[2016-01-14 02:53] snowleopard commented on #169
I know the reason: missing `orderOnly $ generatedDependencies stage pkg` which I didn't copy from `Data.hs` for now, because it causes an import cycle.

[2016-01-14 03:03] angerman opened #170 "[ghc-cabal branch] Run the 'configure' command first"
Some other fallout from #18

[code]

[2016-01-14 08:29] angerman commented on #169
Alright, will give this a try to break the cycle.

[2016-01-14 08:58] angerman commented on #169
Alright. One down, next!

[2016-01-14 09:01] ndmitchell commented on #18
@snowleopard - I've written a 500+ Shake build system before - you have a while to go yet :)

[2016-01-14 09:44] angerman commented on #170
After some further inspection, it looks like we need to completely drop the `GhcCabal` builder, or do we want to keep `ghc-cabal` around? So we'll end up integrating most of `ghc-cabal` into `shaking-up-ghc`.

[2016-01-14 11:10] angerman commented on #18
Debugging this is *really* painful. @ndmitchell is shake missing a `putDiagnostic`? I assume I'm just doing it wrong, as `putWhen` is not exported.

[2016-01-14 11:38] snowleopard commented on #18
@ndmitchell We might need to import the rest of GHC to catch up ;-)

@angerman I typically simply use `putBuild` or `putSuccess` for debug printing. Why do you need a special function?

[2016-01-14 11:47] angerman commented on #18
I think we are on the right path here. Nirvana is near.

So we can leave it *in*, and have it only show for `--trace`.
[code]

[2016-01-14 11:55] snowleopard commented on #18
@angerman OK, I see you point. I didn't want to pollute the code with tracing statements and always cleaned up my debug prints afterwards. However, we may indeed consider adding proper tracing into the build system. I believe this calls for a separate ticket to discuss possible designs.

[2016-01-14 11:57] angerman commented on #18
@snowleopard Right. I'll open an issue. The core idea was that `make` supports tracing as well, and it might even be useful from time to time.

[2016-01-14 12:00] angerman opened #172 "Add tracing facility for debugging purposes"
As mentioned in #18. When debugging the shake build system, one often would like some tracing statements, that let one home in on certain issues.

Until we have something like `putDiagnostic`, I propose we wrap `putLoud`, and annotate most of the actions with the function call to trace what's happening.

This is just a stub to sketch out a better design prior to final implementation.

[2016-01-14 12:17] snowleopard commented on #172
This sounds like a very useful feature.

One somewhat related idea we discussed at the start of the project was to track provenance of all settings using [ImplicitLocations](https://ghc.haskell.org/trac/ghc/wiki/ExplicitCallStack/ImplicitLocations). This could help determine where a certain flag comes from.

An observation: many actions already print build info statements. To avoid duplicating cod

[2016-01-14 12:22] angerman commented on #172
Maybe we add callstacks to errors as well? Not sure if that would need to be in shake though.

[2016-01-14 12:46] snowleopard commented on #170
Yes, we will drop `GhcCabal` and the `ghc-cabal` executable. Let's keep this code while we are working on #18 though, it may be handy as a reference (same as `Data.hs`).

[2016-01-14 12:48] snowleopard commented on #169
Shall we consider this resolved?

[2016-01-14 12:49] angerman commented on #169
Yes. We can.

[2016-01-14 12:49] #169 closed

[2016-01-14 12:52] angerman commented on #170
I got this far. Now I'm feeing stupid :-)
[code]

[2016-01-14 12:55] snowleopard commented on #170
@angerman OK, I can take over for today -- my turn to feel stupid :-)

[2016-01-14 12:58] angerman commented on #170
Pushing my changes, right now. I think the issue lies with the fact that `distdir` is relative and not absolute, which makes us build in `utils/ghctags/stage2` instead of in `.build`.

[2016-01-14 12:59] ndmitchell commented on #18
@angerman: You definitely don't want diagnostic on most of the time, it's insanely verbose. There is chatty above Loud, which might be an option - your call. Adding your own putChatty seems reasonable.

[2016-01-14 13:07] angerman commented on #18
@ndmitchell that's why I was wondering why `putWhen` was not exported from `Development.Shake.Core`. As that would allow to use the same output methods.

[2016-01-14 13:07] angerman commented on #18
@ndmitchell ohh and of course, I assume tracing to be only on if there is a serious issue with the build system, when trying to figure out what goes wrong where.

[2016-01-14 14:25] snowleopard opened #173 "Using system GMP fails on Travis Linux"
After #168 we can detect system GMP on Travis instances, however, the Linux one then fails with a link error, similar to what I get on Windows, https://github.com/snowleopard/shaking-up-ghc/pull/168#issuecomment-171639193:
[code]
A GMP framework is also detected on the OS X instance, but it doesn't lead to the link error.

Note, the build log contains the following:
[code]

Link to the Travis log:

[2016-01-14 14:29] snowleopard commented on #173
@kgardas Have you come across the same error on Solaris?

[2016-01-14 14:39] kgardas commented on #173
@snowleopard no, at least not yet. But the question is if I get that far at all. You know #164 & #165

[2016-01-14 15:59] snowleopard commented on #173
@kgardas I see. Sorry I can't help much with #164 and #165 as I can't reproduce these issues on Windows. I will try to fix this one though, because it seems to be reproducible on Windows.

[2016-01-14 16:07] kgardas commented on #164
@snowleopard mk/config.mk contains following code:
[code]
as you can see, on Solaris both are NO. I guess if  you put those variables (LdIsGNULd/LdHasBuildId) into your system.config values then you can use them to decide if to use --build-id linker command-line option or linker script. The only question is if current code does have support to run w/o linker script.

[2016-01-14 16:18] snowleopard commented on #164
@kgardas Sure, we can add these variables to `system.config`. However, I don't see how they are used in the old build system. I can only find this piece of code, which is only relevant with `--split-sections`:
[code]
We currently do not support `--split-sections`.

Could you show the full command line which fails? I wonder where `--build-id` comes from: we certainly don't have it in the new build

[2016-01-14 16:59] kgardas commented on #164
@snowleopard this was false path, probably some left-over. Anyway, what seems to be relevant is that both values are set into generated settings file and from this loaded and affects SysTools/DriverPipeline haskell code. Grep for
[code]
in SysTools and for ```GnuLd``` in DriverPipeline and you will find them.

[2016-01-14 17:37] snowleopard commented on #164
Interesting, thanks for finding this. However, I don't see how the build system is involved:
* File `settings` is produced by `configure` from `settings.in`
* File `settings` is used directly by GHC, and apparently this is where the failure occurs.
How can this be fixed in the build system? Does the old build system work for you?

[2016-01-14 17:40] snowleopard commented on #164
@kgardas You still haven't provided the the full command line which fails -- please do. We may be able to locate the flag responsible for this failure.

[2016-01-14 17:41] kgardas commented on #164
@snowleopard please hold on, this whole may turn out as a simple user error.

[2016-01-14 18:36] snowleopard commented on #170
I'm getting a different error now, but most likely still relevant to this issue:
[code]
@angerman Agree, it looks like the issue is with directories.

[2016-01-14 19:17] ndmitchell commented on #170
That error means someone called setCurrentDirectory somewhere. In a multithreaded build system that's a terrible idea.

[2016-01-14 19:19] ndmitchell commented on #170
For info, if anything is changing directory then lint will only catch it some of the time and it will cause really weird failures of not.

[2016-01-14 19:23] ndmitchell commented on #18
I suggest you turn on your tracing at Chatty level. Adding putChatty is plausible, but I suggest you add it now - the whole putLoud functions seem to be causing confusion in Shake already so I may rethink them a bit.

[2016-01-14 19:27] ndmitchell commented on #172
I suggest you add putChatty and use that for your tracing.

Shake errors will have implicit locations once 8.0 is out and j wire it through. It's on the todo list.

[2016-01-14 21:06] kgardas commented on #164
@snowleopard Please close that. It looks like it was really a user error. Since GMP build done in tree required GNU patch (already reported) and can't use gpatch but insist on patch I've put /usr/gnu/bin in front of my PATH. The problem is in unnoticed ld which also resides there. This is a GNU ld. It looks like GHC's configure is clever enough and still was detecting Sun Linker -- probably by usi