[2016-04-26 21:46] snowleopard commented on #232
@thoughtpolice Many thanks for creating this issue! It will be very helpful for the Great Merge.

My main priority is to support the standard GHC development workflow. My secondary priority is to allow contributions from people who are unfamiliar with or dislike the standard workflow, even if it means that I will have to do extra work.

Can we all try to figure out the best way to achieve both if

[2016-04-26 21:56] snowleopard commented on #232
@thoughtpolice The planned ETA is 1 May, see the `tree-tremble` milestone:

https://github.com/snowleopard/shaking-up-ghc/milestones

[2016-04-26 22:16] snowleopard commented on #232
By the way, hope you like the new name of the build system! :-) Approved today by the GHC HQ. No more "new build system", "Shake-based build system" verbosity.

[2016-04-27 01:01] thoughtpolice commented on #232
Note that nothing precludes you from using GitHub *and* GHC itself during the rapid iteration time. My goal is to get the tool closer to real developers so they can use it more, because they'll un-doubtly give lots of informed opinions about it. That means it needs to be in the main repository they work on, somewhere.

You could very well just merge it into a `wip/shake` branch in the GHC reposito

[2016-04-27 01:14] Ericson2314 commented on #232
I don't mean to be a zealous git history partisan :). Part of my motivation for the subtree merge was that way this repo could be force-pushed into becoming a GHC fork without any loss of information. But the issue of "fixes #xxx" being picked up by GitHub and trac you mention might preclude that.

[2016-04-27 02:22] angerman commented on #232
This name change should probably be announced on reddit and canonical mailing lists. I fear people will *not* make the mental leap from `shaking-up-ghc` to `hadrian`.

[2016-04-27 02:42] angerman commented on #232
My take on the Github/GHC topic is as follows, from very personal experience contributing to `ghc` and `hadrian`, so take this with a grain of salt.

Contributing through github is ridiculously easy. It's almost trivial to do so. Pull requests and Issues are all lined up with the code, it's really easy to browse the source code on github as well.

Working with GHC, I got to know phabricator, and w

[2016-04-27 07:03] snowleopard commented on #232
Thanks everyone!

So, just to repeat my priorities:

I can see now that the answer is: "No, we can never achieve both and it's not just a matter of extra work".

So be it! It's sad, but I can surely live with that. I'll be using 1 May as my target to get things prepared for the Great Move as described at the top by @thoughtpolice.

[2016-04-27 07:05] snowleopard commented on #232
@angerman Sure, we will announce this together with the Great Move announcement. Things are currently broken anyway because of the rename -- I need to fix paths in `configure.ac`.

[2016-04-27 11:50] ndmitchell commented on #232
So sounds like GitHub is unworkable - fair enough. As an infrequent contributor my preferences should certainly not be weighed equally to the existing GHC team or @snowleopard.

[2016-04-27 11:56] snowleopard commented on #232
@ndmitchell My preferences are the same as yours, but well... :-)

[2016-04-27 12:48] thoughtpolice commented on #232
As an aside, I know one thing people get anxious about is Arcanist. If it makes y'all feel better: I'm hoping soon that upstream Phabricator will actually support 'git push' functionality directly, which should really close the biggest annoyance with Phab, which is that you need arcanist for most workflows. (I say this because it's on their prioritized roadmap, AFAIK, so someone is paying $$$ to t

[2016-04-27 13:02] angerman commented on #232
@thoughtpolice *if* that happens that would certainly remove the pain with `arc`; so that is great news.

This!

Yet, if I could have a github like service (code, issues) with phabricators differential on top of PRs I'd switch instantly.

[2016-04-27 22:14] snowleopard commented on #232
Trying out fearful `arc`: https://phabricator.haskell.org/D2153.

[2016-04-30 13:17] snowleopard opened #233 "Optimise build of Cabal library in Stage0 & StageH"
The current state of affairs is very inefficient:
- We build Stage0 Cabal for `ghc-pkg` -- results go to `_build/stage0/libraries/Cabal`.
- We also build parts of Cabal for Stage0 `ghc-cabal` -- results go to `_build/stage0/utils/ghc-cabal`. We may at some point get rid of `ghc-cabal`, but there is still a lot of work to be done #18.
- We also build parts of Cabal for Hadrian -- results go to `_bu

[2016-04-30 18:46] snowleopard commented on #233
Why does Hadrian currently require Cabal? We need to parse `.cabal` files for two reasons:

1) To compute boot package constraints:
[code]
Make build system does this using the following fragile code:
[code]
2) To determine the order in which we need to configure packages (by extracting their dependencies from `.cabal` files). Make build system sequentialised things with the following hack:
[code]

[2016-04-30 23:09] snowleopard commented on #196
It has been decided to leave GHC-on-path hard-coded in the build script to avoid overcomplicating it. There are two ways to use a different GHC if need be:
* Use Stack to control which GHC is used for building Hadrian.
* Edit `build.bat` or `build.sh` to use appropriate GHC.

To specify which GHC to use in Stage0, one can run the `configure` script with `--with-ghc` flag.

[2016-04-30 23:09] #196 closed

[2016-05-01 00:24] snowleopard commented on #228
Done, see the above commit. However, see #233 on how to optimise the current solution.

[2016-05-01 00:24] #228 closed

[2016-05-02 22:50] Mathnerd314 commented on #227
I've started work on porting the configure script to Haskell; there are interesting design decisions available. For example, where should the 68 small C / C++ files used for testing the compiler be stored?

[2016-05-02 23:47] snowleopard commented on #227
@Mathnerd314 My first reaction is, why not use `withTempFile`?

[2016-05-03 01:48] Mathnerd314 commented on #227
The problem is that some of them are in fact reasonably long, such as the [C99 conformance test](https://gist.github.com/Mathnerd314/2356eede94784f0fb4ce4ac5e6ba593e). Autoconf just stores them all in a big ``c.m4`` file, but storing them in Haskell would require a lot of escaping or [raw string literals](https://hackage.haskell.org/package/raw-strings-qq-1.1/docs/Text-RawString-QQ.html).

[2016-05-03 02:10] snowleopard commented on #227
Ah, I see. We could probably store test files separately in some folder, e.g. `cfg/tests`, and compile them when need be. I'd rather not rely on TH for this...

[2016-05-03 05:27] bgamari commented on #227
@Mathnerd314 I don't want to be a barrier to exploration, but the reference to Template Haskell in your comment rather gave me chills. This is a place where we really cannot afford to use Template Haskell.

Keep in mind that configure needs to be buildable on the /target/ with nothing more than a half-way functional unregisterised stage1 compiler. Template Haskell is completely out of the question

[2016-05-03 10:16] snowleopard commented on #227
@bgamari Don't get me wrong, I'm not arguing for using TH here. But we are building TH in Stage0, so Stage1 GHC does already depend on TH. Could you clarify what you mean by a "half-way functional unregisterised stage1 compiler"?

In general, it would be great if we had a list of what we can and can't use. Can we use Shake, for example? It already depends on a bunch of libraries and GHC extensions

[2016-05-03 10:42] snowleopard commented on #232
OK, I'm almost ready for the Great Merge. Just a couple of things left, which I will hopefully fix in a day or two (ICFP response period may interfere with this a bit).

@thoughtpolice Shall I go via Phabricator with the merge? I don't mind either way. Direct push is easier, but on the other hand we might as well give a chance for people to comment on the commit in Phab, so this way seems more pol

[2016-05-03 14:02] bgamari commented on #227
Andrey Mokhov <notifications@github.com> writes:

By this I mean you might have an unregisterised compiler build which
doesn't have interpreter support and therefore does not support TH.
Moreover, the compiler may not be entirely reliable, so the less we need
to depend upon it the better.

ARM was in this exact state until about three months ago and had been
that way for years: the RTS was broken

[2016-05-03 14:15] ndmitchell commented on #227
To expand on what @bgamari said, with Hadrian there are really 3 compilers involved. There's the StageH compiler (used to build Hadrian), the Stage0 compiler (used by Hadrian to compile Stage1) and the Stage1 compiler which Hadrian builds. We expect in most cases StageH and Stage0 will be the same, but there's certainly no requirement for that, and in particular for bootstrapping up a new architec

[2016-05-03 14:37] hvr commented on #227
@bgamari

You can't assume that either. E.g. there's no sane way to cross-compile for IBM AIX. Moreover, the AIX port for AIX uses NCG, but doesn't support GHCi nor -XTemplateHaskell.

I don't even remember if shake currently works properly for unregisterised GHCs (I tried when AIX was still an unregisterised port, but I don't remember if I ran into issues when I shortly tried; but one thing that

[2016-05-03 18:39] Mathnerd314 commented on #227
I guess you would know, having done a lot of recent AIX work, but are you sure? There's this [old comment](https://www.mail-archive.com/glasgow-haskell-users@haskell.org/msg15838.html) from Simon Marlow:

[2016-05-03 19:04] snowleopard commented on #204
Just to give an update: on the recent Hadrian meeting it was decided that `configure` should lose the status of a special command line tool and should become just another `Builder`, see: https://github.com/snowleopard/hadrian/commit/72f6ec653e2f8801fc275ffa5d294a85e6e34ee8. The same will happen with `make` and some other tools we are still calling in an ad-hoc manner.

This means that the user of

[2016-05-03 20:25] hvr commented on #204
note sure what this means. But I guess I'm fine as long as can keep calling `./configure` directly, and shake not messing around with the flags I made sticky by passing them to `configure`...

[2016-05-03 20:59] snowleopard commented on #204
This means that users get an additional method of customising `configure` arguments, e.g.:
[code]
Also, we will optimise Hadrian's command line arguments for the most common use-case, which means the `--setup` flag will be dropped and both `boot` and `configure` will run by default if need be, as this is what most users want. There is no reason to force everyone to remember calling Hadrian with `-

[2016-05-03 21:01] hvr commented on #227
@Mathnerd314 Not sure what @simonmar's comment refers to, but here's the relevant logic from the existing build-system:

[code]

And right now, the AIX port has neither support for the RTS linker nor for using the (dynamic) system linker.

[2016-05-03 21:05] snowleopard commented on #204
By the way, there are three `Configure` builders currently:
* The top-level one: `Configure "."`.
* The one we use for `libffi` library: `Configure libffiBuildPath`.
* The one we use for GMP library: `Configure $ gmpBuildPath -/- "lib"`.

In general, it is `Configure FilePath` where `FilePath` is the directory where we run the script. This doesn't look very nice, so any suggestions on how to impro

[2016-05-03 21:09] snowleopard commented on #227
@hvr I found similar functionality in Hadrian:
[code]
Not a complete match as I guess I copied this too long ago.

[2016-05-03 21:12] hvr commented on #204
@snowleopard `--skip-...` sounds reasonable, if shake has already such a precedent

[2016-05-03 21:23] snowleopard opened #234 "Run boot and configure by default"
(This has been discussed in #204, and I think this deserves a separate issue.)

We need to optimise Hadrian's command line arguments for the most common use-case, which means the `--setup` flag will be dropped and both `boot` and `configure` will be run by default if need be, as this is what most users want. There is no reason to force everyone to remember calling Hadrian with `--setup`.

We will

[2016-05-04 00:23] snowleopard commented on #220
Tried to make some progress with `newtype Path` but stumbled over the problem that I can't use `need` on a `Path` without doing `fromPath` first, which looks ugly...

I could, perhaps, hide Shake's `need` and wrap it in my own `need :: [Path] -> Action ()`. Although this may be confusing for users of the build system, it has the advantage that now we cannot accidentally call `need` on a `FilePath`

[2016-05-04 05:41] ndmitchell commented on #220
Add `needPath :: [Path] -> Action ()`? Less ugly, more explicit, and `need` isn't common enough that those 4 characters really matter.

[2016-05-04 08:02] hvr commented on #227
@snowleopard yeah, that's the kind of logic which is error-prone & awkward when implemented in Makefile... but then again, I'd argue that this doesn't belong into the build-system phase but rather into the configuration phase, i.e. `configure`-time. The current somewhat arbitrary division of what goes into `mk/build.mk` and what's controllable via `configure` always struck me a bit as inconsistent

[2016-05-04 08:39] simonmar commented on #227
Not having configure will make some extra work for me.  This is not necessarily a blocker, but just to make you aware: our build system framework provides a bunch of standard configure options that are passed straight through to GHC's configure script.  These include:

* installation locations: `--prefix`, `--bindir`, etc.
* CC, CFLAGS, LDFLAGS (actually I currently have to collect these and put t

[2016-05-04 12:26] snowleopard commented on #220
@ndmitchell Agreed, this looks like the best solution, although still not ideal...

Alas, it looks like I'm opening a big can of worms: there are many useful operators like `<.>`, `-<.>`, etc. which I won't be able to re-use without some syntactic overhead. Even some `%>` rules will break as there are use-cases like `path <//> "*" <.> osuf way %> \obj -> do ...` where `path :: Path`.

I think the

[2016-05-04 18:45] ndmitchell commented on #220
Sure, and it doesn't really bring us much safety, its mostly an optimisation. Let me rework some internal pieces of Shake (currently ongoing) and then circle back and see what effect we can have on zero builds.

[2016-05-04 18:56] snowleopard commented on #220
Agreed. And I'll try to see whether I can simply use `unifyPath` more sparingly, not in every `-/-` invocation.

[2016-05-05 00:07] snowleopard commented on #234
@ndmitchell Let's update [your Windows doc](https://github.com/snowleopard/hadrian/blob/master/doc/windows.md) to match this change.

There are two options:
* Drop these two commands (I think this is preferable):

[code]
* Add `--skip-configure` to the last command.

Note, all CI instances are happy when Hadrian calls `boot` and `configure` directly.

[2016-05-05 03:59] #163 closed

[2016-05-05 12:04] snowleopard opened #235 "Per-target environment settings"
Most builder invocations are run in the environment we set up in `Environment.hs`.

However, GMP and Libffi `Configure` builders require special environment:
[code]
One problem with such ad-hoc environment settings is that these definitions are not properly tracked. They are also partially duplicated and cannot be easily reused when building other targets. We could, in principle, provide a generic

[2016-05-05 14:48] ndmitchell commented on #234
@snowleopard - so you now never need to run either `boot` or `configure`, and in normal development there will never be any reason to run `--skip-configure` - it's only there for people who want to make everything explicit? That's awesome!

[2016-05-05 14:49] ndmitchell commented on #234
I'll try it, probably over the weekend.

[2016-05-05 14:51] michalt opened #236 "Build fails with "Invalid cross-device link""
Compiling with `./hadrian/build.stack.sh --flavour=quick` fails with:

[code]

Note: `/tmp/` is a `tmpfs` on my system (Fedora 24). Seems like moving the directory doesn't work in this situation?

[2016-05-05 14:58] michalt commented on #236
Ok, so unless I'm missing something, we're calling `renameDirectory` which calls Posix `rename` and that doesn't work across different filesystems.

[2016-05-05 15:00] ndmitchell commented on #236
The problem is https://github.com/snowleopard/hadrian/blob/f0781a7c0c1124d7e0150298ca39b08a849ac338/src/Rules/Gmp.hs#L62-L79 - specifically we use `withTempDir` which creates a temp directory on a different system, then `moveDirectory` at the end. @snowleopard will have to comment on why we do all the operations on a temp directory first then move, rather than doing them directly to the right plac

[2016-05-05 16:59] #236 closed

[2016-05-05 17:10] snowleopard commented on #236
Thanks for reporting and fixing! It's sad that existing CI instances cannot catch such bugs. Perhaps, we can add a new CI to test commits on Fedora? @michalt Could you help with this?

To explain why I am using a temporary directory: I cannot unpack `libffi-tarballs/libffi-3.2.1.tar.gz` in the way I like just by invoking `tar` with appropriate command line arguments. What I want is all contents to

[2016-05-05 17:12] snowleopard commented on #234
@ndmitchell Yes, that's correct!

:+1:

[2016-05-05 17:12] ndmitchell commented on #236
It doesn't have to be a temp directory though, you can just extract then rename to a known place in the build system. Still unpleasant though.

[2016-05-05 17:12] ndmitchell commented on #236
And perhaps add the above as a comment near that code? Its a weird thing to do for sane reasons :)

[2016-05-05 17:16] snowleopard commented on #236
@ndmitchell Good idea, I'll add a comment.

I did use just another directory previously, something like `_build/libffi-tarball` but it felt awkward, because it complicated the build tree, hence potentially confusing people. If you think it would be safer to avoid using temporary directories I will switch back to using `_build/libffi-tarball`. In fact I can just delete it, to avoid confusion.

[2016-05-05 17:19] ndmitchell commented on #236
I'm not against using the temporary directory. The whole setup is a mess, and I imagine the temp directory is the most robust way of solving it.

[2016-05-05 17:40] thoughtpolice commented on #232
No, I'd just say push directly. Realistically nobody can review thousands of lines of code at once like this as a blob, it's just impossible, so there's very little advantage to it. A direct push into the repository just adding `hadrian` as one big commit is the way to go.

[2016-05-05 17:49] ndmitchell opened #238 "Windows build failure"
[code]

With Hadrian on e61bd4021b696a17c72c8d259adf55621f9c3959.

[2016-05-05 18:01] ndmitchell commented on #234
I tried, I failed, #238.

[2016-05-05 19:08] snowleopard commented on #232
@thoughtpolice OK, thanks. Will do once #234 is finalised.

[2016-05-05 19:10] snowleopard commented on #234
@ndmitchell Hmm, I don't think #238 is related to this issue. Can you try building with `--skip-configure`? I'm pretty sure it will fail too. (#238 looks familiar, I remember we have already solved it once...)

[2016-05-05 19:11] ndmitchell commented on #238
I tried continuing and it worked. Perhaps a non-deterministic bug?

[2016-05-05 19:11] ndmitchell commented on #234
Confirmed, trying again without cleaning worked - seems like a non-deterministic race condition. Nothing to do with configure, which seems like it works nicely.

[2016-05-05 19:12] snowleopard commented on #238
Aha, here it is! #203. I looks like we couldn't reproduce it and eventually closed the issue.

[2016-05-05 19:15] snowleopard commented on #234
@ndmitchell Nice! So, shall I drop the `boot` and `configure` lines from your script? Or would you prefer to edit it yourself?

[2016-05-05 19:16] ndmitchell commented on #234
Where is my script? I edited it on the blog page at http://neilmitchell.blogspot.co.uk/2016/03/compiling-ghc-on-windows.html. Did we copy it somewhere else?

[2016-05-05 19:17] snowleopard commented on #234
Here it is: https://github.com/snowleopard/hadrian/blob/master/doc/windows.md :-)

[2016-05-05 19:17] ndmitchell commented on #234
Ah, https://github.com/snowleopard/hadrian/blob/master/doc/windows.md - I'll link there from the blog post! And yes, please do feel free to edit it.

[2016-05-05 19:20] ndmitchell commented on #234
Perhaps we should also add `--flavour=quick` to the list of flags, so the default first-experience is a bit faster (people will rarely want to actually use the result immediately, since then you'd just use a dist).

[2016-05-05 19:22] snowleopard commented on #234
Done.

Good idea. Let me do that too. In `quick` mode my runtime is around 20min. What's your timing?

[2016-05-05 19:25] snowleopard commented on #238
@ndmitchell Given that we eventually gave up on #203, what shall we do now? Merge this with #203? Keep it open or closed?

[2016-05-05 19:53] Ericson2314 commented on #232
God I'm going to sound like a broken record here, but `git subtree` also automates that process (including the squashing).

[2016-05-05 20:38] bgamari commented on #232
John Ericson <notifications@github.com> writes:

I agree that it does seem like this would be a good application for `git
subtree`.

[2016-05-05 20:58] thomie commented on #232
Using this repository after the great merge will lead to some problems:

* The ghc repository will now have a `hadrian` folder. How would you clone this repository into the ghc repository? Clone it into `hadrian2`? Delete `ghc/hadrian` first?
* Once changes are made to the `hadrian` folder in the ghc repository (via phab, whatever), how would you keep ghc/hadrian and this hadrian in sync (both way

[2016-05-05 21:27] snowleopard commented on #232
@Ericson2314 My apologies, your `git subtree` comment somehow didn't register in my mind. The reason is very simple: I've no idea what `git subtree` is and have never used it! But now, after a quick google search it indeed looks like what we want. Thank you for pointing it. I need to rtfm, but if you could briefly share your understanding of how we should use `git subtree` that would be much appre

[2016-05-05 21:49] snowleopard commented on #232
@thomie You are most probably right. And I don't yet have answers to most of your questions on how this will work in practice.

Why merge now? As I think I have mentioned before, the hope is that once we merge, we will get more users, more bug reports, and more contributors. There may be potential contributors who are not willing to contribute while the project lives in GitHub in a toy-like status

[2016-05-05 21:56] Ericson2314 commented on #232
Sure. Now its only something I use time to time either :), but the basic idea is `add` will do the initial merge, `split` will filter upstream changes that affect the `hadrian` subdir in a deterministic manner (to push to this repo) and `merge` will get changes from the hadrian branch back into the ghc branch.

[2016-05-05 22:10] Ericson2314 commented on #232
I just did it to refresh my memory. For the initial merge:
[code]

[2016-05-05 23:12] snowleopard commented on #232
@Ericson2314 Awesome, many thanks! These are pretty detailed instructions on how to do the initial merge of Hadrian into GHC tree.

There are two other important use-cases.
1. I work on a Trac issue, fire a series of commits into my Hadrian branch here until I am happy. How do I now squash these commits and merge the result into GHC tree? I presume I need to use `merge`.
2. Someone made a contribu

[2016-05-06 03:03] Ericson2314 commented on #232
So you can squash with `--squash` for either of those in both cases. But you may want *not* to do so because when splitting a squashed merge, the history won't build on the prefix branch (`hadrian` in my example). Squashing works best when history only moves in one direction.

[2016-05-06 03:20] Ericson2314 commented on #232
1. Update master from hadrian

[code]

2.  Update hadrian from master

[code]
The rejoin helps subsequent merges understand that master and Hadrian have been "synchronized" by the `split`. But `--onto` can also be used to avoid that.

[2016-05-06 06:54] hvr commented on #234
Can we please have `cabal`-based instructions as well? It's fine to have instructions for Stack as well of course, but plain `cabal` is the base-line for GHC development.

[2016-05-06 06:59] hvr commented on #234
btw, what makes you think this? ;-)

[2016-05-06 07:17] hvr commented on #227
There's also another concern I haven't mentioned regarding the typical workflow of running `./configure`, inspecting its output (and generated files such as `config.h`), tweak `./configure` flags and repeat this step until everything looks as expected, and only *then* proceed to the build-phase. This is the workflow that ought to be convenient to practice also in the future unless you want me unha

[2016-05-06 07:21] ndmitchell commented on #234
The idea is not to give the definitive or official approach, just the simplest and most robust approach. It's not for hardcore developers, just people who want to try quickly.

The use if stack is primarily to get MinGW installed and setup, Cabal provides no alternative to that.

[2016-05-06 07:22] ndmitchell commented on #234
As for being what "most users" want, I'd disagree - it's exactly what I want, and I documented it so I can find it later :).

[2016-05-06 07:51] hvr commented on #234
fwiw, I just tried `./hadrian/build.cabal-new.sh` on an remote msys2 VM, and it just worked "simple and robust". I'm now confused why we even need a separate `build.bat` script.

That's because Stack does something (installing binaries) which is ought to be a concern of the system package manager which can do this in a really robust and sound way. I've elaborated elsewhere already why I consider t

[2016-05-06 08:49] ndmitchell commented on #234
Which version of msys2? Where did you get it? How did you configure it? My experience is the correct answer to all these questions varies somewhat over time and is hard to reproduce. In contrast, with `stack` it's a pretty simple and direct recipe. In this case we really are using `stack` as "the thing that downloads binaries for MinGW" - the Haskell dependency engine thing is pretty irrelevant.

[2016-05-06 09:55] snowleopard commented on #234
@hvr It would be great if you write down precise steps one needs to take on a fresh machine to get a successful `cabal-new` GHC build. I'd be happy if we have another `/doc` entry, say `/doc/cabal-new.md`. I can test your script on my Windows machine.

Both `build.sh` and `build.bat` are the baseline, as they are direct replacements of `make`. Not Cabal, not Stack, nor any other magic tool. Our cu

[2016-05-06 10:01] snowleopard commented on #227
@hvr You can do it the following way:
[code]
Any issues with the above?

[2016-05-06 10:14] ndmitchell commented on #227
A `phony` for `configure` would make it even easier.

[2016-05-06 10:20] snowleopard commented on #227
@ndmitchell Indeed! With a `phony` rule we get `hadrian/build configure`. Very nice.

@hvr What do you think? If you like this idea I can add the `configure` rule.

[2016-05-06 10:24] snowleopard commented on #227
@ndmitchell Oh, wait! `configure` is a valid target already -- the build system builds file `./configure` by running `boot`. How will the `phony` rule interact with this? Can we do `build ./configure` to build the file and `build configure` to run the `phony` rule?

[2016-05-06 10:28] ndmitchell commented on #227
Overloading by subtle path differences is a bad idea, and almost certain to go wrong. Just rename the phony to `conf` :)

[2016-05-06 10:58] snowleopard commented on #232
@Ericson2314 Many thanks again! I will do a couple of experiments using your scripts.

There is one problem left to be solved. We need to make sure we do not pollute GHC history with pointers to GitHub issues and PRs, so we can't simply do `git subtree add --prefix=hadrian hadrian/master`. Or am I missing anything?

@thoughtpolice Do you see any pitfalls in the above approach proposed by @Ericson2

[2016-05-06 11:00] hvr commented on #234
will do; we'll need that anyway for the GHC wiki as the officially recommended way for "hardcore developers"

Oh, ok... so the `build.*.sh` variants were never meant to be used directly by people... this is starting to make sense now:

The previous system used

 - `./boot` to create/build (parts) of the makefile system (i.e. the traditional bootstrap-phase)
 - `./configure` is the traditional Auto

[2016-05-06 11:14] snowleopard commented on #234
@hvr One correction: `build --skip-configure` is now a direct replacement for `make`, not simply `build`, which does more things by default.

This means the only command one normally needs to run is `build`. It will do:
* Run `./boot` to build `./configure` (if this hasn't been done before).
* Run `./configure` to build `hadrian/cfg/system.config` (if this hasn't been done before).
* Run the rest

[2016-05-06 11:18] snowleopard commented on #234
Another correction: no, `boot` is unchanged and it was never used to build `hadrian.exe`! The executable is build by the `build` script.

[2016-05-06 11:25] hvr commented on #234
why can't we leave the old legacy scripts in place for compatibility with people not wanting to use the new "cleverness"? I.e. I dont want to *have* to pass `--skip-configure`, I just want to keep using the old scripts and have a reasonable compatible behaviour. I've got Emacs setup, Debian ppa-packaging, and other helper scripts which rely on the boot/configure/make pattern. I'm really not keen t

[2016-05-06 11:27] ndmitchell commented on #234
Make is actually a pretty nice way of having small shell scripts with simple command line parsing. It's quite well suited. You just need to ignore all the dependency garbage :)

[2016-05-06 11:30] snowleopard commented on #234
Well, fine! We can create a `make` script/wrapper which does `build --skip-configure`. No difference whatsoever for existing workflows/legacy scripts/muscle memory. And @hvr is happy, hopefully :-)

And people who come naive and legacy-free to this world, like me, will simply write `build` and can remain oblivious to the mysteries of `boot`, `configure` and other bumps on the way to a working GHC

[2016-05-06 11:33] snowleopard commented on #234
@hvr There are already several different styles of output supported through `--progress-info` flag, see the `README`: https://github.com/snowleopard/hadrian#command-line-flags. Feel free to add another one suiting your preferences.

[2016-05-06 11:51] thomie commented on #232
Let me start with reiterating that I'm very grateful that you're working on this project, and I'm looking forward to day we can delete the old build system.

That's not a good thing! GHC developers should be doing GHC development, not be be bothered by build system bugs. As long as the issue queue here isn't empty, things like sdist/bindist are completely absent, users still running in complete bu

[2016-05-06 12:03] ndmitchell commented on #232
If I had the option, my roadmap would be:

* Make hadrian a submodule of ghc, so every GHC checkout includes this github version of Hadrian. Keep everything at GitHub. The build system remains the old system.
* A few interested users start playing, reporting, fixing, solving, improving.
* A few GHC developers (not necessarily the main ones) are using it for their day-to-day work.
* Then merge and

[2016-05-06 12:44] thomie commented on #232
@snowleopard: if my rant didn't convince you, no need to refute every point, I'll stop arguing

To get more contributors for hadrian, writing extensive documentation is probably your best bet. I found https://ghc.haskell.org/trac/ghc/wiki/Building/Architecture very helpful when starting out with the old build system. Then, make a plea for contributors to reddit.com/r/haskell. People say they want

[2016-05-06 12:55] snowleopard commented on #232
@thomie I don't think you fully convinced me yet, but you did force me to think deeper, so thank you!

I still prefer to respond to your individual the points.

What is the latest version of new the build system? Check two places.

Why? I disagree on these two points. After the merge there is only one place to check. Issues are on Trac. Latest official version is in GHC tree. Always.

This is a go

[2016-05-06 13:31] ndmitchell commented on #238
I don't have a good answer. The build is clearly broken in some non-deterministic interleaving. It hasn't been fixed, since it happened yesterday with no major changes since. But the chances of us reproducing are limited. :disappointed:

Note that compared on #203 this says "Permission denied" and not "No such file or directory". I had got RTS errors in the past, so this might indeed be a differen

[2016-05-06 13:55] thomie commented on #232
I probably misunderstood your earlier comment: "I copy new GitHub issues to Trac, but not vice versa."

Maybe your idea is to close the Github issue after it has been copied, and referring the Github user to Trac for updates on their ticket. That seems actually less user friendly than not accepting Github tickets at all.

There would need to be a new "Build System new / Hadrian" component in Trac

[2016-05-06 15:17] Ericson2314 commented on #232
@snowleopard Ignore my `--squash` FUD :)! I forgot about `--onto` when I wrote it. Now using `--onto` does require manual intervention every time, negating the ease of use `git subtree` provides, but nevertheless should work. Note with that workflow, you may be interested in skipping `git subtree` and just using `git read-tree` for all 3 use-cases:
[code]

[2016-05-06 16:26] thoughtpolice commented on #232
We also cannot simply use `git subtree` to merge things, due to the namespacing issue with GitHub/Trac I've mentioned previously. Unless I missed something and the previous recommendations scrub all references? If Trac identifies all these commits as actual GHC commits, it's also going to send a bunch of false emails notifying all of the tickets. We should really, really, really not do that.

Plea

[2016-05-06 16:40] thoughtpolice commented on #232
To be extra clear: *any commitment to some weird, short term solution is a made up solution to a made up problem, by us*. Literally all of these complaints can be solved by saying, as @thomie said, "Do not merge it right now, then".

Don't want to move off GitHub for now? Don't merge it, then.

Don't think it can do all the stuff the other one can? Don't merge it, then.

Want to have some super we

[2016-05-06 16:47] ndmitchell commented on #232
I have never encouraged any of the `subtree` stuff (my experience is that when I do weird git things it bites me, hard, repeatedly, until I cry).

But temporarily making it a submodule seems a beautifully "in the middle" solution. Technical debt is nearly zero. Ease of experimentation increases for existing devs increases. Migration is not harder. It lets us hold off on the merge a bit longer (whi

[2016-05-06 17:25] Ericson2314 commented on #232
Yeah the second time I brought up `subtree` I plain forgot about the commit message issues, @thoughtpolice, sorry about that. For the record, `git subtree` is just a short-hand for creating perfectly normally commits/trees/whatever, not a new sort of data like submodules. That with `--squash` or `read-tree` are basically fancy (or overwrought :)) ways to copy files around.

[2016-05-06 17:38] snowleopard commented on #232
@thoughtpolice You are right. It was decided. Well, it wasn't a grand carefully thought-through decision, it was basically just a couple of conversations, concluding with something like "Indeed, why not merge it sooner? Maybe people will like it and start using it!" We have never actually thought what such a merge would involve. And in this thread we finally started to look deeper and uncovered va

[2016-05-06 19:24] snowleopard opened #239 "Minimum Viable Product for tree-tremble"
After a Hadrian's-Wall-long discussion in #232, it looks that it will be best to postpone the Great Merge (the `tree-tremble` milestone) until Hadrian meets the Minimum Viable Product requirements.

Let us agree on what this MVP is. The current list includes the following (I will keep updating it as we go):
- [ ] Binary and source distributions, #219. Estimated effort: 2-5 weeks (I don't know much

[2016-05-06 20:03] ndmitchell commented on #239
* I would add cross-compilation to the list (probably not hugely difficult, but if it shows up weaknesses in the overall architecture you'll want to get them addressed before the merge).
* I would remove the documentation requirement. The overall "principles" are covered in the paper we wrote. The details are covered in the code. I'm sure additional docs will help everyone, but having them produce

[2016-05-06 20:28] snowleopard commented on #239
@ndmitchell Thanks, I agree. I've amended the list.

[2016-05-06 22:35] snowleopard commented on #238
@ndmitchell Indeed, I didn't spot the difference.

The error still doesn't make sense to me: why does `ar` try to rename the archive? And then why does the rename fail? No one can possibly lock the archive that it is constructing.

[2016-05-07 10:53] snowleopard commented on #234
OK, I think this can now be closed.

@hvr I'm not in a good position to lead on `/doc/cabal.md`, wrapper `make`, or `--progress-info=make` flag, but I'll be happy to help, just ping me!

[2016-05-07 10:53] #234 closed

[2016-05-10 17:38] thomie opened #240 "ghc-cabal: Encountered missing dependencies: Cabal >=1.25 && <1.27"
I'm running into the following problem, using default user settings and `--flavour=quick`.
[code]

Here are some diagnostics. I'm on Hadrian commit 6ef09f44f4c6128971ecaafda61b22cb0befa35c. The Cabal package indeed seems missing (`_build/stage1/libraries/Cabal` doesn't exist either`).

[code]

[code]

[2016-05-10 17:49] thomie opened #241 "GHCi doesn't work: unknown symbol `__gmpn_rshift'"
Using the same build as reported in #240, I'm getting the following error when trying to start `ghci`:
[code]

(as reported in #240, my build didn't finish, but `ghc-stage2` exists, so I think `ghci` should work regardless)

The `__gmpn_rshift` issue has come up before:
* https://mail.haskell.org/pipermail/ghc-devs/2014-November/007388.html
* https://mail.haskell.org/pipermail/ghc-devs/2014-Decemb

[2016-05-10 18:00] thomie commented on #181
`unlit` is still missing for me, as are the following `utils`:
[code]

This is with the same build as reported in #240, commit 6ef09f44f4c6128971ecaafda61b22cb0befa35c.

[2016-05-10 18:01] ndmitchell commented on #240
Can you do a clean and rebuild? It shouldn't be necessary, but it tells us if its non-deterministic or reproducible.

[2016-05-10 18:17] snowleopard commented on #240
I second @ndmitchell's suggestion. The build is working on my machine and all three CI instances, so I assume the issue is actually caused by the fact that you interrupted the build a few times. I have also experienced similar issues but never came up with anything easily reproducible.

Most probable cause: missing dependencies. Let's hunt this down!

[2016-05-10 18:24] snowleopard commented on #181
No idea why these are missing:
[code]
I think the root issue is #240.

As for `ghc-iserv`, I don't think we build it. We have the following in `GHC.hs`:
[code]
@thomie Is this what you are looking for? I don't build this on Windows, so I have little knowledge what this is about. A couple of issues that may be relevant: #9, #102, #105.

[2016-05-10 18:30] snowleopard commented on #241
Yes, this is also reproducible on my machine.

I don't think we could ever run `ghci`. My understanding was that it is tied very tightly to the `dynamic` way which is not yet implemented (#4). However, maybe I'm wrong and we should be able to run `ghci` when building simple `vanilla` GHC?

[2016-05-10 20:30] thomie commented on #241
I did a build using the old build system, using a `mk/build.mk` file which should closely resemble `--flavour=quick`:

[code]

`ghci` works with this build. GHC's .travis.yml also sets `DYNAMIC_GHC_PROGRAMS = NO`, and it passes all ghci tests.

[2016-05-10 20:53] thomie commented on #181
Ah, right, these utils all depend on Cabal, so that makes sense. I'm doing another build now to verify.

In my regular build, it is in `inplace/lib/bin/ghc-iserv`. It is used by `ghci -fexternal-interpreter` (https://ghc.haskell.org/trac/ghc/ticket/11100. I think the plan is to make that flag the default for ghci after some more testing. Facebook uses it already). It should work on Windows as well

[2016-05-10 22:15] thomie opened #242 "inplace/bin/check-api-annotations is missing"
It is used by the testsuite.

[2016-05-10 22:17] thomie commented on #181
Ok, after a succesful rebuild, only the following `utils` are missing:

* `inplace/bin/check-api-annotations`: I opened #242
* `inplace/lib/bin/ghc-iserv`: ticket #105

[2016-05-10 22:21] thomie commented on #240
Not reproducible, after a clean and uninterrupted rebuild.

[2016-05-10 22:35] thomie opened #243 "userLibraryWays should override flavourLibraryWays"
`getLibraryWays` currently looks like this:
[code]

I think the order of `userLibraryWays` and `flavourLibraryWays` should be reversed. The user is always right.

[2016-05-10 22:51] thomie opened #244 "Colorcodes in file after piping progress information to file"
Priority lowest.

Hadrian/Shake progress information is very pretty and colorful. Only problem is, after running `./hadrian/build.sh > build.log`, `build.log` contains not so pretty entries like:

[code]

`utils/ghc-pkg/Main.hs` has some code to work around this problem:
[code]
From GHC commit https://github.com/ghc/ghc/commit/930421d4ed09e5389e0ef4c5eef36075a6809cc0:
[code]

[2016-05-10 23:25] thomie opened #245 "progress-info option that prints each command being run"
I would like a flag to get progress info like this:

...
"inplace/bin/ghc-stage1" -hisuf hi -osuf  o -hcsuf hc -static  -O0 -H64m -Wall      -hide-all-packages -i -ighc/. -ighc/stage2/build -ighc/stage2/build/autogen -Ighc/stage2/build -Ighc/stage2/build/autogen    -optP-DGHCI -optP-include -optPghc/stage2/build/autogen/cabal_macros.h -package-id array-0.5.1.1 -package-id base-4.9.0.0 -package-id

[2016-05-10 23:33] thomie opened #246 "Build the User's Guide + man pages"
See `docs/users_guide/ghc.mk` and `rules/sphinx.mk`.

[2016-05-10 23:50] thomie opened #247 "Do not check src/Settings/User.hs into the repository"
Any changes a user of Hadrian makes to that file should not get included into their GHC commits (by accident).

Possible solution:
* `git mv src/Settings/User.hs src/Settings/DefaultUser.hs`
* In `build.sh`, if `src/Settings/User.hs` is missing, either abort or show a warning and `cp src/Settings/DefaultUser.hs src/Settings/User.hs`.

Checking out old revisions of Hadrian will cause some problems

[2016-05-10 23:53] Ericson2314 commented on #247
A file can be committed and also `.gitignored`, in which case I believe `git add -u`, `git add /path/to/repo`, etc, will not pick up any change to it.

[2016-05-10 23:58] snowleopard commented on #245
@thomie Do you know about `verboseCommands` setting in `Settings/User.hs`? It allows to choose which commands to print verbosely in a very flexible way. For example, if you are interested in the command line just for the above case, you can use:
[code]
(By the way, I'm thinking of renaming `file` to `output` for clarity and also adding `input` predicates.)

A few other examples:
[code]

I think th

[2016-05-11 00:06] snowleopard commented on #243
Here is why I chose this ordering: it's easier to change the command line (say, by adding `--flavour=quick`) than to change `Settings/User.hs`. So, I thought that command line settings should apply last. Changing them is very cheap, as no recompilation of Hadrian is needed, so presumably users will be using them for most frequent tweaks.

But both the current flavour and `Settings/User.hs` are set

[2016-05-11 00:11] snowleopard commented on #247
I think @bgamari has already suggested the `.gitignore` solution mentioned by @Ericson2314. I like it. If I ever need to actually commit to `src/Settings/User.hs` I will find a way to do that (e.g. simply via the GitHub web interface).

For now I am keeping `src/Settings/User.hs` outside of `.gitignore` because I change it pretty frequently. But if it is annoying let's `.gitignore` it.

Thoughts?

[2016-05-11 00:13] snowleopard commented on #246
Shall this go into the list in #239?

@thomie You are on fire today -- many thanks for your help :+1:

[2016-05-11 00:18] thomie opened #248 "Fix dynamicGhcPrograms (or not!)"
`git grep dynamicGhcPrograms` in the `hadrian` repository returns suspiciously few results. I don't think this is working yet.

All `utils` that are shipped with GHC (like `hsc2hs`, `haddock` etc), and also `ghc` itself, should be built `-dynamic`.

Depends on #4 (Fix dynamic way).

**BUT MAYBE IT IS NOT NECESSARY TO IMPLEMENT DYNAMIC_GHC_PROGRAMS**

Because we can make `ghci -fexternal-interprete

[2016-05-11 00:20] snowleopard commented on #242
Let me take care of this. Will try to fix tomorrow.

[2016-05-11 00:23] snowleopard commented on #241
@thomie Thanks, good to know this does not depend on #4.

[2016-05-11 00:26] snowleopard commented on #181
Great, thanks for clarifying. I'll handle #242 asap, but #105 may require a bit more work.

[2016-05-11 00:29] thomie opened #249 "`hadrian/build.sh clean` continues building Hadrian, instead of cleaning stuff up"
`make clean` or `hadrian/build.sh clean` should preferably finish in a few seconds.

Scenario: a user has second-thoughts about starting their Hadrian-powered ghc build, or wants to still tweak some settings and start over.

The `clean` target should perhaps be implemented in a script.

[2016-05-11 00:33] thomie opened #250 "Freeze stage1"
GHC developers use this feature daily.

https://ghc.haskell.org/trac/ghc/wiki/Building/Using#Freezingstage1

[2016-05-11 00:40] snowleopard commented on #249
A related issue: at the moment we are not cleaning the Hadrian executable (it cannot delete itself).

Once the move of all build results to `buildRootPath` is complete (#113) cleaning will be as simple as deleting the build directory.

[2016-05-11 00:43] snowleopard commented on #250
This can be done using Shake's `--skip` feature: https://github.com/ndmitchell/shake/issues/436. For example, one can pass `--skip=_build/stage1/*` to Hadrian to freeze Stage1.

@thomie Can you test how well this works?

[2016-05-11 00:47] thomie commented on #245
Excellent, just what I was looking for.

[2016-05-11 00:59] thomie opened #251 "Implement per-package warning suppression flags"
To pass validate, Hadrian should learn the per-package warning suppression flags from `mk/warnings.mk`. `Note [Order of warning flags]` in that same file might also be useful.

More info: https://ghc.haskell.org/trac/ghc/wiki/Commentary/CodingStyle#Warnings

[2016-05-11 01:06] thomie opened #252 "Fix debug way"
[code]

It is strange, because the `debug` RTS way _is_ listed:

[code]

But the library is indeed missing:

[code]

I used `--flavour=quick` to create this build.

[2016-05-11 01:21] Ericson2314 commented on #247
`git add -f src/Settings/User.hs` would still work.

[2016-05-11 01:27] thomie commented on #247
Actually, both solutions have problems.

An update to `src/Settings/DefaultUser.hs` (or `src/Settings/User.hs`) in master, can cause, when

* keeping `User.hs` outside repository: build failure
* adding `User.hs` to .gitignore: merge conflict

Both will cause spj to send a confused email to ghc-devs.

Compare this to the current situation, where adding some new setting to `mk/build.mk.sample` does

[2016-05-11 04:55] Mathnerd314 commented on #244
You could pipe it through the [strip-ansi-cli](https://github.com/chalk/strip-ansi-cli) program, or use a text viewer that parses the ANSI codes.

If you really do need a color output option, it should have three values: 'always', 'never', and 'auto' (i.e. tty detection), so that it's still usable with ``less -R``.

[2016-05-11 06:30] ndmitchell commented on #250
I wouldn't bother testing it just yet, wait for the next Shake.

[2016-05-11 06:34] ndmitchell commented on #249
Is the goal of this to avoid compiling Hadrian itself? If so, I disagree - having the first clean take 1 min to compile Hadrian is no big deal, but having two sources of information or duplicating command line parsing is inadvisable.

[2016-05-11 06:38] ndmitchell commented on #247
My suggestion is to use include paths. Have User.hs.sample in the ideal place for user settings, and a separate empty user settings file somewhere nice and obscure. Put the User.hs.sample path first on the include path so we pick it up if it exists but use empty settings of they don't.

[2016-05-11 07:52] thomie commented on #249
yes

it was a small annoyance to me

Priority lowest.

[2016-05-11 12:27] bgamari commented on #250
Andrey Mokhov <notifications@github.com> writes:

However, it would be great if the feature had a more memorable/less
awkward name. Having to know the build path of the stage 1 compiler
feels like a bit of a regression relative to the current build system.

[2016-05-11 12:28] snowleopard commented on #249
Just to record here that there may be more complexity to `clean` than I previously thought:

* **Clean only stage2.**
* **Clean only libraries.**
* Build only stage1/2 from the top level.
* Build only the libraries.
* Uninstall GHC.

(From this reddit thread: https://www.reddit.com/r/haskell/comments/4isua9/ghc_development_outsidein/. Emphasis is mine.)

Cleaning only specific stages or only speci

[2016-05-11 12:28] ndmitchell commented on #250
Once it is possible via `--skip`, adding sugar so it's a command line flag is easy enough.

[2016-05-11 12:31] snowleopard commented on #250
@bgamari Sure, we can and will sugar it up nicely.

@ndmitchell Thanks for self-assigning!

[2016-05-11 12:44] snowleopard commented on #247
@ndmitchell Sorry I don't quite follow. Could you elaborate?

This is how I understood your comment.

We have two files:
* `hadrian/src/Settings/User.hs` just as we have currently. It is **not** in `.gitignore`.
* Initially missing file, e.g. `hadrian/UserSettings.hs`, which a user can create by copying `src/Settings/User.hs` and editing it as desired. This file **is** in `.gitignore`.

When compi

[2016-05-11 12:48] ndmitchell commented on #247
I'd have `hadrian/UserSettings.hs.sample` and `hadrian/src/UserSettings.hs`. Users would create `hadrian/UserSettings.hs` which is picked up by the include path if present and is in `.gitignore`. I don't think it's very complicated (just one extra `-I` flag), and it does solve all the issues.

[2016-05-11 12:50] snowleopard commented on #252
Thanks for documenting this.

As we say in the list of limitations, we can only properly build `vanilla` and `profiling` ways at the moment.

Let me rename this issue, we'll use it to track progress with the `debug` way.

[2016-05-11 12:53] snowleopard commented on #247
Thanks, I see! So initially we have `hadrian/UserSettings.hs.sample == hadrian/src/UserSettings.hs`?

Is it important to use `hadrian/src/UserSettings.hs` instead of the current `hadrian/src/Settings/User.hs`?

[2016-05-11 12:57] ndmitchell commented on #247
They must both have the same module name, so yes, they can't be equivalent.

I would initially have `hadrian/src/UserSettings.hs` say "don't edit this, see `hadrian/UserSettings.hs`" and have it be complete but empty - e.g. `userSettings = mempty`, in contrast to `hadrian/UserSettings.hs` which would have lots of commented-out/`when False` code to do lots of interesting/relevant things.

[2016-05-11 13:00] snowleopard commented on #251
Right, so I think per-package warning suppression flags should probably live in `Settings/Packages/*`. This seems easy enough to implement, just need to make sure the desired order of flags is respected.

Thanks for the helpful links! Note, I renamed the issue.

[2016-05-11 13:03] snowleopard commented on #247
@ndmitchell Right, thanks, this makes sense, although I'm still unclear on some details. You seem to have a much clearer idea on how this will work -- could you perhaps put this into a PR?

[2016-05-11 16:55] bgamari commented on #250
Andrey Mokhov <notifications@github.com> writes:

Awesome, thanks!

[2016-05-12 00:35] thoughtpolice commented on #241
Yes, GHCi definitely is supported, and we only switched to dynamic linking in 7.8. Before that we used GHC's own home-grown linker, and in fact, every time you use Windows, you use the built in static linker.

[2016-05-14 13:07] snowleopard commented on #245
I've added a doc, covering user settings and `verboseCommands` in particular:

https://github.com/snowleopard/hadrian/blob/master/doc/user-settings.md.

[2016-05-14 13:07] #245 closed

[2016-05-16 12:47] snowleopard commented on #244
Reopened as we'd like to improve on the current solution.

[2016-05-16 13:20] michalt commented on #244
Ok, so to summarize what we still want to do:

- Remove the hack for mingw/cygwin in favor of a way to specify whether the colors should be added always/never/automatically (similar to what `grep` is doing). Should this be a flag or something in `Settings/User.hs`? I'm a bit hesitant about a flag, because shake already has one, so having another might cause some confusion.

- Allow to specify what

[2016-05-16 15:03] michalt opened #254 "Call to `getDirectoryFiles` tracks hidden files"
I just got a warning from shake's lint that a call to `getDirectoryFiles` changed the result (a new file was added). The problem is - the file is actually a hidden vim `.swp` file. IIRC shake's `getDirectoryFiles` automatically starts tracking the files that it returns (please correct me if I'm wrong - I'm not very familiar with shake). This would mean that if we use `"*"` as pattern, we start tra

[2016-05-16 15:31] ndmitchell commented on #254
Specifying the patterns we consider relevant is a much better way to go.

[2016-05-16 16:44] snowleopard commented on #254
@michalt Thanks for reporting, this may be relevant for many GHC developers.

The module `Oracles.ModuleFiles` also has the following function:
[code]

So, basically we know exactly what we are looking for and can specify this in a pattern.

@ndmitchell I presume this won't hurt performance? I expect the cost to be dominated by traversing the the directory, not file pattern matching, so we should

[2016-05-16 19:19] ndmitchell commented on #254
@snowleopard I expect that too - especially with the latest 0.15.6 which has the tree walking performance enhancements. If you do see a regression, let me know, but I wouldn't even bother measuring - I'll be investigating as part of performance work in a little bit anyway.

[2016-05-16 20:46] #254 closed

[2016-05-16 20:47] snowleopard commented on #254
I've committed a fix, see above.

@michalt Please test it and reopen the issue in case I missed anything.

[2016-05-16 22:59] snowleopard commented on #244
@michalt Thanks for the summary. We could probably include here the [remark](https://github.com/snowleopard/hadrian/pull/253#issuecomment-219448135) by @Mathnerd314 that we can/should override Shake's `shakeOutput` in `shakeOptions` for telling Shake how to use colours. I'm not entirely sure what this means, but I think this could help us reuse Shake's `--colour` flag, at least partially.

[2016-05-16 23:22] snowleopard commented on #244
I've been experimenting with providing colour settings from `Settings/User.hs` but all my attempts lead to nasty import cycles: we need to import `Settings/User.hs` from the file where `putBuild` et al are defined, but the latter are needed in a lot of places. I managed to solve this by sacrificing `putError` (using plain `error` instead, which should be fine) and a couple of invocations of `putOr

[2016-05-17 04:44] thomie commented on #243
In my opinion, users shouldn't be encouraged to control build settings using command line flags. If they come back to a project after a short break, they will just want to type `make` or `hadrian/build.sh` etc, and it should be a zero-build. They wouldn't remember which command line flags they used previously.

I don't think `--haddock`, `--flavour`, `--split-objects` need to exist at all. They ca

[2016-05-17 09:16] snowleopard commented on #243
@thomie This is quite a big step in the design space, away from the familiar territory of the Make build system. This also sounds as a dangerous diversion from the current project of migrating from Make to Shake, so I'm not sure now is a good time to attempt such changes. Note that in Make we could also dump all command line flags and use only `build.mk`, yet this is not how things are done. Let m

[2016-05-17 09:28] hvr commented on #243
quick 2cents until I get more time to elaborate: I always considered `mk/build.mk` to be a configuration file in spirit. I don't like the idea that `Settings/User.hs` takes it places, requiring a recompile of `hadrian` everytime I want to change/tweak a setting. I'm used to the `./configure` mental model which makes configuration flags/choices sticky. So that when I run `make` it keeps using whate

[2016-05-17 10:14] thomie commented on #243
No?

I'm not sure why you think this.

Users can edit `mk/build.mk` to select a build flavour and set some other settings they would like to persist. There is no way to select a build flavour using command line flags.

Keeping the `--flavour` flag for CI is fine.

Anyway, this was a minor feature request to let users override settings from `Settings/Flavours/*.hs` by editing `User.hs`. Just like t

[2016-05-17 10:35] thomie commented on #243
Command line flags should apply last, indeed. So if nothing else changes, this issue can be closed.

Sorry, while writing my previous comments, I mistakenly assumed it was already possible to select the build flavour from `User.hs`. I now see that isn't the case (though I think it should be, and maybe a new ticket should be opened for that).

[2016-05-17 10:56] snowleopard commented on #243
I think what we can do is to let the user choose the _default flavour_ in `User.hs`. And in general, this may be a good approach: the user can change default settings for all command line settings in `User.hs`, and then override them from command line if need be. Does this sound good?

Note, there is an open issue dedicated to build flavours: #188. Currently we only have two: `Default` (default) a

[2016-05-17 12:08] thomie commented on #188
As discussed in #243, it would be nice to be able to select a BuildFlavour from within `User.hs`.

Other setting in `User.hs` should then override settings predefined by that BuildFlavour. And command-line flags should yet again override all the previous settings.

[2016-05-17 12:08] thomie commented on #243
Yes.

I'm closing this issue, as it was mostly just misunderstanding.

[2016-05-17 12:08] #243 closed

[2016-05-17 13:00] snowleopard commented on #188
The relevant bits are [here](https://github.com/snowleopard/hadrian/blob/master/src/CmdLineFlag.hs#L23-L32):
[code]

And [here](https://github.com/snowleopard/hadrian/blob/master/src/Settings/Args.hs#L90-L92):
[code]

The trick is to implement the overriding of defaults in `Settings/User.hs` without introducing import cycles... Not sure how to do that yet.

[2016-05-18 01:58] #244 closed

[2016-05-18 02:00] snowleopard commented on #244
OK, I think I've come up with an OK solution.

We attempt to detect support for colour automatically, but if we fail use `--progress-colour=never` and colours will not be used (this is now used at CI).

Users can change the way `putBuild` and `putSuccess` are printed in `Settings/User.hs`.

[2016-05-18 07:10] hvr opened #255 "Provide legacy interface"
I've mentioned this already elsewhere, but I think this deserves a ticket of its own:

When we switch over to Hadrian as the only buildsystem, there needs to be a legacy interface in place so that existing ci-build-scripts & deb/rpm recipes (which currently work back till at least GHC 7.0) have a chance continuing to work without having to special-case post-Hadrian GHC trees. This specifically mea

[2016-05-18 08:21] snowleopard commented on #255
@hvr Many thanks for documenting this!

Providing a `make` wrapper calling to Hadrian should not be difficult.

Starting by just forwarding `(all)` and `clean` targets to Hadrian seems to be the simplest approach.

[2016-05-19 18:10] snowleopard commented on #241
So, I found the cause: Hadrian incorrectly builds `HSinteger-gmp-1.0.0.1.o` library. When I rebuild GHC using the library built by the Make build system, GHCi works fine.

[2016-05-19 21:55] #241 closed

[2016-05-21 00:00] #242 closed

[2016-05-21 00:38] snowleopard commented on #240
I found a way to reproduce!
* Delete `_build/stage2/utils/ghctags/*`
* Delete `utils/ghctags/stage2/*`
* Delete `inplace/lib/package.conf.d/Cabal-1.25.0.0.conf`
* Run `build inplace/bin/ghctags.exe`

[2016-05-21 01:23] #240 closed

[2016-05-21 08:27] ndmitchell commented on #240
Nice catch!

[2016-05-22 11:12] michalt commented on #244
@snowleopard Works well for me. Thanks!

[2016-05-23 21:01] snowleopard commented on #238
@ndmitchell What if I simply stop using temporary files here? There is only occurrence of `withTempFile` and two occurrences of `withTempDir` in Hadrian, so I could manually create files/directories myself.

[2016-05-23 21:02] snowleopard commented on #238
(We don't know for sure whether temporary files are to blame, but somehow I suspect they are.)

[2016-05-24 05:00] ndmitchell commented on #238
Having stress tested temp directories and files, I believe them to work. I don't see how a temp issue what cause problems at the renaming step?

[2016-05-24 11:08] snowleopard commented on #238
OK, let me list all possible interactions that may theoretically affect `ar`. I'm using check boxes to indicate items that I think are **not** responsible for the failure:
- [x] Before we run `ar` we `removeFile` the old `.a` archive, because we are using `ar` in the _quick append_ mode by passing flag `q`. Although we could in principle avoid this step, I don't see how it can possibly lead to the

[2016-05-24 20:57] ndmitchell commented on #238
@snowleopard - can you point me at the `removeFile`? And I'm assuming `arCmd` is where `ar` gets invoked?

[2016-05-24 21:18] ndmitchell commented on #238
I doubt it has anything to do with the temp file - the error revolves around the output filename. If the temp file was involved you'd expect to see it in the error message. I tried and failed to find the source to mingw ar, so I could see in what circumstances it wrote out that error, whether it was renaming from/to etc.

[2016-05-24 21:32] snowleopard commented on #238
@ndmitchell Here is where `removeFile` occurs, at the very start: https://github.com/snowleopard/hadrian/blob/master/src/Rules/Library.hs#L24

`arCmd` is actually a bit involved and could probably be improved, but here is the function that matters in our case: https://github.com/snowleopard/hadrian/blob/master/src/Settings/Builders/Ar.hs#L37-L40

[2016-05-24 21:48] ndmitchell commented on #238
Why not do the remove file in arCmd? The dislocation makes it way harder to reason about.

[2016-05-24 22:21] snowleopard commented on #238
@ndmitchell the current version of `arCmd` is not clever enough to know how the output file is called, so it can't delete it (unless we do something fragile like `argList !! 2`). But I agree that currently it's hard to reason about -- the whole collection of code for handling `ar`, scattered across several files, is a big mess.

Let me think how to improve the whole thing...

[2016-05-26 19:57] ndmitchell commented on #238
This doesn't seem right. Can't we define our own virtual "ar" builder which takes arguments in a defined order that we specify and then we call "ar" ourself? If the delete and create aren't next to each other then that massively increases the chance they aren't being called in a pair, and that is the source of the failure.

[2016-05-26 23:47] snowleopard commented on #238
@ndmitchell Yep, I'll move the `removeFile` next to the `ar` command. (However, I don't think that it is the source of the problem now.)

[2016-05-28 16:41] KaiHa commented on #247
Hi, I believe I have implemented the discussed approach (see https://github.com/KaiHa/hadrian/commit/a53edf19c21a7cd289eee3f3de65ea23e27f111a). At least in my implementation there is the problem that hadrian is not recompiled by cabal if the file with the user settings is newly added. Does anyone have an idea what I did wrong or how It could be improved?

[2016-05-29 09:58] snowleopard commented on #247
Many thanks @KaiHa! Good that you've spotted the issue that Cabal doesn't detect the newly added settings file. @ndmitchell Have you got an idea how to workaround this?

[2016-05-30 05:59] ndmitchell commented on #247
Thanks @KaiHa! Unfortunately there's a bug in GHC that it depends on the CPP files included, not the non-existence of files earlier in the include path. This is a bug with CPP include paths, but the bug does not happen for Haskell include paths, so you need to avoid CPP and do the same include path trick but switching on which Haskell file is first in the include path.

[2016-05-30 06:11] ndmitchell commented on #247
I created https://ghc.haskell.org/trac/ghc/ticket/12135 with a small reproduceable ticket. It's a bug in GHC, not Cabal.

[2016-05-30 06:40] KaiHa commented on #247
Just to make sure I understood right, @ndmitchell you mean by adding `.` before `src` to the `hs-source-dirs` in the cabal file?

[2016-05-30 06:41] ndmitchell commented on #247
@KaiHa, yes, that's what I'd expect.

[2016-05-30 07:28] KaiHa commented on #247
OK, I have amended my changeset (see https://github.com/KaiHa/hadrian/commit/123bdb37674bfe60509886ec92c99e80b0588966). I tried to touch as few files as possible. This time the newly added file is recognized.

[2016-05-30 08:23] snowleopard commented on #247
@KaiHa @ndmitchell Thank you!

@KaiHa Could you raise a PR with your changes?

[2016-05-30 19:28] KaiHa opened #259 "ghci fails with "unable to load package `integer-gmp-1.0.0.1'""
After building ghc with hadrian the invocation of `../inplace/bin/ghc-stage2 --interactive` fails with the following error message:

[code]

Comparing the `ldd` output of the hadrian-build and the make-build unveils that the hadrian-build is missing a dependency:

[code]

I don't know if this is expected or if this is an consequence of the dynamic build issue referenced in an other ticket.

[2016-05-31 05:42] ndmitchell commented on #238
Once all the code is in one place I can run a `replicateM_ 1000` loop on it, which will tell us if single-threaded `ar` can ever get wedged. Probably unlikely, but a useful data point to rule out.

[2016-05-31 06:10] #247 closed

[2016-05-31 08:39] snowleopard commented on #259
Thanks for reporting! I can't reproduce on my machine yet but I'm behind GHC HEAD. Will try to reproduce on HEAD soon.

[2016-05-31 11:53] KaiHa commented on #259
For testing purposes I linked ghc against `libgmp` by altering the file `src/Settings/Builders/Ghc.hs`
[code]

but the above failure still persists.

I am building ghc 1e6701011425edb3553abc17c094a2a9faee4fd5
with hadrian 45b5f1341e3b400efeaa675ddc9d43d69268ff09
on a Debian (sid) amd64.

[2016-05-31 19:15] michalt commented on #259
I can reproduce with today's GHC HEAD and Hadrian. I've run:
`./hadrian/build.stack.sh --flavour=quick -j9 clean` followed by
`./hadrian/build.stack.sh --flavour=quick -j9`.

Interestingly I get more missing symbols (not only `integer-gmp`). Full output of running `inplace/bin/ghc-stage2 --interactive` below:
[code]

[2016-05-31 23:06] snowleopard commented on #259
I'm currently travelling and on a terrible Internet connection -- can't even checkout GHC HEAD. Will look into this as soon as I can.

The only possibly relevant recent change was done here: #241. If it is unrelated, then I'd suggest to do `git bisect` in GHC HEAD to identify the offending commit and see how Make build system copes with it.

[2016-06-01 07:29] ndmitchell commented on #259
Simon Marlow always said that starting ghci and evaluating `1+2` is a relatively good smoke test that you got everything working. Perhaps add `ghc -e 1+2` to the Travis bots?

[2016-06-01 08:17] snowleopard commented on #259
@ndmitchell Good idea, I didn't know we have `-e`! I've added this to Travis.

[2016-06-01 08:35] snowleopard commented on #259
Oh, looks like there are other new breakages in GHC HEAD, in particular related to `@HaveLibdw@` flag. I'll try to fix this.

[2016-06-01 09:16] snowleopard commented on #259
I've managed to build GHC HEAD on my Windows machine, but I can't reproduce this failure. Both `-e 1+2` and `--interactive` work fine for me.

[2016-06-01 11:06] snowleopard commented on #259
The issue is now reproducible on the Travis Linux instance.

[2016-06-01 13:42] snowleopard commented on #259
I think this issue is related to missing transitive dependencies. I must have introduced the bug when working on fixing #241.

[2016-06-03 07:11] hvr commented on #250
@bgamari fwiw, there's a several reasons why we'll keep around a legacy `Makefile`-wrapper anyway, so I think we'll just need to make sure that the legacy interface (c.f. #255) will translates the UI GHC developers are used to, to internal calls to `hadrian` with the respective flags/operations. I also think the legacy interface will remain the officially recommended way to interact with `hadrian`

[2016-06-03 15:35] snowleopard commented on #250
@hvr What are these 'several reasons'? I'm aware of only one: don't break old scripts that call `make`.

But why? As soon as Hadrian is ready (hopefully this will happen some day), I'd recommend that everyone uses it directly to avoid any intermediate layers that introduce unnecessary noise.

[2016-06-03 17:55] hvr commented on #250
if you consider that only one reason (i.e. ci-scripts, local scripts, IDE integration, various tooling which detects `Makefile`s, etc), then I revise "several" into "a few" reasons :-)

The other reason I see is that I don't think that `hadrian` will be able to bootstrap itself. That's why we currently have a couple of awkward `build.sh` scripts, haven't we? So we need an additional layer anyway.

[2016-06-03 18:22] snowleopard commented on #250
Oh, I can see how bootstrapping Hadrian via `make` can work well (at least on non-Windows machines), but please-please-please can we get rid of Perl scripts in GHC?! I was planning to subsume it into Hadrian some day...

The rest makes sense, thanks for providing more details. :+1:

[2016-06-03 20:43] hvr commented on #250
I'm all for reducing reliance on `perl` in the long-term (I assume you're talking about `./boot`?) ... that would also finally allow us to drop bundling a `perl` interpreter for the GHC bindists for Windows (here I'm talking about https://ghc.haskell.org/ticket/9832).

[2016-06-07 00:13] snowleopard commented on #259
I tried hard to catch a missing dependency, but so far everything appears to work correctly.

@KaiHa @michalt Is the bug deterministic on your machines? What happens if you rebuild the GHC executable only?

[2016-06-07 00:15] snowleopard commented on #259
As @ndmitchell suggested, the issue could also be related to the *order* of files in some linker invocations.

[2016-06-07 05:32] KaiHa commented on #259
I rebuild by executing `rm inplace/lib/bin/ghc-stage2 inplace/bin/ghc-stage2; ./hadrian/build`. Is this the correct way to rebuild the GHC executable only?

If I rebuild in the above described way, the error still persists.

[2016-06-07 09:17] snowleopard commented on #259
@KaiHa Yes, that's what I had in mind. Another experiment could be to also delete `integer-gmp` libraries `.a` and `.o` in `_build`, and rebuild GHC.

[2016-06-07 09:48] KaiHa commented on #259
A `find _build -name "*integer-gmp*"` produces only the following results:
[code]
Is this what is expected?

[2016-06-07 10:06] snowleopard commented on #259
This is strange: I believe there should also be something like `HSinteger-gmp-1.0.0.1.o`, which is a GHCi library. Will check this later, when I get to my machine.

[2016-06-07 10:32] alexbiehl opened #261 "Unknown command HOST"
I am trying to compile ghc on a Windows 7 machine. So far `ghc-stage1` built fine. But compiling `libffi` fails with  `Command "HOST" not found` (roughly translated as for some reason the shell spits out german errors).

I invoke hadrian using stack with the command line from the tutorial:
`stack exec --stack-yaml=hadrian/stack.yaml -- hadrian/build.bat -j --flavour=quick`

I manually unpacked `li

[2016-06-07 21:48] snowleopard commented on #261
@alexbiehl Can you run Make manually in `_build/stage1/libffi`? Looks like on your system Make is called `gmake`, so what happens if you run:
[code]
If this fails, perhaps you can also try `make` instead of `gmake`. (Looks like this is what you tried via Stack already, but without the `install` argument).

Note, Hadrian uses `gmake` because this is what the `configure` script tells it to use. To d

[2016-06-07 23:46] snowleopard commented on #259
Right, I confirm that the file `HSinteger-gmp-1.0.0.1.o` is also absenst on my machine. I'm not sure what's going on: 1) Why is it now absent? Most probably GHC has changed; 2) why doesn't this lead to link failures on Windows?

[2016-06-08 00:22] snowleopard commented on #259
Ah, I've found the reason! :tada:

@KaiHa In your commit https://github.com/snowleopard/hadrian/commit/123bdb37674bfe60509886ec92c99e80b0588966 you actually (rather stealthily!) changed the `dynamicGhcPrograms` from `False` to `True`, which disabled building static GHCi libraries, such as `HSinteger-gmp-1.0.0.1.o`. Because the whole file with user settings was replaced with a new one, I didn't spo

[2016-06-08 06:54] KaiHa commented on #259
Please accept my apologies for this stupid mistake of mine, I should have inspected my changes more thoroughly before I committed them.

I did a clean recompile with your change and most error messages disappear, but the initial one (`unhandled ELF relocation(RelA) type 42`) is still there.

I removed the GHC executable and the directory `_build/stage1/libraries/integer-gmp` like you suggested and

[2016-06-08 07:29] snowleopard commented on #259
@KaiHa Don't worry about the accidental commit.

Yes, we still have a failure on Travis, but the number of errors is decreased too. Judging by the error, perhaps, now we are only missing a dependency on `base`? I just did a quick check on my machine (deleting `base`) but the dependency seems to be there.

[2016-06-08 08:09] alexbiehl commented on #261
Hello Andrey,

Looking into `hadrian/cfg/system.config` indeed gives `make = gmake`.

Trying your suggestion results in the mentioned error. Trying `cd
_build/stage1/libffi && stack exec make install` works as expected.

I am wondering since I execute the build using `stack exec ...` why it
doesn't pick `make` from stack?

Andrey Mokhov <notifications@github.com> schrieb am Di., 7. Juni 2016 um
23

[2016-06-08 08:47] snowleopard commented on #261
@alexbiehl Hadrian doesn't pick which Make to use. This is decided by `configure` (I personally don't like this two layer architecture and find it confusing, but that's how things currently are in GHC; see #227).

The easiest fix for you is to edit `system.config.in` replacing `@MakeCmd@` with `make`, hence picking the right Make manually. A more long-term solution is to investigate why `configure

[2016-06-08 09:05] alexbiehl commented on #261
That did it! Thank you!

Andrey Mokhov <notifications@github.com> schrieb am Mi., 8. Juni 2016 um
10:47 Uhr:

[2016-06-08 09:35] snowleopard commented on #261
@alexbiehl Great!

@hvr Do I understand correctly that the recommended way of solving this problem is to add `--with-make=` flag to `configure` so that users can manually pick which Make to use if they like? If we had this feature then the right solution to this issue in Hadrian would be to edit `UserSettings.hs` like this:
[code]
This has advantages, because it's tracked (Hadrian reruns all affec

[2016-06-08 10:48] hvr commented on #261
@snowleopard The `make` command is special as it's one of the few things that are not configured by `./configure` in Autoconf's model. The user is in charge to call the proper `make` implementation, and this choice is then recursively passed on via a `MAKE`-variable, c.f. https://www.gnu.org/software/make/manual/html_node/MAKE-Variable.html

So even if you were to configure a `make` implementation

[2016-06-08 12:43] thomie commented on #261
alexbiehl: can you run the following two commands please:
* `gmake --version`
* `make --version`

If `gmake` exists, it should work. If it doesn't, it would be good to know why not.

[2016-06-08 13:39] alexbiehl commented on #261
I ran the commands:

[code]

[code]

Thomas Miedema <notifications@github.com> schrieb am Mi., 8. Juni 2016 um
14:43 Uhr:

[2016-06-08 14:11] KaiHa commented on #259
In commit [56ceb5b5](https://sourceware.org/git/gitweb.cgi?p=binutils-gdb.git;a=blobdiff;f=include/elf/x86-64.h;h=7b98f6542b5330167a4d420cf5dcfa57acea2732;hp=f18ec662db3afc155e8e13ed2f412de5dab9a5d0;hb=56ceb5b5405af23eddd12e12d8ba849010120324;hpb=02a866936de7e63ad4962ccba56c8cd05c231275) of the GNU Binutils the constant `R_X86_64_REX_GOTPCRELX` (42) was added. The corresponding case in GHCs [rts/L

[2016-06-08 15:04] KaiHa commented on #259
OK, I think I know what the problem is. On my system the binutils have the version 2.26 but libc6 is still stuck at version 2.22. This means that the above mentioned constants (R_X86_64_REX_GOTPCRELX and R_X86_64_GOTPCRELX) are not defined in `/usr/include/elf.h`.

[2016-06-08 16:46] KaiHa commented on #259
The remaining question is, why does the problem not arise when GHC is compiled the old way with the Makefile?

[2016-06-08 17:00] thomie commented on #259
@KaiHa the old build system sets `DYNAMIC_GHC_PROGRAMS=YES` by default (on Linux), which means GHCi uses the system linker instead of the (buggy) RTS linker.

More info here: https://ghc.haskell.org/trac/ghc/wiki/DynamicGhcPrograms.

[2016-06-08 17:07] thomie commented on #261
Thanks. GNU Make 3.81 was released in 2006.

configure.ac currently contains:
[code]

So 3.80 is known to be buggy, but what about 3.81?
@kgardas: which version of make or you using? Maybe we should just increase the lower bound to 3.82 or even higher?

[2016-06-08 17:18] KaiHa commented on #259
@thomie I have put
[code]
into `mk/build.mk` in the hope that prevents the old build system from using the system linker.

[2016-06-08 17:24] thomie commented on #259
Oh, then the old and the new build system should be doing the same thing.

[2016-06-08 17:25] KaiHa commented on #259
@thomie I did a `ldd inplace/lib/bin/ghc-stage2` and it does not show me any `libHS` dependencies.

[2016-06-08 18:09] thomie commented on #259
Oh, I can reproduce the `unknown symbol` issue with the old build system, by using the following settings in `mk/build.mk`:

[code]

ghc-stage2: /home/travis/build/snowleopard/hadrian/ghc/_build/stage1/libraries/base/HSbase-4.9.0.0.o: unknown symbol `stat'

But GHC's Travis runs are succeeding, and it uses almost the same settings:

[code]

I'm not going to investigate further now, but there's a s

[2016-06-08 20:10] thomie commented on #259
I opened https://ghc.haskell.org/trac/ghc/ticket/12169.

Workaround: build the libraries with `-O` instead of `-O0` (src/Settings/Flavours/Quick.hs).

[2016-06-08 22:41] snowleopard commented on #259
@KaiHa @thomie Many thanks for investigating this!

Do you know if the issue can be fixed properly soon? If not, shall we temporarily use `-O` instead of `-O0` on Linux in the `quick` flavour? That would bring the CI back. If we opt for the latter option, I'd appreciate some pointers on specific condition we should use for the workaround: should it be just `anyTargetOs ["linux"]` or anything more

[2016-06-08 22:55] snowleopard commented on #261
@hvr Well, that's what we have already, see the above comment by @thomie.

I fail to see why we should treat Make differently from other builders: Hadrian occasionally runs Make to build stuff. Like GMP or Libffi. Make is just another builder! So if `configure` is our magic solution to probing and picking right builders, why not use it in this case too?

(But then if _you_ tell me _not_ to use `co

[2016-06-08 23:10] thomie commented on #259
It might well take a while before it gets fixed. A build configuration of DYNAMIC_GHC_PROGRAMS=NO and libraries without optimization is not a configuration that many people use. I don't even know if it has ever worked, though I'm a bit surprised it doesn't.

Here's what you could do: make Hadrian's build flavour quick the same as the old build system's:
[code]

So use `-O` for the libraries, but n

[2016-06-08 23:21] snowleopard commented on #259
Thanks @thomie! This sounds like a good way forward, I'll do that.

[2016-06-09 05:59] KaiHa commented on #259
@thomie @snowleopard For the record, this does not help with the `unhandled ELF relocation(RelA) type 42` error. But since this error seems to be related to the unfortunate combination of _binutils_ and _libc6_ versions on my build system, I doubt that hadrian needs a fix for this.

[2016-06-09 07:46] thomie commented on #259
If you think GHC can do better here, like for example detect this mismatch at configure time, please mention it in https://ghc.haskell.org/trac/ghc/ticket/12147.

[2016-06-09 08:17] hvr commented on #261
@snowleopard well, @thomie pointing out that `configure` is doing it now doesn't invalidate my argument; it's still wrong for `configure` to check for `make` properties since `configure` does not control which `make` implementation the user will call afterwards.

Maybe it's unclear what I mean; here's what will go wrong:

[code]

[2016-06-09 08:43] thomie commented on #261
@hvr

I doubt it matters which version of `make` is used for the toplevel Makefile (which doesn't even exist yet, so your point, if valid, should be very low on any priorities list). That toplevel Makefile shouldn't do anything fancy at all.

But Hadrian also needs the call `make` for `libffi` and `libgmp`, and there the version does matter (and can be different from the one the user called the to

[2016-06-09 09:40] erikd commented on #259
@michalt @KaiHa Can you please provide details of your Linux distribution as well as your `libc` and `binutils` versions?

[2016-06-09 09:45] KaiHa commented on #259
Debian GNU/Linux testing
binutils  2.26-10  amd64
libc6:amd64  2.22-11  amd64

[2016-06-09 20:24] KaiHa commented on #255
I have added a _sdist-ghc_ rule to hadrian (see [here](https://github.com/KaiHa/hadrian/commit/63dcd341d71b2692a81fada055b57af69c01215e)). @hvr @snowleopard maybe you can have a look at it and tell me if the direction I am heading makes sense to you. @snowleopard if you like you can assign this ticket to me.

[2016-06-09 21:08] snowleopard commented on #255
@KaiHa Wow, thanks for starting to work on this. To be honest I haven't yet looked at distribution rules, so I can't really review properly. It's unclear though that you are discussing `sdist` rule here -- #219 seems to be a more relevant issue? Shall we continue there? Sure, I'll happily assign you.

[2016-06-10 05:58] KaiHa commented on #255
You are right, let's move this discussion to #219.

[2016-06-10 11:46] snowleopard commented on #219
@KaiHa Thank you for starting to work on this issue. Is it OK if I add you as a collaborator on the project? Otherwise I can't assign this issue to you.

[2016-06-10 13:17] KaiHa commented on #219
Yes, thats OK

[2016-06-10 13:21] snowleopard commented on #219
@KaiHa Done! Please don't push directly to the repository, keep using pull requests, so that I can keep track of what's going on.

[2016-06-10 13:38] KaiHa commented on #219
Thanks, hopefully [this](http://stackoverflow.com/a/10260389) will prevent me from pushing into your repository by accident.

[2016-06-10 15:21] simonmar opened #263 "I cannot read the output from Hadrian"
Here's what it looks like:

![screenshot from 2016-06-10 16 18 55](https://cloud.githubusercontent.com/assets/609606/15969273/4091c49e-2f27-11e6-823d-2b9cf826b103.png)

There seems to be a contrast issue :)

[2016-06-10 15:24] snowleopard commented on #263
@simonmar We have a setting for that! :) Have a look [here](https://github.com/snowleopard/hadrian/blob/master/doc/user-settings.md#miscellaneous).

You can redefine `putBuild` and `putSuccess` to match your terminal settings.

[2016-06-10 15:29] simonmar commented on #263
Well yes, but I rather think the default should do something that's sensible in the majority of cases.  I dont' think I'm all that unusual in having black-on-white windows.

[2016-06-10 15:45] snowleopard commented on #263
Well, so far this request actually is unusual: the current defaults seem to work well for most users. Only @michalt has recently asked about a different palette, which prompted us to add the setting. All my various terminals, for example, are white-on-black by default.

So, let's keep this open and if we have more people requesting to change the defaults I'm fine to do that!

Everyone:

:+1: the t

[2016-06-10 15:47] snowleopard commented on #263
@simonmar @michalt By the way, please share your favourite setting for white-on-black terminals. We could at least recommend it in the docs, so people have a quick solution at hand.

[2016-06-10 15:50] simonmar commented on #263
Why not just pick colours that work for both, that's what most other terminal software does.  Or make colours optional?

[2016-06-10 16:12] snowleopard commented on #263
So, we need build progress info to stand out from normal text spit out by various builders, which led to the current choice. If you could suggest an alternative that works well for both black-on-white and white-on-black that would be great. Happy to test on my white-on-black terminals.

Colours are already optional, but to opt out currently you need to use `--progress-colour=never`:
[code]
We coul

[2016-06-10 17:42] simonmar opened #264 "Possible missing dependencies"
There appears to be a missing dependency somewhere.  If I start from a clean build and modify say `rts/Sparks.c` and rebuild, I see this:

[code]

I would expect to see
* Various `libHSrts.a` libraries being rebuilt
* stage 2 GHC being relinked
* everything that depends on stage 2 GHC being rebuilt

[2016-06-10 18:13] snowleopard commented on #264
My guess is that the change did not lead to modified object code, hence no further rebuilds.

Having said that, I run another experiment where the change did lead to changes in object files (changed `return 1` to `return 2` in line 78 of `rts/Spark.c`), and the rebuild chain was incomplete: only the `libHSrts_thr.a` library got rebuilt. So some dependencies are indeed missing!

[2016-06-10 18:20] simonmar commented on #264
I also suspected that, so I changed the code in a meaningful way and still got the same result.

[2016-06-10 18:27] simonmar commented on #264
Hmm, so the change I introduced (and you did to I suspect) only leads to a difference in the thr_o object file and hence libHSrts_thr.a.  Perhaps stage2 is not depending on the threaded RTS?  If I make a change that changes the non-threaded RTS then a ton of stuff gets rebuilt.

[2016-06-10 18:29] ndmitchell commented on #264
Build systems are very difficult to test, particularly if you have clever recompilation avoidance on identical files. Given the Shake database it should be possible to assert that `a` depends on `b`, which might serve as useful checks? That functionality isn't exposed in Shake, but it could be.

[2016-06-10 18:30] simonmar commented on #264
Where is the recompilation avoidance on identical files coming from?  Does Shake do that?

[2016-06-10 18:33] ndmitchell commented on #264
It's an option that Shake provides and that @snowleopard has enabled, specifically https://github.com/snowleopard/hadrian/blob/185af600e91c5294fe8f49158ca8d73aec6ec646/src/Main.hs#L32 reads:

            { shakeChange   = ChangeModtimeAndDigest

So only consider it a change if both the modification time and the contents have changed.

[2016-06-10 18:36] snowleopard commented on #264
I think that would be useful, yes. Sounds like it could even be `quickcheck`-able, e.g.: for all `.o` files in a library package directory, we have a dependent `.a` library file, etc.

[2016-06-10 18:44] snowleopard commented on #264
@simonmar You are right, `rts/Spark.c` seems to only affect threaded RTS. However, I also tried a different file `rts/Stable.c`, which resulted in a really strange rebuild set, so I'm still suspicious.

[2016-06-10 18:49] ndmitchell commented on #264
You can --report=output.json to dump a complete list of dependencies in JSON, then write whatever properties you want over that. No need to QuickCheck when enumeration works just fine.

[2016-06-10 19:04] simonmar commented on #263
Sorry, I meant "off by default".  Anyway, I'll make a pull request.

[2016-06-10 21:06] KaiHa commented on #219
@snowleopard if I need a function like [_wildCheckCase_](http://hackage.haskell.org/package/MissingH-1.4.0.0/docs/System-Path-WildMatch.html), can I add a build dependency to _MissingH_, or do you prefer a different approach?

[2016-06-10 21:10] ndmitchell commented on #219
@KaiHa MissingH is very much a library from a different era - most of the things it can do are done better by other things. As an example, Shake provides `?==` which is used pervasively throughout the rest of Hadrian. If you need any help, give me the example of what you'd pass to `wildCheckCase`.

[2016-06-10 22:47] snowleopard commented on #219
@KaiHa I agree with Neil, so far Shake's `?==` was sufficient for most things. Where it wasn't I introduced simple functions like [`matchVersionedFilePath`](https://github.com/snowleopard/hadrian/blob/master/src/Base.hs#L129-L144) instead of adding new package dependencies.

[2016-06-11 05:46] KaiHa commented on #219
Thanks @snowleopard, @ndmitchell,  `?==` is exactly what I was looking for. @ndmitchell did you notice that the in [hackage the documentation of ?==](http://hackage.haskell.org/package/shake-0.15.8/docs/Development-Shake.html#v:-63--61--61-) is missing although it is in the [source code](http://hackage.haskell.org/package/shake-0.15.8/docs/src/Development-Shake-FilePattern.html#%3F%3D%3D).

[2016-06-11 08:45] KaiHa commented on #219
As @thomie [suggested](https://github.com/KaiHa/hadrian/commit/63dcd341d71b2692a81fada055b57af69c01215e#commitcomment-17818038) some files need to be generated by _alex_ and _happy_ before they can get included into the source distribution. Where should I put these generated files?

 If I put them into the same place as in the legacy tarball it would be easy to spot differences between tarballs ge

[2016-06-11 10:00] ndmitchell commented on #219
@KaiHa - I noticed last night when I wrote a [documentation scanner](https://github.com/ndmitchell/neil/commit/d55d8bc017d185e3233a3e627d5398156926e723) for all my Haskell projects, and [fixed it](https://github.com/ndmitchell/shake/commit/6d0863ecede5510ea4b2cc407076fc325dabf305). Interesting how things often seem to be discovered independently and simultaneously! Thanks for pointing it out.

[2016-06-11 15:28] michalt commented on #263
Right, we had a discussion about this in #253. I'm using something like:
[code]
IMHO this is a reasonable default that should work for both dark and light backgrounds.

[2016-06-11 15:40] simonmar commented on #263
Interestingly, that colour scheme is exactly what I was going to suggest!  The default should be something that's readable everywhere, IMO.

[2016-06-11 15:52] michalt commented on #259
@erikd Fedora 24:
[code]

[2016-06-11 23:01] snowleopard commented on #219
@KaiHa Hadrian already generates these files and puts them into `_build` directory. I guess if you need these files built for the `sdist` rule, you can simply `need` them.

Have a look at `src/Oracles/ModuleFiles.hs` and into the top post of #210 (updated definition).

Using `contextFiles` you can find all source files corresponding to modules of a given `Context`. These source files may include A

[2016-06-11 23:19] snowleopard commented on #263
Thanks @michalt and @simonmar!

I tested on a white-on-black terminal: `Dull Green` looks fine, but `Dull Blue` is really very hard to read.

The following three alternatives to `Dull Blue` are fine for me, in the order of my preference:
1. `Dull Magenta`
2. `Dull Cyan`
3. `Dull Yellow`

Can you live with them? What is your ranking? (I was only looking at `Dull` variants as I assume `Vivid` ones w

[2016-06-12 06:23] simonmar commented on #263
1 & 2 are fine, 3 is a bit hard to read.

[2016-06-12 19:04] snowleopard commented on #263
Thanks @simonmar!

The above commit changed the defaults to `Dull Magenta` and `Dull Green`, hopefully making Hadrian's defaults more friendly for everyone.

I think we can close this issue now, but do reopen if need be.

[2016-06-12 19:04] #263 closed

[2016-06-13 07:37] simonmar commented on #263
Great, thanks for doing this :)

[2016-06-13 17:48] michalt commented on #263
Cool, thanks!

[2016-06-14 09:57] thomie commented on #219
@KaiHa: the problem with adding `alex` and `happy` as build dependencies is that it breaks existing build scripts (Linux distributions etc). This might cause more repair work and annoyances than it saves on Hadrian implementation.

I've learned that even small changes such as placing the user's guide in `share/doc/ghc-<version>` instead of `share/doc/ghc` can cause busywork for others (https://git

[2016-06-14 14:58] KaiHa commented on #219
@snowleopard can you have a look at 9495da2f073fc7bb249f81ff720fc83fbf30b57b? It is a native implementation of `sdist-ghc`, but it has its flaws. I put some [additional libraries](https://github.com/snowleopard/hadrian/commit/9495da2f073fc7bb249f81ff720fc83fbf30b57b#diff-7f479b213ef8ffb899b2247e32d5ea66R81) into the tar-ball, because otherwise the build from the tar-ball fails (didn't investigate

[2016-06-15 22:01] snowleopard commented on #219
@KaiHa I apologise for the long delay: I'm currently amidst business travel and can't find time for a proper review. In any case I suggest to raise a PR and we'll go from there. I should be able to respond with more substance during the weekend.

[2016-06-16 21:11] KaiHa commented on #219
Don't worry about the delay @snowleopard. What would be the best way to get the paths to the produced program binaries and libraries for usage in the _install_ rule?

[2016-06-18 20:29] simonmar opened #267 "Build failure when a .h file is moved"
I encountered this error:

[code]

Now, SMPClosureOps.h has moved from `/home/smarlow/ghc/includes/rts/storage/SMPClosureOps.h`, it now lives in `rts/`, but Hadrian doesn't rebuild things, it just fails with the above error message.

I suspect the problem is that it's using the `.c.deps` file:

[code]

But the information in this file is out of date, so it needs to be regenerated.

[2016-06-18 22:04] snowleopard commented on #219
@KaiHa For binaries, see `programPath :: Context -> Maybe FilePath` from `src/GHC.hs`. This function is a big ad-hoc mess and I'm not happy about it at all, but I think you should use it for now.

For libraries, see `pkgLibraryFile :: Context -> Action FilePath` from `src/Settings/Paths.hs`.

[2016-06-18 22:17] snowleopard commented on #267
@simonmar Thanks for documenting! I actually knew this was broken :-)

I think to fix this we should add `needed` to the rules producing `.c.deps` files: we know the list of header files to depend on only after we generated them (we refer to such dependencies as _post-use dependencies_ in the paper).

I'll take care of this.

[2016-06-19 01:30] snowleopard opened #268 "Refactor flavours and Haskell optimisation flags"
While trying to resolve #259 I got completely confused by how optimisation flags work in the Make build system, because `-O`, `-O2` and `-O0` are added to command lines in very convoluted ways, sometimes together, somehow overriding each other.

Let's improve this in Hadrian! Since we now have much better control over what we put into command line, I think we don't even need to use `-O0`.

As a st

[2016-06-19 10:02] thomie commented on #268
* Stage0 libraries + stage0/1 utils + everything else: `SRC_HC_OPTS`
* Stage0 GHC: `GhcStage1HcOpts`
* Stage1 GHC: `GhcStage2HcOpts`
* Stage1 libraries: `GhcLibHcOpts`

Rts always -O2.

Optimization flags can also come from .cabal files.

Those `-H` flags potentially influence build time. I've never had the time to measure if they actually make a difference. Some ideas in http://mail.haskell.org/p

[2016-06-19 14:02] snowleopard commented on #268
@thomie Thanks! What keeps confusing me is that both `SRC_HC_OPTS` and `GhcStage1HcOpts` eventually get smashed together in `$1_$2_$3_ALL_HC_OPTS` via a chain of intermediate variables, so somehow the latter overrides the former (is GHC sensitive to the order of optimisation arguments?).

Do I understand correctly that Hadrian should ignore these ones?

What I had in mind is to `builder Ghc ? remo

[2016-06-19 14:05] snowleopard commented on #268
Correct me if I'm wrong, but `*.c` files in `rts` are compiled with `gcc`, so this discussion does not apply?

[2016-06-19 16:24] thomie commented on #268
Yes. Later flag override earlier flags.

The old build system honors .cabal flags. I don't know what happens if you would ignore them, though it might speed up the build for `Quick` and `Quickest`. `libraries/binary/binary.cabal` for example contains `-O2 -fliberate-case-threshold=1000`.

Re: RTS I was just trying to be complete. In the old build system, `.c` files are passed to `ghc`, not to `gcc

[2016-06-19 17:22] snowleopard commented on #268
Ah, this makes sense then!

So, looking at the construction of `$1_$2_$3_ALL_HC_OPTS`, I think `.cabal` flags come from `$1_$2_HC_OPTS`, and they come fairly late in the command line, so they indeed override flavour-specific flags. On the one hand this is a reasonable behaviour, but on the other hand the whole point of `Quick` and `Quickest` flavours is to suppress optimisation as much as possible

[2016-06-19 19:05] thomie commented on #268
I'm not sure which problem you're trying to solve.

Just let the build flavors override the optimization level specified in .cabal flags. If that turns out to be a problem, because of failing or very slow tests or whatever, go back to the old ordering.

There aren't any .cabal files that specify `-O0`, just some that define `-O2`.

Release builds should use `-O2`.

[2016-06-19 21:49] snowleopard commented on #268
I guess I was just trying to solve my own confusion and make it easier to understand how optimisation flags are set. I missed the point that the last `-Ox` flag overrides all previous ones in the command line (I don't think this is in GHC's documentation). If this is a common way of passing optimisation flags I'll just follow it. I do think though that it would be preferable if Hadrian didn't have

[2016-06-20 09:04] simonmar commented on #267
It would be nice to generate dependencies at the same time as compiling the file, using `gcc -MD`, and then call `needed` on the deps afterwards.  That way we don't need separate preprocessing and compilation rules.

[2016-06-20 11:58] simonmar commented on #268
@snowleopard The general principle is that we arrange for the command line to be built from least-specific settings on the left to most-specific settings on the right, so that specific settings override general ones.  In the old build system we set general options in `SRC_HC_OPTS` and then override those with more specific settings e.g. in `GhcStage2HcOpts`.

I'm not familiar enough yet with the H

[2016-06-20 22:40] snowleopard commented on #268
@simonmar Right now (e.g. the above commits) Hadrian follows exactly the same approach by throwing potentially several `-Ox` flags into the same command line. So, we have:
[code]
This works, but feels unsatisfactory. I don't have a clearly formulated general solution, but I think it would be better if Hadrian had a vocabulary to talk explicitly about the optimisation level, computing it from vario

[2016-06-20 22:42] snowleopard commented on #267
@simonmar Sounds simple and straightforward to implement... I wonder why I am not doing this already :)

[2016-06-21 07:19] simonmar commented on #268
@snowleopard The left-to-right overriding behaviour is important for other things besides optimisation.  For example, if we're using `-Wall` (which validate does), then we sometimes want to override that on a package-local basis with a `-fno-warn-name-shadowing` or whatever.  We sometimes override the global optimisation settings for a single module or package, for example see https://phabricator.

[2016-06-21 08:20] ndmitchell commented on #268
My default advice for converting large build systems is convert as is, rather than trying to optimize/improve simultaneously. Once everyone in GHC world has switched, then we can improve various aspects. However, in this case, I'm not sure having multiple optimisation flags on one command line is any problem at all - in fact it's fairly standard in almost all build systems. You also have to be car

[2016-06-21 09:02] simonmar commented on #268
I've been thinking about this a bit more.  The way command-line flags are set in Hadrian is quite different from the way it was done in the old build system, and it's not going to be easy to replicate the behaviour of the old build system identically.  The old build system had a number of different mechanisms, which interact in subtle ways, but which are together quite flexible.  Replicating that

[2016-06-21 11:38] snowleopard commented on #268
@simonmar I'm not saying optimisation flags should be special. I'd prefer **all** kinds flags to be computed directly instead of relying on the order in which they appear in the command line intermixed with other flags. Wouldn't it make life easier if all optimisation-related logic was in one place in the form of _''Here are default optimisation flags for each flavour; here is how to combine them

[2016-06-21 11:45] snowleopard commented on #268
[code]

@simonmar Sure, that would work fine for `Args`, but flavours affect other settings like `Ways`, so if we go this way, then `UserSettings` may become a bit cluttered with flavour-related logic. That is, to change a flavour, the user will have to edit the file in several places.

Another issue with this approach is that for CI we need to be able to set a flavour from the command line. How d

[2016-06-21 12:07] simonmar commented on #268
We have a choice between:
* Have everything related to optimisation flags in one place
* Have everything related to a flavour in one place

The old build system does it the latter way, and I have to say it feels more modular to me that way.  I'm surprised to see flavour-related logic spread around various places in Hadrian - I think of a flavour as just a collection of settings that modify the def

[2016-06-21 13:48] snowleopard commented on #268
@simonmar Wait, but this is exactly what we have in Hadrian too. File `src/Settings/Flavours/Quick.hs` is supposed to be a direct equivalent of `mk/flavours/quick.mk`. (Note: some flavour-specific settings are not yet implemented.)

Yes, Hadrian does that already, here is the corresponding piece of code (see `src/Settings/Ways.hs`):
[code]
But I don't see how to do it if we have `getArgs = default

[2016-06-21 13:59] snowleopard commented on #268
[code]

@simonmar I think you are right, there is a problem worth discussing.

Let me come back to your bullet points:

We can, if we move `flavourArgs` before `defaultPackageArgs`. Shall we do that? Maybe, I'm not sure.

Actually, we can do whatever we want with command lines; `append` and `remove` are just two simplest functions that are already there. Adding `replace` is not hard at all: we jus

[2016-06-21 20:07] simonmar commented on #268
Please bear with me, I am gradually understanding more about how Hadrian fits together...

Well ok, but I was referring to things like this in `Settings/Ways.hs`:

[code]

This feels wrong, because (a) we have flavour-related logic in a core part of the system, and (b) the set of flavours doesn't seem very user-extensible.

But that would just give us the converse problem: now I cannot override an

[2016-06-21 21:57] snowleopard commented on #268
Please bear with me too, I am gradually understanding more about subtleties of Hadrian customisation :-)

I'm not sure I fully understand what you mean. Users can add new flavours (collections of user-defined arguments, ways, etc.) in `UserSettings.hs` and switch between them by editing the file. What they can't do at the moment is add new command line flags for activating these flavours from comm

[2016-06-22 00:47] snowleopard commented on #267
While studying `gcc` command line flags I came across `-MG` which lists dependencies even if some of them are generated files, such as `ghc_boot_platform.h`, and are still missing. No other output is produced in this mode, so it means we need to run `gcc` twice, which is a bit sad. (Curiously, if some generated files include other generated files, one needs to run `gcc -MG` + `need` until a fixed

[2016-06-22 08:19] simonmar commented on #267
I'm fine with being conservative about dependencies on generated files.

[2016-06-23 20:59] snowleopard commented on #268
@simonmar I've got another idea how to provide a way to override `flavourArgs` with `defaultArgs` and vice versa, plus simplify the whole thing a little:
[code]
Now `before` settings can be overridden by default ones, and the latter can be overridden by `after`.

In this approach there is no hidden glue logic which appends selected `flavourArgs` to `defaultArgs`. This is done by the user explicitl

[2016-06-23 21:01] ndmitchell commented on #267
I've seen MG before, but don't generally recommend it - it's too annoying to run a fixed point. I generally recommended either `ordered` or manual scanning of include files (within any one project, scanning for headers is trivial - it's only across two projects it becomes a pain).

[2016-06-24 09:19] simonmar commented on #268
I like the idea of being able to compose your own flag settings, however I think we'll need to be a little more fine-grained about it.  We need to have user flags that override defaults (e.g. to change optimisation), and we need to have per-package flags that override user defaults, and finally we need to have user settings that override the per-package settings.  So, something like

[code]

I thi

[2016-06-24 20:08] snowleopard commented on #268
@simonmar I agree with `defaultBuilderArgs <> before <> defaultPackageArgs <> after`. That's even more transparent and easy to implement.

I'm confused by your second comment though. Are you trying to achieve something like this?
[code]
I guess, the answer is "No"... I don't understand what you mean by "directly modify `defaultBuilderArgs`". GHC has a lot of arguments, so you are not just replacin

[2016-06-26 06:18] simonmar commented on #268
I was trying to achieve the effect of your example but without having multiple "-O" options on the command line, in a similar way to how flavours work in the old build system when they set `SRC_HC_OPTS`.  This *replaces* the default `SRC_HC_OPTS`, it doesn't add to it.  But let's not spend effort worrying about this unless it's actually a problem.

[2016-06-29 00:47] snowleopard commented on #268
@simonmar Thanks, I see. I'm working on refactoring flavours. Currently fighting various import cycles :-S

[2016-07-07 17:33] KaiHa opened #269 "New Cabal breaks hadrian build"
After updating _ghc_ to _master_ the build with _hadrian_ fails with
[code]
According to [this](https://phabricator.haskell.org/D2059#65435) this is an anticipated breakage due to the update of _Cabal_. But since I have not found any ticket that mentions it, I have created this one.

[2016-07-07 17:36] snowleopard commented on #269
Many thanks for recording this @KaiHa.

P.S.: The last couple of weeks were extremely busy for me, so the progress with Hadrian has been slow, but I hope I'll be able to pick things up soon.

[2016-07-08 14:10] KaiHa commented on #269
The reason the _AppVeyor_ and _Travis_ builds are broken seems also related to the new _Cabal_. ``condLibrary`` was replaced by ``condLibraries``:
[code]

[2016-07-13 00:03] snowleopard commented on #268
OK, I finally pushed a major refactoring of how build flavours and user settings. I couldn't get rid of import cycles, so we now have `src/Settings/Default.hs-boot`.

Users can now do
[code]
and then `--flavour=simon` will work. I will also add a way to set a default `Flavour` in `UserSettings`, which by default will be set to `defaultFlavour`.

I need to document this properly in `doc/user-settin

[2016-07-14 00:31] snowleopard commented on #269
Hopefully the above two commits fix the issue.

[2016-07-14 00:48] snowleopard commented on #269
Wow, Appveyor build finished in 14 mins. No idea why so fast, but I'm closing this issue.

[2016-07-14 00:48] #269 closed

[2016-07-14 07:35] simonmar commented on #268
@snowleopard sounds great, thanks for doing this!  I haven't had much time to look into Hadrian recently but I hope to get to it soon.

[2016-07-14 22:17] snowleopard commented on #269
Not sure what happened with AppVeyor, but we can now test the full build there in just 30 min!

[2016-07-14 22:24] snowleopard commented on #269
Maybe this is the reason: https://www.appveyor.com/blog/2015/06/23/new-oss-build-environment-and-xamarin-support

[2016-07-17 00:39] snowleopard commented on #259
I've fixed the `unknown symbol stat` issue, so we finally have green light from all CI bots. @thomie I guess the same solution (see the last commit) could be used in GHC to fix ticket 12169?

@KaiHa What is the status of your `error 42`? Can we close this issue?

[2016-07-22 11:18] mpickering opened #272 "In-tree gmp not built before dependent when using -j4"
Here is a fragment of the build log which might be useful.

[code]

[2016-07-22 13:10] snowleopard commented on #272
This is fixed by #273.

[2016-07-22 13:10] #272 closed

[2016-07-23 07:26] mpickering opened #274 "build.cabal.sh is broken"
There seems to be some kind of mismatch with `Cabal` library versions. From a fresh clean,

[code]

[2016-07-23 18:05] snowleopard commented on #274
Thanks @mpickering!

I don't use `build.cabal.sh` myself, so perhaps @hvr can help fix this?

[2016-07-23 20:47] KaiHa commented on #274
This seems to be introduced by commit 54a8e1579314b79890635323ff0e317834b720c9. The default available version of _Cabal_ through _hackage_ is 1.24. But the mentioned variable `condLibraries` was introduces after 1.24. @snowleopard where did the other build scripts get the _Cabal_ library from?

[2016-07-23 20:50] snowleopard commented on #274
@KaiHa The other build scripts pass `-i../libraries/Cabal/Cabal` when building Hadrian, because it must use the most recent Cabal, which lives in the GHC source tree.

[2016-07-23 20:52] snowleopard commented on #274
Other relevant issues are #269 and #228.

[2016-07-24 14:03] KaiHa commented on #259
On my setup I still get the `error 42`. I don't know how to proceed. I am willing to accept that this is a problem of my setup that will vanish as soon as I get a glibc > 2.23.

[2016-07-24 15:51] #274 closed

[2016-07-24 16:02] snowleopard commented on #259
@KaiHa Right, so it looks like we really can't do anything about this on the Hadrian side. I've changed the issue labels to clarify this.

I'll keep the issue open for now, as people might spot it and offer a fix.

[2016-07-24 16:38] KaiHa commented on #274
@snowleopard would it make sense to use build.cabal.sh instead of `cabal install --only-dependencies` in the `.travis.yml` file? Negative side effect would be: longer build times and at the moment the [MacOS build is failing](https://travis-ci.org/KaiHa/hadrian/builds/146981801) because of `cabal haddock --internal`. But the `build.cabal.sh` script will be tested and no _Cabal_ from hackage will b

[2016-07-24 20:12] snowleopard commented on #274
@KaiHa Ideally we should test both `build.sh` and `build.cabal.sh`. One option could be to do a full build with `build.sh` and then build again with `build.cabal.sh` -- it will use the same Shake database, so this should hopefully be just a zero build, costing us only the time to build Hadrian once again. What do you think?

Why are build times longer? I don't think we actually need to do `cabal h

[2016-07-24 20:50] KaiHa commented on #274
@snowleopard If we first build with _build.sh_, wouldn't that mean that by the time we do the second build with _build.cabal.sh_ all build dependencies are already satisfied and cabal has nothing it needs to install, and therefore we are not really testing _build.cabal.sh_?

This was just a wild guess. The installation of the dependencies will be moved from the _install_ section into the _script_

[2016-07-24 21:39] snowleopard commented on #274
@KaiHa [...] and therefore we are not really testing _build.cabal.sh_?

Both scripts simply call Hadrian executable in the end, so they should be equivalent if they succeed to build it. By calling both scripts, one after another, we will test that both of them can indeed build Hadrian. Isn't this enough?

Another option is to have 4 Travis instances: `{Linux, OSX} x {build.sh, build.cabal.sh}`. Al

[2016-07-25 05:28] KaiHa commented on #274
I think you are right. My only concern is, that by the time _build.cabal.sh_ is run, all hadrian build dependencies are already satisfied and we therefore are not testing that the _build.cabal.sh_ script correctly installs the build dependency.

This also means that the _Cabal_ library from hackage was installed and might interfere with the build (e.g. when the inplace _Cabal_ library is not avail

[2016-07-25 06:00] hvr commented on #274
@KaiHa fwiw, `build.sh` relies on the user+global package db to supply build-deps. Whereas `build.cabal.sh` sees only the global package db. Fwiw, the `new-build` mode should never be able to pick up the globally registered `Cabal` lib inadvertently, due to `cabal.project` pointing to a non-optional local Cabal package folder.  Nor should the legacy sandbox-mode... in theory (but I'm not as confid

[2016-07-25 17:07] snowleopard commented on #274
@KaiHa I have an idea: let's add another Travis instance for testing `build.cabal.sh`, but using GHC 8 as the bootstrapping compiler. In this way we avoid duplication of work by Travis and test both the Cabal build script as well as the ability to bootstrap with GHC 8.

[2016-07-25 18:56] KaiHa commented on #274
Sounds reasonable :smiley:

[2016-08-03 23:33] Mistuke opened #280 "Build failure `condLibraries`"
Commit 54a8e1579314b79890635323ff0e317834b720c9 switches `condLibrary` to `condLibraries`  but `condLibraries` isn't defined. At least not in `cabal-1.24` and `master`.

This causes build failures with `cabal-1.24` which is allowed by the cabal file.

[code]

[2016-08-03 23:41] Mistuke commented on #280
Closing this since it seems a dup of #274

[2016-08-03 23:41] #280 closed

[2016-08-04 10:06] snowleopard commented on #280
@Mistuke Is your issue resolved? Shall we drop `Cabal 1.24` from `hadrian.cabal` file to avoid problems?

[2016-08-04 11:34] Mistuke commented on #280
Sort of, if I use the `build.cabal.sh` script it works since that seems to pick up the in-tree cabal file.
However `1.22.* || == 1.24.*` should indeed probably be dropped from the cabal file, or maybe `#ifdef` the `condLibrary` ?

Shake probably can't be used now to build `GHC 8.0.1` and `GHC 7.10.3` branches anymore. Should it?

In my case I am just working on an automated setup script, so in the

[2016-08-04 16:11] snowleopard commented on #280
@Mistuke Agreed. I'll look into this.

I don't think it should: the Make build system can only (reliably) build GHC HEAD as far as I understand. One can always check-out an earlier version of the build system if an earlier version of GHC needs to be built.

Please do. I'm working exclusively on Windows, so hopefully we'll figure out a fix.

[2016-08-05 16:21] snowleopard opened #281 "Stage2 GHC is broken (and in Make too)"
The build currently fails with:
[code]

[2016-08-05 16:22] snowleopard commented on #280
OK, I dropped `1.22.* || == 1.24.*`.

Currently cannot build GHC HEAD though: #281.

[2016-08-05 18:38] snowleopard commented on #281
So, I guess the reason is that Stage2 GHC is broken:
[code]

[2016-08-05 18:44] snowleopard commented on #281
Seems to be Windows-only.

[2016-08-05 19:29] snowleopard commented on #281
It appears that the Make build is broken too.

[2016-08-10 22:15] alogic0 opened #282 "Build error: unknown function `condLibraries`"
Here is what I got when ran `handrian/build.sh`
[code]

Can't find where is function `condLibraries` from.

[2016-08-10 22:40] snowleopard commented on #282
@alogic0 Strange, I thought this issue has been resolved (see #280, #274).

Hadrian must be compiled with in-tree Cabal library, which should be handled by this command line argument in `handrian/build.sh`:
[code]

Are you building GHC HEAD?

[2016-08-10 23:06] snowleopard commented on #282
Ahh, it looks like the Cabal library API has been changed again.

@alogic0 Thanks for reporting this, I'll try to fix asap.

[2016-08-10 23:41] #282 closed

[2016-08-10 23:41] snowleopard commented on #282
The above commit should fix this. Feel free to reopen the issue if need be.

[2016-08-13 13:59] Mistuke commented on #280
It seems that the build error I was referring to before is an issue with Configure and not Hadrian related :)

[2016-08-13 14:01] snowleopard commented on #280
@Mistuke Good to know, thanks :)

[2016-08-15 23:50] ezyang commented on #18
Hey Cabal dev here. Are there things we can do to help? I think this is definitely a place where we can take changes to the Cabal library to make your life easier.

[2016-08-16 00:47] snowleopard commented on #18
Hey @ezyang!

Sure, any help would be great. Basically: we'd like to integrate Cabal into Hadrian in a more natural way: as a Haskell library, instead of calling `ghc-cabal` executable. That would greatly simplify Hadrian, get rid of stringly-typed oracle-ified interface to `ghc-cabal`, and will allow to optimise (re)builds, e.g. when there is no need for re-running configure scripts. If you'd lik

[2016-08-16 01:00] ezyang commented on #18
I feel like we may have had this discussion before, but if you access Cabal directly as a library, how are you going to make sure Hadrian gets built against the most recent (bootstrap) version of Cabal? Assuming you have the correct version of Cabal, I think you just want a Shake rule for the configure step (not quite just `configure` though because we also need to run `./configure` scripts), and

[2016-08-16 01:12] snowleopard commented on #18
We already use Cabal library (see `src/Rules/Cabal.hs`) to determine GHC package dependencies, and we build Hadrian using the in-tree Cabal by passing `-i../libraries/Cabal/Cabal`. So, I think this is a solved problem already. Have a look at `*.sh`, `cabal.project`, `hadrian.cabal` and `stack.yaml` files.

Yep, this sounds right.

[2016-08-20 06:50] cocreature opened #283 "build.stack.sh mixes up stackage snapshots"
When i try to compile hadrian (after `clean` and removing hadrian/.stack-work just to be sure) by build fails with one of the following two messages:

[code]
[code]
I am not sure why it is searching in these two snapshot directories. Hadrian itself specifies `lts-5.17` and I have `lts-6.12` in `~/.stack/global-project/stack.yaml`.

I tried this using `stack-1.1.2` as well as stack master `Version

[2016-08-20 10:58] snowleopard commented on #283
I'm not using the stack build script, but I'll give it a try today (and maybe will also add a Windows version).

Are you building simply by calling `build.stack.sh`?

By the way, if you think we should specify a newer `lts` in `stack.yaml` we can certainly bump it.

[2016-08-20 11:09] cocreature commented on #283
Yep.

It wouldn’t hurt to bump it but this issue looks unrelated.

[2016-08-20 11:45] cocreature commented on #283
After being completely confused because I encountered the same problem with `build.cabal.sh`, I found the problem:

I build happy and alex using stack and copied the binaries to `~/.local/bin` but apparently the binaries are not self contained and when I killed the snapshots from which I built them everything broke.

[2016-08-20 11:45] #283 closed

[2016-08-20 14:24] snowleopard commented on #283
@cocreature Great! Glad you solved the issue.

[2016-08-20 16:10] snowleopard commented on #281
This has now been fixed in GHC.

[2016-08-20 16:10] #281 closed

[2016-08-21 13:46] michalt opened #285 "Automate `need`ing of generated files"
We have a bunch of files that are generated and then included through CPP (both `.c` and `.hs` files). With #279 we have basic support for discovering them automatically (through GCC's `-MM -MG` flags). This only works for `.c` files for now.
Ideally `need`ing them would be fully automatic (i.e., the build system would discover when it actually needs them). I'm opening the ticket to have a central

[2016-08-21 14:13] michalt commented on #285
So I started looking at making this also work for `.hs` files (since many generated files are included in Haskell sources). So far I've encountered the following problems:

1) Cabal macros are not defined (this can be hacked around by the same trick we use in `Builders/Ghc.hs`, i.e., include `autogen/cabal_macros.h`.

2) `MIN_VERSION_GLASGOW_HASKELL` macro is not defined. (Unless I'm missing somet

[2016-08-21 16:32] snowleopard commented on #285
@michalt Note, `MIN_VERSION_GLASGOW_HASKELL` is also set by Hadrian in `Rules.Generators.GhcVersionH`, so one option is to include the generated `includes/ghcversion.h` in addition to the Cabal macros headers.

Regarding `#` in Haskell code, I agree it looks like we can workaround this -- perhaps, just fix the file in question in GHC?

Not sure what's the best solution for `GLOBAL_VAR` macros in `

[2016-08-24 18:44] michalt commented on #285
@snowleopard I didn't know about `GhcVersionH`, thanks! I'll try `include`ing it.

Found one more issue. If we run `gcc -E -MM -MG` on `.hs` file it doesn't treat it correctly and just reports `linker input file unused because linking not done`. It seems that the extension is misleading. So I tried using `-x c` (to force C) and *almost* everything seems to work. There seems to be a problem for thi

[2016-08-25 16:22] snowleopard commented on #285
@michalt Stange. My `Lexer.hs` is different, this is line 126:
[code]
Could it be that you've rewritten the file during experiments?

Wow, what a hack :-) It looks cryptic, but it's only one place, so maybe it's not too big deal.

By the way, does this work by any chance? I just moved the offending line up.
[code]

[2016-08-29 00:49] alogic0 commented on #281
With this commit [b2c5e4c](https://github.com/ghc/ghc/commit/b2c5e4ce5c44a7be7c2b81c2600cae40c5b225ad) @simonpj returned the working hack back in GHC.

[2016-08-29 00:58] snowleopard commented on #281
@alogic0 Thanks for clarifying!

[2016-09-05 18:21] istandleet opened #287 "Error in Shake OracleQ parsing (spaces in file names?)"
It looks like the handling for spaces in file names is improper.

Original and rerun results:
[code]

[2016-09-05 18:22] istandleet commented on #287
I don't know how to build labels, but this is likely windows specific

[2016-09-05 18:35] snowleopard commented on #287
@istandleet Actually I think the problem is the `\n` symbol. This is strange. Can you attach your `system.config` file?

[2016-09-05 18:38] snowleopard commented on #287
Just to clarify: the value of the configuration setting should have been `Files/Haskell\nPlatform/7.10.2-a/lib/extralibs/bin/HsColour`, not `Files/Haskell\nPlatform/7.10.2-a/lib/extralibs/bin/HsColour\nld             = C:/hask/ghc/inplace/ming` as shown in the error message.

[2016-09-05 18:40] snowleopard commented on #287
I'm confused. The value of the configuration setting `Files/Haskell\nPlatform/7.10.2-a/lib/extralibs/bin/HsColour\nld             = C:/hask/ghc/inplace/ming` doesn't make much sense. It looks as if the configuration file has been corrupted?

[2016-09-05 18:40] istandleet commented on #287
sorry - where should I find that guy?

[2016-09-05 18:40] snowleopard commented on #287
Ah, sorry. It's in `hadrian/cfg/system.config`.

[2016-09-05 18:42] istandleet commented on #287
[system.config.txt](https://github.com/snowleopard/hadrian/files/455514/system.config.txt)
Changed to .txt for upload

[2016-09-05 18:44] istandleet commented on #287
I meant, shouldn't the setting be `Files/Haskell%20Platform/7.10.2-a/lib/extralibs/bin/HsColour`?

[2016-09-05 18:57] istandleet commented on #287
This actually may be my doing - I set up git to download "as is", so it may be expecting `/r/n` as line delimiters and therefore expect to be able to use `/n` as a delimiter. I can reinstall git to test later tonight

[2016-09-05 18:58] snowleopard commented on #287
@istandleet You are right about spaces. Just for the record, here is the problematic fragment:
[code]
This is produced by GHC's `configure` script, which is not part of Hadrian...

Actually changing `git` settings might help -- give it a try.

Otherwise you could try the following to see whether this is the only issue:
* Manually edit the `system.config` file to have spaces ` ` instead of `\n` in

[2016-09-05 19:04] istandleet commented on #287
The manual solution with `--skip-configure` worked :)

[2016-09-05 22:07] snowleopard commented on #287
@istandleet Awesome! :)

I hope the `git` could also do the trick for you -- please let me know if it works. If not, there is another possible solution that does not require passing the `--skip-configure` flag (editing `UserSettings.hs` file).

[2016-09-06 18:06] snowleopard commented on #287
@istandleet Any updates on trying another CRLF mode in `git`? If it works I guess we can close this issue and add a note to the README.

[2016-09-06 20:37] olsner commented on #174
https://ghc.haskell.org/trac/ghc/ticket/4012 seems to have made good progress since my last experiment, so it might be worthwhile to make an attempt at picking this up again. It would probably also catch #216 as a bonus, by having the .hi files as actual targets rather than by-products of .o compiles.

[2016-09-06 22:06] snowleopard commented on #174
@olsner Note: issue #216 can be solved by using Shake's multiple-output rules, which I planed to implement soon (currently progress on Hadrian is slow due to various other commitments). This is not too difficult, but requires some refactoring of Hadrian. Still much simpler, I think, than solving this issue.

However, if you wish to come back to this issue and optimise the build that would be great

[2016-09-13 18:04] #287 closed

[2016-09-15 19:03] bgamari commented on #113
@snowleopard, I think I have fixes for most of the issues above in [D2530](https://phabricator.haskell.org/D2530). This leaves only the `ghcversion.h` issue. It seems like the correct way to deal with this would be for Hadrian to ensure that the build directory is included in the `rts` library's include path. Would this be possible?

[2016-09-16 00:24] snowleopard commented on #113
@bgamari Great, many thanks!

Just to make sure I understand: are you saying we no longer need to generate files into `includes` and can in fact move all generated files from there to `_build/includes`?

If yes, I'll give it a try! Adding build directory to `rts`'s include path should be easy (although judging by this comment: https://github.com/snowleopard/hadrian/issues/113#issuecomment-17042216

[2016-09-24 07:53] kolmodin opened #288 "Build error, missing GHCConstantsHaskellWrappers.hs"
I run into this when I build GHC's master branch.

[code]

[2016-09-24 08:48] snowleopard commented on #288
@kolmodin Thanks, I'll try to fix soon. Thus is due to recent changes in GHC.

[2016-09-24 14:27] ndmitchell commented on #288
I suggest using https://nightli.es/ to trigger daily builds which would have spotted this sooner.

[2016-09-24 16:31] #288 closed

[2016-09-24 16:31] snowleopard commented on #288
Should be fixed now.

@ndmitchell Indeed, I'll look into this!

[2016-09-24 19:20] kolmodin commented on #288
I see that you have a Travis build for when patches are added to hadrian.
Likewise there could be a build when patches are added to GHC.

[2016-09-25 05:57] ndmitchell commented on #288
Nightlies approximates GHC changes, Travis setup changes and non-determinism.

[2016-09-26 18:49] nomeata commented on #250
I just looked into using hadrian, but freezing stage1 seems to be a crucial feature for my usual workflow.

[2016-09-27 02:31] snowleopard commented on #250
@nomeata It's probably possible to use the following interim solution while @ndmitchell is working on a proper one in Shake.

In the `Builder.hs` file we have:
[code]
We could change this to:
[code]
This will schedule Stage1 GHC to be built before running it, but will not register it as a dependency.

Could you try if it works for you? Do a full clean rebuild just in case.

[2016-09-27 03:41] nomeata commented on #250
Sorry, I have not actually employed hadrian yet, I was just exploring the option.

[2016-10-01 15:53] cocreature opened #289 "Unnecessary rebuild and lint failure when changing the number of threads"
I encountered this issue on a completely clean build (i.e., fresh clone of ghc & hadrian).

*Steps to reproduce*
[code]

*Error*
[code]
It is not rebuilding if I use the same number of threads. If I run the same command again after this lint error it exits cleanly. Switching back to `-j2` after that reproduces the error (and switching back and forth).

I am building on an up2date Archlinux 64bit i

[2016-10-01 16:06] cocreature commented on #289
Looking at the source I think https://github.com/snowleopard/hadrian/blob/master/src/Settings/Builders/Make.hs#L12 is the problem: The threading argument is simply passed on to make so gmp and libffi are rebuild. However as far as I know `make` itself does not rebuild if you change the threading argument so something else must be invalidated.

[2016-10-01 18:14] snowleopard commented on #289
@cocreature Thanks! Interesting, I haven't seen this before, but I can reproduce this.

I believe the build should work despite the reported lint error, which simply says we've regenerated the GMP's `configure` script after we depended on it, but we didn't actually change it, resulting in the same digest `0x7F0F05CD`.

I'll look into this.

By the way, you are saying the rebuild is unnecessary, bu

[2016-10-01 18:16] ndmitchell commented on #289
Some flags like -j are meant to have no effect, so should be ignored - otherwise once you stop trusting make its hard to do anything.

[2016-10-01 18:20] snowleopard commented on #289
@ndmitchell We could, perhaps, have a list of such `(Builder, String -> Bool)` combinations that we trust have no effect on build results, filtering these out in `checkArgsHash`.

Do you have any other examples in mind?

[2016-10-01 18:22] snowleopard commented on #289
On a second thought, this should probably be a function, e.g. `isEffectlessFlag :: Builder -> String -> Bool` in `Builder.hs`, rather than a list.

[2016-10-01 23:50] snowleopard commented on #289
@cocreature @ndmitchell There is one other point to discuss: are we doing the right thing by simply passing `shakeThreads` to Make via `-j` flag?

If a user runs Hadrian with `-j4` then we will end up running Make with `-j4` **plus potentially three other threads in Shake itself**, hence resulting in something like `-j7`.

Ideally, we should be running Make `withThreads 4 $ ...` when using `-j4`.

[2016-10-02 02:24] snowleopard commented on #289
@cocreature The above should fix the lint error and significantly reduce the amount of unnecessary rebuilds for the GMP library (only zero Make build is rerun, which is fast). Could you please test?

A similar fix for Libffi is on the way.

[2016-10-02 02:39] bgamari commented on #113
I believe so. D2530 has been merged so you should now be able to move ahead with this. Let me know if you have any trouble.

[2016-10-02 15:10] ndmitchell commented on #289
There is no way to say `withThreads 4`. Integrating two systems, both of which want "all" the threads, is quite a tricky thing to do. Arguably you should always be doing `-j1` for the Make, but it really depends how much difference that makes to the build times.

[2016-10-02 15:53] snowleopard commented on #113
@bgamari Thanks! The above commit moves all generated includes into `_build/generated`.

There are still a few remaining bits, see the todo list in https://github.com/snowleopard/hadrian/issues/113#issuecomment-170315446. The biggest one is the files generated by `ghc-cabal`. As we discussed previously, the easiest solution would be to modify `ghc-cabal` so it is possible to specify a folder where

[2016-10-02 16:27] snowleopard commented on #113
@bgamari Ah, there is still one remaining relative path in `DynFlags.hs`:
[code]

[2016-10-02 17:02] bgamari commented on #113
Andrey Mokhov <notifications@github.com> writes:

Bah, sorry about that. Opened D2559 with a fix.

[2016-10-02 18:18] snowleopard commented on #289
@ndmitchell IIRC, `-j4` gives around 2x speed up to GMP/Libffi Make, which is significant.

Users can modify this in `UserSettings` if need be, so maybe we can leave this as is.

[2016-10-02 20:00] snowleopard commented on #113
@bgamari Thanks for fixing!

There is one more problem: `ghcversion.h` seems to be baked in somehow -- if I move it to `_build/generated`, I get `ghc-stage1.exe: ghcversion.h missing` from GHC even though I pass the directory via `-I`. Looking at the code, it seems that GHC looks for `ghcversion.h` in RTS package include directories for some reason, which point to includes.

I temporarily copy `gh

[2016-10-02 20:07] bgamari commented on #113
Yes, it is. In an earlier message I suggested you deal with this by adding your build directory to the `include-path` of the `rts` package.

[2016-10-02 20:52] snowleopard commented on #113
@bgamari Ah, indeed, I confused filenames -- sorry!

As I understand, you refer to the following line in RTS `package.conf.in` file:
[code]
In a way, we'd like to change it to
[code]
This is a bit tricky, because `_build` is not fixed but is a user setting. Anyway, the above commit seems to do the trick.

[2016-10-02 23:43] bgamari commented on #113
Heh, oh that is devious ;)

[2016-10-03 08:16] snowleopard commented on #289
@ndmitchell Just to clarify: by `withThreads 4` I meant a rather simple thing -- telling Shake that the action consumes 4 threads from the available pool. Similar to `unsafeExtraThread` which tells Shake that the action consumes 0 threads (intuitively, why should 0 be so special?).

Then it would be possible to do some simple manual load-balancing, i.e. decide how many threads we would like to ded

[2016-10-03 09:20] cocreature commented on #289
@snowleopard I can confirm that this solves the problem for me. I’ll leave this issue open until there is also a similar refactoring for `libffi`. Thanks for looking into this so quickly!

[2016-10-03 17:23] snowleopard commented on #289
@cocreature Thanks! I've refactored `libffi` too, so now the rebuilds should be minimal.

I'll keep the issue open for some time, as I think we better ignore arguments like `-jN` altogether when tracking changes in the build system.

[2016-10-04 20:47] ndmitchell commented on #289
@snowleopard Yep, I knew what you were after with `withThreads`. Unfortunately it has a few starvation issues - when I encounter one of those should I prioritise stopping other useful threads until the necessary total has been hit? The answer is probably yes, but the requirement to do so makes it a less useful function.

[2016-10-04 21:18] snowleopard commented on #289
@ndmitchell I think the answer is yes too. And I agree, the result is suboptimal, but I don't see a better solution.

I'll do some benchmarking to see what is the effect of `-jN` on the full build. GMP and Libffi should never be rebuilt in normal GHC development, so if the full build is not affected significantly we could keep Make's sequential by default.

[2016-10-04 21:28] ndmitchell commented on #289
If they are rarely built I'd be tempted to keep them at `max 4 (shakeThreads - 2)`, so you don't ever go too high, but you equally don't worry about going over for a bit.

[2016-10-05 22:01] snowleopard commented on #289
@cocreature Now there should be no rebuilds whatsoever if you vary `-jN` setting when running Hadrian.

[2016-10-07 10:56] cocreature commented on #289
@snowleopard Thanks, I can confirm that it works!

[2016-10-07 10:56] #289 closed

[2016-10-08 22:46] snowleopard commented on #289
@cocreature Great, thanks!

@ndmitchell I've done some benchmarking -- the new setting of `max 4 (shakeThreads - 2)` doesn't affect the performance of full `-j4` and `-j8` builds.

[2016-10-15 23:14] snowleopard commented on #261
Closing this, as the issue isn't really in Hadrian, but in the GHC's `configure` script.

[2016-10-15 23:14] #261 closed

[2016-10-15 23:22] snowleopard commented on #214
I'm closing this, as I couldn't reproduce the issue. The build system has changed quite a bit, so this could no longer be relevant. Feel free to reopen if the issue reoccurs.

[2016-10-15 23:22] #214 closed

[2016-10-15 23:25] snowleopard commented on #188
I implemented build flavours while working on #268, so I'm closing this issue.

[2016-10-15 23:25] #188 closed

[2016-10-15 23:29] snowleopard commented on #184
I'm closing this issue, as it seems to be not really related to Hadrian.

Visualising Haskell module dependencies would certainly be useful; ping me if a solution is found!

[2016-10-15 23:29] #184 closed

[2016-10-15 23:39] snowleopard commented on #56
A high-level overview of Hadrian can now be found in the Haskell Symposium 2016 paper, which is available here: https://www.staff.ncl.ac.uk/andrey.mokhov/Hadrian.pdf. There is a also a Haskell eXchange 2016 talk: https://skillsmatter.com/skillscasts/8722-meet-hadrian-a-new-build-system-for-ghc.

I've linked the talk and the paper in the project README, so I think we can now close this.

[2016-10-15 23:39] #56 closed

[2016-10-15 23:48] snowleopard commented on #172
This seem to have been forgotten, so I'm tempted to close this. I myself use `putBuild/putSuccess` for printing diagnostic info when needed and this has worked fine so far.

Feel free to reopen if debugging Hadrian is still an issue and better tools are required.

[2016-10-15 23:48] #172 closed

[2016-10-15 23:56] snowleopard commented on #31
I think we can close this. The `ChangeModtimeAndDigest` setting works fine, and GHC's determinism has improved.

[2016-10-15 23:56] #31 closed

[2016-10-16 00:00] snowleopard commented on #55
I've been continuously improving Haddock coverage in Hadrian, and now I think we are in a good shape. Let me therefore close this issue, but if there are any specific places that require better documentation, please feel free to reopen, or better raise a new specific issue.

[2016-10-16 00:00] #55 closed

[2016-10-18 14:56] jmct commented on #246
There is a ghc-trac ticket that should probably be kept in mind on this which is about being able to build the user guide independently [here](https://ghc.haskell.org/trac/ghc/ticket/12619).

I am not sure if you’d like this independence to be part of the minimum viable product described in #239 or not.

[2016-10-18 15:25] snowleopard commented on #246
@jmct Thanks! I think it would be implement independent build rules for documentation, as described in the ticket you linked.

I don't think this should be on the critical path, but it's still an important feature to work on.

[2016-10-20 18:51] snowleopard commented on #216
The above commit should have fixed this issue, however I hit a strange lint error: https://github.com/ndmitchell/shake/issues/296#issuecomment-255193248.

Specifically, if I delete ` _build/stage1/compiler/BooleanFormula.hi` file and rebuild, I get:
[code]

@ndmitchell Any suggestions?

[2016-10-21 00:38] snowleopard commented on #285
@michalt Any further updates on this?

I've just pushed quite a big refactoring/simplification, which could have messed up your uncommitted work (apologies if this is the case!). Let me know if you have any questions about the changes.

[2016-10-21 00:41] snowleopard commented on #267
I believe the above commits fix the issue.

Some key changes:
* Object files built from C, Cmm and S sources now live in `c`, `cmm` and `S` subdirectories in the build tree. This allowed to decompose a single monolithic compilation rule into multiple separate ones (one per file type) and track dependencies more accurately.
* As discussed in #285 we now automatically detect generated dependencies (

[2016-10-21 00:41] #267 closed

[2016-10-21 01:01] snowleopard commented on #264
This issue should have been fixed too, as described in https://github.com/snowleopard/hadrian/issues/267#issuecomment-255265427.

@simonmar Please reopen if more work is required.

[2016-10-21 01:01] #264 closed

[2016-10-23 17:53] phadej opened #291 "Re-build failure"
On osx 10.10 I get only when _re-building_. Clean build succeeds always: Tried with todays ghc and hadrian masters

[code]

or

[code]

or some other `.o` file is missing. Is there

---

After that _hadrian_ thinks everything is built, but it doesn't seem to be true.

[2016-10-23 18:13] snowleopard commented on #291
@phadej Thanks for reporting! I occasionally see this on Windows too. As far as I understand, the files are actually built. It's just the Shake's Linting procedure can't open them for some reason.

Could you confirm that the object files are actually there after Hadrian finishes?

Another similar issue #206 was eventually related to a Shake bug: https://github.com/ndmitchell/shake/issues/427.

@nd

[2016-10-23 18:17] snowleopard commented on #291
@phadej Could you also check if the issue disappears if you rollback to before this commit: https://github.com/snowleopard/hadrian/commit/b61423dfdb36c96a902f26b14c07e6bc39621a94?

I have a suspicion that this could be triggered by the new rule with multiple outputs (for `o` and `hi` files): https://github.com/snowleopard/hadrian/commit/b61423dfdb36c96a902f26b14c07e6bc39621a94#diff-fb1b7e33cead28c

[2016-10-23 21:36] phadej commented on #291
I tried on linux machine, and it happened there as well. The file was there:
[code]

[2016-10-24 08:02] phadej commented on #291
And after trying with older commit fbe22e6f83bb5e9f14960b63f1ad40dbbfdd7c86 hadrian successfully re-build ghc.

[2016-10-24 10:28] snowleopard commented on #291
@phadej Many thanks for confirming! This indeed is related to introducing multiple-output build rules.

As a temporary workaround, you can remove the `--lint` argument from your build script.

[2016-10-24 11:48] phadej commented on #291
@snowleopard thanks for the swift replies! I'm happy to try it again, when the issue is fixed

[2016-10-28 16:28] snowleopard commented on #219
Thanks to @KaiHa we now have working source distribution rules! There are a few minor issues, but I think we can tick this box in the todo list (see the top of the issue).

[2016-10-28 16:34] snowleopard commented on #239
This goes very slowly, but now we've got source distribution rules, #219.

[2016-10-31 18:29] michalt commented on #285
@snowleopard I haven't actually looked at this recently, sorry! I'll try to find some time (maybe this weekend) to rebase and see if we can make some progress.

[2016-11-06 18:40] snowleopard commented on #285
@michalt Thank you for pushing this forward. I think you are on the right track!

Your GHC changes seem fine, hopefully `GLOBAL_VAR` will not stand in the way.

The only difference between `"compiler" isPrefixOf src` and `package == compiler` is that the former doesn't include generated sources that live in `_build`. Perhaps there are still some `#` lurking in them?

:+1:

If I understand correctl

[2016-11-06 19:16] michalt commented on #285
Cool, should we ping some GHC dev about this? (to see what they think about it ;-)

Yes, that's exactly right - I wanted to experiment with removing things from `generatedDependencies` but I still needed `fullPathIfGenerated` to work for everything.
Wrt. `allGeneratedDependencies` not being an `Expr` - sounds like a good idea! I'll definitely try to clean this up. :-)  (maybe in a separate PR to k

[2016-11-06 19:25] snowleopard commented on #285
Let me try :)

@bgamari Have you got a minute to look at this diff? It's very short.

https://github.com/ghc/ghc/compare/master...michalt:hadrian/cpp-over-hs

Briefly, @michalt is trying to move around some `#`s in Haskell sources because they confuse CPP and don't allow us to automatically detect all `#include`s and get rid of some hard-coded dependencies.

[2016-11-08 08:23] alexbiehl opened #293 "No generator for _build/stage1/libraries/ghc-prim/autogen/GHC/Prim.hs."
Invoking `hadrian/build.stack.sh` on a fresh copy of GHC results in above error message:

[code]

[2016-11-08 08:37] snowleopard commented on #293
@alexbiehl Thanks! I think this is related to this commit: https://github.com/snowleopard/hadrian/commit/eca7b6a6d9a17e44854cb8f696cec03140052208

Not sure what went wrong, the CI bots were happy. I'll have a look, but in the meanwhile feel free to rollback.

Was this a clean build?

[2016-11-08 08:40] alexbiehl commented on #293
Thanks for the fast response.

Yes, it was (the trace you see was copied from a successive run after the error occurred first)

[2016-11-08 12:59] snowleopard commented on #293
Very strange. I cannot reproduce this either on my machine or by rerunning the CI bots.

@alexbiehl Could you try again, please? Make sure you do `clean` build first, and just in case double-check that the `_build` directory is indeed removed by the `clean`.

[2016-11-08 13:00] alexbiehl commented on #293
I reverted eca7b6a and it worked. I will try again later with that commit in.

[2016-11-16 18:40] ezyang commented on #113
What's the progress on this? When I run a Hadrian build with the master branches, I still get a pile of stage0/stage1/stage2 directories.

[2016-11-17 00:35] snowleopard commented on #113
@ezyang The progress is tracked here: https://github.com/snowleopard/hadrian/issues/113#issuecomment-170315446

The pile of stage0/1/2 directories is generated by `ghc-cabal` #18, and noone yet was brave/persistent enough to tackle this ticket.

[2016-11-17 00:41] snowleopard commented on #293
@alexbiehl I was unable to reproduce this. I intend to close this, unless the issue is still relevant for you.

[2016-11-17 06:42] ezyang commented on #18
So, I recently circled back to thinking about this problem.

The stated reason why we can't eliminate stage0/stage1/stage2 directories is because ghc-cabal hard codes where it places package-data.mk files. But I don't see any reason why we couldn't add a new flag to ghc-cabal to output the data, e.g., to stdout, where we could slurp it up directly, solving point (1).

I reviewed the PR at #166 (is

[2016-11-17 14:50] snowleopard commented on #18
@ezyang Thanks for your input!

Yes, something like this is indeed possible, although `ghc-cabal` outputs not only `package-data.mk` files but also some `autogen` stuff. So, the new flag to `ghc-cabal` could specify the output directory for created files. Note though that running `configure` scripts in-tree causes other files to be built in-tree, which is still undesirable.

Yes, I believe this is

[2016-11-17 15:01] Ericson2314 commented on #18
@snowleopard the idea is rather than Hadrian scraping text files, it could link Cabal directly and use it to generate shake rules---the same shake rule it itself uses. Very elegant!

[2016-11-17 15:09] Ericson2314 commented on #18
Also see https://github.com/haskell/cabal/issues/4047 . The plan there would teach cabal-install about different ghc's for purpose's of cross compiling, but the same logic is equally applicable for bootstrapping. A shaked-up Cabal naturally leads to a Shaked-up cabal-install, yielding the same slick integration as described above. [I believe it's also a goal to factor out the solver from cabal-ins

[2016-11-17 15:21] snowleopard commented on #18
@Ericson2314 I see, this would be great and elegant, but how soon is it going to happen? Do we want to depend on this future Cabal feature in this project? My intuitive answer is No.

I think you (and @ezyang) are saying that it just doesn't make sense to invest time in solving this issue until we have a better Cabal library, which does sound reasonable. Perhaps, we shouldn't bother indeed.

This

[2016-11-17 18:20] Ericson2314 commented on #18
I'm not in a position propose whether a stopgap is worth it, just wanted to point out that eventually things can be really really slick.

Do you mean depend on linking Cabal before Cabal is rewritten with Shake? I agree that would be silly. I assume from the rest of your post that you would like to use it once Cabal is so rewritten.

[2016-11-17 18:49] snowleopard commented on #18
@Ericson2314 Sorry, I didn't express myself well. I meant we don't want to wait for the shakified Cabal to release Hadrian as the main build system of GHC, i.e. we don't want to depend on it _just yet_.

Yes, it sounds promising.

[2016-11-17 20:29] snowleopard commented on #18
@ezyang Ah, yes! We do want to factor out the generic DSL part from Hadrian into a separate library. I didn't prioritise this but I can look into it soon (December-ish) if you would like to use it.

[2016-11-17 20:30] #293 closed

[2016-11-18 19:41] ezyang commented on #18
It's not that urgent on my end; what I will probably do if I actually attack this problem is to just copy paste some of the low level combinators into my implementation, with the idea of dropping it for the library later. ;)

[2016-11-27 17:20] snowleopard commented on #113
The above commits move the directories generated by `ghc-cabal` into the build directory.

I believe we can now close this issue, because moving program binaries outside `inplace/bin` and Stage1 package database outside `inplace/lib` is probably beyond the scope of Hadrian (and it can be easily done if/when we decide to do that).

Note: `ghc-cabal` still runs the `configure` scripts locally for so

[2016-11-27 17:20] #113 closed

[2016-12-15 00:36] bgamari opened #294 "Add some rough resource requirements for memory intensive files"
One of the great benefits of Hadrian will be the ability to control parallelism to ensure smooth parallel builds on smaller machines. For instance, my ARM builder is a four-core machine (eight if one includes the smaller A7 cores) but only 2GB of memory. Unfortunately there are a few files in the build which require an extraordinary amount of memory to compile (e.g. `DynFlags`) so using even `-j3`

[2016-12-15 00:55] snowleopard commented on #294
We already use Shake resources in Hadrian for limiting concurrency when mutating the package database, so the infrastructure for passing resources around is already there.

See https://github.com/snowleopard/hadrian/blob/master/src/Rules.hs#L56-L62, for example.

Adding a memory resource is fairly straightforward. Would you like to try this? I'm happy to help. I don't expect any difficulties, but

[2016-12-15 20:41] bgamari commented on #294
One option would be to maintain a global `Map FilePath Int` which we can centrally define somewhere which gives a rough peak RSS of GHC while compiling each source file in the tree. This map could be read from a file, which at some point in the future we could teach Hadrian to generate.

The problem that I see is that the memory resource should be a global resource and consequently would need to b

[2016-12-15 21:21] snowleopard commented on #294
A map like `Map FilePath Int` could be made available in `Action` monad using `shakeExtra`, which is part of `ShakeOptions` and can therefore be obtained by `getShakeOptions`. As a first simple solution, we could return 1 for most source files, apart from a few problematic ones wew know about.

Indeed. I believe Shake only tracks the time it takes to run each build rule.

[2016-12-16 16:07] bgamari opened #295 "Util.customBuild breaks Shake invariant"
The documentation for shake's `withResource` function states that "You cannot depend on a rule (e.g. `need`) while a resource is held." Hadrian's `Util.customBuild` does precisely this in its `Make` branch.

I suspect the `shake` documentation really means to say "you run the risk of deadlock if you depend on a rule while a resource is held" instead of the express prohibition, but it does seem bes

[2016-12-16 16:25] snowleopard commented on #295
You are right, thanks for spotting that! I actually wanted to refactor `Util.customBuild` anyway, because it's slowly grown from a little furry thing into a 7-headed dragon.

[2016-12-16 21:08] snowleopard commented on #295
@bgamari Should be fixed by the above commit.

[2016-12-16 21:51] ndmitchell commented on #295
It's actually meant to be an error - see https://github.com/ndmitchell/shake/issues/504 - and I call `blockApply` which is meant to block need from working. I guess that doesn't work as expected though...

[2016-12-17 00:30] snowleopard commented on #295
@ndmitchell Thanks! I'm fine with it being an error. I can always push `withResource` all the way to the `cmd`.

[2016-12-23 23:00] DemiMarie commented on #248
Problem: currently the debugger does not work with `-fexternal-interpreter`.

[2016-12-28 21:10] ndmitchell commented on #294
Shake tracks time spent in each rule, but nothing more. For the resource of
memory you probably want the peak memory used by a child group of
subprocesses, which cmd/command don't give you - and I'm not sure is in the
Haskell process library either. Using information about past memory usage
to do scheduling decisions seems valuable, but not really possible in
Shake. Using that information to apply

[2016-12-31 01:28] snowleopard commented on #294
We could turn resources into expressions:
[code]

Implementing this should be straightforward. The user will then be able to tweak Hadrian very flexibly:
[code]

@bgamari @ndmitchell What do you think? This is not an automated solution, but will probably allow Hadrian users to relatively easily tailor GHC build to their system constraints.

[2016-12-31 01:37] ndmitchell commented on #294
Sounds quite reasonable - although might be overkill - do people really need to tweak resources that often?

[2016-12-31 01:39] snowleopard commented on #295
@ndmitchell I just realised that we actually never had a `need` inside a non-trivial `withResource`. The `need`s I deleted were for `Configure` and `Make` builders, but they don't (currently) use any resources, so `withResource` was called with the empty list. I guess `withResources [] $ need` is fine :-)

I'm closing this issue.

[2016-12-31 01:39] #295 closed

[2016-12-31 02:00] snowleopard commented on #294
I agree this seems excessive at first sight, but if the user does want to tweak resources even for just a single file like `DynFlags` then it would be very nice if they could do it in `UserSettings.hs` without the need to understand how the rest of Hadrian works, which leads to adding another type of expressions.

[2017-01-05 20:39] bgamari commented on #294
Andrey Mokhov <notifications@github.com> writes:

Sounds like a reasonable start to me.

[2017-01-06 16:25] snowleopard opened #296 "Migrate warnings settings"
Warnings haven't been translated properly from the old build system to Hadrian, so we can sometimes generate lots and lots of them. I believe this is the reason behind [timing out on our OSX Travis instance](https://travis-ci.org/snowleopard/hadrian/jobs/189395066).

- [x] `-Wall` currently comes after package-specific warning settings coming from `cabal` files in the command line, overriding them

[2017-01-07 02:55] snowleopard commented on #251
I'm closing this in favour of a more general issue #296.

[2017-01-07 02:55] #251 closed

[2017-01-07 14:43] snowleopard commented on #246
By the way, I just noticed that Hadrian currently builds `mkUserGuidePart` in Stage0. Presumably this is wrong, but `mkUserGuidePart.cabal` doesn't set any restrictions on the version of the `ghc` library, hence the build succeeds. If `mkUserGuidePart` must have access to the latest in-tree `DynFlags` then I guess this should somehow be reflected in the `cabal` file?

@bgamari Shall I move `mkUser

[2017-01-07 14:50] snowleopard commented on #246
Ah, `mkUserGuidePart` was actually moved to Stage0 by @bgamari's commit: https://github.com/snowleopard/hadrian/commit/a86f2b1e97fb7fa0ef08327f083049a41b278513.

So, I'll leave `mkUserGuidePart` where it is for now :)

[2017-01-07 14:57] bgamari commented on #246
Andrey Mokhov <notifications@github.com> writes:

Or stage1, either way should work. Thanks for noticing!

I'll add a tighter bound on `ghc`.

[2017-01-07 17:00] snowleopard commented on #246
@bgamari I guess Stage1 would be preferable as it will then be a lot less overhead to build user guide only?

[2017-01-07 17:03] snowleopard commented on #246
@bgamari Actually, perhaps the right way is as follows:

* Keep it formally in Stage0, that is, compile it with the bootstrapping GHC.
* Respect the cabal dependency on in-tree `ghc` library. This will require waiting for `ghc` library to be compiled by the bootstrapping GHC, but not introduce dependency on the Stage1 GHC.

This seems to be the right way forward.

[2017-01-07 17:10] bgamari commented on #246
Andrey Mokhov <notifications@github.com> writes:

This sounds reasonable to me.

[2017-01-08 02:15] #179 closed

[2017-01-08 02:15] snowleopard commented on #179
After a minor revision above, `integerSimple` seems to work as expected in all my tests.

[2017-01-08 19:02] snowleopard commented on #216
I'm closing this issue, as I believe the remaining linting error is not Hadrian's fault. If this causes problems for you, simply remove the `--lint` flag from the Hadrian build script.

[2017-01-08 19:02] #216 closed

[2017-01-08 19:13] snowleopard commented on #259
There's been no activity here for half a year, so I take this is no longer an issue and can be closed. Feel free to reopen if the error reoccurs.

[2017-01-08 19:13] #259 closed

[2017-01-09 01:09] snowleopard commented on #252
I've accidentally fixed this while working on build flavours issues #188, #268.

[2017-01-09 01:09] #252 closed

[2017-01-09 18:17] snowleopard commented on #232
I'm closing this issue. Once #239 is complete we can look up the Great Merge steps discussed above.

[2017-01-09 18:17] #232 closed

[2017-01-09 18:25] snowleopard commented on #227
Let me close this issue. We've had a good discussion above, clarifying the role of Autoconf, but it's unlikely that anyone will be attempt to rewrite it soon.

[2017-01-09 18:25] #227 closed

[2017-01-09 18:36] snowleopard commented on #226
@hvr #113 has been resolved, and we now store *almost* all build artefacts in the folder specified by the `buildRootPath` setting in `UserSettings.hs`.

The only build artefacts that remain in the source tree and seem rather hard to move are those produced by `configure` scripts from various `.in` source files. See https://github.com/snowleopard/hadrian/issues/18#issuecomment-261342028 by @ezyang

[2017-01-12 01:22] snowleopard commented on #268
@thomie @simonmar I've translated many build flavours from the old build system to Hadrian and documented them here: https://github.com/snowleopard/hadrian/blob/master/doc/flavours.md.

If you spot any problems there, please let me know, e.g. by sending a PR to the document (I'll then adapt the code as required).

P.S.: There are a few things that seem strange to me, e.g. why do we optimise things

[2017-01-12 01:22] #268 closed

[2017-01-12 18:41] snowleopard commented on #268
Another unclear point: why the default heap size setting is `-H32` but all build flavours override it with `-H64`?

[2017-01-13 10:50] simonmar commented on #268
No good reason, just hysterical raisins.

[2017-01-13 12:55] snowleopard commented on #268
@simonmar OK, I've changed everything to `-H32` for now. Makes no difference in my experiments.

[2017-01-19 01:55] snowleopard commented on #246
@bgamari Just to confirm: Hadrian can successfully build `mkUserGuidePart` in Stage0 even though it depends on `ghc-8.1`. I presume some other utilities, such as `ghctags`, can also be moved to Stage0, hence improving concurrency in the build?

[2017-01-19 02:13] bgamari commented on #246
Andrey Mokhov <notifications@github.com> writes:

When you say "in stage0" do you mean "with the stage0 compiler linking
against the stage1 `ghc` library? If so this sounds fine. However, if you are
linking against the stage0 `ghc` then this may break at some point (or
at very least generate incorrect documentation).

Indeed this sounds quite plausible in the case of `ghctags`. I did a
quick look

[2017-01-19 02:35] snowleopard commented on #246
against the stage1 `ghc` library? If so this sounds fine.

@bgamari Yes, that's what I meant. Just to double check, I tried to build it with the `ghc == 8.2` cabal constraint instead and it failed.

I'll look into moving `ghctags` and `compare_sizes` to Stage0 too; `check-api-annotations` seems to be another candidate. Note that moving these packages to Stage0 safely will require similar modificat

[2017-01-19 03:49] bgamari commented on #246
Andrey Mokhov <notifications@github.com> writes:

Lovely.

Ahh yes, I suppose you are right.

Indeed.

[2017-01-21 05:41] DemiMarie commented on #153
@angerman At the time you made your comment, that was not true, but I fixed `-dead_strip`.

[2017-01-21 05:45] angerman commented on #153
@DemiMarie you are probably right. The `-dead_strip` fix in ghc, got unintentionally lost in a subsequent llvm backend improvement :-/

Thanks for fixing `-dead_strip` again then :) Hope you added enough comments, so yours does not get lost :)

[2017-02-08 08:47] siddhanathan opened #297 "Validation errors"

[2017-02-08 08:55] #297 closed

[2017-02-08 09:58] siddhanathan commented on #259
I've been having this issue. Tried both quick and quickest flavors. Is there a workaround? Using `GLIBC 2.23-0ubuntu5` on Ubuntu 16.04

[2017-02-08 11:03] snowleopard commented on #259
@siddhanathan Can you do a successful build using the Make build system? I can't reproduce this issue myself, so it's hard for me to investigate.

[2017-02-09 22:39] snowleopard opened #299 "Fix validation failures"
At the moment building GHC with Hadrian and then running `build validate` produces a lot of failures:
[code]
In the list of unexpected failures the majority comes from `ghci`, `perf`, `printer`, `profiling`, `rts`, `safeHaskell` and `th`.

Most probably cause is that the GHC we build is missing some features.

/cc: @bgamari @nomeata

[2017-02-09 23:42] nomeata commented on #299
Can you put the full log of the testsuite somewhere?

[2017-02-09 23:50] snowleopard commented on #299
@nomeata I don't have the full log, but I attached the list of all failures to this comment.

[validate-res.txt](https://github.com/snowleopard/hadrian/files/765304/validate-res.txt)

[2017-02-10 04:29] nomeata commented on #299
Ah, this is on windows? How many of these are also on Linux? But without a full build log it is hard to see what’s going on. Maybe some linker error that affects Template Haskell and GHCi?

[2017-02-11 11:15] snowleopard commented on #299
@nomeata Yes, I develop on Windows and test Hadrian on Linux/OSX via CI only.

Perhaps, you could try validating on Linux and share the log here?

[2017-02-14 17:23] bollu commented on #250
What is the status on this?

[2017-02-14 17:28] bollu opened #301 "Allow build.sh to auto install dependencies"
It would be nice if `build.sh` automatically installed `shake`, `monad-extras`, etc.

Shall I add this step into `build.sh`?

[2017-02-14 22:39] snowleopard commented on #250
@bollu This is blocked by https://github.com/ndmitchell/shake/issues/436, and, ultimately, by https://github.com/ndmitchell/shake/issues/453.

Adding support for this feature in Hadrian will be quite simple once the above is complete.

[2017-02-14 22:59] snowleopard commented on #301
@bollu Are you proposing to add `cabal install ansi-terminal extra mtl quickcheck shake` to `build.sh`?

I don't think we should do that. `build.sh` and `build.bat` rely on the global package database, and we do not want to mess with the user's globally installed packages.

If you would like more automation, I suggest you try `build.cabal.sh` or `build.stack.sh`, which install all Hadrian dependen

[2017-02-15 11:04] ndmitchell commented on #250
Yep, I'm still working on it, albeit on the back burner at the moment. Hopefully not too much longer.

[2017-03-08 19:20] michalt commented on #301
@snowleopard I completely agree - modifying the global database doesn't sound like a good idea. But maybe we should make the `build.cabal.sh` (or `build.stack.sh`) more prominent? Currently `build.sh` has the shortest name and so it might appear to be the "default/recommended" option.

[2017-03-08 23:48] snowleopard commented on #301
@michalt Yes, I think we'll have to do this at some point.

Most probably the shortest `build.*` command should be reserved for building with Cabal, because it's always available. We can keep `build.stack.*` as is, and rename `build.*` into e.g. `build.global.*`? Have you got any other suggestions?

[2017-03-11 16:47] ndmitchell commented on #301
It seems like `build.cabal.*` and `build.stack.*` should exist so users can pick, but probably `build.*` should just forward on to `build.cabal.*`? And probably `build.cabal.*` should use sandboxes?

[2017-03-11 17:09] snowleopard commented on #301
@ndmitchell It already uses sandboxes.

Yep, good idea!

[2017-03-31 08:52] mechkg opened #302 "GHC build fails on Windows 10 if 'Windows subsystem for Linux' is enabled"
At the start of the build Hadrian (or Shake?) executes the configure script which attempts to run the following command:

bash mk/get-win32-tarballs.sh download x86_64

This command fails because ‘bash’ is resolved to the binary provided by Ubuntu on Windows (which is a reverse WINE-like system that allows executing Linux binaries on Windows) instead of the one provided by MSYS. For some reason th

[2017-03-31 23:07] snowleopard commented on #302
@mechkg Thanks for reporting!

So, we need to figure out how to reliably detect the path to `bash` when running Hadrian inside MSYS that comes with Stack :-S

At the moment [we simply do](https://github.com/snowleopard/hadrian/blob/master/src/Rules/Configure.hs#L28):
[code]

[2017-04-01 06:34] ndmitchell commented on #302
Any chance an explicit "bash.exe" gets the right one?

[2017-04-01 10:43] mechkg commented on #302
How does `cmd` work? I suspect it might not be passing the correct environment set up by Stack to the subprocess.

[2017-04-01 11:55] ndmitchell commented on #302
Those pieces are usually in the environment variables. `cmd` leaves those untouched. I suspect stack might be running `cmd.exe /c bash` - where `cmd.exe` is the windows command line interpreter.

[2017-04-09 14:37] izgzhen opened #304 "runhaskell can't find ghc"
Go to `inplace/bin` and

[code]

This will happen for GHC 65b185d4886b4efa3efe3cc5ecc8dd6e07d89afe and Hadrian 295c7812ab8fe8e34e6812127e039220a850a344 on mu Ubuntu 15.04 machine

[2017-04-09 15:17] snowleopard commented on #304
@izgzhen Thanks for reporting!

I can't reproduce this on my Windows machine.

I think the reason is that `runhaskell` requires a wrapper to work correctly.

If someone would like to pick this up, here is where to start:

https://github.com/snowleopard/hadrian/blob/master/src/Rules/Program.hs#L24-L28

[2017-04-11 11:06] izgzhen commented on #304
You are right, if I do `./runhaskell -f ./ghc-stage2`, it will be fine.

[2017-04-11 11:11] snowleopard commented on #304
@izgzhen Thanks for confirming!

Do you think you could attempt to fix this? It shouldn't be very hard:
* Add a new wrapper `src/Rules/Wrappers/Runhaskell.hs` (there are some examples in the directory).
* Add the wrapper into the list of `wrappers`, as linked above.

It would be easier for you to test that your fix works.

Otherwise, I'll try to find time to do this over this weekend.

[2017-04-11 12:57] izgzhen commented on #304
Yes I am attempting to fix it in a couple of days :) Just need to find some spare time though

[2017-04-11 14:08] snowleopard commented on #304
Awesome, thanks! :)

[2017-04-15 20:08] #304 closed

[2017-04-18 07:52] izgzhen opened #306 "Track GHC commit"
It looks like there is no way to associate a particular hadrian commit to a GHC commit, so the build failure caused by potential unexpected GHC update like in #305 can be very hard to detect.

I suggest tagging the git hash of the most recent successfully built GHC somewhere, and instruct user/CI to check out corresponding version automatically.

[2017-04-18 08:01] ndmitchell commented on #306
Does Hadrian have a nightly cron build? That's now an option in Travis and might detect GHC changes easily and quickly.

[2017-04-18 08:21] izgzhen commented on #299
On my Linux machine for commit c158014 (GHC: 65b185d):

[code]

[2017-04-18 09:55] snowleopard commented on #306
@izgzhen I don't think tagging will help much in practice: we're pretty much always in the situation that the last Hadrian commit is broken by one of a new commits in GHC. The tag will only give us the lower bound, but it can also be obtained by looking at the commit time.

@ndmitchell We don't at the moment. I think regular builds is a better solution compared to tagging.

I'll look into enabling

[2017-04-18 10:04] snowleopard commented on #299
Thanks @izgzhen! This looks similar to Windows stats above.

[2017-04-18 10:59] izgzhen commented on #306
@snowleopard I am not sure this will always be true. If we can't promise to reject all commits that failed some build, there will be a mismatch. Also, looking at commit time is not very convenient & precise.

[2017-04-18 13:13] ndmitchell commented on #306
@snowleopard - it's pretty trivial now. Let me know if you get stuck.

@izgzhen provided you aren't unlucky and commit within 24 of a rare upstream breakage you should be fine - and even if you do something else will break quickly. I often wish that on a failed pull request Travis did a sanity build of the original.

[2017-04-18 14:32] izgzhen commented on #4
Just curious: It seems that there was no previous code on this issue, so I wonder if hadrian is ever shipped with this functionality before.

Also, I can't find the `buildPackage` as described in paper.

[2017-04-20 10:38] snowleopard commented on #4
@izgzhen The dynamic way was never implemented. The "fixing" refers to it being broken :-)

This is the equivalent of `buildPackage` from the paper:

https://github.com/snowleopard/hadrian/blob/master/src/Rules.hs#L46-L72

(Apologies for the slow responses, I'm currently travelling.)

[2017-04-20 10:40] snowleopard commented on #4
@izgzhen By the way, if you are interested in taking the lead on this issue, it'd be great to first talk to Jose Calderon (@jmct).

[2017-04-21 16:47] snowleopard commented on #306
@ndmitchell I easily found the setting in Travis, so hopefully we will now have daily builds. Thanks for the hint! (Was travelling all week so couldn't do this earlier.)

[2017-04-21 16:53] snowleopard commented on #306
@izgzhen I don't quite understand how you propose to make tagging work.

Imagine I've have made a patch to Hadrian which works on my Windows machine. I push it to the repo and it fails on the Mac OSX instance. What do I do now? Do I tag as "For GHC commit N, this works on Windows & Linux, but fails on Mac OS X"? Is this really helpful? To me this seems to introduce extra work/mental overhead to th

[2017-04-22 01:46] izgzhen commented on #306
@snowleopard First what you described is basically what I have in mind: a precise, 100% reproducible history of builds. But yes, you have a point in that it might lead to extra overhead since we don't have a infra person for automating all the related bits now :)

You maybe close this issue if you see fit -- I guess if we ever ship Hadrian into GHC tree, then it is GHC team's job to make sure ever

[2017-04-26 01:35] snowleopard commented on #306
@izgzhen I see. It's a useful goal, but I agree that it will be much easier to achieve once Hadrian is merged into the GHC tree, so I'm closing this.

P.S.: I'm finally getting some free time to look into Hadrian, so I'll try to fix the build during this week. I've already fixed the Windows build, so we have the green light from AppVeyor. Will look into the recursive rules for `iserv` next.

[2017-04-26 01:35] #306 closed

[2017-04-26 12:32] izgzhen commented on #4
@snowleopard @jmct Yes, I am interested in looking into that issue. I have tried to capture the need for dynamic libs (when dyn is on) with this inserted in `packageRules `:

[code]

However, I don't quite get where does the `need` for these shared libs come from. I can't find such a rule in Hadrian that inspects the way flag and then `need` for certain dynamic libraries to be built.

[2017-04-26 17:23] snowleopard commented on #4
@izgzhen The top-level `need` for all libraries is here:

https://github.com/snowleopard/hadrian/blob/master/src/Rules.hs#L27-L44

The path to the library file is computed by calling the `pkgLibraryFile` function:

https://github.com/snowleopard/hadrian/blob/master/src/Settings/Path.hs#L78-L83

I think this code should do what you want, but you need to enable the dynamic way, by uncommenting these

[2017-04-26 17:36] jmct commented on #4
Hey @izgzhen, it’s awesome that you want to help out on this!

I’m not sure of your schedule but perhaps we can get on chat and coordinate a plan sometime soon. Work has meant that I haven’t been able to tackle this issue completely but I do have some work in progress.

[2017-04-27 00:45] izgzhen commented on #4
@snowleopard Yes, this is exactly what I am finding! Thanks a lot

@jmct Great, what is the status of your work?

[2017-04-27 05:10] izgzhen commented on #219
@snowleopard I am starting to look into this issue as well (finally got some free time yay!).

Now I will focus on `install` part. The first question is about `--prefix=PREFIX` option line argument. I guess I can define a `prefix` in `Settings` which finalizes its content like how `Flavour` does. Then I can access it in some new `Rules.Install`.

However, I don't know if I should pass it to `./con

[2017-04-27 09:11] izgzhen commented on #296
What is the difference between "boot" and "install" in `XXX_dist-boot_EXTRA_HC_OPTS` and `XXX_dist-install_EXTRA_HC_OPTS` (https://github.com/ghc/ghc/blob/master/mk/warnings.mk)?

[2017-04-27 09:15] izgzhen commented on #296
Oh never mind, I found that probably "boot" means stage1 and "install" means stage2

[2017-04-27 09:18] izgzhen commented on #296
But why we don't add `Werror` anywhere in Hadrian now?

[2017-04-27 09:39] izgzhen commented on #296
Some attempt:

[code]

[2017-04-27 10:51] snowleopard commented on #219
@izgzhen Yes, I think we should add a few new configuration settings into `hadrian/cfg/system.config.in`, doing something similar to `mk/install.mk.in`:
[code]

Then all these settings can be made available in `Oracles.Config.Setting`.

I think for now we can leave it to the user to provide additional arguments to `Configure` manually as described in https://github.com/snowleopard/hadrian/blob/mas

[2017-04-27 10:55] snowleopard commented on #296
@izgzhen More accurately, `boot` means `Stage0` in Hadrian, and `install` means either `Stage1` or `Stage2` (this was not consistent in Make).

I guess only because we'll get a lot of errors. But we should have it!

Is this attempt for `transformers` only? Presumably there are many more warning flags to add.

But this is the right step forward 👍

[2017-04-27 11:29] snowleopard commented on #219
@izgzhen By the way, are you aware of this: https://summer.haskell.org/ideas.html#hadrian-ghc? Looking at your website you are a student, so you could apply to work on Hadrian as part of Summer of Haskell 2017.

[2017-04-27 14:28] izgzhen commented on #296
Awesome. I will finish the rest of it later :)

[2017-04-27 15:15] izgzhen commented on #219
That is ... a very interesting thread. Thanks!

Yes, I am. Without this I will probably never know that shaking-up-ghc became Hadrian and **it works!**. I am still gathering the information for the proposal, and hopefully I will make up my mind to submit it to the committee :)

[2017-04-27 16:04] snowleopard commented on #219
Great :-) Feel free to get in touch with me by email if you'd like to discuss the project in general.

[2017-04-28 07:40] izgzhen commented on #219
Regarding some variables used in `ghc.mk` installation part:

On my machine, I can get from the make-based GHC that `INSTALL_DIR="/usr/local/bin/ginstall -c -m 755 -d"`. This is generated from [`AC_PROG_INSTALL` macro](https://www.gnu.org/software/autoconf/manual/autoconf-2.69/html_node/Particular-Programs.html) in [`configure.ac`](https://github.com/ghc/ghc/blob/master/configure.ac#L695) I guess.

[2017-04-28 12:42] izgzhen opened #308 "Document on debugging Hadrian"
I think it would be nice to have a document on how to debug Hadrian. For example, what tools you typically use to debug it, whether there is some magic switch in either Hadrian or GHC that provides useful information about the build etc.

While it would take quite some time to write a complete guide on this, we can always start with something trivial and do it incrementally. It should be not be a

[2017-04-28 12:53] snowleopard commented on #308
Very good point, we definitely need something like this.

Debugging is quite hard currently. I typically just use print-debugging, i.e. inserting noticeable `putSuccess` statements in key places in the build system and rebuilding.

Perhaps, @ndmitchell can share some tricks how to debug Shake-based build systems?

[2017-04-28 12:58] snowleopard commented on #219
Have a look at this oracle:

https://github.com/snowleopard/hadrian/blob/master/src/Oracles/Path.hs#L87-L91

It is used to cache the invokation of `cmd ["cygpath", "-m", path]` and is used to compute absolute paths on Windows. I think you can use a similar approach to evaluate expressions like `INSTALL_DIR`.

Is this what you need?

[2017-04-28 13:55] izgzhen commented on #219
Do you mean evaluate it against some configure script? What is the `cygpath` in our case?

I used `make show! VALUE=INSTALL_DIR` to get this information in a regular make-based system.

[2017-04-28 14:03] snowleopard commented on #219
No, I mean you can simply call `cmd ["/usr/local/bin/ginstall -c -m 755 -d"]` and make the result available in Hadrian via the oracle mechanism. For example, building on the code I linked above:

[code]

It's a command available in MSYS to compute abosolute paths on Windows.

[2017-04-28 14:09] izgzhen commented on #219
Oh, I see. My main point is that `/usr/local/bin/ginstall -c -m 755 -d` seems to be too platform specific.  The old system knows what `INSTALL_DIR` is through `./configure` ....

[2017-04-28 14:30] snowleopard commented on #219
I see. So, `configure` produces `/usr/local/bin/ginstall -c -m 755 -d`, which we need to be able to evaluate in Hadrian. Perhaps, we should use both `configure` to obtain the expression, and then have a generic expression evaluation oracle that can evaluate and cache any such expression.

[2017-05-01 14:22] izgzhen commented on #296
Report something I found after switching on `-Werror` experimentally (on macOS):

[code]

This is caused by interpretation of `GccLt44` -- on macOS (Argh!), `gcc` is actually `clang`, which doesn't know `-Wno-sync-nand`. And this will halt the build when `-Werror` is enabled.

[2017-05-01 14:24] izgzhen commented on #296
I can fix the above problem with `(not <$> flag GccIsClang)`

[2017-05-01 16:06] snowleopard commented on #296
Yes, `not <$> flag GccIsClang` is the right way. As far as I can see this corresponds to this code in Make:
[code]

[2017-05-01 17:18] izgzhen commented on #296
Yes you are right -- I am now actually confused by `SRC_CC_WARNING_OPTS` now -- it is used in `includes/ghc.mk`, which seems to be something related to linking. Are you familiar with this make variable?

[2017-05-01 17:33] snowleopard commented on #296
According to this comment in `mk/config.mk` this variable is exactly for suppressing warnings:
[code]
If I remember correctly, `includes/ghc.mk` is responsible for generating included header files.

[2017-05-01 17:35] izgzhen commented on #296
Yes, true. But which builder will this option affect? What is the difference between `SRC_CC_WARNING_OPTS` and `SRC_CC_OPTS`?

[2017-05-01 18:25] snowleopard commented on #296
I believe `SRC_CC_OPTS` are base flags for C compiler. Various other variables, including `SRC_CC_WARNING_OPTS` are used to override these base flags.

However, I don't know whether there is comprehensive documentation about this -- I mostly had to re-engineer what's going on by looking at comments and talking to various people. (So, I may be wrong too!)

[2017-05-04 17:26] izgzhen opened #310 "Missing dist-derivedconstants"
In standard build, we will have multiple targets in `includes/dist-derivedconstants`, like `includes_GHCCONSTANTS_HASKELL_VALUE` (equals to `includes/dist-derivedconstants/header/platformConstants`).

They will be installed to `/usr/local/lib/ghc-<version>/includes`.

Related issue: https://github.com/snowleopard/hadrian/issues/219

Related make script: https://github.com/ghc/ghc/blob/master/inclu

[2017-05-04 19:14] snowleopard commented on #310
These files are built in `_build/generated` and can be copied from there to appropriate destination during installation. Note, we have the following `installTargets` in `Rules/Generate.hs`:
[code]

Also see `copyRules` which already copies `inplace/lib/platformConstants`:
[code]

[2017-05-05 00:43] izgzhen commented on #310
Oh right, thanks a lot!

BTW, I guess I might need to modify `inplace/lib` part. I've written something equivalent to `$(ghclibdir)`.

I will close the issue now.

[2017-05-05 00:43] #310 closed

[2017-05-10 15:03] goldfirere commented on #239
Posting here as requested on ghc-devs: A really useful feature of the build system today is that I can `make 2` in the `ghc` subdirectory and get a very fast rebuild. In particular, no dependency-checking is done (which takes several seconds). I would be quite disappointed to see this (admittedly unsafe) feature be dropped.

It is also convenient to tell the build system to target just one specifi

[2017-05-10 23:14] snowleopard commented on #239
Thanks @goldfirere!

Freezing Stage1 is a popular feature and has already been requested -- see #250. We do intend to provide an equivalent in Hadrian.

Rebuilding a single file is already possible by specifying its name as the build target, i.e. `hadrian target`, but at the moment this will also trigger rebuilds in Stage1.

[2017-05-10 23:56] bgamari commented on #200
I'm not sure this is strictly necessary for the `ghc-quake` milestone.

[2017-05-11 01:33] bgamari commented on #139
D3567 rewrites `boot` in Python, removing that particular need.

[2017-05-11 02:31] goldfirere commented on #239
This isn't just about freezing stage 1. It's about re-building *just* the compiler (no libraries) and skipping the time-consuming dependency analysis.

[2017-05-11 21:56] snowleopard commented on #239
@goldfirere I see, thanks. If I understand correctly, the freeze feature should be flexible enough to freeze different sets of build artefacts: whole stages, packages, etc.

One simple way to support such custom freezing is via *predicates*, e.g. having a user setting `freeze`:
[code]
These predicates can be composed as explained here:

https://github.com/snowleopard/hadrian/blob/master/doc/user-s

[2017-05-14 16:55] izgzhen opened #311 "macOS clang complains -Wno-unknown-pragmas"
I saw this during building latest Hadrian (4952e80):

[code]

Related code:

- https://github.com/snowleopard/hadrian/blob/1774b40d0be398953bc0ad03bc364a951d971a7b/src/Settings/Builders/Common.hs#L52
- https://github.com/snowleopard/hadrian/blob/4952e8022f805d31035c3ecfd354518c72d07557/src/Settings/Default.hs#L77

clang version:

[code]

I don't know if that is related to Clang's version. I made t

[2017-05-15 13:10] snowleopard commented on #311
@izgzhen Thanks for reporting! Not sure what's going on. Your PR seems to match the Make behaviour.

Do you get the warning on your MacOS machine?

[2017-05-15 13:13] izgzhen commented on #311
Yes, there were several Xcode updates rolled out recently, but I am not sure if this is related.

But anyway this is a low-priority issue.

[2017-05-17 16:21] simonmar commented on #239
`make 2` is a combination of freezing stage 1 for the duration of this build and building a single target (the compiler).  @snowleopard we need to be able to specify what to freeze from the command line, in addition to having a user setting.

[2017-05-17 16:24] izgzhen commented on #139
I did something related here: https://github.com/snowleopard/hadrian/pull/312/commits/f3fa6d45fa77135fdd48f9793ee4ebee8c0aaa87

[2017-05-18 10:47] snowleopard commented on #239
@simonmar How critical is the ability to specify such settings via the command line? Isn't the ability to select a user build flavour from the command line sufficient?

[2017-05-18 11:53] snowleopard commented on #139
@izgzhen Nice! If this passes CI on all platforms, shall we put this into a separate PR?

[2017-05-18 11:54] snowleopard commented on #139
Ah, it's not tested by the CI, because it requires `--split-objects` command line flag. Have you tried if it works for you?

[2017-05-18 15:50] izgzhen commented on #139
@snowleopard I didn't see major outage, but I will keep an eye on this. I agree that it is useful to separate it out as another PR, since the `install-rule` one, as I expect, would take quite some time to resolve cleanly, and I can also make better sense of my change of dropping `Perl`.

[2017-05-26 17:32] snowleopard opened #314 "Switch to python-based boot"
The `boot` script has been rewritten from Perl to Python: https://phabricator.haskell.org/D3567

There are a few trivial fixes we need to do in Hadrian and on CI bots to support this, but at the moment we put this on hold until the Windows build is fixed in GHC, see this comment:

https://phabricator.haskell.org/D3567#102663

/cc #312

[2017-05-31 18:40] snowleopard commented on #314
The `boot` script is back to Perl for now: https://github.com/ghc/ghc/commit/7fce4cbc0e0d00352826c5ef1d7f6bf8dbb826b9

[2017-06-02 14:11] izgzhen commented on #308
Added a wiki page https://github.com/snowleopard/hadrian/wiki/Debugging with some initial contents.

I chose to put this on wiki because we can change wiki pages frequently and conveniently. We can put a link in README points to this place.

[2017-06-03 04:08] izgzhen opened #317 "Code Style and Conventions"
After several weeks of working with the code base, I noticed that @snowleopard tried to maintain *some* code style and convention, but up to now it is still more or less implicit.

I propose to make it explicit, by e.g. being written in wiki, so future maintenance will be easier to do.

[2017-06-03 11:53] snowleopard commented on #317
I'm a bit sceptical about spending too much effort on this. Hadrian will eventually become a part of GHC and will then be subject to GHC's code style and conventions. Coming up with a wiki based on my code style idiosyncrasies sounds like a potential waste of time.

By the way, my code style was heavily influenced by this: https://github.com/tibbe/haskell-style-guide/blob/master/haskell-style.md,

[2017-06-04 04:39] izgzhen opened #318 "ghc-cabal copy assumes library artifacts in build subpath"
Related `ghc-cabal` code: https://github.com/ghc/packages-Cabal/blob/master/Cabal/Distribution/Simple/Configure.hs#L366

This creates problems for install rules.

We discussed a bit in https://github.com/snowleopard/hadrian/pull/312, but I don't think we have consensus on it yet. Here are several possible ways to fix:

1. Revert the change and build stuff in `build` subpath, as what the old system

[2017-06-04 13:25] snowleopard commented on #318
I think we also discussed another option:

4. Implement the `ghc-cabal copy` functionality in Hadrian.

Presumably, we just need to copy all package objects and the library? It's easy to get a list of all build artefacts that Hadrian produces for a given package. For example, you can get all Haskell objects using this: https://github.com/snowleopard/hadrian/blob/master/src/Oracles/ModuleFiles.hs#L

[2017-06-04 13:52] izgzhen commented on #318
For `libraries/array`:

[code]

The problem is that `ghc-cabal` does more than copying over stuff. Here is the related code in `utils/ghc-cabal/Main.hs`.

[code]

The problem is that my previous experience told me the `copy` does more than copying, but I had a hard time trying to understand what is beyond that. It must be something related to registration etc., since if we simply copy things, then

[2017-06-04 14:27] snowleopard commented on #318
Thanks! We can easily locate and copy these files.

I think it would be very useful to understand and document this.

@bgamari @ezyang Could you help? Is there a specification of what `ghc-cabal copy` is supposed to do?

[2017-06-05 11:00] izgzhen commented on #317
I want to propose two (new) things on this:

1. Try to attach the source of reference (somewhere in old `*.mk`) in the comments, esp. when there are some hardcoded magics
2. Try to `import` with `(...)` rather then import everything. This makes it easier to find where some names come from (since we don't always have a decent IDE for Haskell hacking...)

I will try to maintain these as far as I can

[2017-06-05 11:05] snowleopard commented on #317
@izgzhen Fully agree regarding imports.

Regarding `*.mk` files: I think it would be more useful if we take the effort of writing more detailed comments, explaining all occurrences of black magic, instead of simply linking to the Make build system. These links tend to get out-of-date due to on-going development, and furthermore it is often very hard to make sense of Makefiles.

[2017-06-05 12:05] izgzhen commented on #317
Agreed.

Also, I will try to use a consistent reference style starting from now: `ref: relative/path/from/ghc/toplevel:line-number`, e.g. `ref: mk/config.mk.in:241`

[2017-06-06 00:49] snowleopard commented on #317
@izgzhen Sounds good :+1:

[2017-06-11 14:04] izgzhen commented on #4
I need to get the `DynamicExtension` setting to write the target for the its `Rules`, but it seems like I can't run an `Action` inside `Rules` to get the returned value.

@snowleopard @ndmitchell

[2017-06-11 15:39] izgzhen opened #322 "OS X CI timeout"
This is not a new issue: we had frequent OS X CI timeout on Travis, because the build took too long. Very sparsely, it can finish within the time limit.

It can be annoying since we might never know if the build will actually succeed or not (lucky that my dev machine is OS X), not to say spending more time running tests.

[Circle CI](http://circleci.com) provides better OS X support, but it is not

[2017-06-11 15:48] izgzhen opened #323 "Lint error when building documentation"
Output is like below when running `./build.stack.sh --flavour=quickest --integer-simple --haddock` on OS X:

[code]

I have temporarily turned off the `--lint`.

(You might not be able to reproduce this before I pushed the latest patch to documentation rules...)

[2017-06-11 18:18] ezyang commented on #318
The most long term, sustainable way to get copy functionality is to use the Cabal library. This means that you have to implement the same directory layout which Cabal expects, which means you have to put things in a build subdirectory of your `dist` directory, because this is just "how the dist directory layout works", and lots of tools, Cabal including, make this assumption about layout.

Of cour

[2017-06-11 19:16] snowleopard commented on #322
One possible solution is to use a different (faster) bootstrapping compiler. I hear GHC 8.2 is fast -- perhaps it could bring build times down?

[2017-06-11 19:21] snowleopard commented on #323
This typically means writing the same file twice. Could it be that we build some docs twice?

[2017-06-11 22:14] snowleopard commented on #4
@izgzhen Yes, I expected this could be a problem.

A pragmatic solution is to create a rule that matches a predefined set of extensions (`dll` etc.), but `need` only the right one.

[2017-06-11 22:41] snowleopard commented on #318
@ezyang Many thanks!

If your list covers everything then it shouldn't be difficult to reimplement this functionality in Hadrian. It's not entirely code duplication, because we're using Shake and can therefore track things when copying. Not sure how useful it is for install rules, but that's something we can't achieve by reusing the Cabal library.

[2017-06-12 01:39] bgamari commented on #318
Andrey Mokhov <notifications@github.com> writes:

Not as far as I know. On the plus side, this means it is relatively easy to change.

[2017-06-12 14:53] izgzhen commented on #318
Good point. Before that I tried a plain "copy" with simple filtering but retaining the original structure as it is. Maybe I should check out if it does something else.

Thanks!

[2017-06-12 15:13] izgzhen commented on #322
I can try this one later on.

[2017-06-12 16:47] izgzhen commented on #4
Well, just found that we need `setting ProjectVersion` in target path as well, which is basically impossible to be predefined! A workaround is to not `need` for the precisely named one, but just `need` something like `libHSrts.dylib` first, then adding an action copying it to `libHSrts-ghc8.3.20170608.dylib` by the end of build. But we can't track this.

I still don't get why we can't use these in

[2017-06-12 16:51] izgzhen commented on #4
Oops -- maybe I can just relax the match pattern

[2017-06-12 20:31] snowleopard commented on #4
@izgzhen I don't understand. Why can't you add `need ["libHSrts-ghc8.3.20170608.dylib"]` to top-level targets (as I linked) and add `//*.dynlib` build rule?

[2017-06-14 15:03] izgzhen commented on #322
Well, `brew` only supports the stable release, i.e. `8.0.2` (which is supposed to be used currently).

[2017-06-17 16:17] izgzhen opened #326 "Should pre-defined build flavors be consistent with the old system?"
For example, the `quickest` in old system will include the `dynamic` way, but in Hadrian, we might want to be *literally* the "quickest" way by not including the dynamic way at all.

The pros for being consistent with legacy definition of some way is:

1. Less confusing for developers migrating from the old system
2. Easier to port more logic from Makefiles directly without worrying about breaking

[2017-06-19 22:19] snowleopard commented on #326
@izgzhen As far as I understand, all flavour-related logic is quite straightforward in the Make build system and lives in `mk/flavours`. There is nothing else to port.

I actually like this one :)

@bgamari what is your opinion? Is it important for GHC devs that the `quickest` flavour builds dynamic libs?

[2017-06-22 16:06] izgzhen opened #327 "compiler package cabal file assumes built artifact's path"
As in https://github.com/ghc/ghc/blob/master/compiler/ghc.cabal.in#L81

When `install` the `compiler` package, `ghc-cabal copy` will try to find the included header files (`ghc_boot_platform.h` in this case) from directories generated from the above configuration. But in Hadrian, this header file is put in `_build/stageN/compiler`.

[2017-06-23 09:55] snowleopard commented on #327
So far I was fixing such issues by postprocessing generated files, such as `ghc.cabal`, by `fixFile` and simple string replacement.

Here is an example: https://github.com/snowleopard/hadrian/blob/master/src/Rules/Data.hs#L38-L51

It's a hack, but I don't see a better way without touching GHC sources.

[2017-06-23 10:35] izgzhen commented on #327
hmm .. my hack is to copy the `.h` file to the required place.

[2017-06-23 10:57] snowleopard commented on #327
Yes, I see. Choose whichever works best for now, but make sure the code explains the hack and calls for a fix in future.

[2017-06-24 02:51] izgzhen commented on #322
As mentioned in #325, this time even Linux build timeouts.

Another thought on infrastructure is to see if the larger community can help on this, like providing a self-hosted Linux build bot.

@jaspervdj Do you have any suggestion on this?

[2017-06-24 03:42] izgzhen commented on #322
Building with `dyn` way on my MacBook Pro needs 112 minutes

[2017-06-24 12:28] jaspervdj commented on #322
The caching mechanism for Travis works fairly well.

I'm not sure about a build bot, but since this is for a GHC-related project, @hvr might know more.

[2017-06-25 14:48] izgzhen commented on #219
The left TODOs of implementing `install` after a workable version is delivered in #312:

- [ ] Automatic dependency generation in `installPackages`
- [ ] Test if it works on Windows platform
- [ ] Write README for using it
- [ ] Solve the build subpath HACK && Drop dependency on “ghc-cabal copy”
- [ ] Consider if we need track dependency of installed artifacts
- [ ] Install docs

[2017-06-25 17:43] snowleopard commented on #219
@izgzhen Thanks! I'll do the Windows testing.

By the way, I've just realised I could not assign this task to you since you were not listed as a contributor, so I sent you an invite to join the team. I think this will let you push to the repo directly, but please keep using PRs to avoid clashes.

[2017-06-26 01:01] izgzhen commented on #219
Sure, thanks.

[2017-06-27 19:28] bgamari opened #330 "Hadrian assumes path of bash"
Trying to build with Hadrian on, for instance, FreeBSD falls over at the first gate with,
[code]
It's not clear to me where this assumption is coming from.

[2017-06-27 19:33] bgamari commented on #330
I see, the problem is here: https://github.com/snowleopard/hadrian/blob/master/src/Util.hs#L67. It's not clear to me why this is necessary. At very least it deserves a comment.

[2017-06-27 19:54] bgamari commented on #330
The wrappers also assume the location of `bash`.

[2017-06-27 20:25] bgamari commented on #250
@ndmitchell what is the status of this? I believe this is one of the last remaining items before we can merge.

[2017-06-27 20:47] ndmitchell commented on #250
@bgamari eek, I should really get a move on. I got a little distracted with other projects, but I'm now back on full focus. Hopefully not long.