[2018-03-10 13:27] snowleopard commented on #523
I think this is a good (and urgent!) issue for a beginner. Potential GSoC applicants, give it a try!

[2018-03-11 11:26] chitrak7 commented on #523
The error is coming due to the inclusion of this line in libraries/base/configure.ac::240.

AC_CHECK_TYPE([struct MD5Context], [], [AC_MSG_ERROR([internal error])], [#include "include/md5.h"]).

 But the file "include/md5.h" is present and is containing struct MD5Context. I have seen the earlier implementations. Earlier implementation returned with value "no" but new implementation causes an error

[2018-03-11 11:54] snowleopard commented on #523
@chitrak7 How does the Make build system deal with this? Why does it succeed? Presumably, it calls the `configure` in `base` somehow differently?

[2018-03-11 18:51] chitrak7 commented on #523
I have been trying to figure it out. There are no recent changes in any of the concerned makefiles, but I believe that we have been doing this step wrong since the start.  Just we were not able to detect it as it didn't cause any errors. Can you give any pointers on where to look @snowleopard

[2018-03-12 14:32] chitrak7 commented on #523
@snowleopard The make system is somehow copying a few c libraries from ghc/includes to ghc/libraries/base/include. This is because md5.h has some headers files which are not present with it, but are present in ghc/includes. After this, ./configure runs fine.

[2018-03-12 16:10] snowleopard commented on #523
@chitrak7 Aha, that's a very useful piece of information! Can you link to these specific lines in Makefiles?

[2018-03-12 16:33] chitrak7 commented on #523
@snowleopard I have not been able to find this in the Makefile. I am deducing this because the file ghc/libraries/base/include/md5.h has a lot of header files such as "HsFFi.h" which are required for configure to compile. These are present in ghc/includes. Hence, some copying must be done.

[2018-03-12 18:03] chitrak7 commented on #523
"inplace/bin/ghc-cabal" configure libraries/base dist-install --with-ghc="/home/chitrak/ghc/inplace/bin/ghc-stage1" --with-ghc-pkg="/home/chitrak/ghc/inplace/bin/ghc-pkg"  --flags=integer-gmp --disable-library-for-ghci --enable-library-vanilla --enable-library-for-ghci --enable-library-profiling --enable-shared --with-hscolour="/usr/bin/HsColour" --configure-option=CFLAGS="-Wall -fno-stack-protect

[2018-03-12 19:18] chitrak7 commented on #523
_build/stage0/utils/ghc-cabal/ghc-cabal configure libraries/base /home/chitrak/ghc/_build/stage1/libraries/base --with-ghc=/home/chitrak/ghc/inplace/bin/ghc-stage1 --with-ghc-pkg=/home/chitrak/ghc/inplace/bin/ghc-pkg --enable-library-vanilla --enable-library-for-ghci --enable-library-profiling --enable-shared '--configure-option=CFLAGS=-fno-stack-protector -I/home/chitrak/ghc/_build/generated' --c

[2018-03-12 19:49] chitrak7 commented on #523
@snowleopard It looks like the <distdir> is supposed to be packagePath/dist-dir and not  _build/stage1/packagePath. Can you look into this?

[2018-03-13 07:40] chitrak7 commented on #523
@snowleopard There is an interesting error in config.log:
configure:28447: checking for struct MD5Context
configure:28447: /usr/bin/gcc -c -I../.. -I../../../../includes -fno-stack-protector -I/home/chitrak/ghc/_build/generated -I_build/generated conftest.c >&5
conftest.c:216:10: fatal error: ./include/md5.h: No such file or directory
 #include "./include/md5.h"
          ^~~~~~~~~~~~~~~~~
compila

[2018-03-13 13:07] snowleopard commented on #523
@chitrak7 Thanks for investigating further! I've made a PR with a simple fix that works for me locally: #526. Let's see if it also works for you and our CI instances.

Note that my build still fails, but later:

[code]

[2018-03-13 15:05] chitrak7 commented on #523
@snowleopard  It is because we are not including package directory in cflags. I think its a typo. The C file looks for a constatnt HAVE_UNISTD_H and HAVE_FTRUNCATE. This constant is stored in config log. so we have to include config.log along with this.

I tried to include library -I_build/stage1/libraries/base/build which didn't work. But including -Ilibraries/base did. both these directories con

[2018-03-13 19:56] chitrak7 opened #527 "Cabal: Could not resolve dependencies."
On running the build on a fresh system, I am encountering this problem:
trying: hadrian-0.1.0.0 (user goal)
next goal: Cabal (dependency of hadrian-0.1.0.0)
rejecting: Cabal-2.3.0.0, Cabal-2.0.1.1/installed-Ain...,
Cabal-1.24.2.0/installed-1.2..., Cabal-2.0.1.1, Cabal-2.0.1.0, Cabal-2.0.0.2,
Cabal-1.24.2.0, Cabal-1.24.0.0, Cabal-1.22.8.0, Cabal-1.22.7.0,
Cabal-1.22.6.0, Cabal-1.22.5.0, Cabal-1.22.

[2018-03-13 19:59] snowleopard commented on #527
@chitrak7 Thanks! Looks like this might be the same issue as on AppVeyor:

https://ci.appveyor.com/project/snowleopard/hadrian/build/1.0.951

[2018-03-13 21:22] snowleopard commented on #527
@chitrak7 Looks like an easy fix: #528.

[2018-03-13 21:37] snowleopard commented on #527
The above fix seems to have solved this particular issue.

[2018-03-13 21:37] #527 closed

[2018-03-14 17:08] chitrak7 opened #529 "Drop Support for ghc-8.0"
Yesterday, GHC has dropped support for GHC-8.0. I think we should do it also.
I believe only affected dependency will be base.
Refer to commit:
152055a19cf368439c8450040b68142f8e7d0346

[2018-03-14 19:36] snowleopard commented on #529
@chitrak7 Thanks! Yes, we'll need to switch to a later GHC and update our CI infrastructure.

However, let's postpone this until we have a working build, as #523 is still not fully resolved.

[2018-03-17 10:57] chitrak7 commented on #523
1)  Error in issue #523
Reason: The file config.log defines a few variables like HAVE_USISTD_H, HAVE_FTRUNCATE. The file HsBase.h uses these definitions to check for ftruncate or _chsize. But this file is generated in directory path/build. Hence we have to include this directory as well.

2) A discrepancy in INCLUDE_DIRS in package-data.mk
The file package-data.mk is supposed to give relative path

[2018-03-17 15:39] chitrak7 commented on #523
#1
After changing a few lines of code, my code passed for libraries/base. But on processing libraries/process, same error came. On exploring further, I found that the dependencies in package-data.mk are not correct.
Here are the dependency directories:
DEP_INCLUDE_DIRS_SINGLE_QUOTED = '/home/chitrak/ghc/libraries/directory/.' '/home/chitrak/ghc/_build/stage1/libraries/directory/.' '/home/chitrak/g

[2018-03-17 15:44] chitrak7 commented on #523
Continued..
This belief is further solidified by the fact that the command :
/usr/bin/gcc -fno-stack-protector -Iincludes -I_build/generated -I_build/stage1/libraries/process -I_build/stage1/libraries/process/build -Ilibraries/process/include -Ilibraries/process//home/chitrak/ghc/_build/stage1/libraries/process/build/include -Iinclude -I/home/chitrak/ghc/_build/stage1/libraries/process/build/inclu

[2018-03-17 15:46] chitrak7 commented on #523
Changes done by me to pass for libraries/base.

diff --git a/src/Settings/Builders/Common.hs b/src/Settings/Builders/Common.hs
index bfcddeb..a8b7fdf 100644
--- a/src/Settings/Builders/Common.hs
+++ b/src/Settings/Builders/Common.hs
@@ -29,7 +29,9 @@ cIncludeArgs = do
     mconcat [ not (cross && compilerOrGhc) ? arg "-Iincludes"
             , arg $ "-I" ++ root -/- generatedDir
             , ar

[2018-03-18 09:32] izgzhen commented on #523
[code]

@chitrak7 I would like to help you but when I tried to build the latest source with `./build -j`, the error above is thrown. I will clean up and try again though.

[2018-03-18 10:05] chitrak7 commented on #523
Hi @izgzhen.
Can you please run this command instead:
/usr/bin/gcc -c _build/stage1/libraries/base/System/Environment/Blank_hsc_make.c -o _build/stage1/libraries/base/System/Environment/Blank_hsc_make.o -fno-stack-protector -Iincludes -I_build/generated -I_build/stage1/libraries/base -Ilibraries/base/include -Ilibraries/base/ -I/home/zhen/repos/ghc/_build/stage1/libraries/base/build/include -I/hom

[2018-03-18 11:20] izgzhen commented on #523
@chitrak7 thanks for your reply! I just `hadrian/build.sh clean` it before noticing your comment, and now the build is stuck similarly but for a different command:

[code]

[2018-03-18 11:31] chitrak7 commented on #523
Can you plaese run this command:
inplace/bin/ghc-stage1 -M -hisuf hi -osuf o -hcsuf hc -static -hide-all-packages -no-user-package-db '-this-unit-id integer-gmp-1.0.1.0' '-package-id ghc-prim-0.5.2.0' -i -i_build/stage1/libraries/integer-gmp -i_build/stage1/libraries/integer-gmp/build/autogen -ilibraries/integer-gmp/src/ -Iincludes -I_build/generated -I_build/stage1/libraries/integer-gmp -Ilibrari

[2018-03-18 11:33] izgzhen commented on #523
@chitrak7 same result:

[code]

[2018-03-18 11:34] izgzhen commented on #523
[code]

[2018-03-18 11:34] izgzhen commented on #523
I think we should include this as well...Err, bug is everywhere

[2018-03-18 11:35] chitrak7 commented on #523
-Ilibraries/integer-gmp//home/zhen/repos/ghc/_build/stage1/libraries/integer-gmp/build/include
Its already included, but wrongly.

[2018-03-18 11:48] chitrak7 commented on #523
@izgzhen odd, I replaced /zhen/repos to /chitrak in your command and ran it on my terminal. It worked. Are you sure you executed it from ghc and not hadrian?

[2018-03-18 11:50] izgzhen commented on #523
sure, otherwise the `inplace/bin/ghc-stage1` won't be found.

[2018-03-18 11:58] izgzhen commented on #523
@chitrak7 https://github.com/snowleopard/hadrian/blob/master/src/Settings/Builders/Common.hs#L33 this line should be the once producing the wrong `-I` as you mentioned above.

[2018-03-18 11:58] chitrak7 commented on #523
@izgzhen
Yeah! silly me :p. But I still believe the error is coming because of that inclusion only. All we need to do is add an additional path "_build/stage1/libraries/integer-gmp/build/include" to resolve this issue. I belive there is some typographical mistake here only. Can you retry by including this path as well, and removing the path "-Ilibraries/integer-gmp//home/zhen/repos/ghc/_build/stag

[2018-03-18 12:04] chitrak7 commented on #523
@izgzhen The issue is much deeper. Actually package-data.mk is supposed to keep these paths in the category INCLUDE_DEPS. But unfortunately, there one is relative and other absolute. Please refer to my earlier comment:
2) A discrepancy in INCLUDE_DIRS in package-data.mk
The file package-data.mk is supposed to give relative paths in category "INCLUDE_DIRS" while compiling a c file. This is evident

[2018-03-18 12:17] izgzhen commented on #523
Oh, I see why you patch looks like that. I am waiting for my build to finish with your patch. Thanks!

[2018-03-18 12:19] chitrak7 commented on #523
Hopefully my patch will give error with process or unix library. Do inform me about the result. Also, did the HsIntegerConfig.hs error resolve by updating commands?

[2018-03-18 12:32] izgzhen commented on #523
@chitrak7 My build stopped at `ftruncate or _chsize ` error. `HsIntegerConfig` is fine.

[2018-03-18 12:34] chitrak7 commented on #523
With process library?? Or unix library

[2018-03-18 12:35] izgzhen commented on #523
process library. I am trying out the change you described above now, wait a bit.

[2018-03-18 12:41] izgzhen commented on #523
@chitrak7

[code]

the diff I made is changing `-I/home/zhen/repos/ghc/_build/stage1/libraries/base/include` to `-I/home/zhen/repos/ghc/_build/stage1/libraries/base/build/include`

[2018-03-18 12:49] chitrak7 commented on #523
You will need to add -I/home/zhen/repos/ghc/_build/stage1/libraries/base/build too.
It is required for HsbaseConfig.hs

[2018-03-18 13:27] izgzhen commented on #523
it is true -- how can we generalize this solution?

[2018-03-18 13:31] chitrak7 commented on #523
We have to rewrite package-data.mk. We hahve to
1) Remove descrepancy in INCLUDE_DIRS
2) Remove bad directories from DEP_INCLUDE_DIRS
3) Add required directories to DEP_INCLUDE_DIRS.
Can you help me how to do this task?

[2018-03-18 13:38] izgzhen commented on #523
I’m not sure I know the solution but I guess it is related to how package-data.mk is formulated by Hadrian. I’ll take further look once I got some time ;)

[2018-03-19 12:16] snowleopard commented on #523
@izgzhen @chitrak7 Thank you for investigating this further -- I hope I'll soon find some time to join! Just wanted to quickly add that we have a function that post-processes `package-data` files that are generated by `ghc-cabal`:

https://github.com/snowleopard/hadrian/blob/master/src/Rules/PackageData.hs#L100-L117

Maybe this is what needs to be tweaked.

Note that this issue will likely be gone

[2018-03-19 12:58] angerman commented on #523
Yes. @alpmestan has a working variant of #445 that drops `ghc-cabal` only (read: a subset of #445). Maybe just try to focus on that, and rather improve that new PR instead of trying to beat on `ghc-cabal`?

[2018-03-19 14:15] angerman commented on #523
See PR #531.

[2018-03-19 14:37] int-index opened #532 "shell.nix depends on build artifacts"
**Steps to reproduce:**

1. `git clone --recursive git://git.haskell.org/ghc.git`
2. `cd ghc/hadrian`
3. `git pull https://github.com/snowleopard/hadrian && git checkout master`
4. `nix-shell --pure`

**Expected result:** Successful build.

**Actual result:**

[code]

Notice that the build fails for a library shipped with GHC. In `shell.nix` it's included as `localPackage`.

**Workaround**

First,

[2018-03-20 09:04] snowleopard commented on #532
Thanks @int-index!

Adding @mpickering.

[2018-03-20 09:06] mpickering commented on #532
I don't really know how to fix this. What does hadrian do about this? As in order to build hadrian, I was under the impression you needed to build certain libraries bundled with GHC?

[2018-03-20 09:18] alpmestan commented on #532
hadrian at the very least uses the `Cabal` that comes in the GHC source tree, the one that lives at `libraries/Cabal/Cabal`. So if you want to build a nix environment with `hadrian` compiled and ready to be used to develop GHC, you're always going to already build some of the code from the GHC source tree, and to rebuild hadrian when this code changes and you re-enter the environment/shell.

[2018-03-20 09:22] mpickering commented on #532
The problem is that from a fresh clone, you can't build the libraries in the source tree? You have to run ./boot first in order to generate from cabal files?

[2018-03-20 09:31] int-index commented on #532
Yes @mpickering, the problem is that `shell.nix` doesn't work on a fresh checkout.

An additional problem is that sometimes after doing some work in a nix shell, then exiting it, and entering again, all libraries in the GHC source tree and Hadrian get rebuilt. It's probably `nix` not being smart enough and considering build artifacts when computing the hashes — this would be solved if we had `srcd

[2018-03-20 09:40] int-index commented on #532
I don't understand why Hadrian is using libraries shipped with GHC to build itself, can't we use the ones from Hackage/nixpkgs?

[2018-03-20 09:48] mpickering commented on #532
Alp seems to imply that only `Cabal` is necessary to build from the source tree. Perhaps we could try that? I don't actually use hadrian to do my builds though..

[2018-03-20 09:53] int-index commented on #532
Does Hadrian need `Cabal` that is shipped with GHC specifically, or just a fresh enough Cabal that isn't on Hackage at the moment?

[2018-03-20 10:12] alpmestan commented on #532
Well, it needs a `Cabal` that can process _all_ the `.cabal` files from the GHC source tree. Using the very latest one guarantees that we won't have any problem there, but you might want to try using the latest released version and seeing how that goes?

[2018-03-20 10:24] int-index commented on #532
I won't be trying to do this any time soon, as I've got a `shell.nix`[1] that works fine for me with the old `make`-based build system.

[1] https://gist.github.com/int-index/244f1ea276afa7a611a3aff4edddd202

[2018-03-20 10:31] angerman commented on #532
In general you likely want to build hadrian with ateast the cabal that comes with the ghc you want to build. That is because cabal and ghc are sometimes developed in tandem.

The Make based buildsystem built ghc-cabal against the Cabal that came with ghc die precisely that reason.

[2018-03-20 13:47] alpmestan opened #534 "Document how to turn off dynamic linking"
Following up with Ben's request from [here](https://ghc.haskell.org/trac/ghc/ticket/10536#comment:8), I looked into how we can achieve the same thing with hadrian. If I'm not mistaken, all we have to do is set these two fields from the `Flavour` data type (and possibly a little more, `dynamicGhcPrograms` to false maybe?) as we please:

[code]

in the `UserSettings.hs` file to define a `dynamic`-le

[2018-03-20 23:53] snowleopard commented on #534
@alpmestan Do be honest I never looked dynamic linking in detail, so my understanding of this part of Hadrian is vert hazy. @izgzhen did some work on this as part of his project, perhaps, he could comment?

[2018-03-20 23:55] snowleopard commented on #534
Of course, no objections from me on improving documentation! That would be awesome :-)

If the solution you suggested works as intended, then by all means document it providing some examples for users.

[2018-03-21 03:22] izgzhen commented on #534
@alpmestan It is true that the `libraryWays` and `rtsWays` in `Flavour` is a proper way to users to turn on/off dynamic compilation, and it is useful to add more documentation as well. Thanks!

[2018-03-21 17:22] alpmestan commented on #534
Turns out most of what I had in mind is already explained in user-settings.md (I had not read it carefully before, I got most of that knowledge from looking at the code directly). PR at #535.

[2018-03-21 21:32] chitrak7 commented on #219
Hi @snowleopard @izgzhen.
I would like to help in completing this task. Can someone please give me a headstart on where to begin. Thanks.

[2018-03-22 00:03] alpmestan commented on #219
Regarding bindists: I wrote a preliminary binary distribution rule in #445 that I will soon adapt and submit in a pull request, once #531 is merged.

[2018-03-22 00:31] snowleopard commented on #219
@chitrak7 Thank you! It looks like there is already some progress with this. I suggest we come back to this issue when #531 and #445 are merged.

[2018-03-22 02:11] izgzhen commented on #219
@chitrak7 also, it looks like the `install` rules is temporarily disabled in #531, so it would be nice if you can talk with @alpmestan about fixing that part as well :)

[2018-03-22 02:28] angerman commented on #219
I don’t think we want to actually have “install” in hadrian. If you ship the binary distribution you want something portable that doesn’t require to build hadrian (or ship a fully static hadrian binary).

The linked PR puts everything in `stage1/{bin,lib}` and building the binary distribution ends up being a simple zip/tar archive of those two folders. By being relocatable for the major platforms

[2018-03-22 02:34] izgzhen commented on #219
@angerman I see, sounds good!

[2018-03-22 09:23] alpmestan commented on #219
@chitrak7 We can talk (IRC, email?) about what comes after #531 (the binary distribution rule, wrapper generation, etc). What I have is quite simple and doesn't cover _all_ cases, as I take advantage of the relocatability that comes with #531.

 Maybe I should put together a patch on top of #531 that adds the binary distribution generation logic, and we can see where you can take it from there (in

[2018-03-22 20:27] chitrak7 commented on #187
@alpmestan @snowleopard Hi,
I was looking at #531 and I believe that currently, we are giving fixed arguments to make command. WREF: Settings/Builders/RunTest.hs. I think that the above task could be achieved by looking cmdOptions for possible user command options an then implementing it, otherwise using the default arguments. Am I going in the right track to tackle this issue?

[2018-03-22 21:04] chitrak7 commented on #187
@snowleopard @izgzhen
Currently, a very elementary validate feature is added to Hadrian. A lot of features are supported by testsuite but we are not currently using any of them. Instead, we are using a set of default hardcoded flags. In the summers I plan to:
Implement support of command line flags like --VERBOSE, “fasttest” ,“slowtest” etc. [Expected 5 days to completely understand the code]
Add

[2018-03-22 21:51] chitrak7 commented on #197
Hi @snowleopard ,
Can you please give me an idea of more tests that we can perform.
Also, currently all tests are hardcoded, but I think we can introduce a bit of randomization to make the tests more effective.

[2018-03-22 22:22] chitrak7 commented on #476
@snowleopard I think this could be a nice addition to the list of deliverables in GSoC. Should I consider adding this as well to my proposal?

[2018-03-22 22:32] chitrak7 commented on #451
@izgzhen  @snowleopard
Can we move this warning to the existing file "Settings/Warnings.hs"? We can shift rtsWarnings from file Settings/Packages/Rts here as well.

[2018-03-22 22:34] chitrak7 commented on #463
@snowleopard @izgzhen deleting .sandbox file and then rerunning build works whenever I get this error. I believe this should be a good fix here.

[2018-03-23 00:33] snowleopard commented on #187
@chitrak7 Sounds good to me, but this should better be discussed with GHC developers. You'll need to learn most common GHC development workflows and design validation features accordingly.

[2018-03-23 00:34] snowleopard commented on #197
@chitrak7 We already use QuickCheck. What other randomisation do you have in mind?

[2018-03-23 00:35] snowleopard commented on #476
I'd say this is relatively low-priority.

[2018-03-23 00:36] snowleopard commented on #451
Yes, sounds good.

[2018-03-23 01:30] izgzhen commented on #463
related to #524

[2018-03-23 09:05] alpmestan commented on #534
The PR has been merged, closing this issue now.

[2018-03-23 09:05] #534 closed

[2018-03-23 16:56] chitrak7 commented on #219
Hi @snowleopard @alpmestan @izgzhen
PR #531 currently has implemented an elementary version of binary distribution. The current version ships contents of stage1 compilers “bin” and “libs” and some other files sufficient for installation. Although this is sufficient for ghc to work, few files may be missing. If I am not wrong, the future work in this issue can be summarised as:
1) Current “bindist”

[2018-03-23 17:57] alpmestan commented on #219
Just a small comment: the implementation is not in #531 but will come in a separate PR. For now it's just in a branch (based on #531): https://github.com/alpmestan/hadrian/compare/bye-ghc-cabal...alpmestan:alp/bindist

[2018-03-24 19:45] chitrak7 commented on #178
Hi @angerman, @snowleopard .
I stumbled upon this issue while checking ghc-quake milestone and I think that this is a necessary issue to be resolved. But I have limited information about cross-compilation and llvm. Can you please tell me where to start looking and how to address this issue.

[2018-03-24 23:49] snowleopard commented on #178
@chitrak7 I don't know whether this issue is still relevant. Let's see what @angerman thinks.

[2018-03-25 05:15] angerman commented on #178
This should pretty much work as is. The ceosscompilers on hackage.mobilehaskell.org are almost all llvmng based ones, and have been built with Hadrian (#445).

[2018-03-25 05:15] #178 closed

[2018-03-25 20:16] chitrak7 commented on #197
Eg: The rule testModuleName currently has hardcoded ‘Data.Functor.Identity“. We can instead pick up any Module Randomly and test for that.

[2018-03-25 20:27] snowleopard commented on #197
Right, I see.

I'd say this whole issue is fairly low priority. It's great to have thorough tests to help maintain Hadrian in the long term, but we still have a lot of work before Hadrian becomes the default build system for GHC.

[2018-03-25 21:10] chitrak7 commented on #197
@snowleopard Giving it 3-4 days in my proposal. My proposal currently aims at making Hadrian more robust by implementing good test coverage, both from test suite as well as internally.

[2018-03-25 22:00] chitrak7 commented on #472
@snowleopard Do we currently have any method to rebuild a single package and its dependencies?

[2018-03-25 22:04] chitrak7 opened #536 "Add more targets to Hadrian"
Make currently supports a few targets which I couldn't find in Hadrian. Implementation of a few are pretty simple I think they are "help", "distclean", "maintainer-clean", "fasttest", "slowtest" @snowleopard

[2018-03-26 02:04] izgzhen commented on #536
ping https://github.com/snowleopard/hadrian/issues/360

[2018-03-26 05:59] angerman commented on #472
With #531, you should be able to build single package by asking for the relevant `.conf` file.
E.g. `_build/stage1/lib/package.conf.d/base-...conf` I guess we could create shortcuts for those?

[2018-03-26 12:02] aspiwack opened #537 "Cannot fetch dependencies GHC 8.4 with stack+nix"
On a fresh clone of the tag `ghc-8.4.1-release` ( ghc/ghc@f31c40efdc918bc9da8a325327ba5a472bd6ea9e ), I performed the following:

[code]

It failed after downloading Nix dependencies with this message

[code]

Any suggestion of something I'm doing wrong?

For my purpose, I don't necessarily need to compile this particular version. I'm simply trying to setup a programming environment with ghcid, as

[2018-03-27 01:05] snowleopard commented on #537
@aspiwack I suspect GHC HEAD has a slightly out-of-date Hadrian. Can you try checking out the latest version from this repo? In any case, even if Hadrian compiles, it is unfortunately currently broken until we merge a mammoth PR #531.

[2018-03-27 01:31] snowleopard commented on #536
I agree, this seems like a duplicate of #360, so closing this. Let's revise/add more details to #360.

[2018-03-27 01:31] #536 closed

[2018-03-27 01:33] snowleopard commented on #472
@angerman Yep, I think we will want a shortcut, and perhaps also freeze unrelated parts of the tree?

[2018-03-27 02:03] angerman commented on #472
You'd want to generate those on the fly though. You'd not really want to hardcode them, otherwise this will be suprising to people adding addtional dependencies to ghc.

Iterating over the set of packages, filtering out for lirbary (and here it becomes tricky: in principle we can have multiple components per library, while this is something that's not used in ghc TODAY, we should strive to underst

[2018-03-27 21:57] snowleopard commented on #472
@angerman I think one could go even further: don't rebuild anything outside `$buildRoot/stage1/package`.

[2018-03-30 13:53] angerman opened #538 "Make rules generic (to reenable `-c` flag as well)."
As noted in [this comment](https://github.com/snowleopard/hadrian/pull/531#issuecomment-377258787), we currently generate specific rules for all known libraries. We would be better off to just build generic rules and then parse the details from the path.

That resolves on the one hand the need to know everything before hand to generate all specific rules, and I would expect this to also speedup th

[2018-03-30 14:36] snowleopard commented on #538
@angerman Awesome, thank you very much for recording your thoughts here.

[2018-03-30 15:19] alpmestan opened #539 "Restore wrapper (and install?) generation rules (conditionally?)"
With #531 we're getting relocatable GHC builds and we therefore won't need any sort of wrapper scripts like `inplace/bin/ghc-stage2` (when building with the make build system) in most situations (we won't need them on Linux, OS X and Windows).

Some OSes will probably still need/want them so it would therefore be nice if we could eventually revive the wrapper generation rules, and have them fire o

[2018-03-30 17:25] snowleopard commented on #539
@alpmestan Thank you! Can we list all files that need to be included in an installation build rule, if we decide to add it?

[2018-03-30 18:10] alpmestan commented on #539
@snowleopard Hmm, I don't have that list handy, but the current code for Wrappers.hs (see [here](https://github.com/snowleopard/hadrian/blob/7a5c384dc9cb8ae9d41c5203074d1e3a79bcca67/src/Rules/Install.hs#L18) for a time-proof link) has some comments that describe the things to be installed and even shows the logic that we could steal and just adapt to the changes we do in #531. Is that a good enoug

[2018-03-30 18:33] snowleopard opened #540 "Follow-up to #531"
Here is a list of things that I'd like to look at after #531 has been merged:
- [x] Try to break import loops by adding more `.Type` modules.
- [x] Work on #538 to fix `-c`.
- [x] Figure out where we can replace `buildDir` with `contextDir`.
- [x] Finish the `Settings/Packages.hs` story.
- [x] Move `ghctags` and `haddock`back to Stage2.
- [x] Clean up remaining `ghc-cabal` bits.
- [x] Clean up rem

[2018-03-30 18:36] snowleopard commented on #539
@alpmestan Yes, that's a good start. I just want to make this issue self-contained so that it could potentially be tackled by a newcomer.

[2018-03-30 18:41] snowleopard opened #541 "Fix CI"
We need to fix AppVeyor and CircleCI instances.

[2018-04-02 11:48] izgzhen opened #543 "ghc-pkg register failed with "already installed""
[code]

probably one of #540

[2018-04-02 11:51] izgzhen opened #544 "clean up warnings"
as of https://github.com/snowleopard/hadrian/commit/9a46249e974c99a2015d7bba514b252c31ff8575

[code]

[2018-04-02 11:53] snowleopard commented on #544
Thanks, I think I've already done this in a local branch. Will push it later today.

[2018-04-02 12:02] izgzhen opened #545 "cmd failed but stdin is missing from debugging info"
For example, the #543 probably failed between the following line

https://github.com/snowleopard/hadrian/blob/9a46249e974c99a2015d7bba514b252c31ff8575/src/Builder.hs#L259-L266

You would see a `-` at the end of `Command: /usr/local/bin/ghc-pkg --global-package-db _build/stage0/lib/package.conf.d register -v0 -`, but this isn't complete since some stdin need be fed into the command line in order to

[2018-04-02 12:09] izgzhen commented on #543
there are current two solutions as I see:

1. try to `unregister` and then `register`
2. try to `register`
3. `register` if we can say it is safe (through `describe` or `latest` subcommands).

The `try to` here means a fallible `cmd` action (@snowleopard BTW, how to retrieve the exit code without aborting?).

[2018-04-02 12:18] snowleopard commented on #543
I think we can get the exit code using this:

https://hackage.haskell.org/package/shake-0.16.3/docs/Development-Shake.html#t:Exit

[2018-04-02 12:21] izgzhen commented on #543
@snowleopard Thanks! also, I am curious if there is any existing case of "if A failed then run B" in hadrian's code base?

[2018-04-02 12:29] izgzhen commented on #543
it looks like a "no":

[code]

[2018-04-02 12:30] snowleopard commented on #543
Indeed, there are no cases like this. I'm interested what @ndmitchell thinks about this.

[2018-04-02 12:34] izgzhen opened #546 "Rename GhcPkgMode::Clone to GhcPkgMode::Register?"
@alpmestan I am curious why it is called `Clone`, since the sub-command it uses is `register`.

thanks!

[2018-04-02 13:05] izgzhen commented on #543
Looks like the solution 3 also requires a "try-to" mechanism, since running `latest` or `describe` on non-existing package will throw as well...

[2018-04-02 13:09] snowleopard commented on #543
@izgzhen We didn't have to deal with this previously. Why do we need now? What has changed?

[2018-04-02 13:13] alpmestan commented on #546
@izgzhen IIRC this particular builder is used for "cloning" the package database of the stage 0 compiler (copying it somewhere under our build root). @angerman Do I remember correctly?

[2018-04-02 13:21] izgzhen commented on #543
[code]

[2018-04-02 13:35] angerman commented on #543
Yes. This is new. We now build properly populated package databases that can stand on their own. (An alternative approach would be package db chaining).

Quickfix: pass `--force` to register.  I'm not sure this is the *right* solution though under all circumstances.

What we do, is we query the bootstrap compilers package database for the relevant package, and then clone it (ghc-pkg dump + ghc-pkg

[2018-04-02 13:36] izgzhen commented on #543
this doesn't work for me :(

[2018-04-02 15:01] angerman commented on #546
@alpmestan that is correct. Clone is `dump` + `register`.

[2018-04-02 15:02] angerman commented on #543
@izgzhen so, adding `--force` to `/usr/local/bin/ghc-pkg --global-package-db _build/stage0/lib/package.conf.d register -v0 ` does not work? Alright, I guess we could *check* if the .conf file exists, and just not try to clone if it does.

[2018-04-02 15:05] angerman commented on #545
@izgzhen so you want to *dump* `Stdin` to the console if the command failed? Am I understanding this right? If so, what would probably be something that needs to be addressed in Shake's `cmd`?

[2018-04-02 15:06] angerman commented on #546
I should note: I mean `describe` if I say `dump` :(

[2018-04-03 00:29] snowleopard commented on #384
@alpmestan @angerman You commented out `cleanSourceTree` here:

https://github.com/snowleopard/hadrian/blob/master/src/Rules/SourceDist.hs#L15

Are you sure we no longer need to clean the source tree before creating a source distribution? If yes, I'll simply remove this function (and close this issue).

[2018-04-03 00:34] snowleopard opened #548 "Get rid of deprecated functions in Hadrian.Haskell.Cabal.Parse"
We currently use some deprecated functions, e.g. `externalPackageDeps`:

https://hackage.haskell.org/package/Cabal-2.2.0.1/docs/Distribution-Simple-LocalBuildInfo.html#v:externalPackageDeps

I temporarily added `-Wno-deprecations` to silent the warnings.

I already fixed one warning by switching from `finalizePackageDescription` to `finalizePD`. The rest shouldn't be difficult either.

[2018-04-03 00:40] snowleopard opened #549 "Do we need stripCmdPath?"
@izgzhen @angerman @alpmestan I've removed unused `stripCmdPath`:

[code]

Is this the right thing to do? There is the following comment in `Settings.Builders.GhcCabal`:

[code]

[2018-04-03 01:01] snowleopard opened #550 "Cache package metadata parsing"
When I run Hadrian on my machine, the first minute or so is spent on parsing Cabal files:

[code]

This used to be cached in `package-data.mk` files substantially speeding up subsequent builds, but now this seems to be a constant cost for any build, unless I'm mistaken.

(The build soon fails on my machine due to an unrelated issue, so I can't try a zero build, but I assume there is no caching at

[2018-04-03 01:44] angerman opened #551 "Load all of GHC in GHCi"
As raised by @nomeata on [ghc-devs](https://mail.haskell.org/pipermail/ghc-devs/2018-April/015567.html), it would be nice if Hadrian had a rule to load all of GHC into GHCi.

[2018-04-03 02:08] izgzhen commented on #543
there are actually two possibilities:

1. `[pkg-id].conf` doesn't exist AND `register` failed with `id already exist`. This will happen if the `[pkg-id].conf` is deleted manually.
2. `[pkg-id].conf` exists and `id already exists` is thrown.

Both cases need us to `unregister` first.

[2018-04-03 02:33] izgzhen commented on #549
`stripCmdPath` was previously used in `install` by `GhcCabal`.

[2018-04-03 02:35] izgzhen commented on #549
I suggest let's keep this issue open and delete the dead code for now

[2018-04-03 02:46] izgzhen commented on #546
It makes sense, thanks!

[2018-04-03 02:46] #546 closed

[2018-04-03 02:58] izgzhen commented on #545
I think we can address it either in Shake or in this repo (by getting `Exit` out).

[2018-04-03 03:45] izgzhen commented on #541
let me try to fix the CircleCI

[2018-04-03 08:44] alpmestan commented on #550
@snowleopard I think both of us were hoping there was caching going on here. Maybe it happens within a build but not accross builds? I'm really not sure -- the oracle system comes with caching no? So if we ask twice for the Cabal data of a package, hadrian will only hit the `.cabal` file once, the first time, right?

(I'm talking about these oracles: https://github.com/snowleopard/hadrian/blob/mas

[2018-04-03 08:45] snowleopard commented on #544
This should now be fixed (#547).

[2018-04-03 08:45] #544 closed

[2018-04-03 08:48] snowleopard commented on #550
@alpmestan I think the `newCache` combinator only caches computations within a single build.

I remember that Shake now provides some new/nicer infrastructure for storing arbitrary information in the Shake database. @ndmitchell Could you give a pointer?

[2018-04-03 08:49] snowleopard commented on #549
@izgzhen Thanks, agreed!

[2018-04-03 09:19] alpmestan commented on #384
I'm not 100% sure. In particular, we probably want to exclude the build root, in case it's somewhere in ghc's source tree (and I quite often do that, I often run hadrian from the root of ghc's source tree, doing something like `hadrian [...] --build-root=_something`, ending up with a bunch of `_`-prefixed directories at the top of GHC's tree, with different (by the flavour or some other criterion)

[2018-04-03 09:55] izgzhen opened #554 "CI failure: can't find include file rts/fs.h"
[code]

https://travis-ci.org/snowleopard/hadrian/jobs/361477751

https://travis-ci.org/snowleopard/hadrian/jobs/361477747

please leave a word if you are looking into this bug, thanks!

[2018-04-03 11:37] snowleopard commented on #384
@alpmestan I'd say that until we are 100% sure, we should keep invoking something like `cleanSourceTree`. It doesn't cost much but can save maintainers some time. Hence I brought it back.

Perhaps the current implementation of `cleanSourceTree` can be improved? I don't have a strong opinion on how it should be implemented, but we can keep this issue open to discuss. Perhaps @bgamari, who opened th

[2018-04-03 12:35] ndmitchell commented on #545
I created a Shake issue https://github.com/ndmitchell/shake/issues/577

[2018-04-03 13:15] snowleopard commented on #554
I haven't yet looked at this but I have a feeling that this is caused by a missing dependency on `fs.h`.

These files are copied since #533.

Also, this code may be relevant:

https://github.com/snowleopard/hadrian/blob/3a68f11c9d6ceebdb09f85804143dd2f1d49a502/src/Rules/Compile.hs#L38-L58

Or not :)

[2018-04-03 13:26] snowleopard commented on #550
(A side note: after thinking about such across-build caching: I think the ability to support 'virtual' cached build artefacts is what distinguishes traditional build systems from [self-adjusting computations](http://www.umut-acar.org/publications-by-topic#TOC-Self-Adjusting-Computation).)

[2018-04-03 13:32] ndmitchell commented on #550
Why not persist it in a real file? Storing it in the Shake DB means Shake has to cache it in memory (not necessarily desirable) and means that it's harder to debug. Shake could easily implement something that cached persistently, but it hasn't yet.

[2018-04-03 13:33] #543 closed

[2018-04-03 13:35] snowleopard commented on #550
@ndmitchell It's not too difficult to store it by ourselves, but it seems that coming up with a filename, parsing and serialisation is unnecessary complexity that can be delegated to a build system.

[2018-04-03 14:26] snowleopard commented on #550
I thought we could have a combination of `newCache` and `askOracle`:
[code]
Now we could instantiate this with `q = Package` and `a = PackageMetadata`, and cache the existing function `parseCabal :: Package -> Action PackageMetadata` in Shake's database.

With this approach we don't need to invent a name for an intermediate file, and we don't need to parse or serialise `PackageMetadata`.

[2018-04-03 15:24] alpmestan opened #556 "Does hadrian support the equivalent of: make STAGE=1 TEST="A B C" ?"
i.e running some tests against the stage1 compiler (`<build root>/stage0/bin/ghc`). Simon PJ expressed interest in having hadrian support this, and I'm not sure the current validate/test rules support it. Does it? If not, I'll add this issue to my TODO :-)

[2018-04-03 15:46] ndmitchell commented on #550
`Package` is the name for the intermediate keys that you just invented... Certainly no reason this couldn't be implemented in Shake, and moreover you can implement it yourself on the outside of Shake, but it isn't baked in yet.

[2018-04-03 15:51] snowleopard commented on #550
Yep, we should give this a try. Is this the right starting point?

https://hackage.haskell.org/package/shake-0.16.3/docs/Development-Shake-Rule.html

[2018-04-03 16:00] snowleopard commented on #556
@alpmestan Yes, sure, we will need to support existing flags for testsuite. I think this is the existing issue

https://github.com/snowleopard/hadrian/issues/187

If it's incomplete, please add a comment there.

[2018-04-04 08:48] alpmestan commented on #538
@snowleopard Would you be okay with defining simple parsers for this using `parsec`, given that it's now a dependency of `Cabal` and is therefore already a (transitive) dependency ?

[2018-04-04 11:48] alpmestan commented on #538
@snowleopard I was actually just speaking about `parsec` itself, not Cabal's parsers. We don't need something terribly fancy, and we do have to map things to our own types anyway (`Way`, `Stage`, `Package`, `Context` and so on)

[2018-04-04 11:56] snowleopard commented on #538
Ah, I see. Well, depending on one more GHC library seems like an unnecessary high cost, both complexity wise and compilation time wise -- there are two dozen extra modules to compile!

If all we want is to parse `${root}/${stage}/lib/${pkgId}/libHS${pkgId}${waySuffix}.a`, then [splitPath](https://hackage.haskell.org/package/filepath-1.4.2/docs/System-FilePath-Posix.html#v:splitPath) and [stripPref

[2018-04-04 11:58] alpmestan commented on #538
Well, we already depend on Cabal, so we already build parsec whenever we build hadrian now. If you however still would like to avoid the complexity, I'll do without parsec, using something like what you suggest.

[2018-04-04 12:05] snowleopard commented on #538
@alpmestan Ah, indeed -- that's a good point. So, you are saying that the cost of using `parsec` is actually zero? We already transitively depend on it, and we already build it. In this case, let's give `parsec` a try 👍

[2018-04-04 12:08] alpmestan commented on #538
@snowleopard Exactly, the cost is zero, but the usability/readability of the code will be greater IMO. I'm preparing a proof-of-concept patch with parsec that pretty much parses the `Context` out of filepaths, at least just for `

[2018-04-04 12:16] snowleopard commented on #538
@alpmestan Thanks, sounds good! Sorry for being slow today :)

[2018-04-04 15:25] ndmitchell commented on #550
@snowleopard I decided to do this myself in Shake, so just wait for the next release...

[2018-04-04 15:44] snowleopard commented on #550
@ndmitchell Cool, thank you!

[2018-04-04 16:11] ndmitchell commented on #550
Just pushed, see `addOracleCache`. I guess you need a release to actually use it?

[2018-04-04 16:19] snowleopard commented on #550
That was fast! :) Yes, I think a release would be more convenient. But we could start playing with the new feature locally pointing Stack to Shake's HEAD, so it's not too urgent.

[2018-04-04 19:43] ndmitchell commented on #550
0.16.4 released with `addOracleCache`.

[2018-04-04 21:02] snowleopard commented on #550
Awesome, that makes this issue easy :)

[2018-04-05 12:42] alpmestan commented on #538
@snowleopard @angerman I have a WIP branch at https://github.com/snowleopard/hadrian/compare/master...alpmestan:generic-library-rules that implements Moritz's suggestion. I still seem to be able to build a GHC just fine if I run the `./boot && ./configure` step myself explicitly, but not if I start from a clean source tree and run hadrian with `-c`. The error is:

[code]

(the first few lines come

[2018-04-05 16:32] izgzhen commented on #538
@alpmestan regarding the `-c` failure above, I noticed this when I was debugging the Circle CI error, and it appears even in the `selftest` target. I don't know much else though...

[2018-04-07 08:38] izgzhen commented on #318
I believed that this could be closed now?

[2018-04-07 08:39] izgzhen commented on #327
also this could be closed now?

[2018-04-07 09:30] izgzhen commented on #554
HACK: `mkdir rts/rts; cp rts/fs* rts/rts`

[2018-04-07 09:39] izgzhen opened #559 "Using NUMA requires -lnuma to be passed to GHC"
[code]

[2018-04-07 09:39] izgzhen commented on #554
failed with another (probably unrelated) bug: https://github.com/snowleopard/hadrian/issues/559

[2018-04-07 09:41] izgzhen commented on #554
@Mistuke @snowleopard any idea on how to understand the HACK and fit it in our code?

[2018-04-07 10:49] Mistuke commented on #554
I don't quite understand why those includes are treated differently than the others. They're copied in tree way before any dependency analysis is done. But we probably don't need to install them anyway. Try in the GHC checkout removing `https://github.com/ghc/ghc/blob/master/rts/rts.cabal.in#L132` and the next line.

Note that it's not the building that fails, it's the package installing phase.

I

[2018-04-07 10:50] snowleopard commented on #318
Yes, looks like this has been resolved!

[2018-04-07 10:50] #318 closed

[2018-04-07 10:51] snowleopard commented on #327
Indeed!

[2018-04-07 10:51] #327 closed

[2018-04-07 14:55] snowleopard commented on #554
I am with @Mistuke here: I don't quite understand why `fs` headers are causing issues.

But I'm getting more convinced that I'm right in suspecting that `needDependencies` is key here. These headers are different from others because they are generated and `needDependencies` might be unable to discover them.

I'll try to have a look at this issue tonight.

[2018-04-08 07:37] alpmestan commented on #219
Since #558 we have a binary distribution rule.

[2018-04-08 12:49] izgzhen commented on #554
@Mistuke

I tried and it worked.

[2018-04-08 13:04] izgzhen commented on #559
adding `-lnuma` to `ghc` will fix

[2018-04-08 13:27] snowleopard commented on #559
@izgzhen Thanks! I didn't find any `-lnuma` flag in the Make build system though.

[2018-04-08 13:38] izgzhen commented on #559
@snowleopard true, and I don't know why Make doesn't need this...

[2018-04-08 13:39] izgzhen commented on #559
and `./build.sh --flavour=quickest --integer-simple  -j` can finally work with the HACKs in #554 and this issue.

[2018-04-08 23:51] snowleopard commented on #219
@alpmestan Yes, I think we should close this issue as soon as we fix Hadrian and test the binary distribution rule on all platforms.

[2018-04-09 00:40] snowleopard opened #562 "Windows failure: copyFile: invalid argument"
After #561, we can start building GHC on Windows (both on AppVeyor and on my machine), but we quickly hit the following error:
[code]

See https://ci.appveyor.com/project/snowleopard/hadrian

I don't think I've seen such failure before.

[2018-04-09 07:55] alpmestan commented on #562
Do you know which call to `copyFile` is failing?

[2018-04-09 07:56] alpmestan commented on #219
Yes, I didn't mean to comment to say "let's close this", just a status update. I also think it would perhaps make sense to leave it open until the bindist rule and the accompanying `Makefile` become a little more feature complete (compared to the current bindist rules in the make build system).

[2018-04-09 11:18] snowleopard commented on #562
@alpmestan No, I haven't yet figured out which `copyFile` is to blame.

[2018-04-09 12:10] ndmitchell commented on #562
Isn't it one coming from `_build/stage0/lib/package.conf.d/ghc-boot-th-8.5.conf` - which is what the Shake stack trace says?

[2018-04-10 00:43] snowleopard commented on #562
@ndmitchell Got it now. The error was coming from Cabal's `defaultMainWithHooksNoReadArgs` :-S

By the way, for some reason, I'm still getting confused when I see a Shake error trace -- my first reaction is usually *"Shall I read it from top to bottom or vice versa?"*. I don't think there is anything wrong with how trace is printed, it's probably just me.

[2018-04-10 02:24] snowleopard opened #564 "Fix Windows build without --enable-distro-toolchain"
**UPDATE:** I fixed the issue below by passing `--enable-distro-toolchain` to `configure`: #565. We need to make it possible to build Hadrian without `--enable-distro-toolchain`, but this has lower priority.

----

Now hitting this error on Windows:
[code]

[2018-04-10 02:25] snowleopard commented on #562
Fixed, now getting this: #564

[2018-04-10 02:25] #562 closed

[2018-04-10 06:41] ndmitchell commented on #562
Agreed - I have the same reaction. I think it has to put the exception at the bottom (as it may be unbounded), and therefore it has to be in that order. What format/words do you think would clarify it? "Starting at" and "depends on"?

[2018-04-10 20:00] snowleopard commented on #564
The error is thrown from here:

https://github.com/snowleopard/hadrian/blob/master/src/Hadrian/Haskell/Cabal/Parse.hs#L158

@alpmestan @angerman Any ideas how to fix this? Somehow, the path to `gcc` is wrong on Windows and is equal to `C:\msys\home\nam83\ghc\_build\stage0\lib/../mingw/bin/gcc.exe` on my machine.

Here is the list of arguments passed to `defaultMainWithHooksNoReadArgs`:

[code]

[2018-04-11 08:14] alpmestan commented on #564
@snowleopard Hmmm... I'm really confused. Given those 2 options from `argList`:
[code]

which seem just fine... why/how do we end up with `C:\msys\home\nam83\ghc\_build\stage0\lib/../mingw/bin/gcc.exe` ?

[2018-04-11 11:02] snowleopard commented on #564
@alpmestan Yes, the path in `argList` is correct. I have no idea where the incorrect one comes from :(

Could this be responsible: `"--prefix", "${pkgroot}/.."? It has got a `..` in it...

[2018-04-11 11:18] alpmestan commented on #564
Hmm, maybe? Sounds a bit odd though, why would the install path (`--prefix`) get mixed with the path to the C compiler, with the latter being truncated to its last 3 path components? I'm quite puzzled. Do we get any more useful information if you add `"-v3"` somewhere in the arguments to [the Cabal command](https://github.com/snowleopard/hadrian/blob/master/src/Hadrian/Haskell/Cabal/Parse.hs#L159)

[2018-04-11 11:50] snowleopard commented on #564
@alpmestan Thanks for the suggestion to try `-v3`! I think this helps to understand the problem. Here is the final line of the verbose output:
[code]
As you can see we are calling Stage1 GHC that we built, and I think it's got an incorrect built-it path to GCC. So, the real issue is that Stage1 GHC is broken -- it cannot compile C files.

[2018-04-11 11:53] snowleopard commented on #564
Just confirmed:
[code]

[2018-04-11 14:02] alpmestan commented on #564
@snowleopard Could you share the contents of your `hadrian/cfg/system.cfg` (to see what `./configure` filled the template with) ?

[2018-04-11 14:09] alpmestan commented on #564
And maybe the output of `_build\stage0\bin\ghc --info` while you're at it?

[2018-04-11 16:25] snowleopard commented on #564
@alpmestan Sure!

Configuration:
[code]

GHC info:
[code]

As you can see, we have lots of incorrect paths there, including the cause of this issue:
[code]

[2018-04-11 16:26] snowleopard commented on #564
The configuration path on the other hand is correct:
[code]

[2018-04-11 18:48] snowleopard commented on #564
Here is also the top-level `settings` file:
[code]
Note this line: `("C compiler command", "$topdir/../mingw/bin/gcc.exe")`.

[2018-04-11 19:10] snowleopard commented on #564
I think I figured out the problem: when GHC was built in the `inplace` directory, it used the bundled `gcc` from `inplace/mingw/bin`. Now that we moved GHC binaries to `_build/stageN/bin` it can no longer locate the bundled `gcc` using the `"$topdir/../mingw/bin/gcc.exe"` recipe.

[2018-04-11 19:49] alpmestan commented on #564
Hmm... That sounds like a very plausible explanation. In `settings.in` I can see:

[code]

so... should we augment the logic that produces that value, to cover the case where we don't build inplace? I'm not sure what the additional logic should do though. The current one is implemented in `aclocal.m4`:

[code]

I'm not entirely sure how we can say "use the C toolchain at `<root of ghc source tree>

[2018-04-11 19:52] alpmestan commented on #564
Oh, I see you're trying to use the "enable the distro toolchain" knob, that should be even simpler =)

[2018-04-11 19:52] snowleopard commented on #564
@alpmestan Yep, let's see if it works :) Currently building on my machine too.

[2018-04-11 20:48] snowleopard commented on #564
Ha, it worked! We now hit the `_build/stage1/lib/package.conf.d/rts-1.0.conf` issue on AppVeyor :)

[2018-04-11 21:28] snowleopard commented on #564
Thanks to @Mistuke for implementing `--enable-distro-toolchain` in https://phabricator.haskell.org/D3637!

[2018-04-11 22:53] Mistuke commented on #564
@snowleopard you're correct in that the issue is happening because of the layout change. [SysTools](https://github.com/ghc/ghc/blob/152055a19cf368439c8450040b68142f8e7d0346/compiler/main/SysTools/BaseDir.hs#L98) has a hard assumption about the layout of GHC's binaries.

In particular it assumes:

[code]

But now the layout is different, not just for the build but in the resulting tarball if you we

[2018-04-11 23:12] snowleopard commented on #564
@Mistuke No, I haven't thought of this and I don't think I have enough knowledge to make the right call. Could you please advise?

Naively I'd suggest something along the lines @alpmestan mentioned: simply copy `mingw` from `inplace` into the build directory, but your comment suggests that this may be not the best solution. What are the alternatives?

[2018-04-11 23:48] snowleopard commented on #564
Great, thanks @Mistuke!

[2018-04-12 01:30] snowleopard opened #567 "Windows failure: libCffi.a not found"
After #566, Windows build fails with a new `copyFile` error caused by the fact that on Windows the FFI library is called `libCffi-6` instead of `libCffi`.

I've made the following change on my machine and this seems to work:
[code]
@angerman Does this look right to you? Shall I send a patch to GHC?

[2018-04-12 01:35] snowleopard commented on #554
I've added a workaround to fix the `fs*.h` issue: #566:

[code]

The right way to fix this could be to add `fs*.h` files to `includes/rts` which is scanned by Cabal `copy`.

@izgzhen @Mistuke What do you think?

In the meanwhile, the current workaround works, so I'm lowering the priority of this issue.

[2018-04-12 02:02] izgzhen commented on #554
looks good!

[2018-04-12 02:08] Mistuke commented on #554
Yes that's good, though looking at it again. I probably don't care about
having these installed. As the user can't use them easily anyway since they
need to know the right name space. I will commit a change removing these
from install once I get home.

Sorry for the extra work.

On Thu, Apr 12, 2018, 03:02 Zhen Zhang <notifications@github.com> wrote:

[2018-04-12 03:09] Mistuke commented on #554
Commit 111556f9e809962a91666c99d96cf80db361ee32 removes these files from `install-includes`

[2018-04-12 06:54] Mistuke commented on #554
Actually I've had to revert this, now I remember why they were there to begin with. The reach-ability analysis forces them to be. Because they're reachable from an exported header. This is all very annoying.

The exported headers are not useful. In fact you can't even call them so moving them to `include` would be a mistake I think. I think I know a fix that would work both for the testsuite and m

[2018-04-12 19:54] snowleopard commented on #567
Encouraged by @alpmestan's thumbs up, I sent a patch: https://phabricator.haskell.org/D4590 :)

[2018-04-12 20:04] Mistuke commented on #554
*sigh* well that's annoying. the CI failure was unrelated. I put up https://phabricator.haskell.org/D4591 for review to run it through the mac osx builder. if it's green I'll push the removal again.

Sorry for the delay.

[2018-04-12 20:44] Mistuke commented on #554
https://github.com/ghc/ghc/commit/5417c68977db2f2c2c1ce3b8b19ac1f540df471c done. the CI was clean so the failure was unrelated. You should be able to remove the work-around @snowleopard

[2018-04-12 21:16] Mistuke commented on #564
hmm trying to build the tree to take a look but I keep getting

[code]

seen this before?

In any case,

This is fine for the final distribution layout. All you need is for the `mingw` folder to be next to `bin`. The current system packs them as:

[code]

so with this layout everything should work.

Now back to building, the problem is that `--enable-distro-toolchain` creates non-relocatable build

[2018-04-12 21:50] snowleopard commented on #554
@Mistuke Great! I'll remove my workaround and will close this today.

[2018-04-12 22:04] snowleopard commented on #564
@Mistuke Thanks! I haven't seen the `template-haskell` failure yet.

I think I'd prefer to automate this in Hadrian -- copy the directory or directly unpack the tarball in the right place. There are two reasons: 1) build root is configurable in Hadrian, so there may be several of them, and 2) I don't want to scare away potential Hadrian users by adding another potential obstacle, however minor.

W

[2018-04-12 22:15] Mistuke commented on #564
I wouldn't unpack the tarballs yourself, as we do some modification to the files after unpacking. like copy the gcc stub in, rename the old gcc etc.

Copying the unpacked directory is fine, though you'll have to do it after configure. So probably at build start time? And you'll end up taking twice the memory. Moving may be a better option especially if it's on the same disk, but there of course if

[2018-04-12 22:35] snowleopard commented on #564
I think the correct order will be enforced using dependencies.

Copying does seem inefficient and a bit annoying. Especially, since most GHC devs probably don't care about a relocatable build... Perhaps, this could be optional?

Anyway, let me actually measure how much time it takes. Perhaps, we are trying to save a second :)

[2018-04-12 23:53] snowleopard commented on #564
@Mistuke Oh, I just realised that we actually need two copies: `stage0/mingw` and `stage1/mingw`... So, all previously discussed options don't look good any more!

[2018-04-13 00:35] snowleopard commented on #554
Done in the above commit. I think we can close this now.

[2018-04-13 00:35] #554 closed

[2018-04-13 11:56] alpmestan commented on #564
So what are our options? Given the platforms we need to support.

[2018-04-13 12:00] alpmestan commented on #567
In spirit this is definitely the right thing to do, and we should expect more and more changes to `rts.cabal.in` because with Hadrian using `Cabal` directly, we need to have the cabal file reflect exactly what's produced, unlike with the Make build system which just does a bit of magic internally to produce all the libraries with all the suitable flavours. We just need to make sure with @Mistuke t

[2018-04-13 12:07] snowleopard commented on #564
@alpmestan Maybe the copying of `mingw` should only be done by the `install` rule/script. Most GHC devs don't care about relocatable builds -- they just want to build GHC and validate it.

[2018-04-13 12:07] Mistuke commented on #564
@snowleopard No you just need one. We can change `SysTools` to walk higher up the chain one more directory to try and find the `mingw` folder. Allowing you to be able to place it next to the `stageN` folders instead of inside them.

[2018-04-13 12:09] Mistuke commented on #564
@snowleopard sure, but if you don't produce a relocatable build, it means you have to modify the `settings` file in the `install` rule to make it `relocate-able` again. But then it may get out of sync with the one `configure` outputs. Or you have to rerun configure to get a relocatable settings file.

[2018-04-13 12:12] snowleopard commented on #567
@alpmestan Yes, I'm sure this can be improved further. This seems to be a good first step, as it allows us to have a working Windows build, without adding any special magic to Hadrian.

[2018-04-13 12:14] snowleopard commented on #564
@Mistuke Aha, this sounds like a good compromise. Could you do this change?

Then, I presume, the `install` rule will simply copy the `mingw` folder inside `stageN`. At this point we probably don't care too much about duplication.

[2018-04-13 13:00] alpmestan commented on #564
I think I can give it a shot, will ping @Mistuke if I run into trouble.

[2018-04-13 13:08] snowleopard commented on #564
Thanks @alpmestan!

[2018-04-13 13:11] snowleopard commented on #567
[The patch](https://phabricator.haskell.org/D4590) has been accepted and @Mistuke added detailed comments, copied below for future reference:

[2018-04-13 13:11] Mistuke commented on #564
We don't actually do install usually I think. But you can easily optimize this by having the binary-dist rule compress the `mingw` folder in the write place at compression them. So you don't have any duplication.

Unless I'm mistaken and @bgamari can correct me on this. We usually always compress and then decompress the tarball for testing. So we don't have a direct install rule from stage2.

[2018-04-13 16:35] alpmestan commented on #564
@Mistuke @snowleopard How does this look: https://github.com/alpmestan/ghc/commit/f429ee8ed0ed72983372beda638f3de467bacd20 ? Andrey, could you perhaps try out this patch? I intend to give it a spin in a Windows VM as soon as I can but I have to run away from my laptop now.

[2018-04-13 16:45] alpmestan commented on #564
To be clear, this would require `hadrian` to place mingw/perl under `<build root>/{mingw, perl}`, except in the bindists I suppose.

[2018-04-13 17:06] Mistuke commented on #564
Thanks Alp! I've added some feedback.

On Fri, Apr 13, 2018, 17:45 Alp Mestanogullari <notifications@github.com>
wrote:

[2018-04-13 22:53] snowleopard commented on #567
I think this issue can now be closed.

[2018-04-13 22:53] #567 closed

[2018-04-16 00:39] snowleopard opened #569 "Lint error: incorrect handling of configuration files"
After #568, the Linux build succeeds but reports the following lint error. Should be an easy fix.

[code]

[2018-04-16 01:12] snowleopard opened #570 "Touchy missing on Windows"
After #568 we have a new Windows-specific failure:

[code]

Looks like in #531 `touchy` was relocated to the `bin` directory. I guess we should bring it back to `lib/bin`.

[2018-04-16 01:14] snowleopard commented on #564
@alpmestan Thank you, this looks good to me!

Shall we also do anything about the last occurrence of `$topdir` in `$topdir/bin/touchy.exe`? See #570.

[2018-04-16 07:42] angerman commented on #570
I'd rather argue that we should locate `touchy.exe` in `bin` rather than `lib`.

[2018-04-16 08:06] alpmestan commented on #564
Oh, I didn't change this one but please do let me know if you'd like me to change how the path to `touchy` is determined in the same patch. Judging from the comments in #570 though, it's not obvious to me whether the problem is in hadrian or in `settings.in`. Could you share your thoughts on how you think we should fix `touchy` and whether it should go in my patch mentionned above, in case we need

[2018-04-16 08:48] alpmestan commented on #564
Got a diff up on phabricator at https://phabricator.haskell.org/D4598 -- feedback/review welcome (if/once the build passes).

[2018-04-16 09:54] snowleopard commented on #570
@angerman I agree, but this requires changes to GHC.

In the meantime I suggest we follow what GHC does. It looks a bit inconvenient but not a big deal.

[2018-04-16 10:02] snowleopard commented on #564
Thanks @alpmestan! Hope it will soon be accepted.

I think relocating `touchy` belongs to a separate patch, because it feels like an unrelated problem.

[2018-04-16 10:07] alpmestan commented on #570
@snowleopard We don't put our binaries under `.../lib/bin` anymore though with our relocatable builds. Do you see a good reason why we should _not_ put `touchy` right next to the `ghc` binaries that'll use it, under `<build root>/stage<N>/bin`?

[2018-04-16 10:37] angerman commented on #570
(Sorry, I've been mostly offline last week).

So it looks like it would be a required change to the `aclocal.m4` file, to change the `touchy` path if we are building with hadrian? Wasn't there some discussion about adding `--hadrian` to `configure`?

Alternatively, we could patch the `lib/settings` file in hadrian, after building `ghc`.

[2018-04-16 10:44] alpmestan commented on #564
Sounds good to me. GHC HEAD is however broken at the moment so CI errors out on something completely unrelated. And the diff won't be reviewable/mergeable until CI passes IIRC.

[2018-04-16 10:45] snowleopard commented on #570
I don't, but people who chose `lib` might... I'm not the one who will be reviewing this patch to GHC.

[2018-04-16 10:47] Mistuke commented on #564
You can pick a working build hash from my CI and rebase to that
https://github.com/Mistuke/GhcWindowsBuild/commits/master

You can also manually request a review at the bottom which will take the
issue out of draft. However I'd like to see CI build before I accept it.
Codewise it looks fine though.

On Mon, Apr 16, 2018, 11:44 Alp Mestanogullari <notifications@github.com>
wrote:

[2018-04-16 11:16] alpmestan commented on #564
Yeah, me too! =)

[2018-04-16 19:09] snowleopard opened #573 "Rule for libHSghc-8.5-0.a does not exist on Windows"
After #572, we have yet a new failure on AppVeyor:
[code]

[2018-04-16 19:47] snowleopard commented on #573
I think this is related to this part of `aclocal.m4`:

[code]

We need to take care when generating package identifiers. For example, `ghc-8.5.20180412` should in fact be replaced with `ghc-8.5` to avoid rebuilding the package every day.

[2018-04-16 20:17] alpmestan commented on #573
Curious to see what will happen with https://github.com/snowleopard/hadrian/pull/571.

[2018-04-16 20:27] snowleopard commented on #573
This seems to be a relevant commit: https://github.com/ghc/ghc/commit/5266ab9059dffa741b172636f50f1fbfd491dbb4

[2018-04-16 20:40] snowleopard commented on #573
With #574 I finally have a working build on Windows! 🎉

[2018-04-16 22:30] #573 closed

[2018-04-17 00:33] snowleopard commented on #569
Looks like #575 worked.

The solution may be a bit questionable, but the whole unregister + register thing is.

[2018-04-17 00:33] #569 closed

[2018-04-17 01:56] izgzhen opened #576 "Linux build failed: Failed to load interface for 'HsInstances'"
[code]

[2018-04-17 09:42] snowleopard commented on #576
@izgzhen Is this from a clean build? Linux bots on Travis seem to be happy.

[2018-04-17 09:46] alpmestan commented on #576
I'm also developping Hadrian from Linux and I have not seen this error.

[2018-04-17 09:59] snowleopard commented on #576
Note that according to a recent AppVeyor build, `HsInstances` takes the longest time to build. Could be GHC somehow failed to build it? Can you try to simple rerun Hadrian?

[2018-04-17 13:47] alpmestan commented on #564
@snowleopard My patch passed GHC's CI and @Mistuke accepted it, so it'll land soon. As soon as it's in master, we should be able to get rid of the distro toolchain flag to configure.

@Mistuke Thanks for being so responsive!

[2018-04-17 14:40] izgzhen commented on #576
sorry, I redo everything and it looks like a false positive

[2018-04-17 14:40] #576 closed

[2018-04-17 19:34] snowleopard commented on #541
After #571, Travis is fully green 🎉

AppVeyor is also almost fixed (awaiting #564), and the above commit should also fix CircleCI.

[2018-04-17 20:08] snowleopard commented on #559
@izgzhen We now have green CircleCI. Is this still an issue on your machine?

[2018-04-17 22:35] alpmestan commented on #564
@snowleopard Do you want to try getting rid of `--enable-distro-toolchain`?

[2018-04-17 22:41] alpmestan commented on #540
`-c` is fixed (#571).

[2018-04-17 22:42] alpmestan commented on #538
My patch got submitted and merged in #571. Shall we close this @angerman?

[2018-04-17 23:12] snowleopard commented on #540
@alpmestan Yep, checked the box.

[2018-04-17 23:13] snowleopard commented on #564
@alpmestan I'm working on this -- now testing on my machine.

[2018-04-17 23:57] snowleopard commented on #564
The above commit works on my machine -- will close this if AppVeyor succeeds too.

[2018-04-18 00:37] snowleopard commented on #564
🎉

[2018-04-18 00:37] #564 closed

[2018-04-18 00:37] snowleopard commented on #541
Done!

[2018-04-18 00:37] #541 closed

[2018-04-18 03:40] angerman commented on #538
Sounds good!

[2018-04-18 03:40] #538 closed

[2018-04-18 08:15] izgzhen commented on #559
Emm, i guess it is because I built it on a DELL server:

[code]

In this environment, the error will happen.

[2018-04-18 11:12] snowleopard commented on #559
@izgzhen I have a suspicion that the Make build system has the same issue.

Perhaps, this is just a matter of updating the documentation and not just in Hadrian, but in GHC as well, by saying that one needs to add `-lnuma` when building on certain architectures.

[2018-04-19 15:55] izgzhen commented on #559
It built fine with Make...

[2018-04-19 17:04] snowleopard commented on #559
Oops, that's unexpected. I wonder what's different in Hadrian...

[2018-04-19 20:40] bgamari commented on #559
I think https://phabricator.haskell.org/D4616 should fix this.

[2018-04-19 20:50] snowleopard commented on #559
@bgamari Awesome! Thank you.

[2018-04-20 17:50] bgamari commented on #559
[D4617](https://phabricator.haskell.org/D4617) is another approach which has the additional benefit of eliminating the need to produce both NUMA-compatible and vanilla bindists.

[2018-04-24 08:14] izgzhen opened #579 "Missing (or bad) header file: fs.h: in unlit"
[code]

-----

{'ghc-git-hash': '5c9bc0771f426de2b99d6bb3a0f1d2eeaa91c710', 'hadrian-git-hash': '64da39cc9f955d7c1492ab39927a8e0849b23f00', 'gcc-version': '5.4.0', 'clean': True, 'duration': 13.175835371017456, 'exit-code': 1, 'stage0-ghc-version': '8.2.2', 'timestamp': 'Tue Apr 24 15:23:21 2018', 'platform': 'Linux-4.13.0-38-generic-x86_64-with-Ubuntu-16.04-xenial', 'flavour': 'quickest'}

[2018-04-24 08:15] izgzhen commented on #579
[code]

[2018-04-24 08:15] izgzhen commented on #579
@Mistuke similar to https://github.com/snowleopard/hadrian/issues/554

[2018-04-24 08:24] Mistuke commented on #579
If they can't be found then something went wrong with your configure step.
The Hadrian CI is finding them and building fine so I think it's a local
issue.

Check the output of configure

On Tue, Apr 24, 2018, 09:18 Zhen Zhang <notifications@github.com> wrote:

[2018-04-24 08:28] izgzhen commented on #579
Thanks! I removed everything outside the tree and trying to rebuild now

[2018-04-24 10:02] izgzhen commented on #579
https://gist.github.com/izgzhen/1bb69b0aa67bc1e367b82da3d6f6dade

Still the same after cleaning up.

[2018-04-24 10:10] snowleopard commented on #579
@izgzhen I've just restarted Travis to check if it might fail with GHC HEAD.

[2018-04-24 10:13] Mistuke commented on #579
The make based version doesn't use the cabal file it looks like. But the
cabal file looks correct to me and the files are in the right place. Not
sure what the problem here is. Especially if it also can't find the C file.

On Tue, Apr 24, 2018, 11:10 Andrey Mokhov <notifications@github.com> wrote:

[2018-04-24 10:40] snowleopard commented on #18
Done in #531 🎉

[2018-04-24 10:40] #18 closed

[2018-04-24 10:41] snowleopard commented on #170
This is no longer relevant after #531.

[2018-04-24 10:41] #170 closed

[2018-04-24 10:44] snowleopard commented on #226
I think this can now be closed. The build root is fully configurable as of #531.

[2018-04-24 10:44] #226 closed

[2018-04-24 10:48] snowleopard commented on #233
We no longer build `ghc-cabal`, so some duplication is gone. I think we can close this issue although there is still some scope for optimisation by sharing the build artefacts of Hadrian and Stage0 Cabal library.

[2018-04-24 10:48] #233 closed

[2018-04-24 10:50] snowleopard commented on #248
@bgamari @izgzhen Is this issue still relevant?

[2018-04-24 10:53] snowleopard commented on #361
I think this can now be closed. I believe #495 fixed the `test` target.

[2018-04-24 10:53] #361 closed

[2018-04-24 10:57] snowleopard commented on #408
I think we better close this one as a duplicate of #248.

[2018-04-24 10:57] #408 closed

[2018-04-24 10:58] snowleopard commented on #409
@izgzhen Can you confirm if this is still relevant?

[2018-04-24 11:01] snowleopard commented on #432
@bgamari Could you send the PR with the suggested fix?

[2018-04-24 11:02] snowleopard commented on #460
I think this has now been fixed. If not, please reopen.

[2018-04-24 11:02] #460 closed

[2018-04-24 11:05] snowleopard commented on #579
Looks like no CI bots hit this issue.

[2018-04-24 11:38] izgzhen commented on #409
it seems related to `inplace`, so I will close it for now. I need to check if cross-compilation works well later sometime.

[2018-04-24 11:38] #409 closed

[2018-04-24 12:16] izgzhen commented on #579
I found what is going on! if I used `-c` of `build.sh`, instead of manually `./configure` and then run `build.sh` without `-c`, it will error.

I used to `./configure`, so I wonder if this is an expected behaviour?

[2018-04-24 12:51] snowleopard commented on #579
@izgzhen Definitely not expected. Running `boot` + `configure` at the GHC root should be equivalent to running Hadrian with `-c`.

[2018-04-24 12:54] Mistuke commented on #579
My guess is that the ln destination for the copies need to be prepend with
$srcdir/ i think that would fix it. But i can't test till later.

On Tue, Apr 24, 2018, 13:51 Andrey Mokhov <notifications@github.com> wrote:

[2018-04-24 20:31] Mistuke commented on #579
@izgzhen can you try in your GHC source tree changing these lines
https://github.com/ghc/ghc/blob/master/configure.ac#L676

so they look like

[code]

so appending `$srcdir/` to each. If this doesn't work could you attach the `config.status` file for the working and not working builds? Thanks. All my source trees are currently dirty so I can't easily try myself.

[2018-04-25 00:27] izgzhen commented on #579
@Mistuke appending `$srcdir` does work:

[code]

[2018-04-25 05:19] izgzhen opened #580 "no rule for ghc-prim-0.5.2.0/GHC/Classes.dyn_hi"
[code]

[2018-04-25 05:40] izgzhen commented on #580
dynamic way is not working now I believe, and I'm looking into it.

[2018-04-25 06:43] Mistuke commented on #579
Ah great, I'll submit a patch later today

On Wed, Apr 25, 2018, 01:28 Zhen Zhang <notifications@github.com> wrote:

[2018-04-25 15:47] izgzhen commented on #580
I don't know. I nuked the whole tree again and `quick` seemed working this time. The path is still the same and this time it was built. I guess the `lib` bit is caused by difference between windows and Linux.

[2018-04-25 15:47] #580 closed

[2018-04-25 15:55] izgzhen commented on #580
and BTW, I confirmed that the `-dynamic` is working on a simple example as well.

[2018-04-25 15:58] izgzhen commented on #248
not sure, checked the GHC Wiki and it seemed that both pages might be outdated (latest change 3 years ago).

[2018-04-25 16:15] izgzhen opened #581 "missing symbols defined in includes/rts/Bytecodes.h when cross-compiling"
according to steps in `docs/cross-compile.md`

[2018-04-25 16:16] izgzhen commented on #581
first error I met...

[code]

[2018-04-25 16:29] izgzhen commented on #579
@Mistuke wait a bit .. it might be a false positive. I was toying with cross compilation, and it failed in a similar way.

[2018-04-25 16:33] izgzhen commented on #581
I believe that `build.sh`'s `-c` can't be passed a `--target=arm-linux-gnueabihf`?

[2018-04-25 16:38] snowleopard commented on #580
Great, thanks!

[2018-04-25 16:44] izgzhen commented on #581
[code]

[2018-04-25 16:49] izgzhen commented on #581
adding `-Iincludes` to the faulty cmd will work

[2018-04-25 17:17] izgzhen commented on #581
It was compiling STAGE 2 stuff now -- I suspect that Stage1Only is not respected.

[code]

[2018-04-25 17:26] snowleopard commented on #248
Let me close this. If this is acually still an issue, I suggest that we open a new one with an up-to-date description of what needs to be done.

[2018-04-25 17:26] #248 closed

[2018-04-25 17:29] snowleopard commented on #581
@izgzhen What do you mean? Can't you simply add a new flag in `UserSettings`?

This might well be due to the recent major changes.

[2018-04-25 17:33] izgzhen commented on #581
Oh, I just realized that. Thanks!

And regarding the purpose of this issue, I've completed the build and it looks fine to me. Only the `-iInclude` problem above.

[2018-04-25 17:42] snowleopard commented on #581
@izgzhen By the way, there is also this issue: #432 -- perhaps you can close it as well while you're working on cross compilation?

[2018-04-25 17:46] izgzhen commented on #581
Good, I will take a look later

[2018-04-25 19:46] Mistuke commented on #579
@izgzhen Can you tell me what I need to do to reproduce this? I'm not entirely sure how Hadrian does the out of tree build.

[2018-04-26 03:18] izgzhen commented on #581
When doing #583, I found that there is also a `TargetPlatform` in `cfg/system.config`, but this looks confusing to me since the `system.config.in` was only populated after running `configure`, and the `TargetPlatform` can be only defined by `./configure --target=<...>`. So it seems impossible to run `./build.sh -c` to configure a cross-compiling build correctly.

[2018-04-26 08:17] angerman commented on #581
Maybe we just don't support `-c` for these configurations? I am still not convinced of the benefit of `-c`. It mixes the configure and build phases. And there is a reason why `configure` and `make` are separate as well; and hadrian is (to me) a `make` replacement. I do understand that some feel the need to run `./boot` and `configure` too burdensome. And while I disagree and think it just tries to

[2018-04-26 11:06] snowleopard commented on #581
@izgzhen Why can't you add `builder (Configure ".") ? arg "--target=<...>"` to your `UserSettings`?

@angerman @hvr @alpmestan I don't understand your concern: noone is forced to use `-c` and it's not on by default. It's a convenience option for people like me who don't want to run `configure` manually. You are free to use your usual workflow.

[2018-04-26 11:39] angerman commented on #581
My primary concern is the tight coupling of hadrian and configure. When ever I add something to the configure script, I might need to invest into mirroring that in hadrian?

Example use case:
[code]

So we are either going to need a way to pass arbitrary configure flags to `./build.sh -c` or hadrian ends up mirroring all possible configure flags.

Now, if your proposed way of using hadrian is to u

[2018-04-26 12:13] snowleopard commented on #581
No, of course not!

`./build.sh -c` does not need to support cross compilation

This is completely up to you. If you think your work on cross compilation could be helped by automating the execution of `configure` and appropriately tracking the files it generates, so that you don't need to do a clean rebuild every time you, say, change `ghc.cabal.in` then you have two options:

* Add a particular c

[2018-04-26 12:43] alpmestan commented on #581
Maybe you misunderstood, but @angerman and I did not say otherwise. I was personally just suggesting that we make it clear that for building cross compilers and more generally whenever you _need_ to pass some flags to `configure`, `-c` is not an option because there's no way to pass additional configure flags.

[2018-04-26 12:57] snowleopard commented on #581
But there is! You can just add them in `UserSettings`. This is why we have `UserSettings` after all.

[2018-04-26 14:17] alpmestan commented on #581
I meant on the command line, that you can't say `-c --config-args="--target=foo"` for example. But this can indeed be achieved through custom `UserSettings`, absolutely. Maybe spelling out both ways in the documentation would be good.

[2018-04-26 14:32] snowleopard commented on #581
@alpmestan Yes, I've just checked the user settings docs and I think we should add an example of adding arguments to `configure`. Moreover, right now `UserSettings` is not very convenient to use: I'd like it to be easier to do a quick edit to modify some command line arguments, perhaps by expanding the definition of user flavours: `userFlavour = defaultFlavour { name = "user" }`.

[2018-04-27 00:23] izgzhen opened #584 "dead code check in CI"

[2018-04-27 00:47] snowleopard commented on #584
Here is the idea: https://github.com/snowleopard/hadrian/pull/583#issuecomment-384603050

[2018-04-27 02:16] izgzhen commented on #432
[code]

errors that I encountered under the new configure flags

[2018-04-27 02:22] izgzhen opened #585 "cross-compilation Stage1Only not working"
[code]

[2018-04-27 10:58] #581 closed

[2018-05-04 01:10] izgzhen commented on #579
@Mistuke how is this going on now?

[2018-05-04 01:11] izgzhen commented on #559
How is this going on now?

[2018-05-04 03:09] bgamari commented on #559
I finished off D4617 today. I'll likely merge it tomorrow.

[2018-05-04 17:00] Mistuke commented on #579
I've tried to reproduce it a couple of times and couldn't. I also don't understand why there would be any difference at all between running `./configure` manually and `hadrian -c`. Also cabal is able to build the `unlit` package after a configure just fine. So I don't think this is a problem with these files.

[2018-05-05 05:56] izgzhen commented on #579
I can't reproduce this now either :( Thanks for the information! I will close this issue.

[2018-05-05 05:56] #579 closed

[2018-05-05 08:05] Mistuke commented on #556
There are  quite a few other make variables though https://github.com/ghc/ghc/blob/master/testsuite/mk/test.mk#L10 are a few.

[2018-05-05 10:32] izgzhen commented on #523
I will close this now, please reopen if something is left to be done

[2018-05-05 10:32] #523 closed

[2018-05-05 10:34] izgzhen commented on #529
we updated the CI script to 8.2+ now, is there anything left to be done?

[2018-05-05 10:36] izgzhen commented on #368
I'll close this since that feature is already in use

[2018-05-05 10:36] #368 closed

[2018-05-05 10:47] izgzhen commented on #494
Running `./build.sh test` now led to an error:

[code]

[2018-05-05 11:54] izgzhen opened #588 "Generate an issue template for bug reporting"
For each failed build, it would be convenient to generate a link to create an issue on github (https://github.com/snowleopard/hadrian/issues/new?title=foo&body=bar). The platform, git hash etc. can can be easily composed in bash.

P.S. In fact it is very similar to what Hadrian's brick is doing, except that benchmark-related data is not useful in this case.

[2018-05-05 11:55] izgzhen opened #589 "Involve more people"
Currently, Hadrian is more stable compared to one year ago but it lacks users to be sufficiently tested. I have some ideas about this problem:

1. Add more text about this alternative build system in official GHC dev docs
2. Add versioning (`MAJOR`.`MINOR`.`PATCH`), a `CHANGELOG` and a release process for updating the submodule in GHC for each MINOR version bump
3. Make a Google form asking ghc-de

[2018-05-05 12:07] izgzhen commented on #12
Is this still relevant? What is the consequence of identifying `cabal` as a `Library` only?

[2018-05-05 12:15] izgzhen opened #590 "warnings coming from library `.cabal`"
[code]

[2018-05-05 12:31] snowleopard commented on #589
@izgzhen Thanks to @alpmestan we already have a quick start guide in official GHC docs:

https://ghc.haskell.org/trac/ghc/wiki/Building/Hadrian/QuickStart

What else do we need? If there are some specific docs, let's create separate issues for each one to discuss, assign and track progress separately.

Adding versioning and a change log is a good idea! Let's do that.

Let's wait until the validati

[2018-05-05 12:33] snowleopard commented on #588
@izgzhen Thanks, indeed, that would be very useful!

[2018-05-05 12:35] izgzhen commented on #589
I think the content of the docs is already sufficient, but we need more *pointers* in parental pages, e.g. https://ghc.haskell.org/trac/ghc/wiki/Building

[2018-05-05 12:35] izgzhen commented on #589
Agreed

[2018-05-05 12:39] izgzhen commented on #249
@snowleopard I guess this is a wontfix?

[2018-05-05 12:42] izgzhen commented on #200
Is this `--profile` flag still working?

[2018-05-05 12:48] #317 closed

[2018-05-05 12:49] izgzhen commented on #344
closed for now since our new installation logic will be very different after relocatable builds (#531)

[2018-05-05 12:49] #344 closed

[2018-05-05 13:02] alpmestan commented on #590
Indeed, it's the Cabal library (which we use directly now, instead of ghc-cabal) that emits those, we don't really have a handle on them.

[2018-05-05 13:03] alpmestan commented on #589
I am planning to "put the word out" a bit more strongly soon, I in fact wanted to do that last week but Andrey told me he'd really like us to properly run all tests/validation scripts before we do that. So this is definitely planned :-)

[2018-05-05 13:05] alpmestan commented on #529
I personally don't think so. The `configure` script errors out with a proper error message if one's trying to use a incompatible boot ghc.

[2018-05-05 13:51] snowleopard commented on #529
OK, let me close this.

[2018-05-05 13:51] #529 closed

[2018-05-05 13:55] alpmestan commented on #12
@hvr mentionned to me that he may need support for this soon and is looking into ways to have the make build system accept that. We might want to start discussing how we would achieve this ourselves, in Hadrian land :)

[2018-05-05 14:12] snowleopard commented on #12
@alpmestan Aha, interesting! I think it shouldn't be very difficult to support in Hadrian. If this becomes a priority, I'm happy to have a look at it.

Which package is this going to be?

[2018-05-05 14:14] snowleopard commented on #200
@izgzhen I think it should be working, yes. Doesn't it work for you?

[2018-05-05 14:16] snowleopard commented on #249
@izgzhen Let's keep this open for now. I've marked it low priority. Perhaps this will become more important when we have more Hadrian users.

[2018-05-05 15:52] ndmitchell commented on #588
I suggest a `info.txt` or similar and telling the user to upload it by hand.

[2018-05-05 16:09] alpmestan commented on #12
@hvr will hopefully jump in this thread at some point, but if I remember correctly, he was interested in simplifying the way we build haddock.

[2018-05-05 16:12] alpmestan commented on #249
A lot of this should be significantly easier with the new build-dir structure though, right?

[2018-05-05 22:53] snowleopard commented on #249
Yes, clean up is pretty easy now.

A special script even feels superfluous, since it's going to be just something like `rm -rf _build`.

[2018-05-06 08:17] alpmestan commented on #249
Right. Except for those files created by `boot` and `configure`, which still live in the source tree.

[2018-05-07 01:03] izgzhen commented on #200
Not working when I tried ... no html is generated. I'll try again

[2018-05-07 01:04] izgzhen commented on #200
Ah, sorry, I found it in the top-level of GHC library.

[2018-05-07 01:34] izgzhen commented on #200
![screenshot_2018-05-07_09-33-27](https://user-images.githubusercontent.com/7168454/39681049-bc8eddee-51d9-11e8-83d0-f7697fe02f00.png)

BTW, this is the command plot I got

[2018-05-07 14:43] snowleopard commented on #249
True, we need to keep track of files produced by `boot` and `configure`, which is a bit annoying.

[2018-05-08 02:35] angerman commented on #249
If you really want to take care of boot and configure, I think the best option is to just invoke `git clean -xfd`. That of course requires a git checkout.

Maybe the question "What does one want to achieve with that clean step?" needs to be answered first.

[2018-05-08 08:06] alpmestan commented on #249
Yeah, it should be answered first, because `git clean -xdf` would remove e.g new files that you have not yet registered in git.

[2018-05-10 15:40] chitrak7 opened #592 "Validation : Stderr mismatch"
On running validate rule on my terminal today, there were many tests failing due to mismatching stderrs (489). An overall summary is:
6363 total tests, which gave rise to
   24929 test cases, of which
   18636 were skipped

      58 had missing libraries
    5231 expected passes
      87 expected failures

       2 caused framework failures
       0 caused framework warnings
       1 unexpected pa

[2018-05-10 15:41] chitrak7 commented on #592
I am currently making an alternate setup using make and try to figure out the difference in the implementations for possible errors.

[2018-05-10 15:44] chitrak7 commented on #592
I am currently finding out the difference in the make based implementation and currentimplementations tolook for the sources of these errors

[2018-05-10 16:28] chitrak7 opened #593 "cannot install module check-ppr : linker error"
I tried to install the program check-ppr and check-api-annotations for validation purposes. Although the later was installed smoothely, check-ppr is not getting installed. the error code and stderr is:
user error (Development.Shake.cmd, system command failed
Command: _build/stage0/bin/ghc -Wall -hisuf hi -osuf o -hcsuf hc -static -hide-all-packages -no-user-package-db '-package-db _build/stage1/li

[2018-05-10 19:06] chitrak7 commented on #593
@snowleopard  @izgzhen can you try to install these modules directly to confirm these errors.
We will need to create the package in GHC/Packages.hs and then add it to stage1packages for testing.

[2018-05-11 09:55] izgzhen commented on #593
I'll help check this in one or two hours :)

[2018-05-11 11:16] izgzhen commented on #593
@chitrak7 what steps do I need to execute to reproduce this?

[2018-05-11 12:06] chitrak7 commented on #593
@izgzhen
We have to first add check-ppr to known packages to GHC. In GHC/Packages.hs add:
checkPpr            = hsUtil "check-ppr"        `setPath` "utils/check-ppr"
Then for trial, we can simply add checkPpr to stage1Packages.
On running build, the given error occurs.

[2018-05-11 13:10] chitrak7 commented on #592
@angerman How can this issue be fixed? Currently, I am installing the packages that are in inplace to stage1 also, using a new validate rule.

[2018-05-11 16:56] alpmestan opened #594 "nofib support"
Andreas (in [#15133](https://ghc.haskell.org/trac/ghc/ticket/15133)) and @tdammers (on the #ghc IRC channel) reported the problems they encountered while trying to run nofib on a GHC built by hadrian.

By default, nofib expects the usual inplace + ghc-stage<N> setup. We can point it to a separate GHC binary with commands like the ones I gave in #15133 (tl;dr: override `WithNofibHc` when running ma

[2018-05-11 21:00] snowleopard opened #595 "Don't build unlit twice"
Currently we build `unlit` utility twice, [which is probably redundant](https://github.com/snowleopard/hadrian/pull/591#issuecomment-388482754).

Let's build it only in `Stage0`. This is an easy issue, I'll leave it here for a newcomer to try.

[2018-05-11 21:34] snowleopard commented on #594
@alpmestan Thanks, I like the idea of adding the `nofib` rule to Hadrian. Will it simply call the `Make` builder in the `nofib` directory with appropriate arguments? This sounds like it should be easy to implement.

[2018-05-11 21:36] alpmestan commented on #594
@snowleopard Yes, that would/will in fact be very similar to how we run the tests.

[2018-05-11 21:39] snowleopard commented on #594
@alpmestan OK, I've labelled this as `easy` :) I'm unlikely to find time for this in the coming two weeks as I am travelling.

If anyone would like to pick this up, please add a comment.

[2018-05-11 22:42] snowleopard opened #597 "Built GHC fails on Mac OS"
See https://circleci.com/gh/snowleopard/hadrian/345

[code]

[2018-05-11 22:43] snowleopard opened #598 "RTS build error on AppVeyor: RSP_DELTA signed LEB128 encoding isn't 3 bytes"
See https://ci.appveyor.com/project/snowleopard/hadrian/build/1.0.1123

[code]

[2018-05-11 23:11] snowleopard commented on #597
Same on Travis: https://api.travis-ci.org/v3/job/377902906/log.txt

[code]

[2018-05-11 23:16] alpmestan commented on #594
I took a quick stab at it, some further work is needed but it's a good start: https://github.com/snowleopard/hadrian/pull/599

[2018-05-12 18:25] chitrak7 commented on #592
@snowleopard @angerman
There are 4 main problems with current validation module:
1) 3 missing libraries: check-ppr, check-api-annotations, hp2hs
2) Incorrect path to compiler.
3) ghc-iserv should be in lib/bin and not bin.
4) An error with rts library.

I have solved the problems #1,2&3 as follows:
1) added the libraries and wrote the need rule.
2) additional argument to make command
3) added ghc-

[2018-05-12 18:29] chitrak7 opened #600 "move ghc-iserv to lib/bin"
For validation, the testsuite looks for ghc-iserv in lib/bin. This is causing near 200 validation failures.
@angerman @snowleopard

[2018-05-12 18:32] chitrak7 commented on #593
checkPpr built successfully. Thanks!!!

[2018-05-12 18:32] #593 closed

[2018-05-12 18:51] snowleopard commented on #593
@chitrak7 Awesome, thanks!

[2018-05-12 22:54] snowleopard commented on #600
@angerman What do you think? I'm on Windows, so I don't think I even build `iserv` on my machine.

[2018-05-12 22:55] snowleopard commented on #592
@chitrak7 Start sending small PRs to fix validation errors. No need to fix everything in one go.

[2018-05-13 00:54] izgzhen commented on #600
the location is `_build/stage1/bin/ghc-iserv` on my Linux machine by the way

[2018-05-13 00:58] angerman commented on #600
This needs to be parameterized. Especially as this will likely move someplace into `utils/iserv.../` soon.

[2018-05-13 01:00] angerman commented on #600
In general, we should try not to bend the layout for the testsuite, but adapt the testsuite to the new layout. Again this may need to be parameterized so that the old (make), and new (shake) based buildsystems both work.

[2018-05-13 01:04] angerman commented on #592
As I mentioned elsewhere. Please don’t move binaries around. Adapt the testsuite to find binaries in it’s new places.

[2018-05-13 09:07] snowleopard commented on #592
@angerman Could you create an issue where you explain:

* Why you moved some binaries from their usual (for GHC's Make) location `bin/lib` to `bin` in Hadrian.
* Why we shouldn't move these binaries back where they are expected both by the GHC infrastructure and GHC developers.
* What should be the general approach for dealing with binaries that live in the new location.

Without this, the most na

[2018-05-13 09:12] snowleopard commented on #600
@angerman See my comment here: https://github.com/snowleopard/hadrian/issues/592#issuecomment-388612287. I don't think I've ever seen any explanation for the rationale behind moving things to `bin`. If this is a useful feature, there should be a corresponding issue/PR that takes care of testsuite as well.

[2018-05-13 09:39] angerman commented on #592
I'm just afraid this will break the bindist rule. Which are currently a simple compaction of `bin` and `lib`:
https://github.com/snowleopard/hadrian/blob/44368b61d78b4ccf4e5aa6312cd64f4b2466efc4/src/Rules/BinaryDist.hs#L25-L29

moving binaries from `bin` to `lib/bin`. @alpmestan and I have spent a lot of time killing off `ghc-cabal`, keeping the source tree as pristine as possible and by that maki

[2018-05-13 09:46] snowleopard commented on #592
@angerman It looks to me that copying one more directory `bin/lib` is not such a big deal, whereas the snowfall of issues due to the removal of `bin/lib` is quite substantial. Anyway, this definitely deserve a separate issue, please create one.

[2018-05-13 12:16] chitrak7 commented on #600
@snowleopard @angerman Current make system does not seem to take the location of ghc-iserv as an argument. I am looking further into this matter, but as of now, path to every other dependency can be specified as an argument (compiler, check-ppr, hp2ps, hsc etc), but not ghc-iserv.

[2018-05-13 17:26] vmchale opened #601 "Build fails on x86_64 Linux"
Steps to reproduce:

[code]

this fails with

[code]

Any insight appreciated!

[2018-05-13 18:17] #601 closed

[2018-05-13 18:36] snowleopard commented on #601
Hey @vmchale! I take it the issue has been resolved?

[2018-05-14 00:29] vmchale commented on #601
Yes! It turned out to be a duplicate issue :)

[2018-05-14 06:47] snowleopard commented on #601
Aha, indeed, it's #559.

[2018-05-14 09:31] alpmestan commented on #600
I agree with @angerman that we ideally want this to be configurable. It should not be too hard to add an option for pointing to the iserv binary. I would however understand it if you decide to move the binary under `lib/bin` _for now_, so that @chitrak7 can make progress on the validation task. I might in fact look into this myself, I think I know what needs to be done in the testsuite driver.

@c

[2018-05-14 09:44] alpmestan commented on #592
Because they were there for a technical limitation that @angerman lifted. Hadrian's GHC builds are fully relocatable, we can now just move `{bin, lib}/` around together and GHC will keep working just fine. Hadrian is currently (and likely will stay forever) the only build system to take advantage of this.

The existing GHC infrastructure has been growing for over 25 years and has been built around

[2018-05-14 21:54] snowleopard commented on #592
@alpmestan Thanks for the detailed answer! This is an important issue and should be documented separately -- so, could you please open a new ticket to track its progress?

Sounds great, thank you for helping with this! Even more reasons to document and track this separately.

[2018-05-15 22:12] alpmestan opened #603 "bin/ vs lib/bin/ and other mismatches between hadrian and make"
(I haven't found a better title so far, I'm all ears if you have a better one.)

The point of this issue is to  collect/track all the "tension points" between the way hadrian does things and the way the make build system and all its infrastructure (general ghc usage, tests, nofib, ...) work. In particular, we have seen some issues due to moving some binaries out of `lib/bin/` to `bin/` (which is w

[2018-05-15 22:12] alpmestan commented on #592
Done: #603.

[2018-05-16 23:05] snowleopard commented on #603
@alpmestan Great, thank you! I think the right directory is `bin/lib`, so I've edited the title. You might want to update your comment too.

[2018-05-17 10:48] alpmestan commented on #603
No no, it _is_ `lib/bin`.

[code]

[2018-05-17 11:58] snowleopard commented on #603
@alpmestan Oh, I'm sorry! Edited the title back. Not sure why I keep confusing these directories.

[2018-05-17 17:51] chitrak7 opened #605 "Add options for running testsuite tests"
@snowleopard @izgzhen @angerman
Can you please tell me how I should add support for more options for testing. More specifically, how should these arguments look like.

[2018-05-18 06:26] angerman commented on #605
@chitrak7 I'm a bit lost on you question. Could you expand it a bit and maybe give a concrete example you have in mind?

[2018-05-18 08:58] snowleopard commented on #605
@chitrak7 Why don't you make a proposal on how **you** think testsuite options should be implemented and we give you feedback? It's your GSoC project, so you should feel free to propose and make some design decisions yourself.

[2018-05-18 14:39] chitrak7 commented on #605
Okay @snowleopard, Give me a day and I will propose a decent structure.

[2018-05-20 19:34] bgamari commented on #559
For the record, D4616 has been merged to `master` (as 45ad0c3946623bc8635d6e3964d9ebb1555a3df6) so this ought to work now.

We might also adopt D4617, but this remains to be seen.

[2018-05-20 19:34] #559 closed

[2018-05-21 19:34] AndreasPK opened #607 "Allow caching of configure results."
Running configure takes a lot of time on windows.

Having a flag to use cached configure data for rebuilds would speed this up nicely.

I can run configure for GHC with -C myself. But adding the flag for the configure process of base is a different story.
Ideally libraries would also use the same configure cache as ghc, so it would be faster even on the first build:

Here are the times for base an

[2018-05-21 19:47] snowleopard commented on #607
@AndreasPK Good idea! Now that we got rid of `ghc-cabal` we should have a more fine-grain control over how packages are configured.

Let me tag @angerman @alpmestan @izgzhen -- I think they are more knowledgeable in how this corner of Hadrian could be improved.

[2018-05-22 03:50] angerman commented on #605
@chitrak7, any update on this? Do you need help with something specific?

[2018-05-22 17:40] snowleopard commented on #605
@chitrak7 The module `Setting/Builder/RunTest` was added by @sighingnow who was doing some work on the testsuite at some point -- he might be able to comment on his plans for this module.

[2018-05-23 01:48] sighingnow commented on #605
Currently we already have `hadrian test` (not available on Windows). You can try with:

    hadrian test --test-only="T13215"

The module "Settings/Builder/RunTest" mainly exports the `runTestBuilderArgs` and is used here:  https://github.com/snowleopard/hadrian/blob/3837187e57bfcc9c00a717eb70cb3e9271525047/src/Settings/Default.hs#L141

We already have https://github.com/snowleopard/hadrian/blob/3

[2018-05-23 17:45] chitrak7 commented on #605
@sighingnow Thnks for the detailed reply. Can you also tell me why "runTestBuilderArgs" is not used for configuring runtest.py file?

@angerman @snowleopard I think we should ignore my previous pull build validate again over @sighingnow's implementation. All setting related to testing should be limited to RunTest module only. Also, taking it out of Settings.Builder.Make module will help as we are

[2018-05-24 00:47] sighingnow commented on #605
We do use `runTestBuilderArgs` to configure `runtest.py`. `runTestBuilderArgs` only work when the builder is `RunTest`. https://github.com/snowleopard/hadrian/blob/3837187e57bfcc9c00a717eb70cb3e9271525047/src/Settings/Builders/RunTest.hs#L13

In `Rules/Test.hs`, we do use `buildWithCmdOptions` with `RunTest` target. https://github.com/snowleopard/hadrian/blob/3837187e57bfcc9c00a717eb70cb3e92715250

[2018-05-25 11:22] chitrak7 opened #608 "Failed to find package '"ghc-heap"'"
On running the build, the following error is coming:
Error when running Shake build system:
* OracleQ (CabalFile (Context {stage = Stage1, package = Package {pkgLanguage = Haskell, pkgType = Library, pkgName = "ghc", pkgPath = "compiler"}, way = v}))
Failed to find package '"ghc-heap"'
CallStack (from HasCallStack):
  error, called at src/Hadrian/Haskell/Cabal/Parse.hs:109:47 in main:Hadrian.Haske

[2018-05-25 12:26] alpmestan commented on #607
@AndreasPK and I discussed this a little more on IRC. autoconf's [caching mechanism](https://www.gnu.org/software/autoconf/manual/autoconf-2.65/html_node/Cache-Files.html) handles a lot of the work. Andreas pointed out that we probably just need to run the "toplevel" configure script with `-C` and then pass `--configure-option=-C` to all the cabal packages when we're configuring them. This is expe

[2018-05-25 18:05] chitrak7 commented on #608
https://github.com/ghc/ghc/commit/ec22f7ddc81b40a9dbcf140e5cf44730cb776d00
I belie.ve the error is coming due to this commit. ghc-heap is added as a dependency

[2018-05-25 19:29] snowleopard commented on #608
@chitrak7 Thanks for reporting! Let me have a look.

[2018-05-25 22:20] snowleopard commented on #608
I think this commit should fix the issue: https://github.com/snowleopard/hadrian/commit/c0292ffcaee940cfd3a81a878a680e0e273c10bc

The build still fails due to `llvm-passes` missing, which will hopefully be resolved soon.

[2018-05-26 00:42] angerman commented on #607
Configure on macOS feels quite a bit slower than on Linux as well. For crosscompilation the slowness is just comical.

[2018-05-26 00:44] angerman commented on #607
This used to be discussed on #ghc a few years ago, and I’m not sure about the exact details anymore, but I believe there was some fear around stale state. Maybe @bgamari remembers...

[2018-05-26 05:17] chitrak7 commented on #608
@snowleopard I did the same thing by reseting my HEAD to a  commit previous to llvm-pass. But eb

[2018-05-26 05:31] snowleopard commented on #608
@chitrak7 OK, let me reopen for now.

[2018-05-26 05:32] angerman commented on #608
@chitrak7 what error s are you seeing, and on what OS are you building? GHC HEAD is pretty busted on macOS right now afaict. I'd suggest to work off of a known good (Hadrian, GHC) commit  combination that works for you.

E.g. you don't need to try to keep tracking GHC as aggressive as possible. GHC HEAD can be broken, and even be broken for an extended period of time.

While hadrian is not the pri

[2018-05-26 09:11] AndreasPK commented on #607
I think it would be great to have the option. If it's a good default is indeed a different topic.

Personally I don't think this is a major issue if we delete the cache on make clean. There are already lot's of ways to break a working build tree with lingering build artefacts where make clean is required to fix it.

But I'm also perfectly happy if we make this available just as an optional setting

[2018-05-26 11:06] angerman commented on #607
I'm absolutely in favor of having this! I just wanted to add some history.

[2018-05-26 16:32] chitrak7 commented on #605
@sighingnow For a lot of test cases, an odd error is coming. For example with test cabal05, on executing the following command:
sudo ./build.sh test -V --only="cabal05"
The error that I encountr is:
Wrong exit code for cabal05()(expected 0 , actual 2 )
Stderr ( cabal05 ):
Makefile:2: /mk/boilerplate.mk: No such file or directory
Makefile:3: /mk/test.mk: No such file or directory
make: *** No rule

[2018-05-26 18:44] chitrak7 commented on #605
@snowleopard I am thinking to move list of builder arguments for testsuite from Settings.Builder.Make to Settings.Builder.RunTest. I believe it will improve speed and accessibility as the arguments given to testsuite will become complex as we proceed in the project.

[2018-05-26 21:31] alpmestan commented on #605
Do you run hadrian from the root of the ghc tree?

[2018-05-27 01:56] sighingnow commented on #605
@chitrak7 You could try to add the `TOP` environment variable here:

https://github.com/snowleopard/hadrian/blob/c0292ffcaee940cfd3a81a878a680e0e273c10bc/src/Rules/Test.hs#L58-L61

[2018-05-27 07:58] chitrak7 commented on #605
@alpmestan I am running the command from hadrian directory. The exact command is:
sudo ./build.sh test -V --only="cabal05"

@sighingnow The TOP variable is actually the relative path of tests Makefile to testsuite folder. For example "../../.." or "../../../.." . I don't think I will be able to set this directly as an environment.

[2018-05-27 08:03] sighingnow commented on #605
@chitrak7 That doesn't matter. **All** `$(TOP)` in ghc's tests are used to find `mk/test.mk` and `mk/mk/boilerplate.mk`:

[code]

Setting `TOP` as `root -/- "testsuite"` should be enough to address this problem.

[2018-05-27 08:10] chitrak7 commented on #605
Yeah, It just came to my mind right now!!
But still, a question remains, why is Hadrian not able to do so by its own. I believe there must be some internal configuration process which the test suite goes through before tests are run.

I ran the test using make with the command:
sudo make TEST="cabal05" CLEANUP=0
and then checked the makefile, and the TOP setting was configued. I am afraid that the

[2018-05-27 09:17] sighingnow commented on #608
@chitrak7 Doing resetting will re-introduce the "ghc-heap" related errors. You should revert the "llvm-passes" commit:

    git revert 85f2506f87c890ba985825c74dea92c10e80152e

[2018-05-27 18:30] chitrak7 commented on #608
@sighingnow Thanks! Currently, I am working on a stable version of GHC which is 15 days behind HEAD.

[2018-05-27 18:52] chitrak7 commented on #605
@sighingnow actually top environment was set by runtest.py file only. We can do it by adding an additional argument like this:
arg "-e", arg $ "config.top=" ++ show (top -/- "testsuite")

[2018-05-27 19:47] chitrak7 commented on #605
@snowleopard @angerman I wanted to know the need of a separate validate rule. After support of test is completed, we can validate by simply running test fast. So do we really need a separate validate rule?

[2018-05-28 09:49] snowleopard commented on #605
@chitrak7 It would be best to mirror all functionality of the Make build system in Hadrian, since it would make it more convenient for GHC developers to switch to Hadrian.

Here is a task for you: learn and document the differences between the validate script and the testsuite -- that would be useful both for you and for others. You could add this to `hadrian/doc/testsuite.md` and link to it from

[2018-05-28 14:57] chitrak7 commented on #605
@angerman @snowleopard @sighingnow Multiple test cases which are supposed to fail are passing unexpectedly. For all these test cases a warning is being generated.
*** framework warning for T4474a(numfield-no-expected) No expected value found for bytes allocated in num_field check.

[2018-05-28 16:02] sighingnow commented on #605
To run perf test needs setting `WORDSIZE` properly. See:

https://github.com/ghc/ghc/blob/a5446c4501cf30aa06eab636823d031bb98db739/testsuite/mk/test.mk#L239

and

https://github.com/ghc/ghc/blob/a5446c4501cf30aa06eab636823d031bb98db739/testsuite/mk/ghc-config.hs#L11

The ghc-config.hs is built and run by testsuite/mk/boilerplate.mk.

I think current it's ok to just set `WORDSIZE` as `64` in `RunTe

[2018-05-28 18:48] chitrak7 commented on #605
Thanks @sighingnow the errors have reduced now. But still many unexpected passes are coming. I am looking further into it.

[2018-06-04 19:03] chitrak7 commented on #608
Hi @angerman @snowleopard . Currently, make is able to build ghc. I tried to figure out the difference between the failing commands
This is the Hadrians command to build dependencies.
_build/stage0/bin/hsc2hs --cc=/usr/bin/gcc --ld=/usr/bin/gcc --cross-safe --cflag=-fno-stack-protector --cflag=-Iincludes --cflag=-I_build/generated --cflag=-I_build/stage0/libraries/ghc-heap/build --cflag=-I/usr/loc

[2018-06-04 19:07] chitrak7 commented on #608
The error is coming because hadrian is using local ghc-8.2.1, whereas make is using ghc-8.5.1 even in stage0. I changed --cflag=-D__GLASGOW_HASKELL=802 to --cflag=-D__GLASGOW_HASKELL=805 and the above command executed. Can you please look into it and help me what is happenig?

[2018-06-04 21:55] snowleopard commented on #608
@chitrak7 You are showing the Make command for Stage1 -- see `dist-install` in the path:

`libraries/ghc-heap/dist-install/build/GHC/Exts/Heap/InfoTable.hs`

However, Hadrian fails in Stage0. Can you show which command Make uses in Stage0?

[2018-06-06 01:55] sgillespie opened #609 "nix.shell: can't build happy"
I'm running NixOS, and I'm running `nix-shell` from `ghc/hadrian`:

[code]

Any idea what to do here or how to get more information?

[2018-06-06 03:14] angerman commented on #608
@chitrak7 chaning the`__GLASGOW_HASKELL__` value is not a good idea, as it is used to determine the compiler and use in conditional branches. As such it can easily lead to completely unusable binaries.

In general I doubt that we are using ghc-8.5.1. (which is the current HEAD) to build GHC with make. Of course this may happen *iif* you build ghc HEAD, and then use the binary from that built to bu

[2018-06-06 11:31] snowleopard commented on #608
@angerman I think it's something else, related specifically to adding `ghc-heap` to GHC.

[2018-06-06 11:37] snowleopard commented on #609
@sgillespie Thanks for reporting! I'm not a nix user myself, but let's ping @mpickering and @angerman who regularly commit to `shell.nix`.

[2018-06-06 12:18] mpickering commented on #609
It's not clear what is happening here but @bgamari also ran into this same issue. I ran into it trying to build a different haskell project with HEAD.

[2018-06-06 14:14] sgillespie commented on #609
I also run into the same problem running `build.nix.sh` and `build.stack.nix.sh`

[2018-06-06 15:31] alpmestan commented on #608
I tried building GHC with the tip of hadrian's and ghc's master branches. I ran into this error:

[code]

We can see in particular that we have `-Iincludes` and `-I/nix/store/9af0m2zjvpml0b8646sxayn28sgr5nc9-ghc-8.2.2/lib/ghc-8.2.2/include` (my bootstrap compiler's includes), in that order. So gcc just systematically picks up the includes from `includes/`, whereas here we would want it to use the

[2018-06-06 16:03] snowleopard commented on #608
@alpmestan Aha, sounds like a plausible explanation! Do you think we should swap the order of includes? I can give this a try.

[2018-06-06 16:10] alpmestan commented on #608
@snowleopard I think a nicer solution would be to tweak the common settings that introduce `-Iincludes`, a bit like this:

[code]

But instead of doing `notStage0` (which gets us past this particular error but is not precise enough, as we fail to build the ghc library), something more precise which I'm in the process of figuring out.

[2018-06-06 16:12] snowleopard commented on #608
@alpmestan Right, many thanks! Makes sense. Perhaps, `notStage0 ||^ package ghc` would work.

[2018-06-06 16:12] alpmestan commented on #608
@snowleopard Yes, I'll see where this gets me. I was looking around for that `||^` operator, was sure there was something for that but could not find it, thanks!

[2018-06-06 16:33] alpmestan commented on #608
PR up at #610.

[2018-06-06 17:08] snowleopard opened #611 "Cannot build RTS on Windows"
After #610, the Windows build fails with the following error:
[code]

[2018-06-06 20:27] snowleopard commented on #608
I think we can close this now. Thanks @alpmestan!

[2018-06-06 20:27] #608 closed

[2018-06-06 20:56] ndmitchell commented on #488
FWIW, I also have a copy at https://ndmitchell.com/downloads/paper-non_recursive_make_considered_harmful-22_sep_2016.pdf - the URL's for all my papers have been stable for many years.

[2018-06-06 22:11] angerman commented on #611
Mac fails similarly. @carter just hit that the other day. There is an open diff in Phabricator by @bgamari, that’s likely going to be merged soon.

[2018-06-06 22:50] snowleopard commented on #611
@angerman Aha, thanks! Indeed, the Windows and OSX problems look related.

[2018-06-10 20:45] mpickering commented on #609
See https://github.com/haskell/cabal/issues/5318

[2018-06-11 20:23] sgillespie commented on #609
This resolved it for me:

https://git.haskell.org/ghc.git/commitdiff/14f4347c28a2d8d45e795fd01bc0e547fe8738e6

[2018-06-11 20:23] #609 closed

[2018-06-12 10:20] snowleopard commented on #611
So, this turned out to be unrelated to the OSX failure. The above commit fixed this.

[2018-06-12 10:20] #611 closed

[2018-06-12 14:20] snowleopard commented on #600
Just an update: `iserv` has been moved in GHC and I made the necessary changes in Hadrian in https://github.com/snowleopard/hadrian/commit/8dba6748e84c632c3c0302620c3e62c9fcc3e948.

[2018-06-12 14:21] snowleopard commented on #598
I think this has already been fixed.

[2018-06-12 14:21] #598 closed

[2018-06-12 14:25] snowleopard opened #614 "Build failure on OS X when linking _build/stage1/bin/hpc"
Our OS X instances currently fail with:
[code]
This seems to be unrelated to https://ghc.haskell.org/trac/ghc/ticket/15207.

[2018-06-12 14:28] snowleopard commented on #537
Given successful build reports in #609, I think we can close this issue.

[2018-06-12 14:28] #537 closed

[2018-06-12 14:34] aspiwack commented on #537
I must confess that I haven't returned to it. Plus, since @kcsongor and @mpickering found a ghcid invocation without hadrian, this wouldn't block me even if it wasn't solved.

[2018-06-12 22:47] sgillespie opened #615 "Nix: /nix/store/.../bin/ld: cannot find -lgmp"
There appears to be a missing dependency on `gmp` in `shell.nix`:

[code]

[2018-06-12 22:50] snowleopard commented on #615
@sgillespie Thanks! Presumably, the solution is simple for those who know how to add a new dependency to `shell.nix`... Do you know Nix well enough to try to fix this?

[2018-06-12 23:36] alpmestan commented on #615
@sgillespie Feel free to give a shot at https://github.com/alpmestan/ghc.nix. `nix-shell ~/ghc.nix/ --run 'hadrian/build.sh -j'` should just work (I use it with both the make build system and hadrian). Add `-c` if you have not run `./boot` and `./configure`.

[2018-06-12 23:41] sgillespie commented on #615
@snowleopard I will submit a patch shortly

[2018-06-13 08:17] chitrak7 opened #617 "Binary Distribution: Allow package database relocatable"
Currently, fields in the binary distribution such as "include-dirs" etc are configured with respect to ${pkgroot} This doesn't allow changing the relative paths between them. I am stuck here as due to this, user-based configuration settings are not getting implemented. Can anyone give any pointers on how to tackle this issue?

[2018-06-13 08:27] chitrak7 commented on #617
A simple hack that I have implemented is similar to those used by current make binaries. They are not putting binaries in bindir but scripts that point to binaries and put binaries in lib/bin folder. But this is not a nice approach. We have to make these paths configurable somehow.

[2018-06-13 09:14] angerman commented on #617
The package database *is* relocatable, that's precisely the use for `${pkgroot}`. That's as much relocatability as we can get. There is no support for relocating librarys relative to the package db without chaning the repsective `.conf` file and recaching the pacakge db.

What problem as we trying to solve here? The relocatability of the binary distribution is always wrt to moving `bin` and `lib`

[2018-06-13 09:46] chitrak7 commented on #617
Yes, but the configure file gives an option for specifying directories such as bindir, libdir, and docdir apart from prefix. Although all these a relative, if someone changes it packages won't be accessible.

[2018-06-13 10:58] alpmestan commented on #617
Hmm no I don't think I ever got around to restoring the wrapper scripts just yet. This is what they looked like: https://github.com/snowleopard/hadrian/blob/fe5759b46cb9f04ba78a975c99a6d99b866d448e/src/Rules/Wrappers.hs

Whether it's really required to generate them or not is I think a call that we can only make in... the `Makefile` of the bindist. When people have a bindist, all they need to do i

[2018-06-13 11:11] chitrak7 commented on #617
I have worked a bit in this regards. I looked into the database and think I can specify the libraries path using an additional --global-package-db flag to ghc-pkg wrapper. But still I could't figure out how to link docdir.

[2018-06-13 11:19] alpmestan commented on #617
The file I linked to above gives the contents we want to put in each wrapper. And I don't any any of those cares about docdir, that one is probably only ever used as the target of a `cp`/`install` command somewhere and that's it. Maybe I misunderstood your problem though?

[2018-06-13 11:59] snowleopard commented on #614
I think this is related: https://phabricator.haskell.org/D4683

[2018-06-13 12:28] chitrak7 commented on #600
I think we can close it now. The issue has been taken care of!!

[2018-06-13 12:28] #600 closed

[2018-06-13 12:36] chitrak7 opened #620 "Document features added to testsuite"
Multiple features have been added to test suite. We need to document it.

@snowleopard Can you please assign this to me.

[2018-06-13 12:38] snowleopard commented on #620
@chitrak7 Thanks, done!

[2018-06-13 16:32] chitrak7 commented on #617
@angerman @alpmestan I have written a bit of code to write wrapper scripts with Makefile only. These scripts will be  incorporated only when the relative path is changed, and we will put scripts in bindir, and rest will be copied as required. This could be a temporary hack. But still, I couldn't figure out what to do with docs?

[2018-06-13 23:46] sgillespie commented on #615
Fixed by https://github.com/snowleopard/hadrian/pull/616

[2018-06-13 23:46] #615 closed

[2018-06-14 10:42] snowleopard commented on #614
I added a comment there: https://phabricator.haskell.org/D4683#133622

[2018-06-14 13:28] chitrak7 commented on #617
@angerman @alpmestan I think we will need to generate wrapper scripts separately for each of the files. Should I add need rules for them?

[2018-06-15 00:16] snowleopard commented on #540
I finished merging all package-specific arguments into `Settings/Packages.hs` in #622.

[2018-06-15 08:39] chitrak7 commented on #187
@snowleopard Also, I wish to know what you mean when you say don't trust library ways? We are not generating library ways anywhere.

[2018-06-15 08:40] chitrak7 commented on #556
With #621 We can close this now @snowleopard ?

[2018-06-15 10:02] chitrak7 commented on #617
#623 Implements this.

[2018-06-15 14:32] snowleopard commented on #556
@chitrak7 Let me give this a try. I'll close the issue if everything works as expected.

[2018-06-15 14:34] snowleopard commented on #556
@alpmestan By the way, what do you think -- does #621 provide enough functionality?

[2018-06-15 14:36] snowleopard commented on #187
@chitrak7 The idea here is that if you are working on a particular GHC component, say the `base` library, you can run `build test` from the `base` folder, perhaps with some additional flag, and it will run tests only for the `base` library. This is a lower priority feature.

[2018-06-15 16:48] alpmestan commented on #556
Yes, AFAICT. #621 gives us `--test-compiler`, which when set to `stage1` and in conjuction with `--only` gives us what the title of this issue is about. Closing this issue.

[2018-06-15 16:48] #556 closed

[2018-06-15 17:11] snowleopard commented on #556
@alpmestan Awesome, thanks!

[2018-06-15 17:12] snowleopard commented on #556
And also thanks to @chitrak7, of course!

[2018-06-15 19:03] chitrak7 opened #626 "Build Profiling and Dynamic Ways for libraries"
We need Profiling and Dynamic Ways to pass validation. These ways are required for ghci, base and rts.
@snowleopard  @alpmestan

[2018-06-15 19:05] chitrak7 commented on #626
I tried doing this but this is not working.
`needTestsuiteBuilders :: Action ()
needTestsuiteBuilders = do
    targets <- mapM (needfile Stage1) =<< testsuitePackages
    need targets
  where
    needfile :: Stage -> Package -> Action FilePath
    needfile stage pkg
      | isLibrary pkg = pkgConfFile (Context stage pkg profilingDynamic)
      | otherwise = programPath =<< programContext stage pkg

[2018-06-15 19:31] chitrak7 commented on #626
`SUMMARY for test run started at Sat Jun 16 00:37:07 2018 IST`
` 0:19:36 spent to go through`
 `   6418 total tests, which gave rise to`
 `  23606 test cases, of which`
 `  17251 were skipped`
` `
 `     28 had missing libraries`
 `   6178 expected passes`
 `     91 expected failures`
` `
 `      0 caused framework failures`
 `      0 caused framework warnings`
 `      0 unexpected passes`
 `

[2018-06-17 18:52] chitrak7 commented on #626
`/home/chitrak/ghc/_build/stage1/lib/../lib/x86_64-linux-ghc-8.5.20180616/rts-1.0/libHSrts-1.0_thr_l.a(GC.thr_l_o)(.text+0xb): error: undefined reference to 'evacuate'
/home/chitrak/ghc/_build/stage1/lib/../lib/x86_64-linux-ghc-8.5.20180616/rts-1.0/libHSrts-1.0_thr_l.a(GC.thr_l_o)(.text+0x43): error: undefined reference to 'scavenge_loop'
/home/chitrak/ghc/_build/stage1/lib/../lib/x86_64-linux-ghc

[2018-06-18 07:53] chitrak7 opened #629 "Build fails with integer simple"
I think it has something to do with this commit
[https://github.com/ghc/ghc/commit/fe770c211631e7b4c9b0b1e88ef9b6046c6585ef](url)

[2018-06-18 08:29] alpmestan commented on #629
Indeed, here's the code introducing the error message that we're seeing: https://github.com/ghc/ghc/commit/fe770c211631e7b4c9b0b1e88ef9b6046c6585ef#diff-6e194c689dd071b72b0bf8b07f301fb3R1572

[2018-06-18 09:17] sighingnow commented on #629
I have tested with ghc-8.4.2, both the `default` flavor and the `quickest` flavor`. The only difference to build the stage1 library `base` is the optimization level.

+ For `default`, we pass `-O2` to `stage0/bin/ghc`
+ For `quickest`, we pass `-O0` to `stage0/bin/ghc`

The panic only occurs when building with `quickest` flavor.

**If we build the `GHC/Natural.o` with `-O` (or `-O2`), then rebuild

[2018-06-18 09:29] sighingnow commented on #629
I have reported this issue to GHC: https://phabricator.haskell.org/rGHCfe770c211631e7b4c9b0b1e88ef9b6046c6585ef#80828

[2018-06-18 10:28] snowleopard commented on #626
@chitrak7 @alpmestan Perhaps, there should be a special `test` build flavour? This may simplify the logic for setting up the right ways, as well as selecting the right collection of packages to build.

[2018-06-18 10:43] chitrak7 commented on #626
But still, by changing the context of libraries, these ways should be built. But it is not.

This is how I modified the rule for libraries needed. But still dynamic ways were not supported.

[2018-06-18 10:48] snowleopard commented on #626
I'm copying my comment in one of the PRs here:

[2018-06-18 13:33] alpmestan opened #630 "Extending CI for keeping an eye on more rules"
Hello,

Our CI currently "only" goes as far as building a stage 2 compiler and having it evaluate a trivial expression.  I am well aware that Travis has some time limits for open-source projects, but then I looked at the timings reported for a very recent run (https://travis-ci.org/snowleopard/hadrian/builds/393394592) and realized that  the complete `quickest` build that succeeds there takes arou

[2018-06-18 13:39] snowleopard commented on #630
@alpmestan Unfortunately the time limit is 50 minutes, so we can't really pack anything in.

Are you aware of @izgzhen's Hadrian's Wall project?

https://github.com/monad-systems/hadrians-wall

I think what you suggest was exactly the motivation for Hadrian's Wall.

[2018-06-18 13:48] alpmestan commented on #630
Oh indeed that seems rather relevant! In that case... @izgzhen thoughts on my suggestion? :)

[2018-06-18 14:11] snowleopard commented on #629
@sighingnow Many thanks for reporting and finding a workaround. If there is no quick fix in GHC, we can add `-O` just when building `Natural.o`.

[2018-06-18 14:38] izgzhen commented on #630
@alpmestan Thanks for the comment!

I think it is _unrealistic_ to rely on free services like Travis for long time tasks. Either we pay for it, or we _crowd-build_ it. I am pursing after the second goal, but it took time to implement so the project progress is always sloppy. It has two problems: 1. insufficient automation to make it easy to setup (I want to contribute my computing power but not hu

[2018-06-18 14:59] alpmestan commented on #630
There's no more caching we can do, is there? The CI script seems to cache ~/.cabal and ~/.ghc.

[2018-06-18 15:00] alpmestan commented on #630
@izgzhen Regarding resources etc, I think it's best if I just let @bgamari comment on this.

[2018-06-18 15:27] izgzhen commented on #630
w.r.t. computation resource, let's see we test three major platforms for now, up to five configurations, avg. running time 2hr (single core), and let do nightly build for now. It means that we need 3 * 5 * 2 * 1 = 30 hr per day. If we can parallelize it by two, then it can be finished within the time window.

[2018-06-18 15:30] sighingnow commented on #629
If we build the `GHC.Natural` with `-O0 -fno-omit-interface-pragmas` and build `GHC.Num` with `-O0 -fno-ignore-interface-pragmas`, the panic disappears.

[2018-06-18 15:43] alpmestan commented on #629
Reported on Trac: https://ghc.haskell.org/trac/ghc/ticket/15286#ticket

Ben has started looking into this a little earlier today.

[2018-06-18 15:45] sighingnow commented on #629
I have left some comments under the ticket, may be helpful.

[2018-06-18 16:32] alpmestan commented on #629
Yes they are, thanks a lot @sighingnow!

[2018-06-19 11:41] chitrak7 opened #631 "Build fails with Error: Data.Binary.Get.runGet at position 362: not enough bytes"
@snowleopard
As I was trying to rebase, I ran across this error.
Error when running Shake build system:
* _build/stage1/lib/bin/unlit
* OracleQ (PackageDataFile (Context {stage = Stage1, package = Package {pkgLanguage = Haskell, pkgType = Program, pkgName = "unlit", pkgPath = "utils/unlit"}, way = v}))
* _build/stage1/utils/unlit/setup-config
* _build/stage0/lib/bin/unlit
* OracleQ (PackageDataFil

[2018-06-19 12:17] sighingnow commented on #631
PR #627 added a new filed `mainIs` to `PackageData`. You need do `hadrian clean`, then rebuild hadrian and  build ghc with hadrian from scratch.

[2018-06-19 12:55] snowleopard commented on #631
@sighingnow Thanks! Looks like this is indeed the reason.

@chitrak7 Can you confirm if this worked?

[2018-06-19 12:59] chitrak7 commented on #631
yes, running clean removed the errors.

[2018-06-19 12:59] #631 closed

[2018-06-20 12:56] alpmestan commented on #626
Is this really addressed yet? I don't think so.

[2018-06-20 13:07] snowleopard commented on #626
Oops, I think this got auto-closed when merging the PR.

[2018-06-20 15:39] chitrak7 commented on #219
@alpmestan @snowleopard Can we close this issue now? Or is there still some work required?

[2018-06-20 16:08] alpmestan commented on #219
@chitrak7 Do we want to be a little smarter in the bindist code as well, like we're planning to do in the testsuite? And just `need` whatever ways and packages and what not are dictated by the `Flavour`, instead of assuming just vanilla or any other arbitrary choice like that?

Maybe @bgamari has an opinion on this?

[2018-06-20 16:22] chitrak7 commented on #219
@alpmestan I think binary distributions do not allow this level of customization. Having said that, I just checked with ghc-8.4.2 binary and saw that we need dynamic libraries too, as well as more rts ways. So maybe we build the binary distribution adding all these ways. We can make a bindist flavour and build that, but should need not provide customization of flags.

[2018-06-20 16:33] alpmestan commented on #219
Yes we need vanilla, profiling and dynamic at the very least I think.

[2018-06-20 17:17] chitrak7 commented on #219
I think we need to solve #626 before we can address this.

[2018-06-20 17:21] chitrak7 commented on #626
@alpmestan @angerman I still couldn't figure out how Hadrian makes flags while running cabal. I believe that the flags are built based on the flavor supplied and not depending on the package context, causing errors.
@snowleopard Can you look into the dead code that you mentioned. Removing it can make the process much simpler.

[2018-06-20 17:51] alpmestan commented on #626
Have you taken a look at `Settings.Builders.GhcCabal` ?

[2018-06-20 18:03] chitrak7 commented on #626
@alpmestan Yes, I did. I made some changes in this file in #628 also. But they didn't seem to work.

[2018-06-20 20:59] alpmestan commented on #626
I need some more details to be able to help you out here. Could you perhaps isolate those changes and show us the patch, telling us what did not work as expected?

[2018-06-21 00:33] snowleopard commented on #626
@alpmestan Isn't this just dead code? We got rid of the dependency on `ghc-cabal`, so we no longer need this particular file, hence I was planning to remove it, but haven't got around to it yet.

[2018-06-21 01:20] angerman commented on #626
I doubt that `GhcCabal` in itself is dead. There is some unfortunate(?) reuse of the `GhcCabal` builder for argument collection.  The actual configuration happens in
https://github.com/snowleopard/hadrian/blob/f3192439950ba3a3af58410c331d2492322dd4ab/src/Hadrian/Haskell/Cabal/Parse.hs#L118-L160

In general the `ghcCabal` package is dead, as well as any `ghc-cabal`/`package-data.mk` logic.

[2018-06-21 15:49] snowleopard commented on #626
@angerman I think we should drop the `GhcCabal` builder and move all Cabal-related arguments to `CabalFlags`. That would make it easier to understand what's going on.

[2018-06-22 00:46] angerman commented on #626
Well, we could rename `GhcCabal` to `CabalArgs` or something, but `CabalFlags` represents what `cabal` calls `flags`, e.g. `-fXXX`, or `-f-YYY`.

So we won't be able to flatten both.

[2018-06-22 21:29] snowleopard commented on #626
Well, we won't be able to flatten expressions, but I don't think we need a separate builder. Anyway, I will look into this -- this has been on my todo list for a while.

[2018-06-22 21:36] #524 closed

[2018-06-22 21:37] #463 closed

[2018-06-22 22:03] snowleopard opened #634 "Build failure: ././tools/derive: getDirectoryContents:openDirStream: does not exist"
We are currently seeing build failures on all CI bots:
[code]

[2018-06-22 22:32] snowleopard commented on #634
@alpmestan Thanks! Yes, I've also been wondering if these commits are to blame. I'll try to find a fix during the weekend.

[2018-06-23 08:43] chitrak7 commented on #634
I think this is because ghc is migrating to 8.6. Even the default make build is failing in my system. Maybe we should just wait for a while.

[2018-06-23 08:45] chitrak7 commented on #634
Even the make build is failing. I think its just because of some changes in ghc and nothing to do with hadrian.

[2018-06-23 10:10] snowleopard commented on #634
@chitrak7 Yes, I agree, let's wait for a couple of days.

[2018-06-23 11:09] alpmestan commented on #634
It's a bit odd. Last night `./validate --slow` run on Circle CI was green: https://circleci.com/gh/ghc/ghc/6389

But I have indeed seen the issue from the first comment when using hadrian yesterday.

I tried building the commit `33724fc754 Remove -Wamp flag` (tip of master when I started) with both, with the `quickest` flavour.

- Fails with hadrian, same error as in the first comment of this issu

[2018-06-23 11:23] snowleopard commented on #634
@alpmestan I've also reproduced on my machine. The problem occurs when configuring the `binary` package, which contains the following in the Cabal file:
[code]
I'm not sure how GHC version changes could possibly be relevant...

[2018-06-23 13:28] alpmestan commented on #634
Well, have we bumped Cabal by chance? Maybe that introduced a problem. So basically, it's looking for this `libraries/binary/tools/derive/` directory, but at the wrong place? Any chance you can print the CWD when the configuring takes place?

[2018-06-23 16:02] chitrak7 commented on #626
@alpmestan This is how I tried to change the code for GhcCabal. Earlier, it would only look at flavour ways, but I added contextWay option as well. Looks like unfortunately this is not working.
[code]

@snowleopard We are only using GhcCabal once, that too only to compute args. It is better to remove the builder and make args separately. Will certainly reduce the confusion. Should I create an issu

[2018-06-23 16:28] snowleopard commented on #626
@chitrak7 Yes, I think the removal of `GhcCabal` builder deserves a separate issue. Please create one!

[2018-06-23 17:59] chitrak7 opened #635 "Remove GhcCabal buider"
With #531, GhcCabal builder has become redundant. We have to remove the builder and generate arguments separately.

[2018-06-23 18:01] chitrak7 commented on #217
@snowleopard I am planning to work on this issue. Can you update me with any progress/ideas that you have in this regards.

[2018-06-25 10:39] alpmestan commented on #634
I can confirm the breakage got introduced in https://github.com/ghc/ghc/commit/c35ad6e0b3c62976e6251f1e9c47fe83ff15f4ce. I suspect it's the Cabal bump that's to blame. I'll try "un-bumping" it while keeping everything else the same.

[2018-06-25 11:08] alpmestan commented on #634
Here's the history of commits between pre-bump Cabal and post-bump Cabal:

[code]

[2018-06-25 11:17] alpmestan commented on #634
And indeed, if I build against b8c4ce3da, the pre-bump commit of Cabal, I don't get the error.

[2018-06-25 11:18] snowleopard commented on #634
@alpmestan Many thanks for digging into this. Perhaps we could bisect to the offending commit?

[2018-06-25 11:18] alpmestan commented on #634
Yes, looking into precisely this right now.

[2018-06-25 11:51] snowleopard commented on #634
@alpmestan Changing the Cabal file to avoid using the wildcard fixes the problem:
[code]

Unfortunately, there other packages are broken too -- the next failure is with `hsc2hs` which has:
[code]

[2018-06-25 12:20] angerman commented on #634
Aren’t we building hadrian against the same Cabal lib we build GHC with? I thought the cabal new-build script did that?

We should in any case make sure we build hadrian against lib:Cabal in the same version we build it into GHC.

I fear we will run into various issues again and again if we don’t.  GHc and lib:Cabal are developed in symbiosis and it happens time and again that ghc depends on featu

[2018-06-25 14:08] alpmestan commented on #634
hadrian is built against the in-tree `Cabal` from `./libraries/Cabal/` so presumably hadrian uses it all the time for all its Cabal needs. So you're saying this could be a problem when using the boot GHC to build stage 1? If not, then I don't understand what you're hinting at.

[2018-06-25 14:54] angerman commented on #634
Yes, that one should be good. I was just afraid we might somehow build hadrian against the lib:Cabal that the bootstrap compiler provides.

[2018-06-25 16:30] alpmestan commented on #634
It's the switch from

[code]
to
[code]

that makes this error message appear for me. Before that second commit, the build fails further down the road, with a complain about an unsuitable version of containers (which make sense, my whole GHC tree but Cabal are set to that commit where Ben bumped it, but then with all those commits, I'm back to a Cabal that doesn't support that just yet).

This seem

[2018-06-26 13:06] alpmestan commented on #634
[code]

gets me a little further, but it looks like all of a sudden we just can't rely on Cabal to reliably figure out where to look for things when we're not calling it from the same directory where the .cabal file resides?

I end up with:

[code]

Here, Cabal fails to find the `configure` script at the root of the terminfo directory, because I'm running it from the top of my ghc source tree. I'm

[2018-06-26 14:46] snowleopard commented on #634
@alpmestan I remember we had similar issues when initially trying to get rid of `ghc-cabal`, but then somehow @angerman managed to make everything work.

Presumably, Make works because it still uses `ghc-cabal` which can change the current directory. I think we cannot do the same, since this would mess up the current directory of other parallel Shake threads.

[2018-06-26 14:51] snowleopard commented on #634
Sorry, I don't think I can offer anything more useful, since I also don't know how Cabal works and why it has suddenly stopped working well with Hadrian. Perhaps, @hvr can shed some light on this? Let me also CC @quasicomputational who made the commit https://github.com/haskell/cabal/commit/e4294f3196f7b810db601ffbaa02b6538620b4b4 which seems to be the issue.

[2018-06-26 15:17] chitrak7 opened #636 "Configure libraries according to build flavour/target."
Currently, we configure libraries in package rules and they are configured in vanilla context. I think we should remove all instaces of vanilla context and replace them with flavors that they are built in or the targets.

This approach is not only confusing but creates a lot of errors. I think we should use input flavours even in the default target(stage1).
@angerman @snowleopard @alpmestan @izgzh

[2018-06-26 15:20] chitrak7 commented on #636
This issue also addresses the issue with #626 .

[2018-06-26 15:32] quasicomputational commented on #634
Thanks for the ping. I managed to break Cabal's `master` for a few weeks that would cause a similar error, but this looks like a slightly different thing since `data-files` isn't involved (right?).

Would it be possible to run Cabal with `-vdebug` (or pass `debug` as the verbosity to whatever function is being called) and dump the output from just before the error? There should be an "Expanding gl

[2018-06-26 15:50] quasicomputational commented on #634
Aha. `checkPackageFiles` is called from `Distribution.Simple.Configure` with a `"."` argument. That would definitely fit with the evidence as the cause.

[2018-06-26 15:59] snowleopard commented on #634
@quasicomputational Many thanks for having a look so quickly! Do you think you can fix this in Cabal?

[2018-06-26 16:11] quasicomputational commented on #634
Looks like a simple fix (famous last words). I'll try to get it tested and prepare a PR today, and then I think you'll need GHCHQ to bump the Cabal submodule once that's merged, right?

[2018-06-26 16:14] snowleopard commented on #634
Thanks! Yes, that would be great. You can also test your fix locally by trying to build GHC with Hadrian -- happy to help with this.

[2018-06-26 16:49] alpmestan commented on #634
Same here. Thanks a lot @quasicomputational :-)

[2018-06-26 17:59] quasicomputational commented on #634
I've put up the PR and I'm in the process of verifying it works to fix Hadrian. That might overflow my time tonight and spill out into tomorrow, but feel free to try it out yourselves in the meantime.

[2018-06-26 18:14] quasicomputational commented on #634
OK, I checked that I can reproduce the `getDirectoryContents` error with GHC commit 3d002087dce9c61932dd17047902baa83581f4df and all submodules updated. Then I bumped Cabal to bf5a718a1a26231db6a14aa281a186d641700831, which is the PR's latest commit and so should be fixed, and now I am getting this error:

[code]

I did observe that `binary` successfully built, which suggests that the Cabal proble

[2018-06-26 18:52] snowleopard commented on #634
@quasicomputational It does sound promising that the `binary` package was built successfully!

[2018-06-26 19:24] quasicomputational commented on #634
New failure:

[code]

It does seem to have successfully built the stage-1 compiler, and this error looks unrelated. I think the Cabal thing is definitely fixed.

[2018-06-26 19:28] snowleopard commented on #634
@quasicomputational This means you've managed to build Stage1 GHC, so I think your fix works.

[2018-06-26 21:02] alpmestan commented on #634
Agreed, I don't think this new failure has anything to do with Cabal. @snowleopard In fact it looks rather similar to the findPtr (IIRC) error we've seen recently, I don't remember exactly how you fixed it but this is not a hard one is it?

[2018-06-26 21:07] snowleopard commented on #634
@alpmestan The `findPtr` issue is awaiting a GHC fix, see https://phabricator.haskell.org/D4846. I haven't yet done it because we're facing earlier failures.

The issue encountered by @quasicomputational seems to be new.

[2018-06-26 21:42] bgamari commented on #634
Are you sure? It looks like @quasicomputational is building for i386; is this known to work?

[2018-06-26 21:45] snowleopard commented on #634
@bgamari By "new" I mean it's not related to any currently open Hadrian issues. It might be a non-issue too!

[2018-06-26 22:10] bgamari commented on #634
Ahh, right.

Sadly it is an issue; building on i386 does work with the make build system. That being said, I think I know the cause here: neither i386 nor amd64 should use adjustors (e.g. `ArchHasAdjustorSupport=YES` in the make build system on these platforms).

[2018-06-26 22:12] bgamari commented on #634
Hmm, that being said on its surface Hadrian's logic (`useLibFFIForAdjustors`) looks correct here.

[2018-06-26 22:42] alpmestan commented on #634
@quasicomputational @snowleopard @bgamari `hadrian/build.sh -j4 --flavour=quickest` succeeded here on my nixos system, when using quasicomputational's Cabal branch. :tada:

[2018-06-27 01:57] angerman commented on #634
@quasicomputational

This was lifted maybe half a year or a bit more ago. I’m currently on mobile, so I can’t pull up the relevant cabal PR.

The idea was to drop the CWD global state from cabal, so that you can actually run multiple cabal functions in parallel without needing some form of global lock around CWD management.

This was one of the necessary changes to cabal to even allow dropping ghc

[2018-06-27 07:46] alpmestan commented on #634
So... we're good to go now, yeah?

[2018-06-27 09:12] quasicomputational opened #637 "Linker failure on i386: undefined reference to 'adjustorCode'"
Found in the course of sorting out #634:

[code]

@bgamari said:

[2018-06-27 09:14] quasicomputational commented on #634
I opened up #637 about the failure I saw since we all agree it's something separate to the Cabal problem.

As for being good to go: still need to merge haskell/cabal#5397 and then bump GHC's Cabal submodule. I don't think there's anything to do on the Hadrian side except to continue working around it by making sure the Cabal submodule's not set to a broken commit.

[2018-06-27 10:15] mpickering commented on #551
See https://ghc.haskell.org/trac/ghc/wiki/Building/InGhci

[2018-06-27 14:46] snowleopard commented on #637
@quasicomputational Thanks for creating a separate issue for this. Hopefully, this will be a simple fix.

[2018-06-27 14:54] snowleopard commented on #634
Many thanks all!

@alpmestan Yes, good idea. Presumably it may take some time for the Cabal patch to reach GHC HEAD. Would you like to submit the PR or shall I do that? Happy either way :)

[2018-06-27 15:02] snowleopard commented on #551
@angerman By "rule" do you mean a build rule? Could you clarify how it would look like?

Say, we call it `repl` -- what would `hadrian repl` need to build/do?

[2018-06-27 15:12] mpickering commented on #551
I think that ideally you would also need to build the in-tree `ghc-boot-th` package. I remember some problems with this.

In my mind, calling `hadrian repl` will load a GHCi session with all modules of GHC loaded.

[2018-06-27 15:29] alpmestan commented on #634
@snowleopard I'll do it.

[2018-06-27 15:41] alpmestan commented on #634
PR is up: https://github.com/snowleopard/hadrian/pull/640

[2018-06-28 13:21] snowleopard commented on #634
Thanks to @alpmestan we now have a workaround in CI to use @quasicomputational's patch. I'll keep this issue open so we remember to switch CI back to GHC HEAD.

[2018-07-06 10:23] alpmestan opened #641 "New linker error - relocation truncated to fit: R_X86_64_32S against `r7Eh_bytes'"
On NixOS, from a clean tree, in a [ghc.nix shell](https://github.com/alpmestan/ghc.nix), when building ghc master with hadrian master with the Cabal submodule tweaked, I encounter the following error when linking the stage 2 GHC:

[code]

Has anyone else seen this?

[2018-07-06 11:17] angerman commented on #641
I’ve been talking with someone about the `relocation truncated` stuff a few weeks back. @Mistuke, @bgamari, @hvr?

[2018-07-06 13:49] bgamari commented on #641
This is rather mysterious; what build flavour is being used here? Does `-fPIC` make it into the compiler command line?

[2018-07-08 12:29] quasicomputational commented on #634
I've pushed the fix to Cabal master and opened https://ghc.haskell.org/trac/ghc/ticket/15353 asking for a submodule bump. Once that's done, the only thing left is ripping out the CI hack.

[2018-07-08 19:52] alpmestan commented on #634
Great, thank you!

[2018-07-09 10:31] alpmestan commented on #641
This does not happen on CI and therefore quite likely is specific to my setup.

[2018-07-09 15:10] ndmitchell commented on #515
I just stumbled across this problem again, and then manually derived the same solution. If a fix isn't going to go upstream (which I think it should @bgamari) then having a local hack in Hadrian will reduce the number of times I have to re-solve this.

[2018-07-09 15:19] ndmitchell commented on #515
Patched in https://github.com/ghc/ghc/pull/164.

[2018-07-12 16:44] alpmestan opened #642 "Support GHCi debugger with -fexternal-interpreter"
See https://phabricator.haskell.org/D4955#inline-38448.

[2018-07-14 19:05] bgamari opened #643 "[Task] Test Hadrian on i386"
Some comments in #634 suggest that Hadrian's treatment of adjustors may be broken. We should test on i386 to make sure this configuration works.

[2018-07-15 07:51] osa1 opened #644 "Clean GHC clone, "getDirectoryContents: does not exist" error"
I just did a `git pull`, `make distclean`, `git clean -f` etc. and my tree is clean. However after `./boot` and `./configure`, `./hadrian/build.sh` fails with this:

[code]

Not sure if relevant but cabal version:

[code]

[2018-07-15 10:40] alpmestan commented on #644
This is a bug in Cabal, tracked in https://github.com/snowleopard/hadrian/issues/634 -- we also give instructions (that our CI uses) to use the right Cabal branch, until the patch propagates to Cabal and then to GHC head.

[2018-07-15 11:44] snowleopard commented on #644
Thanks @alpmestan!

@osa1 Hopefully, Cabal will be soon fixed upstream, but in the meanwhile you can bump your Cabal library locally. I'm closing this, but if you need further help, don't hesitate to get in touch!

[2018-07-15 11:44] #644 closed

[2018-07-15 11:46] snowleopard commented on #643
@bgamari Thanks, I agree. Can anyone with access to a `i386` machine give this try?

[2018-07-17 09:31] ndmitchell commented on #515
Fixed upstream!

[2018-07-17 09:31] #515 closed

[2018-07-17 10:08] snowleopard commented on #515
:tada: Thanks Neil!

[2018-07-18 12:53] alpmestan commented on #642
Should we pass that flag to the `CabalFlags` builder or to the `GhcCabal Conf` one?

[2018-07-18 13:13] snowleopard commented on #642
@alpmestan I'd like to get rid of `CabalFlags` at some point (hope to find time for this soon!), so I'd prefer to start switching over to `GhcCabal Conf` which is more consistent with the rest of the infrastructure. But if doing it using `CabalFlags` is much easier, go for it :)

[2018-07-19 01:26] sgillespie opened #645 "nixos: can't find a package database"
I'm not sure what happened, but I can't seem to run nix-shell in `./hadrian` anymore (same behavior occurs with ./hadrian/build.nix.sh)

[code]

Indeed there is no `$HOME/.cabal/store/ghc-8.2.2/packages.db`

[2018-07-19 04:45] mgsloan commented on #551
FYI I am looking into adding this to hadrian.  Whatever I come up with will likely depend on D4904 being merged.

[2018-07-19 08:22] alpmestan commented on #551
Feel free to use this issue for asking questions about problems encountered while trying to implement this, if any. And thanks, because this should be quite useful. I'll make sure to documet the ghci command [here](https://ghc.haskell.org/trac/ghc/wiki/Building/Hadrian/QuickStart) once you're done.

[2018-07-19 08:30] mgsloan commented on #551
Not going to get around to adding this to hadrian tonight, sorry!  Might revisit.  I couldn't get hadrian to work - first I ran into https://github.com/snowleopard/hadrian/issues/631 - but then I realized I was using the ghc submodule version of hadrian.  Then I ran into https://github.com/snowleopard/hadrian/issues/634 , so I switched back to standrard old `make`, but then I had issues with that

[2018-07-19 08:39] mgsloan opened #647 "Ghc's hadrian submodule should probably be updated or removed"
Seems like the hadrian submodule is lagging behind such that crucial fixes to things like https://github.com/snowleopard/hadrian/issues/631 aren't there.  This was quite a puzzling error to run into!

It's particularly tricky because  I /had/ checked out the master version of hadrian but of course it got reset as soon as I switched branches and updated submodules.

Perhaps it would make sense to r

[2018-07-19 08:41] mgsloan commented on #647
Also it is not immediately clear that this is the real home of hadrian instead of https://github.com/ghc/hadrian

[2018-07-19 08:48] mgsloan commented on #634
Because finding the workaround above took me a bit of time, here it is with an H1 above it, and as the last comment on the issue (currently)

# The Workaround: patched Cabal submodule

[code]

[2018-07-19 08:49] alpmestan commented on #647
We definitely plan on validating through hadrian in GHC's CI at some point. We are well on our way to accomplishing this, but are not quite there yet. The testsuite rules are still not really polished, a lot of tests are not running correctly.

[2018-07-19 08:58] mgsloan commented on #647
Ah, I see, makes sense!  Yeah, I really don't know the state of things, so just bringing up some ideas.  Another such idea is having CI check buildability via hadrian but not yet requiring that the tests work?

[2018-07-19 09:56] alpmestan commented on #647
That's what hadrian's CI does, and something we also do in GHC's Circle CI jobs on a nightly basis (not against hadrian master though). An example from last night can be seen [here](https://circleci.com/gh/ghc/ghc/7269). This is however not linked to phabricator (yet).

Anyway, all of this to say that we're in the process of putting the pieces together to make sure that GHC and hadrian stay in syn

[2018-07-19 12:17] bgamari commented on #645
Is it possible that there is a `.ghc.environment` file in `./hadrian`?

[2018-07-20 01:53] sgillespie commented on #645
Yes I did. `git clean -fdx` in the submodule fixed it for me

[2018-07-20 01:53] #645 closed

[2018-07-20 13:15] alpmestan commented on #642
Done in #648.

[2018-07-20 13:15] #642 closed

[2018-07-26 13:17] alpmestan commented on #641
Hmmm. I suspect that in fact it will happen whenever the flavour includes a dynamic-enabled way. So I don't see the error with `--flavour=quickest` (which CI uses too) but I do see it with `perf` or the default flavour. But for the testsuite it is rather important to have plenty of ways handy.

Would the following bit of code from `src/Settings/Builders/Ghc.hs` be to blame?

[code]

[2018-07-26 13:36] alpmestan commented on #641
Or maybe it's `ghcLinkArgs` that's to blame?

[code]

[2018-07-26 13:41] snowleopard commented on #641
This comes from here:

https://github.com/ghc/ghc/blob/0a3629af36e89de73b7012c726fd533c4c5460fb/rules/build-package-way.mk#L66

It does seem that Hadrian may be missing the `ifneq "$$(TargetOS_CPP)" "mingw32"` condition, but I guess this is not related to your issue.

Note also the `ifeq "$3" "dyn"` condition above.

[2018-07-26 18:00] snowleopard commented on #641
@alpmestan I'm afraid I don't know a lot about dynamic linking. Perhaps @izgzhen could help -- he was working on implementing support for the dynamic way in #4.

[2018-07-26 22:11] snowleopard commented on #461
@bgamari Do you know if there is any difference in command line arguments passed to various builders when building Stage2 and Stage3? If no, I think one could try to build Stage3 GHC simply by asking Hadrian to build the right target.

P.S.: My current Hadrian set up is broken due to the Cabal bug in #634, so I haven't build GHC for a while. Somehow the workaround used by CI didn't work for me, bu

[2018-07-27 15:19] bgamari commented on #641
I have seen this on Debian/amd64.

[2018-07-27 15:49] bgamari commented on #641
The fact that the compilation command line of `Main.hs` doesn't have `-fPIC` is quite suspicious. I believe GHC will add `-fPIC` when building in the dynamic way, but it's suspicious nevertheless. This might be a good place to start looking; in general this feels like an issue of a missing `-fPIC`.

[2018-07-27 16:17] snowleopard commented on #641
@bgamari Thanks! Perhaps, the solution is to simply add `wayGhcArgs` to `ghcLinkArgs`? At the moment, it looks like `wayGhcArgs` are only included when compiling with GHC, otherwise `-fPIC` would appear in the command line in question.

@alpmestan Could you give this a try? Essentially, change this:

[code]
to:
[code]

[2018-07-28 04:39] alpmestan commented on #634
@bgamari This issue is fixed by a Cabal PR that has hit the master branch of Cabal, but the Cabal submodule has not been updated yet. Are there somewhat strict rules for bumping `libraries/Cabal/` or should I just feel free to go ahead and create a diff? Or perhaps we need @hvr or others to be involved.

[2018-07-28 10:13] alpmestan commented on #641
@snowleopard This is what I get with your change:

[code]

[2018-07-28 10:55] snowleopard commented on #641
@alpmestan I don't think the error is related to my change: it only adds some new command line flags, whereas the error says there is no build rule for `_tmp/stage1/lib/x86_64-linux-ghc-8.7.20180724/ghc-prim-0.5.3/GHC/Magic.dyn_hi`.

[2018-07-28 10:58] snowleopard commented on #641
Or perhaps, Hadrian doesn't know how to build `dyn_hi` files at all? I find this strange since, since that was presumably implemented/tested in @izgzhen's work on dynamic way.

[2018-07-28 11:10] alpmestan commented on #641
I hadn't seen that error before, that's for sure. So I'm thinking your change somehow revealed this problem. Anyway, @izgzhen's input will be very valuable here.

[2018-07-30 15:50] alpmestan commented on #634
I opened https://phabricator.haskell.org/D5024 to bump the submodule. Let's see how that goes.

[2018-07-31 16:33] alpmestan opened #649 "Allow execution of stage2 compiler to happen "later""
@bgamari brought up [this ticket](https://ghc.haskell.org/trac/ghc/ticket/15448#ticket) in a discussion we were having, and to be entirely honest this is quite likely something we want to implement in hadrian rather than the make build system. Reproducing the summary of the ticket to save everyone a click:

[2018-07-31 21:45] #634 closed

[2018-07-31 21:48] snowleopard commented on #634
Many thanks to everyone, this is now resolved! 🎉

[2018-08-09 11:38] ndmitchell opened #652 "Fail to build with zero.o"
I got the error message:

[code]

It did not repeat when I rebuilt. On Windows.

[2018-08-09 11:40] ndmitchell opened #653 "Build with --quickest didn't produce stage1/touchy"
I built with `hadrian\build.bat -j --flavour=quickest --configure`. I then tried to start `ghci` and got:

[code]

I copied `touchy` from `stage0` to `stage1` and it worked. Does Hadrian ever build touchy in stage1? Should it do so in quickest?

[2018-08-09 21:34] snowleopard commented on #653
Aha, I didn't realise we need both binaries. We can surely build both, it should be a simple change in `GHC`/`GHC.Packages`.

There is also this issue: https://github.com/snowleopard/hadrian/issues/595. Do we need to build `unlit` twice too? If yes, we should close it.

[2018-08-09 21:40] snowleopard commented on #652
Did this happen during the build or linting? This does happen (with random object files), albeit very rarely, and I think typically during linting. Seems like a concurrency bug.

I don't think it's Windows specific. I think I've seen Travis CI bots failing similarly.

[2018-08-10 12:54] ndmitchell commented on #551
See https://github.com/ghc/ghc/pull/179 which solves this ticket.

[2018-08-10 14:15] ndmitchell commented on #652
Hmm, could be. If so it would be a weird bug, perhaps even one in GHC itself...

[2018-08-10 21:40] ndmitchell opened #654 "_build/stage0/bin/ghc.exe misses dependency"
To reproduce, modify `Parser.y` to change one of the productions to `undefined`. Observe that `_build/stage0/bin/ghc.exe` doesn't rebuild.

The reason is the dependency chain reads:

* `_build/stage0/bin/ghc.exe`
* `_build/stage0/lib/package.conf.d/ghc-8.7.conf`
* `_build/stage0/compiler/build/libHSghc-8.7.a`

When I modify `Parser.y` the build trickles all the way up so `libHSghc-8.7.a` changes,

[2018-08-10 21:41] ndmitchell commented on #654
(I expect it also happens with at least the stage1/stage2 GHC binaries, and probably lots of other things...)

[2018-08-11 01:03] angerman commented on #654
Doesn’t that change the modification time? Is that insufficient to trigger invalidation?

—-

What we need to do then is to actually read the conf file and depend on all the referenced libraries from within?

[2018-08-11 02:48] ndmitchell commented on #654
@angerman Hadrian explicitly sets ChangeModtimeAndDigest in https://github.com/snowleopard/hadrian/blob/master/src/Main.hs which means it is only considered changed if the contents change.

[2018-08-11 03:49] angerman commented on #654
@ndmitchell I see. Just to inline the code for everyone to see on github here we go:
https://github.com/snowleopard/hadrian/blob/4265e3aab7df92722b81148cf8bf3954ebfc2d21/src/Main.hs#L34-L40

Do we know what the impact on hadrian is when we allow modification time to trigger rebuilds?

All that said, I'm not much a fan of adding explicit dependencies to all targets. If we would automate that by rea

[2018-08-11 11:59] snowleopard commented on #654
@angerman The improvements thanks to using digests instead of modtimes are significant, e.g. see the last section of the Hadrian paper.

Parsing `conf` sounds plausible but complicated. Adding explicit dependencies is a simple baseline solution that, I think, should be preferred. There aren't too many of such dependencies anyway, are there?

[2018-08-11 12:05] ndmitchell commented on #654
If you don't work with digests you aren't going to work with cloud caching - so it's worth getting it right as is.

[2018-08-13 11:46] ndmitchell commented on #614
The fact this is broken is a little sad... I just had to go in and patch the file manually.

[2018-08-13 11:55] ndmitchell opened #655 "Rules for rts/rts.cabal are broken"
Two observations:

* Changing `rts/rts.cabal.in` doesn't seem to change `rts/rts.cabal`.
* Deleting `rts/rts.cabal` and then rebuilding results in a complaint that the rule that was meant to produce `rts.cabal` didn't.

Seems like there's a few issues around there? This is on Mac with the `--configure` argument not set.

Reason for wanting to tweak `rts.cabal.in` after the fact was #614.

[2018-08-13 12:05] snowleopard commented on #655
To produce `rts.cabal` from `rts.cabal.in` we need to run the configure script, but a few people demanded the corresponding rule to be locked behind the `--configure` flag.

So, this is not a bug but rather an unfortunate and bad (in my opinion) design decision. I'm happy to unlock the configure rule but regularly going back and forth on this is a bit silly. We should finally make this decision fo

[2018-08-13 12:09] ndmitchell commented on #655
I must say it's hard to distinguish this behaviour from a bug... And I guess people are also required to know when to rerun the configure script, and what inputs it takes? It seems a bit of a nightmare the way it currently is... Anyway, happy to close this as "expected" behaviour.

[2018-08-16 00:54] angerman commented on #654
I’ll try to get around to this later today. Let’s do this right and parse the dependencies automatically.

Alternatively I could imagine adding additional fields to he config file that more closely trac the contents of the package.

[2018-08-16 07:31] snowleopard commented on #654
@angerman Before you write a lot of new code, could you show an example if the kind of dependency information you'd like to parse? Why is it no available statically? Is it really worth turning it into dynamic?

Hadrian already got a lot more complexity compared to the Make build system, which makes it hard to understand and maintain. We need to be careful about adding more.

[2018-08-16 08:28] snowleopard commented on #654
To clarify the static vs dynamic bit: it's much easier to understand/debug build rules containing

[code]

compared to

[code]

[2018-08-16 09:32] ndmitchell commented on #654
I was assuming there was a 1-1 mapping between `foo.conf` and `libHSfoo.a` - if so parsing seems overkill. Where is it more complex than that?

[2018-08-16 09:44] Mistuke commented on #655
I'd just like to throw my hat in saying that I agree with @angerman , @hvr and @bgamari here.

I hate `autoconf` with a passion, but given that it's there I'd like it to work on the principle of least surprises. Every build system with autoconf I've ever used separates out configuration and building. I would find it very annoying if the build system reconfigured my tree without me asking.

Aside f

[2018-08-16 10:52] ndmitchell commented on #655
@Mistuke how do you concretely suggest solving the problem at the top? How am I to know that changing  `rts/rts.cabal.in` requires a configure? Or alternatively, should it? If we focus on the specific problem here, and how to make it better for me, so I don't screw up again :)

[2018-08-16 10:56] hvr commented on #655
@ndmitchell do what I wanted to do for the makefile-based system already but refrained from (because Hadrian came along and made it seem like wasted effort): let the build-system perform the `x.in` -> `x` transformation, rather than the `./configure` phase; let the `./configure` phase dump all key/value pairs we'd be interested to `@@`-replace into an intermediate key/value mapping text-file.

[2018-08-16 10:58] ndmitchell commented on #655
@hvr sounds good! If the configure output was purely an input (had no significant dependencies on in-source stuff) then it's much easier to do either way.

[2018-08-16 11:01] hvr commented on #655
Are there any significant dependencies to in-source entities you're worried about?

[2018-08-16 11:02] Mistuke commented on #655
@ndmitchell the typical way you solve this is having the build system compare the timestamps on the input and generated file and issue an appropriate warning.

Now whether you want this to be a warning or a hard abort can be a config flag, I assume Hadrian has an equivalent to `build.mk`. Where you can tell it to abort if you want.

[2018-08-16 11:42] angerman commented on #654
Neil, that’s basically what I’m trying to go for. I believe this might get more complicated once cabals multi lib support lands. I’m not sure how fast that would be used within ghc though.

Andrey, I prefer not to have to write any code at all. I do prefer generic rules over hardcoded values as they provide the least surprise when the packages change.  I think hadrian excels at what it does if it

[2018-08-16 12:57] snowleopard commented on #654
I'm not suggesting we hard-code dependencies for each package separately. What we can do now is to simply depend on `pkdLibraryFile`, which we already defined and use elsewhere in the codebase.

Later, if/when Hadrian needs to support multiple libraries per package, we'll just switch to `pkgLibraryFiles`. Sounds simple and generic enough to me. When will this go wrong?

[2018-08-16 20:29] ndmitchell commented on #655
@hvr  `rts.cabal.in` is the one that's tripped me thus far. The fewer the better!

@Mistuke that seems like threading a complex needle. If we go for what @hvr suggested we eliminate the problem at source.

[2018-08-17 07:29] snowleopard commented on #655
I like @hvr's solution. Most of the `@@` settings are already available to Hadrian via `system.config` produced by the configure script, so it's just a matter of adding a rule that does string replacement.

[2018-08-17 07:37] Mistuke commented on #655
@hvr solution just moves the goal post, a person would then modify configure and wonder why the .in file wasn't changed. or modify `configure.ac` and wonder why `configure` didn't work.

You're hacking around a fundamental property of autoconf for very little gain.

I for one, would like an option to turn off this "feature" as I wouldn't trust it with a 10 foot pole.

[2018-08-17 07:58] hvr commented on #655
@Mistuke is right, my suggested solution only addresses part of the problem; specifically the part where you want to optimize the cabal.in -> cabal transformation for whe you're just messing with the `.cabal.in` files and you don't touch the `configure` files; but it's not something that occurs very frequently either...

...*and* once you modify the `configure` scripting, hadrian still ought to wa

[2018-08-17 08:12] snowleopard commented on #655
Yes, I agree. The two solutions are not mutually exclusive. Implementing @hvr's is easier and solves this particular issue, so I don't see any harm in implementing it immediately.

@Mistuke's proposal to introduce warnings for outdated configure-generated files is useful too, but it's not obvious to me what the right implementation is, so perhaps it deserves a separate issue.

[2018-08-17 08:39] ndmitchell commented on #655
@snowleopard I think having `configure` be optional per run _and_ wired through the build system is a bit of a disaster. I'd have it _before_ shake starts up, and just check that the timestamp of the configure output is newer than the timestamp of the configure input. The `--configure` flag really changes the build system itself, so which you might be able to come up with a crazy encoding, it's no

[2018-08-23 09:09] alpmestan commented on #641
He does not seem to be available these days. I'll try and pick this back up, this is really holding hadrian back, along with the `findPtr` issue on OS X.

[2018-08-23 09:11] snowleopard commented on #654
I reproduced and will attempt to fix today.

[2018-08-23 11:28] alpmestan commented on #641
Friends, something is puzzling me here.

So I ran a `--flavour=quick` build again, and it failed when building the stage 2 shared library for ghc, complaining about Unique:

[code]

This is how the shared library for ghc is put together:

[code]

This is how `Unique.dyn_o` is built:

[code]

We can see that Unique.dyn_o _is_ built with `-fPIC`, and that it is used to try and put together the share

[2018-08-23 12:07] alpmestan commented on #641
[code]

In particular, at the offset indicated by the error, I can see:

[code]

... which is not an `R_X86_64_32S` relocation...?!

[2018-08-24 00:15] snowleopard commented on #654
@ndmitchell It turned out that we did have all necessary dependencies, but due to a recently introduced bug they were accidentally dropped. To prevent such regressions in future I added some tests.

#657 solves the issue for me.

[2018-08-24 09:10] alpmestan commented on #641
Ben and I had a chat about this yesterday, and he suggested that I try using `ld.gold` instead of `ld`, in case we were seeing a linker bug. Which I did, and now I'm seeing this error:

[code]

Which isn't a relocation error I've seen before. I'll quite likely `-ddump-asm` and see what code is generated for `r7vr`, looking for that problematic reference to a local symbol. Hopefully we'll see somet

[2018-08-24 09:46] snowleopard commented on #641
@alpmestan I'm afraid I have no idea what's going on here :( I don't even know what relocations are. Could you give a brief higher-level description of the problem or point to where I can read more?

[2018-08-24 09:59] alpmestan commented on #641
@snowleopard https://jvns.ca/blog/2013/12/10/day-40-learning-about-linkers/ has some quite approachable description of the purpose of relocations. And the idea here is that with `ld`, we end up generating a relocation whose target is just waaaaaaaaaaaay outside of the object, because of the huge offset I mentionned above. With `ld.gold`, the story is slightly different as we apparently end up gene

[2018-08-24 10:25] #654 closed

[2018-08-24 10:48] alpmestan commented on #641
Alright, I dumped the assembly, and here are the sections that define `r7vr` info and closure:

[code]

Of particular interest is that line:

[code]

The offset here is the same as the one we saw in the `readelf --relocs` output in an earlier comment of mine, it turns out:

[code]

This would, I suppose, tend to suggest that the native code generator emits bad code?

[2018-08-24 13:05] alpmestan commented on #641
Haha! I dumped the STG (`-ddump-stg`) for our `Unique` module, and the huge offset is already there:

[code]

As well as in the final Core (`-ddump-simpl`), i.e earlier in the pipeline:

[code]

This seems to correspond to a fragment of this piece of Haskell code from `Unique.hs`:

[code]

In particular the `chooseChar62` function. With `n = -9223372036854775804` ?!

[2018-08-24 13:14] bgamari commented on #641
Amazing work, @alpmestan! This is quite interesting indeed; can you by any chance find where `lvl_r7vr` arose from? There is probably a particular callsite of `showUnique` that is responsible.

Of course, `r` should always be in the range of [-61, 61] and no amount of fooling around in `ghci` has shown me a case where this isn't true. Consequently, I strongly suspect we have some bad constant fold

[2018-08-24 13:31] snowleopard commented on #641
@alpmestan Interesting! Are you saying this is a bug in GHC -- `showUnique` is called with `minBound + 4`?

[2018-08-24 13:34] alpmestan commented on #641
@snowleopard We'll soon know. I'm now looking at who's using this result to figure out where the number comes from.

[2018-08-24 13:42] alpmestan commented on #641
Alright, so here is the context in Core:

[code]

In the function using r7vr, we see two branches:

[code]

and

[code]

We can see that `r7vr` is used in that `-9223372036854775808#` branch.

[2018-08-24 14:14] guibou commented on #641
My two cents: is this possible that the recent changes related to constant folding may had rewritten an expression to something which is not overflow free?

[2018-08-24 14:42] alpmestan commented on #641
@guibou Hah! @angerman mentionned this to me earlier today. So... maybe :-) @bgamari thoughts?

[2018-08-24 14:47] snowleopard commented on #641
@guibou @alpmestan Could you link to the "recent changes related to constant folding"? Presumably, there is a ticket/commit somewhere? I'm curious :)

[2018-08-24 15:49] bgamari commented on #641
Yes, I strongly suspect this is the culprit.

[2018-08-24 19:07] alpmestan commented on #641
Alright, so the first time the huge offset appears, it's in a function called `go_s6KF`, defined locally in the Core for `showUnique` initially. At that point, there's no huge number:

[code]

This quite likely corresponds to `iToBase62`, with `GHC.Types.[] @ GHC.Types.Char` being `""` and `go_s6KF` being `go`:

[code]

This function then gets floated out, to the toplevel (I edited the Core to be

[2018-08-24 19:18] alpmestan commented on #641
For the record, these are the rules that fire (constant folding happens through rules):

[code]

[2018-08-24 21:01] alpmestan commented on #641
Alright, so Ben and I found out what's going on, but not down to every detail. The gist of it is that we enter the

[code]

branch of the Int implementation of `quotRem`. Except that GHC doesn't realise early enough there's an error in there and just proceeds with the array indexing. Indeed:

[code]

`q` and `r` in the Haskell code are the two arguments to `$j_s6Oo`. In our minBound case, we jump

[2018-08-24 21:38] alpmestan commented on #641
GHC patch: https://phabricator.haskell.org/D5106

[2018-08-24 22:00] snowleopard commented on #641
Wow, what a bug! Great detective work, @alpmestan and @bgamari :)

[2018-08-25 07:13] edsko commented on #641
:open_mouth:

[2018-08-26 01:32] snowleopard commented on #647
@mgsloan Sorry, I somehow missed this issue. I'm not sure what https://github.com/ghc/hadrian is, and it does look confusing. Is this a mirror of some sort? @bgamari Do you know anything about it?

We do occasionally bump the Hadrian submodule in GHC. We could do this more frequently, but I'm not sure it will be very useful since a few bits and pieces are currently broken anyway.

[2018-08-26 11:02] snowleopard commented on #626
The issue with `GhcCabal` and `CabalFlags` builders has been addressed in #658.

[2018-08-26 11:36] alpmestan commented on #641
Hmm, this is becoming a bit scary: I can't reproduce this with a GHC built by the make build system. I built a `quick`-flavoured GHC with both hadrian and make, from the same commit (except that for hadrian I added the Unique.hs fix, otherwise I can't build GHC to completion). Then I compile this example - extracted from `compiler/basicTypes/Unique.hs`) with both, same options (`-O -fPIC -dynamic

[2018-08-26 13:12] snowleopard commented on #540
I'm moving Haddock and `ghctags` to Stage2, since this is what Make build system does. I haven't found a justification for moving Haddock to Stage2 in #531.

@alpmestan If this is wrong, please shout.

[2018-08-26 13:47] snowleopard commented on #635
Done in #658.

[2018-08-26 13:47] #635 closed

[2018-08-26 17:30] snowleopard commented on #641
@alpmestan @bgamari OK, I found a bug in constant folding.

Here is how to trigger it using GHC 8.6.1-beta1:

[code]

Without optimisation this prints `1`, as expected, but when compiled with `-O` this prints `3`. Crazy!

[2018-08-26 17:39] snowleopard commented on #641
Here is the GHC ticket: https://ghc.haskell.org/trac/ghc/ticket/15569

[2018-08-26 21:46] alpmestan commented on #540
There probably isn't a justification. I don't think this should be a problem. As long as you make sure everything still happily builds, we should be fine :-)

[2018-08-26 22:12] snowleopard commented on #641
@alpmestan Could you check if this issue is resolved with this patch: https://phabricator.haskell.org/D5109?

P.S.: By the way, there is still something odd about the GHC built by Hadrian: I cannot reproduce the bug with it, only with the GHC built by Make.

[2018-08-27 00:32] snowleopard commented on #653
Fixed in #659.

[2018-08-27 00:32] #653 closed

[2018-08-27 00:32] snowleopard commented on #540
@alpmestan Thanks, done :)

[2018-08-27 00:53] snowleopard commented on #641
@alpmestan I'm actually not sure what happened :) The constant folding code looked like an easy way to shoot oneself in the foot, so I meticulously checked every line and found a bug, thinking that it was the underlying cause behind this issue. But now it seems that it may be unrelated! 😮

[2018-08-27 11:32] snowleopard opened #661 "Should Hadrian build ghctags and haddock in Stage1?"
The Make build system needs to build `ghctags` and `haddock` programs in Stage2. For example, see this commit: https://github.com/ghc/ghc/commit/5fb72555f7b7ab67a33583f33ad9160761ca434f.

However, #531 moved `haddock` to Stage1 and it worked fine. I couldn't find an explanation behind the move and reverted this change as part of the cleaning-up-after-531 issue #540. Let's discuss this here.

There

[2018-08-27 23:36] snowleopard commented on #540
I think I'm done with this issue.

The answer to this appears to be "No, we need to keep `buildDir`", since the Cabal library insists on keeping build artefacts in the `build` subdirectory.

[2018-08-27 23:36] #540 closed

[2018-08-29 11:10] snowleopard opened #664 "Documentation broken"
As discovered in #663, the documentation target `docs` is currently broken:
[code]
What's weird is that the file in question `_build/docs/html/haddock-bundle.min.js` does exist! So this looks like some concurrency issue.

[2018-08-29 21:02] snowleopard opened #666 "Custom build root does not work on Windows"
I've tried changing the build root on Windows like this:
[code]
and this:
[code]

But both fail with the following error:
[code]
Clearly we are not handling paths correctly. I suspect we oversimplified our implementation of `-/-`:

https://github.com/snowleopard/hadrian/blob/master/src/Hadrian/Utilities.hs#L133-L140

There is already an issue about `-/-`: #434, but I'm not sure if it's necessarily

[2018-08-29 23:37] snowleopard commented on #664
Fixed in #665.

[2018-08-29 23:37] #664 closed

[2018-08-30 11:14] snowleopard opened #667 "Symlink traversing logic in build scripts"
Hadrian build scripts `build.sh`, `build.cabal.sh` etc contain mysterious (to me) symlink-traversing logic, which may be confusing in certain setups, as reported in https://ghc.haskell.org/trac/ghc/ticket/15576.

@hvr I think this logic was introduced by you. I couldn't recall why. Could you please clarify? Do we still need it? If yes, how do we avoid the confusion as described in the above ticket

[2018-08-30 12:51] alpmestan commented on #667
@hvr on IRC:

[code]

[2018-08-30 13:11] hvr commented on #667
To elaborate a bit; the important bit is that we want `build.cabal.sh` to do the right thing independently on what $PWD currently points to; in order to do that, we need

 1. to make sure that `cabal new-{run,build}` are able to find their (cabal) project root (NB: `cabal new-run` intentionally does *not* change the CWD before invoking the executable)
 2. make sure `hadrian` is able to locate the

[2018-08-30 13:55] snowleopard commented on #667
@hvr Aha, I see. This makes sense, although Hadrian currently doesn't support $PWD-based build targets.

Let's do this! I'm happy to sacrifice the support of older versions of Cabal if need be.

Could you put send a PR?

[2018-08-30 15:59] hvr commented on #667
@snowleopard what about locating the project-root? do we need to change how that is accomplished?

[2018-08-30 16:09] snowleopard commented on #667
@hvr I am tempted to first support only the most basic version of the build script, which assumes that it is run from Hadrian folder, i.e. `hadrian/build.sh ...`.

Later we can think how we can implement more feature-rich interface, which could simply be calling this most basic script with the right parameters.

[2018-08-30 16:26] alpmestan commented on #667
you mean "which assumes that it is run from the top of the GHC source tree" ?

[2018-08-30 17:05] snowleopard commented on #667
Ah, yes, that's right.

[2018-08-30 17:56] hvr commented on #667
that'd be quite a regression compared to `make` which would make me curse quite a lot... :-(

[2018-08-30 18:03] snowleopard commented on #667
Yes, but let's do one step at a time please :)

* Let's have a basic build script living in `hadrian/build.sh`, with zero magic.
* Then I'm happy to introduce more sophisticated versions, perhaps living at the top of the GHC tree that can have all sorts of PWD-detection.

Right now we have none!

[2018-08-30 18:37] hvr commented on #667
@snowleopard fair enough; I've tweaked the script a bit, how does this look?

[code]

There's a few optimization one could consider; like e.g. compiling the local lib:Cabal w/ -O0 (but you'd have to benchmark whether it's tolerable), or possibly injecting `ghc-options: -j` into lib:Cabal

[2018-08-30 18:38] hvr commented on #667
@snowleopard oh and btw, do we need a powershell script for windows? or does windows use bash as well?

[2018-08-30 19:04] snowleopard commented on #667
@hvr Thanks! Why do we need `$PWD`? If this script only supports invocation from GHC root we can just replace it with `..`, can't we?

Indeed, I'll give it a try.

We do have `build.stack.bat` and `build.bat` that use Stack to download MSYS and can be executed from Windows command line, see https://github.com/snowleopard/hadrian/blob/master/doc/windows.md.

[2018-08-30 20:04] alpmestan commented on #667
Yes, sounds like a good idea to me.

[2018-08-30 20:58] hvr commented on #667
Are you sure you really meant to say `..`? That would put you *outside* the GHC source-tree.

Also, it's more robust currently to pass `cabal` an absolute path (I'm suspecting a bug in some cabal versions you may otherwise trigger), and I'd rather play it safe. Is there any problem with being more explicit?

Ok, so we need a `build.cabal.bat` then? I'd really prefer to offer a uniform cabal based

[2018-08-30 21:00] hvr commented on #667
Btw, what's the point of the `hadrian/build.sh` script? couldn't that merely be a symlink to the `build.cabal.sh` script at this point?

[2018-08-30 22:26] snowleopard commented on #667
@hvr Apologies, I later edited it to `.` :)

OK, I'll try your current version then. My only concern is unnecessary complexity. If it is necessary, I'll add a comment about the potential Cabal bug.

Yes, we do. I fully agree about the uniform workflow -- I actually tried to make `build.cabal.bat` work for me on Windows some time ago, but unsuccessfully -- that's why we only have `build.stack.bat`.

[2018-08-30 23:00] snowleopard commented on #667
I have no idea why it is that long. My preference would be to simply call the default script: the Cabal or Stack based one.

I prefer to use plain files if symlinks are avoidable. To me, there is always some additional mental overhead associated with symlinks. (Maybe I'm just wrong.)

[2018-08-31 00:34] snowleopard commented on #667
OK, I put together a PR: #668. Please have a look.

@hvr Regarding `build.cabal.bat` on Windows. Here is what I get when I try to run the same commands as in the `build.sh` script:

[code]
Any idea why this works on Linux but not Windows?

[2018-08-31 15:25] alpmestan opened #669 "GHC testsuite rules status"
I'm creating this issue to track the work on the testsuite rules that I just resumed. Right now, when I run:

[code]

I see a _lot_ of failures.

<details><summary>Test results</summary>

[code]

</details>

Let's get this unexpected failures number down. If it's alright, I will use this issue to report the problems that cause those failures and track PRs that address them, along with the new test

[2018-08-31 16:36] hvr commented on #667
@snowleopard this looks like your package db doesn't contain `text-1.2.3.0`

do you happen to have an old `~/.cabal/config` file? alternatively you could be suffering from the index-reset hackage-security bug we had over new years eve

So if `cabal update` doesn't resolve this, please reset your local cabal application data (it's somewhere in %APPDATA% iirc)

[2018-08-31 19:59] snowleopard commented on #669
Many thanks @alpmestan!

I will check if there are any outdated testsuite related issues and will close them.

There is also this PR #639, which now seems abandoned. Feel free to close it.

[2018-09-01 02:02] snowleopard commented on #667
@hvr Somehow I managed to make it work, thank you for your pointers! I will add `build.cabal.bat` too.

[2018-09-01 06:06] Mistuke commented on #667
btw, in case it helps, this is a 1-1 convertion of the sh file

[code]

[2018-09-01 13:07] snowleopard commented on #667
Thanks @Mistuke! I've added it, albeit with some tweaks: https://github.com/snowleopard/hadrian/pull/668/commits/710e84d00c38234a504b06ba597c19c9f8841978. Had to drop quotes around argument lists `CABFLAGS` and `%*`, plus fixed Cabal version check.

[2018-09-01 13:38] Mistuke commented on #647
The github mirror is an artifact of the mirroring on haskell.org. Because submodule for the project are all relative to the origin all submodules have to be mirrored on haskell.org.  The primary repo for Hadrian is thus https://git.haskell.org/hadrian.git but we mirror everything to github. The organization it ends up being mirrored in depends on where the canonical source is. If the source is has

[2018-09-01 16:56] snowleopard commented on #647
@Mistuke I see, thank you for explaining this. My understanding is that the plan is to soon merge Hadrian into the GHC tree and keep this repository only for documentation/history purposes.

[2018-09-01 18:51] snowleopard commented on #667
Closed by #668.

[2018-09-01 18:51] #667 closed

[2018-09-01 20:04] alpmestan commented on #647
Yes, we will try to merge hadrian in the main GHC repo soon.

[2018-09-01 23:14] snowleopard commented on #494
This seems to be superseded by #669.

[2018-09-01 23:14] #494 closed

[2018-09-01 23:16] snowleopard commented on #490
I couldn't reproduce this, so closing. My impression is that was a git issue, not Hadrian -- please reopen if I'm wrong.

[2018-09-01 23:16] #490 closed

[2018-09-01 23:26] snowleopard commented on #416
This seems to be a duplicate of #655.

[2018-09-01 23:26] #416 closed

[2018-09-01 23:27] snowleopard commented on #373
We no longer have the `install` rule, so closing.

[2018-09-01 23:27] #373 closed

[2018-09-01 23:28] snowleopard commented on #358
We no longer have the `--haddock` flag, so Haddock can always be built. I think this can be closed.

[2018-09-01 23:28] #358 closed

[2018-09-01 23:30] snowleopard commented on #345
We no longer have `install` rule, so I guess this issue can be closed.

[2018-09-01 23:30] #345 closed

[2018-09-01 23:33] snowleopard commented on #219
We now have `Rules.Bindist`, so I think we can close this issue and open more specific ones if needed.

[2018-09-01 23:33] #219 closed

[2018-09-01 23:34] snowleopard commented on #187
This issue has been superseded by #669.

[2018-09-01 23:34] #187 closed

[2018-09-02 01:21] snowleopard opened #671 "Reduce the number of times a Cabal file is parsed"
When I do zero build with Hadrian in verbose mode, I see the following:
[code]

Many Cabal files are parsed multiple times:
* We have `CabalData` and `PackageData` -- do we need both?
* We parse files for all used combinations of Stage and Way.

For example, `rts.cabal` ends up being parsed 13 times! No wonder zero build now takes around 30s.

Can we parse a Cabal file only once?

[2018-09-02 12:38] snowleopard commented on #671
@alpmestan It's not the fault of oracles: they are given different queries -- different contexts (with varying stage and way for the very same package).

Yes, I agree. I'll see if I can optimise this by switching to having a `Package` as a key to these oracles instead of a `Context`. This should be possible.

[2018-09-02 12:41] alpmestan commented on #671
Yes, that does sound a whooole lot better. Let me know how much of an improvement this is :-)

[2018-09-03 01:14] alpmestan commented on #641
Our workaround made it to master: https://github.com/ghc/ghc/commit/ed789516e201e4fad771e5588da47a62e53b42b8

Should we close this, since there's #15570 (on trac) for the underlying problem?

[2018-09-03 01:20] #641 closed, assigned to alpmestan

[2018-09-03 14:50] alpmestan commented on #669
- `hsc2hs` expected under `_build/stage1/bin/hsc2hs` but not `need`ed by the test rules. Fixed by https://github.com/snowleopard/hadrian/pull/672.

With my hsc2hs PR, if I only run the failing tests from the first comment, I get:

<details>
<summary>Test results</summary>

[code]

</details>

So, 500 unexpected failures are gone with the PR.

Now, as a note for future me, I've noticed that `check-

[2018-09-04 11:07] alpmestan commented on #669
https://phabricator.haskell.org/D5127 should fix all the `ghc-api-annotations` failures. We do set the `CHECK_API_ANNOTATIONS` environment variable but it is not picked up. `testsuite/mk/boilerplate.mk`, which is included by many (most? all?) test makefiles, didn't give us a chance to specify anything.

[2018-09-04 16:46] alpmestan commented on #669
With the aforementionned patch, I'm down to 184 unexpected failures

<details>
<summary>Test results</summary>

[code]

</details>

[2018-09-04 17:38] snowleopard opened #673 "Improve documentation of predicates"
We should provide a comprehensive description of all available *predicates* such as `input "//Prelude.*"` in
https://github.com/snowleopard/hadrian/blob/master/doc/user-settings.md.

[2018-09-04 20:42] alpmestan commented on #669
My differential has been merged: https://github.com/ghc/ghc/commit/2254912036597cee3f1c2544320a35d1115c1e6e

Meanwhile, I looked at [#15570](https://ghc.haskell.org/trac/ghc/ticket/15570) and [#15286](https://ghc.haskell.org/trac/ghc/ticket/15286) and it turns out removing those `-O0` apparently makes more tests pass! In particular, all the stats failures but one are gone (makes sense), along with

[2018-09-04 23:27] snowleopard commented on #669
Great work, @alpmestan!

I'll try to figure out why `ghci` prints different results and report back if I find anything.

[2018-09-04 23:41] alpmestan commented on #669
OK; make sure you use `--flavour=perf` with the `test` target.

[2018-09-05 10:46] snowleopard commented on #671
@alpmestan I've started working on this, but hit a few non-obvious questions -- sometimes we do seem to need the information about the current stage (e.g. to pass the right compiler to Cabal `configure`) and way (to figure out the right configuration flags). My code is in a big mess at the moment, but there is nothing too valuable that can't be thrown away. I won't have much time to work on this i

[2018-09-05 11:11] alpmestan commented on #671
Well, we also have to keep in mind that we have two ways to represent parsed .cabal files. One is just a straight Haskell representation of the content, and the other "instantiates" all the variable things (conditionals about OS, ghc, etc, but also cabal flags) in a given context (OS, compiler, choice of flags, ...).

[2018-09-05 11:16] snowleopard commented on #671
Yes! I'm also tempted to get rid of this duplication. My current plan is:
* Parse Cabal files only once per package, producing cached `GeneralPackageDescription`.
* Resolve `GeneralPackageDescription` once per context, producing cached `ContextData`.
Does this sound reasonable?

[2018-09-05 11:41] snowleopard commented on #671
I actually think I have a pretty good idea what's going on (the amount of diagnostic information is sufficient for me), but sure, it would be nice to improve on this aspect!

[2018-09-06 13:34] alpmestan commented on #669
https://github.com/snowleopard/hadrian/pull/677 makes all the ghc-compact tests pass.

[2018-09-06 13:57] snowleopard commented on #614
There are also a couple of relevant comments here: https://phabricator.haskell.org/D4846

[2018-09-06 14:48] snowleopard commented on #614
@alpmestan assigning you to this issue following #678.

[2018-09-06 21:31] alpmestan commented on #666
Hmm. Isn't there an implementation of this somewhere, that we could just use or steal?

[2018-09-06 21:42] alpmestan commented on #595
Just to be clear: every ghc needs this program around, so we do want to build it just once, but we quite liky want to copy that executable to the suitable place for later-stage GHCs. So the rule for unlit would be something like "if stage is 0, build unlit and put the executable where it's expected, otherwise just copy stage 0's unlit to where the executable is expected", correct?

[2018-09-06 22:51] snowleopard commented on #666
@alpmestan Presumable `</>` does the right thing and we used to have `a -/- b = unifyPath (a </> b)` but that was very slow due to `unifyPath`, which we need, as otherwise Windows paths are a mess of slashes looking in random directions. We should clearly be able to do better, but noone has yet come up with a good plan.

[2018-09-06 22:52] snowleopard commented on #595
@alpmestan Yes! And the same for `touchy`.

[2018-09-07 17:37] alpmestan commented on #614
Got a patch at https://phabricator.haskell.org/D5138 + some CI tweaks in #678 to test the said patch.

[2018-09-07 18:37] ndmitchell commented on #614
This doesn't work for people who check out GHC and and build it...

[2018-09-07 18:40] snowleopard commented on #614
Indeed, let's keep this open until @alpmestan's fix is in the GHC HEAD.

[2018-09-10 08:22] alpmestan opened #681 "Build more variants of profiled runtime systems (normal, threaded, debug, threaded debug, ...) ?"
I just saw https://phabricator.haskell.org/D5140 by @osa1 and I suspect we might have to do a similar thing in hadrian. Unless we're already doing this, @snowleopard @angerman ?

[2018-09-10 10:46] snowleopard commented on #681
@alpmestan I don't think we do this. Here are the ways we currently build RTS by default:

https://github.com/snowleopard/hadrian/blob/master/src/Settings/Default.hs#L154-L164

[2018-09-10 11:03] alpmestan commented on #681
Hmm, shouldn't we include the `profiling` way in that `[threadedProfiling]` list?

Now, for the issue at hand, we'll also want to add `debugProfiling` and `threadedDebugProfiling` I suppose?

[2018-09-10 11:08] snowleopard commented on #681
@alpmestan Yes, I think so. Bear in mind that this list was initially shrunk to "whatever Hadrian can compile now", so it could easily mismatch the one from Make.

Perhaps, we should rename this issue to bringing Hadrian in sync with Make w.r.t. RTS ways.

[2018-09-10 11:17] alpmestan commented on #681
Yes. Do you see any other change we should make besides the one I suggested in my previous comment?

[2018-09-10 11:32] snowleopard commented on #681
No, I don't see any other change. I'm surprised we don't have `profiling` included into RTS ways now.

[2018-09-10 15:44] alpmestan commented on #681
#682 was about the hadrian side of things. Here is the GHC patch that goes with it, necessary to actually produce the new ways (_debug_p, _thr_debug_p): https://phabricator.haskell.org/D5142

[2018-09-10 16:00] snowleopard commented on #681
@alpmestan Thank you! Please close this once your patch makes its way to GHC HEAD.

[2018-09-10 18:39] ndmitchell opened #683 "Consider using Azure for CI"
https://azure.microsoft.com/en-us/blog/announcing-azure-pipelines-with-unlimited-ci-cd-minutes-for-open-source/ - a six hour limit on fast VMs for free could be very useful

[2018-09-10 18:40] snowleopard commented on #683
@ndmitchell Wow, sounds too goo to be true, but we should definitely give it a try!

[2018-09-11 15:54] alpmestan commented on #669
With https://github.com/snowleopard/hadrian/pull/684, I get:

[code]

This is looking better and better.

[2018-09-11 16:07] snowleopard commented on #669
@alpmestan Awesome!

What about `17532 were skipped` -- is this normal?

[2018-09-11 16:11] alpmestan commented on #669
See my comment above:

You can see that the normal validate script skips many tests too. Many tests are restricted to be executed only on some arch, some os, some way, some <something> that'll cause it to be skipped in many situations. We're still missing some tests and probably skipping too many of them, but we're somewhat close to what the make build system does, aren't we?

[2018-09-11 16:12] simonmar commented on #669
Hi @alpmestan, this might not be the right place but I wanted to ask about workflows for the testsuite. Very often I do something like

[code]

to run a single test with some custom options. This is really convenient (and fast). Will we have something equally convenient with Hadrian, and will it be just as fast?

[2018-09-11 16:26] simonmar commented on #669
In that case can I request that support for this be added? It's really important when developing to be able to work on a single test, or a single directory of tests, and to be able to customize options, compilers and cleanup behaviour. I think we'll need this before we can drop the old build system.

[2018-09-11 16:36] alpmestan opened #685 "testsuite: support figuring out the list of tests from $PWD"
@simonmar requested this in https://github.com/snowleopard/hadrian/issues/669#issuecomment-420329845

[2018-09-11 16:38] alpmestan opened #686 "testsuite: add CLI flag for specifying extra options to pass to ghc"
So that these would apply to whatever tests we will be running. Requested by @simonmar in https://github.com/snowleopard/hadrian/issues/669#issuecomment-420329845

In the make build system, all one has to do is to use `EXTRA_HC_OPTS`, as can be seen in Simon's comment.

[2018-09-11 16:39] alpmestan commented on #669
@simonmar I opened #685 and #686 to remember about this and track the progress. Feel free to subscribe to those if you want to get a notification when this gets implemented. Or to even leave comments if you have anything to add to those issues.

[2018-09-12 14:15] alpmestan commented on #681
[Merged](https://phabricator.haskell.org/rGHC5d67d069608f04b4c5eeee73b44bf27562adc5a3).

[2018-09-12 14:15] #681 closed

[2018-09-12 15:27] alpmestan commented on #669
The PR at https://github.com/snowleopard/hadrian/pull/687 fixes another batch of failures, in addition to solving a rather important problem. With this patch I get:

[code]

Remaining failures:

[code]

[2018-09-12 21:06] alpmestan commented on #669
Aaaaand we're down to 46 unexpected failures with https://github.com/snowleopard/hadrian/pull/688:

[code]

[2018-09-13 08:29] alpmestan commented on #669
https://github.com/snowleopard/hadrian/pull/689 and https://phabricator.haskell.org/D5146 solve some more. Down to 42 unexpected failures.

[code]

I can already smell the wonderful perfume of a completely green `hadrian tesŧ` running in our future CI jobs in the main GHC repo. :nose: :+1: